
<div>
    <app-party-details-maintenance-header [partInfoDetails]="partInfoDetails" ></app-party-details-maintenance-header>
</div>
    <div class="custom-fake-tab custom-fake-tab-sticky calc-height">
        <button (click)="selectedTab=1 " matRipple class="tab" [ngClass]="{'active-tab':selectedTab==1}">Party Info.</button>
        <button (click)="selectedTab=2" matRipple class="tab" [ngClass]="{'active-tab':selectedTab==2}">Transactions</button>
        <button (click)="selectedTab=3" matRipple *ngIf="showTabs?.is_maintenance" class="tab" [ngClass]="{'active-tab':selectedTab==3}">Maintenance Summary</button>
        <button (click)="selectedTab=4" matRipple *ngIf="showTabs?.is_fuel" class="tab" [ngClass]="{'active-tab':selectedTab==4}">Fuel Summary</button>
        <button (click)="selectedTab=5" matRipple  *ngIf="showTabs?.is_trip" class="tab" [ngClass]="{'active-tab':selectedTab==5}">Job Summary</button>


    </div>
    <div class=" shadow-inset-top tab-content ">
        <app-party-details-maintenance-party-info [partInfoDetails]="partInfoDetails" [partyId]="partyId" *ngIf="selectedTab==1"></app-party-details-maintenance-party-info>
        <app-party-details-maintenance-party-transactions [partyId]="partyId" *ngIf="selectedTab==2"></app-party-details-maintenance-party-transactions>
        <app-party-details-maintenance-party-trip-summary [partyId]="partyId" *ngIf="selectedTab==3"></app-party-details-maintenance-party-trip-summary>
        <app-party-details-fuel-provider-summary [partyId]="partyId" *ngIf="selectedTab==4"></app-party-details-fuel-provider-summary>
        <app-party-vehicle-provider-trip-summary [partyId]="partyId" *ngIf="selectedTab==5"></app-party-vehicle-provider-trip-summary>

    </div>