<div >
  <div class="d-flex justify-content-between pe-4 ps-2 align-items-center">
    <div>
      <div class="alert alert-success mb-0 updated-alert" role="alert" *ngIf="isUpdated">
        Container info table updated !
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center py-2">
      <div class=" ms-3">
        <!-- <button  class="gb-edit-btn-secondary export-button" >Export</button> -->
    </div>
    <ng-container>
      <div class="ms-2" >
        <button class="gb-icon-btn settings-icon" matRipple [ngClass]="{'mat-icon-animation':isOpenSettings }">
        <span (click)="isOpenSettings=!isOpenSettings" class="material-icons">settings</span>
      </button>
      </div>
      <app-list-widget-list-view-settings [settingsUrl]="settingsUrl" [visible]="isOpenSettings"
      (listViewSettingsData)="listViewSettingsData($event)"></app-list-widget-list-view-settings>
    </ng-container>
  
    <!-- <button class="gb-icon-btn " [matMenuTriggerFor]="addJobMenu" matRipple>
      <span class="material-icons">more_vert</span>
    </button> -->
  
  
  
  
    </div>
  
  </div>
  <div class="alert alert-danger mx-2 mb-2" role="alert" *ngIf="apiError">
    {{apiError}}
  </div>
  <div class="bordered-table-wrap mx-2 mb-2 ">
  <div class="bordered-table " [formGroup]="containerForm" cdkScrollable>
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headerList;let i=index" [ngClass]="{'sticky-left':i==0,'sticky-right':i==headerList?.length-1}">{{header}}</th>
        </tr>
      </thead>
      <tbody *ngIf="containerForm.controls.containersDetailsList['controls'].length==0">
        <tr class="border-0">
          <td colspan="30" class="bg-white border-bottom-0">
            <div class="no-list-data-wrap">
              <figure>
                <img src="assets/img/no-content.png" alt="" />
              </figure>
              <h5 class="mt-3 primary-brand-text">No data found!</h5>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody formArrayName="containersDetailsList">
        <tr *ngFor="let group of containerForm.controls.containersDetailsList['controls']; let i = index" [formGroupName]="i">
          <ng-container *ngFor="let item of structureList;let j=index">
            <td [ngClass]="{'sticky-left':j==0,'sticky-right':j==structureList?.length-1}" >
              <ng-container *ngIf="item?.field_type === 'string'" > 
                <div [tabindex]="isContainerRowEditable[i]?0:1">
                  <div [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                    <input *ngIf="item?.id != 'status'"  appRemoveSpaces  [readOnly]="!item?.is_editable || tripstatus==4" (change)="editContainerRowData(i)" [formControlName]="item.id" type="text" placeholder="Enter" />
                  </div>
                </div> 
                 <ng-container *ngIf="item?.id == 'status'">
                  <div class="d-flex justify-content-between align-items-center" [ngClass]="{'disable':tripstatus==4}">
                    <p *ngIf="item?.id == 'status'"  >{{group.controls.status.value}}  </p>
                     <ng-container *ngIf="!isFromSalseOrder">
                      <button class="gb-icon-btn ms-3"  [matMenuTriggerFor]="rowOptions" matRipple (click)="selectedOrder=i">
                        <span class="material-icons">more_vert</span>
                      </button>
                     </ng-container>
                  </div>
                 </ng-container>
              </ng-container >
              <div  [tabindex]="isContainerRowEditable[i]?0:1">
              <ng-container *ngIf="item?.field_type === 'decimal'">
                <ng-container *ngIf="item?.id=='gross_weight'">
                  <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                  <input (change)="editContainerRowData(i)" [readOnly]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" positiveTwoDigitDecimalNumber  [formControlName]="item.id" placeholder="1234"  type="text" />
                  <button  *ngIf="group['controls'][item.id].value" (click)="cloumnClone(item.id,i)" class="clone-column" [matTooltip]="'Clone columns below'"  matTooltipClass="mat-normal-tooltip">
                    <span class="material-icons">content_copy</span>
                  </button>
                </div>
                </ng-container>
                <ng-container  *ngIf="item?.id!='gross_weight'">
                  <input (change)="editContainerRowData(i)" [readOnly]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" 
                  [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}" positiveTwoDigitDecimalNumber [formControlName]="item.id" placeholder="1234"  type="text" />
                </ng-container>
              </ng-container>
              <ng-container *ngIf="item?.field_type === 'location_dropdown'">
                <div style="min-width: 300px;" class="app-location position-relative" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                 <material-dropdown [searchable]="true" [addable]="true"
                 [postApiUrl]="areaApi"
                 [params]="areaParams"
                 (postApiResponse)="getNewArea($event,group['controls'][item.id],group,i)"
                 (addValueToList)="addNewArea($event,i)"
                   [selectedOption]="{label:group['controls'][item.id].value,value:''}">
                   <select #customSelect [formControlName]="item.id" class="no-style select--modify" (change)="editContainerRowData(i)">
                     <option *ngFor="let option of areaList" value="{{ option?.label }}">
                       {{ option?.label }}
                     </option>
                   </select>
                 </material-dropdown>
                </div>
              </ng-container>
              <ng-container *ngIf="item?.field_type === 'datetime'">
                <div class="date-time-input-wrap" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                <app-date-and-time-picker [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" (dateTimeSelected)="dateTimeSelected($event,i)" [control]="group['controls'][item.id]"></app-date-and-time-picker>
              </div>
              </ng-container>
              <ng-container *ngIf="item?.field_type === 'date'">
                <div class="date-input" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]"
                    [formControlName]="item.id" placeholder="DD/MM/YYYY" (focus)="date.open()" readonly (dateChange)="editContainerRowData(i)">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
              </ng-container>
              <ng-container *ngIf="item?.field_type === 'terminal_dropdown'">
                <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                  <material-dropdown [searchable]="true" [addable]="true"
                  [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]"
                  [postApiUrl]="optionsDropdownUrl" [params]="pointOfTypeParam" class="dropDownWidth"
                    [selectedOption]="{label:group['controls'][item.id].value,value:''}" (postApiResponse)="getNewTerminal($event,i,item.id)" (addValueToList)="addNewTerminal($event)">
                    <select #customSelect [formControlName]="item.id" class="no-style select--modify"
                      (change)="editContainerRowData(i)">
                      <option *ngFor="let option of terminalDropDown" value="{{ option.label }}">
                        {{ option?.label }}
                      </option>
                    </select>
                  </material-dropdown>
                </div>
              </ng-container>
              <ng-container *ngIf="item?.field_type === 'container_type_dropdown'">
                <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}" >
                <material-dropdown [searchable]="true"  [addable]="false" class="dropDownWidth" [selectedOption]="initialValues.containerType[i]"
                [addable]="true"
                [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]"
                [postApiUrl]="optionsDropdownUrl"
                [params]="containerTypeParam"
                (postApiResponse)="getNewContainerType($event,i)"
                (addValueToList)="addNewContainerType($event)" >
                <select #customSelect [formControlName]="item.id" class="no-style select--modify" (change)="editContainerRowData(i)">
                  <option *ngFor="let option of containerTypeList" value="{{ option.id }}">
                    {{ option?.label }}
                  </option>
                </select>
              </material-dropdown>
              <button  *ngIf="group['controls'][item.id].value" (click)="cloumnClone(item.id,i)" [matTooltip]="'Clone columns below'"  matTooltipClass="mat-normal-tooltip" class="clone-column">
                <span class="material-icons">content_copy</span>
              </button>
             
            </div>
              </ng-container>
  
              <ng-container *ngIf="item?.field_type === 'container_dropdown'">
                <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
  
                <material-dropdown [searchable]="true" [addBlank]="true" 
                [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" [addable]="false" class="dropDownWidth" [selectedOption]="initialValues.containerName[i]">
                <select #customSelect [formControlName]="item.id" class="no-style select--modify" (change)="onContainerNameSelection(i)">
                  <option *ngFor="let option of containerList" value="{{ option.id }}">
                    {{ option?.name }}
                  </option>
                </select>
              </material-dropdown>
              <button  *ngIf="group['controls'][item.id].value" [matTooltip]="'Clone columns below'"  matTooltipClass="mat-normal-tooltip" (click)="cloumnClone(item.id,i)" class="clone-column">
                <span class="material-icons">content_copy</span>
              </button>
            </div>
              </ng-container>
  
              <ng-container *ngIf="item?.field_type === 'handling_type_dropdown'">
                <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i] || isContainerFromSalseOrder[i]}">
                  <material-dropdown [searchable]="true" 
                  [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i] || isContainerFromSalseOrder[i]"  class="dropDownWidth" [selectedOption]="initialValues.handlingType[i]">
                    <select #customSelect [formControlName]="item.id" class="no-style select--modify" (change)="editContainerRowData(i)">
                      <option *ngFor="let option of containerJobType" value="{{ option.id }}">
                        {{ option?.label }}
                      </option>
                    </select>
                  </material-dropdown>
                  <button  *ngIf="group['controls'][item.id].value" (click)="cloumnClone(item.id,i)" class="clone-column" [matTooltip]="'Clone columns below'"  matTooltipClass="mat-normal-tooltip">
                    <span class="material-icons">content_copy</span>
                  </button>
                </div>
              </ng-container> 
              <ng-container *ngIf="item?.field_type === 'container_size_dropdown'">
                <div class="d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                  <material-dropdown [searchable]="true" class="dropDownWidth" [selectedOption]="initialValues.containerSize[i]"
                  [addable]="true"
                  [disabled]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]"
                  [postApiUrl]="optionsDropdownUrl"
                  [params]="containerSizeParam"
                  (postApiResponse)="getNewContainerSize($event,i)"
                  (addValueToList)="addNewContainerSize($event)">
                    <select #customSelect [formControlName]="item.id" class="no-style select--modify" (change)="editContainerRowData(i)">
                      <option *ngFor="let option of sizeOptions" value="{{ option.label}}">
                        {{ option?.label }}
                      </option>
                    </select>
                  </material-dropdown>

  
                  <button   *ngIf="group['controls'][item.id].value" (click)="cloumnClone(item.id,i)" class="clone-column" [matTooltip]="'Clone columns below'"  matTooltipClass="mat-normal-tooltip">
                    <span class="material-icons">content_copy</span>
                  </button>
                  
                </div>
                
              </ng-container> 
              <ng-container *ngIf="item.field_type === 'duration'" formGroupName="{{item.id}}" >
                <div class="halt-time-wrap d-flex align-items-center" [ngClass]="{'disable':!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]}">
                <div class="time-input-field">
                  <input formControlName="days" positiveDigitNumber type="text" [readOnly]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]"  placeholder="Days" (change)="editContainerRowData(i)"/>
                  <span class="time-input-label">Days</span>
                </div>
                <span class="mx-1 fw-semibold">:</span>
                <div class="time-input-field">
                  <input formControlName="hours" positiveDigitNumber  [readOnly]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" [max]="23" placeholder="Hours" type="text" (change)="editContainerRowData(i)" />
                  <span class="time-input-label">Hours</span>
                </div>
                <span class="mx-1 fw-semibold">:</span>
                <div class="time-input-field">
                  <input formControlName="minutes"  positiveDigitNumber [readOnly]="!item?.is_editable || tripstatus==4 || !isContainerRowEditable[i]" [max]="59"  placeholder="Minutes" type="text" (change)="editContainerRowData(i)" />
                  <span class="time-input-label">Minutes</span>
                </div>
              </div>
                
              </ng-container>
            </div>
            </td>
          </ng-container>
      </tr>  
      </tbody>
  
      
    </table>
  </div>
  </div>
</div>


  
  
  <mat-menu #addJobMenu="matMenu">
    <button mat-menu-item>
      <mat-icon class=" me-2 def-color">add</mat-icon>
      <span class="def-color">Add Pullout Job</span>
    </button>
    <button mat-menu-item >
      <mat-icon class=" me-2 def-color">add</mat-icon>
      <span class="def-color">Add Deposit Job</span>
    </button>
    <button mat-menu-item>
      <mat-icon class=" me-2 def-color">add</mat-icon>
      <span class="def-color">Add Single Job</span>
    </button>
  </mat-menu>
  
  <mat-menu #rowOptions="matMenu">
    <button mat-menu-item (click)="deleteContainer()"  *ngIf="containerForm.controls.containersDetailsList['controls'].length!=1 && isContainerRowEditable[this.selectedOrder]">
      <mat-icon class=" me-2 def-color">delete</mat-icon>
      <span class="def-color">Delete</span>
    </button>
    <button mat-menu-item (click)="cloneRowContainerData()" *ngIf="isContainerRowEditable[this.selectedOrder]"> 
      <mat-icon class=" me-2 def-color">content_copy</mat-icon>
      <span class="def-color">Clone</span>
    </button>
    <button mat-menu-item (click)="removeContainerRowData()"*ngIf="isContainerRowEditable[this.selectedOrder]">
      <mat-icon class=" me-2 def-color">close</mat-icon>
      <span class="def-color">Reset</span>
    </button>
    <button mat-menu-item (click)="addNewContainerRow()">
      <mat-icon class=" me-2 def-color">add</mat-icon>
      <span class="def-color">Add</span>
    </button>
  </mat-menu>
  