@import "../../../../../../../assets/styles/helpers/variable";
.settings-icon {
    .material-icons {
        transform-origin: center center;
        transition: all 500ms ease;

    }
}

.mat-icon-animation {
    .material-icons {
        color: $primary-brand-color !important;
        transform: rotate(90deg);
    }
}

.export-button {
   
        position: relative;

        &::before {
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            position: absolute;
            left: 15px;


            background-image: url("../../../../../../../assets/img/icons/file-export.png");
            background-size: cover;
        }
   

}
.bordered-table{
    max-height: calc(100vh - 175px);
    min-height: 350px;
}
.date-input{
    min-width: 160px;
}
.halt-time-wrap {
    display: flex;
    justify-content: space-between;
    .time-input-field {
      position: relative;
      .time-input-label {
        position: absolute;
        top: 0%;
        left: 7px;
        z-index: 1;
        font-size: 10px;
        font-weight: 600;
        transform: translateY(-50%);
        background-color: $layout-bg;
  
        padding: 0 3px;
        opacity: 1;
        transition: all 300ms ease;
        color: #676A6E;
  
      }
    }

  
  
  
    div {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    input {
        border: 1px solid #ACB5BD ;
        border-radius: 3px;
        &:focus{
            border:1.5px solid #595fab;
    
        }
  
      &::placeholder {
        text-align: center;
      }
  
      &:focus+.time-input-label {
        opacity: 1 !important;
  
      }
      &:placeholder-shown+.time-input-label {
        opacity: 0;
      }
  
  
  
      &:focus::-webkit-input-placeholder {
        opacity: 0;
      }
    }
  
  
  }
  .bordered-table-wrap .bordered-table table td {
    padding: 7px 8px;
}
 :host ::ng-deep{
    
    .app-location{
        .input-wrap{
            margin-bottom: 0px;
            margin-top: 0px;
            
        }
        input{
            border: 1.5px solid #ACB5BD !important;
            border-radius: 3px !important;
            &:focus{
                border:1.5px solid #595fab !important;

            }
            &:hover{
                background-color: unset !important;

            }
        }
        .coordinates-wrap{
            top: -6px;
            background: $layout-bg;
            z-index: 2;
            left: 12px;
            width: auto;
            padding: 0px 4px;
            right: unset;

        }
        .info-icon {
            position: absolute;
            top: 8px;
            right: 4px;
        }
        
    
    }
    .date-time-input-wrap{
        .input-wrap{
            margin-bottom: 0px;
            min-width: 180px
        }
        p{
            padding-bottom: 0px !important;
            padding-top: 10px !important;

        }
        input{
            border: 0px !important;
            width: 0px !important;
            height: 0px !important;
            padding: 0px !important;
        }
        .border-bottom-custom{
            border-bottom:  0px !important;
        }

        
    
    }
    
}
.clone-column{
    background-color: #4CACFE;
    border-radius: 6px;
    padding: 5px;
    margin-left: 12px;
    transition: all 200ms ease-in-out;
    .material-icons{
        color: #fff;
    font-size: 15px;
    }

    &:active{
        transform: scale(0.95);
    }
   
}
.updated-alert{
    padding: 10px;
}
