<div *ngIf="statusType=='driver'" class="status-bar-component">

  <div class=" px-5" *ngIf="statusDetails.length">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let destination of statusDetails;let i = index">
        <ng-template carouselSlide [width]="230">
          <div class="status-bar-item">
            <div class="item-content" [ngClass]="{'active':destination.width>0}">
              <div class="step" [ngClass]="{'vehicle-reached-idle':destination.isCurrentRouteIdle}">
                <p *ngIf="!destination.isCurrentRouteIdle">{{i==0?'S':i}}</p>
                <i class="bi bi-truck truck-icon"
                  [ngStyle]="{'display':destination.isCurrentRouteIdle?'block':'none'}"></i>
              </div>
              <div class="bar" [ngStyle]="{'display':i!=statusDetails.length-1?'block':'none'}">
                <div class="percentage" [ngStyle]="{'width':destination.width+'%'}">
                  <i class="bi bi-truck truck-tooltip"
                    [ngStyle]="{'display':destination.width==100 ||destination.width==0 ?'none':'block'}"></i>
                </div>
              </div>
            </div>
            <div class="item-detail" *ngIf="destination?.scheduled">
              <p>Scheduled</p>
              <p>{{destination?.scheduled}}</p>
            </div>
            <div class="item-detail"  *ngIf="!destination?.scheduled">
              <ng-container *ngIf="destination?.destination_type==0" >
                <p> Destination {{i}}</p>
              </ng-container>
              <ng-container *ngIf="destination?.destination_type==3" >
                <p>Customer Location</p>
              </ng-container>
              <ng-container *ngIf="destination?.destination_type==1|| destination?.destination_type==2" >
                <p > {{destination?.destination_type==1?'Pullout':'Deposit'}} Port</p>
              </ng-container>
              <p class="location">{{destination?.area?.label}}</p>
              <p>{{destination?.point_type?.label}}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<div *ngIf="statusType=='office'">
  <div class="status-bar-component">
    <div class=" px-5" *ngIf="statusDetails.length">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let destination of statusDetails;let i = index">
          <ng-template carouselSlide [width]="230">
            <div class="office-status-bar-item">
              <div class="item-content" [ngClass]="{'office-status-active':destination?.office_status==100}">
                <div class="step" >
                  <p>{{i==0?'S':i}}</p>
                </div>
                <div class="office-bar">
                  <div class="percentage" >
                  </div>
                </div>
              </div>
              <div class="item-detail" *ngIf="destination?.scheduled">
                <p>Scheduled</p>
                <p>{{destination?.scheduled}}</p>
              </div>
              <div class="item-detail"  *ngIf="!destination?.scheduled">
                <ng-container *ngIf="destination?.destination_type==0">
                  <p> Destination {{i}}</p>
                </ng-container>
                <ng-container *ngIf="destination?.destination_type==1|| destination?.destination_type==2">
                  <p > {{destination?.destination_type==1?'Pullout':'Deposit'}} Port</p>
                </ng-container>
                <ng-container *ngIf="destination?.destination_type==3">
                  <p>Customer Location</p>
                </ng-container>
                <p class="location">{{destination?.area?.label}}</p>
                <p>{{destination?.point_type?.label}}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div *ngIf="statusType=='workorder'">
  <div class="status-bar-component">
    <div class=" px-5" *ngIf="statusDetails.length">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let destination of statusDetails;let i = index">
          <ng-template carouselSlide [width]="230" >
            <div class="office-status-bar-item" >
              <div class="item-content" [ngClass]="{'office-status-active':true}">
                <div class="step" >
                  <p>{{i+1}}</p>
                </div>
                <div class="office-bar">
                  <div class="percentage" >
                  </div>
                </div>
              </div>
              <div class="item-detail">
                <ng-container *ngIf="destination?.destination_type==0" >
                  <p > Destination {{i+1}}</p>
                </ng-container>
                <ng-container *ngIf="destination?.destination_type==1|| destination?.destination_type==2" >
                  <p > {{destination?.destination_type==1?'Pullout':'Deposit'}} Port</p>
                </ng-container>
                <ng-container *ngIf="destination?.destination_type==3" >
                  <p >Customer Location</p>
                </ng-container>
                <p class="location">{{destination?.area?.label}}</p>
                <p>{{destination?.point_type?.label}}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>


<div *ngIf="statusType=='bdp-add-trip'" >
  <div class="status-bar-component">
    <div class=" px-5" *ngIf="statusDetails.length">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let destination of statusDetails;let i = index">
          <ng-template carouselSlide [width]="230">
            <div class="office-status-bar-item">
              <div class="item-content office-status-active">
                <div class="step" >
                  <p>{{i+1}}</p>
                </div>
                <div class="office-bar">
                  <div class="percentage" >
                  </div>
                </div>
              </div>
              <div class="item-detail">
                <p>Destination {{i+1}}</p>
                <p class="location">{{destination?.area?.label}}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div *ngIf="statusType=='bdp-status'">
  <div class="status-bar-component">
    <div class=" px-5" *ngIf="statusDetails.length">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let destination of statusDetails;let i = index">
          <ng-template carouselSlide [width]="230">
            <div class="bdp-status-bar-item">
              <div class="item-content" [ngClass]="{'bdp-status-active':destination?.office_status==100}">
                <div class="step" >
                  <p>{{i==0?'S':i}}</p>
                </div>
                <div class="bdp-bar">
                  <div class="percentage" >
                  </div>
                </div>
              </div>
              <div class="item-detail" *ngIf="i==0">
                <p>{{destination?.name}}</p>
                <p>{{destination?.date}}</p>
              </div>
              <div class="item-detail"  *ngIf="i!=0">
                <p class="location">{{destination?.name}}</p>
                <p>{{destination?.date}}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

