@import "../../../../../../assets/styles/helpers/variable";


.status-bar-wrap {
    display: flex;

}



.status-bar-item,
.bdp-status-bar-item,
.office-status-bar-item {
    width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;


}

.item-content {
    position: relative;

}

.item-detail {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 14px;

    p {
        color: $text-color;
        margin-bottom: 8px;
        font-size: 13px;
    }

    p:last-child {
        margin-bottom: 0px;
    }

    .location {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }
}

.remove-last .status-bar-item:last-child .bar {
    display: none;


}

.remove-last .status-bar-item:last-child {
    width: auto;
}

.truck-icon {
    display: none;
    color: #FFB900;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ACB5BD;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: white;

}

.bar,
.bdp-bar ,
.office-bar {
    width: 205px;
    height: 5px;
    background-color: #ACB5BD;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(28px);
}

.percentage {
    width: 0px;
    height: 5px;
    background-color: #FFB900;
    position: relative;
}

.truck-tooltip {
    font-size: 20px;
    font-weight: bold;
    color: #FFB900;
    position: absolute;
    right: 0px;
    top: -18px;

}

.truck-tooltip {
    display: none;
}

.active .step {
    background-color: #FFB900;
    color: white;
    border: none;
    animation-name: change-step-color;
    animation-duration: 0ms;



}

.active .percentage {
    animation-name: change-bar-color;
    animation-duration: 0ms;

}

@keyframes change-bar-color {
    0% {
        background-color: transparent;

    }

    100% {
        background-color: #FFB900;

    }

}

@keyframes change-step-color {
    0% {
        background-color: white;
        color: black;
        border: 2px sodid #ACB5BD;
    }

    100% {
        background-color: #FFB900;
        color: white;
        border: #FFB900;
    }

}

.active .percentage {
    width: 100%;
}

.active .truck-tooltip {
    display: block;
}


:host ::ng-deep {
    .status-bar-component owl-carousel-o {
        

        .owl-nav [class*=owl-] {

            background: #4CACFE;

            width: 25px;
            height: 25px;
            border-radius: 50% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            font-weight: 900;
            -webkit-text-stroke: 3px;



        }

        .owl-nav .disabled {
            background-color: $gray-500 !important;
            cursor: not-allowed;


        }

        .owl-next {
            position: absolute;
            top: 15px;
            right: -50px;
        }

        .owl-prev {
            position: absolute;
            top: 15px;
            left: -50px;
        }
    }

}

.vehicle-reached-idle {
    border: 2px solid #FFB900;
}

.office-status-idle {
    border: 2px solid #2BB741;
    background-color: #2BB741;
}

.office-bar {
    transform: translateY(-50%) translateX(-98%);
}

.bdp-bar {
    transform: translateY(-50%) translateX(-98%);
}

.office-status-bar-item :last-child .bdp-bar {
    display: none;

}
.bdp-status-bar-item :last-child .office-bar {
    display: none;

}

.office-status-active .step {
    background-color: #2BB741;
    color: white;
    border: none;
}

.office-status-active .percentage {
    width: 100%;
    background-color: #2BB741;

}

.bdp-status-active .step {
    background-color: #595FAB;
    color: white;
    border: none;
}

.bdp-status-active .percentage {
    width: 100%;
    background-color: #595FAB;

}