.border-bottom
{
  border-bottom: 1px solid #ccc;
}
::ng-deep{

  mat-select{

  }
}
.viewActive{
  border-left: 2px solid #595fab;
  background-color: rgba(13,114,229,0.05) !important;
  color: #595fab !important;
  font-weight: 700;
  border-top: 1px solid transparent;
}

div#table-height{
    @media only screen and (min-width: 993px){
     height: 54vh;
    }
    @media only screen and (min-width: 1700px){
      height: 58vh;
     }
    @media only screen and (min-width: 1900px){
      height: 63vh;
     }
     @media only screen and (min-width: 2000px){
      height: 65vh;
     }
     @media only screen and (min-width: 2300px){
      height: 69vh;
     }
     @media only screen and (min-width: 2500px){
      height: 77vh;
     }
  }

    .invoice-list-view {
      padding: 10px;
      background-color: #f2f4f7;
      height: 61vh !important;
      @media only screen and (min-width: 1900px) {
        height: 69vh;
        }
      overflow: auto;
  }
  :host ::ng-deep.ngx-pagination .current
  {
    background: #595fab !important;
    border-radius: 2px;
  }
  .close-icon{
    position: absolute;
    right: 5px;
    top: 3px;
    color: #000;
   }


  .mobile-show{
    display:none;
  }

  @media (max-width:800px){

    .desktop-show{
      display:none;
  }
  .form-layout.invoice-list{
    display: block;
   }

  .mobile-show{
    display: block;
    background: none!important;
    color: #5a6b7b;
    padding: 5px;
  }
  .search{
    position:relative;
    height:100%;
    margin:0 auto 0 0;
  }
    #demo-2 input[type=search]{



      background-size: 17px;
      padding: 8px 10px;
      max-width: 110px;
      position: absolute;
      top: 0;
      &:focus{
        padding-left:35px
      }

    }
  }
