<div class="container-fluid">

    <div class="  d-flex justify-content-between  px-4 py-3 details align-items-center flex-wrap" *ngIf="!workOrderDetail?.vehicle_category">
        <p ><b>Billing: </b>{{currBillingType}}</p>
        <p ><b>Rate Per {{lablesBilling?.label}}: </b>{{workOrderDetail?.freights[0]?.rate | numberFormat}}  {{ currency_type?.symbol}}</p>
        <p ><b>Total {{lablesBilling?.label2}}: </b> {{workOrderDetail?.freights[0]?.total_units| numberFormat}}</p>
        <p><b>Freight Amount: </b>{{workOrderDetail?.freights[0]?.freight_amount| numberFormat}}  {{ currency_type?.symbol}}</p>
      </div>
      <ng-container *ngIf="workOrderDetail?.vehicle_category==4">
        <div class="  d-flex justify-content-between  px-4 py-3 details align-items-center flex-wrap">
            <ng-container *ngIf="frightDetails?.billing_type=='10'">
                <p ><b>Invoicing Mode: </b>Job-wise</p>
                <p ><b>Container Handling: </b>{{frightDetails?.job_type}}</p>
                <p ><b>Rate Per {{lablesBilling?.label}}: </b>{{frightDetails?.unit_cost}}  {{ currency_type?.symbol}}</p>
                <p ><b>Total {{lablesBilling?.label2}}: </b> {{frightDetails?.total_units}}</p>
                <p><b>Freight Amount: </b>{{frightDetails?.total_amount}}  {{ currency_type?.symbol}}</p>  
            </ng-container>
        </div>
          <ng-container *ngIf="frightDetails?.billing_type=='11'">
            <p class="mt-2 mb-2"><b>Invoicing Mode: </b>Container-wise</p>
            <div class="addable-row-table overflow-visible">
                <table>
                    <thead>
                        <tr>
      
                          <th>Type</th>
                          <th>
                           Regular
                          </th>
                          <th>
                           Couple
                          </th>
                          <th >
                           Boggy
                          </th>
                          <th>
                           Side Loader
                           </th>
                          <th>
                          Low Bed
                          </th>
                        </tr>
      
                    </thead>
                    <tbody>
      
                        <ng-container>
      
      
                        <tr>
                            <td>
                                <div>
                                  Rate Per Movement ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.rate}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.rate}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.rate}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.rate}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.rate}}</td>


                        </tr>
                        <tr>
                            <td>
                                <div>
                                  Estimated Jobs
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.est_jobs}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.est_jobs}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.est_jobs}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.est_jobs}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.est_jobs}}</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                   Estimated Total ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.est_total}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.est_total}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.est_total}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.est_total}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.est_total}}</td>
                        </tr>
                        <tr *ngIf="false">
                            <td colspan="5">
                              <div class="fw-bold">
                                Consideration Amount to analyse each job P/L
                              </div>
                            </td>
                        </tr>
                        <tr *ngIf="false">
                            <td>
                                <div>
                                    Pullout Consideration ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.pullout_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.pullout_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.pullout_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.pullout_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.pullout_consideration}}</td>
                        </tr>
                        <tr *ngIf=" false">
                            <td>
                                <div>
                                    Deposit Consideration ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.deposit_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.deposit_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.deposit_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.deposit_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.deposit_consideration}}</td>
                        </tr>
                        <tr *ngIf="false">
                            <td>
                                <div>
                                    Live Loading Consideration ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.liveLoading_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.liveLoading_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.liveLoading_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.liveLoading_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.liveLoading_consideration}}</td>
                        </tr>
                        <tr *ngIf="false">
                            <td>
                                <div>
                                    Local Consideration Consideration ({{ currency_type?.symbol}})
                                </div>
                            </td>
                            <td  [ngClass]="{'disable':!frightDetails?.estimations?.regular?.is_selected}" >{{frightDetails?.estimations?.regular?.local_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.couple?.is_selected}" >{{frightDetails?.estimations?.couple?.local_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.boggy?.is_selected}" >{{frightDetails?.estimations?.boggy?.local_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.sideLoader?.is_selected}" >{{frightDetails?.estimations?.sideLoader?.local_consideration}}</td>
                            <td   [ngClass]="{'disable':!frightDetails?.estimations?.lowBed?.is_selected}" >{{frightDetails?.estimations?.lowBed?.local_consideration}}</td>
                        </tr>
            
                </ng-container>
    
              </tbody>
            </table>
        </div>

          </ng-container>
      </ng-container>
     
    <div class="row border-top">
        <div class="col-lg-5 ps-0 pe-0"   *ngIf="workOrderDetail?.vehicle_category==0">
            <div class="py-3 ps-4 pe-3 border-bottom">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p><b>Expected Tenure</b> {{workOrderDetail?.tenure_progress?.total_days}} Days</p>
                </div>
  
                <app-work-order-tenure-status type="orderstatus"
                [workOrderStatus]="workOrderDetail?.tenure_progress|orderStatus"></app-work-order-tenure-status>

                <div class="d-flex justify-content-between align-items-center my-4">
                    <p><b>Start Date</b>{{changeDatetoNormalFormat(workOrderDetail?.tenure_progress?.workstart_date)}}</p>
                    <p><b>End Date </b>{{changeDatetoNormalFormat(workOrderDetail?.tenure_progress?.workend_date)}}</p>
                </div>
            </div>
            <div class="p-4 mb-3">
                <p class="mb-4 fw-semibold">Vehicle Usage  (Own vs market)</p>

                <div class="d-flex gap-3 justify-content-center">
                    <div class="p-4 bg-light-blue rounded-4 text-center ">
                        <p class="fs-2 fw-bold text-white mb-3">{{workOrderDetail?.market_trips}}</p>
                        <p class="fw-semibold text-white pb fs-10px">MARKET VEHICLE</p>
                    </div>
                    <div class="p-4 bg-dark-green rounded-4 text-center ">
                        <p class="fs-2 fw-bold text-white mb-3">{{workOrderDetail?.own_trips}}</p>
                        <p class="fw-semibold text-white pb fs-10px">OWN VEHICLE</p>
                    </div>
                    <div class="p-4 bg-dark-blue rounded-4 text-center ">
                        <p class="fs-2 fw-bold text-white mb-3">{{workOrderDetail?.total_trips}}</p>
                        <p class="fw-semibold text-white pb fs-10px">TOTAL JOBS</p>
                    </div>


                </div>
            </div>
        </div>
        <div  [ngClass]="{'col-lg-7':workOrderDetail?.vehicle_category!=4 ,'col-lg-9 mx-auto':workOrderDetail?.vehicle_category==4,'border-start':workOrderDetail?.vehicle_category!=4,'col-lg-12':workOrderDetail?.vehicle_category==4 && workOrderDetail?.utilization_progress?.movement_sow==4}">
            <div class="py-3 ps-4 pe-3">
                <div class="d-flex justify-content-between align-items-center mb-3 mt-2">
                    <p><b>Order Status {{workOrderDetail?.utilization_progress?.type}} </b></p>
                    
                </div>

                <div class="row " >
                    <div class="col-lg-6" [ngClass]="{'col-lg-9':workOrderDetail?.vehicle_category==4 && workOrderDetail?.utilization_progress?.movement_sow==4} ">
                        <ng-container *ngIf="workOrderDetail?.vehicle_category!=4">
                            <div class="d-flex mb-4 mt-4">
                                <div class="small-card bg-yellow me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.scheduled?.no }}</p>
                                    <p class="fw-medium ">Total Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.scheduled?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-light-blue me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.ongoing?.no }}</p>
                                    <p class=" fw-medium ">Total Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.ongoing?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-dark-green me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                    <p class=" fw-medium ">Total Completed {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-dark-blue me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                    <p class=" fw-medium ">Total {{workOrderDetail?.utilization_progress?.type}} Pending
                                        ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                </div>
                            </div>

                        </ng-container>
                        <ng-container  *ngIf="workOrderDetail?.vehicle_category==4">
                            <ng-container *ngIf="workOrderDetail?.utilization_progress?.movement_sow==0">
                                <div class="d-flex mb-4 mt-4">
                                    <div class="small-card bg-yellow me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.scheduled?.no }}</p>
                                        <p class="fw-medium ">Total Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.scheduled?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mb-4 mt-4">
                                    <div class="small-card bg-light-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.ongoing?.no }}</p>
                                        <p class=" fw-medium ">Total Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.ongoing?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mb-4 mt-4">
                                    <div class="small-card bg-dark-green me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                        <p class=" fw-medium ">Total Completed {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mb-4 mt-4">
                                    <div class="small-card bg-dark-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                        <p class=" fw-medium ">Total {{workOrderDetail?.utilization_progress?.type}} Pending
                                            ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                    </div>
                                </div>
    
                            </ng-container>
                             <!-- pullout -->
                             <ng-container  *ngIf="workOrderDetail?.utilization_progress?.movement_sow==1" >
                                <div class="d-flex mt-4 mb-4">
                                    <div class="small-card bg-yellow me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.scheduled?.no }}</p>
                                        <p class=" fw-medium ">Total Pullout Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.scheduled?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-light-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.ongoing?.no }}</p>
                                        <p class=" fw-medium ">Total Pullout Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.ongoing?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-dark-green me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                        <p class=" fw-medium ">Total  Completed {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-dark-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                        <p class=" fw-medium ">Total  {{workOrderDetail?.utilization_progress?.type}} Pending
                                            ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                    </div>
                                </div>
                             </ng-container>
                         
                           
                            <!-- live -loading -->
                            <ng-container  *ngIf="workOrderDetail?.utilization_progress?.movement_sow==2" >
                                <div class="d-flex mt-4 mb-4">
                                    <div class="small-card bg-yellow me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.scheduled?.no }}</p>
                                        <p class=" fw-medium ">Total Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.scheduled?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-light-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.ongoing?.no }}</p>
                                        <p class=" fw-medium ">Total Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.ongoing?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-dark-green me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                        <p class=" fw-medium ">Total Completed {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                    </div>
                                </div>
                                <div class="d-flex   mt-4 mb-4">
                                    <div class="small-card bg-dark-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                        <p class=" fw-medium ">Total {{workOrderDetail?.utilization_progress?.type}} Pending
                                            ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                    </div>
                                </div>
                
                            </ng-container>
                           <!-- deposit -->
                           <ng-container *ngIf="workOrderDetail?.utilization_progress?.movement_sow==3" >
                            <div class="d-flex mb-4 mt-4">
                                <div class="small-card bg-yellow me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.scheduled?.no }}</p>
                                    <p class=" fw-medium ">Total Deposit Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.scheduled?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-light-blue me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.ongoing?.no }}</p>
                                    <p class=" fw-medium ">Total Deposit Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.ongoing?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-dark-green me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                    <p class=" fw-medium ">Total  Completed {{workOrderDetail?.utilization_progress?.type}}
                                        ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                </div>
                            </div>
                            <div class="d-flex   mb-4 mt-4">
                                <div class="small-card bg-dark-blue me-4"></div>
                                <div>
                                    <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                    <p class=" fw-medium ">Total  {{workOrderDetail?.utilization_progress?.type}} Pending
                                        ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                </div>
                            </div>
                           </ng-container>
                            <!-- pullout and deposit -->
                            <ng-container  *ngIf="workOrderDetail?.utilization_progress?.movement_sow==4">
                                <div class="row mx-0">
                                    <div class="col-lg-6">
                                <div class="d-flex mb-3 mt-3" >
                                    <div class="small-card bg-dark-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pending?.no }}</p>
                                        <p class=" fw-medium ">Total {{workOrderDetail?.utilization_progress?.type}} Pending
                                            ({{workOrderDetail?.utilization_progress?.pending?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex mb-3 mt-3">
                                    <div class="small-card bg-yellow me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pullout_scheduled?.no }}</p>
                                        <p class=" fw-medium ">Total Pullout Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.pullout_scheduled?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex   mb-3 mt-3">
                                    <div class="small-card bg-light-blue me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.pullout_ongoing?.no }}</p>
                                        <p class=" fw-medium ">Total Pullout Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.pullout_ongoing?.per}}%)</p>
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-6">
                                <div class="d-flex   mb-3 mt-3">
                                    <div class="small-card bg-pink me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.deposit_pending?.no }}</p>
                                        <p class=" fw-medium ">Total Deposit Pending {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.deposit_pending?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex   mb-3 mt-3">
                                    <div class="small-card bg-purple me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.deposit_scheduled?.no }}</p>
                                        <p class=" fw-medium ">Total Deposit Scheduled {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.deposit_scheduled?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex   mb-3 mt-3">
                                    <div class="small-card  bg-red me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.deposit_ongoing?.no }}</p>
                                        <p class=" fw-medium ">Total Deposit Ongoing {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.deposit_ongoing?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex   mb-3 mt-3">
                                    <div class="small-card bg-dark-green me-4"></div>
                                    <div>
                                        <p class="fs-4 fw-bold mb-2">{{workOrderDetail?.utilization_progress?.completed?.no }}</p>
                                        <p class=" fw-medium ">Total Completed {{workOrderDetail?.utilization_progress?.type}}
                                            ({{workOrderDetail?.utilization_progress?.completed?.per}}%)</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                
                            </ng-container>
                
                
                        </ng-container>

                      

                    </div>
                    <div  [ngClass]="{'col-lg-3':workOrderDetail?.vehicle_category==4 && workOrderDetail?.utilization_progress?.movement_sow==4,'col-lg-6':workOrderDetail?.vehicle_category==3 || !workOrderDetail?.vehicle_category || (workOrderDetail?.vehicle_category==4 && workOrderDetail?.utilization_progress?.movement_sow!=4)} ">
                        <div class="chart">
                            <div class="chart-content">
                                <p class="fs-1 text-center fw-bold mb-3">
                                    {{workOrderDetail?.utilization_progress?.total}}</p>
                                <p class="ws-nowrap">Order Status {{workOrderDetail?.utilization_progress?.type}}</p>
                            </div>
                            <canvas baseChart width="300px" height="300px" [datasets]="chartData"
                                [options]="chartOptions" [chartType]="'doughnut'">
                            </canvas>
                        </div>
                    </div>
                </div>
                



            </div>

        </div>
    </div>

</div>