<div class="calc-height">
  <app-list-widget [tabSelectionList]="tabSelectionList" [settingsUrl]="settingsUrl"
    (listWidgetData)="listWidgetData($event)"  (settingsApplied)="settingsApplied($event)" [buttonData]="buttonData"
    [filterUrl]="filterUrl"  [isFilter]="true" [isSettings]="true" [isDateDropDown]="true" [isExport]="true" (exportList)="exportList($event)" [isDateRangeText]="true" [isDateRange]="false"  [isDropDown]="true"  [isAddButton]="true"  (viewChange)="viewChange($event)">
    <button class="gb-video-play float-right me-2"id="custom-button-left"  (click)="openGothrough()">
      <i class="bi bi-play-circle-fill"></i>
  </button>
  </app-list-widget>
<app-go-through  [goThroughDetais]="goThroughDetais"></app-go-through>

</div>
<div *ngIf="isNormalList" id="normal-list" class="custom-table-container p-0 def-color work-order-normal-list "
(scroll)="onScroll($event)">
<table [ngClass]="{'h-100':workOrderList.length==0}">

  <thead >
    <tr>
      <th *ngFor="let header of workOrderHeaders">
        {{header}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="workOrderList.length == 0">
    <tr class="border-0">
      <td class="bg-white" colspan="30">
        <div class="no-list-data-wrap">
          <figure>
            <img src="assets/img/no-content.png" alt="">
          </figure>
          <h5 class="mt-3 primary-brand-text">No data found!</h5>
        </div>
      </td>
    </tr>

  </tbody>

  <tbody>

    <tr *ngFor="let data of workOrderList; trackBy: trackById" >
      <ng-container *ngFor="let item of data['extras'];let i =index">
        <td class="ws-nowrap" *ngIf="item?.id!='workorder_no' && item?.id!='customer' "> {{item?.value ? item?.value : '-'}} </td>
        <td *ngIf="item?.id=='workorder_no'">
          <a class="custom-link ws-nowrap"  [routerLink]="[prefixUrl+'/trip/work-order/details/',data.id]" [queryParams]="{fromlist: 'workorder'}">{{item?.value}}</a>
        </td>
        <td *ngIf="item?.id=='customer'" class="td-2l">
          <div class="text-2l">
          <a class="custom-link " target="_blank" [routerLink]="[prefixUrl+'/onboarding/party/details/client/',data?.customer_id]" >{{item?.value}}</a>
        </div>
        </td> 
        
      </ng-container>
      <td class="icon-box  tabIndexActive">
        <ng-container *ngIf="data.closed_status === 'Open'">
        <div class="d-flex justify-content-center align-items-center">
          <div class="position-relative">
            <div class="m-auto" *ngIf="data.closed_status != 'Closed'">
              <i class="material-icons more-icon " 
                (click)="optionsList('list_'+data.id)">more_vert</i>
              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'list_'+data.id}">
                <ng-container *ngIf="data?.approval_status != 0" >
                    <li class="more-actions__item" *ngxPermissionsOnly="workOrderPermission[1]"
                    [routerLink]="[prefixUrl+'/trip/work-order/edit',data?.id]">
                    <i class="material-icons">edit</i>Edit
                    </li>
                
                </ng-container>
                <ng-container *ngIf="!data.has_trip">
                    <li class="more-actions__item" *ngxPermissionsOnly="workOrderPermission[2]"
                      (click)="popupFunction(data, i)">
                      <i class="material-icons">delete</i>Delete
                    </li>
                  
                </ng-container>
                <ng-container *ngIf="data?.approval_status ==2" >
                  <li *ngxPermissionsOnly="workOrderPermission[1]" class="more-actions__item" (click)="closeWorkOrder(data,i)"><i
                    class="material-icons">cancel</i>Close</li>
                </ng-container>
              </ul>
            </div>

          </div>
        </div>
      </ng-container>

      </td>
    </tr>
    


   
  </tbody>
</table>
</div>
<div *ngIf="!isNormalList" id="extended-list"  class=" p-0 def-color work-order-extended-list overflow-auto shadow-inset-top"

(scroll)="onScrollExtended($event)">
<div class="h-100 "  *ngIf="workOrderList?.length == 0">
  <div class="no-list-data-wrap">
    <figure>
      <img src="assets/img/no-content.png" alt="">
    </figure>
    <h5 class="mt-3 primary-brand-text">No data found!</h5>
  </div>
</div>
<div *ngFor="let data of workOrderList; trackBy: trackById;index as i"
      class=" py-4 px-5 justify-content-space-between flex-wrap expanded-trip">
      <div class="row mt-2">
        <div class="col-11 ">
          <div class="row ">
            <div class="col-lg-4 col-6  mb-4 ">
              <span class="field-name">Work Order Date</span>
              <span class="field-value">{{data?.workorder_date}}</span>
            </div>

            <div class="col-lg-4 col-6  mb-4">
              <span class="field-name">Work Order No </span>
              <span class="field-value"><a class="link"
                  [routerLink]="[prefixUrl+'/trip/work-order/details/'+data.id]" [queryParams]="{details: 'quotation'}">{{data?.workorder_no}}</a></span>
            </div>
            <div class="col-lg-4 col-6 mb-4 ">
              <span class="field-name">Client</span>
              <span class="field-value"><a class="custom-link" target="_blank" [routerLink]="[prefixUrl+'/onboarding/party/details/client/',data?.customer?.id]" >{{data?.customer?.name}}</a></span>
            </div>

            <div class="col-lg-4 col-6 mb-4 ">
              <span class="field-name">Completion Status</span>
              <span class="field-value">{{data?.status}}</span>
            </div>

            <div class="col-lg-4 col-6 mb-4  " *ngFor="let custom of data.extras">
              <span class="field-name">{{custom?.name}}</span>
              <span class="field-value">{{custom?.value?custom.value:'Not Avilable'}}</span>
            </div>


          </div>



        </div>
        <div class="col-1  ">

          <!-- <button (click)="deleteTrip(data.id)"> <span><i class="material-icons text-danger"
                  style="font-size: 24px;">delete</i></span></button> -->
          <div class="position-relative">
            <ng-container *ngIf="data.closed_status === 'Open' || !data.has_trip ">
              <div class="table-action" *ngxPermissionsOnly="[workOrderPermission[1],workOrderPermission[2]]"
                class="mt-2 pt-1" [ngClass]="{'mt-4':i==0}">
                <i class="material-icons more-icon justify-content-center ms-3 "
                  (click)="optionsList('list_'+data.id)">more_vert</i>
                <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'list_'+data.id}">
                  <ng-container *ngIf="data.closed_status == 'Open'">
                    <li *ngxPermissionsOnly="[trip[0]]" class="more-actions__item" (click)="createNewTrip(data)"><i
                      class="material-icons">
                      add_circle</i>Convert to Individual Trip</li>
                  <li *ngxPermissionsOnly="[trip[0]]" class="more-actions__item" (click)="createMultipleTrip(data)"><i
                      class="material-icons">
                      add_circle</i>Schedule Multiple Trips</li>
                    <li class="more-actions__item" (click)="closeWorkOrder(data,i)"><i
                        class="material-icons">cancel</i>Close</li>
                  </ng-container>


                  <ng-container *ngIf="!data.has_trip">
                    <li class="more-actions__item" *ngxPermissionsOnly="workOrderPermission[2]"
                      (click)="popupFunction(data, i)"><i class="material-icons">delete</i>Delete</li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>

        </div>
        <div class="col-11 ">
          <div class="row justify-content-lg-around">
            <div class="col-lg-5">
              <p class="my-2">
                <span class="field-value me-3">Expected Tenure</span>
                <span class="field-name">
                  <ng-container *ngIf="data?.tenure_progress?.total_days<=1">
                    {{data?.tenure_progress?.total_days}} Day
                  </ng-container>
                  <ng-container *ngIf="data?.tenure_progress?.total_days>=2">
                    {{data?.tenure_progress?.total_days}} Days
                  </ng-container>
                </span>
              </p>



              <app-work-order-tenure-status type="tenure"
                [workOrderStatus]="data.tenure_progress|tenure"></app-work-order-tenure-status>
              <div class="d-flex justify-content-between ">
                <p>
                  <span class="field-name">Start Date</span>
                  <span class="field-value ">{{data?.tenure_progress?.workstart_date}}</span>
                </p>

                <p>
                  <span class="field-name">End Date</span>
                  <span class="field-value ">{{data?.tenure_progress?.workend_date}}</span>
                </p>
              </div>

            </div>
            <div class="col-lg-5">
              <p class="my-2">
                <span class="field-value me-3">Order Status</span>
                <span class="field-name">{{data?.utilization_progress?.type}}</span>
              </p>
              <app-work-order-tenure-status type="orderstatus"
                [workOrderStatus]="data.utilization_progress|orderStatus"></app-work-order-tenure-status>

            </div>
          </div>
        </div>

      </div>






    </div>
</div>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>
<alert-popup [inputData]="popupInputDataClose" (outputData)="workorderClose($event)"></alert-popup>