<div class="modal fade" [ngClass]="{'show':popUpRenewDocuments.show}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div  class="popup-header">
        <h6  class="d-inline">Update {{popUpRenewDocuments?.data?.name}}</h6>
        </div>
      <form [formGroup]="renewDocuments">
        <div class="alert-msg" *ngIf="apiError">
          <span class="icon-wrap"></span>
          <p class="message-cont">{{ apiError }}</p>
        </div>
        <div class="row justify-contentms-lg-2 px-4 pt-4">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="input-wrap error " [ngClass]="addErrorClass(renewDocuments.controls.number)">
              <label for="" class="input">{{popUpRenewDocuments?.data?.name}} Number</label>
              <input appUpperCase type="text" class="no-style input--bd" placeholder="123456" value="" formControlName="number">
              <app-error [controlName]="renewDocuments.controls.number"></app-error>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngIf="isCountry">
            <div class="input-wrap error error--type-1" [ngClass]="addErrorClass(renewDocuments.controls.issue_date)">
              <label for="" class="input">{{popUpRenewDocuments?.data?.name}} Issue Date</label>
              <mat-form-field class="width--100">
                <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="issue_date" (focus)="issue_date.open()"
                  formControlName="issue_date">
                <mat-datepicker-toggle matSuffix [for]="issue_date">
                </mat-datepicker-toggle>
                <mat-datepicker #issue_date startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="renewDocuments.controls.issue_date">
              </app-error>
            </div>
          </div>


          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="input-wrap error error--type-1" [ngClass]="addErrorClass(renewDocuments.controls.expiry_date)">
              <label for="" [ngClass]="{'input--required':isExpiryMandatory&&renewDocuments.controls.number.value }">{{popUpRenewDocuments?.data?.name}} Expiry Date</label>
              <mat-form-field class="width--100">
                <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="expiry_date" (focus)="expiry_date.open()"
                  formControlName="expiry_date">
                <mat-datepicker-toggle matSuffix [for]="expiry_date">
                </mat-datepicker-toggle>
                <mat-datepicker #expiry_date startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="renewDocuments.controls.expiry_date">
              </app-error>
            </div>
          </div>
         
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6"  *ngIf="isCountry">
            <div class="input-wrap error" [ngClass]="addErrorClass(renewDocuments.controls.state_of_issue)">
              <label for="" class="">Country of Issue</label>
              <material-dropdown [searchable]="true" [selectedOption]="initialValues.country">
                <select formControlName="state_of_issue" #customSelect class="no-style select--modify">
                  <option *ngFor="let option of countryList" value="{{ option?.name }}">
                    {{ option?.name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="renewDocuments.controls.state_of_issue"></app-error>
            </div>
          </div>

          <ng-container *ngIf="!isCountry" >

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="input-wrap error" [ngClass]="addErrorClass(renewDocuments.controls.amount)">
                <label for="" class="input"
                  [ngClass]="{'input--required':renewDocuments.controls.pass_journal_entry.value==true}">Amount</label>
                <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456"
                  value="" formControlName="amount">
                <app-error [controlName]="renewDocuments.controls.amount">
                </app-error>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" *ngIf="renewDocuments.get('pass_journal_entry').value==true">
              <div class="input-wrap error" [ngClass]="addErrorClass(renewDocuments.controls.bank)">
                <label for="" class="input"
                  [ngClass]="{'input--required':renewDocuments.get('pass_journal_entry').value==true}">Bank</label>
                <material-dropdown [searchable]="true" [selectedOption]="initialValues.bank" [addable]="false" class="dropDownWidth">
                  <select #customSelect formControlName="bank" class="no-style select--modify">
                    <option *ngFor="let account of paymentAccountList" value="{{ account.id }}">
                      {{ account.name }}</option>
                  </select>
                </material-dropdown>
                <app-error [controlName]="renewDocuments.controls.bank"></app-error>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pb-2">
              <div>
                <label for="" class="d-inline-block cursor-pointer check-label mt-4" for="pass-journal-entry"><input
                    type="checkbox" placeholder="123456" value="" class="w-auto d-inline-block"
                    formControlName="pass_journal_entry" id="pass-journal-entry" (change)="passJournalEntryChange()">
                  &nbsp;&nbsp;Pass Journal Entry </label>
              </div>
            </div>
          </ng-container>

          <div class="col-sm-12 py-3">
            <file-uploader (onFileUploaded)="fileUploader($event)" (onFileDeleted)="fileDeleted($event)"
              [multiple]="true" [accept]="'capture=camera, image/jpeg,image/x-jpg,image/png, application/pdf'"
              [showFileName]="false" [uploaderId]="'renew-document'" [patchFileUrls]="patchFileUrls">
            </file-uploader>
          </div>
        </div>

      </form>
      <div class=" d-flex justify-content-between px-4 pb-4">



        <button class="btn w-auto" (click)="cancelButtonClick()" type="submit">Cancel</button>



        <button class="btn btn--primary w-auto" (click)="onOkButtonClick()" type="submit">Save</button>

      </div>
    </div>
  </div>
</div>
<div *ngIf="popUpRenewDocuments.show" class="modal-backdrop fade show"></div>