<div class="">
        <div class="input-wrap clearfix tabIndexActive">
            <figure class="upload-image float-start">
                <img *ngIf="!imagePreview" src="../../../../../assets/img/add-edit-profile.svg" alt="">
                <img *ngIf="imagePreview" src="{{imagePreview}}" alt="">
            </figure>
            <div class="upload-img-wrapper  position-relative focus-tab px-1 overflow-hidden">
                <p class="label-text position-index">Profile image</p>
                <label tabindex="-1" for="browse-{{uploaderId}}" class="btn  btn--default primary-clr position-index w-auto">Upload 

                  <!--f  <input type="hidden" name="fileHidden"  > ormControlName="profile_image"-->
                </label>
                <input type="file" id="upload-file" #fileInput id="browse-{{uploaderId}}"  accept="{{accept}}" (change)="onFileChange($event)">

                <span *ngIf="image_error" class="image_error">{{image_error}}</span>
            </div>
        </div>
</div>
