.btn-group-1{
    .f-b{
      border-radius: 3px 0px 0px 3px ;
    }
    .s-b{
      border-radius: 0px 3px 3px 0px ;
      padding: 4.8px;
      min-width: 35px
  
    }
  }
  .invalid-input{

    border: 2px solid red !important;
  }