.show {
    display: block;
}

.add:before {
    background-color: #0283e547;
}

.tabIndexActive .material-icons{
  font-size: 17px;
  &.font-24{
    font-size: 24px;
  }
}

.input-wrap{
    &.error{
        .error-box{
            border: 1px solid #eb1e4a;
            &::placeholder{
                color: #eb1e4a;
            }
        }
    }
}

// .section-footer .btn-wrap .btn--primary, .section-footer .more-actions__menu {
//     // min-width: 170px;
// }
.section-footer .more-actions__menu{
    width: 100%;
    top: 45px;
    left: initial;
    right: 0;
}

.dropDownOverflow {
	overflow-x: unset;
}

.table-container {
	&.item-table {
		tr {
			&:nth-child(even) {
				display: none;
			}
			&.show {
				display: table-row !important;
			}
		}
	}
}

.table-wrapper--type2 .add {
	display: inline-block;
}

.select-wrap{
    &.error{
        .add-hsn{
            border: 1px solid #eb1e4a;
            &::placeholder{
                color: #eb1e4a;
            }
        }
    }
}

// .custom-input {
// 	border-radius: 3px;
// 	&__margin{
// 		margin-left: 65px;
// 		width: 58% !important;
// 	}
// 	&__checkbox {
// 	height: 40px;
//     width: 66px;
// 	padding: 14px 0 0 10px;
//     position: absolute;
// 	top: 0;
// 	border: 1px solid #bcc7d1;
// 	border-radius: 3px 0 0 3px;
// 	}
// }

// .quantity{
// 	display: flex;
// 	.select-wrap{
// 	  margin-left: -1px;
// 	}
// }

.gst{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  div .coa-option {
    width :570px !important;
}

@media only screen and (max-width : 768px){

  div .coa-option {
      width :auto!important;
  }
}

.mg-top-30 {
    margin-top: 10px !important;
}

div#margin-left
{
    margin-left: 8px;
}
.more-actions__item{
    padding: 8px 15px !important;
}

.disableInput{
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.hiddenContent{
  display: none !important;
}


  .MaxWidth-150{
    max-width: 150px;
  }

  @media (max-width: 480px){
    .mobileBlockSingle{
      display: block;
      >div{
        display: inline-block !important;
        &:first-child{

          display: block !important;
          margin-bottom: 5px;
        }
      }
    }

  }
