<section>

  <div class="right-section__header">
    <h1 class="heading col-md-6 col-9  px-0">Trial Balance</h1>
    <div class="header-actions col-md-6 col-3 px-0  ps-2 mobile-calender justify-content-end">
      <button class="btn btn--primary btn--dropdown  mg-right-10 export-mobile-icon" (click)="$event.stopPropagation();canDownloadTrialBalance = !canDownloadTrialBalance">Export<span><i class="fas fa-file-export"></i></span><i class="material-icons mobile-hide">arrow_drop_down</i>
        <ul class="more-actions__menu" [ngClass]="{'show': canDownloadTrialBalance}">
            <!-- <li class="more-actions__item" type="button" (click)="downLoadxlsxOrpdf('xlsx','Trial Balance ')"  >Export As xlsx</li> -->
            <li class="more-actions__item" type="button"  (click)="downLoadxlsxOrpdf('pdf','Trial Balance ')" >Export As Pdf</li>
        </ul>
       </button>

        <input type="text" class="form-control date-range no-style date-range-style " [ngModelOptions]="{standalone: true}" bsDaterangepicker
        [(ngModel)]="selectedRange" (bsValueChange)="filterTrialBalance($event)"
        [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', showWeekNumbers: false }">

    </div>
  </div>
  <div class="balance-header box-shadow">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="sub-heading">{{(companyData?.company_name)?(companyData?.company_name):'-'}}</h2>
        <p class="fs-14 mt-3 sub-text">Trial Balance from {{selectedRange[0] | date}} to {{selectedRange[1] | date}}</p>
      </div>
      <div class="col-sm-6 actions-item">
        <div class="actions-wrap">
          <button class="btn" (click)="expandCollapseAll(false)">Collapse All</button>
          <button class="btn btn--primary mg-left-10" (click)="expandCollapseAll(true)">Expand All</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-layout balance-sheet-wrap mg-top-30 box-shadow">
    <div class="container balance-sheet-table">
      <div *ngFor="let t of trialBalanceData | keyvalue;let i = index">
        <div *ngIf="i<5">
          <div class="row tree-row flex-box">
            <div class="flex-grow-1 pd-left-25 tree-heading w-auto">
              {{ t.key?.toUpperCase() }}
            </div>
            <div *ngIf="i==0" class="wd-200  text-end tree-heading pd-right-10">
              DEBIT ({{ currency_type?.symbol}})
            </div>
            <div *ngIf="i==0" class="wd-200  text-end tree-heading pd-right-10 ">
              CREDIT ({{ currency_type?.symbol}})
            </div>
          </div>
          <div *ngFor="let accountGroup of t?.value | keyvalue ;let j = index">
            <div class="flex-box">
              <div class="name">
                <span *ngIf="accountGroup.value?.length>0" class="mg-right-7">
                  <a class="plus-icon-sm" *ngIf="!accountGroupShow[i][j]" (click)="accountGroupShow[i][j] = !accountGroupShow[i][j]"></a>
                  <a class="minus-icon-sm" *ngIf="accountGroupShow[i][j]" (click)="accountGroupShow[i][j] = !accountGroupShow[i][j]"></a>
                </span>
                <span *ngIf="accountGroup.value?.length==0"></span>
                <span [ngClass]="{'fw-600':accountGroupShow[i][j]}">{{accountGroup.key}}</span>
              </div>
              <div *ngIf="!accountGroupShow[i][j]" class="debit">
                <span class="rupee-symbol rupee-symbol--sm"></span>
                {{ currency_type?.symbol}} {{ fixedTo3Decimal(calculateParentDebitSubTotal(accountGroup.value)) }}
              </div>
              <div *ngIf="!accountGroupShow[i][j]" class="credit">
                <span class="rupee-symbol rupee-symbol--sm"></span>
                {{ currency_type?.symbol}} {{ fixedTo3Decimal(calculateParentCreditSubTotal(accountGroup.value)) }}
              </div>
            </div>
            <div class="" *ngIf="accountGroupShow[i][j]">
              <div *ngFor="let acc of accountGroup?.value">
                <app-tree [response]="acc" [expandAll]="expandAll"></app-tree>
              </div>
              <div class="flex-box mg-left-7">
                <div class="total fw-600">
                  Total for  {{accountGroup.key}}
                </div>
                <div class="debit">
                  <span class="rupee-symbol rupee-symbol--sm"></span>
                  {{ currency_type?.symbol}} {{ fixedTo3Decimal(calculateParentDebitSubTotal(accountGroup.value)) }}
                </div>
                <div class="credit">
                  <span class="rupee-symbol rupee-symbol--sm"></span>
                  {{ currency_type?.symbol}} {{ fixedTo3Decimal(calculateParentCreditSubTotal(accountGroup.value)) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row tree-row flex-box">
        <div class="flex-grow-1 pd-left-15 tree-heading fs-14 w-auto">
          FINAL TOTAL
        </div>
        <div class=" wd-200  text-end pd-right-15 tree-heading fs-14 ">
          <span class="rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ returnAbsoluteNumber(totalDebit) }}</span>
        </div>
        <div class=" wd-200  text-end pd-right-15 tree-heading fs-14 ">
          <span class="rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ returnAbsoluteNumber(totalCredit) }}</span>
        </div>
      </div>
    </div>
  </div>

</section>
