@import "../../../../../../../assets/styles/helpers/variable";
@import "../../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../../assets/styles/helpers/mixins";
.consignment-pd-50 {
    padding-top: 50px !important;
}

.consignment-table-wrapper {
    .table-container {
        width: 100%;
        @include respond-to(tablet) {
          // min-width: 1253px;
        }
      }

    table, tr, td {
        border: 1px solid $secondary-border-color;
    }
    td {
        text-align: left;
        padding-left: 10px !important;
    }
}

.consignment-pd-100 {
    padding-top: 100px !important;
}

.consignment-pd-50 {
    padding-top: 50px !important;
}
.hiddenContent{
  display: none;
}

@media (max-width: 479px){
    h1.heading{
        font-size:20px;
    }
}
