<div class="calc-height">
  <app-list-widget listTitle="VAT Receivable" [isAddButton]="false" [isSettings]="false" [isDateDropDown]="true"
    [isDateRangeText]="true" [isExport]="true" [isDropDown]="false" [isSwitch]="true" (viewChange)="viewChange($event)"
    (listWidgetData)="listWidgetData($event)" (exportList)="exportList($event)">
  </app-list-widget>
</div>
<div *ngIf="isNormalList" id="vat-list" class="custom-table-container"
  (scroll)="onScroll($event)">
  <table [ngClass]="{'h-100':vatData.length==0}">
    <thead>
      <tr>
        <th width="33.33%">Party Name</th>
        <th width="33.33%">TRN Number</th>
        <th width="33.33%">VAT ({{ currency_type?.symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="vatData.length == 0">
        <td colspan="10" style="background-color: #fff">
          <div class="no-content-wrapper">
            <figure class="no-content-pic">
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <div class="no-content-txt">
              <h5 class="heading">No data found!</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let item of vatData; let i = index;">
        <td><a target="_blank" class="custom-link"
            [routerLink]="[prefixUrl+'/onboarding/party/details/client/'+item.party.id]">{{ item.party.display_name
            }}</a></td>
        <td>{{ item.gstin }}</td>
        <td>{{ item.vat_amount | numberFormat }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!isNormalList" id="vat-list" class="custom-table-container"
(scroll)="onScroll($event)">
  <table >
    <thead>
      <tr>
        <th width="16.66%">Party Name</th>
        <th width="16.66%">VAT Number</th>
        <th width="16.66%">Invoice Date</th>
        <th width="16.66%">Invoice Number</th>
        <th width="16.66%">Invoice Amount ({{ currency_type?.symbol}})</th>
        <th width="16.66%">VAT ({{ currency_type?.symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="vatData.length == 0">
        <td colspan="10" style="background-color: #fff">
          <div class="no-content-wrapper">
            <figure class="no-content-pic">
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <div class="no-content-txt">
              <h5 class="heading">No data found!</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let item of vatData; let i = index;">
        <td><a target="_blank" class="custom-link"
            [routerLink]="[prefixUrl+'/onboarding/party/details/client/'+item.party.id]">{{ item.party.display_name
            }}</a></td>
        <td>{{ item.gstin }}</td>
        <td>{{ item.invoice_date }}</td>
        <td>{{ item.invoice_number }}</td>
        <td>{{ item.total_amount| numberFormat }}</td>
        <td>{{ item.vat_amount| numberFormat }}</td>
      </tr>
    </tbody>
  </table>
</div>
