<div class="right-section__header">
  <div class="d-flex align-items-center">
    <p class="trip-id">
      <button (click)="historyBack()"><i class="bi bi-chevron-left"></i></button
      >{{ siDetails?.site_inspection_no }}
    </p>
    <div
      class="veh-category-chip {{
        getVehicleCategory(siDetails?.vehicle_category)
      }}"
    >
      {{ getVehicleCategory(siDetails?.vehicle_category) }}
    </div>
    <div
      class="mat-icon-chip mat-icon-chip-blue ms-2"
      *ngIf="siDetails?.inspected_type.type != 2"
    >
      <span class="material-icons fs-6 me-2"> create </span>
      {{
        siDetails?.inspected_type?.name ? siDetails?.inspected_type?.name : "-"
      }}
    </div>
  </div>
    <button [disabled]="!(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))" class="gb-edit-btn-secondary ms-2"*ngxPermissionsOnly="siteInspection[1]" [routerLink]="[prefixUrl + '/trip/site-inspection/edit', siDetails?.id]" >
    <span class="material-icons"> create </span>Edit
  </button>  
</div>

<div class="shadow-inset-top p-3 def-color">
  <div class="d-flex align-items-center p-4 rounded-3 custom-shadow-md mb-3">
    <div class="status-icon me-3"  *ngIf="siDetails?.is_approved != null">
      <img
        src="../../../../../../../assets/img/icons/rejected.svg"
        *ngIf="!siDetails?.is_approved"
        alt=""
      />
      <img
        src="../../../../../../../assets/img/icons/approve.svg"
        *ngIf="siDetails?.is_approved"
        alt=""
      />
      
      
    </div>
    <div class="status-icon me-3"  *ngIf="siDetails?.form_status == 1">
      <img
        src="../../../../../../../assets/img/icons/watch.svg"
        *ngIf="siDetails?.form_status == 1"
        alt=""
      />
      
      
    </div>
    
    <div>
      
      <p class="fw-semibold mb-3" *ngIf="siDetails?.is_approved != null">
        Site is {{ siDetails?.is_approved ? "Approved" : "Rejected" }}
      </p>
      <p class="fw-semibold mb-3" *ngIf="siDetails?.form_status==1">
        Site Inspection is Scheduled
      </p>
      <p>
        <span class="fw-semibold">Remarks:</span>
        {{ siDetails?.remark ? siDetails?.remark : "-" }}
      </p>
    </div>
  </div>

  <div
    class="row align-items-lg-stretch mx-0 custom-shadow-md rounded-3 py-3 mb-3 details-wrap"
  >
    <div class="col-lg-12 fs-6 fw-semibold pb-3 ps-3">Details</div>

    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Site Inspection Date</span
        ><span>{{
          siDetails?.inspection_date | date : 'dd-MM-yyyy'
        }}</span>
      </div>

    </div>
    <div class="col-lg-6">
      <div
      class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
    >
      <span class="fw-semibold">Customer</span>
      <a class="custom-link" target="_blank" [routerLink]="[prefixUrl+'/onboarding/party/details/client/',siDetails?.customer?.id]" >{{siDetails?.customer.name}}</a>
    </div>
    </div>

    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Site Inspection From</span
        ><span
          >{{
            siDetails?.inspection_from.type == 0
              ? "Quotation"
              : siDetails?.inspection_from.type == 1
              ? "Sales Order"
              : siDetails?.inspection_from.type == 3
              ? "Reference No"
              : "N/A"
          }}
        </span>
      </div>
    </div>
    <div class="col-lg-6"  *ngIf="siDetails?.inspection_from?.type == 0">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
       
      >
        <span class="fw-semibold">Quotation No.</span>
        <a class="py-0 custom-link" target="_blank" [routerLink]="[prefixUrl+'/trip/quotation/details',siDetails?.inspection_from.id]"> {{siDetails?.inspection_from?.name}} </a>
      </div>
    </div>
    <div class="col-lg-6"  *ngIf="siDetails?.inspection_from?.type == 3">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
       
      >
        <span class="fw-semibold">Reference No.</span
        ><span>{{ siDetails?.inspection_from?.name ?siDetails?.inspection_from?.name  :'-' }}</span>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="siDetails?.inspection_from?.type == 1">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
        
      >
        <span class="fw-semibold">Sales Order No.</span
        >
        <a class="py-0 custom-link" target="_blank" [routerLink]="[prefixUrl+'/trip/work-order/details',siDetails?.inspection_from.id]"> {{siDetails?.inspection_from?.name}} </a>
      </div>
    </div>
   
    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Zone</span
        ><span>{{
          siDetails?.zone == null ? "-" : siDetails?.zone?.name
        }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold me-5">Location</span
        ><span class="text-end">{{
          siDetails?.area?.label ?siDetails?.area?.label :  "-" 
        }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold me-5">Map Coordinate</span
        ><span class="line-height-normal text-end">{{
          siDetails?.location.name ? siDetails?.location.name : "-"
        }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Inspected By</span
        ><span
          >{{
            siDetails?.inspected_type.type == 0
              ? "In house"
              : siDetails?.inspected_type.type == 1
              ? "Third Party"
              : "N/A"
          }}
        </span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="border-bottom d-flex justify-content-between h-100 align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Inspected By (Name)</span
        ><span>{{ siDetails?.inspected_type?.name }}</span>
      </div>

    </div>
    <div class="col-lg-6">
      <div
        class="d-flex justify-content-between align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Point of Contact (Name)</span
        ><span>{{
          siDetails?.contact_name ? siDetails?.contact_name : "-"
        }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="d-flex justify-content-between align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Point of Contact (Mobile)</span
        ><span>
          {{
            siDetails?.contact_no.number
              ? siDetails?.contact_no.code + siDetails?.contact_no.number
              : "-"
          }}
        </span>
      </div>
    </div>


  
  </div>

  <div
    class="row align-items-lg-stretch mx-0 custom-shadow-md rounded-3 py-3 mb-3"
  >
    <div class="col-lg-12 fs-6 fw-semibold pb-3 ps-3">Specification</div>
    <div class="col-lg-6" *ngIf="siDetails?.inspection_from.type == 0 || siDetails?.inspection_from.type == 1">
      <div
        class="d-flex justify-content-between align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">{{
          siDetails?.inspection_from.type == 0
            ? "Quotation Specification"
            : siDetails?.inspection_from.type == 1
            ? "Sales Order Specification"
            : "N/A"
        }}</span>
        <span class="line-height-normal w-50 text-end"
          ><span
            *ngFor="let item of siDetails?.inherited_specification; index as i"
            >{{ i != 0 ? ", " : "" }}{{ item }}</span
          >
          <span *ngIf="siDetails?.inherited_specification.length == 0">-</span>
        </span>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="d-flex justify-content-between align-items-center mx-2 py-3 px-2"
      >
        <span class="fw-semibold">Inspected Specification</span
        ><span class="line-height-normal w-50 text-end"
          ><span *ngFor="let item of siDetails?.specification; index as i"
            >{{ i != 0 ? ", " : "" }}{{ item }}</span
          ><span *ngIf="siDetails?.specification.length == 0">-</span></span
        >
      </div>
    </div>
  </div>
  <div class="row align-items-lg-stretch mx-0 custom-shadow-md rounded-3">
    <div class="col-lg-12 fs-6 fw-semibold py-3 ps-3 border-bottom">
      Site Details
    </div>
    <div class="row mx-0 px-0 mh-450px">
      <div class="col-xl-3 col-lg-3 p-0">
        <aside class="upload-menu-wrapper pb-2">
          <nav class="upload-menu border-bottom-0">
            <ul>
              <li
                class="upload-menu__item d-flex justify-content-between align-items-center"
                *ngFor="let control of siDetails?.site_details; let i = index"
                [ngClass]="{ active: i == activeDoc }"
                (click)="changeDocument(i)"
              >
                <a class="flex-grow-1">{{ control.name }}</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>

      <div class="col-lg-9 p-4 pb-0">
        <ng-container
          *ngFor="let item of siDetails?.site_details; let ii = index"
        >
          <div *ngIf="activeDoc == ii">
            <ng-container *ngIf="item.documents.length > 0">
              <p class="fw-semibold">Attached Image</p>
              <div
                class="d-flex flex-wrap gap-4 py-3 mb-3 left--section attech-img-wrap"
              >
                <div *ngFor="let doc of item.documents">
                  <app-file-delete-view
                    [showInlineEdit]="false"
                    [showDelete]="false"
                    [fileData]="doc"
                  ></app-file-delete-view>
                </div>
              </div>
            </ng-container>

            <div class="row mx-0 left--section">
              <div class="col-lg-4 ps-0 pb-3" *ngIf="haveOtherField(item.checklist)">
                <div class="row mx-0 px-0">
                  <ng-container *ngFor="let field of item.checklist">
                    <div
                      class="col-lg-6 px-0 mb-4"
                      *ngIf="field.field_type != 'upload'"
                    >
                      <p class="fw-semibold mb-3">{{ field?.field_label }}</p>
                      <ng-container *ngIf="field.field_type != 'date'">
                        <p>{{ field?.value ? field?.value : "-" }}</p>
                      </ng-container>
                      <ng-container *ngIf="field.field_type == 'date'">
                        <p>{{ field?.value | formateDate }}</p>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div
                class="col  pb-3" [ngClass]="{'border-start': haveOtherField(item.checklist)}"
                *ngIf="haveUploadField(item.checklist)"
              >
                <p class="fw-semibold mb-3">UPLOADS</p>
                <div class="d-flex gap-2 flex-wrap mt-3">
                  <ng-container *ngFor="let field of item.checklist">
                    <ng-container *ngIf="field.field_type == 'upload'">
                      <p class="fw-semibold  mb-2 w-100">{{field?.field_label}}</p>
                      <app-file-delete-view
                        [showInlineEdit]="false"
                        [showDelete]="false"
                        [fileData]="file"
                        *ngFor="let file of field.value"
                      ></app-file-delete-view>
                      <p *ngIf="field?.value?.length==0" class="primary-brand-text w-100"> No document added for this field !!</p>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
