 .colornames{
   float:right
 }
 .colornames p{
   display: inline-block;
   padding: 10px;
   margin-bottom: 10px;
 }
 p span{
   border-radius: 34px;
   padding: 0px 8px;
 }
 .present{
   background-color: rgb(120, 126, 179);
  }
  .remaining{
    background-color: rgb(146, 196, 117);
  }
  .absent{
  background-color: rgb(212, 149, 149);
}


.databadge,
.databadge1,
.databadge2{
  display: inline-block;
  width: 20px;
  padding: 5px 27px;
  margin: 2px;
  border-radius: 7px;
}
.databadge1{
  border: 1px solid rgb(120, 231, 56);
}
.databadge{
  border: 1px solid rgb(67, 84, 241);
}
.databadge2{
  border: 1px solid rgb(238, 109, 109);
}
::ng-deep .cal-month-view {
  min-width: 900px;
}
::ng-deep .cal-month-view .cal-day-cell {
  min-height: 123px !important;
  min-width: 110px !important;
  cursor: pointer;
}
.form-layout--pd {
  padding: 22px !important;
}
.calenderNav{
  padding: 10px;
  cursor: pointer;
}
.calenderNav span{
 font-weight: bold;
}
.dayevents{
  margin-top: 43px;
  margin-left: 9px;
}

div#scroll-test {
  overflow-x: auto;
}
:host ::ng-deep.ngx-pagination .current
{
  background: #595fab !important;
  border-radius: 2px;
}



.modal {
  max-height: 100%;
  animation: end_to_left 1s ease-in-out;
  transform: translate(100%, 0);
  display: block;
  opacity: 1;
  transition: 1s ease-in-out;
  top: 0;

  &.show {
    transform: translate(0, 0);

  }

  .modal-dialog {
    transform: unset;
  }

  &.show {
    max-height: 100%;
  }
}

@keyframes end_to_left {
  from {
    opacity: 0;
    transform: translate(100%, -50%);
  }

  to {
    opacity: 1;
    transform: translateX(0, -50%);
  }
}

.min-width-450{
  min-width: 450px;
}
