@import "../../../../../../assets/styles/helpers/variable";
.rc-row-btn-wrap{
    position: sticky;
    right: 50px;
}
  .tax-feight{
    max-width: 260px;
    span{
      padding: 13px 20px;
    }

  }
  .lbh-wrap {
    align-items: center;
    .material-icons{
      color: #BBBBBB;
      margin: 0px 4px;
      font-size: 18px;
    }

    input{
      min-width: 70px;
      display: flex;
      border: 1px solid #ACB5BD;
      border-radius: 6px;
      &::placeholder {
        text-align: center; 
     }
     
     /* or, for legacy browsers */
     
     &::-webkit-input-placeholder {
        text-align: center;
     }
     
     &:-moz-placeholder { /* Firefox 18- */
        text-align: center;  
     }
     
     &::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;  
     }
     
     &:-ms-input-placeholder {  
        text-align: center; 
     }
     
    }

  }
  
 
  .billing-type-tooltip {
    position: absolute;
    top: 20px;
    left: 75px;
    z-index: 2;
  }

  :host::ng-deep{
    .error-dropdown .multiselect-dropdown .dropdown-btn{
      color: #eb1e4a !important;
      border: 1px solid #eb1e4a !important;
    }
    
  }
  
//   till herer
.error-reg {
  color: rgb(159, 159, 64);
  font-size: 12px;
}

.add-other-expense-popup {
  background-color: $layout-bg;
  border-radius: 8px;
}

.popup-header {
  background-color: #F2F4F7;
  border-radius: 8px 8px 0 0;
  padding: 15px 20px;
  color: $primary-brand-color;

}

.popup-body {
  padding: 20px;
  padding-bottom: 15px;

}