<div class="def-color">
    <div action="" [formGroup]="billingForm">
        <div class="p-4 ">
          <div class="tax-input-box tax-feight mb-4" *ngIf="showTax">
            <ng-container *ngIf="isTax">
              <span for="" class="ws-nowrap">Tax on Freight</span>
              <material-dropdown [searchable]="true" [addable]="false" [selectedOption]="initialValues.tax" class="dropDownWidth">
                <select #customSelect name="" formControlName="tax" (change)="onCalculationChange()">
                  <option *ngFor="let option of taxOptions" value="{{ option.id }}">{{
                    option.label }}</option>
                </select>
              </material-dropdown>
            </ng-container>
         
          </div>
          <p class="fw-semibold pb-3 border-bottom mb-4 fs-6">Customer Freight</p>
          <div class="addable-row-table">
            <table>
                <thead>
                    <tr>
                    <th >Billing Type</th>
                    <th  *ngIf="billingForm.get('billing').value != 10 || showRateAndUnitsFields">Unit Cost   ({{ currency_type?.symbol}})</th>
                    <th  *ngIf="billingForm.get('billing').value != 10 || showRateAndUnitsFields">Total Units </th>
                    <th >Total Amount  ({{ currency_type?.symbol}})</th>
                    <th    *ngIf="billingForm.get('billing').value == 10 && !showRateAndUnitsFields" width="50%"></th>
                    </tr>
  
                </thead>
                <tbody >
  
                    
  
                        <tr>
                            <td  [ngClass]="{'disable': disableBilling}">
                              <material-dropdown [searchable]="true" [disabled]="disableBilling" [addErrorClass]="addErrorClass(billingForm.get('billing'))" [selectedOption]="initialValues.billingType">
                                <select #customSelect formControlName="billing"  (change)="onCalculationChange();billingTypeSelected()">
                                  <option *ngFor="let option of billingTypeList" [value]="option?.value">
                                    {{ option?.label }}
                                  </option>
                                </select>
                              </material-dropdown>   
                           </td>
                            <td  *ngIf="billingForm.get('billing').value != 10 || showRateAndUnitsFields">
                              <input positiveThreeDigitDecimalNumber type="text" 
                          (change)="onCalculationChange()" [ngClass]="{
                            error:
                              billingForm.controls.rate.invalid &&
                              billingForm.controls.rate.touched
                          }" placeholder="123456" value="" formControlName="rate" />
                            </td> 
                            <td  *ngIf="billingForm.get('billing').value != 10 || showRateAndUnitsFields">
                              <input positiveThreeDigitDecimalNumber (change)="onCalculationChange()" [ngClass]="{
                                error:
                                  billingForm.controls.quantity.invalid &&
                                  billingForm.controls.quantity.touched
                              }" type="text" placeholder="123456" value="" formControlName="quantity" />
              </td>
              <td>
                <input positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                  billingForm.controls.total.invalid &&
                                  billingForm.controls.total.touched
                              }" type="text"  placeholder="123456" value=""
                              formControlName="total" [readonly]="billingForm.get('billing').value != 10 || showRateAndUnitsFields" />
                            </td>
                            <td    *ngIf="billingForm.get('billing').value == 10 && !showRateAndUnitsFields" width="50%"></td>

                        </tr>
                        
  
                </tbody>
            </table>
        </div>

        <ng-content select="#market-vehicle-cost"></ng-content>



          <p class="fw-semibold pb-3 border-bottom my-4 fs-6">Material Info.</p>
          <!--  -->
          <div  class="alert alert-warning" *ngIf="totalSumErr">
            <span  class="icon-wrap me-2 def-color">
            </span>
              {{totalSumErr}}
            </div>
          <div class="addable-row-table overflow-visible">
            <table>
                <thead>
                    <tr>
  
                      <th width="20%">Material</th>
                      <th>Unit</th>
                      <th>No. of Item</th>
                      <th>Weight/Item</th>
                      <th>Volume/Item</th>
                      <th>Total Quantity</th>
                    </tr>
  
                </thead>
                <tbody  formArrayName="materials">
  
                    <ng-container
                    *ngFor="let controls of billingForm.controls.materials['controls'];let i = index"  [formGroupName]="i">
  
  
                        <tr>
                            <td >
                              <div [ngClass]="{'error-dropdown':billingForm.get('materials').controls[i].get('material').invalid && billingForm.get('materials').controls[i].get('material').touched}">
                              <!-- <app-add-edit-material (materialAdded)="materialAdded($event)" [materialFormControl]="billingForm.get('materials').controls[i].get('material_ids')" [selectedMaterial]="selectedMaterial" [tripId]="''"></app-add-edit-material> -->
                              <material-dropdown  [addNewOptions]="true" (addNewOption)="addNewMaterial($event,i)" [addable]="true" [addItemText]="'+ Add Material'"  [searchable]="true" [addErrorClass]="addErrorClass(billingForm.get('materials').controls[i].get('material'))" [selectedOption]="initialValues.material[i]">
                                <select #customSelect formControlName="material" class="no-style select--modify"
                                  (change)="onCalculationChange()">
                                  <option *ngFor="let option of materialList" [value]="option?.id">
                                    {{ option?.name }}
                                  </option>
                                </select>
                            </material-dropdown>
                            </div>
                            </td>
                            <td>
                              <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(billingForm.get('materials').controls[i].get('unit'))" [selectedOption]="initialValues.unit[i]">
                                <select #customSelect formControlName="unit" class="no-style select--modify"
                                  (change)="onCalculationChange()">
                                  <option *ngFor="let option of unitList" [value]="option?.id">
                                    {{ option?.label }}
                                  </option>
                                </select>
                            </material-dropdown>
                            </td> 
                            <td>
                              <input  (change)="onCalculationChange()" positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('no_of_items').invalid && billingForm.get('materials').controls[i].get('no_of_items').touched
                              }" type="text" placeholder="123456" value="" formControlName="no_of_items" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <input (change)="onCalculationChange()" positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('weight_per_item').invalid && billingForm.get('materials').controls[i].get('weight_per_item').touched
                              }" type="text" placeholder="123456" value="" formControlName="weight_per_item" />
                    <span class="fs-5 mx-2 ">|</span>

                    <material-dropdown [searchable]="true" [placeholder]="'Unit'" [addable]="false" [addBlank]="true" class="dropDownWidth"
                      [selectedOption]="initialValues.weightUnit[i]"
                      [addErrorClass]="addErrorClass(billingForm.controls.materials['controls'][i]['controls']['weight_unit'])">
                      <select #customSelect formControlName="weight_unit" class="no-style select--modify">
                        <option *ngFor="let option of itemUnits" value="{{ option.id }}">
                          {{ option.label }}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </td>
                <td>

                  <div class="d-flex lbh-wrap">
                    <input (change)="onCalculationChange()" positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('length').invalid && billingForm.get('materials').controls[i].get('length').touched
                                  }" type="text" placeholder="L" value="" formControlName="length" />
                    <span class="material-icons ">
                      close
                    </span>
                    <input (change)="onCalculationChange()" positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('breadth').invalid && billingForm.get('materials').controls[i].get('breadth').touched
                                  }" type="text" placeholder="W" value="" formControlName="breadth" />
                    <span class="material-icons ">
                      close
                    </span>
                    <input (change)="onCalculationChange()" positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('height').invalid && billingForm.get('materials').controls[i].get('height').touched
                                  }" type="text" placeholder="H" value="" formControlName="height" />
                    <span class="fs-5 mx-2 ">|</span>

                    <material-dropdown [searchable]="true" [addable]="false" [addBlank]="true" class="dropDownWidth"
                      [selectedOption]="initialValues.volumeUnit[i]" [placeholder]="'Unit'"
                      [addErrorClass]="addErrorClass(billingForm.controls.materials['controls'][i]['controls']['volume_unit'])">
                      <select #customSelect formControlName="volume_unit" class="no-style select--modify">
                        <option *ngFor="let option of itemUnits" value="{{ option.id }}">
                          {{ option.label }}
                        </option>
                      </select>
                    </material-dropdown>

                  </div>




                </td>
                <td>
                  <input positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('total_quantity').invalid && billingForm.get('materials').controls[i].get('total_quantity').touched
                              }" type="text" placeholder="123456" value="" formControlName="total_quantity"
                    (change)="onCalculationChange()" />
                </td>



              </tr>
              <tr>
                <td class="border-end-0"></td>
                <td class="border-end-0 border-start-0" colspan="4"></td>
                <td class="rc-row-btn-wrap border-start-0 border-end-0">
                  <div class="d-flex justify-content-end">
                    <button *ngIf="this.billingForm.controls['materials']['controls'].length-1 ==i "
                      (click)="cloneMaterialItem(controls,i)" class=" row-btn row-btn-copy ms-0"
                      matTooltip="clone"><span class="material-icons">
                        content_copy
                      </span></button>

                    <button (click)="removeMaterialItem(i)"
                      *ngIf="this.billingForm.controls['materials']['controls'].length !== 1"
                      class="  row-btn row-btn-delete "><span class="material-icons">
                        close
                      </span></button>
                    <button (click)="addMoreMaterialItem()"
                      *ngIf="this.billingForm.controls['materials']['controls'].length-1 ==i "
                      class=" row-btn row-btn-add "><span class="material-icons">
                        add
                      </span></button>


                  </div>


                </td>

              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>