<div class="calc-height">
  <app-list-widget [isFilter]="true" [isDateRangeText]="true" [isDateRange]="false" [isDropDown]="true"
    [isExport]="true" [isSettings]="true" [settingsUrl]="settingsUrl" [isAddButton]="true" [filterUrl]="filterUrl"
    [subtractDays]="30" [isDateDropDown]="true" [tabSelectionList]="tabSelectionList"
    (listWidgetData)="listWidgetData($event)" (exportList)="exportList($event)"
    (settingsApplied)="settingsApplied($event)" [buttonData]="buttonData">
    <button class="gb-video-play me-2" id="custom-button-left" (click)="openGothrough()">
      <i class="bi bi-play-circle-fill"></i>
    </button>
  </app-list-widget>
</div>
<div class="custom-table-container  bg-white  vehicle-payment-list-wrap  p-0" id="vehicle-payment-list" (scroll)="onScroll($event)">
  <table [ngClass]="{'h-100':vehiclePaymentList.length==0}">

    <thead>
      <tr>
        <ng-container *ngFor="let heading of vehiclePaymentListHeader">
          <th> {{heading}} </th>
        </ng-container>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="vehiclePaymentList.length == 0">
      <tr class="border-0">
        <td class="bg-white" colspan="30">
          <div class="no-list-data-wrap">
            <figure>
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <h5 class="mt-3 primary-brand-text">No data found!</h5>
          </div>
        </td>
      </tr>

    </tbody>

    <tbody>
      <tr *ngFor="let vp of vehiclePaymentList" [ngClass]="{'activated-row':selectedId==vp.id}" class="def-color">
        <ng-container>

          <ng-container *ngFor="let item of vp['extras'];let i =index">
            <td class="ws-nowrap" *ngIf="item?.name !='Bill No' && item?.name !='Vendor' && item?.id !='bill_amount' && item?.id !='balance_amount' "> {{item?.value ?
              item?.value : '-'}} </td>
            <td class="ws-nowrap" *ngIf="item?.id =='bill_amount' || item?.id =='balance_amount' "> {{item?.value | numberFormat}} </td>
            <ng-container *ngIf="item?.name=='Vendor'"> 
              <td class="td-2l">
                <div class="text-2l">
                <a class="py-0 custom-link " target="_blank"
                  [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/',item?.value?.id]">
                  {{item?.value?.name}} </a>
                </div>
              </td>
            </ng-container>
            <ng-container *ngIf="item?.name =='Bill No'">
              <td><a class="custom-link" [routerLink]="[prefixUrl+'/trip/vehicle-payment/view/',vp?.id]"
                  [queryParams]="{ formList: 'vehicle-payment' }">{{item?.value}}</a></td>
            </ng-container>
          </ng-container>
          <td class="icon-box  tabIndexActive">
            <div class="d-flex justify-content-center align-items-center">
              <div class="position-relative">
                <i class="material-icons more-icon" (click)="optionsList($event, 'list_'+vp.id)"
                  *ngxPermissionsOnly="[vehicleProviderPermission[1],vehicleProviderPermission[2]]">more_vert</i>
                <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'list_'+vp.id}">
                  <li class="more-actions__item" *ngxPermissionsOnly="vehicleProviderPermission[1]"
                    [routerLink]="[prefixUrl+'/trip/vehicle-payment/edit', vp.id]"><i
                      class="material-icons">edit</i>Edit</li>
                  <ng-container *ngIf="vp?.payment_status ==='Unpaid'">
                    <li *ngxPermissionsOnly="vehicleProviderPermission[2]" class="more-actions__item"
                      (click)="popupFunction(vp, i)"><i class="material-icons">delete</i>Delete</li>
                  </ng-container>
                </ul>
              </div>
            </div>

          </td>
        </ng-container>

      </tr>
    </tbody>
  </table>
</div>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>

<app-go-through [goThroughDetais]="goThroughDetais"></app-go-through>