<form [formGroup]="loginForm" (submit)="submitLoginForm()">
    <article class="login screen-height">
    <section class="login-container">
        <div class="login-header text-center">
            <a class="logo-holder">
                <img src="assets/img/trasport-simple-logo1.png" alt="logo" width="302" height="58">
            </a> 
        </div>
        <div class="login-body">
            <h1 class="heading text-center">Sign In<p class="sub-cont">to continue using TransportSimple</p></h1>
            <h6 class="input-wrap error" *ngIf="invalidCred">Invalid credentials provided.</h6>
            <div class="input-wrap error" [ngClass]="addErrorClass(loginForm.controls.username)">
                <label>Email</label>
                <input type="text" placeholder="Username / Email Address" formControlName="username">
                <app-error [controlName]="loginForm.controls.username"></app-error>
            </div>
            <div class="input-wrap error" [ngClass]="addErrorClass(loginForm.controls.password)">
                <label>Password</label>
                <input type="password" placeholder="********" formControlName="password">
                <app-error [controlName]="loginForm.controls.password"></app-error>
            </div>
            <div class="cont-wrap mb-20">
                <label for="2" class="check-box">
                    <input type="checkbox" id="2">
                    <span class="check-mark"></span>
                    <span class="label-text">Remember me</span>
                </label>
                <a class="link" [routerLink]="['/reset']">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn--primary btn--login mg-bottom-10">Login</button>
            <p class="text-center  mb-3">Don't have an account? <a class="link" href="https://transportsimple.com/sign-up.html">Start a free trial</a></p>
        </div>
    </section>
    </article>
</form>
<alert-popup [inputData]="popupInputData" *ngIf="popupInputData.show" (logInOutputData)="confirmButton($event)"></alert-popup>

