<div class="add-fuel-popup ">
    <div class="popup-header ">
      
      <h6 class="d-inline"  >Certificate History ({{docName}})</h6>
     
    </div>
    <div class="popup-body" >
        <div class="fake-tab overflow-auto" >            
        </div>
        <div class="custom-table-container" >
            <table >
                <thead>
                    <tr>
                        <th >CERTIFICATE NAME</th>
                        <th>CERTIFICATE NO</th>
                        <th >ISSUE DATE</th>
                        <th>EXPIRY DATE</th>
                        
                        <th >VIEW </th>



                    </tr>
                </thead>
                
                <tbody *ngIf="documents.length == 0">

                    <tr class="border-0">
                      <td class="bg-white" colspan="30">
                        <div class="no-list-data-wrap">
                          <figure>
                            <img src="assets/img/no-content.png" alt="">
                          </figure>
                          <h5 class="mt-3 primary-brand-text">No data found!</h5>
                        </div>
                      </td>
                    </tr>
          
                  </tbody>
                <tbody>
                            <tr *ngFor="let file of documents">

                                <td >{{file?.name}}</td>
                                <td >{{file?.number ? file?.number : '-'}}</td>
                                <td >{{ changeDatetoNormalDate(file.issue_date)}}</td>
                                <td >{{changeDatetoNormalDate(file.expiry_date)}}</td>
                                
                                <td >
                                    <button (click)="viewUploadedDocument(file)" [disabled]="file?.files.length == 0">
                                            <span class="material-icons fs-4" [ngStyle]="{'color': file?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                                remove_red_eye
                                            </span>
                                    </button>
                                </td>
                            </tr>
                </tbody>
            </table>
        </div>

        
    </div>
    <div class="d-flex justify-content-end p-4 pt-0">
    <button (click)="cancel()" class="btn btn--primary btn--sm">Done</button>
</div>
</div>



<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>

