<div class="layout-bg rounded-3 def-color">

  <div class="gb-popup-header">Add Digital Signature</div>


  <form [formGroup]="signatureForm">
    <div class="row mx-0 pt-4 px-3">
      <p class="text-danger col-lg-12 pb-3" *ngIf="signatureForm.get('document').hasError('required') && signatureForm.get('document').touched ">Digital signature is required</p>

      <div class="col-sm-6  ">
          <div class="input-wrap error w-75" [ngClass]="addErrorClass(signatureForm.controls.name)">
            <label for="" class="fw-bold">Signature Name</label>
            <input type="text" class="no-style input--bd" placeholder="Signature Name" value="" formControlName="name">
            <app-error [controlName]="signatureForm.controls.name"></app-error>

          </div>
     
        <div>
          <div class="input-wrap clearfix w-75"[ngClass]="addErrorClass(signatureForm.controls.designation)" >
            <label for="">Employee Department</label>
            <material-dropdown [searchable]="true"  [addable]="false" class="dropDownWidth"
              [postApiUrl]="employeeDesignationApi" [params]="designationParams"
              (postApiResponse)="getNewDesignations ($event)" (addValueToList)="addParamsToDesignation ($event)"
              [selectedOption]="initialValues.designation">
              <select #customSelect formControlName="designation" class="no-style select--modify" (change)="employeeDesignation()">
                <option  *ngFor="let option of designationList" value="{{ option.id }}">
                  {{ option?.label }}
                </option>
              </select>
            </material-dropdown>
          </div>
        </div>
        <div>
          <button class="btn  my-3 w-auto " *ngIf="digitalSignature" (click)="showDigitalSignature = !showDigitalSignature" >Update Signature</button>
          <button class="btn  my-3 w-auto "  *ngIf="!digitalSignature" (click)="showDigitalSignature = !showDigitalSignature" >Upload Signature</button>
        </div>

      </div>


      <div class="col-sm-6 text-center pl-sm-5">

        <h6 class="fw-bolder mb-2">Preview </h6>
        <p *ngIf="!digitalSignature" class="no-signature my-2">No Signature Added</p>
        <span class="signatureimage my-2 d-block" >
          <button class="del-signature gb-btn-hover " *ngIf="digitalSignature" (click)="deleteUploadedImage()"><span class="material-icons text-danger">delete</span></button><img *ngIf="digitalSignature"  [src]="digitalSignature" /></span>
        <span class="d-block mt-3">Authorized Signature</span>
       <p *ngIf="!signatureForm.controls.name.value" class="my-2"> <span></span> Signautre Name  </p><span class="signature my-2  d-block"> {{ signatureForm.controls.name.value}} </span>
       <p *ngIf="!employeeDeg" class="my-2">Designation   </p> <span class="designation d-block"> {{employeeDeg}} </span>



      </div>


    </div>

  </form>

  <div class="row mx-0 justify-content-between px-4 pb-4 pt-3">
    <button (click)="cancelSignature()" class="btn btn--sm">Cancel</button>
    <button (click)="saveSignature()" class="btn btn--primary btn--sm">Save</button>
  </div>




</div>


<div class="modal fade" [ngClass]="{'show':showDigitalSignature}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog popupWidth" role="document">

    <div class="modal-content">
      <div class="modal-body text-center pd-20">

        <div class="fileUpload"(change)="fileChangeEvent($event)" *ngIf="showDigitalSignature" >
            <input type="file" class="upload" accept="image/png, image/jpeg, image/jpg" />
            <div class="uploadImage">
                <i class="material-icons"> cloud_upload  </i>
                <span>Drag Files here or Browse</span>
                <p  [ngClass]="{'invalid':!isFileSizeValid}">We currently support JPG, PNG make sure your file size is no more than 2MB </p>
                <p  [ngClass]="{'invalid':!isFileSizeValid}" *ngIf="!isFileSizeValid">Your file size is more than 2MB</p>
            </div>
        </div>

        <div class="row align-items-start justify-content-between imageBlock mt-3">
            <div class="originalImage" >
              <p *ngIf="isFileSizeValid && croppedImage" class="py-2 line-height"><strong>Original Image</strong></p>
              <image-cropper [imageChangedEvent]="imageChangedEvent"[maintainAspectRatio]="true"
                [aspectRatio]="5 / 2"
                [resizeToWidth] = "640"
                [resizeToHeight] = "480"
                (imageCropped)="imageCropped($event)"></image-cropper>
            </div>
            <div class="previewImage" >
              <p class="py-2 line-height" *ngIf="isFileSizeValid && croppedImage"><strong>Preview Image</strong></p>
              <img *ngIf="isFileSizeValid && croppedImage" [src]="croppedImage" />

              <div class="mx-2 my-1 uploadButtons">
                <button *ngIf="isFileSizeValid && croppedImage" (click)="save()"> save</button>
                <button (click)="close()">close</button>
              </div>
            </div>
          </div>




      </div>
    </div>
  </div>
</div>
<div *ngIf="showDigitalSignature" class="modal-backdrop fade show"></div>
