
    <div class="right-section__header align-items-center justify-content-between ">
        <h1 class="heading col-10">Chart of Accounts</h1>
        <app-video-play [videoUrl]="videoUrl" class="col-2 videoRight ms-auto tabIndexActive position-relative"></app-video-play>
    </div>
    <form [formGroup]="chartOfAccountsForm">
    <div class="alert-msg" *ngIf="apiError">
        <span class="icon-wrap"></span>
        <p class="message-cont">{{ apiError }}</p>
    </div>
    <div class="form-layout shadow-inset-top-lg form-layout--pd mb-4">
        <div class="form-layout__card active">
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4 align-middle tabIndexActiveFields">
                        <div class="input-wrap mb-0">
                            <label for="" class="input--required">Opening Balance Date</label>
                            <mat-form-field>
                                <input matInput [disabled]="!balanceDateExists" [matDatepicker]="opening_balance_date" placeholder="DD/MM/YYYY" [min]="min_date" [max]="max_date"
                                    (focus)="opening_balance_date.open()" formControlName="opening_balance_date">
                                <mat-datepicker-toggle [disabled]="!balanceDateExists" matSuffix [for]="opening_balance_date"></mat-datepicker-toggle>
                                <mat-datepicker #opening_balance_date [disabled]="!balanceDateExists"></mat-datepicker>
                            </mat-form-field>
                            <span class="error-message">Error messge!</span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-8 align-middle tabIndexActive">
                        <div class="search-options mt-2" id="demo-2">
                            <input type="search" class="no-style  ms-auto" placeholder="Search"
                                [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                            <!-- <span class="border-anim"></span> -->
                        </div>
                    </div>
                </div>
                <div class="table-wrapper table-wrapper--type1 table--nobg table--bd mg-top-30 overflow-auto" id="height-50" >
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th class="w-25">Accounts</th>
                                <th class="w-25">Debits ({{ currency_type?.symbol}})</th>
                                <th class="w-25">Credit ({{ currency_type?.symbol}})</th>
                                <!-- <th class="table-checkbox  text-end">
                                  <label for="check" class="check-box">
                                      <input type="checkbox" id="check">
                                      <span class="check-mark"></span>
                                      <span class="label-text">Add to watchlist</span>
                                  </label>
                              </th> -->
                            </tr>
                        </thead>
                        <tbody formArrayName="account_entries" class="firstTD-max-width">
                            <tr *ngFor="let accountControl of chartOfAccountsForm.controls.account_entries['controls'] | chartOfAccountListFilter: search; let i = index;"
                                [formGroupName]="i">
                                <td>{{ accountControl.controls.name.value }}</td>
                                <td>
                                    <div class="input-wrap tabIndexActive"
                                        [ngClass]="{disabled:accountControl.controls.disableDebit?.value || accountControl.controls.name.value == openingBalAdjustmentName}">
                                        <input type="number" tabindex="0" placeholder="0" formControlName="debit" value=""
                                            [attr.disabled]="accountControl.controls.disableDebit?.value || accountControl.controls.name.value == openingBalAdjustmentName ? '': null"
                                            (change)="roundOffAmount(chartOfAccountsForm.controls.account_entries['controls'][i].controls.debit);"
                                            (input)="calculateTotals(accountControl.value);disableDebitCredit(accountControl,'debit')">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-wrap tabIndexActive"
                                        [ngClass]="{disabled:accountControl.controls.disableCredit?.value || accountControl.controls.name.value == openingBalAdjustmentName}">
                                        <input type="number" tabindex="0" placeholder="0" formControlName="credit" value=""
                                            [attr.disabled]="accountControl.controls.disableCredit?.value || accountControl.controls.name.value == openingBalAdjustmentName ? '': null"
                                            (change)="roundOffAmount(chartOfAccountsForm.controls.account_entries['controls'][i].controls.credit);"
                                            (input)="calculateTotals(accountControl.value);disableDebitCredit(accountControl,'credit')">
                                    </div>
                                </td>
                                <!-- <td class="table-checkbox  text-end"></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabIndexActive">
                <button type="button" (click)="showModal = true;popupOverflowActive()" class="btn btn--rounded btn--default mg-top-30 py-2">
                    <i class="material-icons material-icons--al-top me-2">add</i>
                    Add New Account
                </button></div>
                <add-new-coa [showModal]="showModal" (closeModal)="showModal = $event" (coaAdded)="refresh($event)">
                </add-new-coa>
            </div>
            <div class="account-summary mg-top-30 container-fluid">
                <div class="row min-width-500">
                    <div class="" style="width:97%;">
                        <div class="row mb-3">
                            <div class="col-6  text-end">
                                <h6><label for="" class="acc-label">Total:</label></h6>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-center rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ totalDebit }}</p>
                                </h6>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-right rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ totalCredit }}</p>
                                </h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6  text-end">
                                <h6>
                                    <label for="" class="acc-label">Opening Balance Adjustments:</label>
                                </h6>
                                <p class="acc-desc">This Account will hold the difference in the credits and
                                    debits.</p>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-center rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ obaDebit }}</p>
                                </h6>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-right rupee-symbol rupee-symbol--sm">{{ currency_type?.symbol}} {{ obaCredit }}</p>
                                </h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6  text-end">
                                <h6>
                                    <label for="" class="acc-label">Total Amount:</label>
                                </h6>
                                <p class="acc-desc">Including Opening Balance Adjustment account</p>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-center rupee-symbol rupee-symbol--sm">
                                      {{ currency_type?.symbol}} {{ totalAmountDebit }}</p>
                                </h6>
                            </div>
                            <div class="col-3 text-center">
                                <h6>
                                    <p class="acc-value-right rupee-symbol rupee-symbol--sm">
                                      {{ currency_type?.symbol}} {{ totalAmountCredit }}</p>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end">
                
    <button class="btn btn--sm me-2" type="button" [routerLink]="[prefixUrl+'/onboarding/chart-of-account/list']">Cancel</button>
    <button class="btn btn--primary btn--sm " type="button" (click)="submitOpeningBalance()">Save</button>

</div>
