<div>
    <app-employee-header-v2  [employeeInfo]="employeeInfo" ></app-employee-header-v2>
</div>
<!-- tabs code will be here  -->
<div class="custom-fake-tab custom-fake-tab-sticky calc-height">
    <!-- <button (click)="selectedTab=1 " matRipple  class="tab" [ngClass]="{'active-tab':selectedTab==1}">Overview</button> -->
    <button (click)="selectedTab=2" matRipple  class="tab" [ngClass]="{'active-tab':selectedTab==2}">Employee Info.</button>
    <button (click)="selectedTab=3"  matRipple class="tab" [ngClass]="{'active-tab':selectedTab==3}">Job Info.</button>
      <button (click)="selectedTab=4"  matRipple class="tab" [ngClass]="{'active-tab':selectedTab==4}">Transactions</button>
    <!-- <button (click)="selectedTab=5"  matRipple class="tab" [ngClass]="{'active-tab':selectedTab==5}">Timelog</button> -->
</div>
<div class=" shadow-inset-top tab-content ">
    <!-- <app-employee-over-view-v2  *ngIf="selectedTab==1"></app-employee-over-view-v2> -->
    <app-employee-info-v2  [employeeId]="employeeId" *ngIf="selectedTab==2"></app-employee-info-v2>
    <app-employee-trip-info    [empDisplayName]="empDisplayName" [employeeId]="employeeId" *ngIf="selectedTab==3"></app-employee-trip-info>
    <app-employee-transactions-v2      [empDisplayName]="empDisplayName" [employeeId]="employeeId" *ngIf="selectedTab==4"></app-employee-transactions-v2>
    <!-- <app-employee-timelog-v2  *ngIf="selectedTab==5"></app-employee-timelog-v2> -->
</div>
