.input-wrap{
    &.error{
        .error-box{
            border: 1px solid #eb1e4a;
            &::placeholder{
                color: #eb1e4a;
            }
        }
    }
}
.disabled {
  cursor: not-allowed;
}
.hiddenContent{
    display: none;
  }
  // ::ng-deep{
  //   .removeLoader .ngx-overlay{
  //     display: none !important;
  //   }
  // }
  
