.welcome,.get-started{
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
}
.welcome{
  margin-left: 200px;
  line-height: 47px;
}

.button-class{
  line-height: 27px;
  margin-left: 250px;
}

.start-class{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

