<div class="add-screen-wrap d-flex flex-column">

    <div class="right-section__header align-items-center justify-content-between ">
        <h1 class="heading col-10">{{vehicleInspectionId?'Edit':'Add'}} Vehicle Inspection</h1>
    </div>

    <div class=" position-relative mx add-edit-quotation-wrap def-color">
        <form [formGroup]="vehicleInspectionForm">
            <div class="alert-msg" *ngIf="apiError">
                <span class="icon-wrap"></span>
                <p class="message-cont">{{ apiError }}</p>
            </div>
            <!-- <div class="alert alert-warning text-center" role="alert" *ngIf="!(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))">
                Please add Crane or AWP vehicle categories to gain access to this feature.
            </div>
            <div class="def-color p-4 shadow-inset-top-bottom"  *ngIf="(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))">
                <div class="d-flex align-items-center" [class.disable]="vehicleInspectionId">
                    <div class=" me-4  veh-type" matRipple (click)="vehicleCatagoryChange('1')" *ngIf="vehicleCategiriesObj.categories.includes(1)"
                        [class.active]="vehicleInspectionForm.get('vehicle_category').value =='1'">
                        <img src="../../../../../../../../assets/img/icons/crane-truck.svg" alt="truck image">

                        <p class="text-center mt-2">Crane</p>
                    </div>
                    <div class=" me-4  veh-type" matRipple (click)="vehicleCatagoryChange('2')" *ngIf="vehicleCategiriesObj.categories.includes(2)"
                        [class.active]="vehicleInspectionForm.get('vehicle_category').value =='2'">
                        <img src="../../../../../../../../assets/img/icons/awp.svg" alt="truck image">
                        <p class="text-center mt-2">AWP</p>
                    </div>
                </div>
            </div> -->

            <div class="row mx-0 p-3">
                <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                    <div class="input-wrap clearfix error"
                        [ngClass]="addErrorClass(vehicleInspectionForm.controls.form_name)">
                        <label for="" class="input--required">Inspection</label>
                        <div>
                            <material-dropdown [searchable]="true" [addable]="true"
                                [selectedOption]="initialValues.inspectionName">
                                <select #customSelect formControlName="form_name" class="no-style select--modify"
                                    (change)="onInspectionSelected()">
                                    <option *ngFor="let option of inspectionsList" value="{{ option?.id }}">
                                        {{ option?.form_name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="vehicleInspectionForm.controls.form_name"></app-error>
                        </div>
                    </div>
                </div>
            </div>




            <ng-container *ngIf="isInspectionFormSelected">

                <div class="row mx-0 p-3">
                    <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(vehicleInspectionForm.controls.vehicle)">
                            <label for="" class="input--required">Vehicle No</label>
                            <div>
                                <material-dropdown [searchable]="true" [addable]="true"
                                    [selectedOption]="initialValues.vehicle">
                                    <select #customSelect formControlName="vehicle" class="no-style select--modify"
                                        (change)="onVehicleSelected()">
                                        <option *ngFor="let option of vehiclesList" value="{{ option?.id }}">
                                            {{ option?.reg_number }}
                                        </option>
                                    </select>
                                </material-dropdown>
                                <app-error [controlName]="vehicleInspectionForm.controls.vehicle"></app-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(vehicleInspectionForm.controls.driver)">
                            <label for="">Operator</label>
                            <div>
                                <material-dropdown [searchable]="true" [addable]="true" [addBlank]="true"
                                    [selectedOption]="initialValues.driver">
                                    <select #customSelect formControlName="driver" class="no-style select--modify">
                                        <option *ngFor="let option of driverList" value="{{ option?.id }}">
                                            {{ option?.emp_name_id }}
                                        </option>
                                    </select>
                                </material-dropdown>
                                <app-error [controlName]="vehicleInspectionForm.controls.driver"></app-error>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(vehicleInspectionForm.controls.inspected_by)">
                            <label for="">Inspected By</label>
                            <div>
                                <material-dropdown [searchable]="true" [addable]="true"  [addBlank]="true"
                                    [selectedOption]="initialValues.inspected_by">
                                    <select #customSelect formControlName="inspected_by" class="no-style select--modify">
                                        <option *ngFor="let option of employeeList" value="{{ option?.id }}">
                                            {{ option?.emp_name_id }}
                                        </option>
                                    </select>
                                </material-dropdown>
                                <app-error [controlName]="vehicleInspectionForm.controls.inspected_by"></app-error>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="input-wrap clearfix">
                            <label for="" class="input--required">Inspection No.</label>
                            <input type="text" class="no-style input--bd" formControlName="inspection_no"
                                placeholder="123456" value="" readonly>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-6 input-wrap error"
                        [ngClass]="addErrorClass(vehicleInspectionForm.controls.inspection_date)">
                        <label class="input--wrap input--required" for="">Inspection Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="inspection_date" formControlName="inspection_date"
                                placeholder="DD/MM/YYYY" (focus)="inspection_date.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="inspection_date"></mat-datepicker-toggle>
                            <mat-datepicker #inspection_date></mat-datepicker>
                        </mat-form-field>
                        <app-error class="removePositionDate"
                            [controlName]="vehicleInspectionForm.controls.inspection_date"></app-error>
                    </div>

                </div>



                <div>

                    <ng-container *ngIf="!isCategoryChanged">
                        <div class="gb-fake-tab-wrapper">
                            <span> Inspection Details</span>
                        </div>
                        <app-generic-inspection-checklist [inspectionPermission]="inspectionPermission" [isInspectionCheckListmandatory]="isInspectionCheckListmandatory" [apiUrl]="apiUrl" [inspectionScreen]="inspectionScreen" [settingsRoute]="settingsRoute" [markForTouched]="markForTouched" [parentForm]="vehicleInspectionForm" [inspectionDetails]="inspectionDetails"></app-generic-inspection-checklist>
                        <div class="row mx-0 ">
                            <div class="col-lg-6 px-0 ">
                                <div class="gb-fake-tab-wrapper">
                                    <span>Inspection Status</span>
                                </div>
                                <div class="p-3 pb-0">
                                    <p class="fw-semibold mb-3 input--required">Job Ready</p>
                                    <div
                                        [ngClass]="addErrorClass(vehicleInspectionForm.controls.job_ready_mandatory)">
                                        <mat-radio-group aria-label="Select an option"
                                            formControlName="job_ready_mandatory">
                                            <mat-radio-button color="primary" [value]="true"
                                                class="fw-semibold mb-3">Yes</mat-radio-button>
                                            <br>
                                            <mat-radio-button color="primary" [value]="false"
                                                class="fw-semibold ">No</mat-radio-button>
                                        </mat-radio-group>
                                        <app-error
                                            [controlName]="vehicleInspectionForm.controls.job_ready_mandatory"
                                            class="error-text my-2 d-block"></app-error>
                                    </div>
                                </div>
                                <div class="p-3 pb-0 ">
                                    <p class="fw-semibold mb-3">Maintenance Required</p>
                                    <div
                                        [ngClass]="addErrorClass(vehicleInspectionForm.controls.maintenance_required)">
                                        <mat-radio-group aria-label="Select an option"
                                            formControlName="maintenance_required">
                                            <mat-radio-button color="primary" [value]="0"
                                                class="fw-semibold mb-3">No</mat-radio-button>
                                            <br>
                                            <mat-radio-button color="primary" [value]="1"
                                                class="fw-semibold ">Minor</mat-radio-button>
                                            <br>
                                            <br>
                                            <mat-radio-button color="primary" [value]="2"
                                                class="fw-semibold mb-3">Major</mat-radio-button>
                                        </mat-radio-group>
                                        <app-error
                                            [controlName]="vehicleInspectionForm.controls.maintenance_required"
                                            class="error-text my-2 d-block"></app-error>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-lg-6 px-0 ">
                                <div class="gb-fake-tab-wrapper">
                                    <span>Remarks </span>
                                </div>
                                <div class="p-3 pb-0">
                                    <p class="fw-semibold "></p>
                                    <div class="input-wrap error mt-3"
                                        [ngClass]="addErrorClass(vehicleInspectionForm.controls.remarks)">
                                        <label for="" class="input">Remarks</label>
                                        <input formControlName="remarks" type="text" class="no-style input--bd"
                                            placeholder="" value="">
                                        <app-error [controlName]="vehicleInspectionForm.controls.remarks"></app-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->

                        <!-- </div> -->
                    </ng-container>
                </div>
            </ng-container>




        </form>
    </div>
    <ng-container  *ngIf="!isInspectionFormSelected">
        <div class=" flex-grow-1 d-flex justify-content-center align-items-center flex-column">
            <i class="bi bi-truck select-veh-truck"></i>
            <p class="select-veh-text text-center line-height-normal "> Please select a Inspection Form to proceed</p>
        </div>
    </ng-container>
    


</div>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end"  *ngIf="isInspectionFormSelected">
    <ng-container *ngIf="(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))">
        <button class="btn me-2 btn--sm" type="button"
        [routerLink]="[preFixUrl+'/vehicle-inspection/list']">Cancel</button>
    <div class="d-flex align-items-center btn-group-1">
        <button class="btn btn--primary btn--sm border-end f-b" (click)="saveVehicleInspection()">
            {{vehicleInspectionId?'Update':'Save'}} </button>

    </div>
    </ng-container>
</div>