<div class="row" *ngIf="!isEdit">
  <div class="col-sm-6" *ngIf="address && address.length">
    <div class="address-wrap mg-bottom-30">
      <h6 class="address-head tabIndexActive">Billing Address:
        <button (click)="onEdit(0)" class="material-icons more-icon edit-icon p-0 maticon-17 align-middle">edit</button>
      </h6>
      <address>
        <p class="address-line" *ngIf="address[0].address_line_1||address[0].street">{{ address[0].address_line_1 ?
                      address[0].address_line_1 + ', ': '' }} {{
                      address[0].street }}</p>
        <p class="address-line" *ngIf="address[0].state||address[0].country|| address[0].pincode">{{address[0].state }},{{address[0].country }}, {{
                      address[0].pincode }}</p>
      </address>
    </div>
  </div>
  <div class="col-sm-6" *ngIf="address && address.length">
    <div class="address-wrap mg-bottom-30">
      <h6 class="address-head tabIndexActive">Shipping/Delivery Address:
        <button  (click)="onEdit(1)" class="material-icons more-icon edit-icon p-0 maticon-17 align-middle">edit</button>
      </h6>
      <address>
        <p class="address-line" *ngIf="address[1].address_line_1||address[1].street">{{address[1].address_line_1 ?
                      address[1].address_line_1 + ', ':'' }} {{
                      address[1].street }}</p>
        <p class="address-line" *ngIf="address[1].state||address[1].country|| address[1].pincode">{{address[1].state }},{{address[1].country }}, {{
                      address[1].pincode }}</p>
      </address>
    </div>
  </div>
</div>

<div class="form-layout__card" [formGroup]="addressForm" *ngIf="isEdit">
  <div class="form-layout__header">
    <h2 class="sub-heading">
      {{display_address}}
    </h2>
    <span class="collapse-line"></span>
  </div>
  <div class="form-body">
    <div class="row tabIndexActiveFields">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="input-wrap">
          <label for="" class="">Address Line 1</label>
          <input type="text" class="no-style input--bd" placeholder="No. 10/2 Ground Floor" value=""
            formControlName="address_line_1">
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(addressForm.controls.street)">
          <label for="" class="">Address Line 2</label>
          <input type="text" class="no-style input--bd" placeholder="2nd Stage" value="" formControlName="street">
          <app-error [controlName]="addressForm.controls.street">
          </app-error>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(addressForm.controls.country)">
            <label for="" class="">Country</label>
            <material-dropdown [searchable]="false" [addable]="false"  class="dropDownWidth" [selectedOption]="initialValues.country" >
                <select #customSelect formControlName="country" class="no-style select--modify" (change)="getStates()">
                    <option *ngFor="let option of country" value="{{ option?.name }}">
                        {{ option?.name }}
                    </option>
                </select>
            </material-dropdown>
            <app-error [controlName]="addressForm.controls.country"></app-error>
        </div>
    </div>

      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="input-wrap max-height-150 error" [ngClass]="addErrorClass(addressForm.controls.state)">
          <label for="" class="">State</label>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth" [selectedOption]="initialValues.state" [addBlank]="true">
            <select #customSelect formControlName="state" class="no-style select--modify"
              (change)="onBillingStateChange();">
              <option *ngFor="let option of shippingStateList" value="{{ option?.name }}">
                {{ option?.name }}
              </option>
            </select>
          </material-dropdown>
          <!-- <app-error [controlName]="addPartyForm.controls.address.controls[1].controls.state"> -->
          <!-- </app-error> -->
        </div>
      </div>


      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(addressForm.controls.pincode)">
          <label for="" class="">Pincode</label>
          <input type="text" maxlength="70" class="no-style input--bd" placeholder="Eg:234155" value=""
            formControlName="pincode">
          <!-- <app-error [controlName]="addPartyForm.controls.address.controls[1].controls.pincode"> -->
          <!-- </app-error> -->
        </div>
      </div>
    </div>
    <div class="toggle-wrapper mg-bottom-30" *ngIf="selectedIndex === 0">
      <span class="toggle-label">Shipping Address same as billing Address</span>
      <label for="toggle" class="toggle-switch">
        <input type="checkbox" id="toggle" (change)="toggleSameAddress($event)">
        <span class="toggle-box">
          <span class="toggle-circle"></span>
        </span>
      </label>
    </div>
  </div>
  <div class="button-wrap tabIndexActive">
    <button class="btn" (click)="cancelAddress()">Cancel</button>
    <button class="btn btn--primary mg-left-10" (click)="saveAddress()">Save</button>
  </div>
</div>
