@import "../../../../../../../assets/styles/helpers/variable";
.fake-tab-bar {
    background-color: #eaeaea;
    height: 51px;
    padding-top: 2.5px;
}

.fake-tab-bar span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #676A6E;
    background-color: #fefefe;
    border-radius: 6px 6px 0 0;
    height: 100%;
    max-width: 180px;
}
.input-wrap label {
    font-size: 13px;
    font-weight: 600;
    color: $text-color;
}
.error-reg {
    color: #eb1e4a;
    font-size: 12px;
  }