<div class="wrap px-4 py-4 shadow-inset-top" (mouseenter)="isTripTaskUpdated()">
  <div class="row mb-2">
    <div class="col-12">
      <p class="pe-4 d-inline-block">
        <span class="status-label ">Route : </span> {{tripDetails?.route_code}}
      </p>
    </div>
  </div>


  <div class="row justify-content-between ">
    <div class="col-lg-9 ">
      <div class="row" *ngIf="!tripDetails?.is_transporter && this.tripDetails?.is_driver_trip">
        <div class="col-3 pt-3">
          <span class="status-label">Driver Status

          </span>
          <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="driver_Status.content.length" position="right"
            [toolTipContent]="driver_Status"></app-tool-tip>
        </div>
        <div class="col-9">
          <app-trip-v2-status statusType="driver" [statusDetails]="driverStatus"></app-trip-v2-status>

        </div>

      </div>
      <div class="row">
        <div class="col-3 pt-3">
          <span class="status-label">Office Status

          </span>
          <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="office_Status.content.length" position="right"
            [toolTipContent]="office_Status"></app-tool-tip>
        </div>
        <div class="col-9">
          <app-trip-v2-status statusType="office" [statusDetails]="statusArray2"></app-trip-v2-status>
        </div>

      </div>
    </div>
    <div class="col-lg-3  d-flex align-items-center justify-content-center flex-lg-column p-3">
      <ng-container *ngIf="headerData?.vehicle">
        <button [matTooltip]="locationReachFullName" matTooltipClass="material-toltip-class" matTooltipPosition="above"
          class="btn btn--primary w-75 mb-lg-3 rounded-pill mr-4 m-lg-0 no-wrap" [disabled]="isTripComplete || isAllDisabled"
          (click)="locationReached()">
          {{reachButtonName}}
        </button>
        <button class="btn w-75   rounded-pill  no-wrap" [disabled]="isTripComplete || isAllDisabled" (click)="finishRoute()">Finish
          Route</button>
      </ng-container>
    </div>
  </div>
  <div class="row justify-content-between " *ngIf="bdpDetails?.has_bdp_trip">
    <div class="col-lg-9 ">
      <div class="row">
        <div class="col-3 pt-3">
          <span class="status-label">BDP Status

          </span>
          <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="bdp_Status.content.length" position="right"
            [toolTipContent]="bdp_Status"></app-tool-tip>
        </div>
        <div class="col-9">
          <app-trip-v2-status statusType="bdp-status" [statusDetails]="bdpStatus"></app-trip-v2-status>
        </div>

      </div>
    </div>
    <div class="col-lg-3  d-flex align-items-center justify-content-center flex-lg-column p-3">

      <button [disabled]="this.bdpDetails?.milestone_status==4"
        class="btn btn--primary w-75 mb-lg-3 rounded-pill mr-4 m-lg-0 no-wrap" (click)="bdpStatusChange()">
        {{bdpButtonName}}

      </button>
    </div>
  </div>

</div>