<form [formGroup]="editNewTyreForm">
      <div class="form-layout__card mg-top-30" style="margin-left: 14px; margin-right: 14px;">
       <div class="row" style="margin-left: 3px; margin-right: 14px;">
        <div class="challan-header p-0">
             <div class="input-group input-group-sm mb-3 input-wrap error" [ngClass]="addErrorClass(editNewTyreForm.controls.hsn_code)">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">HSN Code
                        </span>
                    </div>
                     <input type="text" class="form-control error-box " aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Add HSN Code"
                     formControlName="hsn_code">
                     <app-error [controlName]="editNewTyreForm.controls.hsn_code"></app-error>
             </div>
         </div>

    </div>
           <div class="table-wrapper table-wrapper--type1 table-wrapper--type2  table--bd table--nobg dropDownOverflow">
            <div *ngIf="!isUniqueNumber">
                <div class="alert-msg">
                    <span class="icon-wrap"></span>
                    <p class="message-cont">Unique number already exists</p>
                </div>
                <br>
            </div>
            <table class="table-container table-item">
                <thead>
                    <tr>
                        <th width=15%>Tyre Details</th>
                        <th width=15%></th>
                        <th width=15%></th>
                        <th width=15%>Tyre Unique No.</th>
                        <th width=10%>Amount ({{ currency_type?.symbol}})</th>
                        <th width=15%>Total ({{ currency_type?.symbol}})</th>
                        <th width=15%></th>
                    </tr>
                </thead>
                <tbody formArrayName="new_tyre">
                  <ng-container *ngFor="let otherItem of editNewTyreForm.controls.new_tyre['controls']; let i = index;" [formGroupName]="i">
                    <tr>
                            <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                                <div>
                                      <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth" [disabled]="itemsDisable[i]"
                                      [postApiUrl]="manufacturerApi"
                                      [params]="manufacturerParams"
                                      (postApiResponse)="getNewManufacturer($event, i)"
                                      (addValueToList)="addNewManufacturer($event)"
                                      [selectedOption]="initialValues.manufacturer[i]">
                                      <select #customSelect formControlName="manufacturer" class="no-style select--modify" (change)="onMakeChange(otherItem,i)">
                                          <option *ngFor="let option of staticOptions?.tyreManufacturer" value="{{ option?.id }}">
                                              {{ option?.label }}
                                          </option>
                                      </select>
                                  </material-dropdown>
                                </div>
                            </td>
                            <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                              <material-dropdown [searchable]="true" [addable]="true" [disabled]="itemsDisable[i]"
                                        [postApiUrl]="modelApi"
                                        [params]="modelParams"
                                        (postApiResponse)="getNewModel($event, i)"
                                        (addValueToList)="addNewModel($event)"
                                         [selectedOption]="initialValues.model[i]">
                                            <select #customSelect formControlName="model" class="no-style select--modify">
                                                <option *ngFor="let model of tyreModel[i]" value="{{model.id}}">
                                                    {{ model.name}}
                                                </option>
                                            </select>
                                </material-dropdown>
                            </td>
                            <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                              <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth" [disabled]="itemsDisable[i]"
                                            [postApiUrl]="manufacturerApi"
                                            [params]="threadTypeParams"
                                            (postApiResponse)="getThreadTYpe($event, i)"
                                            (addValueToList)="addNewThreadTYpe($event)"
                                            [selectedOption]="initialValues.threadType[i]">
                                            <select #customSelect formControlName="thread_type" class="no-style select--modify">
                                                <option *ngFor="let option of staticOptions?.threadType" value="{{ option?.id }}">
                                                    {{ option?.label }}
                                                </option>
                                            </select>
                                </material-dropdown>
                            </td>
                            <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                              <input type="text" [ngClass]="{'unique_number_error':!otherItem.controls.unique_number_status.value ||(otherItem.controls.unique_number.hasError('required') && otherItem.controls.unique_number.touched)}" placeholder="1000" [readonly]="itemsDisable[i]" formControlName="unique_number" (focusout)="checkUnique(otherItem)">
                            </td>
                            <td [ngClass]="{disable:itemsDisable[i]}">
                                <div class="input-wrap" [ngClass]="addErrorClass(otherItem.controls.rate)">
                                    <input positiveThreeDigitDecimalNumber type="text" placeholder="1000" formControlName="rate"
                                    [readonly]="itemsDisable[i]" (change)="onCalcuationsChanged()">
                                </div>
                            </td>
                            <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                                <div class="input-wrap">
                                    <input positiveThreeDigitDecimalNumber type="text" class="error-box" placeholder="1000" [readonly]="itemsDisable[i]"
                                        formControlName="total"
                                       readonly >
                                </div>
                            </td>
                                <td class="text-center">
                                  <span class="material-icons drop-down " (click)="otherItem.controls.additionalDetails.setValue(!otherItem.controls.additionalDetails.value) "
                                  *ngIf="!otherItem.controls.additionalDetails.value ">arrow_drop_down</span>
                                  <span class="material-icons drop-down " (click)="otherItem.controls.additionalDetails.setValue(!otherItem.controls.additionalDetails.value) "
                                  *ngIf="otherItem.controls.additionalDetails.value ">arrow_drop_up</span>
                                <span class="material-icons delete" [ngClass]="{disable:itemsDisable[i]}"
                                (click)="removeOtherItem(i)" *ngIf="editNewTyreForm.controls.new_tyre['controls'].length !== 1">add_circle_outline</span>
                                <span class="material-icons add"
                                (click)="addMoreOtherItem()" *ngIf="editNewTyreForm.controls.new_tyre['controls'].length -1== i">add_circle_outline</span>
                                <span class="material-icons add" *ngIf="editNewTyreForm.controls.new_tyre['controls'].length -1== i" (click)="cloneTyreItem(otherItem)">file_copy</span>
                            </td>
                        </tr>
                        <tr class="border-top-0" *ngIf="otherItem.controls.additionalDetails.value" [ngClass]="{disable:itemsDisable[i]}">
                          <td colspan="4" class="fs-12 pt-0">
                              <input type="text" placeholder="Description" formControlName="note" [readonly]="itemsDisable[i]">
                          </td>
                          <td class="fs-12  pe-2">
                              <span class="table-footer-actions"><a class="clear-item" (click)="clearData(i)">Clear</a></span>
                          </td>
                      </tr>
                  </ng-container>
                </tbody>
            </table>
        </div>
        <div class="table-footer-actions mg-top-20" [ngClass]="{disable:itemsDisable[0]}">
            <a class="clear-item"  (click)="clearAllOtherItems()">Remove all</a>
        </div>
      </div>

    <div class="form-layout__card mg-top-30">
      <div class="table-wrapper table--nobg table-wrapper--mobile overflow-initial">
          <table class="table-container">
              <tbody>
                  <tr class="border-top-0 border-bottom-0">
                      <td width=50% class="p-0 disp-none"></td>
                      <td width=50% class="p-0">
                          <div class="table-wrapper table-wrapper--type1 table--nobg mc-expenses-wrap">
                              <table class="table-container mg-bottom-30 mc-expenses">
                                  <tbody>
                                      <tr class="border-top-0">
                                          <td width=75% class=" text-end bill-item">
                                              Subtotal:
                                          </td>
                                          <td width=25% class="rupee-symbol rupee-symbol--sm px-0  text-end bill-value">
                                            {{ currency_type?.symbol}} {{ newTryeTotal.subtotal }}
                                          </td>
                                      </tr>
                                      <tr class="border-top-0">
                                          <td width=75% class=" text-end pt-0">
                                                <div class="gst">
                                                        Discount
                                                        <div class="input-wrap">
                                                            <input positiveThreeDigitDecimalNumber type="text" class="mg-left-10 error-box" placeholder="0.00"
                                                            formControlName="discount"
                                                            (change)="onCalcuationsChanged()">
                                                        </div>
                                                        <div class="select-wrap d-inline-block">
                                                            <select name="" class="no-style select--modify custom-select"
                                                                formControlName="discount_type"
                                                                (change)="onCalcuationsChanged()">
                                                                <option value="0">%</option>
                                                                <option value="1"> {{ currency_type?.symbol}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                          </td>
                                          <td width=25% class="rupee-symbol rupee-symbol--sm px-0  text-end">
                                            {{ currency_type?.symbol}}  {{ newTryeTotal.discountTotal }}
                                          </td>
                                      </tr>


                                      <tr class="border-top-0">

                                          <td width=75% class="text-start pt-0">
                                              <div class="gst">
                                                <div id="other-option">
                                                    <material-dropdown
                                                        [selectedOption]="initialValues.adjustmentAccount">
                                                        <select #customSelect formControlName="adjustment_account"
                                                            class="no-style select--modify">
                                                            <option  *ngFor="let option of expenseAccountList"
                                                                value="{{ option.id }}">{{ option.name }}
                                                            </option>
                                                        </select>
                                                    </material-dropdown>
                                                </div>
                                                  <div class="input-wrap">
                                                    <input twoDigitDecimalNumber type="text" class="error-box" placeholder="0.00"
                                                    formControlName="adjustment"
                                                    (change)="onCalcuationsChanged()">
                                                  </div>
                                                  <div class="select-wrap d-inline-block">
                                                        <select name="" class="no-style select--modify custom-select"
                                                            formControlName="adjustment_choice"
                                                            (change)="onCalcuationsChanged()">
                                                            <option value="0">%</option>
                                                            <option value="1">{{ currency_type?.symbol}}</option>
                                                        </select>
                                                  </div>
                                            </div>
                                        </td>
                                          <td width=25% class="rupee-symbol rupee-symbol--sm px-0  text-end">
                                            {{ currency_type?.symbol}} {{ newTryeTotal.adjustmentAmount }}
                                          </td>
                                      </tr>
                                      <tr class="border-top-0">
                                          <td colspan="2" class="pt-0"></td>
                                      </tr>
                                      <tr class="">
                                          <td class=" text-end bill-total disp-w-50">
                                              Total:
                                          </td>
                                          <td width=25% class="rupee-symbol px-0  text-end bill-total">
                                            {{ currency_type?.symbol}}  {{ newTryeTotal.total }} </td>
                                      </tr>

                                    <tr class="border-top-0">
                                        <td colspan="2" class="pt-0"></td>
                                    </tr>
                                    <tr>
                                        <td class=" text-end bill-total disp-w-50">
                                            Balance:
                                        </td>
                                        <td width=25% class="rupee-symbol px-0  text-end bill-total">
                                          {{ currency_type?.symbol}}  {{ newTryeTotal.balance }} </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

</form>

