<div class="calc-height">
  <app-list-widget (listWidgetData)="listWidgetData($event)" listTitle="Driver App Access management"
    [isAddButton]="false" [isSettings]="false" [isDropDown]="false" [isDateDropDown]="false" [isExport]="false"
    [isFilter]="true" [filterUrl]="filterUrl">
    <button class="btn btn--primary py-2" id="custom-button-right" (click)="addNewAccess()"> + Add Access </button>
  </app-list-widget>
  <div class="alert-msg" *ngIf="apiError">
    <span class="icon-wrap"></span>
    <p class="message-cont">{{ apiError }}</p>
</div>
</div>

<div class="custom-table-container " id="driver-list" (scroll)="onScroll()">
  <table [ngClass]="{'h-100':driverAppUsersList.length==0}">
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Contact Number</th>
        <th>Designation</th>
        <th>Auth Key</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngIf="driverAppUsersList.length == 0">
      <tr class="border-0">
        <td class="bg-white" colspan="30">
          <div class="no-list-data-wrap">
            <figure>
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <h5 class="mt-3 primary-brand-text">No data found!</h5>
          </div>
        </td>
      </tr>

    </tbody>
    <tbody>

      <tr *ngFor="let data of driverAppUsersList; let i = index;">
        <td>{{data.display_name }}</td>
        <td>{{data.country_code }} {{data.contact_number }}</td>
        <td>{{data.designation? data.designation:'-'}}</td>
        <td><span>{{ data.otp }} &nbsp; &nbsp; <mat-icon [ngClass]="{'disable': !data.toggle_status}"
              (click)="onRefreshAuthKey(data)">autorenew</mat-icon> </span>
        </td>
        <td>
          <label for="active-{{data.display_name}}" class="toggle-switch">
            <input type="checkbox" id="active-{{data.display_name}}" [(ngModel)]="data.toggle_status"
              (change)="switchToggle(data)">
            <span class="toggle-box">
              <span class="toggle-circle"></span>
            </span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" [ngClass]="{'show':isAddDriverOpen}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog screen-center modal--xls" style="max-width: 400px;" role="document">
    <div class="modal-content ">
      <div class="popup-header ">
        <h6 class="d-inline">Add Access &nbsp;</h6>
      </div>
      <form [formGroup]="driverAccessForm" class=" px-3 mt-3">
        <div class="">

          <div>
            <div class="input-wrap "  [ngClass]="addErrorClass(driverAccessForm.controls.emp_id)">
              <label for="" class="input position-relative">Driver name</label>
              <material-dropdown [searchable]="true" class="dropDownWidth" [selectedOption]="employeeSelectedOption">
                <select #customSelect formControlName="emp_id" class="no-style select--modify"
                  (change)="onEmployeeSelected()">
                  <option *ngFor="let employee of employeeList" value="{{ employee.id }}">
                    {{ employee?.display_name }}</option>
                </select>
              </material-dropdown>
            <app-error [controlName]="driverAccessForm.controls.emp_id"></app-error>
            </div>
          </div>

          <div>
            <div class="input-wrap clearfix">
              <label for="" class="input">Designation</label>
              <input type="text" class="no-style input--bd" placeholder="" value="" readonly
                formControlName="designation">
            </div>
          </div>

          <div>
            <div class="input-wrap clearfix">
              <label for="" class="input">Phone number</label>
              <input type="text" class="no-style input--bd" placeholder="" value="" readonly formControlName="number">
            </div>
          </div>
        </div>
      </form>
      <div class="tabIndexActive row mx-0 justify-content-around px-2 mb-2">
        <button class="btn btn-primary" (click)="onClickCancel()">Cancel</button>
        <button class="btn btn--primary" (click)="saveDriverAssign()">Save</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isAddDriverOpen" class="modal-backdrop fade show"></div>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>