@import "../../../../../../../assets/styles/helpers/variable";


.details-tab {
  min-height: 350px;

}

:host::ng-deep {
  .gb-tab-wrapper .mat-tab-label {
    padding: 0 24px !important;
    flex-grow: 1 !important;  

  }
}

