input{

  display: inline-block;
}

span.margin-01 {
  margin-right: 30px;
}

span.margin-02 {
  margin-right: 25px;
}

span.margin-03 {
  margin-right: 17px;
}
form.mt-4.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
  padding: 30px;
}
