<div class="right-section__header">
    <h1 class="heading col-md-6 col-7 ps-0">{{ account_name?.account_name }}</h1>
    <div class="header-actions mobile-calender m-0 w-auto  col-md-6 col-5 justify-content-end px-0 tabIndexActive">
        <input type="text" class="form-control date-range no-style date-range-style" [ngModelOptions]="{standalone: true, adaptivePosition: true}" bsDaterangepicker
        [(ngModel)]="selectedRange" (ngModelChange)="filterAccountTransactionDetail($event)"
        [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', showWeekNumbers: false }">
        <button class="btn--action mg-left-10 material-icons py-1" (click)="downloadPdf(true)"> print</button>
        <button class="btn btn--primary btn--dropdown  mg-left-10 export-mobile-icon" (click)="$event.stopPropagation();openCoa = !openCoa">Export<span><i class="fas fa-file-export ms-2"></i></span>
          <div class="more-actions__menu" [ngClass]="{'show': openCoa}">
              <button class="more-actions__item w-100 py-2" type="button" (click)="downloadXlsx()"  >Export As xlsx</button>
              <button class="more-actions__item w-100 py-2" type="button"  (click)="downloadPdf()" >Export As Pdf</button>
          </div>
         </button>
    </div>
</div>
<div class="form-layout balance-sheet-wrap box-shadow" id="form-height">
    <div class="balance-sheet-table">
        <div class="table-wrapper" id="table-height">
                <table class="table-container">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Transaction Type</th>
                            <th>Transaction No.</th>
                            <th>Debit({{ currency_type?.symbol}})</th>
                            <th>Credit({{ currency_type?.symbol}})</th>
                            <th>Amount({{ currency_type?.symbol}})</th>
                            <th>Balance({{ currency_type?.symbol}})</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>As on {{ opening_balance?.date }}</td>
                            <td colspan="2">Opening Balance</td>
                            <td>{{ opening_balance?.debit }}</td>
                            <td >{{ opening_balance?.credit }}</td>
                            <td>{{ opening_balance?.amount }}</td>
                            <td >{{ opening_balance?.balance }}</td>
                        </tr>
                        <ng-container *ngFor="let transaction of transactions">
                            <tr>
                                <td>{{ transaction.date }}</td>
                                <td class="tabIndexActive"><button class="link p-0" (click)="routeToview(transaction)">{{ transaction.transaction_type }}</button></td>
                                <td>{{ transaction.transaction_no }}</td>
                                <td>{{ transaction.debit }}</td>
                                <td >{{ transaction.credit }}</td>
                                <td >{{ transaction.amount }}</td>
                                <td >{{ transaction.balance }}</td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="3" class="bill-value">Sum of all Credits and Debits</td>
                            <td class="bill-value">{{ end_balance?.debit }}</td>
                            <td class="bill-value">{{ end_balance?.credit }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>As on {{ closing_balance?.date }}</td>
                            <td colspan="2">Closing Balance</td>
                            <td >{{ closing_balance?.debit }}</td>
                            <td >{{ closing_balance?.credit }}</td>
                            <td >{{ closing_balance?.amount }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bill-value">{{ final_balance?.debit }}</td>
                            <td class="bill-value">{{ final_balance?.credit }}</td>
                            <td></td>
                            <td class=" bill-value">{{ final_balance?.balance }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
