<div *ngIf="!showUnloading" class="form-layout__card formResponsiveTable tabIndexActive">
  <div action=""  [formGroup]="kmsForm">
      <div class="mg-bottom-30">
      <div
        class="table-wrapper table--bd table--nobg table-wrapper--type1 table-wrapper--type2 tcol-6 dropDownOverflow">
        <table class="table-container" formArrayName="kms">
          <thead>
            <tr class="desktop_th">
              <th>Rate Per KMS</th>
              <th *ngIf="showTotal">total KMS</th>
              <th>Charged KMS</th>
              <th>Freight Amount</th>
              <th *ngIf="showMaterial">Material</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody *ngFor="let item of kmsForm['controls'].kms['controls']; let i = index;"
          [formGroupName]="i">
            <tr class="mobile-flex">
              <td class="max-wd-120  ps-2">
                <h5 class="th_h5_mobile">Rate Per KMS</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" (change)="calculateFreightAmount(item)" value="" [ngClass]="{'showInvalid':item.controls.rate.invalid&&item.controls.rate.touched}"   formControlName="rate">
                </div>
              </td>
              <td class="max-wd-120" *ngIf="showTotal">
                <h5 class="th_h5_mobile">total KMS</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" (change)="onChangeLoadingWeight(item)" value="" [ngClass]="{'showInvalid':item.controls.total_units.invalid&&item.controls.total_units.touched}"   formControlName="total_units">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Charged KMS</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" value="" (change)="calculateFreightAmount(item)" [ngClass]="{'showInvalid':item.controls.charged_units.invalid&&item.controls.charged_units.touched}"   formControlName="charged_units">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Freight Amount</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" value="" formControlName="freight_amount" [ngClass]="{'showInvalid':item.controls.freight_amount.invalid&&item.controls.freight_amount.touched}"   readonly>
                </div>
              </td>
              <td *ngIf="showMaterial" class="min-height-96 max-wd-120 mobile-width-100">
                <h5 class="th_h5_mobile">Material</h5>
                  <div  class="max-wd-120 d-flex mat-dropdowwn-with-add">
                  <button class="btn btn--primary add-material-icon material-icons" (click)="addNewMaterial(i)">add</button>
                  </div>

                  <span *ngFor="let selected of selectedMaterialList[i]" >
                    {{selected.display}},
                  </span>
              </td>
            <!-- <td>
              <span class="material-icons delete" *ngIf="kmsForm['controls'].kms['controls'].length>1"
                (click)="removeItem(i)">add_circle_outline</span>
              <span class="material-icons add" (click)="addMoreItem()"
                *ngIf="i === ( kmsForm['controls'].kms['controls'].length - 1)">add_circle_outline</span>
          </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6 col-4  pe-0">
          <div class="table-footer-actions mg-top-20">
            <button class="clear-item p-0" (click)="clearAllClient()">Remove all</button>
          </div>
        </div>
        <div class="col-md-6 mg-top-20  text-end col-8">
          <p><strong>Total kms:</strong> <span class="h6"> {{total.kms}}</span> kms | <strong>Total Freight:</strong> <span class="h6"> {{total.freight}}</span></p>
        </div>
      </div>


    </div>
  </div>
</div>

<div *ngIf="showUnloading" class="form-layout__card formResponsiveTable  tabIndexActive" [formGroup]="kmsForm">
  <div  action="" class="form-body show" formArrayName="kms">
    <div class="mg-bottom-30" *ngFor="let item of kmsForm['controls'].kms['controls']; let i = index;"
    [formGroupName]="i">
      <div class="table-wrapper table--bd table--nobg table-wrapper--type1 table-wrapper--type2 tcol-6 dropDownOverflow">
        <table class="table-container">
          <thead>
            <tr class="desktop_th">
              <th>Material</th>
              <th>Rate per Kms</th>
              <th>Est. Kms</th>
              <th>Charged Kms</th>
              <th>Final Kms</th>
              <th>Extra Kms</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mobile-flex">
              <td   class="max-wd-120  ps-2">
                <h5 class="th_h5_mobile">Material</h5>
                <div class="d-flex mat-dropdowwn-with-add">
                  <mat-select-autocomplete [placeholder]="'Select material'" [options]="materialOptionsList"
                  [multiple]='true' name="optionsSelector" ngDefaultControl
                  [formControl]="item.controls.material" (selectionChange)="changedMaterial($event,i)" >
                  </mat-select-autocomplete>
                  <button class="btn btn--primary add-material-icon material-icons"  (click)="addNewMaterial(i)">add</button>

                </div>
               <span *ngFor="let selected of selectedMaterialList[i]" >
                  {{selected.display}},
                </span>
              </td>

              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Rate per Kms</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" (change)="calculateFreightAmount(item)" value="" [ngClass]="{'showInvalid':item.controls.rate.invalid&&item.controls.rate.touched}"  formControlName="rate">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Est. Kms</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" (change)="addTotalUnitsToChargedAndUnloading(item);calculateFreightAmount(item)" value="" [ngClass]="{'showInvalid':item.controls.total_units.invalid&&item.controls.total_units.touched}"  formControlName="total_units">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Charged Kms</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" value="" (change)="calculateFreightAmount(item)" [ngClass]="{'showInvalid':item.controls.charged_units.invalid&&item.controls.charged_units.touched}"  formControlName="charged_units">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Final Kms</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" value="" (change)="calculateFreightAmount(item)" [ngClass]="{'showInvalid':item.controls.unloading_units.invalid&&item.controls.unloading_units.touched}"  formControlName="unloading_units">
                </div>
              </td>
              <td class="max-wd-120">
                <h5 class="th_h5_mobile">Extra Kms</h5>
                <div>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="123456" value="" (change)="calculateOnShortageChange(item)" [ngClass]="{'showInvalid':item.controls.extra_or_shortage_units.invalid&&item.controls.extra_or_shortage_units.touched}"  formControlName="extra_or_shortage_units">
                </div>
              </td>
            </tr>
            <tr class="no-border mobile-flex">
              <td  class="max-wd-120  ps-2">
                <div class="input-wrap clearfix">
                  <label for="" class="">Trip Freight</label>
                  <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="freight_amount" readOnly>
                </div>
              </td>
              <td  class="max-wd-120">
                <div class="input-wrap clearfix"
                [ngClass]="item.controls.is_editable.value ? '':'is-disabled'">
                  <label for="" class="">Extra Kms Rate</label>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="" value=""
                  [attr.disabled]="!item.controls.is_editable.value ? '' : null"
                    formControlName="extra_or_shortage_rate" (change)="calculateOnShortageChange(item)">
                </div>
              </td>
              <td  class="max-wd-120">
                <div class="input-wrap clearfix disabled">
                  <label for="" class="">Extra Amount</label>
                  <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="extra_or_shortage_amount" readOnly>
                </div>
              </td>
              <td  class="max-wd-120">
                <div class="input-wrap clearfix"
                [ngClass]="item.controls.is_editable.value ? '':'is-disabled'">
                  <label for="" class="">Adjustment</label>
                  <input twoDigitDecimalNumber type="text" class="no-style input--bd" value=""
                  [attr.disabled]="!item.controls.is_editable.value ? '' : null"
                    formControlName="adjustment_amount" (change)="calculateFreightAmount(item);">
                </div>
              </td>
              <td  class="max-wd-120">
                <div class="input-wrap clearfix disabled" [ngClass]="addErrorClass(item.controls.net_receivable)">
                  <label for="" class="">Net Receivable</label>
                  <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd error-line" placeholder="" value=""
                    formControlName="net_receivable" readonly>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-footer-actions mg-top-20">
        <button class="clear-item p-0" (click)="clearAllClient()">Remove all</button>
        <!-- <span>
          <a class="remove-item" (click)="removeItem(i)"
          *ngIf="kmsForm['controls'].kms['controls'].length>1">Remove</a>
          <a class="link-1 addEstimate" *ngIf="i === ( kmsForm['controls'].kms['controls'].length - 1)"
            (click)="addMoreItem()">Add New</a>
        </span> -->
      </div>
    </div>
  </div>
</div>

<app-add-item *ngIf="showAddItemPopup.status" [itemPopDetail]="showAddItemPopup" (closeModal)="closeItemPopup()" [units]="unitDetails"
    (itemAdded)="addDropDownMaterial($event)"></app-add-item>
