@import "../../../../../../../assets/styles/helpers/_variable.scss";

.dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2) !important;
}

.table-wrapper--scroll {
  height: 50vh;
  max-height: calc(100vh - 320px);
  position: relative;
}

.checklist-btn {
  text-align: left;
  font-size: 14px;
  position: relative;
  margin-top: -4px;
  padding: 6px 10px !important;
}

.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

input[type="checkbox"] {
  width: 14px !important;
  height: 14px !important;
  accent-color: $primary-brand-color;
  cursor: pointer;
}

.modal-header {
  padding: 10px 15px !important;
  border-bottom: 2px solid gainsboro;

  .modal-title {
    font-size: 16px;
  }
}

.modal-body {
  padding: 14px 15px;

  .input-wrap {
    display: flex;
    justify-content: space-between;

    div {
      width: 48%;

      input {
        width: 100%;
      }

      input[type="text"] {
        padding: 7px 10px;
        border: 1px solid gainsboro;
        border-radius: 7px;
      }
    }
  }
}

.checkbox-wrap {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;

  input {
    display: inline-block !important;
    margin-right: 14px;
    border: 1px solid $primary-brand-color !important;
    background-color: $primary-brand-color;
  }
}

.modal-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;

  button {
    width: auto;
    margin-right: 10px;
    padding: 8px 14px;
  }
}

.search-input-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 14px;
  padding-right: 15px;

  button {
    width: auto;
    margin-left: 20px;
  }
}

.table-container {
  width: 100%;

  thead {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;

    tr {
      th:nth-child(1) {
        padding-left: 14px;
      }

      th:nth-child(5) {
        padding-right: 14px;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
      }
    }

    tr:nth-child(2n) {
      background-color: rgb(239, 239, 239);
    }
  }
}

table input[type="checkbox"] {
  display: block;
  margin: auto;
}

#checklist-modal .modal-body {
  padding: 14px 0px;
}

.table-wrapper--type1 .table-container td input {
  min-width: 0px;
}

.text-align-left {
  text-align: left !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.09;
}

::ng-deep {
  app-tool-tip {
    text-transform: none !important;
  }
}

.task-type-tool-tip {
  position: absolute;
  top: 13px;
  z-index: 10;
  left: 120px;
  white-space: normal;
  text-align: left;
}

.task-mandatory-tool-tip {
  position: absolute;
  top: 13px;
  z-index: 20;

  right: 20px;
  white-space: normal;
  text-align: left;
}



.task-driver-tool-tip {
  position: absolute;
  top: 13px;
  z-index: 2;
  right: 15px;
  white-space: normal;
  text-align: left;
}