@import "../../../../../../../assets/styles/repeated/cost-card";
@import "../../../../../../../assets/styles/helpers/variable";
.card-shadow {
    box-shadow: 0 0 6px #00000029;
}
.wrapper{
  padding: 16px;
  padding-bottom: 12px;
}
