@import '../../../../../assets/styles/helpers/variable';

.calendar-task{
    .task-wrap{
        display: flex;
        position: relative;
        .task{
            padding-left: 5px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 10px 10px 0px 15px;
            border-right: 1px dashed #DBDBDB;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 125px;

            >span:first-child{
                margin-bottom: 12px;
                font-size: 12px;

            }
            >span:nth-child(2){
                font-weight: 600;
            }
            span{
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: normal;
            }
        }

        .icon-btn-wrap{
            display: flex;
            >button{
                padding: 0px 5px;
                display: flex;
                min-height: 35px;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;
                flex-grow: 1;

                .material-icons{
                    font-size: 16px;
                    margin-right: 4px;
                }
                &:disabled{
                    color: #DBDBDB;
                    background-color:#F5F5F5 ;
                    opacity: 1;

                }
            }
            .maintenance-btn{
                color: #F6A71E;
            }
            .expired-doc-btn{
                color: $error-txt;

            }

        }
        
    }
    &.strip{
        &::before{
        
            content: "";
            display: block;
            height: 100%;
            width: 5px;
           

            position: absolute;
            left: 0px;
            top: 0px;

        }
        &-void::before{
            background-color: $error-txt;

        }
        &-scheduled::before{
            background-color: $yellow-color;

        }
        &-ongoing::before{
            background-color: $sky-blue;
        }
        &-completed::before{
            background-color: $green;
        }
        &-multi::before{
            background-color: $primary-brand-color;
        }
        &-booked::before{
            background-color: #676a6e;;
        }

        

    }

}
.task-disabled {
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #F6F6F6;
    color:#F6F6F6;
    border: 1px solid #F6F6F6;
}
.task-overlay{
    box-shadow: 0px 1px 8px #ACB5BD;
    border-radius: 10px;
    background-color: #fff;
    padding: 0px 10px 10px 10px;
    color: $text-color;
    width: 350px;
    overflow: auto;
    max-height: 350px;

}

  

.multi-task-view{
    box-shadow: 0px 0px 6px #00000029;
            cursor: pointer;
           position: relative;
            display: flex;
            flex-direction: column;
            padding: 10px 10px 10px 15px;
            
            >span:first-child{
                margin-bottom: 12px;
                font-size: 12px;

            }
            >span:nth-child(2){
                font-weight: 600;
            }
            &.strip{
                &::before{
                
                    content: "";
                    display: block;
                    height: 100%;
                    width: 5px;
                   
        
                    position: absolute;
                    left: 0px;
                    top: 0px;
        
                }
                &-void::before{
                    background-color: $error-txt;
        
                }
                &-scheduled::before{
                    background-color: $yellow-color;
        
                }
                &-ongoing::before{
                    background-color: $sky-blue;
                }
                &-completed::before{
                    background-color: $green;
                }
                &-multi::before{
                    background-color: $primary-brand-color;
                }
                &-booked::before{
                    background-color: #676a6e;;
                }
        
                
        
            }

}