@import "../../../../assets/styles/helpers/variable";
@import "../../../../assets/styles/helpers/placeholder";
@import "../../../../assets/styles/helpers/mixins";

.dashboard{
    &-header{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        margin-bottom: 30px;
        &__cont{            
            .heading{
                @extend %secondary-font;
                color: rgba($primary-text-color, 0.9);
                font-size: 26px;
                margin: 0 0 10px 0 !important;
            }
            .desc-cont{
                color: $secondary-text-color;
                font-size: 14px;
                margin: 0 0 0 0 !important;
            }
        }
    }
    &-list{
        &__item{
            margin: 0 0 30px;
            padding: 32px 20px 0;
            &__header{
                @include flexbox();
                @include align-items(center);
                margin-bottom: 22px;
            }
            .pic{
                > i{
                    color: #b3b4fa !important;
                    font-size: 70px;
                }
            }
            .details{
                margin-left: 20px;
                .sub-title{
                    color: $primary-text-color--light;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
                .desc{
                    color: $secondary-text-color;
                    font-size: 14px;
                    line-height: 18px;
                    padding-right: 48px;
                }
            }
            &__footer{
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                width: calc(100% + 40px);
                margin-left: -20px;
                border-top: 1px solid #e4e8ee;
                padding: 10px 20px;
                .left-cont{
                    .desc{
                        color: $primary-brand-color;
                        font-weight: bold;
                        font-size: 14px;
                        &--modify{
                            color: #fcb040;
                            padding-right: 10px;
                            margin-right: 10px;
                            border-right: 1px solid $secondary-text-color;
                        }
                    }
                }
                .right-cont{
                    .icon-wrap{
                        display: inline-block;
                        padding: 9px;
                        background-color: $white;
                        color: $secondary-text-color;
                        box-shadow: 0 0 3px 0 rgba(0,0,0,0.10);
                        cursor: pointer;                        
                        > i{
                            font-size: 22px;
                            vertical-align: middle;
                        }
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                }
                &--modify{
                    @include justify-content(flex-end);
                }
            }
        }
    }
}

.aside-bar{
    color: $secondary-text-color;
    width: 240px;
    box-sizing: content-box;
    .collapse-menu{
        padding:15px;
        background: $aside-header-bg;
        i{
            vertical-align: bottom;
            color: $secondary-text-color;
        }
    }
    .menu-item-wrapper{
        padding-bottom: 50px;
        ul{
            padding:0;
            margin:0;
        }
        .menu-items{
            transition: all 0.6s ease;
            &:last-child p{
                border-bottom: none !important;
            }
            max-height: 55px;
            overflow: hidden;
            &:hover{
                cursor: pointer;
            }
            list-style-type: none;
            position: relative;
            .item-wrapper{
                padding:0px 15px;
                margin:0;
                .menu-icon{
                    vertical-align: middle;
                    margin-right:15px;
                }
                p{
                    padding:15px 0;
                    border-bottom: 1px solid $secondary-border-color;
                }   
            }
            .menu-arrow{
                position: absolute;
                transition:all 0.3s ease; 
                right:10px;
                top:15px;
            }
            .sub-menu{
                padding:0px 15px;
                .sub-menu-items{
                    list-style-type: none;
                    padding:15px 0px 15px 39px;
                    &.active{
                        font-weight: 700;
                        color: $primary-brand-color;
                    }
                }
            }
            &.active{
                padding:0px;
                max-height: 200px;
                transition: all 0.6s ease;
                .item-wrapper{
                    border-left: 2px solid $primary-brand-color;
                    background: $aside-list-active;
                    padding-left: 13px;
                    color: $primary-brand-color;    
                    font-weight: 700;
                    .menu-icon{
                        color: $primary-brand-color;  
                    }
                    p{
                        border-bottom: none;
                    }
                }
                .menu-arrow{
                    transform:rotateZ(180deg);
                    top:10px;
                    i{
                        color: $primary-brand-color;
                    }
                    
                }
                .sub-menu{
                    ul{
                        border-bottom: 1px solid $secondary-border-color;
                    }
                }
                &:last-child{
                    .sub-menu{
                        ul{
                            border-bottom: none;
                        }
                    }
                }
            }
           
        }
    }
}

.profi-loss {
    font-size: 11px;
    font-weight: bold;
}


.party-menu{
    background-color: $secondary-brand-color;
    margin-left: -30px;
    margin-right: -30px;
    &__list{
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 20px 0px 20px 30px;
        font-size: 14px;
        line-height: 0px;
        font-weight: bold;
        color: $primary-text-color;
        &.active{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
        &:hover{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
    }
}
.stat-report-wrap .stat-report-list__item .cont .value {
    font-size: 18px;
    font-weight: normal;
}
.brief-summary-wrap .brief-summary__value {
    // color: #595fab;
    // font-size: 15px;
    // line-height: 24px;
    font-weight: normal;
}

// .growth{
//     padding: 0 0 0 25px;
// }

#up {
    color:green;
    font-size: 15px;
}
#down {
    color: red;
    font-size: 15px;
}
.up-down  {
    font-size: 15px; 
}
mat-icon {
    vertical-align: middle;
    font-size: 25px;
  }

.estimate-receivable {
    padding: 78px 0px;
    text-align: center;
}

// canvas {
//     display: block;
//     width: 640px !important;
//     height: 300px !important;
// }

.drop_select {
    margin-bottom: -15px;
}
.mg-top-30 {
    margin-top: 20px !important;
}

.mg-top-0{
    margin-top: 0px !important; 
}

.mg-top {
    margin-top: 12px !important;
}
.date{
    left: 30px;
}
.custom-pagination{
    width: 50%;
}
@media only screen and (max-width : 767px){
    ::ng-deep bs-daterangepicker-container{
        top: 51% !important;
        left: 83% !important;
      }
      .date{
        left: 0;
    }
  }  

  
  @media only screen and (min-width: 1198px) {
    .transporterUpdate{
        margin-left: 7px !important;
    }
  }
  @media only screen and (max-width: 1125px) {
    .transporterUpdate{
        margin-left: 7px !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .pd-left-40{
        text-align: end !important;
    }
    .custom-pagination{
        width: 100%;
    }
    .transporterUpdate{
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
    .transporter p{
        margin-left: 15px !important;
    }

  }

//   @media  (min-width: 992px){
// .col-lg-4[_ngcontent-c4] {
//     flex: 0 0 33.33333333%;
//     max-width: 28.333333%;
//     }
//   }


.transportName-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .transportName-full-width {
    width: 100%;
  }

.transporter{
    padding: 16px 0px;
}
.transporter p{
    margin-left: 21px;
}

.transporterUpdate{
    color: white;
    background:rgb(89,95,171);
    cursor: pointer;
    padding: 9px;
    text-align: center;
    border-radius: 4px;
    width: 64px;
    margin-left: 118px;
}

.transporterUpdate:hover{
    background: #7e8ff9;
   
}