<div class="pt-1" *ngIf="scheduledJobsForSelectedVehicleList.length">
<div class="box box--green text-center mb-2 ">
        <div>
        This vehicle already has one or more jobs scheduled or in progress today with the following status(es):  
      <a class="custom-link" *ngFor="let job of scheduledJobsForSelectedVehicleList;let last=last" target="_blank" (click)="navigateToJobView(job?.id)"> {{job?.trip_id}} ({{job?.status}}) {{last ?'':', '}}</a>
</div>
</div>
</div>

<div class="d-flex layout-bg flex-wrap justify-content-end" *ngIf="(totalExpired>0|| totalExpiring>0 )&& displayDocSection">
    <div class="flex-grow-1 box box--red" *ngIf="totalExpired>0">
            <span>{{expireMessage }} {{wordCalculator(totalExpired)}} Expired</span>
    </div>
    <div class="flex-grow-1 box box--yellow" *ngIf="totalExpiring>0">
            <span> {{expiringMessage}} {{wordCalculator(totalExpiring)}} Expiring</span>
    </div>
    <button (click)="openDocumentsExpiryComponent()" class="exp-btn flex-end">View All</button>
    <button class="exp-btn" (click)="close()"><i class="bi bi-x-lg"></i></button>
</div>

<div class="d-flex layout-bg flex-wrap justify-content-end mt-2" *ngIf="(permitsMessage.expired>0||permitsMessage.expiring>0||permitsMessage?.not_found>0)&& displayPermitSection">
        <div class="flex-grow-1 box box--red" *ngIf="permitsMessage.expired>0">
                <span>{{permitsMessage.expired }} {{wordPermitCalculator(permitsMessage.expired)}} Expired</span>
        </div>
        <div class="flex-grow-1 box box--red" *ngIf="permitsMessage?.not_found>0">
                <span>{{permitsMessage.not_found}}  </span>  &nbsp;   {{permitsMessage?.not_found == 1? 'Permit':'Permits'}}  info not found 
        </div>
        <div class="flex-grow-1 box box--yellow" *ngIf="permitsMessage.expiring>0">
                <span> {{permitsMessage.expiring}} {{wordPermitCalculator(permitsMessage.expiring)}} Expiring </span>
        </div>
        <button (click)="openPermitExpiryComponent()" class="exp-btn flex-end">View All</button>
        <button class="exp-btn" (click)="closePermit()"><i class="bi bi-x-lg"></i></button>
</div>
<div class="d-flex layout-bg flex-wrap justify-content-end mt-2" *ngIf="locations.length >0">
        <div class="flex-grow-1 box box--blue">
                <span>Please select a Google Maps location to check Permit.</span>
        </div>
</div>




<div class="mt-2" *ngIf="driversNotEligible.length">
 <app-driver-expiry [driversNotEligible]="driversNotEligible"></app-driver-expiry>
</div>