@import "../../../../../../../assets/styles/helpers/variable";

.exp-btn{
    color: $text-color;
    border: 1px solid #ACB5BD;
    border-radius: 4px;
    padding: 12px 15px;
    font-weight: 500;
    transition: all 200ms ease-in-out ;
    .bi{
        -webkit-text-stroke: 0.7px
    }
    &:hover{
        color: white;
        background-color: #ACB5BD;
    }
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 4px;
    min-height: 40px;
    padding: 10px;
    line-height: normal;
&--red{
    border: 1px solid #FF4747;
    color: #FF4747;
}
&--yellow{
    border: 1px solid #FFA43D ;
    color: #FFA43D;
}
&--blue{
    border: 1px solid rgb(66, 66, 204) ;
    color:  rgb(66, 66, 204);
}
&--green{
    border: 1px solid rgb(90 140 46);
    color:  #199d19
}
}

