
.show {
    display: block;
}

.add:before {
    background-color: #0283e547;
}




.section-footer .more-actions__menu{
    width: 100%;
    top: 45px;
    left: initial;
    right: 0;
}

.dropDownOverflow {
	overflow-x: unset;
}

.table-container {
	&.item-table {
		tr {
			&:nth-child(even) {
				display: none;
			}
			&.show {
				display: table-row !important;
			}
		}
	}
}

.table-wrapper--type2 .add {
	display: inline-block;
}



.gst{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  div #other-option {
    max-width: 275px;
    width: 100%;
}

  div #tds-option {
      width :640px !important;
  }


  @media only screen and (max-width : 768px){
    div #other-option {
        width: 200% !important;
       }
    div #tds-option {
        width :145px!important;
    }
  }
