.add-item__error {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    cursor: pointer;
    color: #e50202;
  }

  .img-loder {
    position: absolute;
  }

  .align-manage-challan {
    text-align: right;
    margin: 10px;

    .align-add-icon {
      vertical-align: text-bottom;
    }
  }

  .table-wrapper--scroll {
    max-height: 420px;
    overflow: auto;
  }

  .modal-body {
    padding: 20px !important;
  }

  .justify_content_space {
    justify-content: flex-end;
  }

  @media (max-width: 600px) {

    .search-options {
      position: relative;

      input {
        position: absolute;
        right: 50px;

      }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      margin: auto;
    }
  }
