
.decline-text {
    color: #DC3545;
    font-weight: 600;
}



.accept-text {
    color: #04ce1f;
    font-weight: 600;
}

.del-btn {
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.min-height-26 {
    min-height: 26px;
}