@import "../../../assets/styles/helpers/header-footer.scss";
.demo-data-block{
  padding: 3px 10px;
  background: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  span{
    width: auto;
    color: #595FAB;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  button{
    width: auto;
    border-radius: 5px;
    margin-left: 5px;

  }
}

@media only screen and (max-width: 800px) {
  .margin-top-mb{
   margin-top: 25%;
  }
 }

