<header class="header" [ngClass]="{ headerDashboard: isDashBoard }">
  <div class="row demo-data-block mx-0" *ngIf="isDemoAccount">
    <span>Do you want to delete the demo data you're seeing?</span>
    <button class="btn btn--primary py-2" (click)="reset()">
      Remove demo data
    </button>
  </div>
  <nav class="nav__primary d-flex bd-highlight align-items-center justify-content-between">
    <div class="w-auto mobile-toggle p-2 bd-highlight" id="mobileToggle" (click)="mobileToggele()"
      [ngClass]="{ open: menu, 'mobile-detector': mobileView }">
      <span class="mobile-toggle__icon mobile-toggle__icon--top-bar"></span>
      <span class="mobile-toggle__icon mobile-toggle__icon--middle-bar"></span>
      <span class="mobile-toggle__icon mobile-toggle__icon--bottom-bar"></span>
    </div>
    <div class="brand-logo col-xxl-3 col-2 bd-highlight" tabindex="1">
      <img src="assets/img/transport-simple.png" alt="logo" class="logo-desktop" width="251" height="45" />
      <img src="assets/img/trasport-simple-logo-mobile.png" alt="logo" class="logo-mobile ms-3" width="55"
        height="40" />
    </div>

    <div class="col-xxl-9 col-10 row mx-0 position- justify-content-end align-items-center" #mobileNav>
      <span class="open-arrow material-icons" (click)="this.headerActions = !this.headerActions"
        [ngClass]="{ 'header-action-activate': headerActions }"></span>

      <div class="w-auto row mx-0 align-items-center slide-header-block ps-0" *ngIf="headerActions">
        <span class="driver-app w-auto d-inline-flex align-items-center me-2" (click)="employeeTimeLog(); closeQuickAction()"><span class="material-icons pe-2"> schedule
          </span>Employee
          Timelog</span>

        <span class="quick-action emp-app w-auto d-inline-flex align-items-center">
          <img src="../../../assets/img/google-play-blackbg.png" alt="play-store-icon" />
          <span class="emp-txt">Employee App</span>
          <span class="material-icons ps-1 play-extend play-store-extend">
            expand_more
          </span>
          <div class="list-main list-width margin-top-mb"  *ngxPermissionsOnly="'super_user'">
            <div class="list-nav mobile-icon">
              <span class="list-tab" (click)="employeeAppManageMent()">Employee App Access
                Management</span>
            </div>
            <div class="list-nav play-store-icon" routerLinkActive="active"  *ngxPermissionsOnly="'super_user'">
              <span class="list-tab" (click)="closeQuickAction()"><a
                  href="https://play.google.com/store/apps/details?id=com.transportsimple.employee_app"
                  target="_blank">Download Employee App</a></span>
            </div>
          </div>
        </span>
        <span class="quick-action w-auto d-inline-flex align-items-center">Quick Action <span
            class="material-icons ps-1"> expand_more </span>
          <div class="list-main">
            <!-- <div class="list-nav calender-icon" routerLinkActive="active">
              <span [routerLink]="[prefix+'/calendar']" class="list-tab" (click)="closeQuickAction()">Calendar</span>
            </div> -->
            <div class="list-nav journal-entry-icon" routerLinkActive="active" *ngxPermissionsOnly="journalEntry">
              <span [routerLink]="[prefix+'/journalentry/list']" *ngxPermissionsOnly="journalEntry[3]" class="list-tab"
                (click)="closeQuickAction()">Journal Entry</span>
            </div>
            <div class="list-nav bank-activity-icon" routerLinkActive="active" *ngxPermissionsOnly="bankActivity">
              <span [routerLink]="[prefix+'/bankactivity/list']" *ngxPermissionsOnly="bankActivity[3]" class="list-tab"
                (click)="closeQuickAction()">Bank Activity</span>
            </div>
            <div class="list-nav create-fuel-slip-icon" routerLinkActive="active" *ngxPermissionsOnly="fuelSlip">
              <span (click)="createfuelSlip()" *ngxPermissionsOnly="fuelSlip[3]" class="list-tab"
                (click)="closeQuickAction()"><span class="material-icons material-bg">local_gas_station </span>Create
                Fuel Slip</span>
            </div>
          </div>
        </span>

        <span class="gps w-auto d-inline-flex align-items-center" *ngxPermissionsOnly="'gps__view'"
          [routerLink]="['gps']"><span class="material-icons me-2"> gps_fixed </span>GPS</span>
      </div>

      <button class="w-auto notification-wrap v-align p-2 bd-highlight" mat-button [matMenuTriggerFor]="notification01"
        tabindex="2" (click)="getNotificationsData()">
        <span class="notification-icon material-icons" [matBadge]="notificationsCount" mat-button
          [matMenuTriggerFor]="notification01">notifications_none</span>
      </button>

      <mat-menu #notification01="matMenu" style="margin-top: 50px">
        <div class="subject row m-0 p-0 justify-content-center" (scroll)="onScroll($event)">
          <div
            class="text-center mx-0 ng-star-inserted align-items-center row bd-highlight flex-column bd-highlight p-0 my-auto"
            *ngIf="notificationsData.length == 0">
            <p class="mb-3 bd-highlight">
              <img class="mw-100" src="/assets/img/no-content.png" alt="No data" />
            </p>
            <h6 class="h5 bd-highlight">No notifications to display</h6>
          </div>
          <ul class="container p-0" *ngIf="notificationsData.length > 0">
            <ng-container *ngFor="let data of notificationsData" >
              <li class="content"  (click)="navigateToEditComponent(data)">
                <div class="txt">
                  <a tabindex="3"> {{ data.description }}</a>
                </div>
                <div class="time">{{ data.date }}</div>
              </li>
            </ng-container>
           
          </ul>
        </div>
      </mat-menu>

      <div class="w-auto profile-wrap v-align p-2 bd-highlight">
        <figure class="profile-pic v-align desktop" [routerLink]="prefix+'/organization_setting'">
          <img [src]="profileImage" alt="profile" />
        </figure>
        <figure class="profile-pic v-align mobile-menu" mat-button [routerLink]="prefix+'/organization_setting'">
          <img [src]="profileImage" alt="profile" />
        </figure>
      </div>
    </div>
  </nav>
</header>

<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>