<form [formGroup]="resetPasswordForm" (submit)="onFormSubmit()">
    <article class="login screen-height">
    <section class="login-container">
        <div class="login-header text-center">
            <a class="logo-holder">
                <img src="assets/img/trasport-simple-logo1.png" alt="logo" width="302" height="58">
            </a>
        </div>
        <div class="login-body">
            <h1 class="heading text-center">Reset Password</h1>
            <h6 class="input-wrap error" *ngIf="apiError?.length>0">{{apiError}}</h6>
            <div class="input-wrap error" [ngClass]="addErrorClass(resetPasswordForm.controls.password)">
                <label>Password</label>
                <input type="password" placeholder="********" formControlName="password" (input)="setAsUntouched()">
                <app-error [controlName]="resetPasswordForm.controls.password"></app-error>
            </div>
            <div class="input-wrap error" [ngClass]="addErrorClass(resetPasswordForm.controls.confirm_password)">
                <label>Confirm Password</label>
                <input type="password" placeholder="********" formControlName="confirm_password" (input)="setAsUntouched()">
                <app-error [controlName]="resetPasswordForm.controls.confirm_password"></app-error>
            </div>
            <button type="submit" class="btn btn--primary btn--login mg-bottom-30">Submit</button>
        </div>
    </section>
    </article>
</form>
<alert-popup [inputData]="popupInputData"></alert-popup>