@import "../../../../../../../assets//styles/helpers/variable";
.popup-body{
    max-height: 70vh;
    overflow: auto;
}


.input-wrap label {
  font-weight: 600;
  color: #676a6e;
}

// .input-wrap .input--bd :focus {
//   border-color: $primary-brand-color;
// }