<div class="def-color layout-bg rounded-3 ">
  <div class="gb-popup-header">
   {{isEdit?'Update':'Upload'}}  Timesheet
  </div>
  <form [formGroup]="timeSheetForm">
    <div class="p-3 pb-0 row mx-0 popup-body">
      <div class="col-lg-6">
        <div class="input-wrap error error--type-1" [ngClass]="addErrorClass(timeSheetForm.controls.start_date)">
          <label for="" class="input--required">Start Date</label>
          <mat-form-field class="width--100">
            <input matInput [matDatepicker]="start_date" formControlName="start_date" (focus)="start_date.open()"
              placeholder="DD/MM/YYYY" readonly>
            <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
            <mat-datepicker #start_date></mat-datepicker>
          </mat-form-field>
          <app-error [controlName]="timeSheetForm.controls.start_date"></app-error>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-wrap error error--type-1">
          <label for="" class="input--required">End Date</label>
          <mat-form-field class="width--100">
            <input matInput [matDatepicker]="end_date" [min]="timeSheetForm.get('start_date').value"
              formControlName="end_date" (focus)="end_date.open()" placeholder="DD/MM/YYYY" readonly>
            <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
            <mat-datepicker #end_date></mat-datepicker>
          </mat-form-field>
          <app-error [controlName]="timeSheetForm.controls.end_date"></app-error>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(timeSheetForm.controls.billing_hours)">
          <ng-container *ngIf="billingBasdedOn=='hour'">
            <label for="" class="input--required">Billing Hours </label>
          </ng-container>
          <ng-container *ngIf="billingBasdedOn=='day'">
            <label for="" class="input--required">Billing Days </label>
          </ng-container>
          <input type="text" class="no-style input--bd" positiveThreeDigitDecimalNumber formControlName="billing_hours"
            class="no-style input--bd" placeholder="Billing Hours">
          <app-error [controlName]="timeSheetForm.controls.billing_hours"></app-error>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(timeSheetForm.controls.extra_hours)">
          <ng-container *ngIf="billingBasdedOn=='hour'">
            <label for="" class="input">Extra Hours</label>
          </ng-container>
          <ng-container *ngIf="billingBasdedOn=='day'">
            <label for="" class="input">Extra Days</label>
          </ng-container>
          <input type="text" class="no-style input--bd" positiveThreeDigitDecimalNumber formControlName="extra_hours"
            class="no-style input--bd" placeholder="Extra Hours">
          <app-error [controlName]="timeSheetForm.controls.extra_hours"></app-error>

        </div>

      </div>
      <div class="col-lg-6">
        <div class="input-wrap error" [ngClass]="addErrorClass(timeSheetForm.controls.timesheet_no)">
          <label for="" class="input">Timesheet No</label>
          <input type="text" class="no-style input--bd"  formControlName="timesheet_no"
            class="no-style input--bd" placeholder="">
          <app-error [controlName]="timeSheetForm.controls.timesheet_no"></app-error>

        </div>

      </div>
      <div class="input-wrap input-box error col-12" [ngClass]="addErrorClass(timeSheetForm.controls.remarks)">
        <label for="">Remark</label>
        <textarea class="p-3 w-100" class="error-box w-100 p-2" [maxlength]="255" formControlName="remarks" rows="6" placeholder="Type here.."></textarea>

      </div>
      <div class="col-lg-12 mb-3 fw-semibold input--required">Upload Timesheet </div>

      <div class="col-12 d-flex flex-wrap gap-3 mb-3" [ngClass]="addErrorClass(timeSheetForm.controls.documents)">
        <file-uploader-v2 (onFileUploaded)="fileUploader($event)" [uploaderId]="'timesheet'"
          [isShowOnlyUpload]="false"></file-uploader-v2>
        <app-file-delete-view [fileData]="document" *ngFor="let document of timeSheetForm.controls.documents.value"
          (fileDeleted)="fileDeleted($event)"></app-file-delete-view>

          <p style="color: red;" *ngIf="timeSheetForm.controls.documents.invalid && timeSheetForm.controls.documents.touched ">Please upload file</p>

      </div>
    </div>
    <div class=" p-3 d-flex justify-content-between">
      <button class="btn btn--sm " (click)="close()">Cancel</button>
      <button class="btn w-auto btn--primary" (click)="save()"> {{isEdit?'Update':'Send for Approval'}}</button>
    </div>
  </form>
</div>