<div class="right-section__header align-items-center justify-content-between ">
  <h1 *ngIf="!employee_id" class="heading">Add Employee</h1>
  <h1 *ngIf="employee_id" class="heading">Edit Employee</h1>

  <ul class="progress-bar-wrap" [ngClass]="{enabled: employee_id}">
    <li (click)="getEmployeeDetails()" class="progress-bar-list" [routerLink]="[prefixUrl+'/onboarding/employee/edit/' + employee_id + '/information']"
        routerLinkActive="active" [ngClass]="{'done': _employeeService.addTimeline.isInformationSaved,'active':selectedTab=='information'}"><span>General Information</span></li>
    <!-- <li (click)="getEmployeeDetails()" class="progress-bar-list" [routerLink]="[prefixUrl+'/onboarding/employee/edit/' + employee_id + '/address']"
        routerLinkActive="active" [ngClass]="{'done': _employeeService.addTimeline.isAddressSaved,'active':selectedTab=='address'}"><span>Address</span></li> -->
    <li (click)="getEmployeeDetails()" class="progress-bar-list" [routerLink]="[prefixUrl+'/onboarding/employee/edit/' + employee_id + '/document']"
        routerLinkActive="active" [ngClass]="{'done': _employeeService.addTimeline.isDocumentsSaved,'active':selectedTab=='document'}"><span>Documents</span></li>
        <li (click)="getEmployeeDetails()" class="progress-bar-list" [routerLink]="[prefixUrl+'/onboarding/employee/edit/' + employee_id + '/bank']"
        routerLinkActive="active" [ngClass]="{'done': _employeeService.addTimeline.isBankSaved,'active':selectedTab=='bank'}"><span>Bank</span></li>
  </ul>
  <button class="gb-video-play float-right"  (click)="openGothrough()">
    <i class="bi bi-play-circle-fill"></i>
</button>
<app-go-through  [goThroughDetais]="goThroughDetais"></app-go-through>

  <!-- <app-video-play [videoUrl]="videoUrl" class="col-2 videoRight ms-auto"></app-video-play> -->
  <!-- <span class="icon-wrapper"><img src="../assets/img/walkthrough.svg" alt="icon"></span> -->
</div>
<router-outlet   (activate)="onActivate($event)"></router-outlet>
