.snackbar-container {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    color: white;
  }
  .snackbar-message {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
    margin-right: 5px;
  }
  .snackbar-close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .success {
    background-color: #4caf50;
  }
  .error {
    background-color: #f44336;
  }
  .warning {
    background-color: #ff9800;
  }
  .info {
    background-color: #2196f3;
  }
  