<div class="def-color add-screen-wrap  border-bottom" >
    <div class="px-4 py-3 border-bottom">
        <h6 class="fs-6 ">{{permitId ? 'Edit' :'Add'}} Own Asset Permit &nbsp;</h6>
    </div>

            <form [formGroup]="permitForm" >
                <div class="row p-3 pt-4  mx-0 ">
                    <div class="col-lg-4">
                        <div class="input-wrap error " [ngClass]="addErrorClass(permitForm.controls.name)">
                            <label for=""  class="input input--required"> Permit Name</label>
                            <input appUpperCase type="text"  class="no-style input--bd" placeholder="123456" value="" formControlName="name">
                            <app-error [controlName]="permitForm.controls.name"></app-error>
                            <p class="error-reg" *ngIf="uniquePermitErr">{{uniquePermitErr}}</p>
                          </div>
                          <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(permitForm.controls.country)">
                            <label for="" class="input input--required" >Country</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                                [selectedOption]="{label:permitForm.controls.country.value,value:''}">
                                <select #customSelect formControlName="country" class="no-style select--modify"
                                    (change)="countryChange()">
                                    <option *ngFor="let option of countriesList" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="permitForm.controls.country">
                            </app-error>
                        </div>
                        <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(permitForm.controls.state)">
                            <label for="" class="input input--required">State</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                            [selectedOption]="{label:permitForm.controls.state.value,value:''}">
                                <select #customSelect formControlName="state" class="no-style select--modify">
                                    <option *ngFor="let option of statesList" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="permitForm.controls.state">
                            </app-error>
                        </div>


                          <div class=" fw-semibold  ">
                            <mat-checkbox color="primary"  formControlName="expiry_date_mandatory">Make Expiry Date Mandatory</mat-checkbox>
                        </div>


                    </div>
                </div>
                
                
                
            </form>


       
        
   
    
    
</div>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end calc-height">
    <button class="btn btn--sm me-2" (click)="cancel()" type="submit">Cancel</button>
    <button class="btn btn--primary btn--sm" (click)="submitForm()" type="submit">{{permitId ? 'Update' :'Save'}}</button>
  </div>
