<app-work-order-crane-header-details-v2 [workOrderDetail]="workOrderDetail" [workOrderId]="workOrderId"></app-work-order-crane-header-details-v2>
<div class="d-flex py-4 px-5 row mx-0 def-color">
    <div class="col-lg-4 ps-lg-5 mb-4  mb-lg-0  d-flex align-items-center">
      <div class="shadow-circle green-shadow me-4"><i class="bi bi-cash"></i></div>
      <div>
        <p class="fw-bolder fs-4 mb-2">{{workOrderDetail?.revenue |numberFormat}} {{ currency_type?.symbol}}</p>
        <small>
          <p class="fw-semibold">TOTAL REVENUE</p>
        </small>
      </div>
    </div>


    <div class="col-lg-4 ps-lg-5 mb-4  mb-lg-0 d-flex align-items-center position-relative">
      <div class="shadow-circle red-shadow me-4"><i class="bi bi-cash"></i></div>
      <div>
        <p class="fw-bolder fs-4 mb-2">{{workOrderDetail?.expense|numberFormat}}  {{ currency_type?.symbol}}</p>
        <small>
          <p class="fw-semibold">TOTAL EXPENSE</p>
        </small>
      </div>
    </div>
    <div class="col-lg-4 ps-lg-5 mb-4  mb-lg-0 d-flex align-items-center">
      <div class="shadow-circle  me-4"
      [ngClass]=" {'green-shadow':workOrderDetail?.pl?.is_profit,'red-shadow':!workOrderDetail?.pl?.is_profit}"
        ><i
          class="bi bi-cash"></i></div>
      <div>
        <p class="fw-bolder fs-4 mb-2">{{workOrderDetail?.pl?.value|numberFormat}} {{ currency_type?.symbol}}</p>
        <small>
          <p class="fw-semibold">TOTAL P/L</p>
        </small>
      </div>
    </div>

  </div>
  <!-- -->

<app-work-order-charges-crane-details-v2 [workOrderDetail]="workOrderDetail" [workOrderId]="workOrderId"></app-work-order-charges-crane-details-v2>
