<div class="add-other-expense-popup">
  <div class="popup-header ">
    <h6 class="d-inline">Job Route Detail &nbsp;</h6>
  </div>
  <div class="popup-body">
    <form [formGroup]="bdpAddTrip">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-4 border-end  border-bottom ps-4 py-3">
            <p class="mb-3">
              Empty Container Pickup
            </p>
            <p class="fw-semibold">
              {{bdpcontainerStatus?.empty_pickup}}
            </p>
          </div>
          <div class="col-md-4 border-end  border-bottom ps-4 py-3">
             <p class="mb-3">
              Empty Container Drop / Full Container Pickup
             </p>
             <p class="fw-semibold">
              {{bdpcontainerStatus?.empty_drop_full_pickup}}
             </p>
          </div>
          <div class="col-md-4 border-bottom  ps-4 py-3">
           <p class="mb-3">
            Full Container Drop
           </p>
           <p class="fw-semibold">
            {{bdpcontainerStatus?.full_drop}}
           </p>
          </div>
        </div>
        <div class="row mt-3 border-bottom">
          <div class=" col-lg-4 col-md-3 col-6 ps-4">
            <div class="input-wrap error " [ngClass]="addErrorClass(bdpAddTrip.controls.customer)">
              <label for="" class="input--required">Customer </label>
              <material-dropdown [searchable]="true" [addable]="true" [selectedOption]="initialDetails.customer"
                [party]="true" [maxLength]="46" (addPartyPopup)="openAddPartyModal($event)"
                (addValueToList)="addValueToPartyPopup($event)" [params]="partyNamePopup">
                <select #customSelect formControlName="customer" class="no-style select--modify"
                  (change)="onvendorSelected()">
                  <option *ngFor="let option of partyList" value="{{ option?.id }}">
                    {{ option?.party_display_name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="bdpAddTrip.controls.customer"></app-error>
            </div>
          </div>

          <div class=" col-lg-4 col-md-3 col-6 route-input-box  ">
            <div class="input-wrap error dropdownArrow" [ngClass]="addErrorClass(bdpAddTrip.controls.route_code)">
              <label for="" class="input">Route</label>
              <material-dropdown [searchable]="true" [addable]="false" [selectedOption]="initialDetails.route_code">
                <select #customSelect formControlName="route_code" class="no-style select--modify"
                  (change)="routeSelected()">
                  <option *ngFor="let option of routeCodeList" value="{{ option?.name }}">
                    {{ option?.name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="bdpAddTrip.controls.route_code"></app-error>
            </div>
          </div>
        </div>
        <div class="row border-bottom" *ngIf="routesPath.length>0">
          <app-trip-v2-status statusType="bdp-add-trip" [statusDetails]="routesPath"></app-trip-v2-status>
        </div>

        <div class="d-flex justify-content-end  mt-3">
          <button class="btn w-auto  me-3 py-2" (click)="cancel()">Cancel</button>
          <button class="btn btn--primary w-auto py-2" (click)="save()">Create Job</button>
        </div>

      </div>

    </form>
  </div>
</div>

<app-add-party-popup *ngIf="showAddPartyPopup.status" [popDetail]="showAddPartyPopup" [isVendor]="false"
  (closeModal)="closePartyPopup()" (partyAdded)="addPartyToOption($event)"></app-add-party-popup>