<div class="row mt-3">
  <div class="col-md-6">
    <div class="toggle-wrapper mg-bottom-30">
        <span class="toggle-label">Checklist</span>
        <label for="toggle" class="toggle-switch">
            <input type="checkbox" id="toggle"  (change)="allDisplay()" [checked]="isDisplay">
            <span class="toggle-box" >
                <span class="toggle-circle"></span>
            </span>
        </label>
    </div>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" style="float: right;" (click)="addNewField()">Add New Field</button>
  </div>
</div>
<div class="table-section">
    <div class="table-header" >
    <div class="table-wrapper-list" id="table-height">
        <table class="table-container">
            <thead>
                <tr>
                  <th>Field Name</th>
                  <th>Field Type</th>
                  <th>Mandatory</th>
                  <th>Show/Hide</th>
                  <th>Market Vehicle</th>
                  <th>Options</th>
                  <th>Show in Invoice</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="sortedData.length==0">
                    <td colspan="10" style="background-color: #fff">
                        <div class="no-content-wrapper">
                            <figure class="no-content-pic">
                                <img src="assets/img/no-content.png" alt="">
                            </figure>
                            <div class="no-content-txt">
                                <h5 class="heading">No data found!</h5>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let custom of sortedData ; let i = index">
                     <td>{{custom?.field_label}}</td>
                     <td>{{custom?.field_type.name}}</td>
                     <td>{{custom?.mandatory.toString() |titlecase}}</td>
                     <td>
                        <div class="toggle-wrapper">
                            <label for="{{custom.id}}" class="toggle-switch">
                                <input type="checkbox" id="{{custom.id}}" [checked]="allShowHide[i]">
                                <span class="toggle-box" (click)="showHide(i,custom.id)">
                                    <span class="toggle-circle"></span>
                                </span>
                            </label>
                        </div>

                     </td>
                     <td>
                        <div class="toggle-wrapper">
                            <label for="market-{{custom.id}}" class="toggle-switch" [ngClass]="{'disabled': isMarketVehicleDisable(i)}">
                                <input type="checkbox" id="market-{{custom.id}}" [checked]="allShowHideMarketVehicle[i]">
                                <span class="toggle-box" (click)="showHideMarketVehicle(i,custom.id)">
                                    <span class="toggle-circle"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                    <td [ngClass]="{'disabled':allShowHideMarketVehicle[i] || custom?.display_in_invoice }">
                      <select name="market-{{custom.id}}" id="market-{{custom.id}}" [(ngModel)]="selectedValue[i]" (change)="dropdownChange(custom.id,i)" >
                      <option [ngValue]="item" *ngFor="let item of dropDownItems">{{item.label}}</option>
                    </select>
                     </td>
                     <td>
                      <div class="toggle-wrapper">
                          <label for="invoice-{{custom.id}}" class="toggle-switch" [ngClass]="{'disabled':selectedValue[i].value !='inside_estimate'}">
                              <input type="checkbox" id="invoice-{{custom.id}}" [checked]="allShowHideInvoice[i]">
                              <span class="toggle-box" (click)="showHideInvoice(i,custom.id)">
                                  <span class="toggle-circle"></span>
                              </span>
                          </label>
                      </div>
                  </td>
                    <td class="table-action">
                        <i class="material-icons more-icon" (click)="optionsList($event, 'list_'+custom.id)" >more_vert</i>
                        <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'list_'+custom.id}">
                            <li class="more-actions__item" (click)="edit(custom.id)"><i
                              class="material-icons">edit</i>Edit</li>
                            <li class="more-actions__item"(click)="popupFunction(custom.id,i)"><i
                              class="material-icons">delete</i>Delete</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<app-add-custom-fields [url]="url" [editData]="editData" [showNoteModal]="isOpenDialog" (modalClosed)="modelClose($event)"></app-add-custom-fields>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>
