<div class="form-layout__card">
    <div action="" [formGroup]="customField">
      <div class="custom-field-tab-form">
        <!-- Custom Field Section Starts -->
        <div *ngIf="customFieldsData.length>0">
          <div class="row p-4 mx-0" formArrayName="other_details">
            <ng-container
              *ngFor="let customfiled of customField['controls']['other_details']['controls']; let iiii = index;"
              [formGroupName]="iiii">
              <!-- datetime field -->
  
              <div class="col-lg-3 col-6" *ngIf="customfiled.controls.field_type.value =='datetime'">
                <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
                  <label for="" class="input--required"
                    *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <label for="" class="input" *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                    <app-date-and-time-picker [control]="customfiled.get('value')" ></app-date-and-time-picker>
  
                </div>
              </div>
  
              <!-- text field -->
              <div class="col-lg-3 col-6" *ngIf="customfiled.controls.field_type.value =='string'">
                <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
                  <label for="" class="input--required"
                    *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <label for="" class="input"
                    *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="value">
                  <app-error [controlName]="customfiled.controls.value"></app-error>
                </div>
              </div>
  
              <!-- date field -->
              <div class="col-lg-3 col-6" *ngIf="customfiled.controls.field_type.value =='date'">
                <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
                  <label for="" class="input--required"
                    *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <label for="" class="input"
                    *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="customDateField" (focus)="customDateField.open()"
                      formControlName="value" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="customDateField"></mat-datepicker-toggle>
                    <mat-datepicker #customDateField></mat-datepicker>
                  </mat-form-field>
                  <app-error [controlName]="customfiled.controls.value"></app-error>
                </div>
              </div>
  
              <!-- check box -->
              <div class="col-lg-3 col-6 row align-items-center mx-0 d-inline-flex custom-checkbox-click-label"
                *ngIf="customfiled.controls.field_type.value =='checkbox'">
                <div class="input-wrap error m-0 w-100 mb-3" [ngClass]="addErrorClass(customfiled.controls.value)">
  
                  <p class="check-box"><label for="consinId" class="input--required w-auto d-inline"
                      *ngIf="customfiled.controls.mandatory.value"> <input type="checkbox" class=" w-auto d-inline me-2"
                        name="consinId" id="consinId" placeholder="" value="" formControlName="value"
                        (change)="oncheckBoxChange(customfiled)"> <span
                        class="check-mark d-inline-block align-middle"></span> <span class="label-text">
                        {{customfiled.controls.field_label.value}}</span></label></p>
                  <p class="check-box"><label for="" class="input  w-auto d-inline "
                      *ngIf="!customfiled.controls.mandatory.value"> <input type="checkbox" class=" w-auto d-inline me-2"
                        name="consinId" id="consinId" placeholder="" value="" formControlName="value"
                        (change)="oncheckBoxChange(customfiled)"><span
                        class="check-mark d-inline-block align-middle"></span> <span class="label-text">
                        {{customfiled.controls.field_label.value}} </span></label></p>
  
                  <app-error [controlName]="customfiled.controls.value"></app-error>
                </div>
              </div>
              <!-- drop down -->
              <div class="col-lg-3 col-6" *ngIf="customfiled.controls.field_type.value =='select_option'">
                <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
                  <label for="" class="input--required"
                    *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <label for="" class="input"
                    *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
                  <material-dropdown [searchable]="false" [addable]="false" class="dropDownW"
                    [selectedOption]="customfiled?.controls?.selected_option?.value"
                    [addErrorClass]="customfiled.controls.value">
                    <select #customSelect formControlName="value" class="no-style select--modify ">
                      <option *ngFor=" let option of customfiled.controls.option_list.value" value="{{ option }}">
                        {{ option }}
                      </option>
                    </select>
                  </material-dropdown>
                  <app-error [controlName]="customfiled.controls.value"></app-error>
                </div>
              </div>
  
  
            </ng-container>
          </div>
  
        </div>
        <!-- Custom Field Section Ends -->
      </div>
    </div>
    <ng-container *ngxPermissionsOnly="['super_user'];else elseBlock">
      <ng-container *ngIf="!showRefresh">
        <div class="d-flex  align-items-center justify-content-center " style="height:100px;"
          *ngIf="customFieldsData.length==0">
          <p (click)="linkClicked()"> No custom fields added to the {{screen}}, You can add custom fields by clicking <a
              class="cursor-pointer text-primary" target="_blank" [routerLink]="[prefixUrl+routeToSettings]"> Here</a> </p>
        </div>
        <div class="d-flex  align-items-center justify-content-center " style="height:100px;"
          *ngIf="customFieldsData.length>0">
          <p (click)="linkClicked()"> You can add more custom fields by clicking<a class="cursor-pointer text-primary"
              target="_blank" [routerLink]="[prefixUrl+routeToSettings]"> Here</a> </p>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #elseBlock>
      <div class="no-list-data-wrap" >
        <p >Please Contact Your Super Admin to Add {{ customFieldsData.length ? 'More' : ''}} Custom Fields .</p>
      </div>
    </ng-template>
    <ng-container *ngIf="showRefresh && !isEdit">
      <div class="d-flex  align-items-center justify-content-center " style="height:100px;">
      <p > Please click <a class="cursor-pointer text-primary" (click)="getCustomFields()"> Here</a> if you can't see the already added custom fields  </p>
      </div>
    </ng-container>
  </div>