
<div class="charge-popup def-color">
    <div class="gb-popup-header">
        Quotation {{heading}}
    </div>
    <div class="p-4 pt-3 input-wrap mb-0">
        <form [formGroup]="ApprovalOrRejectForm">
            <label for=""> {{is_Approved ? 'Reason' : 'Remark'}}</label>
            <div class="input-wrap input-box error" [ngClass]="addErrorClass(ApprovalOrRejectForm.controls.remark)">
                <textarea class="p-3 w-100"  class="error-box w-100 p-2"   [maxlength]="255"  formControlName = "remark" [minlength]="1" min="2"  rows="6" [placeholder]="placeHolder"></textarea>

              </div>
            <div class="d-flex justify-content-between  mt-3">
                <button class="btn btn--sm" type="button" (click)="close()">Cancel</button>
                <button class="btn  btn--primary btn--sm" type="submit" (click)="save(ApprovalOrRejectForm)">Save</button>
            </div>
        
        </form>
    </div>


</div>