@import "../../../../../../../../assets/styles/helpers/variable";

.charge-popup {
    background-color: white;
   
    border-radius: 7px;
  }


  .input-wrap label {
    font-weight: 600;
    color: $text-color ;
    font-weight: 13px;

}

.input-wrap {
    flex: 1;
}


.error {
  .error-box {
      border: 1px solid red;
      width: 100%;
  }

}
