<form [formGroup]="advancePaymentForm">
  <div class="row" *ngIf="isPlaceOfSupply">
    <div class="col-lg-3 col-sm-6">
      <div class="input-wrap error" [ngClass]="addErrorClass(advancePaymentForm.controls.place_of_supply)">
          <label for="" class="d-inline-block" [ngClass]="{'input--required':isPlaceOfSupplyRequireds}">Place of Supply</label>
          <div class="placeOfSupplyToolTip">
            <span class="material-icons">info</span>
            <div class="data">
              Please Enter Customer's Place of Supply
            </div>
          </div>

          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
              [selectedOption]="initialValues.placeOfSupply">
              <select #customSelect formControlName="place_of_supply" class="no-style select--modify">
                  <option *ngFor="let state of placeOfSupplyStateList" value="{{ state.name }}">
                      {{ state.name }}</option>
              </select>
            </material-dropdown>
          <app-error [controlName]="advancePaymentForm.controls.place_of_supply"></app-error>
      </div>
    </div>
  </div>
</form>
