<div class="modal fade" [ngClass]="{'show':goThroughDetais.show}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button class="close-icon" (click)="close()"><mat-icon>highlight_off</mat-icon></button>
      <div class="modal-body text-center p-0">
        <div style="position: relative; padding-bottom: calc(48.45791949817041% + 41px); height: 0;"><iframe [src]="goThroughurl" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"
            title="Onboarding"></iframe></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="goThroughDetais.show" class="modal-backdrop fade show"></div>
