
.certificate-wrap{
    @include flexbox();
    margin-top:20px;
    padding: 10px;
    color: $primary-text-color;
    border: 1px solid $secondary-border-color;
    border-radius: 3px;
    .cert-expiry{
        margin-top:20px;
        .expiry-date{
                margin-top:10px !important;
        }
    }
    .cert-title{
        padding-top: 5px;
    }
    .cert-details{
        position: relative;
        .more{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .cert-content{
        @include flex-basis(calc(100% - 80px));
        margin-left: 10px;
        .cert-no{
            margin-top:10px !important;
        }
    }
    .cert-image{
        width: 70px;
        height: 70px;
        border-radius: 3px;
        background: $gray-400;
    }
}
@media (max-width:460px){
    .info-section{
        .col{
            flex-basis: 100%;
        }
    }
}