.upload-proof-wrap{
    width: 100%;
    margin-bottom: 30px;
    color: $primary-text-color;
    .upload-address-proof{
        margin-bottom: 30px;
    }
    .browse-file{
        padding: 25px 20px;
        @include flexbox();
        border: 1px dashed $primary-border-color;
        border-radius: 3px;
        &__icon{
            margin-right:20px;
        }
        &__link{
            display: inline-block;
            color: $primary-brand-color;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}
.upload-menu-wrapper{
    width: 100%;
    height: 100%;
    border-right: 1px solid $secondary-border-color;
    color: $secondary-text-color;
    .upload-menu{
        &__item{
            padding: 0px 30px;
            cursor: pointer;
            a{
                padding: 20px 0;
                display: block;
                color: $secondary-text-color;
                border-bottom: 1px solid $secondary-border-color;
            }
        }
    }
    .upload-menu__item.active{
            border-left: 2px solid $primary-brand-color;
            background: $aside-list-active;
            padding-left: 28px;
            color: $primary-brand-color;    
            font-weight: 700;
            a{
                color: $primary-brand-color;
            }
    }
    .add-doc{
        margin-top: 60px;
        @include flexbox();
        @include justify-content(center);
    }
}
.upload-id-content{
    margin-bottom: 150px;
    padding: 20px 0;
    padding-right: 30px;
    display: none;
    .browse-file{
        margin-top:30px;
    }
    &.active{
        display: block;
    }    
}
.employee-list-table{
    th, td{
        padding: 10px 0;
    }
}
.chart-wrapper{
    .chart-container{
        height: 400px;
        margin-top: 30px;
        background-color: $white;
        border-radius: 3px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    }
}
.employee-cover-image{
    width:100%;
    height:133px;
    background-position: center;
}
.employee__avatar{
    width: 230px;
    img{
        width: 200px;
        height: 200px;
        border: 3px solid $white;
    }
}