<div class="form-layout__card formResponsiveTable tabIndexActive edit-billing-popup ">
    <div class="popup-header ">
      <h6>Freight Details</h6>
    </div>
    <div action="" [formGroup]="billingForm">
      <div class="mg-bottom-30">
        <div
          class="table-wrapper table--bd table--nobg table-wrapper--type1 table-wrapper--type2 tcol-6 dropDownOverflow">
          <table class="table-container">
            <thead>
              <tr class="desktop_th">
                <th width="25%">Billing <app-tool-tip [totalSlides]="billingTypesToolTip.content.length" position="right"
                    [toolTipContent]="billingTypesToolTip"></app-tool-tip></th>
                <th *ngIf="billingTypeSelected != 'Fixed'" style="z-index: auto !important;">
                  Rate Per {{ billingTypeSelected }}
                </th>
                <th *ngIf="billingTypeSelected != 'Fixed'">Total  {{ billingTypeSelected2 }}</th>
                <th style="z-index: auto !important;">FREIGHT AMOUNT</th>
                <th *ngIf="billingTypeSelected == 'Fixed'"></th>
                <th *ngIf="billingTypeSelected == 'Fixed'"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="mobile-flex">
                <td class="max-wd-120" [ngClass]="{'disabled':true}">
                  <div>
                    <h5 class="th_h5_mobile">Billing <app-tool-tip class="tool-tip-position"
                        [totalSlides]="billingTypesToolTip.content.length" position="right"
                        [toolTipContent]="billingTypesToolTip"></app-tool-tip></h5>
                    <material-dropdown [searchable]="true" [disabled]="!is_billing_type_editable" [selectedOption]="initialValues.billingType">
                      <select #customSelect formControlName="freight_type" class="no-style select--modify"
                        (change)="onChangeBillingType()">
                        <option *ngFor="let option of billingTypeList" [value]="option?.value">
                          {{ option?.label }}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </td>
                <td class="max-wd-120 ps-2" *ngIf="billingTypeSelected != 'Fixed'">
                  <div>
                    <h5 class="th_h5_mobile">
                      Rate Per {{ billingTypeSelected }}
                    </h5>
                    <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd"
                      (change)="onChangeCalulation()" [ngClass]="{
                          showInvalid:
                            billingForm.controls.rate.invalid &&
                            billingForm.controls.rate.touched
                        }" placeholder="123456" value="" formControlName="rate" />
                  </div>
                </td>
                <td class="max-wd-120" *ngIf="billingTypeSelected != 'Fixed'">
                  <div>
                    <h5 class="th_h5_mobile">total  {{ billingTypeSelected2 }}</h5>
                    <input positiveThreeDigitDecimalNumber (change)="onChangeCalulation()" [ngClass]="{
                          showInvalid:
                            billingForm.controls.total_units.invalid &&
                            billingForm.controls.total_units.touched
                        }" type="text" class="no-style input--bd" placeholder="123456" value=""
                      formControlName="total_units" />
                  </div>
                </td>
  
                <td class="max-wd-120">
                  <div>
                    <h5 class="th_h5_mobile">Total Amount</h5>
                    <input positiveThreeDigitDecimalNumber [ngClass]="{
                          showInvalid:
                            billingForm.controls.freight_amount.invalid &&
                            billingForm.controls.freight_amount.touched
                        }" type="text" class="no-style input--bd" placeholder="123456" value=""
                      formControlName="freight_amount" [readonly]="billingTypeSelected != 'Fixed'" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-space-between align-items-center mx-4 pb-4 ">
        <button class="btn w-auto px-4 " (click)="cancel()">Cancel</button>
        <button class="btn btn--primary w-auto px-4" (click)="save()">Save</button>
      </div>
    </div>
  </div>