
<div class="modal fade" [ngClass]="{'show': editNewTripFirstSectionData.show}" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog   modal--xls" role="document">
    <div class="modal-content">
      <div class="tabIndexActive"><button class="close-icon p-0" (click)="cancelButtonClick()"><mat-icon>highlight_off</mat-icon></button></div>
      <form [formGroup]="newEditTripForm" style="margin: 10px;">

        <div class="alert-msg" *ngIf="newEditTripForm.controls.error_message.value">
          <span class="icon-wrap"></span>
          <p class="message-cont">{{ newEditTripForm.controls.error_message.value }}</p>
        </div>

        <div class="row mg-top-20 tabIndexActiveFields">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" >
            <div class="input-wrap error" [ngClass]="addErrorClass(newEditTripForm.controls.c_vehicle)">
              <label for="" class="input--required mb-0">Vehicle Number</label><br/>
               <p class="input--bd ">  {{initialDetails?.vehicleDetail['label']}}</p>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disabled':isDisabledFields || disablePartyWorkOrder}">
            <div class="input-wrap error" [ngClass]="addErrorClass(newEditTripForm.controls.customer)">
              <label for="" class="input--required">Customer </label>
              <material-dropdown [searchable]="true" [addable]="true"
               [selectedOption]="initialDetails.customer"
               [disabled]="isDisabledFields || disablePartyWorkOrder"
               [party]="true" (addPartyPopup)="openAddPartyModal($event)"
               (addValueToList)="addValueToPartyPopup($event)"
               [params]="partyNamePopup">
                <select #customSelect formControlName="customer" class="no-style select--modify">
                  <option *ngFor="let option of partyList" value="{{ option?.id }}">
                  {{ option?.party_display_name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="newEditTripForm.controls.customer"></app-error>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="input-wrap">
              <label for="" class="mb-0">Trip Payment Type </label><br/>
              <p class="input--bd">{{editNewTripFirstSectionData?.data?.is_to_pay ?'To Pay':'To be Paid'}}</p>

            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngClass]="{'disabled':isDisabledFields || disablePartyWorkOrder}">
            <div class="input-wrap">
              <label for="">Work Order No.</label>
              <input type="text" class="no-style input--bd" placeholder="123456" formControlName="work_order_no"
              [readonly]="isDisabledFields || disablePartyWorkOrder">
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" [ngClass]="{'disabled':isDisabledFields || isDisabledDriver}" >
            <div class="input-wrap">
              <label for="" class="input">Driver Name</label>
              <material-dropdown [searchable]="true"
              [disabled]="isDisabledFields|| isDisabledDriver"
              [addable]="false" [selectedOption]="initialDetails.driver"  *ngIf="!isTransporterTrip">
                <select #customSelect formControlName="c_driver" class="no-style select--modify">
                  <option *ngFor="let option of driverListCompanyOrTransporter" value="{{ option?.id }}">
                    {{ option?.first_name }} {{ option?.last_name }}
                  </option>
                </select>
              </material-dropdown>
              <material-dropdown [searchable]="true" [addable]="true"
              [disabled]="isDisabledFields"
              [postApiUrl]="postDriverAPI" [params]="addDriverParams" (addValueToList)="addParamsToDriver($event)"
                  (postApiResponse)="getAndSetDriver($event)" [selectedOption]="initialDetails.driver" *ngIf="isTransporterTrip" >
              <select #customSelect formControlName="c_driver" class="no-style select--modify">
                <option *ngFor="let option of driverListCompanyOrTransporter" value="{{ option?.id }}">
                  {{ option?.driver_name }}
                </option>
              </select>
         </material-dropdown>
            </div>
          </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disabled':isDisabledFields||isDisableFromAndTo}">
              <div class="input-wrap error" [ngClass]="addErrorClass(newEditTripForm.controls.from_loc)">
                <label for="" class="input--required">From</label>
                <app-places-auto-complte  [editData]="fromData"  (placeDetails)="fromAdressData($event)" [isFromToInvalid]="isFromToInvalid" [isnameRequired]="true"></app-places-auto-complte>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disabled':isDisabledFields||isDisableFromAndTo}">
              <div class="input-wrap error" [ngClass]="addErrorClass(newEditTripForm.controls.to_loc)">
                <label for="" class="input--required">To</label>
                <app-places-auto-complte  [editData]="toData"  (placeDetails)="toAdressData($event)" [isFromToInvalid]="isFromToInvalid" [isnameRequired]="true"></app-places-auto-complte>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" *ngIf="isTransporterTrip" [ngClass]="{'disabled':isDisabledFields}" >
              <div class="input-wrap error" [ngClass]="addErrorClass(newEditTripForm.controls.vehicle_provider)">
                <label for="" class="input--required">Vehicle Provider</label>
                <material-dropdown [searchable]="true" [addable]="false" [disabled]="isDisabledFields" [selectedOption]="initialDetails.vehicleProvider">
                  <select #customSelect formControlName="vehicle_provider" class="no-style select--modify">
                    <option *ngFor="let option of partyListVendor" value="{{ option?.id }}">
                      {{ option?.party_display_name }}
                    </option>
                  </select>
                </material-dropdown>
                <app-error [controlName]="newEditTripForm.controls.vehicle_provider"></app-error>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngIf="isTransporterTrip">
              <div class="input-wrap clearfix">
                <label for="" class="">Transporter Trip Id</label>
                <input  type="text" class="no-style input--bd" placeholder="123456" readonly value="" formControlName="trip_id">
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngIf="!isTransporterTrip">
              <div class="input-wrap clearfix">
                <label for="" class="">Company Trip Id</label>
                <input  type="text" class="no-style input--bd" placeholder="123456" readonly value="" formControlName="trip_id">
              </div>
            </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngIf="!isTransporterTrip">
            <div class="input-wrap clearfix">
              <label for="" class="">Loop Id</label>
              <input  type="text" class="no-style input--bd" placeholder="123456" readonly value="" formControlName="loop">
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disabled':isLRNumberDisabled}">
            <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.lr_no)">
              <label for="" class="input">LR/GCN No.</label>
              <input  type="text" class="no-style input--bd" placeholder="123456" value="" [readonly]="isLRNumberDisabled" formControlName="lr_no">
              <app-error [controlName]="newEditTripForm.controls.lr_no"></app-error>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6 col-12" [ngClass]="{'disabled':isDisabledFields}">
            <div class="input-wrap m-0">
                <label for="" class="input--required">Trip Start Date & Time</label>
                <mat-form-field>
                  <input matInput [ngxMatDatetimePicker]="start_date"  [disabled]="isDisabledFields" (focus)="start_date.open()"
                  (dateChange)="onChangeStartDate()"  formControlName="start_date" placeholder="DD/MM/YYYY">
                  <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #start_date [showSpinners]="true"  [showSeconds]="false"
                    [stepHour]="1" [stepMinute]="1" [touchUi]="false"
                    [color]="'primary'" [enableMeridian]="true">
                  </ngx-mat-datetime-picker>
                </mat-form-field>
                <app-error [controlName]="newEditTripForm.controls.start_date"></app-error>
            </div>
          </div>


          <div *ngIf="showEndTripInputs" class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disabled':isDisabledFields}">
            <div class="input-wrap m-0">
                <label for="" class="input--required">Trip End Date & Time</label>
                <mat-form-field>
                  <input matInput [ngxMatDatetimePicker]="end_date" [disabled]="isDisabledFields" [min]="estimatePodMinDate" (focus)="end_date.open()"
                  formControlName="end_date" placeholder="DD/MM/YYYY" (dateChange)="onChangeEndDate()">
                  <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker #end_date [showSpinners]="true"  [showSeconds]="false"
                    [stepHour]="1" [stepMinute]="1" [touchUi]="false"
                    [color]="'primary'" [enableMeridian]="true">
                  </ngx-mat-datetime-picker>
                </mat-form-field>
                <app-error [controlName]="newEditTripForm.controls.end_date"></app-error>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6"*ngIf="isPodReceivable" [ngClass]="{disabled:isPodReveived}">
            <div class="input-wrap" >
              <label for="" class="input">Est PoD Receivable Term</label>
              <material-dropdown [searchable]="true" [disabled]="isPodReveived" [selectedOption]="initialDetails.podPaymentTerm" [addable]="false"  class="dropDownWidth">
                <select #customSelect formControlName="est_pod_receivable_term" class="no-style select--modify"
                (change)="onpaymentTermSelected($event.target.value)">
                  <option *ngFor="let option of paymentTermList" value="{{ option.value }}">
                    {{ option.label }}
                  </option>
                </select>
              </material-dropdown>
             <!--  <span class="border-anim"></span> -->
            </div>
          </div>
          <div class="col-lg-4 col-sm-6" *ngIf="isPodReceivable"  [ngClass]="{disabled:isPodReveived}">
            <div class="input-wrap">
              <label for="" class="input">Estimated PoD Receivable Date</label>
              <mat-form-field>
                <input [min]="estimatePodMinDate" [disabled]="isPodReveived" matInput [matDatepicker]="estimated_pod_received_date" (focus)="estimated_pod_received_date.open()"
                 formControlName="estimated_pod_received_date" placeholder="DD/MM/YYYY" (dateChange)="updatePodDate($event)">
                <mat-datepicker-toggle matSuffix [for]="estimated_pod_received_date"></mat-datepicker-toggle>
                <mat-datepicker #estimated_pod_received_date></mat-datepicker>
              </mat-form-field>
            </div> 
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-12" *ngIf="estimatedKM">
          <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.estimated_kms)">
            <label for="" class="input">Estimated KMS</label>
            <input   type="text" class="no-style input--bd" positiveThreeDigitDecimalNumber placeholder="123456" value="" formControlName="estimated_kms" >
            <app-error [controlName]="newEditTripForm.controls.estimated_kms"></app-error>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-12" formGroupName="estimated_durations" *ngIf="estimatedDuration">
          <div class="input-wrap clearfix ">
            <label for="" class="input">Estimated Duration</label>
            <div class="row">
              <div class="col-md-6 col-5 input-wrap error "  [ngClass]="addErrorClass(newEditTripForm.get('estimated_durations').get('day'))">
                <input   style="margin-right: 10px;" type="text" class="no-style input--bd" placeholder="Days" value="" formControlName="day" >
                <app-error [controlName]="newEditTripForm.get('estimated_durations').get('day')"></app-error>
              </div>
              <div class="col-md-6  col-5 input-wrap  error" [ngClass]="addErrorClass(newEditTripForm.get('estimated_durations').get('hour'))">
                <input   type="text" class="no-style input--bd" positiveThreeDigitDecimalNumber placeholder="Hours" value="" formControlName="hour" >
                <app-error [controlName]="newEditTripForm.get('estimated_durations').get('hour')"></app-error>
              </div>
            </div>
  
          </div>
        </div>

          <div *ngIf="showEndTripInputs" class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.end_kms)">
              <label for="" class="input">Trip Distance</label>
              <input  type="text" class="no-style input--bd" placeholder="123456" value="" formControlName="end_kms">
              <app-error [controlName]="newEditTripForm.controls.end_kms"></app-error>
            </div>
          </div>

        </div>

        <div class="row" *ngIf="!this.editNewTripFirstSectionData?.data?.is_transporter" >
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 readonlyStyles">
            <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.total_fuel_stock)">
              <label for="" class="input">Total Fuel Purchase</label>
              <input  type="text" class="no-style input--bd  border p-2" tabindex="-1" readonly placeholder="123456" value="" positiveThreeDigitDecimalNumber formControlName="total_fuel_stock">
              <app-error [controlName]="newEditTripForm.controls.total_fuel_stock"></app-error>
              <span class="small-tag">On Stock: {{onStock}} Litres</span>
            </div>


          </div>

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 readonlyStyles">
            <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.fuel_consumed)">
              <label for="" class="input">Trip Fuel Consumption</label>
              <input  type="text" class="no-style input--bd border p-2"  tabindex="-1" placeholder="123456" value="" [readOnly]="showEndTripInputs" (change)="tripFuelConsumptionChange()" positiveThreeDigitDecimalNumber formControlName="fuel_consumed">
              <app-error [controlName]="newEditTripForm.controls.fuel_consumed"></app-error>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 readonlyStyles">
            <div class="input-wrap clearfix error" [ngClass]="addErrorClass(newEditTripForm.controls.change_in_fuel_stock)">
              <label for="" class="input">Change in stock</label>
              <input  type="text" readonly class="no-style input--bd border p-2" tabindex="-1" placeholder="123456" value="" positiveThreeDigitDecimalNumber formControlName="change_in_fuel_stock">
              <p  class="mt-1 text-danger" *ngIf="!ischangeInstockPositive">Current fuel stock is in -ve</p>
              <app-error [controlName]="newEditTripForm.controls.change_in_fuel_stock"></app-error>
            </div>
          </div>
        </div>


      </form>


      <div class="row justify-content-between tabIndexActive">
        <div class="col-5">
          <button class="btn btn- btn--primary wd-105 cancel-button" (click)="cancelButtonClick()">Cancel</button>
        </div>
        <div class="col-5">
          <button class="btn btn- btn--primary  save-button wd-105 ms-auto" (click)="onOkButtonClick()">Save</button>
        </div>
      </div>
    </div>
</div>

</div>
<div *ngIf=" editNewTripFirstSectionData.show" class="modal-backdrop fade show"></div>
