

<div class="wrapper " [ngClass]="{'no-comments':allComments.length==0}">
  <div class="row" *ngFor="let comment of allComments; let i = index">
    <ng-container *ngIf="comment.is_self">


      <div class="msg-wrap right-msg-wrap">
        <div class="msg ">

          <p class="msg-details">{{ comment?.sender_name | titlecase }} ({{ comment?.created_at }})
          </p>
          <span class="msg-html" [innerHTML]="comment?.message"></span>


        </div>
        <div class="right-arrow">
          <div class="sub-right-arrow"></div>
        </div>

      </div>




    </ng-container>

    <ng-container *ngIf="!comment.is_self">


      <div class="msg-wrap left-msg-wrap">
        <div class="msg">
          <p class="msg-details">{{ comment?.sender_name | titlecase }} ({{ comment?.created_at }})</p>
          <span class="msg-html" [innerHTML]="comment?.message">
          </span>

        </div>

      </div>


    </ng-container>
  </div>
</div>
<div class="d-flex align-items-start  p-3 gap-3">
  
    <div class="editor flex-grow-1 ">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" [outputFormat]="'html'" [(ngModel)]="comment" [placeholder]="'Enter your comment'">
      </ngx-editor>
    </div>
 
 
    <button class="btn--primary btn w-auto fs-12px comment-btn" (click)="addComment()">Add comment</button>
  
</div>
