@import "../../../../../../../assets/styles/helpers/variable";


$color-parrot: #04ce1f;
$color-white: #fff;
$color-danger: #e83535;

.bdp-tab-wrapper {
  min-height: calc(100vh - 160px);
  background-color: $layout-bg;
}

.trip-id {
  color: $primary-brand-color;
  font-size: 14px;
  font-weight: 600;
}

.back-btn {

  padding: 6px;
  border-radius: 6px;
  border: 1px dotted transparent;

  .bi {
    -webkit-text-stroke: 1px;
  }

  &:hover {
    border: 1px dotted gainsboro;
  }
}

.label {
  font-weight: 600;
  color: $text-color;
  font-size: 13px;
  padding-right: 10px;
}

p {
  color: $text-color;
}

.primary-label {
  color: $primary-brand-color;
  font-weight: bolder;
  font-size: 16px;
}



::ng-deep.bdp-tab-wrapper {
  .mat-tab-label-active {
    background-color: $layout-bg;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }
  }

  .mat-tab-label-active+.mat-tab-label {
    &::after {
      opacity: 0;
    }
  }

  .mat-tab-labels {
    background-color: #eaeaea;
    opacity: 1 !important;

  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $layout-bg;
  }

  .cdk-keyboard-focused {
    background-color: $layout-bg !important;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }

  }

  .cdk-focused {
    background-color: $layout-bg !important;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }

  }

  .mat-tab-label {
    flex-basis: 0;
    flex-grow: 0 !important;
    margin-top: 3px;
    opacity: 1 !important;
    position: relative;
    color: #676A6E;
    font-weight: 400;
    font-size: 13px;
    min-width: 250px
  }

  .mat-tab-label::after {
    content: "";

    background-color: #BBBBBB;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);

    height: 60%;
    width: 1.5px;
    transition: all 200ms ease;
  }

  .mat-tab-labels>.mat-tab-label:first-child {
    &::after {
      opacity: 0;
    }
  }



  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    border-bottom: 0px !important;
  }
}


.accepted {
  color: $color-parrot;
  border: 1px solid $color-parrot;
}

.accept {
    background: $color-parrot;
    color: #fff;
    border: 1px solid $color-parrot;
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 500;
    transition: all 150ms ease-in-out ;
    &:hover {
        background: #fff;
        color: $color-parrot;
        transform: scale(1.05) ;
    }

}

.decline {
    color: #fff;
    background: $color-danger;
    border: 1px solid $color-danger;
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: 500;
    transition: all 150ms ease-in-out ;


    &:hover {
        background: #fff;
        color: $color-danger;
        transform: scale(1.05) ;
    }
}

.accepted-status{
    color: $color-parrot;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
    font-weight: bold;
}

.rejected{
    color: $color-danger;
    text-align: center;
    font-weight: 500;
    font-weight: bold;
}

.custom-table-container ,.custom-table-container table{
    min-height: calc(100vh - 165px);
    max-height: calc(100vh - 165px);

}
.canceled{
  color: #FFB900;
  text-align: center;
  font-weight: bold;
}