@import"../../../../../../../assets/styles/helpers/variable";

.link button{
    color: inherit;
  }

.document {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    height: 34px;
    margin-right: 10px;
}

// div#table-height{
//     height: 600px !important;
//   }
  .custom-table-container {
    overflow-y: scroll;
    height: calc(100vh - 130px);
    max-height: calc(100vh - 170px);
}



.renew-btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    background: #FFFFFF;
    border: 2px solid $green;
    border-radius: 5px;
    color: $green;

}