.input-wrap{
    &.error{
        .error-box{
            border: 1px solid #eb1e4a;
            &::placeholder{
                color: #eb1e4a;
            }
        }
    }
}
.error-text {
    color: red;
  }

.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
  }

  .hiddenContent{
    display: none;
  }

  .max-width-220{
      max-width: 220px;
      width: auto;
  }
  .max-width-100{
    max-width: 100px;
}
@media (max-width: 480px){
    .mobileFlex{
         
        tr{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            td{
                
                padding: 5px;
                &:first-child{
                    padding-right: 15px;
                }
                
            }
           
        }
    }
}
