<form  [formGroup]="paymentForm" >
    <div class=" px-4 pb-3  row mx-0 def-color border-end">
        <ng-container  >
      <!-- payment section  -->
          <!-- payment types -->
          <div class="col-12 p-3">
          <mat-radio-group class="d-inline-flex mb-3 " formControlName="payment_type" (change)="onChangePaymentOptions()">
          <mat-radio-button class="me-4"  *ngFor="let paymentOption of paymentTypes"  [value]="paymentOption.id">
          <span class="fw-semibold ">{{paymentOption.label}}</span>
          </mat-radio-button>
          </mat-radio-group>
        </div>

          <div class="col-md-4 col-sm-6">
            <div class="input-wrap clearfix error"  [ngClass]="addErrorClass(paymentForm.controls.service_date)">
                <label for="" class="input--required">Service Date</label>
                <mat-form-field>
                    <input matInput [matDatepicker]="service_date" (focus)="service_date.open()" formControlName="service_date"
                        placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="service_date"></mat-datepicker-toggle>
                    <mat-datepicker #service_date></mat-datepicker>
                </mat-form-field>
                <app-error [controlName]="paymentForm.controls.service_date"></app-error>
            </div>
          </div>

          <ng-container *ngIf="paymentForm.controls.payment_type.value!=-1">
            <div class="col-md-4  col-sm-6">
              <div class="input-wrap clearfix error mb-3" [ngClass]="addErrorClass(paymentForm.controls.vendor)">
                <label for="" class="input" [ngClass]="{'input--required':paymentForm.controls.payment_type.value=='2'||paymentForm.controls.payment_type.value==2}">Vendor Name</label>
                <material-dropdown [searchable]="true"
                                   [addable]="true"
                                   class="dropDownWidth"
                                   [addErrorClass]="addErrorClass(paymentForm.controls.vendor)"
                                   [selectedOption]="initialValues.vendor"
                                   [party]="true" (addPartyPopup)="openAddPartyModal($event)"
                                   (addValueToList)="addValueToPartyPopup($event)"
                                   [params]="partyNamePopup">
                             <select #customSelect formControlName="vendor" class="no-style select--modify" (change)="vendorSelected($event.target.value)">
                                <option *ngFor="let vendor of vendorList" value="{{ vendor.id }}">
                                      {{ vendor.party_display_name }}</option>
                    </select>
                </material-dropdown>
                <app-error [controlName]="paymentForm.controls.vendor"></app-error>
  
              </div>
            </div>
  
            <div class="col-md-4 col-sm-6" *ngIf="paymentForm.controls.payment_type.value<=2">
              <div class="input-wrap clearfix ">
                <label for="" class="input">Bill Number</label>
                <input  type="text" class="no-style input--bd"  placeholder="123456" value=""  formControlName="bill_number">
              </div>
            </div>
            <ng-container *ngIf="paymentForm.controls.payment_type.value<=2">
              <div class="col-md-4 col-sm-6">
                <div class="input-wrap clearfix error"  [ngClass]="addErrorClass(paymentForm.controls.bill_date)">
                    <label for="" class="input--required">Bill Date</label>
                    <mat-form-field>
                        <input matInput [matDatepicker]="bill_date" (focus)="bill_date.open()" formControlName="bill_date"
                            placeholder="DD/MM/YYYY">
                        <mat-datepicker-toggle matSuffix [for]="bill_date"></mat-datepicker-toggle>
                        <mat-datepicker #bill_date></mat-datepicker>
                    </mat-form-field>
                    <app-error [controlName]="paymentForm.controls.bill_date"></app-error>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="paymentForm.controls.payment_type.value<=2">
              <div class="col-md-4 col-sm-6">
                <div class="input-wrap clearfix error"  [ngClass]="addErrorClass(paymentForm.controls.due_date)">
                    <label for="" class="input--required">Due Date</label>
                    <mat-form-field>
                        <input matInput [matDatepicker]="due_date" (focus)="due_date.open()" formControlName="due_date"
                            placeholder="DD/MM/YYYY">
                        <mat-datepicker-toggle matSuffix [for]="due_date"></mat-datepicker-toggle>
                        <mat-datepicker #due_date></mat-datepicker>
                    </mat-form-field>
                    <app-error [controlName]="paymentForm.controls.due_date"></app-error>
                </div>
              </div>
            </ng-container>
  
          <ng-container *ngIf="paymentForm.controls.payment_type.value==1" >
            <!-- paid  -->
  
              <div class="col-md-4 col-sm-6">
                <div class="input-wrap error" [ngClass]="addErrorClass(paymentForm.controls.payment_mode)" >
                    <label for="" class="input--required   position-relative">Payment Mode</label>
                    <material-dropdown [searchable]="true"   [selectedOption]="initialValues.paymentMode" [addErrorClass]="addErrorClass(paymentForm.controls.payment_mode)" class="dropDownWidth">
                        <select #customSelect formControlName="payment_mode" class="no-style select--modify" (change)="paymentModeChanged()">
                          <option value="paid_By_Driver">Paid By Employee</option>
                            <option *ngFor="let option of paymentModeList" value="{{ option.id }}">
                                {{ option.name}}</option>
                        </select>
                    </material-dropdown>
                    <app-error [controlName]="paymentForm.controls.payment_mode"></app-error>
                    </div>
              </div>
              <div class="col-md-4 col-sm-6"  *ngIf="is_driver_paid" >
                <div class="input-wrap" >
                    <div class="input-wrap error"
                        [ngClass]="addErrorClass(paymentForm.controls.paid_employee)">
                        <label for="" class="input--required">Paid By</label>
                        <material-dropdown [searchable]="true" [selectedOption]="initialValues.paid_employee"  [addable]="false" class="dropDownWidth">
                            <select #customSelect formControlName="paid_employee" class="no-style select--modify" >
                                <option *ngFor="let account of activeEmpList" value="{{ account.id }}">
                                    {{ account.display_name }}</option>
                            </select>
                          </material-dropdown>
                        <app-error [controlName]="paymentForm.controls.paid_employee"></app-error>
                    </div>
                </div>
            </div>
  
  
          </ng-container>

          </ng-container>
         


        <ng-container >
        <!-- Bill Later -->

        </ng-container>

      </ng-container>

      <div class="col-12 ">
        <label class="mb-3 h6 fw-semibold">Note</label>
        <textarea placeholder="Add notes or Additional Details" formControlName="notes" class="d-inline-flex w-100 rounded-2 p-3 border" cols="90%" rows="10"></textarea>
      </div>
    </div>
</form>
<app-add-party-popup vendorPartyType="0" [popDetail]="showAddPartyPopup" (closeModal)="closePartyPopup()"
(partyAdded)="addPartyToOption($event)" [isVendor]="true"></app-add-party-popup>