@import "../../../../../../../assets/styles/helpers/variable";


.summary-section {
  background-color: $layout-bg;
}

p {
  color: $text-color;
}

.edit-btn {
  border: 1px solid $gray-500;
  padding: 7px;
  color: #676A6E;
  border-radius: 7px;
  font-size: 10px;
  font-weight: 600;


  transition: all 60ms ease-in-out;

  &:hover {

    transform: scale(1.1);

  }


}

.label {
  font-weight: 600;
  color: #676A6E;

  margin-right: 3px;
}

.primary-label {
  color: $primary-brand-color
}

.green-label {
  color: #2BB741;
}

::ng-deep {
  app-tool-tip .content-class {
    p {
      font-weight: unset !important;
    }
  }
  .summary-tabs {
    min-height: 300px;
    .mat-tab-body-content {
      overflow: hidden !important;
    }



    .mat-tab-labels {
      background-color: $layout-bg;
      opacity: 1 !important;
      border-bottom: 2px solid $gray-400;
    }



    .mat-tab-label {
      flex-basis: 0;
      flex-grow: 0 !important;
      margin-top: 3px;
      opacity: 1 !important;
      position: relative;
      color: #676A6E;


    }

    .mat-tab-label::after {
      display: none;
    }

    .mat-ink-bar {
      display: block;
      background-color: #595FAB !important;
      height: 3px;
    }

    .mat-tab-header {
      border-bottom: 0px !important;
    }



  }
}
.lbh-box{
  min-width: 70px;
  border: 1px solid #ACB5BD;
  border-radius: 6px;
  padding: 10px 10px;
}
.lbh-wrap .material-icons {
  color: #bbb;
  margin: 0 4px;
  font-size: 18px;
}

.mat-tab-group {
  opacity: 1 !important;
}
