<div *ngIf="tripStatusAndSummaryData |async as tripDetails">
  <div class="container-fluid">
    <div class="summary-section row justify-content-between p-5">
      <div class="col-lg-5 col-12 mb-4 mb-lg-0">
        <ng-container>
          <div class="mb-4" *ngIf="vehicleCategory !=10">
            <p class="pe-4 d-inline-block">
              <span class="label">Client Freight : </span> {{tripDetails?.client_freights?.[0].freight_amount | numberFormat}} {{
              currency_type?.symbol}}
  
            </p>
            <button [routerLink]="[prefixUrl+'/trip/new-trip/edit/',tripDetails?.id]" 
              [disabled]="!tripDetails?.client_freights?.[0].is_editable_deleteable  || headerData['approval_status']['status_screen_to_show'] ==='Completed'" class="edit-btn"><i
                class="bi bi-pencil-fill"></i></button>
          </div>


          <div class="mb-4" *ngIf="tripDetails?.is_transporter">
            <p class="pe-4 d-inline-block">
              <span class="label">Market Vehicle Freight</span> {{tripDetails?.vehicle_freights?.[0].freight_amount| numberFormat}} {{
              currency_type?.symbol}}
            </p>
            <button [routerLink]="[prefixUrl+'/trip/new-trip/edit/',tripDetails?.id]"
              class="edit-btn"  [disabled]="!tripDetails?.vehicle_freights?.[0].is_editable_deleteable  || headerData['approval_status']['status_screen_to_show'] ==='Completed'" ><i class="bi bi-pencil-fill"></i></button>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="vehicleCategory==0">
          <div class="d-flex mb-4 mt-2 align-items-center">
            <span class="label ">Materials : </span>
            <app-add-edit-material [tripId]="tripDetails?.id"
              [selectedMaterial]="tripDetails?.materials"></app-add-edit-material>
            <app-tool-tip class="tool-tip-position trip-no mt-2 ms-3" [totalSlides]="materialInfo.content.length"
              position="right" [toolTipContent]="materialInfo"></app-tool-tip>
          </div>
        </ng-container> -->
        <div *ngIf="!tripDetails?.is_transporter">
          <p class="mb-3">
            <span class="label primary-label">Odometer</span>
          </p>
          <p class="mb-3">
            <span class="label ">Start Job : </span> {{convertToCommaSeparated(tripDetails?.odometer?.start)}} KMS
          </p>
          <p class="mb-3">
            <span class="label ">End Of Job : </span>
            {{convertToCommaSeparated(tripDetails?.odometer?.end)}} KMS
          </p>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div>
          <p class="mb-3">
            <span class="label primary-label">Total Job Time</span>
            <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="total_Trip_Time.content.length"
              position="right" [toolTipContent]="total_Trip_Time"></app-tool-tip>
          </p>
          <p class="mb-3">
            <span class="label ">Estimated : </span>
            <ng-container
              *ngIf="tripDetails?.total_trip_time?.estimated?.day === '' &&
                     tripDetails?.total_trip_time?.estimated?.hour === '' &&
                     tripDetails?.total_trip_time?.estimated?.minute === ''">
              Data not Available
            </ng-container>
            <ng-container *ngIf="tripDetails?.total_trip_time?.estimated?.day">
              {{tripDetails?.total_trip_time?.estimated?.day}}
              {{tripDetails?.total_trip_time?.estimated?.day==1?'Day':'Days '}}
            </ng-container>
            <ng-container *ngIf="tripDetails?.total_trip_time?.estimated?.hour">
              {{tripDetails?.total_trip_time?.estimated?.hour}}
              {{tripDetails?.total_trip_time?.estimated?.hour==1?'Hour':'Hours'}}
            </ng-container>
            <ng-container *ngIf="tripDetails?.total_trip_time?.estimated?.minute !== ''">
              {{tripDetails?.total_trip_time?.estimated?.minute}}
              {{tripDetails?.total_trip_time?.estimated?.minute < 2 ?'Minute ':'Minutes'}}
            </ng-container>
          </p>
          <p class="mb-3">
            <span class="label ">Actual : </span>

            <ng-container
              *ngIf="!tripDetails?.total_trip_time?.actual?.day&&!tripDetails?.total_trip_time?.actual?.hour&&!tripDetails?.total_trip_time?.actual?.minute">
              <ng-container *ngIf="tripDetails?.total_trip_time?.status?.value=='Ongoing'">
              Data not Available
              </ng-container>
              <ng-container *ngIf="tripDetails?.total_trip_time?.status?.value!='Ongoing'">
                Data not Available
              </ng-container>
            </ng-container>


            <ng-container *ngIf="tripDetails?.total_trip_time?.actual?.day">
              {{tripDetails?.total_trip_time?.actual?.day}} {{tripDetails?.total_trip_time?.actual?.day==1?'Day':'Days'}}
            </ng-container>

            <ng-container *ngIf="tripDetails?.total_trip_time?.actual?.hour">
              {{tripDetails?.total_trip_time?.actual?.hour}}
              {{tripDetails?.total_trip_time?.actual?.hour==1?'Hour':'Hours '}}
            </ng-container>
            <ng-container *ngIf="tripDetails?.total_trip_time?.actual?.minute">
              {{tripDetails?.total_trip_time?.actual?.minute}}
              {{tripDetails?.total_trip_time?.actual?.minute==1?'Minute':'Minutes'}}
            </ng-container>

          </p>
          <p class="mb-3">
            <span class="label" [ngStyle]="{'color':tripDetails?.total_trip_time?.status?.color}">{{tripDetails?.total_trip_time?.status?.key}} : </span>
            {{tripDetails?.total_trip_time?.status?.value}}
          </p>
        </div>
        <div *ngIf="!tripDetails?.is_transporter">
          <p class="mb-3">
            <span class="label primary-label">Odometer Hours</span>
          </p>
          <p class="mb-3">
            <span class="label ">Start Job : </span> {{convertToCommaSeparated(tripDetails?.hour?.start)}} Hours
          </p>
          <p class="mb-3">
            <span class="label ">End Of Job : </span>
            {{convertToCommaSeparated(tripDetails?.hour?.end)}} Hours
          </p>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div>
          <p class="mb-3">
            <span class="label primary-label">Total Job KM</span>
            <app-tool-tip [totalSlides]="total_Trip_KM.content.length" position="left"
              [toolTipContent]="total_Trip_KM"></app-tool-tip>
          </p>
          <p class="mb-3">
            <span class="label ">Estimated : </span> {{tripDetails?.total_kms?.estimated? tripDetails?.total_kms?.estimated+' KM':'  Data not Available'}} 
          </p>
          <p class="mb-3">
            <span class="label ">Actual : </span>

            <ng-container *ngIf="!tripDetails?.total_kms?.actual">

              <ng-container *ngIf="tripDetails?.total_kms?.status?.value=='Ongoing'">
                Data not Available
              </ng-container>
              <ng-container *ngIf="tripDetails?.total_kms?.status?.value!='Ongoing'">
                Data not Available
              </ng-container>

            </ng-container>
            <ng-container *ngIf="tripDetails?.total_kms?.actual">
              {{tripDetails?.total_kms?.actual}} KM
            </ng-container>
          </p>
          <p class="mb-3">
            <span class="label" [ngStyle]="{'color':tripDetails?.total_kms?.status?.color}">{{tripDetails?.total_kms?.status?.key}} : </span>
            {{tripDetails?.total_kms?.status?.value}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="summary-tabs">
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="start">
      <ng-container *ngFor="let path of tripDetails?.paths;let i =index">
        <mat-tab>
          <ng-template mat-tab-label>
            <ng-container *ngIf="path?.destination_type==0">
              <span >Destination {{i+1}}</span>
            </ng-container>
            <ng-container *ngIf="path?.destination_type==1|| path?.destination_type==2">
              <span >{{path?.destination_type==1?'Pullout':'Deposit'}} Port</span>
            </ng-container>
            <ng-container *ngIf="path?.destination_type==3">
              <span >Customer Location</span>
            </ng-container>

          </ng-template>
          <app-trip-destination-details [tripId]="tripDetails?.id" [destinationData]="path"
            [index]="i"></app-trip-destination-details>
        </mat-tab>
      </ng-container>
      <mat-tab *ngIf="tripDetails?.vehicle_category==4 || tripDetails?.vehicle_category==0 || tripDetails?.vehicle_category==10">
        <ng-template mat-tab-label>
          <span>Material</span>
        </ng-template>
        <div>
          <div class="addable-row-table addable-row-table-display m-3">
            <table>
                <thead>
                    <tr>
  
                      <th width="20%">Material</th>
                      <th>Unit</th>
                      <th>No. of Item</th>
                      <th>Weight/Item</th>
                      <th>Volume/Item (LENGTH x WIDTH x HEIGHT)</th>
                      <th>Total Quantity</th>
                    </tr>
  
                </thead>
                <tbody  >
                  <tr *ngIf="tripDetails?.material_info.length==0">
                    <td colspan="10" style="background-color: #fff">
                        <div class="no-content-wrapper h-100">
                            <figure class="no-content-pic mb-3">
                                <img src="assets/img/no-content.png" alt="">
                            </figure>
                            <div class="no-content-txt ">
                                <h5 class="heading fs-5 mb-0">No data found!</h5>
                            </div>
                        </div>
                    </td>
                  </tr>
                    <tr *ngFor="let item of tripDetails?.material_info;let i=index">
                        <td >
                          {{item?.material?.name ? item?.material?.name : '-'}}
                         
                        </td>
                        <td>{{item?.unit?.label ? item?.unit?.label : '-'}}</td>
                        <td>{{item?.no_of_items ? item?.no_of_items : '-'}}</td>
                        <td>{{item?.weight_per_item ? item?.weight_per_item : '-'}} {{item?.weight_unit ? item?.weight_unit?.label : ''}}</td>
                        <td style="padding-top: 0px !important;padding-bottom: 0px !important;"><div class="d-flex align-items-center lbh-wrap ">
                          <div class="lbh-box">{{item?.length ? item?.length : '-'}}</div>
                          <span  class="material-icons"> close </span>
                          <div class="lbh-box">{{item?.breadth ? item?.breadth : '-'}}</div>
                          <span  class="material-icons"> close </span>
                          <div class="lbh-box">{{item?.height ? item?.height : '-'}}</div>
                          <span class="ms-2">{{item?.volume_unit ? item?.volume_unit?.label : ''}}</span>
                        </div></td>
                        <td>{{item?.total_quantity ? item?.total_quantity : '-'}}</td>
                    </tr>
  
                   
  
                </tbody>
            </table>
        </div>
        </div>
        
       
      </mat-tab>
    </mat-tab-group>
  </div>
</div>