<aside class="aside-bar float-start">
  <div class="back-btn">
    <button [routerLink]="['overview']">
    <span class="material-icons">
      arrow_back_ios
      </span>&nbsp;Back to Main Screen
    </button>
  </div>
  <nav class="menu-item-wrapper">
    <ul>
      <li class="menu-items list-icon list-icon--profile"  [routerLink]="['profile']" routerLinkActive="active">
        <div class="item-wrapper">
          <p class="menu-content">Profile</p>
        </div>
      </li>
      <li class="menu-items list-icon list-icon--signature" *ngxPermissionsOnly="['super_user']" [routerLink]="['signature/list']" routerLinkActive="active">
        <div class="item-wrapper">
          <p class="menu-content">Signature</p>
        </div>
      </li>
      <li class="menu-items list-icon list-icon--user-management" *ngxPermissionsOnly="['super_user']" [routerLink]="['user_management']" routerLinkActive="active">
        <div class="item-wrapper">
          <p class="menu-content">User Management</p>
        </div>
      </li>
      <li class="menu-items list-icon list-icon--security"  [routerLink]="['security']" routerLinkActive="active">
        <div class="item-wrapper">
          <p class="menu-content">Security</p>
        </div>
      </li>
      <li *ngIf="addCompany" class="menu-items list-icon list-icon--notification" [routerLink]="['notifications']" routerLinkActive="active">
          <div class="item-wrapper">
            <p class="menu-content">Notifications</p>
          </div>
        </li>
        <li class="menu-items list-icon list-icon--permit"  *ngxPermissionsOnly="['super_user']" [routerLink]="['permit/list']"  routerLinkActive="active"
            [ngClass]="{'active-route':activeRoute =='permit/add'}" >
          <div class="item-wrapper">
            <p class="menu-content">Permits</p>
          </div>
        </li>
      <li class="menu-items list-icon list-icon--page-setting" *ngxPermissionsOnly="['super_user']" [ngClass]="{active: !collapse}" (click)="collapse=!collapse">
        <div class="item-wrapper accordion-header mb-1">
          <p class="menu-content">Page Setting</p>
          <div class="menu-arrow">
            <i class="material-icons drop-down">arrow_drop_down</i>
          </div>
        </div>
        <div class="sub-menu">
          <ul>
            <li (click)="$event.stopPropagation()" class="sub-menu-items"  *ngxPermissionsOnly="vehicleInspection" [routerLink]="['settings/vehicle-inspection/']" [ngClass]="{'active-route':activeRoute =='vehicle-inspection'}"  routerLinkActive="active">Vehicle Inspection</li> 
            <li (click)="$event.stopPropagation()" class="sub-menu-items"  *ngxPermissionsOnly="vehicle" [routerLink]="['settings/vehicle/']" [ngClass]="{'active-route':activeRoute =='vehicle'}"  routerLinkActive="active">Vehicle</li> 
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="party"  routerLinkActive="active"  [ngClass]="{'active-route':activeRoute =='party'}"  [routerLink]="['settings/party/']">Parties</li>  
              <!-- <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="asset"  routerLinkActive="active"  [ngClass]="{'active-route':activeRoute =='asset'}"  [routerLink]="['settings/asset/']">Own Assets</li>   -->
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="quotation"  routerLinkActive="active"   [routerLink]="['settings/quotation/']" [ngClass]="{'active-route':activeRoute =='quotation'}">Quotation</li>
              <li (click)="$event.stopPropagation()" *ngxPermissionsOnly="workOrder" class="sub-menu-items"[routerLink]="['settings/work-order/']" routerLinkActive="active" [ngClass]="{'active-route':activeRoute =='work-order'}">Sales Order</li>
              <li (click)="$event.stopPropagation()"  class="sub-menu-items" *ngxPermissionsOnly="siteInspection"  routerLinkActive="active"  [routerLink]="['settings/site-inspection']" [ngClass]="{'active-route':activeRoute =='site-inspection'}">Site Inspection</li>
              <li (click)="$event.stopPropagation()"  class="sub-menu-items" *ngxPermissionsOnly="localPurchaseOrder"  routerLinkActive="active"  [routerLink]="['settings/local-purchase-order']" [ngClass]="{'active-route':activeRoute =='local-purchase-order'}">Local Purchase Order</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="vehicleTrip" routerLinkActive="active"  [routerLink]="['settings/vehicle-trip/']" [ngClass]="{'active-route':activeRoute =='vehicle-trip'}">Jobs</li>
              <!-- <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="invoice" routerLinkActive="active"  [routerLink]="['settings/preforma-invoice/']"  [ngClass]="{'active-route':activeRoute =='preforma-invoice'}">Proforma Invoice</li> -->
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="invoice" routerLinkActive="active"   [routerLink]="['settings/invoice/']" [ngClass]="{'active-route':activeRoute =='invoice'}" >Invoice</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items"  *ngxPermissionsOnly="debitNote" routerLinkActive="active"  [routerLink]="['settings/debit-note/']"  [ngClass]="{'active-route':activeRoute =='debit-note'}">Debit Note</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="creditNote" routerLinkActive="active"   [routerLink]="['settings/credit-note/']" [ngClass]="{'active-route':activeRoute =='credit-note'}">Credit Note</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="bos" routerLinkActive="active"   [routerLink]="['settings/billofsupply/']" [ngClass]="{'active-route':activeRoute =='billofsupply'}">Bill Of Supply</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="paymentStatement" routerLinkActive="active"   [routerLink]="['settings/payment-settlement/']" [ngClass]="{'active-route':activeRoute =='payment-settlement'}">Payment Received</li>
              <li (click)="$event.stopPropagation()"  class="sub-menu-items" *ngxPermissionsOnly="paymentAdvance" routerLinkActive="active"   [routerLink]="['settings/payment-advance/']" [ngClass]="{'active-route':activeRoute =='payment-advance'}" >Advance</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" *ngxPermissionsOnly="paymentRefund"  routerLinkActive="active" [routerLink]="['settings/payment-refund/']"  [ngClass]="{'active-route':activeRoute =='payment-refund'}">Refund</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" routerLinkActive="active"   [routerLink]="['settings/jobcard/']" [ngClass]="{'active-route':activeRoute =='jobcard'}">Job Card</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items"  routerLinkActive="active"   [routerLink]="['settings/payment-against-bill/']" [ngClass]="{'active-route':activeRoute =='payment-against-bill'}">Pay Later</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items"  routerLinkActive="active"   [routerLink]="['settings/payment-vendor-advance/']" [ngClass]="{'active-route':activeRoute =='payment-vendor-advance'}">Vendor Advance</li>
              <li (click)="$event.stopPropagation()" class="sub-menu-items" routerLinkActive="active" *ngxPermissionsOnly="['journal_entry__view']"   [routerLink]="['settings/journal-entry/']" [ngClass]="{'active-route':activeRoute =='journal-entry'}">Journal Entry</li>
            <li (click)="$event.stopPropagation()" class="sub-menu-items" routerLinkActive="active" *ngxPermissionsOnly= "['bank_activity__view']"  [routerLink]="['settings/bank-activity/']"  [ngClass]="{'active-route':activeRoute =='bank-activity'}">Bank Activity</li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</aside>
