<div class="calc-height">
    <app-list-widget [isFilter]="true" [isDateRangeText]="true" [isExport]="true" [isDateDropDown]="true"  [isDateRange]="false" [isDropDown]="true"
      [isAddButton]="true" [filterUrl]="filterUrl" (exportList)="exportList($event)" [subtractDays]="30"  [end_date]="end_date" [start_date]="start_date"
      [tabSelectionList]="tabSelectionList" (listWidgetData)="listWidgetData($event)" [buttonData]="buttonData">
      <button class="gb-video-play me-2" id="custom-button-left" (click)="openGothrough()">
        <i class="bi bi-play-circle-fill"></i>
      </button>
    </app-list-widget>
    <div class="alert-msg" *ngIf="apiError">
        <span class="icon-wrap"></span>
        <p class="message-cont">{{ apiError }}</p>
</div>

  </div>
  <div class="container-fluid layout-bg calc-height">
    <div class="row px-3 py-3 shadow-inset-top">
      <div class="col-12">
        <span class="live-status-toggle " (click)="isLiveStatusOpen = !isLiveStatusOpen"> 
          <button class="fw-semibold fs-6 def-color">
            <span>
            <i class="bi bi-caret-right-fill " *ngIf="!isLiveStatusOpen"></i>
            <i class="bi bi-caret-down-fill" *ngIf="isLiveStatusOpen"></i>
            </span> 
            <span class="ms-3">Live Status</span>
          </button>
        </span>
      </div>
    </div>
    <div class="row px-3 def-color live-status-wrap" *ngIf="isLiveStatusOpen">
      <div class="col-lg col-md-4 col-6  ">
        <div class="live-status-card yellow-card">
          <span class="live-status-icon"><i class="bi bi-cash"></i></span>
          <div>
            <p class="fs-4 fw-semibold trips-amount">{{liveStatus?.pending}}</p>
            <p class="fs-12px mt-2 pending-text">Pending Invoice</p>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-6  ">
        <div class="live-status-card blue-card">
          <span class="live-status-icon"><i class="bi bi-file-earmark-fill"></i></span>
          <div>
            <p class="fs-4 fw-semibold trips-amount">{{ currency_type?.symbol}} {{liveStatus?.due_amount}}</p>
            <p class="fs-12px mt-2 sky-blue-text">Due Amount</p>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-6  ">
        <div class="live-status-card yellow-card">
          <span class="live-status-icon"><i class="bi bi-file-earmark-fill"></i></span>
          <div>
            <p class="fs-4 fw-semibold trips-amount">{{ currency_type?.symbol}} {{liveStatus?.current_due}}</p>
            <p class="fs-12px mt-2 pending-text">Current Due</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg col-md-4 col-6  ">
        <div class="live-status-card yellow-card">
          <span class="live-status-icon"><i class="bi bi-file-earmark-fill"></i></span>
          <div>
            <p class="fs-4 fw-semibold trips-amount">{{ currency_type?.symbol}} {{liveStatus?.over_due?.over_due}}</p>
            <p class="d-flex align-items-center pending-text fs-12px  "> Overdue<mat-icon
              class="drop-down" mat-icon-button
              [matMenuTriggerFor]="overDueMenu">arrow_drop_down</mat-icon>
      </p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row">
  
      <div class="custom-table-container col-lg p-0 " id='invoice-list' [ngClass]="{'list-height-sm':isLiveStatusOpen}"
         (scroll)="onScroll($event)">
        <table [ngClass]="{'h-100':invoiceList.length==0}">
  
          <thead>
            <tr>
              <th>INVOICE DATE</th>
              <th>INVOICE NUMBER </th>
              <th>CUSTOMER</th>
              <th>DUE DATE</th>
              <th>TOTAL INVOICE ({{currency_type.symbol}})</th>
              <th>INVOICE BALANCE ({{currency_type.symbol}})</th>
              
              <th>STATUS</th>
              <th class="icon-box"></th>
            </tr>
          </thead>
          <tbody *ngIf="invoiceList.length == 0">
            <tr class="border-0">
              <td class="bg-white" colspan="30">
                <div class="no-list-data-wrap">
                  <figure>
                    <img src="assets/img/no-content.png" alt="">
                  </figure>
                  <h5 class="mt-3 primary-brand-text">No data found!</h5>
                </div>
              </td>
            </tr>
  
          </tbody>
  
          <tbody>
            <tr *ngFor="let data of invoiceList" [ngClass]="{'activated-row':selectedId==data.id}">
                <td>{{dateChange(data.invoice_date)}}</td>
                <td><a class="custom-link"  [routerLink]="[preFixUrl+'/income/invoice/view/'+data.id]"  [queryParams]="{ formList: 'invoice' }" >{{data.invoice_number}}</a>
                </td>
                <td class="td-2l"><div class="text-2l"><a class="custom-link " target="_blank"
                    [routerLink]="[preFixUrl+'/onboarding/party/details/client/'+data.party.id]">{{data.party.display_name}}</a></div>
                </td>
                <td>{{data?.due_date ?dateChange(data?.due_date):'-'}}</td>
                <td>{{data.total_amount | numberFormat}}</td>
                <td>{{data.balance | numberFormat}}</td>
                
                <td>{{data.status}}</td>
                <td class="icon-box ">
                  <div  class="d-flex justify-content-center align-items-center"  *ngIf="data.status!='Paid'">
                    <div  class="position-relative">
                    <div class="tabIndexActive" *ngxPermissionsOnly="[invoicePermissions[1],invoicePermissions[2]]"><button class="material-icons more-icon justify-content-center p-0"
                        (click)="optionsList($event, 'list_'+data.id)">more_vert</button></div>
                    <div class="more-actions__menu tabIndexActive table-popup"
                        [ngClass]="{show: showOptions === 'list_'+data.id}" >
                        <ng-container  *ngIf="data.status!='Paid'">
                          <button *ngxPermissionsOnly="invoicePermissions[1]"  class="more-actions__item w-100 text-start"  [routerLink]="[preFixUrl+'/income/invoice/edit', data.id]"><i
                            class="material-icons">edit</i>Edit</button>
                        </ng-container>
                        <ng-container  *ngIf="data.status!='Paid'&&data.status!='Partially Paid'">
                          <button *ngxPermissionsOnly="invoicePermissions[2]"  class="more-actions__item w-100 text-start"  (click)="popupFunction(data, i)"><i
                            class="material-icons">delete</i>Delete</button>
                        </ng-container>
                    </div>
                  </div>
                  </div>
                
                </td>
            </tr>
          </tbody>
        </table>
      </div>
  
  
    </div>
  </div>
  
  
 
  
  <alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>
  
  <app-go-through [goThroughDetais]="goThroughDetais"></app-go-through>
  <mat-menu #overDueMenu="matMenu" yPosition="below" class="py-2 ">
 <div mat-menu-item  disabled>
  
        <span class="me-2">1-15 days </span>
        <span class=" primary-brand-text float-end fw-bold">{{currency_type?.symbol}} {{liveStatus?.over_due['1_15']}}</span>
    </div>
  
   <div mat-menu-item disabled>
  
        <span class="me-2">16-30 days </span>
        <span class=" primary-brand-text float-end fw-bold">{{ currency_type?.symbol}} {{liveStatus?.over_due['16_30']}}</span>
    </div>
    <div mat-menu-item  disabled>
  
      <span class="me-2">31-45 days</span>
      <span class=" primary-brand-text float-end fw-bold">{{ currency_type?.symbol}} {{liveStatus?.over_due['31_45']}}</span>
  </div>
  
  <div mat-menu-item disabled>
  
      <span class="me-2">Above 45 days</span>
      <span class=" primary-brand-text float-end fw-bold">&nbsp;{{ currency_type?.symbol}} {{liveStatus?.over_due['over_45']}}</span>
  </div>    
  </mat-menu>