.modal {
    &.show {
        display: block;
    }
}

.h-450px{

  height: 450px;
  overflow: auto;
}

.input-wrap label,
.check-label {
    color: #676A6E;
    font-weight: 600;
}

.bottom-btn-wrap {
    background-color: #eaeaea;
    padding-left: 30px;
    padding-right: 30px;
}

.del-btn {
    transition: all 100ms ease;
  
    &:hover {
      transform: scale(1.2);
    }
  }

  .form-layout__card {
    &.active {
      .form-body {
        display: block;
      }
    }
  }

  .form-body {
    display: none;
    margin-bottom: 15px;

    &.show {
      display: block;
    }
  }