<div class="right-section__header align-items-center justify-content-between ps-4">

    <div class="d-flex align-items-center">
        <h1 class="heading" *ngIf="listTitle">{{listTitle}}</h1>
        <div class="select-options me-2" *ngIf="isDropDown">
            <mat-form-field appearance="none">
                <mat-select [(ngModel)]="listWidget.tabSelection" panelClass="custom-panel"
                    (selectionChange)="tabOptionValue()">
                    <mat-option *ngFor="let option of tabSelectionList "
                        [value]="option?.value">{{option?.label}}</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <ng-content select="#custom-button-left"></ng-content>
        <ng-content select="#custom-button"></ng-content>
        <div class="me-3 position-relative" *ngIf="isSearch">

            <input type="text" [(ngModel)]="listWidget.searchValue" class="search-filter border-0 ps-3"
                placeholder="Search" (input)="onSearchValueChange($event.target.value)" />

            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>

        </div>
        <div class="export-button me-3" *ngIf="isExport">
            <button (click)="export()">Export</button>
        </div>

        <div class="toggle-switch me-2" *ngIf="isSwitch">
            <app-toggle-switch (checkedChange)="checkedChange($event)"></app-toggle-switch>
        </div>

       <ng-container *ngIf="isSettings">
        <div class="settings-icon me-2" [ngClass]="{'mat-icon-animation':isOpenSettings }">
            <mat-icon (click)="isOpenSettings=!isOpenSettings;showFilter=false"
                style="color: #979696;">settings</mat-icon>
        </div> 
       </ng-container>
    
        <app-list-widget-list-view-settings [settingsUrl]="settingsUrl" [visible]="isOpenSettings"
            (listViewSettingsData)="listViewSettingsData($event)"></app-list-widget-list-view-settings>

        <div  *ngIf="isDateDropDown" class="me-2 ms-1">
        <app-date-drop-down (dateSelectedEmitter)="dateSelectedEmitter($event)"></app-date-drop-down>
        </div>

        <div class="filter me-3" *ngIf="isFilter">
            <button (click)="showFilter = !showFilter;isOpenSettings=false">
                <span class="material-icons" [ngStyle]="{'color':isFilterApplied?'#595fab':'#979696'}"
                    [ngClass]="{'filterOpen':showFilter}" style="border:1px solid transparent ;">filter_alt</span>
            </button>
            <app-list-widget-filter [filterUrl]="filterUrl" [visible]="showFilter" (filterData)="filterData($event)"
                (filterCancel)="filterCancel($event)"></app-list-widget-filter>
        </div>

        <ng-container *ngIf="isAddButton">
            <div class="add--button" *ngxPermissionsOnly="buttonData.permission">
                <button class="btn btn--primary py-2" [routerLink]="[buttonData.url]">+&nbsp;{{buttonData?.name}}</button>
            </div>
        </ng-container>
        
        <ng-content select="#custom-button-right"></ng-content>

    </div>











</div>