@import "../../../../../../../assets/styles/helpers/variable";
@keyframes fadeInGreen {
  0% {
      background-color: #07c060b0; /* Light green */
  }
  100% {
      background-color: transparent;
  }
}

.new-item {
  animation: fadeInGreen 1s ease;
}
.wrap{
    min-height: calc(100vh - 220px);
}
.input-wrap label{
    color: $text-color;
    font-size: 13px ;
    font-weight: 600;
}
.coming-soon{
    color: #B2B2B2;
}
.priority-icon{
    margin-left: 10px ;
    margin-right: 10px;
}

.position-relative-search{
  position: relative !important;
  margin: 5px 15px;
  z-index: 2;
}
.pl{
  padding-left: 12px;
  padding-right: 0px;
}

.priority {
    
    white-space: nowrap;
    display: inline;
    background-position: left !important;
    padding-left: 20px;
    background-repeat: no-repeat !important;
    &-0{
      background: url('../../../../../../../assets/img/icons/priority-Highest.png')
      
    }
    &-1 {
      background: url('../../../../../../../assets/img/icons/priority-High.png')
        
      
    }
    &-2 {
      background: url('../../../../../../../assets/img/icons/priority-Medium.png')
        
      
    }
    &-3 {
      background: url('../../../../../../../assets/img/icons/priority-Low.png')
        
     
    }
  
    &-4 {
      background: url('../../../../../../../assets/img/icons/priority-Lowest.png')
       
      
    }
  
  }

  .input-wrap label{
    color: $text-color;
    font-size: 13px ;
    font-weight: 600;
}
.search-filter {
    color: #676A6E;
    height: 35px;
    border: 1px solid #ACB5BD !important;
    border-radius: 35px;
    padding: 7px;
    padding-right: 32px;
    transition: all 200ms ease;
}

.search-icon{
    position: absolute;
    font-size: 16px;
    right: 16px;
    top: 9px;
    -webkit-text-stroke: 1px;
    color: #979696;
}

.search-filter:focus {

    border-color: $primary-brand-color !important;
    background-color: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}

.search-filter:focus+.search-icon {
    color: $primary-brand-color;
}
  