<div class="right-section__header" *ngIf="isEdit">
  <h1 class="heading">Edit Salaries</h1>
</div>
<div class="right-section__header"*ngIf="!isEdit">
  <h1 class="heading col-8">Add Salaries</h1>
  <div>
    <button class="gb-video-play float-right"  (click)="openGothrough()">
      <i class="bi bi-play-circle-fill"></i>
  </button>
  <app-go-through  [goThroughDetais]="goThroughDetais"></app-go-through>
  </div>
</div>
<form [formGroup]="employeeSalaryForm" *ngIf="employeeSalaryForm">
  <div class="error-msg-list" *ngIf="globalFormErrorList.length > 0">
      <p class="message-head">{{ errorHeaderMessage }}</p>
      <span class="icon-wrap"></span>
      <ul *ngFor="let error of globalFormErrorList">
        <li class="message-cont">{{ error }}</li>
      </ul>
  </div>
<div class="form-body shadow-inset-top-lg form-layout form-layout--pd no-br-tl no-br-tr formResponsiveTable">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(employeeSalaryForm.controls.date)" >
                <label for="" class="input--required">Date</label>
                <mat-form-field>
                  <input matInput readonly [matDatepicker]="date" (focus)="date.open()"
                      formControlName="date"
                      placeholder="DD/MM/YYYY">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </div>
            <app-error [controlName]="employeeSalaryForm.controls.date"></app-error>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="input-wrap error">
              <app-month-year [labelName]="salaryMonthLabel" [isRequired]="isRequired"  (monthAndYear)="salarymonth($event)"
              [initialDate]="salaryMonthdate" (onMonthSelect)="getSelectedEmployeeStats($event)"></app-month-year>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="input-wrap error">
            <app-month-null [labelName]="allowanceMonthLabel"(monthAndYear)="allowanceMonth($event)" [initialDate]="allowanceMonthdate"
            (onMonthSelect)="getSelectedEmployeeAllowance($event)"></app-month-null>
        </div>
    </div>
        <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(employeeSalaryForm.controls.reference_no)">
                <label for="">Reference No</label>
                <input type="text" class="no-style input--bd" placeholder="Eg.:1234567" value="" formControlName="reference_no">
                <!-- <span class="border-anim"></span> -->
                <app-error [controlName]="employeeSalaryForm.controls.reference_no"></app-error>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(employeeSalaryForm.controls.payment_mode)">
                <label for="" class="input--required">Payment Mode</label>
                <material-dropdown [searchable]="false" [addable]="false" class="dropDownWidth"
                    [selectedOption]="initialValues.paymentMode">
                    <select #customSelect formControlName="payment_mode" class="no-style select--modify">
                        <option *ngFor="let option of paymentAccountList" value="{{ option.id }}">
                            {{ option.name }}</option>
                    </select>
                  </material-dropdown>
                  <app-error [controlName]="employeeSalaryForm.controls.payment_mode"></app-error>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="input-wrap">
                <label for="" class="input">Transaction Date</label>
                <mat-form-field>
                    <input matInput  [matDatepicker]="transaction_date" (focus)="transaction_date.open()"
                        formControlName="transaction_date" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="transaction_date"></mat-datepicker-toggle>
                    <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>


        <div class="form-layout__card mg-top-30 w-100">
          <div class="form-layout__header">
              <h2 class="sub-heading">Salary Details</h2>
              <span class="collapse-line"></span>
          </div>
          <div class="mg-top-30" *ngIf="allEmployeeList.length >0 ||selectedEmployee.length>0 ">
            <div class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg overflow-unset dropDownOverflow">
                <table class="table-container">
                    <thead>
                        <tr class="desktop_th">
                          <th width=14%>Employee Name</th>
                          <th width=14%>Jobs</th>
                          <th width=10%>Salary ({{ currency_type?.symbol}}) </th>
                          <th width=10%> Allowance ({{ currency_type?.symbol}}) </th>
                          <th width=10%>Total ({{ currency_type?.symbol}})</th>
                          <th >Description</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="salary_details" >
                      <ng-container *ngFor="let employeeDetails of employeeSalaryForm.controls.salary_details['controls'];let i = index;"
                      [formGroupName]="i">
                      <tr class="mobile-flex">
                        <td>
                           <h5 class="th_h5_mobile">Employee Name</h5>

                          <div class="filledData">
                            {{employeeDetails.controls.name.value}}
                          </div>
                        </td>
                        <td>
                           <h5 class="th_h5_mobile">Jobs</h5>
                           <div  class="filledData">{{employeeDetails.controls.trips.value}} </div>
                        </td>
                        <td>
                           <h5 class="th_h5_mobile">Salary  ({{ currency_type?.symbol}})</h5>
                          <div class=" ">
                            <input type="text" class="no-style input--bd"  twoDigitDecimalNumber value="" formControlName="salary_paid" (change)="onCalculationChange(employeeDetails)">
                          </div>
                        </td>
                        <td>
                           <h5 class="th_h5_mobile">Allowance  ({{ currency_type?.symbol}})</h5>
                          <div class=" ">
                            <input type="text" class="no-style input--bd"  twoDigitDecimalNumber value="" formControlName="allowance_paid" (change)="onCalculationChange(employeeDetails)">
                          </div>
                        </td>
                        <td>
                           <h5 class="th_h5_mobile">Total  ({{ currency_type?.symbol}})</h5>
                          <div class="input-wrap  border-0 p-0 " [ngClass]="addErrorClass(employeeDetails.controls.total)">
                            <input type="text" class="error-box filledData" readonly twoDigitDecimalNumber value="" formControlName="total">
                          </div>
                        </td>
                        <td>
                          <div><input type="text" placeholder="Description" formControlName="description"></div>
                        </td>
                    </tr>
                      </ng-container>
                    </tbody>
                </table>
            </div>
          </div>
           <div class="mg-top-30" >
                <app-add-edit-employee-salary-list [isEdit]="isEdit" [selectedEmployee]="selectedEmployee" [allEmployeeList]="allEmployeeList" [month]="salarymonthdate" (onSubmit)="idSelected($event)"></app-add-edit-employee-salary-list>
            </div>
      </div>
    </div>
    <div class="form-layout__card mg-top-30 w-100">
      <div class="form-layout__header">
          <h2 class="sub-heading">Others</h2>
          <span class="collapse-line"></span>
      </div>
  </div>
  <div class="mg-top-30">
    <div class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg overflow-unset">
        <table class="table-container">
            <thead>
              <tr class="desktop_th">
                  <th>Employee Name</th>
                  <th>Expense Type</th>
                  <th>Amount ({{ currency_type?.symbol}})</th>
                  <th>Description</th>
                  <th></th>
                </tr>
            </thead>
            <tbody formArrayName="other_expenses">
                <tr *ngFor="let others of employeeSalaryForm.controls.other_expenses['controls'];let ii = index;"
                [formGroupName]="ii" class="mobile-flex">
                  <td>
                    <h5 class="th_h5_mobile">Employee Name  </h5>
                    <div>
                      <material-dropdown [searchable]="false" [addable]="false" class="dropDownWidth"
                      [selectedOption]="others.controls.employeeOption.value" [addErrorClass]="addErrorClass(others.controls.employee_name)">
                      <select #customSelect formControlName="employee_name" class="no-style select--modify" (change)="onAmountChange(others);handleOtherEmployeeChange(ii)">
                          <option *ngFor="let option of employeeList" value="{{ option.id }}">
                              {{ option.emp_name_id}}</option>
                      </select>
                    </material-dropdown>
                     </div>
                  </td>
                  <td>
                    <h5 class="th_h5_mobile"> Expense Type </h5>
                    <div class="select-wrap w-initial">
                      <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth"
                      [postApiUrl]="addExpenseTypeUrl"  [params]="expenseTypeParams" (addValueToList)="addExpenseType($event)" (postApiResponse)="getExpenseType($event,ii)"
                      [addErrorClass]="addErrorClass(others.controls.expense_type)" [selectedOption]="others.controls.expenseTypeOption.value">
                          <select #customSelect  class="no-style select--modify" formControlName="expense_type">
                              <option *ngFor="let expense of expenseTypeData" value="{{ expense.id }}">
                                  {{ expense.expensetype }}
                              </option>
                          </select>
                      </material-dropdown>
                    </div>
                  </td>
                  <td>
                    <h5 class="th_h5_mobile"> Amount ({{ currency_type?.symbol}})</h5>
                    <div class="input-wrap">
                      <input type="text"  placeholder="0" [ngClass]="{'showInvalid':others.controls.amount_paid.invalid&&others.controls.amount_paid.touched}"  threeDigitDecimalNumber value="" formControlName="amount_paid" (change)="onAmountChange(others)">
                    </div>
                  </td>
                  <td>
                    <h5 class="th_h5_mobile"> Description </h5>
                    <div>
                      <input type="text" class="no-style input--bd" placeholder="Description" value="" formControlName="description">
                    </div>
                  </td>
                  <td class="text-center mobile-remove-add-position align-middle">
                    <span class="material-icons delete"  (click)="removeOtherItem(ii)"
                      *ngIf="employeeSalaryForm['controls'].other_expenses.length !== 1">add_circle_outline</span>
                    <span class="material-icons add" (click)="buildOtherersSalary([{}])" *ngIf="employeeSalaryForm['controls'].other_expenses.length -1==ii">add_circle_outline</span>
                  </td>
                </tr>
            </tbody>
        </table>
        <div class="table-footer-actions mg-top-30 mg-bottom-30">
          <a class="clear-item"(click)="clearAllCells()">Clear all</a>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="mg-top-30 col-sm-12">
        <div class="mg-bottom-30">
          <p class="total"> Total ({{ currency_type?.symbol}}) {{total | numberFormat}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 mg-top-30">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-wrap mb-0 pb-3">
                        <label for="">Remind Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="reminder" formControlName="reminder" (focus)="reminder.open()" placeholder="DD/MM/YYYY">
                            <mat-datepicker-toggle matSuffix [for]="reminder"></mat-datepicker-toggle>
                            <mat-datepicker #reminder></mat-datepicker>
                        </mat-form-field>
                        <span class="error-message">Error messge!</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-wrap mb-0 pb-3">
                <label for="" class="">Optional Comment</label>
                <input type="text" class="no-style input--bd" placeholder="Comments" formControlName="comments">
            </div>
        </div>
    </div>
</div>
<div class="form-layout__card mg-top-30">
  <file-uploader (onFileUploaded)="fileUploader($event)"
  (onFileDeleted)="fileDeleted($event)" [multiple]="true"
  [accept]="'capture=camera, image/jpeg,image/x-jpg,image/png, application/pdf'"
  [showFileName]="false" [patchFileUrls]="patchFileUrls">
  </file-uploader>
</div>
</div>


</form>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end">
    
        <button class="btn btn--sm me-2"
            routerLinkActive="active" [routerLink]="[prefixUrl+'/expense/salary_expense/list']">Cancel</button>
        <button class="btn btn--primary " (click)="saveExpense()">{{isEdit?'Update':'Save'}} Expense</button>
    
</div>
