<div class="modal fade" [ngClass]="{'show': disclaimerPopDetail.status}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal--wd" role="document">
    <div class="modal-content">
      <form [formGroup]="addItemForm" (ngSubmit)="addNewItem(addItemForm)"
        (keydown.enter)="$event.preventDefault();">

        <div class="modal-header tabIndexActive">
          <h6 class="modal-title" id="exampleModalLabel">Add Item</h6>
          <button type="button" class="close p-0" data-dismiss="modal" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-20">
          <div class="row tabIndexActive">
            <div class="col-sm-6">
              <div class="input-wrap clearfix" [ngClass]="addErrorClass(addItemForm.get('name'))">
                <label class="input--required">Name</label>
                <input type="text" class="no-style input--bd" formControlName="name" value="{{ disclaimerPopDetail?.name }}"
                  required>
                <span class="border-anim"></span>
                <app-error [controlName]="addItemForm.get('name')"></app-error>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-wrap clearfix" [ngClass]="addErrorClass(addItemForm.get('description'))">
                <label class="input--required">Description</label>
                <input type="text" class="no-style input--bd" formControlName="description" required>
                <span class="border-anim"></span>
                <app-error [controlName]="addItemForm.get('description')"></app-error>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer no-border tabIndexActive">
          <button type="button" class="btn" data-dismiss="modal" (click)="close()">Close</button>
          <button type="submit" class="btn btn--primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="disclaimerPopDetail.status" class="modal-backdrop fade show"></div>
