@import"../../../../../../../../assets/styles/helpers/variable";
.rate-card-more{
    color: $text-color;
    
    font-size: 27px;
    margin-left: 7px;
}
.rate-card-wrap{
    min-height: calc(100vh - 250px);
}
.tab-content {
  
    padding: 15px;
    
}
.container-rate-card-display{
    max-height: unset;
}
