@import "../../../../../assets/styles/helpers/variable";
.add-fuel-popup {
    background-color: $layout-bg;
    border-radius: 8px;
}

.popup-header {
    background-color: #F2F4F7;
    border-radius: 8px 8px 0 0;
    padding: 15px 20px;
    color: $primary-brand-color;

}

.popup-body {
    
    padding-bottom: 15px;

}







// //////////////// copied from overview reports

.fake-tab {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    background-color: $layout-bg;

    .tab {
        height: 50px;
        color: $text-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding: 0 20px;
        white-space:nowrap;



        &:hover {
            background-color: #e8e9eb;
        }
    }

    .active-tab {

        color: $primary-brand-color;
        font-weight: 600;
        position: relative;

        &::after {
            width: 100%;
            height: 3px;
            background-color: $primary-brand-color;
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            animation: active-tab-animation 300ms ease-in-out;

        }
    }
}

.tab-content {
    background-color: #F3F3F3;
    padding: 15px;
}

@keyframes active-tab-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}
// ///////////party list

