<div class="modal fade" [ngClass]="{'show':driverLedgerPopup.show}" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog  modal--xls" role="document">
  <div class="modal-content">
    <div class="tabIndexActive"><button class="close-icon p-0" (click)="onClickCancel()"><mat-icon>highlight_off</mat-icon></button></div>
    <form [formGroup]="driverLedgerform">
      <div class="row mg-top-20 tabIndexActiveFields">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" >
          <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.driver)">
            <label for="" class="input--required">Driver Name</label>
            <material-dropdown [searchable]="true" [addable]="false" [disabled]="isDriverSelected" [selectedOption]="initialDetails.driver"  *ngIf="!isDriverSelected">
              <select #customSelect formControlName="driver" class="no-style select--modify" (change)="getDriverBalance()">
                <option *ngFor="let option of driverListCompanyOrTransporter" value="{{ option?.id }}">
                  {{ option?.first_name }} {{ option?.last_name }}
                </option>
              </select>
            </material-dropdown>
             <p class="input--bd" style="line-height: 1.3" *ngIf="isDriverSelected">{{initialDetails.driver.label}}</p>
             <app-error [controlName]="driverLedgerform.controls.driver"></app-error>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" >
          <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.entry_type)">
            <label for="" class="input--required">Entry Type</label>
            <material-dropdown [searchable]="true" [addable]="false" [selectedOption]="initialDetails.entry_type" *ngIf="!isNewTripView">
              <select #customSelect formControlName="entry_type" class="no-style select--modify" (change)="entryTypeChange()">
                <option *ngFor="let option of entryType" value="{{ option}}">
                  {{ option}}
                </option>
              </select>
            </material-dropdown>
            <p *ngIf="isNewTripView">{{initialDetails.entry_type.label}}</p>
            <app-error [controlName]="driverLedgerform.controls.entry_type"></app-error>
          </div>
        </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.opening_balance)">
              <label for="" class="input--required">Opening balance</label>
              <input  type="text" positiveThreeDigitDecimalNumber class="no-style input--bd" placeholder="123456"  value="" formControlName="opening_balance">
              <app-error [controlName]="driverLedgerform.controls.opening_balance"></app-error>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" [ngClass]="{'disable':isOpeningDate}">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.opening_date)">
              <label for="" class="input--required">Opening balance Date</label>
              <mat-form-field>
                <input matInput [matDatepicker]="opening_date" (focus)="opening_date.open()"  formControlName="opening_date" placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle matSuffix [for]="opening_date"></mat-datepicker-toggle>
                <mat-datepicker #opening_date></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="driverLedgerform.controls.opening_date"></app-error>
            </div>
        </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.amount_got)">
              <label for="" class="input--required">Amount </label>
              <input  type="text"  class="no-style input--bd" placeholder="123456" positiveThreeDigitDecimalNumber [readOnly]="isBalanceNegative" value="" formControlName="amount_got">
              <app-error [controlName]="driverLedgerform.controls.amount_got"></app-error>
            </div>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.date)">
              <label for="" class="input--required">Transaction Date</label>
              <mat-form-field>
                <input matInput [matDatepicker]="date" (focus)="date.open()" formControlName="date" placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="driverLedgerform.controls.date"></app-error>
            </div>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.reason)">
              <label for="" class="input--required">Reason </label>
              <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth"
              [postApiUrl]="reasonPostApi" [params]="reasonParams" [addBlank]="true"
                (postApiResponse)="getReason($event)"
                (addValueToList)="addParamsToReason($event)"
                [selectedOption]="initialDetails.reason" *ngIf="!isBalanceNegative">
                        <select #customSelect formControlName="reason" class="no-style select--modify">
                            <option *ngFor="let option of driverLedgerReason" value="{{ option?.label }}">
                                {{ option?.label }}
                            </option>
                        </select>
                </material-dropdown>
                <p *ngIf="isBalanceNegative"> {{initialDetails.reason.label}}</p>
                <app-error [controlName]="driverLedgerform.controls.reason"></app-error>
            </div>
          </div>


          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.account)">
              <label for="" class="input--required">Bank Account</label>
              <material-dropdown [searchable]="true" [addable]="false" [selectedOption]="initialDetails.account" *ngIf="!diasableAccount">
                <select #customSelect formControlName="account" class="no-style select--modify">
                  <option value="paid_by_driver">Paid By Driver</option>
                  <option *ngFor="let option of bankAccountList" value="{{ option?.id }}">
                    {{ option?.name }}
                  </option>
                </select>
              </material-dropdown>
              <p *ngIf="diasableAccount">{{initialDetails.account.label}}</p>
              <app-error [controlName]="driverLedgerform.controls.account"></app-error>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(driverLedgerform.controls.description)">
              <label for="" class="input">Description </label>
              <input  type="text" class="no-style input--bd" placeholder="Description"  value="" formControlName="description">
              <app-error [controlName]="driverLedgerform.controls.description"></app-error>
            </div>
          </div>


      </div>
    </form>
    <div class="row tabIndexActive">
      <div class="col-6">
        <button class="btn btn- btn--primary wd-105 cancel-button"  type="submit" (click)="onClickCancel()">Cancel</button>
      </div>
      <div class="col-6">
        <button class="btn btn- btn--primary wd-105 save-button text-capitalize"  type="submit" (click)="onClickSave()">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="driverLedgerPopup" class="modal-backdrop fade show"></div>
<alert-popup [inputData]="popupInputDataAssignDriver" (outputData)="assignDriver($event)"></alert-popup>
