<section>

  <div class="right-section__header">
    <h1 class="heading my-1 w-auto">VAT Payable</h1>
    <div class="header-actions my-1 w-auto">
      <button class="btn btn--primary btn--dropdown  mg-right-10 export-mobile-icon" (click)="$event.stopPropagation();canDownloadTrialBalance = !canDownloadTrialBalance">Export<span><i class="fas fa-file-export"></i></span><i class="material-icons mobile-hide">arrow_drop_down</i>
        <ul class="more-actions__menu" [ngClass]="{'show': canDownloadTrialBalance}">
          <li class="more-actions__item" type="button"  (click)="downLoadxlsx('xlsx')" >Export As EXCEL</li>
          <li class="more-actions__item" type="button"  (click)="downLoadxlsx('pdf')" >Export As PDF</li>
        </ul>
       </button>


        <div class="mobile-calender">
          <input type="text" class="form-control  date-range date-range-style" [ngModelOptions]="{standalone: true}" bsDaterangepicker
        [(ngModel)]="selectedRange" (bsValueChange)="filterVatReceivable($event)"
        [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', showWeekNumbers: false }">
        </div>
    </div>
  </div>
  <div class="balance-header box-shadow">
    <div class="row">

      <div class="col-sm-12 actions-item">
        <div class="actions-wrap align-items-center">
          <button class="btn" [ngClass]="{'btn--primary': selectedType == 'overall'}"  (click)="onSelectedType('overall')">Overall</button>
          <button class="btn  mg-left-10" [ngClass]="{'btn--primary': selectedType== 'expanded'}"  (click)="onSelectedType('expanded')">Expanded</button>
          <div class="select-wrap ms-2">
            <span class="show-text me-1">Showing</span>
            <select [(ngModel)]="filter_by" name="" class="no-style select--modify">
              <option *ngFor="let num of filter" value="{{ num.value }}">{{
                  num.key
                }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper-list bg-white pb-0">
    <div [ngSwitch]="selectedType">
      <div *ngSwitchCase="'overall'"  [ngClass] = "{'list_height' : vatData.length !=0 }">
        <table class="table-container">
          <thead>
              <tr>
                <th width="33.33%">Party Name</th>
                <th  width="33.33%">TRN Number</th>
                <th  width="33.33%">VAT ({{ currency_type?.symbol}})</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngIf="vatData.length == 0">
                  <td colspan="10" style="background-color: #fff">
                      <div class="no-content-wrapper">
                          <figure class="no-content-pic">
                              <img src="assets/img/no-content.png" alt="">
                          </figure>
                          <div class="no-content-txt">
                              <h5 class="heading">No data found!</h5>
                          </div>
                      </div>
                  </td>
              </tr>
              <tr *ngFor="let item of vatData | paginate: {id:'pagination1', itemsPerPage: filter_by, currentPage: p1 }; let i = index;">
                    <td><a target="_blank" class="custom-link" [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/'+item.party.id]" >{{ item.party.display_name }}</a></td>
                    <td>{{ item.gstin }}</td>
                    <td>{{ item.vat_amount }}</td>
              </tr>
          </tbody>
      </table>
      </div>
      <div *ngSwitchCase="'expanded'">
        <table class="table-container">
          <thead>
              <tr>
                <th  width="16.66%">Party Name</th>
                <th  width="16.66%">VAT Number</th>
                <th  width="16.66%">Bill Date</th>
                <th  width="16.66%">Bill Number</th>
                <th  width="16.66%">Invoice Amount ({{ currency_type?.symbol}})</th>
                <th  width="16.66%">VAT ({{ currency_type?.symbol}})</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngIf="vatData.length == 0">
              <td colspan="10" style="background-color: #fff">
                  <div class="no-content-wrapper">
                      <figure class="no-content-pic">
                          <img src="assets/img/no-content.png" alt="">
                      </figure>
                      <div class="no-content-txt">
                          <h5 class="heading">No data found!</h5>
                      </div>
                  </div>
              </td>
            </tr>
            <tr *ngFor="let item of vatData | paginate: {id:'pagination1', itemsPerPage: filter_by, currentPage: p1 }; let i = index;">
                <td><a target="_blank" class="custom-link" [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/'+item.party.id]" >{{ item.party.display_name }}</a></td>
                <td>{{ item.gstin }}</td>
                <td>{{ item.bill_date }}</td>
                <td>{{ item.bill_number }}</td>
                <td>{{ item.total_amount }}</td>
                <td>{{ item.vat_amount}}</td>
            </tr>
          </tbody>
      </table>
      </div>
      <div class="table-page-no">
        <pagination-controls id="pagination1"  previousLabel='' nextLabel="" directionLinks="true" class="my-pagination"
            (pageChange)="p1 = $event" (pageBoundsCorrection)="p1=$event">
        </pagination-controls>
      </div>
    </div>
</div>


</section>
