@import "../../../../assets/styles/helpers/variable";
@import "../../../../assets/styles/helpers/placeholder";
@import "../../../../assets/styles/helpers/mixins";
.dashboard {
  &-header {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      margin-bottom: 30px;
      @include respond-to(tablet) {
          @include flex-direction(column);
          @include align-items(flex-start);
      }
      &__cont {
          .heading {
              @extend %secondary-font;
              color: rgba($primary-text-color, 0.9);
              font-size: 26px;
              margin: 0 0 10px 0 !important;
          }
          .desc-cont {
              color: $secondary-text-color;
              font-size: 14px;
              line-height: 20px;
              margin: 0 0 0 0 !important;
          }
      }
      .btn--onboard {
          white-space: nowrap;
          @include respond-to(tablet) {
              margin-top: 15px;
          }
          @include respond-to(mobile) {
              width: 100%;
          }
      }
  }
  &-list {
      &__item {
          padding: 0 10px;
          box-shadow: none !important;
          &__header {
              @include flexbox();
              @include align-items(center);
          }
          .pic {
              >i {
                  color: #b3b4fa !important;
                  font-size: 70px;
              }
          }
          .details {
              margin-left: 15%;
              .sub-title {
                  color: $primary-text-color--light;
                  font-size: 16px;
                  line-height: 20px;
                  margin-bottom: 10px;
              }
              .desc {
                  color: $secondary-text-color;
                  font-size: 14px;
                  line-height: 18px;
                  padding-right: 48px;
              }
          }
          &__footer {
              @include flexbox();
              @include align-items(center);
              @include justify-content(space-between);
              width: calc(100% + 40px);
              margin-left: -20px;
              border-top: 1px solid #e4e8ee;
              padding: 10px 20px;
              .left-cont {
                  .desc {
                      color: $primary-brand-color;
                      font-weight: bold;
                      font-size: 14px;
                      &--modify {
                          color: #fcb040;
                          padding-right: 10px;
                          margin-right: 10px;
                          border-right: 1px solid $secondary-text-color;
                      }
                  }
              }
              .right-cont {
                  .icon-wrap {
                      display: inline-block;
                      padding: 9px;
                      background-color: $white;
                      color: $secondary-text-color;
                      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
                      cursor: pointer;
                      >i {
                          font-size: 22px;
                          vertical-align: middle;
                      }
                      &:last-child {
                          margin-left: 10px;
                      }
                  }
              }
              &--modify {
                  @include justify-content(flex-end);
              }
          }
      }
  }
}
.centered
{
 /*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: white;
  border-radius: 5px;
  box-shadow: -1px 0px 20px 2px #cccccc;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  width: 90%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.list-01{
  background: white;
   cursor:pointer;
   margin-bottom:10px;
  padding:10px
}
.main-content{
  padding-top: 100px;
}
.list-01:hover {
  box-shadow: 0 0 11px #9fa8da;
}
.profile-img
{
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border-radius: 100%;
  border: 4px solid #9fa8da;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 20;
	.nav {
		&__primary {
			@include flexbox();
			// @include align-items(center);
			height: 60px;
			padding: 6px 30px;
			color: $white;
			background-color: $primary-brand-color;
			@media (max-width: 700px) {
				@include justify-content(space-between);
				padding: 6px 15px;
			}
		}
		&__secondary {
			@include flexbox();
			@include align-items(center);
			padding: 0px 30px;
			background: $layout-bg;
			border: 1px solid #d8e1e9;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
			&__list {
				position: relative;
				margin-right: 25px;
				padding: 4px 10px 4px 22px;
				@include transition(all 300ms linear);
				@include respond-to(wide-screen) {
					margin-right: 10px;
				}
				.txt {
					color: $secondary-text-color;
					font-size: 12px;
					@media (max-width: 1024px) {
						font-size: 10px;
					}
					@media only screen and (min-width: 1900px) {
						font-size: 14px;
					   }
					line-height: 40px;
					margin-left: 10px;
				}
				&:after {
					content: "";
					position: absolute;
					bottom: -7px;
					left: 0px;
					background-color: $primary-brand-color;
					width: calc(100% + 0px);
					height: 2px;
					opacity: 0;
					@include transition(all 300ms linear);



				}
				 // &:hover::after, &.active::after{
				//     opacity: 1;
				// }
				&:hover {
					&::after {
						opacity: 1;
					}
					.txt {
						color: $primary-brand-color;
					}
				}
				&.active {
					&::after {
						opacity: 1;
					}
					.txt {
						color: $primary-brand-color;
					}
				}
			}
			@include respond-to(tablet) {
				display: none;
			}
			.icon {
				&--dashboard {
					background: url(/assets/img/icons/dashboard-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/dashboard-cl.svg) left center no-repeat;
					}
				}
				&--master {
					background: url(/assets/img/icons/master-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/master-cl.svg) left center no-repeat;
					}
				}
				&--operations {
					background: url(/assets/img/icons/operations-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/operations-cl.svg) left center no-repeat;
					}
				}
				&--revenue {
					background: url(/assets/img/icons/revenue-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/revenue-cl.svg) left center no-repeat;
					}
				}
				&--reports {
					background: url(/assets/img/icons/reports-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/reports-cl.svg) left center no-repeat;
					}
				}
				&--bankActivity {
					background: url(/assets/img/icons/bank-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/bank-cl.svg) left center no-repeat;
					}
				}
				&--calendar {
					background: url(/assets/img/icons/calendar-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/calendar-cl.svg) left center no-repeat;
					}
				}
				&--journalEntry {
					background: url(/assets/img/icons/journal-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/journal-cl.svg) left center no-repeat;
					}
				}
				&--gps {
					background: url(/assets/img/icons/gps-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/gps-cl.svg) left center no-repeat;
					}
				}
				&--quick-action {
					background: url(/assets/img/icons/quick-action-bw.svg) left center no-repeat;
					&:hover,
					&.active {
						background: url(/assets/img/icons/quick-action-cl.svg) left center no-repeat;
					}
				}
			}
		}
	}
	.brand-logo {
		@include respond-to(tablet) {
			margin-left: 45px;
		}
		.logo-mobile {
			display: none;
			@include respond-to(tablet) {
				display: block;
			}
		}
		.logo-desktop {
			@include respond-to(tablet) {
				display: none;
			}
		}
	}
	.profile {
		&-wrap {
			margin-left: 26px;
			cursor: pointer;
			&:hover {
				.profile-details__menu {
					opacity: 1;
					visibility: visible;
					top: 42px;
				}
			}
		}
		&-pic {
			@include avatar(34px, 34px, transparent, 100%);
			margin: 0;
			>img {
				@include avatar(34px, 34px, transparent, 100%);
				border: 4px solid rgba(255, 255, 255, 0.2);
			}
		}
		&-details {
			margin-left: 15px;
			position: relative;
			@include respond-to(tablet) {
				display: none;
			}
			&__menu {
				min-width: 206px;
				position: absolute;
				right: -20px;
				top: 100px;
				background: $white;
				text-align: left;
				border: 1px solid #d8e1e9;
				border-radius: 3px;
				box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
				padding: 10px 0;
				z-index: 3;
				opacity: 0;
				visibility: hidden;
				@include transition(all 300ms cubic-bezier(0, 0.42, 0.02, 1.29));
				@include respond-to(tablet) {
					right: 14px;
				}
				@include respond-to(mobile) {
					right: 0px;
				}
				&:after {
					content: "";
					top: -25px;
					right: 20px;
					position: absolute;
					border: 11px solid transparent;
					border-bottom: 16px solid $white;
				}
				&:before {
					content: "";
					top: -27px;
					right: 20px;
					position: absolute;
					border: 11px solid transparent;
					border-bottom: 16px solid rgba($black, 0.15);
				}
			}
			&__item {
				padding: 15px 20px;
				@include flexbox();
				@include align-items(center);
				color: rgba($primary-text-color, 0.9);
				cursor: pointer;
				i {
					margin-right: 10px;
				}
				&:hover {
					background-color: #f3f8fd;
				}
				&.active {
					background-color: darken(#f3f8fd, 10%);
				}
			}
		}
	}
	.mobile-search-icon {
		display: none;
		color: #b3b4fa;
		margin-right: 20px;
		@media (max-width: 700px) {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.mobile-toggle {
		display: none;
		@include respond-to(tablet) {
			position: absolute;
			left: 15px;
			top: 15px;
			display: block;
			width: 28px;
			height: 26px;
			@include rotate(0deg);
			@include transition(0.5s ease-in-out);
			cursor: pointer;
			&__icon {
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 3px;
				background: $white;
				border-radius: 9px;
				@include rotate(0deg);
				@include transition(0.25s ease-in-out);
				opacity: 1;
				&--top-bar {
					top: 0;
					left: 0;
					@include transform-origin();
				}
				&--middle-bar {
					top: 10px;
				}
				&--bottom-bar {
					top: 20px;
					left: 0;
					@include transform-origin();
				}
			}
		}
		&.open {
			.mobile-toggle__icon {
				&--top-bar {
					@include rotate(45deg);
				}
				&--middle-bar {
					width: 0%;
					opacity: 0;
					visibility: hidden;
				}
				&--bottom-bar {
					@include rotate(-45deg);
				}
			}
		}
	}
}

//Mobile Header
.mobile-nav {
	width: 50%;
	height: 100%;
	background-color: $layout-bg;
	border: 1px solid $primary-border-color;
	@include transition(all 300ms 200ms cubic-bezier(0.67, -0.04, 0.93, 0.21));
	@include translate(-100%, 0);
	@include respond-to(mobile) {
		width: 100%;
	}
	&-wrapper {
		position: fixed;
		top: 60px;
		left: 0;
		width: 100%;
		height: 80vh;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		@include transition(all 300ms ease-in);
		&.open {
			opacity: 1;
			visibility: visible;
			.mobile-nav {
				overflow: scroll;
				@include translate(0, 0);
			}
		}
	}
}

.mobile-nav,
.secondary-nav {
	&__list {
		&.active {
			.secondary-nav__wrapper {
				display: block;
			}
			.collapse-icon {
				&::after {
					content: "-";
				}
			}
		}
	}
	&__item {
		@include flexbox();
		@include align-items(center);
		border-bottom: 1px solid $secondary-border-color;
		padding: 10px 20px 10px 20px;
		cursor: pointer;
		.txt {
			color: $secondary-text-color;
			font-size: 14px;
			line-height: 40px;
			margin-left: 10px;
			vertical-align: middle;
		}
		.material-icons {
			color: #939ba4;
		}
		&:hover {
			.material-icons {
				color: $primary-brand-color;
			}
			.txt {
				color: $primary-brand-color;
				font-weight: bold;
			}
		}
	}
}

.secondary-nav {
	&__wrapper {
		display: none;
	}
	&__list {
		padding-right: 0;
		.sub-menu {
			display: none;
			&-items {
				padding: 15px 0px 15px 80px;
				color: $secondary-text-color;
				&:hover {
					color: $primary-brand-color;
					font-weight: bold;
				}
			}
		}
		&.active {
			border-bottom: 1px solid $secondary-border-color;
			.secondary-nav__item {
				border-bottom: none;
				background-color: $aside-list-active;
				.material-icons {
					color: $primary-brand-color;
				}
				.txt {
					color: $primary-brand-color;
					font-weight: bold;
				}
			}
			.sub-menu {
				display: block;
			}
		}
	}
	&__item {
		cursor: pointer;
		padding: 10px 20px 10px 45px;
		&:hover {
			background-color: $aside-list-active;
		}
	}
}

.active-nav {
	position: relative;
	.secondary-nav {
		position: absolute;
		left: 0;
		width: 100%;
		&__list {
			max-height: 60px;
			overflow: hidden;
			list-style-type: none; //  &:hover {
			//    max-height: initial;
			//  }
		}
	}
}

.mobile-search {
	&-wrapper {
		@media (min-width: 700px) {
			opacity: 0 !important;
			visibility: hidden !important;
		}
		opacity: 0;
		visibility: hidden;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($black, 0.8);
		z-index: 4;
		@include transition(all 300ms ease-in);
		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
	&-container {
		max-width: 350px;
		margin: 0 auto;
		padding: 0 20px;
		position: absolute;
		top: 10px;
		left: -25px;
		right: 0;
		bottom: 0;
		.search-input {
			position: relative;
			>input {
				border: none;
				padding: 10px 46px 10px 15px;
				border-radius: 0 3px 3px 0;
			}
			.search-icon {
				position: absolute;
				right: 12px;
				top: 9px;
				color: $primary-border-color;
			}
		}
		.search-btn-close {
			position: absolute;
			top: 12px;
			right: -6px;
			width: 14px;
			height: 14px;
			background: url(/assets/img/close-btn.svg) right center no-repeat;
		}
	}
}

.matmenuitem{
		padding: 2px 10px;
}
@media only screen and (max-width: 987px) {
		.desktop{
			display: none !important;
		}
 }
@media only screen and (min-width: 987px) {
		.mobile-menu{
			display: none !important;
		}
 }





//   notificatiobar


 .subject {


	padding-bottom: 5px;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	width: 280px !important;

	background-color: #fff;
	text-align: left;
	overflow: auto;
    height: 400px;
	// @media (max-width: 320px) {
	// 	margin-left: 25px;
	// }


  }

  .container {
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	padding: 5px;

	border-top: 1px solid #D8D8D8;
	background-color: #fff;
	list-style-type: none;

  }
  .content:nth-child(even)
  {
	background-color: rgb(235, 235, 235);
	}
  .last {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #D8D8D8;
	width: 20px;
  }
  .content {
	font-size: 16px;
	padding: 5px;
  }


  .txt {
	color: #dbdbdb;
	color: $secondary-text-color;

	font-size: 14px;
	line-height: 30px;
	margin-left: 4px;

  }

  .txt-sub {
	color: #535252;
	color: $secondary-text-color;
	font-size: 12px;
	line-height: 30px;
	margin-left: 4px;
  }
  .time {
	color: #979797;

	font-size: 10px;
	line-height: 20px;
	margin-left: 4px;
  }
  .triangle {
	margin-left: 150px;
	width: 0px;
	height: 0px;
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 0px 25px 25px 25px;
	transform: translateY(1px)
  }

  .link {

	font-size: 11px;
	text-decoration: underline;
  }

  //   .icon {
// 	margin-top: 19px;
// 	margin-left: 16px;
// 	position: absolute;
// 	width: 34px;
// 	height: 34px;
// 	border-radius: 50%;
// 	border: 2px solid #818181;
//   }

.caret {
	width: 280px;
	height: auto;
	background-color: black;
	color: #fff;
	padding: 20px;
	position: relative;
	margin: 40px;
	float: left;
  }

  .caret.arrow-top {
	margin-top: 40px;
  }

  .caret.arrow-top:after {
	content: " ";
	position: absolute;
	right: 30px;
	top: -15px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid black;
  }

  .caret.arrow-right:after {
	content: " ";
	position: absolute;
	right: -15px;
	top: 15px;
	border-top: 15px solid transparent;
	border-right: none;
	border-left: 15px solid black;
	border-bottom: 15px solid transparent;
  }

  .caret.arrow-bottom:after {
	content: " ";
	position: absolute;
	right: 30px;
	bottom: -15px;
	border-top: 15px solid black;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: none;
  }

  .caret.arrow-left:after {
	content: " ";
	position: absolute;
	left: -15px;
	top: 15px;
	border-top: 15px solid transparent;
	border-right: 15px solid black;
	border-left: none;
	border-bottom: 15px solid transparent;
  }

  [tabindex="2"]:focus {
	outline: 1px solid rgb(0, 0, 0);
  }
  [tabindex="3"]:focus {
	outline: 1px solid rgb(0, 0, 0);
  }

  mat-menu [tabindex=""]:focus {
	outline: none;
  }

  [tabindex="5"]:focus {
	outline: 1px solid rgb(0, 0, 0);
  }

 .blink{
	font-size: 12px;
					@media (max-width: 1024px) {
						font-size: 10px;
					}
					@media only screen and (min-width: 1900px) {
						font-size: 14px;
					   }
	color: green;
	animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}


  .heading-company
  {
	margin: 25px 0;
    display: flex;
    justify-content: center;
    color: #5e6ec8;
    font-size: 20px;
    padding: 0;
  }


  .profile-img
  {
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0);
    border-radius: 100%;
    border: 4px solid #9fa8da;
  }
@media screen and (max-width: 767px){
	.centered{

		padding-left: 3%;
		padding-right: 3%;


	}
	.heading-company{
		font-size: 18px
	}
}
