<div class="header" *ngIf="this.tenentList.length>1">
  <nav class="nav__primary d-flex bd-highlight">
      <a class="brand-logo  flex-grow-1  bd-highlight" href="#" tabindex="1">
          <img src="assets/img/transport-simple.png" alt="logo" class="logo-desktop" width="251" height="45">
          <img src="assets/img/trasport-simple-logo-mobile.png" alt="logo" style="margin-left: -39px;" class="logo-mobile" width="55" height="40">
      </a> 
      <button style="color: white;" class=" gb-btn gb-btn-icon " (click)="logMeOut()"><span class="material-icons">logout </span>Log Out</button>
  </nav>
</div>
<div class="main-content clearfix" style="background-image: url(../../../../../../assets/img/cover-img/company_background.svg);" *ngIf="this.tenentList.length>1">
  <div class="centered">
    <h3 class="heading-company">Please select your company</h3>
      <div class="list-01" *ngFor="let tenent of tenentList">
        <div class="form-layout dashboard-list__item">
          <div class="dashboard-list__item__header" (click)="goToOverview(tenent)">
              <figure class="pic">
                  <img [src]="tenent?.logo_url?tenent?.logo_url:profileImage" alt="" width="80" height="65" class="profile-img">
              </figure>
              <div class="details">
                  <h5 class="sub-title">{{ tenent?.name | uppercase }}</h5>
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>



