<div class="p-4 def-color">
    <div class="alert alert-primary" role="alert">
        Please note: The New changes will be effective for the new {{ screenname }} created.
    </div>
    <form [formGroup]="approvalForm">
        <div class="mb-3">
            <p class="fs-6 fw-semibold mb-3"> {{screenname}} Approval Preferences</p>
            <!-- <p class="mb-4">I don't know the proper words which will come here but we can explain our user by this what this
                thing do and what it mean .</p> -->
            <mat-radio-group aria-label="Select an option" formControlName="approval_type"
                (change)="onApprovelConfigureChange()">
                <mat-radio-button [value]="0" color="primary" class="fw-semibold mb-3">Don't Configure {{screenname}}
                    Approval</mat-radio-button>
                <br>
                <mat-radio-button [value]="1" color="primary" class="fw-semibold mb-4">Configure multi-level approval
                    with
                    specific approvers</mat-radio-button>
                <br>
            <mat-radio-button [value]="2" color="primary" class="fw-semibold mb-4">Configure template based multi-category approval with specific approvers</mat-radio-button>
            </mat-radio-group>
    
            <ng-container *ngIf="this.approvalForm.controls['approval_type'].value==1">
                <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.default">
                    Please select unique User for each Level Approver
                </div>
                <div class="row mx-0 mb-3">
                    <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6  " formArrayName="default">
        
                        <ng-container *ngFor="let control of approvalForm.controls.default['controls'];let i = index"
                            class="drag-item py-2" [formGroupName]="i">
                            <div class="d-flex align-items-center my-3">
                                <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                    [selectedOption]="initialValues.default[i]" class="dropDownWidth flex-grow-1">
                                    <select #customSelect name="" formControlName="id" (change)="onApproverChange('default')">
                                        <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                            option.name }}</option>
                                    </select>
                                </material-dropdown>
        
                                <div class="ms-3 add-close-block">
                                    <button (click)="removeApproverRow(i,'default')"
                                        *ngIf="approvalForm.controls.default['controls'].length != 1"><span
                                            class="material-icons warn-text">
                                            highlight_off
                                        </span></button>
                                    <button (click)="addApproverRow('default')"
                                        *ngIf="i==approvalForm.controls.default['controls'].length-1"><span
                                            class="material-icons green-text">
                                            add_circle_outline
                                        </span></button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="this.approvalForm.controls['approval_type'].value==2">
                <div class="veh-category-wrap mb-4 mt-2">
                    <div [ngClass]="{'taberror':isTabError.crane}" class="veh-category" *ngIf="isCrane" (click)="addLabes('crane'); selectedCategory='crane'"[class.active]="selectedCategory=='crane'">
                      <img src="../../../../../../../../assets/img/icons/crane-truck.svg" alt="truck image">
                      <p class="mt-2">Crane</p>
                    </div>
                    <div class="veh-category" [ngClass]="{'taberror':isTabError.awp}" *ngIf="isAwp" (click)="addLabes('awp'); selectedCategory='awp'" [class.active]="selectedCategory=='awp'">
                      <img src="../../../../../../../../assets/img/icons/awp.svg" alt="truck image">
                      <p class="mt-2">AWP</p>
                    </div>
                    <div class="veh-category" [ngClass]="{'taberror':isTabError.others}" *ngIf="isOthers" (click)="addLabes('others');selectedCategory='others'" [class.active]="selectedCategory=='others'">
                        <img src="../../../../../../../assets/img/icons/loose-cargo-black.png"  alt="truck image" class="cargo">
                        <p class="mt-2">Loose Cargo</p>
                      </div>
                      <div class="veh-category" [ngClass]="{'taberror':isTabError.container}" *ngIf="isContainer" (click)="addLabes('container');selectedCategory='container'" [class.active]="selectedCategory=='container'">
                        <img  class="container" src="../../../../../../../assets/img/icons/container-black.png" alt="truck image">
                        <p class="mt-2">Container</p>
                      </div>
                     
                  </div>
                  <div class="row mx-0 mb-3">
                    <ng-container *ngIf="selectedCategory=='crane'">
                        <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.crane">
                            Please select unique User for each Level Approver
                        </div>
                        <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6  " formArrayName="crane">
                            <ng-container *ngFor="let control of approvalForm.controls.crane['controls'];let i = index"
                                class="drag-item py-2" [formGroupName]="i">
                                <div class="d-flex align-items-center my-3">
                                    <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                    <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                        [selectedOption]="initialValues.crane[i]" class="dropDownWidth flex-grow-1">
                                        <select #customSelect name="" formControlName="id" (change)="onApproverChange('crane')">
                                            <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                                option.name }}</option>
                                        </select>
                                    </material-dropdown>
            
                                    <div class="ms-3 add-close-block">
                                        <button (click)="removeApproverRow(i,'crane')"
                                            *ngIf=" approvalForm.controls.crane['controls'].length != 1"><span
                                                class="material-icons warn-text">
                                                highlight_off
                                            </span></button>
                                        <button (click)="addApproverRow('crane')"
                                            *ngIf="i== approvalForm.controls.crane['controls'].length-1"><span
                                                class="material-icons green-text">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedCategory=='awp'">
                        <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.awp">
                            Please select unique User for each Level Approver
                        </div>
                        <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6 " formArrayName="awp">
                            <ng-container *ngFor="let control of approvalForm['controls']['awp']['controls'];let i = index"
                                class="drag-item py-2" [formGroupName]="i">
                                <div class="d-flex align-items-center my-3">
                                    <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                    <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                        [selectedOption]="initialValues.awp[i]" class="dropDownWidth flex-grow-1">
                                        <select #customSelect name="" formControlName="id" (change)="onApproverChange('awp')">
                                            <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                                option.name }}</option>
                                        </select>
                                    </material-dropdown>
            
                                    <div class="ms-3 add-close-block">
                                        <button (click)="removeApproverRow(i,'awp')"
                                            *ngIf="approvalForm.controls['awp']['controls'].length != 1"><span
                                                class="material-icons warn-text">
                                                highlight_off
                                            </span></button>
                                        <button (click)="addApproverRow('awp')"
                                            *ngIf="i== approvalForm.controls['awp']['controls'].length-1"><span
                                                class="material-icons green-text">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedCategory=='cargo'">
                        <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.cargo">
                            Please select unique User for each Level Approver
                        </div>
                        <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6  " formArrayName="cargo">
                            <ng-container *ngFor="let control of approvalForm.controls.cargo['controls'];let i = index"
                                class="drag-item py-2" [formGroupName]="i">
                                <div class="d-flex align-items-center my-3">
                                    <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                    <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                        [selectedOption]="initialValues.cargo[i]" class="dropDownWidth flex-grow-1">
                                        <select #customSelect name="" formControlName="id" (change)="onApproverChange('cargo')">
                                            <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                                option.name }}</option>
                                        </select>
                                    </material-dropdown>
            
                                    <div class="ms-3 add-close-block">
                                        <button (click)="removeApproverRow(i,'cargo')"
                                            *ngIf=" approvalForm.controls.cargo['controls'].length != 1"><span
                                                class="material-icons warn-text">
                                                highlight_off
                                            </span></button>
                                        <button (click)="addApproverRow('cargo')"
                                            *ngIf="i== approvalForm.controls.cargo['controls'].length-1"><span
                                                class="material-icons green-text">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedCategory=='container'">
                        <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.container">
                            Please select unique User for each Level Approver
                        </div>
                        <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6  " formArrayName="container">
                            <ng-container *ngFor="let control of approvalForm.controls.container['controls'];let i = index"
                                class="drag-item py-2" [formGroupName]="i">
                                <div class="d-flex align-items-center my-3">
                                    <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                    <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                        [selectedOption]="initialValues.container[i]" class="dropDownWidth flex-grow-1">
                                        <select #customSelect name="" formControlName="id" (change)="onApproverChange('container')">
                                            <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                                option.name }}</option>
                                        </select>
                                    </material-dropdown>
            
                                    <div class="ms-3 add-close-block">
                                        <button (click)="removeApproverRow(i,'container')"
                                            *ngIf=" approvalForm.controls.container['controls'].length != 1"><span
                                                class="material-icons warn-text">
                                                highlight_off
                                            </span></button>
                                        <button (click)="addApproverRow('container')"
                                            *ngIf="i== approvalForm.controls.container['controls'].length-1"><span
                                                class="material-icons green-text">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedCategory=='others'">
                        <div class="alert alert-danger" role="alert" *ngIf="isIdDuplicatedFor.others">
                            Please select unique User for each Level Approver
                        </div>
                        <div class="approver-form-wrap rounded-3 overflow-hidden py-2 px-4 col-lg-6  " formArrayName="others">
                            <ng-container *ngFor="let control of approvalForm.controls.others['controls'];let i = index"
                                class="drag-item py-2" [formGroupName]="i">
                                <div class="d-flex align-items-center my-3">
                                    <p class="me-3 fw-semibold">Level {{i+1}} Approver:</p>
                                    <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(control.controls.id)"
                                        [selectedOption]="initialValues.others[i]" class="dropDownWidth flex-grow-1">
                                        <select #customSelect name="" formControlName="id" (change)="onApproverChange('others')">
                                            <option *ngFor="let option of usersList" value="{{ option.id }}">{{
                                                option.name }}</option>
                                        </select>
                                    </material-dropdown>
            
                                    <div class="ms-3 add-close-block">
                                        <button (click)="removeApproverRow(i,'others')"
                                            *ngIf=" approvalForm.controls.others['controls'].length != 1"><span
                                                class="material-icons warn-text">
                                                highlight_off
                                            </span></button>
                                        <button (click)="addApproverRow('others')"
                                            *ngIf="i== approvalForm.controls.others['controls'].length-1"><span
                                                class="material-icons green-text">
                                                add_circle_outline
                                            </span></button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>

            </ng-container>
          
        </div>

        <div class="mb-3">
            <p class="fs-6 fw-semibold mb-3">Notifications Preferences</p>
            <mat-checkbox color="primary" formControlName="notify_approver" class="fw-semibold mb-3">Send in-app notifications when transactions are submitted for approval</mat-checkbox>
            <br>
            <mat-checkbox color="primary" formControlName="notify_submitter" class="fw-semibold mb-4">Notify the submitter about status change</mat-checkbox>
        </div>
        <button class="updateMark" (click)="onSubmit()">
            <span class="updateText">{{updateText}}</span>
            <span class="successTest"  [ngClass]="{'successTickmark': successMsg}"></span>
          </button>
    </form>
</div>