<div class="gb-fake-tab-wrapper"><span>Charge</span></div>
<div class="custom-fake-tab   border-bottom">
    <button (click)="tabChanged(1)" matRipple class="tab px-5" [ngClass]="{'active-tab':selectedTab==1}">Rental
        Charge</button>
    <button (click)="tabChanged(2)" matRipple class="tab px-5" [ngClass]="{'active-tab':selectedTab==2}">Additional
        Charge</button>
</div>
<ng-container *ngIf="selectedTab==1">
<div class="d-flex">
    <p class="p-4 fw-semibold def-color me-3">
        No. of shift : <span class="fw-normal">{{shift}}</span>
    </p>
    <p class="p-4 fw-semibold def-color me-3">
        Billing Unit : <span class="fw-normal">{{billingUnitlabel}}</span>
    </p>
</div>
   

    

    <div class="addable-row-table mx-2 mb-2 def-color addable-row-table-display">
        <table>
            <thead>
                <tr>

                    <th rowspan="2">
                        Specification
                    </th>
                    <th class="text-center" *ngIf="vehObject?.rental_charge?.daily_wth_fuel || vehObject?.rental_charge?.daily_wo_fuel"    [attr.colspan]="getColSpan(vehObject?.rental_charge?.daily_wth_fuel , vehObject?.rental_charge?.daily_wo_fuel)">
                       <ng-container *ngIf="quotationBasedOn=='hour'">
                        Daily ({{this.currency_type?.symbol}}) ({{rateCardBillingHour.day}} Hours)
                       </ng-container>
                       <ng-container *ngIf="quotationBasedOn=='day'">
                        Daily ({{this.currency_type?.symbol}})
                       </ng-container>
                    </th>
                    <th  class="text-center" *ngIf="vehObject?.rental_charge?.weekly_wth_fuel || vehObject?.rental_charge?.weekly_wo_fuel"  [attr.colspan]="getColSpan(vehObject?.rental_charge?.weekly_wth_fuel , vehObject?.rental_charge?.weekly_wo_fuel)">
                        <ng-container *ngIf="quotationBasedOn=='hour'">
                            Weekly ({{this.currency_type?.symbol}}) ({{rateCardBillingHour.week}} Hours)
                        </ng-container>
                        <ng-container *ngIf="quotationBasedOn=='day'">
                            Weekly ({{this.currency_type?.symbol}})
                        </ng-container>
                     </th>
                    <th class="text-center" *ngIf="vehObject?.rental_charge?.monthly_wth_fuel || vehObject?.rental_charge?.monthly_wo_fuel"  [attr.colspan]="getColSpan(vehObject?.rental_charge?.monthly_wth_fuel , vehObject?.rental_charge?.monthly_wo_fuel)">
                        <ng-container *ngIf="quotationBasedOn=='hour'">
                            Monthly ({{this.currency_type?.symbol}}) ({{rateCardBillingHour.month}} Hours)
                        </ng-container>
                        <ng-container *ngIf="quotationBasedOn=='day'">
                            Monthly ({{this.currency_type?.symbol}})
                        </ng-container>
                     </th>

                </tr>
                <tr>
                    <ng-container *ngIf="vehObject?.rental_charge?.daily_wth_fuel || vehObject?.rental_charge?.daily_wo_fuel">
                    <th *ngIf="vehObject?.rental_charge?.daily_wth_fuel">With
                        Fuel</th>
                    <th *ngIf="vehObject?.rental_charge?.daily_wo_fuel">Without
                        Fuel</th>
                    <th>Extra 
                        <ng-container *ngIf="quotationBasedOn=='hour'">
                            Hours
                        </ng-container>
                        <ng-container *ngIf="quotationBasedOn=='day'">
                            Days
                        </ng-container>
                    </th>
                </ng-container>
                <ng-container *ngIf="vehObject?.rental_charge?.weekly_wth_fuel || vehObject?.rental_charge?.weekly_wo_fuel">
                    <th *ngIf="vehObject?.rental_charge?.weekly_wth_fuel">With
                        Fuel</th>
                    <th *ngIf="vehObject?.rental_charge?.weekly_wo_fuel">Without
                        Fuel</th>
                    <th>Extra 
                        <ng-container *ngIf="quotationBasedOn=='hour'">
                            Hours
                        </ng-container>
                        <ng-container *ngIf="quotationBasedOn=='day'">
                            Days
                        </ng-container>
                    </th>
                </ng-container>
                <ng-container *ngIf="vehObject?.rental_charge?.monthly_wth_fuel || vehObject?.rental_charge?.monthly_wo_fuel">
                    <th *ngIf="vehObject?.rental_charge?.monthly_wth_fuel">With
                        Fuel</th>
                    <th *ngIf="vehObject?.rental_charge?.monthly_wo_fuel">Without
                        Fuel</th>
                    <th>Extra 
                        <ng-container *ngIf="quotationBasedOn=='hour'">
                            Hours
                        </ng-container>
                        <ng-container *ngIf="quotationBasedOn=='day'">
                            Days
                        </ng-container>
                    </th>
                </ng-container>
                </tr>
            </thead> 
            <tbody >

                    <tr *ngFor="let item of vehObject?.rental_charge?.rental_charges ; index as i; ">
                        <td>{{item?.specification}}</td>
                        <ng-container *ngIf="vehObject?.rental_charge?.daily_wth_fuel || vehObject?.rental_charge?.daily_wo_fuel">
                        <td *ngIf="vehObject?.rental_charge?.daily_wth_fuel">{{item?.daily?.with_fuel|numberFormat}}</td>
                       <td *ngIf="vehObject?.rental_charge?.daily_wo_fuel">{{item?.daily?.without_fuel|numberFormat}}</td>
                       <td>{{item.daily?.additional_hours|numberFormat}}</td>
                        </ng-container>
                        <ng-container *ngIf="vehObject?.rental_charge?.weekly_wth_fuel || vehObject?.rental_charge?.weekly_wo_fuel">
                       <td *ngIf="vehObject?.rental_charge?.weekly_wth_fuel">{{item?.weekly?.with_fuel|numberFormat}}</td>
                       <td *ngIf="vehObject?.rental_charge?.weekly_wo_fuel">{{item?.weekly?.without_fuel|numberFormat}}</td>
                       <td>{{item?.weekly?.additional_hours|numberFormat}}</td>
                    </ng-container>
                    <ng-container *ngIf="vehObject?.rental_charge?.monthly_wth_fuel || vehObject?.rental_charge?.monthly_wo_fuel">
                       <td *ngIf="vehObject?.rental_charge?.monthly_wth_fuel">{{item?.monthly?.with_fuel|numberFormat}}</td>
                       <td *ngIf="vehObject?.rental_charge?.monthly_wo_fuel">{{item?.monthly?.without_fuel|numberFormat}}</td>
                       <td>{{item?.monthly?.additional_hours|numberFormat}}</td>
                       </ng-container>
                       
                    </tr>
                    
            

            </tbody>
        </table>
    </div>

</ng-container>
<ng-container *ngIf="selectedTab==2">

    <div class="addable-row-table mx-2 mb-2 def-color addable-row-table-display mt-4" >
        <table>
            <thead>
                <tr>
                   
                    <th>
                        Additional Charge
                    </th>
                    <th *ngIf="isTax">Tax</th>
                    <th>Unit Of Measurement </th>
                    <th>Units </th>
                    <th>Unit Cost</th>
                    <th>Total Amount </th>

                </tr>

            </thead>
            <tbody>
                <tr class="border-0" *ngIf="vehObject?.additional_charge.length==0">
                    <td class="bg-white" colspan="30">
                      <div class="no-list-data-wrap">
                        <figure>
                          <img src="assets/img/no-content.png" alt="">
                        </figure>
                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                      </div>
                    </td>
                  </tr>
                <tr *ngFor="let item of vehObject?.additional_charge">
               <td>{{item.name}}</td>
               <td  *ngIf="isTax">{{item.tax}}</td>
               <td>{{item.unit_of_measurement}}</td>
               <td>{{item.quantity}}</td>
               <td>{{item.unit_cost|numberFormat}}</td>
               <td>{{item.total|numberFormat}}</td>
            </tr>

            </tbody>
        </table>
    </div>

</ng-container>