<form [formGroup]="indianTaxHeaderForm">
  <div class="row  tabIndexActiveFields">
    <div class="col-lg-3 col-sm-6" *ngIf="isPlaceOfSupply">
      <div class="input-wrap error" [ngClass]="addErrorClass(indianTaxHeaderForm.controls.place_of_supply)">
          <label for="" class="input--required d-inline-block">Place of Supply</label>
          <div class="placeOfSupplyToolTip">
            <span class="material-icons">info</span>
            <div class="data">
              Please Enter Customer's Place of Supply
            </div>
          </div>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
              [selectedOption]="initialValues.placeOfSupply">
              <select #customSelect formControlName="place_of_supply" class="no-style select--modify">
                  <option *ngFor="let state of placeOfSupply" value="{{ state.name }}">
                      {{ state.name }}</option>
              </select>
            </material-dropdown>
          <app-error [controlName]="indianTaxHeaderForm.controls.place_of_supply"></app-error>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6"  [ngClass]="{disable:indianTaxHeaderForm.controls?.is_transaction_includes_tax?.value}">
      <label for="2" class="check-box mg-bottom-30">
          <input type="checkbox" id="2" formControlName="is_transaction_under_reverse">
          <span class="check-mark"></span>
          <span class="label-text">Is Transaction under reverse mechanism?</span>
      </label>
  </div>
  <div class="col-lg-3 col-sm-6" [ngClass]="{disable:indianTaxHeaderForm.controls?.is_transaction_under_reverse.value}">
      <label for="3" class="check-box mg-bottom-30">
          <input type="checkbox" id="3" formControlName="is_transaction_includes_tax">
          <span class="check-mark"></span>
          <span class="label-text">Item rates are tax inclusive</span>
      </label>
  </div>
  </div>
</form>
