<div >
<form [formGroup]="reduceBillForm">
  <div class="row mx-0 px-3 pt-3">

    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData.is_charge_editable_deletable}">
      <label for="" >Job Deduction</label>
      <material-dropdown  [searchable]="true" [addable]="true" class="dropDownWidth" [addBlank]="false"
      [addErrorClass]="addErrorClass(reduceBillForm.controls.type)" [maxLength]="20"
      [selectedOption]="initialDetails?.chargeType" [addNewOptions]="true"
      (addNewOption)="addNewAdditionalCharge($event)">
      <select #customSelect formControlName="type" class="no-style select--modify" (change)="chargeSelection()">
        <option *ngFor="let option of expenseTypeList" value="{{ option?.name?.id }}">
          {{ option?.name?.name }}
        </option>
      </select>
    </material-dropdown>
    
    </div>
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_charge_editable_deletable}">
      <label for="" >Deduction Amount ({{ currency_type?.symbol}})</label>
      <input positiveThreeDigitDecimalNumber type="text" class="box-input" placeholder="123456"
                    value="" (change)="onAmountChange()"
                    [ngClass]="{'showInvalid':reduceBillForm.controls.amount_before_tax.invalid&&reduceBillForm.controls.amount_before_tax.touched}"
                    formControlName="amount_before_tax">
      
    </div>

    <ng-container *ngIf="false" >
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData.is_charge_editable_deletable}">
        <label for="">Tax</label>
        <material-dropdown [searchable]="true"  [selectedOption]="initialDetails?.tax"  class="dropDownWidth"
            [addErrorClass]="addErrorClass(reduceBillForm.controls.tax)" >
            <select #customSelect formControlName="tax" class="no-style select--modify" (change)="onCalculationChange()">
              <option *ngFor="let option of taxOptions"
              value="{{ option.id }}">{{
                option.label }}</option>
            </select>
          </material-dropdown>
        
      </div>
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_charge_editable_deletable}">
        <label for="">Total Amount ({{ currency_type?.symbol}})</label>
        <input positiveThreeDigitDecimalNumber readonly type="text" class="box-input" placeholder="123456" value="" formControlName="amount">

        
      </div>
    </ng-container>


    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" >
      <label for="">Deduction Date</label>
      <div [ngClass]="{'disable':!editData.is_charge_editable_deletable}">
      <mat-form-field>
        <input matInput [matDatepicker]="transactionDate"  (focus)="transactionDate.open()"
          formControlName="date" placeholder="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="transactionDate">
        </mat-datepicker-toggle>
        <mat-datepicker #transactionDate></mat-datepicker>
      </mat-form-field>
    </div>
      
    </div>

    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3">
      <label for="">Document No.</label>
      <input  type="text" class="box-input" placeholder="Document No .."
                formControlName="document_no" >
    </div>
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3 edit-material-wrapper" *ngIf="vehicleCategory==4">
      <label >Container No.</label>
        <ng-multiselect-dropdown [formControl]="reduceBillForm.get('containers')" [placeholder]="'Select Container'"  [settings]="dropdownSettings" [data]="containersList">
      </ng-multiselect-dropdown>
    </div>
     
   
  </div>


  <div *ngIf="isAddExpense" class="px-4 pb-3 py-2" [ngClass]="{'disable':!editData.is_expense_editable_deletable}">
    <mat-radio-group formControlName="expense_type"  (change)="addExpense()">
      <mat-radio-button  [value]="1"color="primary" >N/A</mat-radio-button>
      <mat-radio-button  [value]="2"color="primary" class="ms-3">Add Vendor-Linked Expenses</mat-radio-button>
      <mat-radio-button  [value]="3"color="primary" class="ms-3">Add Petty Expense</mat-radio-button>
      </mat-radio-group>
</div>



<div class="row mx-0 px-3 " *ngIf="reduceBillForm.controls.expense_type.value==2">
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_expense_editable_deletable}">
    <label for="" class="input--required">Amount ({{ currency_type?.symbol}})</label>
    <input positiveThreeDigitDecimalNumber type="text" class="box-input" placeholder="123456"
                    value="" (change)="onAmountChange()"
                    [ngClass]="{'showInvalid':reduceBillForm.controls.expense_amount_before_tax.invalid&&reduceBillForm.controls.expense_amount_before_tax.touched}"
                    formControlName="expense_amount_before_tax"  (change)="onExpesneCalculationChange()">
    
  </div>
  <ng-container *ngIf="isTax">
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData.is_expense_editable_deletable}">
      <label for="">Tax</label>
      <material-dropdown [searchable]="true"  [selectedOption]="initialDetails?.expenseTax"  class="dropDownWidth"
      [addErrorClass]="addErrorClass(reduceBillForm.controls.expense_tax)" >
      <select #customSelect formControlName="expense_tax" class="no-style select--modify" (change)="onExpesneCalculationChange()">
        <option *ngFor="let option of taxOptions"
        value="{{ option.id }}">{{
          option.label }}</option>
      </select>
    </material-dropdown>
      
    </div>
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3"[ngClass]="{'disableInput':!editData.is_expense_editable_deletable}" >
      <label for="">Total Amount ({{ currency_type?.symbol}})</label>
      <input positiveThreeDigitDecimalNumber readonly type="text"  formControlName="expense_amount" class="box-input" placeholder="123456">

      
    </div>
  </ng-container>
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData?.is_expense_editable_deletable}">
    <label for="" class="input--required">Party Name</label>
    <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth"
                    [addErrorClass]="addErrorClass(reduceBillForm.controls.expense_party)"
                    [selectedOption]="initialDetails?.vendor" [party]="true" (addPartyPopup)="openAddPartyModal($event)"
                    (addValueToList)="addValueToPartyPopup($event)" [params]="partyNamePopup">
                    <select #customSelect formControlName="expense_party" class="no-style select--modify">
                      <option *ngFor="let vendor of vendorList" value="{{ vendor?.id }}">
                        {{ vendor.party_display_name }}
                      </option>
                    </select>
                  </material-dropdown>
    
  </div>
 
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData?.is_expense_editable_deletable}">
    <label for="">Payment Status</label>
    <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                    [selectedOption]="initialDetails.paymentStatus">
                    <select #customSelect formControlName="expense_status" class="no-style select--modify"
                      (change)="changePaymentStatus()">
                      <option *ngFor="let option of paymentStatusList" value="{{option.id}}">{{option.label}}</option>
                    </select>
                  </material-dropdown>
    
  </div>
  
    <ng-container *ngIf="reduceBillForm.controls.expense_status.value=='3'">
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disabled':!editData.is_expense_editable_deletable}">
        <label for=""[ngClass]="{'input--required':reduceBillForm.controls.expense_status.value=='3'}">Payment Mode</label>
        <material-dropdown [searchable]="true" [addable]="false"
            [disabled]="reduceBillForm.controls.expense_status.value=='1'"
            [addErrorClass]="addErrorClass(reduceBillForm.controls.expense_payment_mode)"
            [selectedOption]="initialDetails?.advanceClientAccount">
            <select #customSelect formControlName="expense_payment_mode" class="no-style " (change)="paymentmodeChanged()">
              <option value="paid_By_Driver">Paid By Employee</option>
              <option *ngFor="let option of advanceClientAccountList" value="{{ option?.id }}">
                {{ option?.name }}
              </option>
            </select>
          </material-dropdown>
        
      </div>
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3"[ngClass]="{disabled:!editData?.is_expense_editable_deletable}" *ngIf="reduceBillForm.controls.expense_payment_mode.value==='paid_By_Driver'">
        <label for=""class="input--required">Paid By</label>
        <material-dropdown [searchable]="true" [addable]="false"
            [addErrorClass]="addErrorClass(reduceBillForm.controls.employee)"
            [selectedOption]="initialDetails?.employee">
            <select #customSelect formControlName="employee" class="no-style ">
              <option *ngFor="let option of driverList" value="{{ option?.id }}">
                {{ option?.first_name }} {{ option?.last_name }}
              </option>
            </select>
          </material-dropdown>
        
      </div>
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_expense_editable_deletable}">
        <label for="" 
        [ngClass]="{'input--required':reduceBillForm.controls.expense_status.value=='3'}">Bill No</label>   
        <input type="text"
            [ngClass]="{'showInvalid':reduceBillForm.controls.expense_bill_no.invalid&&reduceBillForm.controls.expense_bill_no.touched}"
            class="box-input" placeholder="123456" value=""
            formControlName="expense_bill_no">     
      </div>
      <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" >
        <label for="" [ngClass]="{'input--required':reduceBillForm.controls.expense_status.value=='3'}">Bill
          Date</label>
          <div [ngClass]="{'disable':!editData.is_expense_editable_deletable}">
        <mat-form-field>
          <input matInput [matDatepicker]="bill_date"  (focus)="bill_date.open()"
            formControlName="expense_bill_date" placeholder="DD/MM/YYYY" class="">
          <mat-datepicker-toggle matSuffix [for]="bill_date"></mat-datepicker-toggle>
          <mat-datepicker #bill_date></mat-datepicker>
        </mat-form-field>
      </div>
        
      </div>
    </ng-container>
    
   

  
</div>



<div class="row mx-0 px-3 " *ngIf="reduceBillForm.controls.expense_type.value==3">

  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_expense_editable_deletable}">
    <label for=""  class="input--required">Amount ({{ currency_type?.symbol}})</label>
                <input type="text" positiveThreeDigitDecimalNumber
                  [ngClass]="{'showInvalid':reduceBillForm.controls.expense_amount_before_tax.invalid&&reduceBillForm.controls.expense_amount_before_tax.touched}"
                  class="box-input" placeholder="123456" value=""
                  formControlName="expense_amount_before_tax"  (change)="onExpesneCalculationChange()">
    
  </div>
  
  <ng-container *ngIf="isTax">
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{disabled:!editData?.is_expense_editable_deletable}">
      <label for="" >Tax</label>
      <material-dropdown [searchable]="true"  [selectedOption]="initialDetails?.expenseTax"  class="dropDownWidth"
        [addErrorClass]="addErrorClass(reduceBillForm.controls.expense_tax)" >
        <select #customSelect formControlName="expense_tax" class="no-style " (change)="onExpesneCalculationChange()">
          <option *ngFor="let option of taxOptions"
          value="{{ option.id }}">{{
            option.label }}</option>
        </select>
      </material-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3" [ngClass]="{'disableInput':!editData.is_expense_editable_deletable}">
      <label for="" >Total Amount ({{ currency_type?.symbol}})</label>
      <input type="text"
          class="box-input" readonly placeholder="123456" value=""
          formControlName="expense_amount">
    </div>
  </ng-container>
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3"[ngClass]="{'disabled':!editData.is_expense_editable_deletable}">
    <label for="" class="input--required">Payment
      Mode</label>
    <material-dropdown [searchable]="true" [addable]="false"
      [disabled]="reduceBillForm.controls.expense_status.value=='1'"
      [addErrorClass]="addErrorClass(reduceBillForm.controls.expense_payment_mode)"
      [selectedOption]="initialDetails?.advanceClientAccount">
      <select #customSelect formControlName="expense_payment_mode" class="no-style " (change)="paymentmodeChanged()">
        <option value="paid_By_Driver">Paid By Employee</option>
        <option *ngFor="let option of advanceClientAccountList" value="{{ option?.id }}">
          {{ option?.name }}
        </option>
      </select>
    </material-dropdown>

  </div>
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3"[ngClass]="{disabled:!editData?.is_expense_editable_deletable}" *ngIf="reduceBillForm.controls.expense_payment_mode.value==='paid_By_Driver'">
    <label for="" class="input--required">Paid By</label>
      <material-dropdown [searchable]="true" [addable]="false"
        [addErrorClass]="addErrorClass(reduceBillForm.controls.employee)"
        [selectedOption]="initialDetails?.employee">
        <select #customSelect formControlName="employee" class="no-style ">
          <option *ngFor="let option of driverList" value="{{ option?.id }}">
            {{ option?.first_name }}
          </option>
        </select>
      </material-dropdown>

  </div>
  <div class="col-lg-3 col-md-4 col-6 custom-box-input-wrap mb-3">
    <label for=""  class="input--required">Transaction Date</label>
    <div [ngClass]="{'disable':!editData.is_expense_editable_deletable}">
      <mat-form-field>
        <input matInput [matDatepicker]="bill_date" readonly  (focus)="bill_date.open()"
          formControlName="expense_bill_date" placeholder="DD/MM/YYYY" class="">
        <mat-datepicker-toggle matSuffix [for]="bill_date"></mat-datepicker-toggle>
        <mat-datepicker #bill_date></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
</div>
<div>
  <div class="fw-semibold px-4 mb-4 mt-2 def-color fs-6"> Upload Document</div>
  <div class="d-flex flex-wrap gap-3 px-4" style="zoom:95%">
      <file-uploader-v2 (onFileUploaded)="fileUploader($event)" fileName="Document Unknown" [uploaderId]="'1234'"
          [isShowOnlyUpload]="false"></file-uploader-v2>
       <app-file-delete-view [showInlineEdit]="true" [fileData]="document" *ngFor="let document of uploadedDocs"
          (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
  </div>

</div>
  </form>
</div>
<app-add-party-popup *ngIf="showAddPartyPopup.status" [popDetail]="showAddPartyPopup" [isVendor]="true"
  (closeModal)="closePartyPopup()" (partyAdded)="addPartyToOption($event)"></app-add-party-popup>