@import "../../../../../../../assets/styles/helpers/variable";


b {
    margin-right: 8px;
}


.details {



    p {

        padding: 8px 10px;
        color: #676A6E;
        line-height: normal;
        b{
            text-transform: capitalize;
        }
    }

}


