<div class="pdf-preview-wrap  d-flex flex-column justify-content-between">
    <img [src]="getExt(fileData?.presigned_url,fileData?.file_name)" alt="" (click)="goToLink(fileData?.presigned_url)">
    <div class="justify-content-between px-1  ">
        <div *ngIf="showInlineEdit">
            <material-dropdown [disableLastInput]="true"  [addable]="true"
            [selectedOption]="initialFileName" [addFile]="true"
            (addFileName)="addNewFileName($event)">
            <select #customSelect class="no-style select--modify"
           
              (change)="onContactPersonSelection($event.target.value)">
              <option *ngFor="let option of fileNameList " value="{{option}}">{{option}}
              </option>
            </select>
          </material-dropdown>
        </div>
       
        <div class="pdf-title" *ngIf="!showInlineEdit && !driverInput">{{getFileName(fileData?.file_name)|ellipsis:25}}</div>
        <div class="pdf-title" *ngIf="driverInput">{{(fileData?.note)|ellipsis:25}}</div>
        <div class="btn-wrap">
            <button class="download-btn me-3" [disabled]="!fileData?.presigned_download_url"  (click)="fileDownload(fileData)"><i class="bi bi-download"></i></button>
            <button class="del-btn text-danger" *ngIf="showDelete" (click)="deleteDocument(fileData?.id)"><i class="material-icons  text-danger">delete</i></button>
        </div>
    </div>
</div>