@import "../../../../../../../assets/styles/helpers/variable";

.right-section__header {
    padding: 6px 20px;
}

b {
    margin-right: 8px;
}






.details {
    p {

        padding: 15px 0;
        color: #676A6E;
    }

}




.edit-btn {
    border: 1.5px solid #ACB5BD;
    padding: 9px;
    color: #676A6E;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 600;
    transition: all 100ms ease-in-out;


    &:hover {

        transform: scale(1.1);

    }


}