<div class="modal fade" [ngClass]="{'show':showAddPopup.show}" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog  modal--xls"role="document">
    <div class="modal-content">
      <div class="tabIndexActive"> <button class="close-icon p-0" (click)="cancelButtonClick()"><mat-icon>highlight_off</mat-icon></button></div>
      <div>
        <nav class="party-menu m-0">
          <ul>
              <li class="party-menu__list" *ngIf="showAddPopup.type=='fuel'" [ngClass]="{active: activeTab == 1,invalidForm:(!showError['isFuelSelfValid']||!showError['isFuelAdvanceValid'])}" (click)="activeTab=1">Add Fuel</li>
              <li class="party-menu__list" *ngIf="showAddPopup.type=='allowance'" [ngClass]="{active: activeTab == 2,invalidForm:(!showError['isselfDriver'])}" (click)="activeTab=2">Add Driver Allowance</li>
              <li class="party-menu__list"  *ngIf="showAddPopup.type=='others'" [ngClass]="{active: activeTab == 3,invalidForm:(!showError['isFromTripOthersValid'])}" (click)="activeTab=3">Add Other Expense</li>
              <li class="party-menu__list"   *ngIf="showAddPopup.type=='charge'" [ngClass]="{active: activeTab == 4,invalidForm:(!showError['ispartyAddToBillValid']||!showError['ispartyReduceBillValid']||!showError['isVehicleProviderBillChargeValid']||!showError['isvendorReduceBillValid'])}" (click)="activeTab=4">Add Charges</li>
              <li class="party-menu__list"  *ngIf="showAddPopup.type=='advance'" [ngClass]="{active: activeTab == 5,invalidForm:(!showError['ispartyAdvanceDetailsValid']||!showError['isvehicleAdvanceValid'])}" (click)="activeTab=5">Add Advance</li>
              <li class="party-menu__list"  *ngIf="showAddPopup.type=='pod'" [ngClass]="{active: activeTab == 6}" (click)="activeTab=6">Uploaded PoD</li>
          </ul>
        </nav>
      </div>
      <div [ngSwitch]="activeTab" style="margin: 10px;">
      <div *ngSwitchCase="1" class="mg-top-30">
        <!-- fuel tab -->
        <div class="row">
          <div class="col-xl-8">
        <nav class="popup-nav m-0">
          <div *ngIf="isTransporterTrip">
            <div class="popup-nav__list tabIndexActive">
                <button class="popup-nav__item" *ngIf="companyAdvance.fuel_op &&!this.isFreightSectionDisable" [ngClass]="{active: activeFuelTab == 1,invalidForm:(!showError['isFuelSelfValid'])}" (click)="activeFuelTab=1">Market Vehicle Advance</button>
                <button class="popup-nav__item" *ngIf="companyAdvance.fuel_rc_op && !this.isFreightSectionDisable" [ngClass]="{active: activeFuelTab == 2,invalidForm:(!showError['isFuelAdvanceValid'])}" (click)="activeFuelTab=2">Party Advance</button>
            </div>
        </div>
        <div *ngIf="!isTransporterTrip">
            <div class="popup-nav__list tabIndexActive">
              <button class="popup-nav__item" [ngClass]="{active: activeFuelTab == 1,invalidForm:(!showError['isFuelSelfValid'])}" (click)="activeFuelTab=1">Self</button>
              <button class="popup-nav__item" *ngIf="companyAdvance.fuel_rc_op && !isClientSectionDisabled" [ngClass]="{active: activeFuelTab == 2,invalidForm:(!showError['isFuelAdvanceValid'])}" (click)="activeFuelTab=2">Party Advance</button>
          </div>
        </div>
      </nav>
      </div>
        <div class="col-xl-4 mg-top-20">
          <b>Chart Of Account :Fuel Expense</b>
          </div>
          </div>
    <div [ngSwitch]="activeFuelTab" class="mg-top-30">
        <!-- fuel sub tab -->
        <!-- <p>Chart Of Account :Fuel Expense</p> -->
          <div *ngSwitchCase="1" class="mg-top-30">
            <app-self-fuel [bill_date]="showAddPopup.data.start_date" [isFormValid]="isSelfFuelValid" [isDriverSelected]="isDriver" [isAddTrip]="true" [partyListVendor]="partyListVendor" (dataFormSelfFuel)="selfFuelData($event)" [advanceClientAccountList]="advanceClientAccountList"></app-self-fuel>
          </div>
          <div *ngSwitchCase="2" class="mg-top-30">
            <app-party-advance-fuel [isFormValid]="isPartyAdvanceFuelFormValid" (dataFromPartyAdvance)="partyAdvance($event)"></app-party-advance-fuel>
          </div>
    </div>
     </div>
      <div *ngSwitchCase="2" class="mg-top-30">
        <div class="row">
          <div class="col-xl-8">
        <nav class="popup-nav m-0">
          <div class="popup-nav__list tabIndexActive">
              <button class="popup-nav__item" [ngClass]="{active: activeFuelTabDriver == 1,invalidForm:(!showError['isselfDriver'])}" (click)="activeFuelTabDriver=1">Self</button>
              <button class="popup-nav__item" *ngIf="displayDriverAdvance && companyAdvance.batta_op" [ngClass]="{active: activeFuelTabDriver == 2}" (click)="activeFuelTabDriver=2">Party Advance</button>
          </div>
       </nav>
          </div>
          <div class="col-xl-4 mg-top-20">
            <b>Chart Of Account :Driver Expense</b>
            </div>
        </div>
       <div [ngSwitch]="activeFuelTabDriver">
         <div *ngSwitchCase="1" class="mg-top-30">
           <app-self-driver
            [tripEmployeeTypeList]="tripEmployeeTypeList"
            [driverList]="driverList"
            [helperList]="helperList"
            [accountList]="accountList"
            [isAddTrip]="true"
            [isDriverSelected]="isTransporterTrip ?false:isDriver"
            [isFormValid]="isSelfDriverFormValid"
            [tripstartDate]="showAddPopup?.data['start_date']" (dataFromSelfDriver)="selfDriver($event)"
            ></app-self-driver>
         </div>
         <div *ngSwitchCase="2" class="mg-top-30">
           <app-party-advance-driver  *ngIf="displayDriverAdvance" (dataFromDriverAdvance)="dataFromDriverAdvance($event)"></app-party-advance-driver>
         </div>
       </div>

      </div>
      <div *ngSwitchCase="3" class="mg-top-30">
        <!-- others expense block -->
        <app-trip-other-expense
        [accountList]="accountList"
        [isAddTrip]="true"
        [isDriverSelected]="isTransporterTrip ?false:isDriver"
        [expenseAccountList]="expenseAccountList"
        [isFormValid]="isOtherExpenseFormValid"
        [expenseTypeList]="expenseTypeList" (dataFromTripOthers)="dataFromTripOthers($event)"
        ></app-trip-other-expense>
      </div>
      <div *ngSwitchCase="4" class="mg-top-30">

        <!-- charge tab -->

        <nav class="popup-nav m-0">
          <div class="popup-nav__list tabIndexActive">
              <button class="popup-nav__item" *ngIf="!(isMarketVehicleSlip || hidePartyBillCharge)" [ngClass]="{active: chargeActiveTab == 1, invalidForm:(!showError['ispartyAddToBillValid']||!showError['ispartyReduceBillValid'])}" (click)="chargeActiveTab=1">Party</button>
              <button class="popup-nav__item" [ngClass]="{active: chargeActiveTab == 2, invalidForm:(!showError['isVehicleProviderBillChargeValid']||!showError['isvendorReduceBillValid'])}" (click)="chargeActiveTab=2" *ngIf="isTransporterTrip && !hideVPBillCharge">Vehicle Provider</button>
          </div>

        <div [ngSwitch]="chargeActiveTab">
          <div *ngSwitchCase="1"  class="mg-top-20">
            <nav class="popup-nav m-0">
              <div class="popup-nav__list tabIndexActive">
                  <button class="popup-nav__item" [ngClass]="{active: chargeAddToBillAdndReduceTab == 1, invalidForm:(!showError['ispartyAddToBillValid'])}" (click)="chargeAddToBillAdndReduceTab=1">Add To Bill</button>
                  <button class="popup-nav__item" [ngClass]="{active: chargeAddToBillAdndReduceTab == 2, invalidForm:(!showError['ispartyReduceBillValid'])}" (click)="chargeAddToBillAdndReduceTab=2">Reduce Form Bill</button>
              </div>
            </nav>
            <div [ngSwitch]="chargeAddToBillAdndReduceTab">
              <div *ngSwitchCase="1"  class="mg-top-20">
                     <app-trip-add-to-bill [isFormValid]="isChargeAddToBillFormValid" [isAddExpense]="isAddExpense" [vendorList]="vendorList" [expenseAccountList]="expenseAccountList" [advanceClientAccountList]="advanceClientAccountList"  [typeOfScreen]="'partyBill'" (dataFromAddToBill)="partyAddToBill($event)" [expenseTypeList]="chargedAddBillType"></app-trip-add-to-bill>
              </div>
              <div *ngSwitchCase="2"  class="mg-top-20" >
                <app-trip-reduce-to-bill [isFormValid]="isChargeReduceToBillFormValid" [typeOfScreen]="'partyReduceBill'" (dataFromReduceBill)="partyReduceBill($event)" [expenseTypeList]="chargedReducedBillType"></app-trip-reduce-to-bill>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="2"  class="mg-top-20" >
            <div [ngSwitch]="vehicleproviderAddToBillAdndReduceTab">
              <nav class="popup-nav m-0">
                <div class="popup-nav__list tabIndexActive">
                    <button class="popup-nav__item" [ngClass]="{active: vehicleproviderAddToBillAdndReduceTab == 1, invalidForm:(!showError['isVehicleProviderBillChargeValid'])}" (click)="vehicleproviderAddToBillAdndReduceTab=1">Add To Bill</button>
                    <button class="popup-nav__item" [ngClass]="{active: vehicleproviderAddToBillAdndReduceTab == 2, invalidForm:(!showError['isvendorReduceBillValid'])}" (click)="vehicleproviderAddToBillAdndReduceTab=2">Reduce Form Bill</button>
                </div>
              </nav>
              <div *ngSwitchCase="1"  class="mg-top-20">
                  <app-trip-add-to-bill [isFormValid]="isVehicleAddToBillFormValid" [expenseTypeList]="chargedAddBillType" (dataFromAddToBill)="vehicleProviderAddToBill($event)"></app-trip-add-to-bill>
              </div>
              <div *ngSwitchCase="2"  class="mg-top-20" >
              <app-trip-reduce-to-bill [isFormValid]="isVehicleReduceToBillFormValid" [isAddExpense]="isAddExpense" [vendorList]="vendorList" [expenseAccountList]="expenseAccountList" [advanceClientAccountList]="advanceClientAccountList" [expenseTypeList]="chargedReducedBillType" (dataFromReduceBill)="vendorReduceBill($event)"></app-trip-reduce-to-bill>
              </div>
            </div>
          </div>
        </div>
      </nav>

      </div>
      <div *ngSwitchCase="5">
        <div class="info-msg" style="margin: 10px;">
        <p class="message-cont">For Fuel and Driver advances, please enter in the respective section.</p>
        <!-- advances -->
      </div>
        <nav class="popup-nav m-0 mg-top-30">
          <div class="popup-nav__list tabIndexActive">
              <button class="popup-nav__item" *ngIf="companyAdvance.cash_rc_op" [ngClass]="{active: activeAdvanceTab == 1, invalidForm:(!showError['ispartyAdvanceDetailsValid'])}" (click)="activeAdvanceTab=1">Party Advance</button>
              <button class="popup-nav__item" [ngClass]="{active: activeAdvanceTab == 2, invalidForm:(!showError['isvehicleAdvanceValid'])}" (click)="activeAdvanceTab=2" *ngIf="isTransporterTrip && companyAdvance.cash_op">Vehicle Provider Advance</button>
          </div>
        </nav>
        <div [ngSwitch]="activeAdvanceTab">
          <div *ngSwitchCase="1" class="mg-top-20">
           <app-party-advance [isFormValid]="isPartyAdvanceFormValid" *ngIf="companyAdvance.cash_rc_op" [advanceClientAccountList]="advanceClientAccountList" (dataFromAdvance)="partyAdvanceDetails($event)" [typeOfScreen]="'partyAdvance'"></app-party-advance>
          </div>
          <div *ngSwitchCase="2" class="mg-top-20">
            <app-party-advance [isFormValid]="isVehicleAdvanceFormValid" [advanceClientAccountList]="advanceClientAccountList" (dataFromAdvance)="vehicleAdvance($event)"></app-party-advance>
          </div>
        </div>

      </div>
      <div *ngSwitchCase="6" class="mg-top-30">
        <app-uploaded-pod (dataFromAtt)="dataFromAtt($event)"></app-uploaded-pod>
      </div>
    </div>
      <div class="row mx-0 tabIndexActive">
        <div class="col-6">
          <button class="btn btn- btn--primary   cancel-button" (click)="cancelButtonClick()" type="submit">Cancel</button>
        </div>
        <div class="col-6 ms-auto">
          <button class="btn btn- btn--primary   save-button text-capitalize ms-auto" (click)="onOkButtonClick()" type="submit">Save {{showAddPopup.type}}</button>
        </div>
      </div>
    </div>
</div>
</div>
<div *ngIf="showAddPopup.show" class="modal-backdrop fade show"></div>
<alert-popup [inputData]="popupInputDataAssignDriver" (outputData)="assignDriver($event)"></alert-popup>
