<div class="bg-white def-color">
    <div class="change-destination-tab">
        <mat-tab-group mat-stretch-tabs="false" class="mat-group" animationDuration="0ms" mat-align-tabs="start">
            <mat-tab>
                <div class="container-fluid p-4">
                    <ng-template mat-tab-label>
                        <ng-container *ngIf="destinationData.destination_type==0">
                            <span >Destination {{office_status+1}}</span>
                        </ng-container>
                        <ng-container *ngIf="destinationData?.destination_type==1|| destinationData?.destination_type==2">
                            <span *ngIf="destinationData.destination_type"> {{destinationData?.destination_type==1?'Pullout':'Deposit'}} Port</span>
                        </ng-container>
                        <ng-container *ngIf="destinationData.destination_type==3">
                            <span >Customer Location</span>
                        </ng-container>
                    </ng-template>
                    <form [formGroup]="changeDestinationStatusForm">
                        <div class="alert alert-warning" *ngIf="changeDestinationStatusForm.controls.error_message.value">
                           {{changeDestinationStatusForm.controls.error_message.value}} 
                          </div>
                          <div class="alert alert-warning" *ngIf="changeDestinationStatusForm.controls.error_message_hour.value">
                            {{changeDestinationStatusForm.controls.error_message_hour.value}}
                          </div>
                        <div class="row ">
                            <div class="col-xl-3 col-lg-3 col-6 ">
                                <div class="input-wrap m-0">
                                    <label for=""> {{office_status==0?'START':'REACHED'}}  TIME</label>
                                    <app-date-and-time-picker [control]="changeDestinationStatusForm.controls.time" (dateTimeSelectedChange)="dateTimeSelectedChange($event)"></app-date-and-time-picker>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-3 col-6 " formGroupName="halt_time">
                                <div class="input-wrap clearfix">
                                    <label for="" class="">HALT TIME</label>
                                    <ng-container>
                                        <div class="halt-time-wrap">
                                            <div class="time-input-field">
                                                <input positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Days" value="" (change)="calculateTimeTaken()"
                                                    formControlName="day" />
                                                <span class="time-input-label">Days</span>
                                            </div>
                                            <div>:</div>
                                            <div class="time-input-field">
                                                <input
                                                    [ngClass]="{'sm-time-input-error': changeDestinationStatusForm.get('halt_time').get('hour').hasError('max') }"
                                                    positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Hours"
                                                    value="" formControlName="hour" (change)="calculateTimeTaken()"
                                                 />
                                                <span class="time-input-label">Hours</span>
                                            </div>
                                            <div>:</div>
                                            <div class="time-input-field">
                                                <input
                                                    [ngClass]="{'sm-time-input-error': changeDestinationStatusForm.get('halt_time').get('minute').hasError('max')}"
                                                    positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Minutes"
                                                    value="" formControlName="minute" (change)="calculateTimeTaken()"
                                                 />
                                                <span class="time-input-label">Minutes</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <p class="invalid"
                                        *ngIf=" changeDestinationStatusForm.get('halt_time').get('hour').hasError('max')">
                                        Max. 23 number is allowed
                                    </p>
                                    <p class="invalid"
                                        *ngIf=" changeDestinationStatusForm.get('halt_time').get('minute').hasError('max')">
                                        Max. 59 number is allowed
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-6" formGroupName="time_taken" *ngIf="office_status!=0">
                                <div class="input-wrap clearfix">
                                    <label for="" class="">TIME TAKEN</label>
                                    <ng-container>
                                        <div class="halt-time-wrap">
                                            <div class="time-input-field">
                                                <input positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Days" value=""
                                                    formControlName="day" />
                                                <span class="time-input-label">Days</span>
                                            </div>
                                            <div>:</div>
                                            <div class="time-input-field">
                                                <input
                                                    [ngClass]="{'sm-time-input-error': changeDestinationStatusForm.get('time_taken').get('hour').hasError('max') }"
                                                    positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Hours"
                                                    value="" formControlName="hour"
                                                 />
                                                <span class="time-input-label">Hours</span>
                                            </div>
                                            <div>:</div>
                                            <div class="time-input-field">
                                                <input
                                                    [ngClass]="{'sm-time-input-error': changeDestinationStatusForm.get('time_taken').get('minute').hasError('max')}"
                                                    positiveDigitNumber type="text"
                                                    class="no-style input--bd sm-time-input" placeholder="Minutes"
                                                    value="" formControlName="minute"
                                                 />
                                                <span class="time-input-label">Minutes</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <p class="invalid"
                                        *ngIf=" changeDestinationStatusForm.get('time_taken').get('hour').hasError('max')">
                                        Max. 23 number is allowed
                                    </p>
                                    <p class="invalid"
                                        *ngIf=" changeDestinationStatusForm.get('time_taken').get('minute').hasError('max')">
                                        Max. 59 number is allowed
                                    </p>
                                </div>
                            </div>

                            <div class=" col-lg-3 col-6 " *ngIf="office_status==0 && !this.isTransporter">
                                <div class="input-wrap clearfix error "
                                    [ngClass]="addErrorClass(changeDestinationStatusForm.controls.start_kms)">
                                    <label for="" class="input">START ODOMETER KMS READING</label>
                                    <input type="text" positiveDigitNumber class="no-style input--bd" (keyup)="onKmsChange()"
                                        placeholder="123456" value="" formControlName="start_kms" />
                                    <app-error [controlName]="changeDestinationStatusForm.controls.start_kms"></app-error>
                                </div>
                            </div>

                            <div class=" col-lg-3 col-6 " *ngIf="office_status==0 && !this.isTransporter">
                                <div class="input-wrap clearfix error "
                                    [ngClass]="addErrorClass(changeDestinationStatusForm.controls.start_hour)">
                                    <label for="" class="input">START ODOMETER HOUR READING </label>
                                    <input type="text" positiveDigitNumber class="no-style input--bd" (keyup)="onHourChange()"
                                        placeholder="123456" value="" formControlName="start_hour" />
                                </div>
                            </div>

                            <div class=" col-lg-3 col-6 " *ngIf="office_status!=0">
                                <div class="input-wrap clearfix error "
                                    [ngClass]="addErrorClass(changeDestinationStatusForm.controls.actual_kms)">
                                    <label for="" class="input">KMS TAKEN</label>
                                    <input type="text" positiveTwoDigitDecimalNumber class="no-style input--bd"
                                        placeholder="123456" value="" formControlName="actual_kms" />
                                </div>
                            </div>

                            <div class=" col-lg-3 col-6 " *ngIf="!this.isTransporter && driverList.length>1">
                                <div class="input-wrap clearfix  " [ngClass]="{'disabled':!changeDestinationStatusForm.get('can_edit_driven_by').value}">
                                    <label for="name">OPERATOR</label>
                                    <material-dropdown [searchable]="true" [selectedOption]="dirivenBy" [addable]="false" [disabled]="!changeDestinationStatusForm.get('can_edit_driven_by').value" [addBlank]="true">
                                      <select #customSelect formControlName="driven_by_id" class="no-style select--modify">
                                        <option *ngFor="let option of driverList" value="{{ option?.id }}">
                                          {{ option?.name }} 
                                        </option>
                                      </select>
                                    </material-dropdown>
                                  </div>
                            </div>

                            <ng-container *ngIf="destinationData.destination_type==1|| destinationData.destination_type==2">
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <div class="input-wrap ">
                                        <label for=""> IS INSPECTION REQUIRED </label>
                                        <div class="custom-fake-input"> {{destinationData?.is_inspection_required==1?'Yes':'No'}}</div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 col-6 " *ngIf="destinationData?.inspection_type.length">
                                    <div class="input-wrap ">
                                        <label for=""> INSPECTION TYPE </label>
                                        <div class="custom-fake-input">
                                            {{destinationData?.inspection_type.length}}  Inspection Type
                                      </div>
                                      <ng-container *ngFor="let type of destinationData?.inspection_type;let i=index">
                                        {{type.label}} {{destinationData?.inspection_type.length-1 !=i?',':''}}
                                    </ng-container> 
                                    </div>
                                </div>
                              
                            </ng-container>
                            <ng-container >
                                <div class=" col-lg-3  col-md-6" *ngIf="destinationData?.destination_type==1 || destinationData?.destination_type==2">
                                    <div class="input-wrap dropdownArrow">
                                      <label class="input">Terminal</label>
                                      <material-dropdown [searchable]="true" [selectedOption]="initialValues.terminal" [addable]="true" class="dropDownWidth" [addBlank]="false"
                                        [postApiUrl]="optionsDropdownUrl" [params]="pointOfTypeParam"
                                        (postApiResponse)="getNewTerminal($event)" (addValueToList)="addNewTerminal($event)">
                                        <select #customSelect formControlName="terminal" class="no-style select--modify" (change)="onChangeTerminal(destination)">
                                          <option *ngFor="let option of terminalList" [value]="option?.id">
                                            {{ option?.label }}
                                          </option>
                                        </select>
                                      </material-dropdown>
                                    </div>
                                  </div>
                
                            </ng-container>



                        </div>
                        <ng-container *ngIf="changeDestinationStatusForm.get('checklist').value?.length">
                            <div class="trip-task-tab ">
                                <span>Job Task</span>
                                <app-tool-tip class="tool-tip-position" [totalSlides]="tripTaskToolTip.content.length"
                                position="right" [toolTipContent]="tripTaskToolTip"></app-tool-tip>
                            </div>
                            <app-add-edit-view-trip-task [isMandatory]="false" [destinationIndex]="office_status+1" 
                                [tripTaskList]="changeDestinationStatusForm.get('checklist').value" (tripTaskData)="tripTaskData($event)"></app-add-edit-view-trip-task>
                        </ng-container>
                      
                        <div class="d-flex justify-content-space-between ">
                            <button class="btn w-auto " (click)="cancel()">Cancel</button>
                            <button class="btn btn--primary w-auto" (click)="openValidationPopup()">Save</button>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>