@import "../../../../../../../assets/styles/helpers/variable";

.sm-time-input-error {
  border: 1.5px solid red !important;
}

.trip-task-tab {
  border-bottom: 2px solid #B8B8B8;
  position: relative;


  span {
    height: 40px;
    color: $text-color;
    font-size: 13px;
    border-bottom: 3.5px solid $primary-brand-color;
    display: flex;
    padding: 5px;
    align-items: center;

    width: 160px;
    font-weight: 500;
    margin-bottom: -1px;
    cursor: pointer;
    margin-bottom: -1px;

  }
}

.halt-time-wrap {
  margin-top: -3px;
  display: flex;
  justify-content: space-between;



  .time-input-field {
    position: relative;
    width: 28%;


    .input--bd.sm-time-input {
      padding: 5.5px 7px;
      font-size: 14px;
      border: 1px solid rgba(90, 107, 123, 0.5);
      border-radius: 6px;


      &::placeholder {
        font-size: 13px;
        text-align: center;
      }
    }

    .time-input-label {
      position: absolute;
      top: 0%;
      left: 7px;
      z-index: 1;
      font-size: 10px;
      font-weight: 600;
      transform: translateY(-50%);
      background-color: $layout-bg;
      padding: 0 3px;
      opacity: 1;
      transition: all 300ms ease;
      color: #676A6E;

    }
  }



  div {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 100%;
    height: 100%;

    &::placeholder {
      text-align: center;
    }

    &:focus+.time-input-label {
      opacity: 1 !important;

    }

    &:placeholder-shown+.time-input-label {
      opacity: 0;
    }



    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

.time-input-field .input--bd.sm-time-input {
  padding: 5.5px 7px;
  font-size: 14px;
  border: 1.4px solid #A4B1BC;
  border-radius: 6px;


  &::placeholder {
    font-size: 13px;
    text-align: center;
  }
}

.input-wrap label {
  font-weight: 600;
  color: #676a6e;
}



::ng-deep .change-destination-tab {
  max-height: 600px;
  overflow-y: auto;

  .cdk-keyboard-focused {
    background-color: $layout-bg !important;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }

  }

  .cdk-focused {
    background-color: $layout-bg !important;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }

  }

  .mat-tab-label-active {
    background-color: $layout-bg;
    border-radius: 8px 8px 0 0;
    opacity: 1 !important;
    font-weight: 500 !important;

    &::after {
      opacity: 0;
    }
  }

  .mat-tab-label-active+.mat-tab-label {
    &::after {
      opacity: 0;
    }
  }



  .mat-tab-labels {
    background-color: #eaeaea;
    opacity: 1 !important;
    border-radius: 7px;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $layout-bg;
  }

  .mat-tab-label {
    flex-basis: 0;
    flex-grow: 0 !important;
    margin-top: 3px;
    opacity: 1 !important;
    position: relative;
    color: #676A6E;
    font-weight: 400;
    font-size: 13px;


  }

  .mat-tab-label::after {
    content: "";

    background-color: #BBBBBB;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%, );

    height: 60%;
    width: 1.5px;
    transition: all 400ms ease;
  }

  .mat-tab-labels>.mat-tab-label:first-child {
    &::after {
      opacity: 0;
    }
  }



  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    border-bottom: 0px !important;
  }
}


.invalid {
  color: red;
}
.bg-white{
  border-radius: 7px;
}
.tool-tip-position{
  position: absolute;
  top: 13px;
  left: 70px;
}
