<app-list-widget class="calc-height" (listWidgetData)="listWidgetData($event)" [isFilter]="true" [isExport]="true" listTitle="Audit Log" [isSearch]="false"
  (exportList)="exportList($event)" [filterUrl]="filterUrl">
</app-list-widget>


<div class="custom-table-container line-height-normal" id="audit-log" (scroll)="onScroll($event)">
    <table >
      <thead>
        <tr>
          <th>Date</th>
          <th>Activity Details</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logs of auditLogData">
          <td class="ws-nowrap">{{logs?.created_at}} </td>
          <td class="td-width">
          
            <ng-container *ngIf="!logs?.extras?.primary?.id">
              <p>{{logs?.extras?.primary?.name}}</p>
            </ng-container>

            <ng-container *ngIf="logs?.extras?.master?.id">
              <div>
                {{getActivityDetails(logs.extras.master).screenName}}:
                <ng-container *ngIf="getActivityDetails(logs.extras.master).operation=='delete'">
                  {{getActivityDetails(logs.extras.master).screenValue}}
                </ng-container>
                <ng-container  *ngIf="getActivityDetails(logs.extras.master).operation!='delete'">
                  <a class="custom-link" target="_blank"
                  [routerLink]="[getActivityDetails(logs.extras.master).url]">{{getActivityDetails(logs.extras.master).screenValue}}</a>
                </ng-container>
              </div>
            </ng-container>

            <div class="mt-1 to-seperate"*ngIf="logs?.extras?.primary?.id && logs?.extras?.master?.id"></div>
            
            <ng-container *ngIf="logs?.extras?.primary?.id">
              <div>
                {{getActivityDetails(logs.extras.primary).screenName}}:
                <ng-container *ngIf="getActivityDetails(logs.extras.primary).operation=='delete'">
                  {{getActivityDetails(logs.extras.primary).screenValue}}
                </ng-container>
                <ng-container  *ngIf="getActivityDetails(logs.extras.primary).operation!='delete'">
                  <a class="custom-link" target="_blank"
                  [routerLink]="[getActivityDetails(logs.extras.primary).url]">{{getActivityDetails(logs.extras.primary).screenValue}}</a>
                </ng-container>
              </div>
            </ng-container>
          
            <ng-container *ngIf="!logs?.extras?.master?.id">
              <p>{{logs?.extras?.master?.name}}</p>
            </ng-container>
          </td>
          <td class="td-width">
            <div>
              {{logs?.action}}
            </div>
            <div class="created-by">
              by {{logs?.created_by}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>