<div style="background-color: white ;border-radius: 7px;">
  <form [formGroup]="editRoute">
    <div class="row pt-3 ps-4">
      <div class="col-xl-3 col-lg-3 col-md-3 col-6" [ngClass]="{'disabled':true}">
        <div class="input-wrap route-popup-btn">
          <label for="" class="input">Route</label>
          <material-dropdown [searchable]="true" [disabled]="true" [addable]="false" [selectedOption]="initialDetails.route_code">
            <select #customSelect formControlName="route_code" class="no-style select--modify">
            </select>
          </material-dropdown>
        </div>
      </div>
    </div>
  </form>

  <app-multiple-destination  [contactPersonList]="contactPersonList" [officeStatus]="officeStatus"
    [ismultipleDestinationFormValid]="ismultipleDestinationFormValid" [routeId]="routeId"
    (multipleDestinationFormData)="multipleDestinationFormData($event)" [routeDestinations]="routeDestinations"></app-multiple-destination>

  <div class="d-flex justify-content-space-between px-3 pb-2 pt-2">
    <button class="btn w-auto" (click)="cancel()">Cancel</button>
    <button class="btn btn--primary w-auto" (click)="save()">Save</button>
  </div>
</div> 