@import "../../../../../../../../assets/styles/helpers/variable";

.map-wrap {
    background-color: $layout-bg;
}

input.mat-input-element {
    box-sizing: border-box;
    padding-bottom: 13px;
}

 ::ng-deep {
    .route-popup-btn {
        .input-wrap .input--bd {
            padding: 8px 15px;
            border: 2px solid $gray-400;
            border-radius: 6px;
            transition: border-color 0ms ease-in-out;

            &:focus {
                border-color: $primary-brand-color;
            }

            &:disabled {
                border-color: #ACB5BD;
                background-color: #EAEAEA;
            }
        }

    }

}