@import "../../../../../../../assets/styles/helpers/variable";
@import "../../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../../assets/styles/helpers/mixins";


.party-menu{
    background-color: $secondary-brand-color;
    margin-left: -30px;
    margin-right: -30px;
    &__list{
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 20px 15px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: $primary-text-color;
        &.active{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
        &:hover{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
    }
}

.party-profile{
    .profile-cover-image{
        background-image:url('../../../../../../../assets/img/cover-image.jpg');
        height:133px;
    }
    .profile-info__avatar{
        width: 200px;
        img{
            width: 200px;
            height: 200px;
            border: 5px solid $white;
            border-radius: 0;
        }
    }
}

.hide {
    display: none;
}
.alert-msg{
    margin-bottom: 18px;}
.error-reg {
    color: #eb1e4a;
    font-size: 12px;
    }


    #pre ::ng-deep .mat-form-field {
        .mat-form-field-wrapper {
            height: 76px;
         }

    }

    #pre ::ng-deep .mat-form-field-infix {
    bottom:-24px
    }
    .input-wrap{
      &.error{
          .error-box{
              border: 1px solid #eb1e4a;
              &::placeholder{
                  color: #eb1e4a;
              }
      }
      .error_line {
        border-bottom: 2px solid #eb1e4a;
      }
      }

    .top-level-field-border {
          border: 1px solid $primary-border-color;
          border-radius: 3px;
          height: 40px;
      }
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.invalidForm{
  color: #eb1e4a  !important;
}

.form-contain-data{
 color: #45da7c  !important;
}
.mobileScroll{
  overflow-x:auto;
  white-space:nowrap;

}

.progress-bar-wrap {
    @media (max-width:639px) {
      padding-left: 0;
      padding-right: 0;
    }

    .progress-bar-list {
      min-height: 20px;
      margin-bottom: 0;
      z-index: 3;

    }
  }
  .contactPersonOverflow{
   overflow-x:hidden;
   >div{
    overflow:auto;
   }
   .dataTable{
    position:relative;
     >div{
        position:relative;
        div{
        position:relative;

            label{
            min-width:100px
        }
    }
     }


   }

  }


