<div class="" [formGroup]="paymentStatusForm">
  <div class="form-layout__card mg-top-30">
    <div class="row mx-0">
        <div class=" col-lg-3 col-sm-6">
            <div class="input-wrap" [ngClass]="{disabled:isAmountUsed}">
                <label for="" class="">Payment Status</label>
                <material-dropdown [searchable]="true" [disabled]="isAmountUsed" [selectedOption]="initialValues.paymentStatus" [addable]="false" class="dropDownWidth">
                    <select #customSelect formControlName="payment_status" class="no-style select--modify" (change)="paymentStatusChange()">
                        <option value="1">Pay Later</option>
                        <option value="3">Paid</option>
                    </select>
                  </material-dropdown>
                <span class="error-message">Error messge!</span>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6" [ngClass]="{disabled:paymentStatusDisable||isAmountUsed}">
            <div class="input-wrap" [ngClass]="addErrorClass(paymentStatusForm.controls.amount_paid)">
                <label for="" class="">Amount Paid ({{ currency_type?.symbol}})</label>
                <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="2000"
                formControlName="amount_paid" (change)="amountFieldChanged()">
                <span class="border-anim"></span>
                <app-error [controlName]="paymentStatusForm.controls.amount_paid"></app-error>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6 datepicker-width-fix">
            <div class="input-wrap" [ngClass]="{disabled:paymentStatusDisable||isAmountUsed}">
                <label for="" class="">Transaction Date</label>
                <mat-form-field>
                    <input matInput [matDatepicker]="transaction_date" formControlName="transaction_date" (focus)="transaction_date.open()" placeholder="DD/MM/YYYY">
                    <mat-datepicker-toggle matSuffix [for]="transaction_date"></mat-datepicker-toggle>
                    <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
                <span class="error-message">Error messge!</span>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6 max-width-180">
            <div class="input-wrap" [ngClass]="{disabled:paymentStatusDisable||isAmountUsed}">
                <div class="input-wrap error"
                    [ngClass]="addErrorClass(paymentStatusForm.controls.payment_mode)">
                    <label for="" [ngClass]="{'input--required':isPaymentModeRequired}">Payment Mode</label>
                    <material-dropdown [searchable]="true" [selectedOption]="initialValues.paymentMode" [disabled]="paymentStatusDisable||isAmountUsed" [addable]="false" class="dropDownWidth">
                        <select #customSelect formControlName="payment_mode" class="no-style select--modify" (change)="onPaymentModeSelected()">
                            <option *ngIf="!paymentStatusDisable" value='paid_By_Driver'>Paid By Employee</option>
                            <option *ngFor="let account of paymentAccountList" value="{{ account.id }}">
                                {{ account.name }}</option>
                        </select>
                      </material-dropdown>
                    <app-error [controlName]="paymentStatusForm.controls.payment_mode"></app-error>
                </div>
            </div>
        </div>

        <div class=" col-lg-3 col-sm-6 max-width-180"  *ngIf="paymentStatusForm.get('is_driver_paid').value" >
            <div class="input-wrap" >
                <div class="input-wrap error"
                    [ngClass]="addErrorClass(paymentStatusForm.controls.paid_employee)">
                    <label for="" class="input--required">Paid By</label>
                    <material-dropdown [searchable]="true" [selectedOption]="initialValues.paid_employee"  [addable]="false" class="dropDownWidth">
                        <select #customSelect formControlName="paid_employee" class="no-style select--modify" >
                            <option *ngFor="let account of activeEmpList" value="{{ account.id }}">
                                {{ account.display_name }}</option>
                        </select>
                      </material-dropdown>
                    <app-error [controlName]="paymentStatusForm.controls.paid_employee"></app-error>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-6">
            <div class="input-wrap" [ngClass]="{disabled:!isBankingChargeRequired || isAmountUsed}">
                <label for="" class="">Banking Charges ({{ currency_type?.symbol}})</label>
                <input positiveThreeDigitDecimalNumber type="text" class="no-style input--bd" placeholder="2000"
                formControlName="bank_charges" >
                <span class="border-anim"></span>
                <span class="error-message">Error messge!</span>
            </div>
        </div>
    </div>
</div>


</div>
