@import "../../../../../../../assets/styles/helpers/variable";
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.kyc-toggle-switch{
    width: 65px;
    
    height: 40px;
    position: relative;
    cursor: pointer;
    &::before{
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        position: absolute;
        background-color: #E9E9E9 ;
        border-radius: 10px;
    }
    


    .switch-text{
        

        position: absolute;
        font-size: 14px;
        padding:  5px 10px;
        width: 44px;
        text-align: center;
        background-color: #fff;
       
        transform: translateY(-50%);
        top: 50%;
        transition: all 200ms ease-in-out;
        
        
    }

    &.checked{
        .switch-text{
            border: 1px solid $green ;
        color: $green;
        left: calc(100% - 44px);
        

        }
        &:hover{
            .switch-text{
                outline: 4px solid #07c06061;
            }
           
        }
    }
    &.not-checked{
       
        .switch-text{
            left: 0px;
            border: 1px solid $error-txt;
        color: $error-txt;

        }
        &:hover{
            .switch-text{
                outline: 4px solid #eb1e4a36;
            }
           
        }
    }
    

}