<div class="def-color add-screen-wrap" >
    <div class="px-4 py-3 calc-height">
        <h6 class="fs-5">{{containerId ? 'Edit' :'Add'}} Container &nbsp;</h6>
    </div>
    <div class="shadow-inset-top-lg">
        <div class="alert alert-danger" role="alert" *ngIf="apiError">
            {{apiError}}
          </div>
            <form [formGroup]="containerForm" >
                <div class="row px-3 pt-4 pb-2 mx-0 calc-height">
                    <div class="col-md-3">
                        <div class="input-wrap error " [ngClass]="addErrorClass(containerForm.controls.name)">
                            <label for=""  class="input input--required"> Container Specification</label>
                            <input  type="text"  class="no-style input--bd" placeholder="" value="" formControlName="name">
                            <app-error [controlName]="containerForm.controls.name"></app-error>
                          </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="input-wrap max-height-150 error" [ngClass]="addErrorClass(containerForm['controls'].type)">
                            <label for="" class="input--required">Type</label>
                            <material-dropdown  [searchable]="true" [addable]="true"  
                            [postApiUrl]="postApiUrl" 
                            [params]="containerParam"
                            [selectedOption]="initialValues.containerType"
                            (postApiResponse)="getNewContainerType($event)" (addValueToList)="addNewContainerType($event)">
                            <select #customSelect formControlName="type" >
                             <option *ngFor="let option of containerTypeList" value="{{ option.id }}">
                              {{ option.label }}
                             </option>
                            </select>
                            </material-dropdown>
                            <app-error [controlName]="containerForm['controls'].type">
                            </app-error>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="input-wrap max-height-150 error" [ngClass]="addErrorClass(containerForm['controls'].size)">
                            <label for="" class="input--required">Size</label>
                            <material-dropdown [searchable]="true" [addable]="true" [selectedOption]="initialValues.size"
                            [postApiUrl]="postApiUrl" 
                            [params]="sizeParam" (postApiResponse)="getNewContainerSize($event)" (addValueToList)="addNewContainerSize($event)" >
                            <select #customSelect formControlName="size" >
                             <option *ngFor="let option of sizeOptions" value="{{ option.label }}">
                              {{ option.label }}
                             </option>
                            </select>
                            </material-dropdown>
                            <app-error [controlName]="containerForm['controls'].size">
                            </app-error>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-wrap error " [ngClass]="addErrorClass(containerForm.controls.weight)">
                            <label for=""  class="input input--required">Weight (Tons)</label>
                            <input  type="text"  positiveThreeDigitDecimalNumber class="no-style input--bd" placeholder="456" value="" formControlName="weight">
                            <app-error [controlName]="containerForm.controls.weight"></app-error>
                          </div>
                    </div>

                </div>
            </form>

         
    </div>
    
    
</div>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end calc-height">
    <button class="btn btn--sm me-2" (click)="cancel()" type="submit">Cancel</button>
    <button class="btn btn--primary btn--sm" (click)="save()" type="submit">{{containerId ? 'Update' :'Save'}}</button>
  </div>





