<div class="calc-height">
    <app-list-widget (listWidgetData)="listWidgetData($event)" listTitle="Chart of Accounts" [isFilter]="true"
        [filterUrl]="filterUrl" [isDateDropDown]="false">
        <div id="custom-button-right" class="d-flex">
            <button type="button" class="btn btn--primary ms-2 w-auto" *ngxPermissionsOnly="editCoaPer"
                [routerLink]="editCoaUrl">
                Edit Chart of Account
            </button>
            <button type="button" (click)="showModalAdd = true;popupOverflowActive()"
                class="btn btn--primary ms-2 w-auto">
                + Add Chart of Account
            </button>
            <add-new-coa [showModal]="showModalAdd" (closeModal)="showModalAdd = $event" (coaAdded)="refresh($event)">
            </add-new-coa>
        </div>

    </app-list-widget>
    <div class="alert-msg" *ngIf="apiError">
        <span class="icon-wrap"></span>
        <p class="message-cont">{{ apiError }}</p>
    </div>
</div>


    <div class="custom-table-container" id="chart-of-account-list" (scroll)="onScroll($event)">
        <table [ngClass]="{'h-100':chartOfAccountList.length==0}">

            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Type</th>
                    <th>Debit ( {{ currency_type?.symbol}})</th>
                    <th>Credit ({{ currency_type?.symbol}})</th>

                    <th class="icon-box"></th>

                </tr>
            </thead>
            <tbody *ngIf="chartOfAccountList.length == 0">
                <tr class="border-0">
                    <td class="bg-white" colspan="30">
                        <div class="no-list-data-wrap">
                            <figure>
                                <img src="assets/img/no-content.png" alt="">
                            </figure>
                            <h5 class="mt-3 primary-brand-text">No data found!</h5>
                        </div>
                    </td>
                </tr>

            </tbody>

            <tbody>
                <tr *ngFor="let data of chartOfAccountList">
                    <td class=" td-2l"><div class="text-2l"><a class="custom-link " [routerLink]="[generateURL(data.id)]">{{
                            data?.name ?
                            data?.name : '-' }}</a></div></td>
                    <td>{{ data?.account_type? data?.account_type.name : '-' }}</td>
                    <td>{{ data?.debit|numberFormat }}</td>
                    <td>{{ data?.credit | numberFormat}}</td>


                    <td class="icon-box  tabIndexActive">
                        <div class="d-flex justify-content-center align-items-center" *ngIf="data?.is_editable">
                            <div class="position-relative">
                                <button class="material-icons more-icon p-0" *ngxPermissionsOnly="[coaPer[1],coaPer[2]]"
                                    (click)="optionsList($event, 'list_'+data.id)">more_vert</button>
                                <div class="more-actions__menu table-popup"
                                    [ngClass]="{show: showOptions === 'list_'+data.id}">
                                    <button *ngxPermissionsOnly="[coaPer[1]]" class="more-actions__item w-100"
                                        (click)="editChartOfAccount(data.id)"><i
                                            class="material-icons">edit</i>Edit</button>
                                    <button *ngxPermissionsOnly="[coaPer[2]]" class="more-actions__item w-100"
                                        (click)="popupFunction(data.id)"><i
                                            class="material-icons">delete</i>Delete</button>
                                </div>
                            </div>
                        </div>

                    </td>






                </tr>
            </tbody>
        </table>
    </div>

<edit-coa [showModal]="showModal" [coaId]="coaId" (closeModal)="showModal = $event" (coaUpdated)="refresh($event)">
</edit-coa>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>