<form [formGroup]="editTyreForm">
  <div class="form-layout__card mg-top-30" style="margin-left: 14px; margin-right: 14px;">
   <div class="row" style="margin-left: 3px; margin-right: 14px;">
    <div class="challan-header p-0">
         <div class="input-group input-group-sm mb-3 input-wrap error">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">HSN Code
                    </span>
                </div>
                 <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Add HSN Code"
                 formControlName="hsn_code">
         </div>
         </div>
      </div>
       <div class="table-wrapper table-wrapper--type1 table-wrapper--type2  table--bd table--nobg dropDownOverflow">
        <div *ngIf="!isUniqueNumber">
          <div class="alert-msg">
              <span class="icon-wrap"></span>
              <p class="message-cont">Unique number already exists</p>
          </div>
          <br>
      </div>
        <table class="table-container table-item">
            <thead>
                <tr>
                  <th width=15%>Action</th>
                  <th width=15%>Tyre Details</th>
                  <th width=15%></th>
                  <th width=15%></th>
                  <th width=15%>Tyre Unique No.</th>
                  <th width=15%>Total ({{ currency_type?.symbol}})</th>
                  <th width=10%></th>
                </tr>
            </thead>
            <tbody formArrayName="new_tyre">
              <ng-container *ngFor="let otherItem of editTyreForm.controls.new_tyre['controls']; let i = index;" [formGroupName]="i">
                <tr>
                        <td class="w-150 select-wrap" [class.disabled]="otherItem.controls.id.value ? true : false" >
                          <material-dropdown [searchable]="true" [addable]="false" [disabled]="otherItem.controls.id.value ? true : false"
                                             [selectedOption]="otherItem.controls.actionOption.value"
                                             [disabled]="true">
                                        <select #customSelect formControlName="action" class="no-style select--modify">
                                            <option *ngFor="let action of actionType" value="{{action.value}}">
                                                {{ action.label}}
                                            </option>
                                        </select>
                            </material-dropdown>
                        </td>
                        <td class="w-150"  [ngClass]="{disable:itemsDisable[i]}">
                            <div>
                                  <material-dropdown [searchable]="true" [addable]="true" [disabled]="itemsDisable[i]" class="dropDownWidth"
                                  [postApiUrl]="manufacturerApi"
                                  [params]="manufacturerParams"
                                  (postApiResponse)="getNewManufacturer($event, i)"
                                  (addValueToList)="addNewManufacturer($event)"
                                   [selectedOption]="otherItem.controls.manufacturer_option.value">
                                  <select #customSelect formControlName="manufacturer" class="no-style select--modify" (change)="onMakeChange(otherItem,i)">
                                      <option *ngFor="let option of staticOptions?.tyreManufacturer" value="{{ option?.id }}">
                                          {{ option?.label }}
                                      </option>
                                  </select>
                              </material-dropdown>
                            </div>
                        </td>
                        <td class="w-150"  [ngClass]="{disable:itemsDisable[i]}">
                          <material-dropdown [searchable]="true" [addable]="true" [disabled]="itemsDisable[i]"
                                    [postApiUrl]="modelApi"
                                    [params]="modelParams"
                                    (postApiResponse)="getNewModel($event, i)"
                                    (addValueToList)="addNewModel($event)"
                                    [selectedOption]="otherItem.controls.model_option.value">
                                        <select #customSelect formControlName="model" class="no-style select--modify">
                                            <option *ngFor="let model of tyreModel[i]" value="{{model.id}}">
                                                {{ model.name}}
                                            </option>
                                        </select>
                            </material-dropdown>
                        </td>
                        <td class="w-150"  [ngClass]="{disable:itemsDisable[i]}">
                          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth" [disabled]="itemsDisable[i]"
                          [selectedOption]="otherItem.controls.thread_type_option.value"      >
                            <select #customSelect formControlName="thread_type" class="no-style select--modify">
                              <option *ngFor="let option of staticOptions?.threadType" value="{{ option?.id }}">
                                  {{ option?.label }}
                              </option>
                            </select>
                            </material-dropdown>
                        </td>

                        <td class="w-150 input-wrap" *ngIf="otherItem.controls.action.value == 'add'" [ngClass]="tyreErrorCss(otherItem)">
                            <div class="error">
                              <input type="text" placeholder="1000" class="error-box" formControlName="unique_number" (focusout)="checkUnique(otherItem)"
                                      [readonly]="itemsDisable[i]">
                            </div>
                          </td>

                          <td *ngIf="otherItem.controls.action.value == 'remove'">
                              <div class="select-wrap" [class.disabled]="itemsDisable[i]">
                                  <material-dropdown [searchable]="true" [addable]="false"
                                  [addErrorClass]="tyreErrorCss(otherItem)" [disabled]="itemsDisable[i]"
                                  [selectedOption]="otherItem.controls.tyreOption.value">
                                          <select #customSelect formControlName="tyre" class="no-style select--modify"
                                          (change)="onInventoryTyreSelection($event, otherItem, i)">
                                              <option *ngFor="let tyre of inventoryTyreList;" value="{{tyre.id}}">
                                                  {{ tyre.unique_no}}
                                              </option>
                                          </select>
                                  </material-dropdown>
                              </div>
                          </td>

                        <td class="w-150" [ngClass]="{disable:itemsDisable[i]}">
                            <div class="input-wrap">
                                <input positiveThreeDigitDecimalNumber type="text" [readonly]="itemsDisable[i]" class="error-box" placeholder="1000"
                                    formControlName="total"
                                    >
                            </div>
                        </td>
                            <td class="text-center">
                              <span class="material-icons drop-down " (click)="otherItem.controls.additionalDetails.setValue(!otherItem.controls.additionalDetails.value) "
                              *ngIf="!otherItem.controls.additionalDetails.value ">arrow_drop_down</span>
                              <span class="material-icons drop-down " (click)="otherItem.controls.additionalDetails.setValue(!otherItem.controls.additionalDetails.value) "
                              *ngIf="otherItem.controls.additionalDetails.value ">arrow_drop_up</span>
                            <span class="material-icons delete"  [ngClass]="{disable:itemsDisable[i]}"
                            (click)="removeOtherItem(i)" *ngIf="editTyreForm.controls.new_tyre['controls'].length !== 1">add_circle_outline</span>
                            <span class="material-icons add"
                            (click)="addMoreOtherItem()" *ngIf="editTyreForm.controls.new_tyre['controls'].length -1== i">add_circle_outline</span>
                        </td>
                    </tr>
                    <tr class="border-top-0" *ngIf="otherItem.controls.additionalDetails.value"  [ngClass]="{disable:itemsDisable[i]}">
                      <td colspan="4" class="fs-12 pt-0">
                          <input type="text" placeholder="Description" formControlName="note" [readonly]="itemsDisable[i]">
                      </td>
                      <td class="fs-12  pe-2">
                          <span class="table-footer-actions"><a class="clear-item" (click)="clearData(i)">Clear</a></span>
                      </td>
                  </tr>
              </ng-container>
            </tbody>
        </table>
    </div>
    <div class="table-footer-actions mg-top-20"  [ngClass]="{disable:itemsDisable[0]}">
        <a class="clear-item"  (click)="clearAllOtherItems()">Remove all</a>
    </div>
  </div>

</form>

