@import "../../../../../../../../assets/styles/repeated/cost-card";
.custom-table-container{
    min-height: 400px;
  }

  .save-file,
.edit-button,
.filter-btn,
.setting-button {
    color: #979696;
    height: 35px;
    border: 1px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 6px;

    .material-icons {
        font-size: 20px;
    }
}
