<div class="bg-white rounded-3">
    <form [formGroup]="additionalChargesListForm">

      <div class="d-flex justify-content-between align-items-center px-4 py-2 mx-0 p-0 border-bottom"  >
        <p  class="fs-6 def-color fw-semibold modal-title col-6" >Add Sales Order Additional Charges</p>
        <div class="table-header__right col-md-4 col-6 justify-content-end px-0">
          <div id="demo-2">
            <input type="search" class="no-style search-bar input-search" placeholder="Search" (keyup)="searchitem()"
           [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
  
          </div>
          <ng-container *ngIf="allData?.length">
            <button class="btn--action mg-left-10 hide_onClick py-1" [ngClass]="{'filterOpen':showFilter }" (click)="showFilter = !showFilter">
              <span  *ngIf="isFilterApplied && !showFilter" class="material-icons filterBullet">
                fiber_manual_record
                </span>
                <img *ngIf="!isFilterApplied && !showFilter" src="assets/img/filter-icon.svg" alt="">
                <img *ngIf="isFilterApplied && !showFilter" src="assets/img/filter_icon_2.svg" alt="">
                <img *ngIf="showFilter" src="assets/img/filter-icon-svg-3.svg" alt="">
            </button>
            <app-filter [config]="options" [data]="allData" [visible]="showFilter" (onApplied)="filterApplied($event)"
              (onClear)="filterApplied($event)">
            </app-filter>
          </ng-container>
        </div>
      </div>




     
      <div class="p-4">
        <div
          class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg table-wrapper--scroll">
          <table class="table-container">
            <thead>
              <tr>
                <th width=5%>
                  <label for="check-trip-all" class="check-box">
                    <input type="checkbox" id="check-trip-all" formControlName="selectedAll"
                      (change)="selectAllAdditionalCharge()">
                    <span class="check-mark"></span>
                  </label>
                </th>
                <th >SO No.</th>
                <th >SO Date</th>
                <th *ngIf="typeOfCategory==='container'" >Type of Movement</th>
                <th *ngIf="typeOfCategory==='container'" >Scope of Work</th>
                <th>Additional charge</th>
                <th>No Of Units</th>
                <th >Location</th>
                <th></th>
              </tr>
            </thead>
            <tbody formArrayName="additional_charges">
              <tr *ngIf="additionalChargesList.length == 0">
                <td colspan="10" style="background-color: #fff">
                  <div class="no-content-wrapper">
                    <figure class="no-content-pic">
                      <img src="assets/img/no-content.png" alt="">
                    </figure>
                    <div class="no-content-txt">
                      <h5 class="heading">No data found!</h5>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let charge of additionalChargesList ; let i = index;" [formGroupName]="i">
                <td class="table-checkbox">
                  <label for="check-additional-charge-{{i}}" class="check-box">
                    <input type="checkbox" id="check-additional-charge-{{i}}" formControlName="selectedAdditionalCharge" (change)="onSelectionAdditionalCharge()"
                      value="{{ charge.charge_id }}">
                    <span class="check-mark"></span>
                  </label>
                </td>
                <td>
                  {{ charge.workorder_no ? charge.workorder_no : '-' }}
                </td>
                <td>
                  {{ charge.date |formateDate  }}
                </td>
                <td  *ngIf="typeOfCategory==='container'">
                  {{  charge?.type_of_movement}}
                </td>
                <td  *ngIf="typeOfCategory==='container'">
                  {{  charge?.movement_sow}}
                </td>
                <td>
                  {{ charge.charge_name }}
                </td>
                <td>{{charge.quantity}}</td>
                <td>
                  {{ charge.location ? charge.location : '-' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-between px-4 pb-4">
      <button type="button" class="btn btn--sm" data-dismiss="modal" (click)=" close()">Close</button>
      <button type="button" class="btn btn--primary btn--sm" (click)="selectedAdditionalCharge()">{{selectedChargeList.length==0?'Add':'Update'}}</button>
      </div>
    </form>
  </div>
  
    