<div class="modal fade" [ngClass]="{'show':showDocument}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="showDocument">
  <div class="modal-dialog screen-center modal--xls modal-dialog-scrollable" style="max-width: 600px;" role="document">
   
      
    <div class="modal-content ">
      <div  class=" modal-header popup-header border-bottom-0" >
        <h6  class="fs-6">Upload</h6>
        </div>
      
      <form [formGroup]="addUploadForm" class="p-4 modal-body">
        <p *ngIf="!isDocumentThere" style="color:red">Please upload atleast 1 document to save</p>
        <div class="input-wrap error" [ngClass]="addErrorClass(addUploadForm.controls.note)">
          <label class="mb-3 h6 input--required fw-bold">Note</label>
          <textarea placeholder="Add notes or Additional Details" formControlName="note" class="d-inline-flex w-100 error-box rounded-2 p-3 border" cols="90%" rows="3"></textarea>
          <app-error [controlName]="addUploadForm.controls.note"></app-error>
        </div>

        <div class="col-12 d-flex flex-wrap gap-3 ">
          <file-uploader-v2 (onFileUploaded)="fileUploader($event)" [uploaderId]="'1234'"
              [isShowOnlyUpload]="false"></file-uploader-v2>
          <app-file-delete-view [showInlineEdit]="false" [fileData]="document" *ngFor="let document of documentList"
              (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
      </div>


      </form>
      <div class=" d-flex justify-content-between px-4 pb-3 pt-2">
        <button class="btn btn-primary  me-3 btn--sm" (click)="onClickCancel()">Cancel</button>
        <button class="btn btn-primary btn--primary btn--sm" (click)="saveUpload()">Save</button>
       </div>
     </div>
  </div>
</div>

<div *ngIf="showDocument" class="modal-backdrop fade show"></div>
