@import "../../../../../../assets/styles/helpers/variable";
@import "../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../assets/styles/helpers/mixins";
th,td{
  text-align: center !important;
}

.spare-heading{
  width: 132px;
  color: #34393E;
  font-family:'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  height: 21px;
}

.issue-heading{
  height: 21px;
  width: 132px;
  color: #34393E;
  font-family:'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px
}

.purchase-heading{
  height: 21px;
  width: 132px;
  color: #34393E;
  font-family:'Noto Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

div#table-height{
  height:55vh;
  @media only screen and (min-width: 1900px) {
      height: 60vh;
      }
   }
   div#form-height {
    height: 73vh;
    position: relative;
    @media only screen and (min-width: 1900px) {
      height: 78vh;
      }
}
.table-page-no
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

}
