@import "../../../../../../../assets/styles/helpers/variable";

.add-fuel-popup {
    background-color: $layout-bg;
    border-radius: 8px;
}

.popup-header {
    background-color: #F2F4F7;
    border-radius: 8px 8px 0 0;
    padding: 15px 20px;
    color: $primary-brand-color;

}

.popup-body {
    
    padding-bottom: 15px;

}
.location-name{
  border :1px solid $primary-brand-color;
  color: $primary-brand-color;
 font-size: 12px ;
 padding: 4px 10px;
 display: flex;
 justify-content: center ;
 align-items: center;
 line-height: normal;

 
 
  
  .material-icons{
    font-size: 16px;
    margin-left: 4px;
    cursor: pointer;
    color: $primary-brand-color;

  }
 
}

.fake-tab-bar {
  background-color: #eaeaea;
  height: 51px;
  padding-top: 2.5px;
  span{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: #676A6E;
      background-color: #fefefe;
      border-radius: 6px 6px 0 0;
      height: 100%;
      max-width: 180px;
  }
}


.input-wrap {
    &.error {
      .error-box {
        border: 1px solid #eb1e4a;
  
        &::placeholder {
          color: #eb1e4a;
        }
      }
  
      .error_line {
        border-bottom: 2px solid #eb1e4a;
      }
    }
  }

  .coordinates-wrap {
    color: rgb(119, 204, 237);
    display: flex;
    position: absolute;
    top: 1%;
    right: 0%;
    justify-content: flex-end;
    p {
      cursor: pointer;
    }
  }

  .add-location{
    
    position: absolute;
 bottom: 6px;
    right: 0%;
    font-size: 13px;
    padding: 8px;
    
  }
  .location-input{
    padding-right: 55px;
  }

  .error-reg {
    color: #eb1e4a;
    font-size: 12px;
  }
.no-location-selected{
  color: #B2B2B2;
  .material-icons{

    font-size: 80px;
    color: #B2B2B2;
  }

}
#locations-table table thead th:before{
  display: none;

}