<div class="container-fluid px-0 def-color">
    <div class="row g-3">
        <div class="col-12">
    <div class=" mx-0 row align-items-lg-stretch card-shadow rounded-3">
        <div class="col-lg-4  px-0 ">
            
            <div class="p-3   def-color h-100 ">
                <div class="d-flex justify-content-end align-items-center">
                    <button class="gb-edit-btn" *ngIf=" isAssetEditPermission" [routerLink]="[getPrefixUrl+'/onboarding/assets/edit/',assetId]"><span class="material-icons">
                        edit
                        </span></button>
                   
                  </div>

                  <div
                    class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px  ">
                    <span class="fw-semibold">Asset No.</span>
                    <span>{{assetViewDetails?.asset_no}}</span>
                </div>
                
                <div
                    class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px  ">
                    <span class="fw-semibold">Specification</span>
                    <span>{{assetViewDetails?.specification}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Asset Brand</span>
                    <span>{{assetViewDetails?.brand}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Asset Model</span>
                    <span>{{assetViewDetails?.model}}</span>
                </div>
                <div class=" d-flex justify-content-between  px-4 p-y-20px ">
                    <span class="fw-semibold  me-4 line-height-normal"><span class="ws-nowrap">Vehicle No. </span> Assigned</span>
                    <div class="line-height-normal">
                    <ng-container  *ngFor="let vehicle of assetViewDetails?.vehicles_assigned ;let last = last ">
                        <span>
                          <a class="py-0 custom-link" target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/details',vehicle.id]"> {{vehicle?.reg_no }}{{last ?'': ','}} </a>
                        </span>
                    </ng-container>
                    <span *ngIf="assetViewDetails?.vehicles_assigned.length ==0">No Vehicle Assigned</span>
                </div>
                </div>
                

            </div>
        </div>
        <div class="col-lg-8  px-0 border-start" >
            <div class="def-color h-100 ">
                 
            <app-table-widget [isSearch]="true" (searchedData)="searchAssetDetails($event)" [tableTitle]="'Asset Details'"></app-table-widget>

            <div  class="custom-table-container no-scroll-table">
                <table>
                    <thead>
                        <tr>
                            <th>Asset DETAILS NAME</th>
                            <th>Asset DETAILS INFO.</th>
                            <th>NARRATION</th>
                            <th  class="icon-box">VIEW</th>
                            <th></th>
                            
                            
                        </tr>
                    </thead>

                    <!-- no-data-component -->
                    <tbody *ngIf="assetSubDetails.length==0">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">
                                    <figure>
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>

                        <tr *ngFor="let item of assetSubDetails.slice(0,assetDetailsCollapse? 3 : assetSubDetails.length) ;index as i">
                            <td>{{item.name}}</td>
                            <td>{{item.number| numberFormat}}</td>
                            <td>{{item.narration ?item.narration:'-'}}</td>
                            
                            <td class="icon-box">
                                
                                <button [disabled]="item.files.length==0" class="m-auto d-block" (click)="viewUploadedDocument(item)">
                                        <span class="material-icons fs-4"   [ngStyle]="{'color': item.files.length>0 ? '#15A4F6' : '#CCCCCC'}">
                                            remove_red_eye
                                        </span>
                                </button>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center" *ngIf=" isAssetEditPermission">
                                    <div class="position-relative">
                                      <i class="material-icons more-icon" (click)="optionsList($event, 'asset_details__'+item?.name)">more_vert</i>
                                  <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'asset_details__'+item?.name}">
                                      <li class="more-actions__item" 
                                          [queryParams]="{tab: 'Asset Details', name: item?.name}"
                                          [routerLink]="[getPrefixUrl+'/onboarding/assets/edit/',assetId]"><i
                                              class="material-icons">edit</i>Edit</li>
                                  </ul>
                                    </div>
                                  </div>
                            </td>
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
            <button  *ngIf="assetSubDetails.length >3" matRipple (click)="assetDetailsCollapse=!assetDetailsCollapse" class="veh-details-collapse-btn">

              
                    <span class="material-icons " *ngIf="assetDetailsCollapse">
                    expand_more
                    </span>
                    <span class="material-icons" *ngIf="!assetDetailsCollapse">
                        expand_less
                        </span>
                    Show {{assetDetailsCollapse ? 'more ':'less'}}

                    </button>
           
        </div>
        </div>
        
    </div>
</div>
<div [ngClass]="isWidthExpandedCertificate?'col-12':'col-4'" *ngIf="!isWidthExpandedAttachments && !isWidthExpandedPermits">
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [isSearch]="true" (searchedData)="searchCertificateDetails($event)" [WidthCollapse]="true" [isWidthExpanded]="isWidthExpandedCertificate" [tableTitle]="'Certificate'"  (WidthCollapseEvent)="wCollapseCertificateEvent($event)"
        [isFilter]="true" filterUrl ="asset/documents/filters/"
        (filterDataEmitter)="filterDataCertificates($event)"></app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>CERTIFICATE NAME</th>
                        <th *ngIf="isWidthExpandedCertificate">CERTIFICATE NO.</th>
                        <th  *ngIf="isWidthExpandedCertificate">ISSUE DATE</th>
                        <th  *ngIf="isWidthExpandedCertificate">EXPIRY DATE</th>
                        <th *ngIf="isWidthExpandedCertificate">CERTIFICATE ISSUED BY</th>
                        <th>EXPIRY DAYS TO GO</th>
                        <th *ngIf="isWidthExpandedCertificate" class="icon-box">VIEW</th>
                        <th *ngIf="isWidthExpandedCertificate" class="icon-box">HISTORY</th>
                        <th></th>
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="assetCertificatesList.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr *ngFor="let doc of assetCertificatesList;let i=index"> 
                        <td>{{doc?.name}} <span *ngIf="doc?.name=='Insurance'"> ( {{doc?.insurance_type?doc?.insurance_type:'-'}} ) </span></td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.number ? doc?.number :'-'}}  </td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.issue_date ? doc?.issue_date :'-'}}</td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.expiry_date ? doc?.expiry_date :'-'}}</td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.vendor ? doc?.vendor.name :'-'}}</td>
                        <td [ngStyle]="getStyle(doc?.expiry_days?.color)">{{doc?.expiry_days?.name}}</td>
                        <td *ngIf="isWidthExpandedCertificate" class="icon-box">
                            <div class="justify-content-center align-items-center d-flex">
                            <button (click)="viewUploadedDocument(doc)" [disabled]="doc?.files.length == 0">
                                    <span class="material-icons fs-4" [ngStyle]="{'color': doc?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                        remove_red_eye
                                    </span>
                            </button>
                        </div>
                        </td>
                        <td *ngIf="isWidthExpandedCertificate" class="button-box" >
                            <div class="justify-content-center align-items-center d-flex">
                            <button [disabled]="!doc.has_history" (click)="openDocumentsHistory(doc,'document',false)"  >
                                <span class="material-icons fs-4 def-color "  [ngStyle]="{'color': doc.has_history ? '#676A6E' : '#CCCCCC'}" >
                                    history
                                </span>
                        </button>
                    </div>
                        </td> 
                        
                        <td>
                            <div class="d-flex justify-content-center align-items-center" *ngIf="isAssetEditPermission">
                                <div class="position-relative">
                                  <i class="material-icons more-icon" (click)="optionsList($event, 'asset__'+doc?.name)">more_vert</i>
                              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'asset__'+doc?.name}">
                                <ng-container >
                                    <li class="more-actions__item" *ngIf="doc?.expiry_days"
                                    (click)="renewDocuments(doc,'document')"
                              ><span class="material-icons me-2">
                                sync
                                </span>Renew</li>
                                    
                                    
                                  </ng-container>
                                  <li class="more-actions__item" 
                                      [queryParams]="{tab: 'Certificates', name: doc?.name}"
                                      [routerLink]="[getPrefixUrl+'/onboarding/assets/edit/',assetId]"><i
                                          class="material-icons">edit</i>Edit</li>

                                         
                              </ul>
                                </div>
                              </div>
                        </td>
                        
                       
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>

<div [ngClass]="isWidthExpandedAttachments?'col-12':'col-4'" *ngIf=" !isWidthExpandedCertificate && !isWidthExpandedPermits">
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [isSearch]="true" [WidthCollapse]="true" (searchedData)="searchAssets($event)" [isWidthExpanded]="isWidthExpandedAttachments" [tableTitle]="'Attachments'" 
        (WidthCollapseEvent)="wCollapseSubAssetEvent($event)"
        [isFilter]="true" filterUrl ="vehicle/subasset/filters/"
        (filterDataEmitter)="filterDataSubAssets($event)"></app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>ATTACHMENT NAME</th>
                        <th *ngIf="isWidthExpandedAttachments">ATTACHMENT NO.</th>
                        <th *ngIf="isWidthExpandedAttachments">EXPIRY DATE</th>
                        <th >EXPIRY DAYS TO GO</th>
                        <th *ngIf="isWidthExpandedAttachments">NARRATION </th>
                        <th *ngIf="isWidthExpandedAttachments" class="icon-box">View</th>
                        <th *ngIf="isWidthExpandedAttachments" class="icon-box">History</th>
                        <th></th>
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="assetAttachments.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr  *ngFor="let doc of assetAttachments"> 
                        <td>{{doc?.name}}</td>
                        <td *ngIf="isWidthExpandedAttachments">{{doc?.number?doc?.number:'-'}}</td>
                        <td *ngIf="isWidthExpandedAttachments">{{doc?.expiry_date ? doc?.expiry_date :'-'}}</td>
                        <td [ngStyle]="getStyle(doc?.expiry_days?.color)">{{doc?.expiry_days?.name}}</td>
                        <td *ngIf="isWidthExpandedAttachments">{{doc?.narration ? doc?.narration :'-'}}</td>
                        <td  *ngIf="isWidthExpandedAttachments" class="icon-box">
                            <div class="justify-content-center align-items-center d-flex">
                            <button (click)="viewUploadedDocument(doc)" [disabled]="doc?.files.length == 0">
                                    <span class="material-icons fs-4" [ngStyle]="{'color': doc?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                        remove_red_eye
                                    </span>
                            </button>
                        </div>
                        </td> 
                        <td  class="button-box"*ngIf="isWidthExpandedAttachments" >
                            <div class="justify-content-center align-items-center d-flex" [disabled]="!doc.has_history">
                                <button (click)="openDocumentsHistory(doc,'subasset',true)" [disabled]="!doc.has_history" ><span class="material-icons fs-4 def-color " [ngStyle]="{'color': doc.has_history  ? '#676a6e' : '#CCCCCC'}" >
                                    history
                                </span></button>
                            </div>
                        </td>  
                        
                        <td>
                            <div class="d-flex justify-content-center align-items-center" *ngIf=" isAssetEditPermission">
                                <div class="position-relative">
                                  <i class="material-icons more-icon" (click)="optionsList($event, 'asset_sub__'+doc?.name)">more_vert</i>
                              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'asset_sub__'+doc?.name}">
                                <ng-container>
                                    <li class="more-actions__item"*ngIf="doc?.expiry_days"
                                    (click)="renewDocuments(doc,'subasset')" 
                              > <span class="material-icons me-2">
                                sync
                                </span>Renew</li>
                                    
                                    
                                  </ng-container>
                                  <li class="more-actions__item" 
                                      [queryParams]="{tab: 'Attachments', name: doc?.name}"
                                      [routerLink]="[getPrefixUrl+'/onboarding/assets/edit/',assetId]"><i
                                          class="material-icons">edit</i>Edit</li>
                              </ul>
                                </div>
                              </div>
                        </td>
                        
                     
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>
<div   [ngClass]="isWidthExpandedPermits?'col-12':'col-4'" *ngIf=" !isWidthExpandedAttachments && !isWidthExpandedCertificate">
    <div class="card-shadow rounded-3 h-100 pb-2" >
        <app-table-widget [WidthCollapse]="true" [isWidthExpanded]="isWidthExpandedPermits" [tableTitle]="'Asset Permit Details'" 
        (WidthCollapseEvent)="wCollapsePermitEvent($event)"  [isSearch]="true" (searchedData)="searchPermits($event)"
        [isFilter]="true" filterUrl ="asset/permit/filters/"
        (filterDataEmitter)="filterDataPermits($event)"></app-table-widget>

    <div  class="custom-table-container ">
        <table>
            <thead>
                <tr>
                    <th>PERMIT NAME</th>
                    <th  *ngIf="isWidthExpandedPermits">PERMIT ID</th>
                    <th  *ngIf="isWidthExpandedPermits">EXPIRY DATE</th>
                    <th>EXPIRY DAYS TO GO</th>
                    <th  *ngIf="isWidthExpandedPermits">PERMIT ISSUER</th>
                    <th  *ngIf="isWidthExpandedPermits" class="icon-box">VIEW</th>
                    <th  *ngIf="isWidthExpandedPermits" class="icon-box">HISTORY</th>
                    <th></th>
                    
                </tr>
            </thead>

            <tbody *ngIf="assetPermitDetails.length==0">
                <tr class="border-0">
                    <td class="bg-white" colspan="30">
                        <div class="no-list-data-wrap">
                            <figure>
                                <img src="assets/img/no-content.png" alt="">
                            </figure>
                            <h5 class="mt-3 primary-brand-text">No data found!</h5>
                        </div>
                    </td>
                </tr>

            </tbody>
            <tbody>

                <tr *ngFor="let item of assetPermitDetails;index as i">
                    <td>{{item.name}}</td>
                    <td  *ngIf="isWidthExpandedPermits">{{item.permit_id ?item.permit_id:'-'}}</td>
                    <td  *ngIf="isWidthExpandedPermits">{{item.date ?item.date:'-'}}</td>
                    <td [ngStyle]="getStyle(item?.expiry_days?.color)">{{item?.expiry_days?.name}}</td>
                    <td  *ngIf="isWidthExpandedPermits">{{item.permit_issuer?.label  ?item.permit_issuer.label:'-'}}</td>
                    
                    <td class="icon-box"   *ngIf="isWidthExpandedPermits">
                        
                        <button [disabled]="item.files.length==0" class="m-auto d-block" (click)="viewUploadedDocument(item)">
                                <span class="material-icons fs-4"   [ngStyle]="{'color': item.files.length>0 ? '#15A4F6' : '#CCCCCC'}">
                                    remove_red_eye
                                </span>
                        </button>
                    </td>
                    <td  class="button-box"   *ngIf="isWidthExpandedPermits">
                        <div class="justify-content-center align-items-center d-flex" [disabled]="!item.has_history">
                            <button (click)="openPermitHistory(item)" [disabled]="!item.has_history" ><span class="material-icons fs-4 def-color " [ngStyle]="{'color': item.has_history  ? '#676a6e' : '#CCCCCC'}" >
                                history
                            </span></button>
                        </div>
                    </td> 
                    <td>
                        <div class="d-flex justify-content-center align-items-center"  *ngIf="isAssetEditPermission">
                            <div class="position-relative">
                              <i class="material-icons more-icon" (click)="optionsList($event, 'permit__'+item?.name)">more_vert</i>
                          <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'permit__'+item?.name}">
                            <ng-container>
                                <li class="more-actions__item"*ngIf="item?.expiry_days"
                                (click)="openPermitRenewPopup(item)" 
                                > <span class="material-icons me-2">sync</span>Renew</li>               
                              </ng-container>
                              <li class="more-actions__item" 
                                  [queryParams]="{tab: 'Permits', name: item?.name}"
                                  [routerLink]="[getPrefixUrl+'/onboarding/assets/edit/',assetId]"><i
                                      class="material-icons">edit</i>Edit</li>
                          </ul>
                            </div>
                          </div>
                    </td>

                    
                </tr>
                
                
                
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="col-lg-12" >
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [tableTitle]="'Tyre Details'" >
            <button id="custom-right-btn" class="gb-btn gb-btn-basic" (click)="openTyreDetailsTab()">
                Go to Tyre Details Info
            </button>
        </app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>TYRE POSITION</th>
                        <th>TYRE NO.</th>
                        <th>DATE OF INSTALLATION</th>
                        <th>PERMITTTED DATE</th>
                        <th >PERMITTED DAYS TO GO</th>
                        <th>THREAD DEPTH</th>
                        
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="assetTyreMaster.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr *ngFor="let doc of assetTyreMaster"> 
                        <td>{{doc?.position_name?doc?.position_name:'-'}}</td>
                        <td >{{doc?.tyre_number?doc?.tyre_number:'-'}}</td>
                        <td >{{doc?.tyre_number?doc?.installation_date:'-'}}</td>
                        <td >{{doc?.tyre_number?doc?.permitted_date:'-'}}</td>
                        <td [ngStyle]="getStyle(doc?.permitted_days?.color)">{{doc?.permitted_days?.name ? doc?.permitted_days?.name : '-'}}</td>
                        <td >{{doc?.tyre_number?doc?.thread_depth:'-'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>



</div>
</div>

<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
<app-assets-renew-popup *ngIf="popUpRenewDocuments?.show" [popUpRenewDocuments]="popUpRenewDocuments"
    (dataFromRenewalDoc)="dataFromRenewalDoc($event)">
</app-assets-renew-popup>
<app-permits-renew-popup  *ngIf="renewPermitsData?.show" [renewPermitsData]="renewPermitsData"
(renewPermit)="renewPermit($event)"></app-permits-renew-popup>