<div class="wrap container-fluid d-flex  gap-4 px-4 flex-wrap shadow-inset-top" [ngClass]="{'justify-content-between':!isTransporter, 'disable':isAllDisabled}">
        <div *ngIf="isTransporter">
                <div  mat-button [matMenuTriggerFor]="menu" [style.pointer-events]="isAllDisabled ? 'none' : 'all'" 
                matTooltip="Cannot add Charges or Deductions as Invoice/Vehicle Bill is already created for the job, You can still add/edit it from Invoice/Vehicle Bill screen."
                [matTooltipDisabled]="(can_add_client_charge || can_add_vp_charge)"[matTooltipHideDelay]="200"[matTooltipShowDelay]="100" matTooltipClass="material-toltip-class">
                        <button [disabled]="!(can_add_client_charge || can_add_vp_charge) || vehicleCategory==10"  class="btn big-btn-outline"> Job Charges &
                                Deductions</button>
                </div>               
                <mat-menu #menu="matMenu">
                        <div class="change-deduction-menu-wrapper" *ngIf="vehicleCategory !=10">
                                <button *ngIf="can_add_client_charge"  [disabled]="!can_add_client_charge || isVoid || vehicleCategory==10" mat-menu-item (click)="openChargeandDedictionClient()">To
                                        Client</button>
                                <button *ngIf="can_add_vp_charge" mat-menu-item (click)="openChargeandDeductionVehicleProv()">To Vehicle
                                        Provider</button>
                        </div>
                </mat-menu>
        </div>

        <div [style.pointer-events]="isAllDisabled ? 'none' : 'all'"  *ngIf="!isTransporter"
        matTooltip="Cannot add Charges or Deductions as Invoice/Vehicle Bill is already created for the job, You can still add/edit it from Invoice/Vehicle Bill screen."
        [matTooltipDisabled]="can_add_client_charge"[matTooltipHideDelay]="200"[matTooltipShowDelay]="100" matTooltipClass="material-toltip-class">
        <button [disabled]="!can_add_client_charge || isVoid || vehicleCategory==10" (click)="openChargeandDedictionClient()" class="btn big-btn-outline">Job Charge &
                Deduction</button>
        </div>
        

        <button (click)="addOtherExpenses()" class="btn big-btn-outline">Petty Expenses</button>

        <button *ngIf="!isTransporter"  (click)="addDriverAllowance()" class="btn big-btn-outline">Driver Commission</button>

        <button (click)="addFuel()" class="btn big-btn-outline" *ngIf="!isTransporter" >
                Fuel</button>
        <button class="btn big-btn-outline" *ngIf="mapConfig?.show && mapConfig?.clickable"  (click)="openLiveTracking()">Live
                        Tracking</button>

</div>
