.parent-row{
    
    .flex-box{
      padding:8px;
        .name{
            
            span{
                display: inline-block;
                max-width: 300px;
                overflow-y: hidden;
                overflow-x: auto;
                line-height: 1.5;
            }
        }
    }
    .plus-icon-sm,.minus-icon-sm {
        position: relative;
        width: 17px;
        height: 17px;
        border: 1px solid #9facb8;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: auto;
        
    }
    .plus-icon-sm::after,.minus-icon-sm::after {
         
        font-size: 19px;
        height: 19px;
        width: 11px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        color: #9facb8;
        line-height: 1;
        text-align: center;
    }
    .plus-icon-sm::after {
        content: "+";
       
    }
    .minus-icon-sm::after {
        content: "-";
        
    }
}