<div class="pdf-viewer-container">
    
<div class="right-section__header pd-20-30 mb-0 pdf-viewer-header" *ngIf="debitData">
    <h1 class="heading">Debit Note</h1>
    <div class="header-actions tabIndexActive">
        <button class="btn--action py-1  mg-left-10 material-icons" *ngxPermissionsOnly="debitNotePermissions[1]" [routerLink]="[preFixUrl+'/income/debit-note/edit', debitId]">
            edit
        </button>
        <div class="dropdown-menu-details v-align">
          <button class="btn--action mg-left-10 py-1 material-icons "  (click)="createCopySelect(0); downloadEmailPdf(debitData);"> email </button>
      </div>
        <div class="dropdown-menu-details v-align">
            <button class="btn--action mg-left-10 py-1 material-icons "  (click)="createCopySelect(0); downloadPdf(debitData);">
                 cloud_download
            </button>
        </div>
        <button class="btn--action mg-left-10 py-1 material-icons " (click)="downloadPdf(debitData, true)">
            print
        </button>
        <button class="btn--action mg-left-10 py-1  material-icons " (click)="openDetails()" *ngIf="routeToDetail">close</button>

    </div>
</div>

  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [stick-to-page]="true"
  [autoresize]="true"
  [original-size]="false"
  [show-all]="true"></pdf-viewer>
</div>

    <app-add-email *ngIf="isOpen"  (closeDialog)="closeDialog($event)" [filebyteCode]="filebyteCode"></app-add-email>

