.dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2) !important;
}

.modal-body {
  padding: 20px 20px;
  position: relative;
  img {
    display: block;
    width: 100px;
    margin: auto;
  }
  label {
    font-size: 12px;
    margin-bottom: 7px;
    font-weight: 600;
  }
  input {
    padding: 7px 12px;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
  }
  .btn {
    width: auto;
    padding: 7px 25px;
    font-size: 12px;
    border-radius: 4px;
  }
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
  }
  p {
    margin: 20px 0px;
    text-align: center;
  }
}
.save-same-route-btn {
  background-color: rgb(26 42 242 / 9%) !important;
  &:hover {
    background-color: #585fab !important;
  }
}
.error{
  color: #eb1e4a;
  font-size: 12px;
}
