<div class="gb-tab-wrapper">
    <mat-tab-group mat-stretch-tabs="false" class="mat-group" animationDuration="0ms" mat-align-tabs="start">
        <mat-tab>
          <ng-template mat-tab-label>
            <span >Freight Details</span>
          </ng-template>
          <div>
              <div class="custom-fake-tab mt-2 border-bottom pe-4 justify-content-between">
                  <div class="d-flex flex-wrap">
                  <p (click)="selectedTab=1" matRipple class="tab" [ngClass]="{'active-tab':selectedTab==1}">Customer Freight</p>
                  <p (click)="selectedTab=2" matRipple class="tab" [ngClass]="{'active-tab':selectedTab==2}">Additional Charges</p>
              </div>
              </div>

              <div>

                <ng-container *ngIf="selectedTab==2">

                    <div class="addable-row-table mx-2 mb-2 def-color addable-row-table-display mt-4" >
                        <table>
                            <thead>
                                <tr>
                                   
                                    <th>
                                        Additional Charge
                                    </th>
                                    <th *ngIf="isTax">Tax (%)</th>
                                    <th>Unit Of Measurement </th>
                                    <th>Units </th>
                                    <th>Unit Cost ({{currency_type.symbol}})</th>
                                    <th>Total Amount ({{currency_type.symbol}})</th>
                
                                </tr>
                
                            </thead>
                            <tbody>
                                <tr class="border-0" *ngIf="vehObject?.additional_charge.length==0">
                                    <td class="bg-white" colspan="30">
                                      <div class="no-list-data-wrap">
                                        <figure>
                                          <img src="assets/img/no-content.png" alt="">
                                        </figure>
                                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                      </div>
                                    </td>
                                  </tr>
                                <tr *ngFor="let item of vehObject?.additional_charge">
                               <td>{{item.name?.name}}</td>
                               <td  *ngIf="isTax">{{item.tax?.label}}</td>
                               <td>{{item.unit_of_measurement?.label}}</td>
                               <td>{{item.quantity}}</td>
                               <td>{{item.unit_cost}}</td>
                               <td>{{item.total}}</td>
                            </tr>
                
                            </tbody>
                        </table>
                    </div>
                
                </ng-container>
                <ng-container *ngIf="selectedTab==1">
                    <div class="def-color">
                        <div  >
                            <div class="mx-4 mb-2">
                             <p class="def-color py-3"><b class="fw-semibold">Tax:</b> {{vehObject?.freights?.tax?.label}}</p>
                              <div class="addable-row-table addable-row-table-display">
                                <table>
                                    <thead>
                                        <tr>
                                        <th >Billing Type</th>
                                        <th >Unit Cost</th>
                                        <th >Total Units</th>
                                        <th >Total Amount  ({{currency_type.symbol}})</th>
                                        </tr>
                      
                                    </thead>
                                    <tbody >
                      
                                        
                      
                                            <tr>
                                                <td>{{vehObject?.freights?.freights[0]['billing']?.label ? vehObject?.freights?.freights[0]['billing']?.label : '-'}}</td>
                                                <td>{{vehObject?.freights?.freights[0]?.rate}}</td>
                                                <td>{{vehObject?.freights?.freights[0]?.quantity}}</td>
                                                <td>{{vehObject?.freights?.freights[0]?.total}}</td>
                                                
                                            </tr>
                                            
                      
                                    </tbody>
                                </table>
                            </div>
                              <p class="fw-semibold pb-3 border-bottom my-4 fs-6">Material Info.</p>
                              
                              <div class="addable-row-table addable-row-table-display ">
                                <table>
                                    <thead>
                                        <tr>
                      
                                          <th width="20%">Material</th>
                                          <th>Unit</th>
                                          <th>No. of Item</th>
                                          <th>Weight/Item </th>
                                          <th >Volume/Item (Length x Width x Height) </th>
                                          <th>Total Quantity</th>
                                        </tr>
                      
                                    </thead>
                                    <tbody  >
                                      <tr *ngIf="vehObject?.materials.length==0">
                                        <td colspan="10" style="background-color: #fff">
                                            <div class="no-content-wrapper h-100">
                                                <figure class="no-content-pic mb-3">
                                                    <img src="assets/img/no-content.png" alt="">
                                                </figure>
                                                <div class="no-content-txt ">
                                                    <h5 class="heading fs-5 mb-0">No data found!</h5>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                      
                                        <tr *ngFor="let item of vehObject?.materials;let i=index">
                                            <td > 
                                              {{item?.material?.name ? item?.material?.name : '-'}}
                                             
                                            </td>
                                            <td>{{item?.unit?.label ? item?.unit?.label : '-'}}</td>
                                            <td>{{item?.no_of_items ? item?.no_of_items : '-'}}</td>
                                            <td>{{item?.weight_per_item ? item?.weight_per_item : '-'}} {{item?.weight_unit ? item?.weight_unit?.label : ''}}</td>
                                            <td style="padding-top: 0px !important;padding-bottom: 0px !important;"><div class="d-flex align-items-center lbh-wrap ">
                                              <div class="lbh-box">{{item?.length ? item?.length : '-'}}</div>
                                              <span  class="material-icons"> close </span>
                                              <div class="lbh-box">{{item?.breadth ? item?.breadth : '-'}}</div>
                                              <span  class="material-icons"> close </span>
                                              <div class="lbh-box">{{item?.height ? item?.height :'-'}}</div>
                                              <span class="ms-2">{{item?.volume_unit ? item?.volume_unit?.label : ''}}</span>

                                            </div></td>
                                            <td>{{item?.total_quantity  ? item?.total_quantity : '-'}}</td>
                                        </tr>
                      
                                       
                      
                                    </tbody>
                                </table>
                            </div>
                            </div>
                           
                        </div>
                      </div>

                </ng-container>

              </div>
             
              
              <!-- <app-quotation-v2-calculation-section [quotationDetail]="quotationDetail"></app-quotation-v2-calculation-section> -->
    
          
              
          </div>
          <app-new-quotation-v2-trailer-billing-calculation [quotationDetail]="quotationDetail"></app-new-quotation-v2-trailer-billing-calculation>

          
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>T&C and Signature</span>
            </ng-template>
            <app-quotation-v2-terms-condition-section
              [quotationDetail]="quotationDetail[findCategory(quotationDetail.vehicle_category)]"></app-quotation-v2-terms-condition-section>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Upload Documents</span>
            </ng-template>
            <div>
              <div class="fw-semibold px-4 mb-4 mt-3 def-color fs-6"> Upload Document</div>
              <div class="d-flex flex-wrap gap-3 px-4" style="zoom:95%">
                <file-uploader-v2 (onFileUploaded)="fileUploader($event)" fileName="Document Unknown" [uploaderId]="'1234'"
                  [isShowOnlyUpload]="false"></file-uploader-v2>
                <app-file-delete-view [showInlineEdit]="true" [fileData]="document" *ngFor="let document of quotationDocuments"
                  (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
              </div>
            </div>
          </mat-tab>
      </mat-tab-group> 
</div>
