.addable-row-table-display{
    max-height: unset;
}
.lbh-box{
    min-width: 70px;
    border: 1px solid #ACB5BD;
    border-radius: 6px;
    padding: 10px 10px;
}
.lbh-wrap .material-icons {
    color: #bbb;
    margin: 0 4px;
    font-size: 18px;
}