<div class="quotation-edit-route-pop flex-lg-row flex-column ">
  <div class="form-wrap position-relative">
    <form [formGroup]="multipleDestinationForm">
      <div formArrayName="start_end_destination">
        <div cdkDropList cdkDropListOrientation="horizontal" id="drop-down-container" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" (click)="selectedTab(i)"
            [ngClass]="{ active: i == selectedIndex ,'initial-design':control.get('location').get('name').value==''}"
            *ngFor="
              let control of multipleDestinationForm.controls
                .start_end_destination['controls'];
              let i = index
            " cdkDrag>
            <ng-container *ngIf="i == 0">
              <mat-icon class="indicator-icon">drag_indicator</mat-icon>
              <div>
                <p [ngClass]="{ invalid: control.invalid && control.touched  && !isFormvalid }" class="initial-title">
                  Destination&nbsp;{{ i +1}}
                </p>
                <p class="location-text">
                  {{
                  control["controls"].location.value["name"] | ellipsis : 20
                  }}
                </p>
              </div>
            </ng-container>
            <ng-container *ngIf="i != 0">
              <mat-icon class="indicator-icon">drag_indicator</mat-icon>
              <div>
                <p [ngClass]="{ invalid: control.invalid && control.touched  && !isFormvalid }" class="initial-title">
                  Destination&nbsp;{{ i +1}}
                </p>
                <p class="location-text">
                  {{
                  control["controls"].location.value["name"] | ellipsis : 20
                  }}
                </p>
              </div>
            </ng-container>
            <button class="remove-destination-btn" *ngIf="
                multipleDestinationForm.controls.start_end_destination[
                  'controls'
                ].length > 2
              " (click)="removeDestination(i)">
              &#10006;
            </button>
          </div>
          <button (click)="addNewDestination()" class="add-btn">+</button>
        </div>

        <ng-container *ngFor="
            let control of multipleDestinationForm.controls
              .start_end_destination['controls'];
            let i = index
          ">
          <div [formGroupName]="i">
            <ng-container *ngIf="i == selectedIndex">
              <!-- <div class="row mx-0 px-4 pt-4">
                <div class="col-lg-8 col-md-6"></div>
                <div class="col-lg-4 col-md-6 ">
                  <mat-checkbox  class="fw-semibold def-color" formControlName="show_in_invoice"  color="primary" >Show In Invoice</mat-checkbox>
                </div>
              </div> -->
              <div class="row tabIndexActiveFields p-4">
                <div class="col-xl-4 col-lg-3 col-md-4 col-6">
                  <div class="input-wrap dropdownArrow rounded-input-box">
                    <label class="input--required">Point Type</label>
                    <app-tool-tip class="point-type" [totalSlides]="pointTypeToolTip.content.length" position="right"
                      [toolTipContent]="pointTypeToolTip"></app-tool-tip>
                    <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth" [addBlank]="false"
                      [postApiUrl]="pointOfTypeUrl" [params]="pointOfTypeParam"
                      (postApiResponse)="getNewPointOfType($event,i)" (addValueToList)="addNewPointOfType($event)"
                      [selectedOption]="initialValues.point[i]">
                      <select #customSelect formControlName="point_type" class="no-style select--modify">
                        <option *ngFor="let option of pointTypeList" [value]="option?.id">
                          {{ option?.label }}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-4 col-6">
                  <div class="input-wrap clearfix error" [ngClass]="addErrorClass(multipleDestinationForm.get('start_end_destination').controls[i].get('area'))">
                    <label for="" class="input--required">Location</label>
                    <div>
                      <material-dropdown [searchable]="true" [addable]="true"
                      [postApiUrl]="areaApi"
                      [params]="areaParams"
                      (postApiResponse)="getNewArea($event,control,i)"
                      (addValueToList)="addNewArea($event,i)"
                        [selectedOption]="control.get('area_label').value">
                        <select #customSelect formControlName="area" class="no-style select--modify" (change)="areaSelected(control)">
                          <option *ngFor="let option of areaList" value="{{ option?.id }}">
                            {{ option?.label }}
                          </option>
                        </select>
                      </material-dropdown>
                      <app-error [controlName]="multipleDestinationForm.get('start_end_destination').controls[i].get('area')"></app-error>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-6">
                  <div class="input-wrap clearfix  ">
                    <label class="input" style="margin-bottom: 12px;">Map Coordinate </label>
                    <app-tool-tip class="tool-tip-position" [totalSlides]="locationToolTip.content.length"
                      position="top" [toolTipContent]="locationToolTip"></app-tool-tip>
                    <app-location-v2 [isnameRequired]="false" [isFromToInvalid]="isFromToInvalid" (placeDetails)="locationSelected($event, i)"
                      [placeForm]="control['controls'].location"></app-location-v2>
                  </div>
                </div>
              </div>
              <div class="update-btn-container">
                <button type="button" class="save-route-btn" *ngIf="isUpdateActive" (click)="openRoutePopUp('update')">
                  Update Route
                </button>
                <button type="button" class="save-route-btn"
                  *ngIf="!selectedRoute&& multipleDestinationForm.valid && routePopUpData.customerId "
                  (click)="openRoutePopUp('save')">
                  Save Route
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="map-wrap">
    <div class="map-top">
      <div>
        <div> </div>
        <div *ngIf="destinationWithLngLat">
          <p>
            <span class="fw-bold"> Total KMS: </span>{{ totalKmsAndTimeTaken.kms }} KM
          </p>
          <p>
            <span class="fw-bold"> Total Time : </span>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.days>0">
              <span *ngIf="totalKmsAndTimeTaken.time.days==1 else days">
                1 Day ,
              </span>
              <ng-template #days>
                <span>
                  {{totalKmsAndTimeTaken.time.days}} Days ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.hours>0">
              <span *ngIf="totalKmsAndTimeTaken.time.hours==1 else hours">
                1 Hour ,
              </span>
              <ng-template #hours>
                <span>
                  {{totalKmsAndTimeTaken.time.hours}} Hours ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.minutes>0">
              <span *ngIf="totalKmsAndTimeTaken.time.minutes==1 else minutes">
                1 minute
              </span>
              <ng-template #minutes>
                <span>
                  {{totalKmsAndTimeTaken.time.minutes}} minutes
                </span>
              </ng-template>
            </ng-container>
          </p>
        </div>
        <!-- <app-tool-tip [totalSlides]="tripMapToolTip.content.length" position="left"
          [toolTipContent]="tripMapToolTip"></app-tool-tip> -->
      </div>
    </div>
    <div class="google-map-box">
      <div id="overlay" [ngStyle]="{ display: destinationWithLngLat ? 'none' : 'flex' }">
        <img src="../../../../../../../assets/img/map-error-img.png" alt="map-error-image">
        <p>{{messageInMap}}</p>
      </div>
      <google-map width="100%" height="100%" [zoom]="zoom" [center]="center">
        <map-marker *ngFor="let markerPosition of markerPositions;let i=index" [position]="markerPosition"
          [options]="makeMarker[i]"></map-marker>
        <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults"
          [directions]="directionsResults" [options]="rendererOptions"></map-directions-renderer>
      </google-map>
    </div>
    <div class="map-bottom" *ngIf="selectedIndex != 0 &&destinationWithLngLat">
      <app-tool-tip class="map-tooltip-position" [totalSlides]="starttoDestinationToolTip.content.length"
        position="left" [toolTipContent]="starttoDestinationToolTip"></app-tool-tip>
      <span class="fw-bold" *ngIf="selectedIndex == 1 else otherDestination">
        <p>Destination {{selectedIndex}} To Destination {{ selectedIndex +1 }}</p>
      </span>
      <ng-template #otherDestination>
        <span class="fw-bold">
          <p>Destination {{ selectedIndex}} To Destination {{ selectedIndex +1}}</p>
        </span>
      </ng-template>
      <div class="d-flex justify-content-between">
        <p>
          <span class="fw-bold">Est. Time :
            <ng-container *ngIf="getKmsAndTime().time.days>0">
              <span *ngIf="getKmsAndTime().time.days==1 else days">
                1 Day ,
              </span>
              <ng-template #days>
                <span>
                  {{getKmsAndTime().time.days}} Days ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="getKmsAndTime().time.hours>0">
              <span *ngIf="getKmsAndTime().time.hours==1 else hours">
                1 Hour ,
              </span>
              <ng-template #hours>
                <span>
                  {{getKmsAndTime().time.hours}} Hours ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="getKmsAndTime().time.minutes>0">
              <span *ngIf="getKmsAndTime().time.minutes==1 else minutes">
                1 minute
              </span>
              <ng-template #minutes>
                <span>
                  {{getKmsAndTime().time.minutes}} minutes
                </span>
              </ng-template>
            </ng-container>
          </span>
        </p>
        <p>
          <span class="fw-bold">Est. KM : </span>{{ getKmsAndTime().kms }} KM
        </p>
      </div>
    </div>
  </div>
</div>

<app-route-pop-up *ngIf="routePopUpData.show" [routePopUpData]="routePopUpData"
  (routPopUpData)="routPopUpData($event)"></app-route-pop-up>