$theme-colors: (
    "primary": #595fab,
    "secondary": #f2f4f7
);
$white: #fff !default;
$black: #000 !default;
$gray: #ebe5e5;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$green: #07c060;
$blue: #0283e5;
$blue--transperent: rgba(2, 131, 229, 0.12);
$blue--light: #0d72e5;
$light-red: #f4446b;
// $primary-text-color: #34393e;
$primary-text-color:#676A6E;
// $primary-text-color--light: #45505b;
$primary-text-color--light: #676A6E;
$secondary-text-color: #5a6b7b;
$tertiary-text-color: #bcc7d1;
$primary-brand-color: #595fab;
$secondary-brand-color: #f2f4f7;
$table-header-bg: #f5f6fa;
$primary-border-color: #9facb8;
$secondary-border-color: #e3eaf0;
$placeholder-color: rgba(90, 107, 123, 0.5);
$aside-header-bg: #f0f0f0;
$aside-list-active: rgba(13, 114, 229, 0.05);
$progress-bar-txtcolor: #687787;
$layout-bg: #fefefe;
$error-txt: #eb1e4a;
$logistics-bd: #f45276;
$logistics-text: #f4446b;
$logistics-bg: rgba(#f4446b, 0.1);
$table-list-bg: #f8f8f8;
$stat-blue-bg: #8190ff;
$stat-pink-bg: #ff5f83;
$stat-orange-bg: #ff9056;
$text-color: #676A6E;
$sky-blue: #15A4F6;
$yellow-color:#FFB900;
$border-color:#dee2e6;
/* break points*/

$bp-mobile: 600px;
$bp-mobile-ls: 768px;
$bp-tablet: 992px;
$bp-large: 1300px;