@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/helpers/variable";
@import "../../../assets/styles/helpers/placeholder";

$asideImagesX-axis: 20px;
$asidePositionY-axis: center;
$background-size: 22px;
$hover-bg: #f8f7ff;

.open-arrow {
  display: inline-flex;
  width: 24px;
  align-items: center;
  padding: 0;
  cursor: pointer;

  &::before {
    content: "\e5e0";
  }

  &.header-action-activate {
    &::before {
      content: "\e5e1";
      position: absolute;
      font-family: "Material Icons";
    }
  }
}

.list-main {
  position: absolute;
  top: 50px;
  background: #fefefe;
  padding: 0;
  width: 220px;
  left: 0;
  color: #333;
  box-shadow: 0 2px 5px 0 #ccc;
  display: none;
  &.list-width {
    right: 10px;
    left: unset;
    width: 300px;
  }
}
@-webkit-keyframes downToUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.material-bg {
  position: absolute;
  left: $asideImagesX-axis;
  top: 50%;
  transform: translateY(-50%);
  color: #939ba4;
}

.list-nav {
  position: relative;

  &:hover * {
    color: #595fab;
  }

  .add-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #595fab;
    right: 9px;

    &::before {
      display: none;
    }
  }

  .list-tab {
    padding: 15px 10px 15px 54px;
    display: block;
    cursor: pointer;
    a {
      color: inherit;
    }
  }
}

.driver-app {
  opacity: 1;

  span {
    opacity: 1;
  }
}

.slide-header-block {
  cursor: pointer;

  span {
  }
}

.mobile-icon {
  background: url("/assets/img/mobile.svg") no-repeat $asideImagesX-axis
    $asidePositionY-axis;
  background-size: 17px;

  &:hover {
    background: $hover-bg url("/assets/img/mobile-hover.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: 17px;
  }
}
.play-store-icon {
  background: url("/assets/img/play-store.svg") no-repeat $asideImagesX-axis
    $asidePositionY-axis;
  background-size: $background-size;

  &:hover {
    background: $hover-bg url("/assets/img/play-store-hover.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;
  }
}

.calender-icon {
  background: url("/assets/img/icons/calendar-bw.svg") no-repeat
    $asideImagesX-axis $asidePositionY-axis;
  background-size: $background-size;

  &:hover {
    background: $hover-bg url("/assets/img/icons/calendar-cl.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;
  }
}

.journal-entry-icon {
  background: url("/assets/img/icons/journal-bw.svg") no-repeat
    $asideImagesX-axis $asidePositionY-axis;
  background-size: $background-size;

  &:hover {
    background: $hover-bg url("/assets/img/icons/journal-cl.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;
  }
}

.bank-activity-icon {
  background: url("/assets/img/icons/bank-bw.svg") no-repeat $asideImagesX-axis
    $asidePositionY-axis;
  background-size: $background-size;

  &:hover {
    background: $hover-bg url("/assets/img/icons/bank-cl.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;
  }
}

.employee-attendance-icon {
  background: url("/assets/img/icons/employee-bw.svg") no-repeat
    $asideImagesX-axis $asidePositionY-axis;
  background-size: $background-size;

  &:hover {
    background: $hover-bg url("/assets/img/icons/employee-cl.svg") no-repeat
      $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;
  }
}

.quick-action {
  position: relative;
  display: block;
  padding: 12px 0 14px 35px;

  &:hover .list-main {
    display: block;
    animation: downToUp 2s ease-in-out;
  }

  &::before {
    content: "";
    background: url(/assets/img/aside/get-started-icon.svg) no-repeat left
      center;
    position: absolute;
    left: 2px;
    width: 27px;
    height: 27px;
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(2);
    background-size: 24px;
  }
}
.emp-app {
  padding: 12px 15px 14px 0px;
  position: relative;
  display: block;
  img {
    width: 150px;
  }
  .emp-txt {
    display: none;
  }
  &::before {
    content: "";
    display: none;
  }
  .play-store-extend {
    position: absolute;
    right: 18px;
  }
}
@media (max-width: 1100px) {
  .emp-app {
    img {
      display: none;
    }
    .emp-txt {
      display: inline-block;
    }

    &::before {
      content: "";
      background: url(/assets/img/black-play-bg.svg) no-repeat;
      display: block;
      position: absolute;
      left: 2px;
      width: 100px;
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
      filter: brightness(2);
      background-size: auto;
    }
  }
}

::ng-deep {
  .mat-menu-content {
    padding: 0 !important;
  }

  .mat-menu-panel {
    height: auto;
    width: auto;
    min-width: auto !important;
    min-height: auto !important;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  left: 0;
  top: 0;

  .nav {
    &__primary {
      @include flexbox();
      // @include align-items(center);
      height: 60px;
      padding: 6px 30px;
      color: $white;
      background-color: $primary-brand-color;

      @media (max-width: 700px) {
        @include justify-content(space-between);
        padding: 6px 15px;
      }
    }

    &__secondary {
      @include flexbox();
      @include align-items(center);
      padding: 0px 30px;
      background: $layout-bg;
      border: 1px solid #d8e1e9;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);

      &__list {
        position: relative;
        margin-right: 25px;
        padding: 4px 10px 4px 22px;
        @include transition(all 300ms linear);

        @include respond-to(wide-screen) {
          margin-right: 10px;
        }

        .txt {
          color: $secondary-text-color;
          font-size: 12px;

          @media (max-width: 1024px) {
            font-size: 10px;
          }

          @media only screen and (min-width: 1900px) {
            font-size: 14px;
          }

          line-height: 40px;
          margin-left: 10px;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -7px;
          left: 0px;
          background-color: $primary-brand-color;
          width: calc(100% + 0px);
          height: 2px;
          opacity: 0;
          @include transition(all 300ms linear);
        }

        // &:hover::after, &.active::after{
        //     opacity: 1;
        // }
        &:hover {
          &::after {
            opacity: 1;
          }

          .txt {
            color: $primary-brand-color;
          }
        }

        &.active {
          &::after {
            opacity: 1;
          }

          .txt {
            color: $primary-brand-color;
          }
        }
      }

      @include respond-to(tablet) {
        display: none;
      }

      .icon {
        &--dashboard {
          background: url(/assets/img/icons/dashboard-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/dashboard-cl.svg) left center
              no-repeat;
          }
        }

        &--master {
          background: url(/assets/img/icons/master-bw.svg) left center no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/master-cl.svg) left center
              no-repeat;
          }
        }

        &--operations {
          background: url(/assets/img/icons/operations-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/operations-cl.svg) left center
              no-repeat;
          }
        }

        &--revenue {
          background: url(/assets/img/icons/revenue-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/revenue-cl.svg) left center
              no-repeat;
          }
        }

        &--reports {
          background: url(/assets/img/icons/reports-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/reports-cl.svg) left center
              no-repeat;
          }
        }

        &--bankActivity {
          background: url(/assets/img/icons/bank-bw.svg) left center no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/bank-cl.svg) left center no-repeat;
          }
        }

        &--journalEntry {
          background: url(/assets/img/icons/journal-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/journal-cl.svg) left center
              no-repeat;
          }
        }

        &--gps {
          background: url(/assets/img/icons/gps-bw.svg) left center no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/gps-cl.svg) left center no-repeat;
          }
        }

        &--quick-action {
          background: url(/assets/img/icons/quick-action-bw.svg) left center
            no-repeat;

          &:hover,
          &.active {
            background: url(/assets/img/icons/quick-action-cl.svg) left center
              no-repeat;
          }
        }
      }
    }
  }

  .brand-logo {
    /*  @include respond-to(tablet) {
      margin-left: 30px;
    } */

    .logo-mobile {
      display: none;

      @include respond-to(tablet) {
        display: block;
      }
    }

    .logo-desktop {
      @include respond-to(tablet) {
        display: none;
      }
    }
  }

  .search-wrapper {
    height: 40px;
    margin: 0 auto;
    @extend %clearfix;

    @media (max-width: 700px) {
      display: none;
    }

    .select-wrapper {
      height: 100%;
      @extend %left;
      background-color: #f1f4f9;
      border-radius: 3px 0 0 3px;

      select {
        width: 160px;
        height: 100%;
        padding: 10px;
        background: url(/assets/img/arrow-down--gray.svg) no-repeat right 10px
          center;

        @include respond-to(wide-screen) {
          width: 140px;
        }
      }
    }

    .search-input {
      position: relative;
      width: 500px;
      height: 100%;
      @extend %left;

      @include respond-to(wide-screen) {
        width: 300px;
      }

      > input {
        border: none;
        height: 100%;
        padding: 10px 46px 10px 15px;
        border-radius: 0 3px 3px 0;
      }

      .search-icon {
        position: absolute;
        right: 12px;
        top: 9px;
        color: $primary-border-color;
      }
    }
  }

  .notification {
    &-wrap {
      position: relative;

      &.open {
        .notification-dropdown {
          top: 42px;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-icon {
      color: #b3b4fa;
      cursor: pointer;
    }

    &-dropdown {
      position: absolute;
      right: -20px;
      top: 82px;
      width: 400px;
      background: $white;
      border: 1px solid #d8e1e9;
      @include border-radius(3px);
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
      z-index: 3;
      @include transition(all 300ms ease-in-out);
      opacity: 0;
      visibility: hidden;

      @include respond-to(mobile) {
        width: 320px;
      }

      &:after {
        content: "";
        top: -25px;
        right: 20px;
        position: absolute;
        border: 11px solid transparent;
        border-bottom: 16px solid $white;
      }

      &:before {
        content: "";
        top: -27px;
        right: 20px;
        position: absolute;
        border: 11px solid transparent;
        border-bottom: 16px solid rgba($black, 0.15);
      }
    }

    &-list {
      position: relative;
      padding: 10px 25px 10px 10px;
      border-bottom: 1px solid #d8d8d8;
      background-color: $secondary-brand-color;

      &.active {
        background-color: transparent;

        .notification-status-icon {
          @include avatar(8px, 8px, $light-red, 100%);
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }

    &-pic-wrap {
      @include avatar(50px, 50px, transparent, 100%);
      border: 1px solid $primary-border-color;
      text-align: center;
      line-height: 50px;

      > img {
        @include avatar(100%, 100%, transparent, 100%);
      }

      &--truck {
        > img {
          @include avatar(initial, initial, transparent, initial);
        }
      }
    }

    &-cont-wrap {
      width: calc(100% - 60px);

      .heading {
        color: $primary-text-color--light;
        font-size: 14px;
        margin-bottom: 6px;
        @include word-wrap();
      }

      .desc {
        color: $primary-text-color--light;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 6px;
      }

      .last-seen {
        color: $primary-border-color;
        font-size: 12px;
      }
    }
  }

  .profile {
    &-wrap {
      margin-left: 26px;
      cursor: pointer;

      &:hover {
        .profile-details__menu {
          opacity: 1;
          visibility: visible;
          top: 35px;
        }
      }
    }

    &-pic {
      @include avatar(34px, 34px, transparent, 100%);
      margin: 0;

      > img {
        @include avatar(34px, 34px, transparent, 100%);
        border: 4px solid rgba(255, 255, 255, 0.2);
      }
    }

    &-details {
      margin-left: 15px;
      position: relative;

      @include respond-to(tablet) {
        display: none;
      }

      &__menu {
        min-width: 206px;
        position: absolute;
        right: -20px;
        top: 50px;
        background: $white;
        text-align: left;
        border: 1px solid #d8e1e9;
        border-radius: 3px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        @include transition(all 300ms cubic-bezier(0, 0.42, 0.02, 1.29));

        @include respond-to(tablet) {
          right: 14px;
        }

        @include respond-to(mobile) {
          right: 0px;
        }

        &:after {
          content: "";
          top: -25px;
          right: 20px;
          position: absolute;
          border: 11px solid transparent;
          border-bottom: 16px solid $white;
        }

        &:before {
          content: "";
          top: -27px;
          right: 20px;
          position: absolute;
          border: 11px solid transparent;
          border-bottom: 16px solid rgba($black, 0.15);
        }
      }

      &__item {
        padding: 15px 20px;
        @include flexbox();
        @include align-items(center);
        color: rgba($primary-text-color, 0.9);
        cursor: pointer;

        i {
          margin-right: 10px;
        }

        &:hover {
          background-color: #f3f8fd;
        }

        &.active {
          background-color: darken(#f3f8fd, 10%);
        }
      }
    }
  }

  .mobile-search-icon {
    display: none;
    color: #b3b4fa;
    margin-right: 20px;

    @media (max-width: 700px) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .mobile-toggle {
    display: none;

    &.mobile-detector {
      left: 15px;

      display: block;
      width: 28px;
      min-width: 28px;
      height: 26px;
      @include rotate(0deg);
      @include transition(0.5s ease-in-out);
      /*   margin-top: 10px; */
      cursor: pointer;
    }

    &__icon {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: $white;
      border-radius: 9px;
      @include rotate(0deg);
      @include transition(0.25s ease-in-out);
      opacity: 1;

      &--top-bar {
        top: 0;
        left: 0;
        @include transform-origin();
      }

      &--middle-bar {
        top: 10px;
      }

      &--bottom-bar {
        top: 20px;
        left: 0;
        @include transform-origin();
      }
    }

    &.open {
      .mobile-toggle__icon {
        &--top-bar {
          @include rotate(45deg);
        }

        &--middle-bar {
          width: 0%;
          opacity: 0;
          visibility: hidden;
        }

        &--bottom-bar {
          @include rotate(-45deg);
        }
      }
    }
  }
}

.quickNavStyles {
  line-height: unset;
  height: unset;

  div {
    line-height: 1.4;

    a {
      padding: 10px 10px 10px 33px;
    }
  }
}

//Mobile Header
.mobile-nav {
  width: 50%;
  height: 100%;
  background-color: $layout-bg;
  border: 1px solid $primary-border-color;
  @include transition(all 300ms 200ms cubic-bezier(0.67, -0.04, 0.93, 0.21));
  @include translate(-100%, 0);

  @include respond-to(mobile) {
    width: 100%;
  }

  &-wrapper {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    @include transition(all 300ms ease-in);

    &.open {
      opacity: 1;
      visibility: visible;

      .mobile-nav {
        overflow: auto;
        @include translate(0, 0);
      }
    }
  }
}

.mobile-nav,
.secondary-nav {
  &__list {
    &.active {
      .secondary-nav__wrapper {
        display: block;
      }

      .collapse-icon {
        &::after {
          content: "-";
        }
      }
    }
  }

  &__item {
    @include flexbox();
    @include align-items(center);
    border-bottom: 1px solid $secondary-border-color;
    padding: 10px 20px 10px 20px;
    cursor: pointer;

    .txt {
      color: $secondary-text-color;
      font-size: 14px;
      line-height: 40px;
      margin-left: 10px;
      vertical-align: middle;
    }

    .material-icons {
      color: #939ba4;
    }

    &:hover {
      .material-icons {
        color: $primary-brand-color;
      }

      .txt {
        color: $primary-brand-color;
        font-weight: bold;
      }
    }
  }
}

.secondary-nav {
  &__wrapper {
    display: none;
  }

  &__list {
    padding-right: 0;

    .sub-menu {
      display: none;

      &-items {
        padding: 15px 0px 15px 80px;
        color: $secondary-text-color;

        &:hover {
          color: $primary-brand-color;
          font-weight: bold;
        }
      }
    }

    &.active {
      border-bottom: 1px solid $secondary-border-color;

      .secondary-nav__item {
        border-bottom: none;
        background-color: $aside-list-active;

        .material-icons {
          color: $primary-brand-color;
        }

        .txt {
          color: $primary-brand-color;
          font-weight: bold;
        }
      }

      .sub-menu {
        display: block;
      }
    }
  }

  &__item {
    cursor: pointer;
    padding: 10px 20px 10px 45px;

    &:hover {
      background-color: $aside-list-active;
    }
  }
}

.active-nav {
  position: relative;

  .secondary-nav {
    position: absolute;
    left: 0;
    width: 100%;

    &__list {
      max-height: 60px;
      overflow: hidden;
      list-style-type: none; //  &:hover {
      //    max-height: initial;
      //  }
    }
  }
}

.mobile-search {
  &-wrapper {
    @media (min-width: 700px) {
      opacity: 0 !important;
      visibility: hidden !important;
    }

    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.8);
    z-index: 4;
    @include transition(all 300ms ease-in);

    &.open {
      opacity: 1;
      visibility: visible;
      z-index: 9;
    }
  }

  &-container {
    max-width: 350px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: -25px;
    right: 0;
    bottom: 0;

    .search-input {
      position: relative;

      > input {
        border: none;
        padding: 10px 46px 10px 15px;
        border-radius: 0 3px 3px 0;
      }

      .search-icon {
        position: absolute;
        right: 12px;
        top: 9px;
        color: $primary-border-color;
      }
    }

    .search-btn-close {
      position: absolute;
      top: 12px;
      right: -6px;
      width: 14px;
      height: 14px;
      background: url(/assets/img/close-btn.svg) right center no-repeat;
    }
  }
}

.matmenuitem {
  padding: 8px 10px;
  height: auto;
  line-height: 1.2;
}

@media only screen and (max-width: 987px) {
  .desktop {
    display: none !important;
  }
}

@media only screen and (min-width: 987px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .demo-data-block {
    span {
      width: 100% !important;
      margin-bottom: 15px;
    }
    button {
      margin: auto !important;
    }
  }
}

//   notificatiobar

.subject {
  padding-bottom: 5px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  width: 280px !important;

  background-color: #fff;
  text-align: left;
  overflow: auto;
  height: 400px;

  // @media (max-width: 320px) {
  // 	margin-left: 25px;
  // }
  .container {
    border: none;
  }
}

.container {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  padding: 5px;

  border-top: 1px solid #d8d8d8;
  background-color: #fff;
  list-style-type: none;
}

.content:nth-child(even) {
  background-color: rgb(235, 235, 235);
}

.last {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #d8d8d8;
  width: 20px;
}

.content {
  font-size: 16px;
  padding: 5px;
}

.txt {
  color: #dbdbdb;
  color: $secondary-text-color;

  font-size: 14px;
  line-height: 30px;
  margin-left: 4px;
}

.txt-sub {
  color: #535252;
  color: $secondary-text-color;
  font-size: 12px;
  line-height: 30px;
  margin-left: 4px;
}

.time {
  color: #979797;

  font-size: 10px;
  line-height: 20px;
  margin-left: 4px;
}

.triangle {
  margin-left: 150px;
  width: 0px;
  height: 0px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0px 25px 25px 25px;
  transform: translateY(1px);
}

.link {
  font-size: 11px;
  text-decoration: underline;
}

//   .icon {
// 	margin-top: 19px;
// 	margin-left: 16px;
// 	position: absolute;
// 	width: 34px;
// 	height: 34px;
// 	border-radius: 50%;
// 	border: 2px solid #818181;
//   }

.caret {
  width: 280px;
  height: auto;
  background-color: black;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}

.caret.arrow-top {
  margin-top: 40px;
}

.caret.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
}

.caret.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid black;
  border-bottom: 15px solid transparent;
}

.caret.arrow-bottom:after {
  content: " ";
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.caret.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid black;
  border-left: none;
  border-bottom: 15px solid transparent;
}

[tabindex="2"]:focus {
  outline: 1px solid rgb(0, 0, 0);
}

[tabindex="3"]:focus {
  outline: 1px solid rgb(0, 0, 0);
}

mat-menu [tabindex=""]:focus {
  outline: none;
}

[tabindex="5"]:focus {
  outline: 1px solid rgb(0, 0, 0);
}

.blink {
  font-size: 12px;

  @media (max-width: 1024px) {
    font-size: 10px;
  }

  @media only screen and (min-width: 1900px) {
    font-size: 14px;
  }

  color: green;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.nav__secondary__list {
  position: relative;
  margin: unset;
  padding: 4px 10px 4px 33px;
  transition: all 300ms linear;
  display: block;
}

.icon-calculator,
.fuelChallanList,
.icon-quotation {
  vertical-align: middle;

  .material-icons {
    color: #939ba4;
    vertical-align: middle;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0px, -50%);
  }

  &:hover .material-icons,
  &.active .material-icons {
    color: #595fab;
  }

  .txt {
  }

  &:hover,
  &.active {
    color: #595fab;
  }
}

@media (min-width: 769px) {
  .icon--quotation {
    &:hover,
    &.active {
    }
  }

  .icon--calendar {
    background: url(/assets/img/icons/calendar-bw.svg) 6px center no-repeat;

    &:hover,
    &.active {
      background: url(/assets/img/icons/calendar-cl.svg) 6px center no-repeat;
    }
  }

  .icon--bankActivity {
    background: url(/assets/img/icons/bank-bw.svg) 6px center no-repeat;

    &:hover,
    &.active {
      background: url(/assets/img/icons/bank-cl.svg) 6px center no-repeat;
    }
  }

  .Employee_Attendance {
    background: url(/assets/img/icons/employee-bw.svg) 6px center no-repeat;

    &:hover,
    &.active {
      background: url(/assets/img/icons/employee-cl.svg) 6px center no-repeat;
    }
  }

  .vehicleBooking {
    background: url(/assets/img/icons/vehicles-bw.svg) 6px center no-repeat;

    &:hover,
    &.active {
      background: url(/assets/img/icons/vehicles-cl.svg) 6px center no-repeat;
    }
  }

  .icon--journalEntry {
    background: url(/assets/img/icons/journal-bw.svg) 6px center no-repeat;

    &:hover,
    &.active {
      background: url(/assets/img/icons/journal-cl.svg) 6px center no-repeat;
    }
  }
}

.mobile-nav__list.icon-calculator {
  a {
    position: relative;
    padding-left: 15px;
    display: block;
    width: 100%;
  }

  .material-icons {
    left: -4px;
  }
}

.color_gray {
  color: #5a6b7b;

  &:hover .v-align {
    color: #595fab;
  }
}

.tripCalculator {
  display: flex;
  align-items: center;
  margin: 5px 5%;

  a {
    background: #fff;
    padding: 10px 25px;
    display: inline-block;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    border-radius: 15px;
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      animation: autoMove 2s infinite alternate;
      top: 0;
      left: 0;
    }
  }
}

@keyframes autoMove {
  from {
    background: #fcb040;
  }

  to {
    background: #fff;
  }
}

/*
@media screen and (orientation: portrait) and (max-width: 767px) {
    .headerDashboard {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: fixed;
		top: 100%;
		left: 0;
   }


 }
 @media (max-width: 767px) {
   .headerDashboard {
	transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: fixed;
    top: 100%;
    left: 0;
  }


 }

*/

.mobileshow {
  display: none !important;
}

/* ::ng-deep .cdk-overlay-container .cdk-overlay-pane{
	margin-top:0 !important
}
 */

@media (max-width: 1100px) {
  .open-arrow::before {
    transform: rotate(-90deg) translateX(7px);
  }

  .slide-header-block {
    cursor: pointer;
    position: absolute;
    flex-direction: column;
    background: #fff;
    color: #595fab;
    top: 57px;
    right: 10%;
    box-shadow: 0 0 8px 0 #00000029;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
    max-width: 225px;
    min-width: 225px;
  }

  .driver-app,
  .quick-action,
  .gps {
    min-width: 100%;
    padding: 15px 10px 15px 42px;
    margin: 0 !important;

    > .material-icons {
      position: absolute;
      left: 10px;
    }
  }

  .quick-action {
    order: 2;
    .list-main {
      width: 100%;
      right: 0;
      z-index: 9;
    }

    > .material-icons {
      left: unset;
      right: 15px;
    }
    &.emp-app {
      padding-left: 45px;
      &::before {
        background: url(/assets/img/play-store-hover.svg) no-repeat 6px center;
        filter: unset;
        background-size: 22px;
        width: 28px;
        left: 5px;
      }
    }

    &::before {
      background: url(/assets/img/aside/get-started-hover.svg) no-repeat 6px
        center;
      filter: unset;
      background-size: 22px;
      width: 28px;
      left: 5px;
    }
  }
}

/* @media(max-width:1100px){
  $asideImagesX-axis: 20px;
$asidePositionY-axis:center;
$background-size:22px;

.aside-bar {
  color: $secondary-text-color;
  width: 270px;
  box-sizing: content-box;
  position: fixed;
  top: 61px;
  bottom: 50px;

  z-index: 5;
  max-height: 100%;
  line-height: 1.3;

  nav {
    max-height: 92%;
    overflow: auto;
  }


  .nav-padding {

    padding: 12px 10px 12px 65px;
    cursor: pointer;
    position: relative;

    &:hover {
      background: #F8F7FF;
      color: #595FAB;
      font-weight: 600;

      .add-icon {
        display: inline;
      }
    }
  }

  .sub-menu {
    height: 115px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: -9px;
      width: 100%;
      box-shadow: 0 2px 13px 22px #fefefe;
      pointer-events: none;
      background: rgba(254, 254, 254, 0.9);
    }

  }

  .menu-main-toggle {
    // padding-bottom: 30px;
  }

  .module-heading {
    font-size: 13px;
    color: #A09EB4;
    margin: 30px 15px 15px 15px;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: #6B71B554;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 15px;
    }
  }

  .menu-main {
    font-size: 16px;
    position: relative;


    font-weight: 400;

    .menu-main-text {
      display: block;
    }
  }

  .add-icon {
    position: absolute;
    display: none;
    right: 5px;
    color: #595FAB;
    font-weight: 800;
    &::before{
      display: none;
    }
  }

  .active {
    .sub-menu {
      height: auto;

      &::after {
        display: none;
      }
    }
    .toggle-main{
      bottom: -10px;
    }
  }

  .toggle-main {
    position: absolute;
    width: 100%;
    height: 18px;
    bottom: 0;
    .menu-toggle {
      cursor: pointer;
      max-width: 20px;
      border-top: 13px solid #5a6b7b;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      margin: auto;
      text-align: center;
      display: flex;
      position: relative;
      top: 8px;

      &.activatedToggle {
        border-top: none;

        border-bottom: 12px solid #5a6b7b;

      }
    }
  }

  .get-started-icon {
    background: url('/assets/img/aside/get-started-icon.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/get-started-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .material-bg {
    position: absolute;
    left: $asideImagesX-axis;
    font-size: $background-size;
    top: 50%;
    transform: translateY(-50%);
  }

  .vehicles-icon {
    background: url('/assets/img/icons/vehicles-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/vehicles-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .parties-icon {
    background: url('/assets/img/icons/parties-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;

    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/parties-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .employee-icon {
    background: url('/assets/img/icons/employee-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;

    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/employee-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .bank-icon {
    background: url('/assets/img/icons/bank-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/bank-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .trip-code-icon {
    background: url('/assets/img/aside/trip-code.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/trip-code-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .tyre-master-icon {
    background: url('/assets/img/icons/tyre-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/tyre-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .opening-balance-icon {
    background: url('/assets/img/aside/opening-balance.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/opening-balance-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .quotation-icon {
    background: url('/assets/img/icons/quick-action-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/quick-action-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .work-order-icon {
    background: url('/assets/img/aside/work-order.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/work-order-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .trips-icon {
    background: url('/assets/img/aside/trip.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/trip-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .vehicle-payment-icon {
    background: url('/assets/img/aside/vehicle-payment.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/vehicle-payment-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .trip-expense-icon {
    background: url('/assets/img/icons/trip-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/trip-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .employee-others-icon {
    background: url('/assets/img/aside/employee-other.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/employee-other-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }


  .invoice-icon {
    background: url('/assets/img/aside/invoice.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/invoice-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .payment-received-icon {
    background: url('/assets/img/aside/payment-received.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/payment-received-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .debit-note-icon {
    background: url('/assets/img/icons/debit-note-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/debit-note-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }

  }

  .credit-note-icon {
    background: url('/assets/img/icons/vendor-credit-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/vendor-credit-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }

  }

  .bill-of-supply-icon {
    background: url('/assets/img/icons/bill-supply-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/bill-supply-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .advance-icon {
    background: url('/assets/img/aside/advance.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/advance-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .refund-icon {
    background: url('/assets/img/aside/refund.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/refund-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .cheque-payment-icon {
    background: url('/assets/img/aside/cheque-payment.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/cheque-payment-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .maintenance-icon {
    background: url('/assets/img/aside/maintenance.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/maintenance-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }



  .salaries-icon {
    background: url('/assets/img/aside/salaries.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/salaries-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .other-bills-icon {
    background: url('/assets/img/aside/other-bills.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/other-bills-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .petty-expense-icon {
    background: url('/assets/img/aside/petty-expense.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/petty-expense-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .pay-later-icon {
    background: url('/assets/img/aside/pay-later.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/aside/pay-later-hover.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .vendor-advance-icon {
    background: url('/assets/img/icons/payments-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/payments-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .vendor-credits-icon {
    background: url('/assets/img/icons/invoices-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/invoices-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }


  .purchase-order-icon {
    background: url('/assets/img/icons/trip-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/trip-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .inventory-new-icon {
    background: url('/assets/img/icons/activities-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/activities-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .adjustment-icon {
    background: url('/assets/img/icons/activities-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/activities-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }

  .reports-icon {
    background: url('/assets/img/icons/reports-bw.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
    background-size: $background-size;

    &:hover {
      background: url('/assets/img/icons/reports-cl.svg') no-repeat $asideImagesX-axis $asidePositionY-axis;
      background-size: $background-size;
    }
  }
  }
}


.mobile-slide-nav{
  position: fixed;
  z-index: 99;
  width: 90%;
  height: 90%;
  top: 60px;
  background: #fff;
  left: 0;
  max-width: 450px;
}
 */
