<div *ngIf="invoiceDetails | async as invoiceDetail">
    <app-invoice-header [invoiceId]="invoiceId" [invoiceDetail]="invoiceDetail" (editRequestClicked)="editRequestClicked($event)"></app-invoice-header>
    <div class="gb-tab-wrapper">
        <mat-tab-group animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Job Charges </span>
                </ng-template>
                <app-invoice-details-charges [invoiceDetail]="invoiceDetail"></app-invoice-details-charges>
                <app-invoice-details-calculatios [invoiceDetail]="invoiceDetail"></app-invoice-details-calculatios>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Job Deduction</span>
                </ng-template>
                <app-invoice-details-deduction [invoiceDetail]="invoiceDetail"></app-invoice-details-deduction>
                <app-invoice-details-calculatios [invoiceDetail]="invoiceDetail"></app-invoice-details-calculatios>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Additional Charges</span>
                </ng-template>
                <app-invoice-details-item-others [invoiceDetail]="invoiceDetail"></app-invoice-details-item-others>
                <app-invoice-details-calculatios [invoiceDetail]="invoiceDetail"></app-invoice-details-calculatios>

    
            </mat-tab>
            <mat-tab *ngIf="invoiceDetail['table_data']['container_info']?.length>0">
                <ng-template mat-tab-label>
                    <span>Container Info</span>
                </ng-template>
                <div class="custom-table-container m-1 border-start border-end border-bottom">
                    <table>
                      <thead>
                        <tr>
                          <th>Container No.</th>
                          <th>Container Type</th>
                          <th>Gross Weight (Tons)</th>
                          <th>Tare Weight (Tons)</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="invoiceDetail['table_data']['container_info']?.length==0">
                        <tr class="border-0">
                          <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                              <figure>
                                <img src="assets/img/no-content.png" alt="">
                              </figure>
                              <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                          </td>
                        </tr>
                
                      </tbody>
                
                      <tbody>
                        <tr *ngFor="let data  of invoiceDetail['table_data']['container_info']">
                          <td>{{data?.name ? data?.name : '-'}}</td>
                          <td>{{data?.type ? data?.type : '-'}}</td>
                          <td>{{data?.gross_weight ? data?.gross_weight : '-'}}</td>
                          <td>{{data?.tare_weight ? data?.tare_weight : '-'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Terms and Condition</span>
                </ng-template>
                <app-invoice-details-terms-condition [invoiceDetail]="invoiceDetail"></app-invoice-details-terms-condition>
                <app-invoice-details-calculatios [invoiceDetail]="invoiceDetail"></app-invoice-details-calculatios>

            </mat-tab>
            <mat-tab *ngIf="timesheetList.length!=0">
                <ng-template mat-tab-label>
                    <span>Timesheet</span>
                </ng-template>
                <app-invoice-timesheet [timesheetList]="timesheetList" (viewDocEvent)="viewUploadedDoc($event)"></app-invoice-timesheet>
                <app-invoice-details-calculatios [invoiceDetail]="invoiceDetail"></app-invoice-details-calculatios>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Invoice History</span>
                </ng-template>
                <app-invoice-history [invoiceId]="invoiceId"></app-invoice-history>
            </mat-tab>
          
        </mat-tab-group>
    </div>
</div>

<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
