.table-wrapper tbody td,.table-container{
  position: unset !important;
}
  .showInvalid{
    border: 1px solid red !important;

  }
.mx5{
  margin: 0 5%;
}
.tableTotal{
  tr td:last-child{
    width:200px;
    @media (max-width:600px){
      width:auto;
    }
  }
}
  .min-height-96{height: 100px;vertical-align: top;}

  .show {
    display: block;
}

.add:before {
    background-color: #0283e547;
}



.section-footer .more-actions__menu{
    width: 100%;
    top: 45px;
    left: initial;
    right: 0;
}

.dropDownOverflow {
	overflow-x: unset;
}

.table-container {
	&.item-table {
		tr {
			&:nth-child(even) {
				display: none;
			}
			&.show {
				display: table-row !important;
			}
		}
	}
}

.table-wrapper--type2 .add {
	display: inline-block;
}

.gst{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  div .coa-option {
    width :570px !important;
}

@media only screen and (max-width : 768px){

  div .coa-option {
      width :auto!important;
  }
}

.mg-top-30 {
    margin-top: 10px !important;
}

div#margin-left
{
    margin-left: 8px;
}
.more-actions__item{
    padding: 8px 15px !important;
}

.disableInput{
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.hiddenContent{
  display: none !important;
}

  .MaxWidth-150{
    max-width: 150px;
  }

  @media (max-width:1000px) {
    .mobileFlexResult{
      tr{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .max-width-100{

          max-width: 100px;
        }
      }
    }
    .editData{
      border: 1px solid #bcc7d1;
      border-radius: 3px;
      padding: 10px 4px 11px 4px;
      /* height: 40px; */
      margin-left: 5px;
      /* line-height: 1.9; */
    }



  }
  @media (max-width: 480px){
    .mobileBlockSingle{
      display: block;
      >div{
        display: inline-block !important;
        &:first-child{

          display: block !important;
          margin-bottom: 5px;
        }
      }
    }
    div .coa-option
    {


    }
  }

