<div class="pdf-viewer-container">

<div class="right-section__header pd-20-30 mb-0 pdf-viewer-header" >
  <h1 class="heading" *ngIf="settlementData">Payments Received Details</h1>

  <div class="header-actions justify-content-end ms-auto tabIndexActive">
      <button class="btn--action mg-left-10 py-1" *ngxPermissionsOnly="invoiceSettlementPermissions[1]" [routerLink]="[prefixUrl+'/income/payments/invoice/edit', settlementData?.id]">
          <i class="material-icons h-auto">edit</i>
      </button>
      <!-- <button class="btn--action mg-left-10">
          <i class="material-icons">print</i>
      </button> -->
      <button class="btn--action mg-left-10 py-1"  (click)="emailPopUp(settlementData)"><mat-icon class=" h-auto"> email</mat-icon></button>
     <button class="btn--action mg-left-10 py-1" (click)="downloadPdf(settlementData)">
        <i class="material-icons h-auto">cloud_download</i>
    </button>
    <button class="btn--action mg-left-10 py-1" (click)="openDetails()" *ngIf="routeToDetail"><i class="material-icons h-auto">close</i></button>

  </div>
</div>

  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [stick-to-page]="true"
  [autoresize]="true"
  [original-size]="false"
  [show-all]="true"></pdf-viewer>

</div>

<app-add-email *ngIf="isOpen"  (closeDialog)="closeDialog($event)" [filebyteCode]="filebyteCode"></app-add-email>

