<div [ngClass]="{disabled: !showModal}" class="add-item mg-top-30" *ngIf="!inlineAdd && challanList.length>0">
        <span class="tabIndexActive" [ngClass]="{'add-item__note': !challanErrorMessage, 'add-item__error': challanErrorMessage}" data-toggle="modal"
            data-target="#exampleModal" (click)="toggleChallanModal()">
            <i class="material-icons add-icon align-middle">add_circle_outline</i>
            <button class="align-middle mg-left-5 p-0 color-inherit" *ngIf="!challanErrorMessage"> Add  Description</button>
            <span class="align-middle mg-left-5" *ngIf="challanErrorMessage">{{challanErrorMessage}}</span>
        </span>
    </div>

    <div class="align-manage-challan" *ngIf="inlineAdd">
        <button data-toggle="modal" class="p-0" data-target="#exampleModal" (click)="mapSelectedChallans();">
            <span class="material-icons add-icon align-add-icon">add_circle_outline</span>
            <span class="link-1"> Manage Descriptions</span>
        </button>
    </div>

<form [formGroup]="challanListForm">
    <div class="modal fade modal-scrollable" [ngClass]="{show: showModal}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal--wd-lg" role="document">
            <div class="modal-content">
                <div class="modal-header row tabIndexActive mx-0">
                    <h6 class="modal-title col-md-6" id="exampleModalLabel">Add Description</h6>
                    <div class="table-header__right col-md-5">
                        <div class="search-options">
                            <input type="text" class="no-style search-bar input-search" placeholder="Search"
                                [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                            </div>
                        <ng-container *ngIf="allData?.length">
                            <button class="btn--action mg-left-10 py-1" (click)="showFilter = !showFilter">
                                <img src="../../../../../../assets/img/filter-icon.svg" alt="">
                            </button>
                            <app-filter [config]="options" [data]="allData" [visible]="showFilter"
                                (onApplied)="filterApplied($event)" (onClear)="filterApplied($event)">
                            </app-filter>
                        </ng-container>
                    </div>
                    <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close" (click)="showModal = !showModal;popupOverflowHide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pd-20">
                    <!-- <div class="table-header p-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-header__left"></div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div> -->
                    <div class="">
                        <div class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg table-wrapper--scroll">
                            <table class="table-container">
                                <thead>
                                    <tr>
                                        <th ></th>
                                        <th *ngIf="!isTPEmpty">Work Order No.</th>
                                        <th >Vehicle No</th>
                                        <th >From</th>
                                        <th >To</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="challans">
                                    <tr *ngIf="(challanList | challanListFilter:search)?.length == 0">
                                        <td colspan="10" style="background-color: #fff">
                                            <div class="no-content-wrapper">
                                                <figure class="no-content-pic">
                                                    <img src="assets/img/no-content.png" alt="">
                                                </figure>
                                                <div class="no-content-txt">
                                                    <h5 class="heading">No data found!</h5>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let challan of challanList | challanListFilter: search; let i = index;"
                                        [formGroupName]="i">
                                        <td class="table-checkbox">
                                            <label for="check-{{ i }}" class="check-box">
                                                <input type="checkbox" id="check-{{ i }}"
                                                    formControlName="selectedChallan" value="{{ challan.challan_no }}"
                                                    (change)="onChallanSelected($event)">
                                                <span class="check-mark"></span>
                                            </label>
                                        </td>
                                        <td *ngIf="!isTPEmpty">
                                            {{ challan.transporter_permit_no?challan.transporter_permit_no:'-' }}
                                        </td>
                                        <td>
                                            {{ (challan?.reg_number)?(challan.reg_number):'-' }}
                                        </td>
                                        <td>
                                            {{ (challan?.consignor)?(challan.consignor):'-' }}
                                        </td>
                                        <td>
                                            {{ (challan?.consignee)?(challan.consignee):'-' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-border tabIndexActive">
                    <button type="button" class="btn" data-dismiss="modal"
                        (click)="showModal = !showModal;popupOverflowHide()">Close</button>
                    <button type="button" class="btn btn--primary" (click)="selectChallans()"
                        *ngIf="!inlineAdd">Add</button>
                    <button type="button" class="btn btn--primary" (click)="manageChallan()"
                        *ngIf="inlineAdd">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div *ngIf="showModal" class="modal-backdrop fade show"></div>
