<div class="add-item mg-top-30" *ngIf="!isEdit && allEmployeeList.length==0">
  <span data-toggle="modal"
    [ngClass]="{'add-item__note': !employeeErrorMessage, 'add-item__error': employeeErrorMessage}" (click)="openModel()"
    data-target="#exampleModal">
    <i class="material-icons add-icon align-middle">add_circle_outline</i>
    <span class="align-middle mg-left-5" *ngIf="!employeeErrorMessage"> Add Employees</span>
    <span class="align-middle mg-left-5" *ngIf="employeeErrorMessage">{{employeeErrorMessage}}</span>
  </span>
</div>
<div class="align-manage-challan" *ngIf="allEmployeeList.length>0 || isEdit">
  <a data-toggle="modal" class="d-block" data-target="#exampleModal" (click)="openModel()">
    <span class="material-icons add-icon align-add-icon d-inline-block align-middle">add_circle_outline</span>
    <span class="link-1"> Manage Employee </span>
  </a>
</div>
<div class="modal fade" [ngClass]="{show: showModal}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal--wd-lg" role="document">
    <div class="modal-content">
      <div class="row mobileBlock">
        <div class="closebutton w-auto m-0 p-0">
          <button (click)="closeModel()" aria-label="Close" class="bth closebtn close"> <span
              aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="w-auto m-0 p-0 layout-bg">
          <div class="form-layout">
            <h3>{{date}}</h3>
            <div class="dropdown">
              <ng-multiselect-dropdown [placeholder]="'Select Designation'" [data]="dropdownList"
                [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="table-section">
              <div class="table-header">
                <div class="row mx-0 mb-2">
                  <div class="col-xl-6 col-6 ps-0">
                    <div class="table-header__left">
                      <div id="demo-2">
                        <input type="search" class="no-style search-bar input-search" placeholder="Search..."
                          [(ngModel)]="search" (ngModelChange)="searchEnabled()">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mx-0 px-2">
                <div class="col-md-4 col-4 px-0">
                  <h6 (click)="selectedTabs('')" [ngClass]="{'active':selectedTab==''}">All({{remainingMarked.length}})
                  </h6>
                </div>
                <div class="col-md-4 col-4 px-0">
                  <h6 (click)="selectedTabs('paid')" [ngClass]="{'active':selectedTab=='paid'}">
                    Paid({{paidMarked.length}}) </h6>
                </div>
                <div class="col-md-4 col-4 px-0">
                  <h6 (click)="selectedTabs('unpaid')" [ngClass]="{'active':selectedTab=='unpaid'}">
                    Unpaid({{unpaidMarked.length}}) </h6>
                </div>
              </div>
              <div [ngSwitch]="selectedTab">
                <!-- others  -->
                <div *ngSwitchDefault>
                  <div class="table-wrapper-list">
                    <table class="table-container">
                      <thead>
                        <tr>
                          <th><input type="checkbox" value=""  class="me-2" [(ngModel)]="selectAllEmployee"
                              (change)="selectallEmployees(remainingMarked,$event.target.checked)"><span>Employee Name</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let data of remainingMarked; let i = index;">
                          <td> <input type="checkbox"  class="me-2" [(ngModel)]="data.checked"
                              (change)="itemSelectChange(remainingMarked,data, $event.target.checked)"><span>{{data?.name_emp_id}}</span> <span
                              *ngIf="data?.driver_vehicle"> - {{data?.driver_vehicle}}</span> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row mx-0 justify-content-center my-2">
                    <div class="">
                      <button class="btn btn-primary m-auto" (click)="submit()">Submit </button>
                    </div>
                  </div>
                </div>
                <!-- paid-->
                <div *ngSwitchCase="paid">
                  <div class="table-wrapper-list">
                    <table class="table-container">
                      <thead>
                        <tr>
                          <th><input type="checkbox" value="" [(ngModel)]="selectAllPaidEmployee"
                              (change)="selectallEmployees(paidMarked,$event.target.checked)"><span>Employee Name</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let data of paidMarked; let i = index;">
                          <td> <input type="checkbox"  [(ngModel)]="data.checked"
                              (change)="itemSelectChange(paidMarked,data , $event.target.checked)"> <span>{{data.name_emp_id}}</span> <span
                              *ngIf="data?.driver_vehicle"> - {{data?.driver_vehicle}}</span> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row mx-0 justify-content-center my-2">
                    <div class="">
                      <button class="btn btn-primary m-auto" (click)="submit()">Submit </button>
                    </div>
                  </div>
                </div>
                <!-- unpaid -->
                <div *ngSwitchCase="unpaid">
                  <div class="table-wrapper-list">
                    <table class="table-container">
                      <thead>
                        <tr>
                          <th><input type="checkbox" value="" [(ngModel)]="selectAllUnPaidEmployee"
                              (change)="selectallEmployees(unpaidMarked,$event.target.checked)"><span>Employee Name</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let data of unpaidMarked; let i = index;">
                          <td> <input type="checkbox" [(ngModel)]="data.checked"
                              (change)="itemSelectChange(unpaidMarked,data, $event.target.checked)"><span>{{data.name_emp_id}}</span> <span
                              *ngIf="data?.driver_vehicle"> - {{data?.driver_vehicle}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row mx-0 justify-content-center my-2">
                    <div class="">
                      <button class="btn btn-primary m-auto" (click)="submit()">Submit </button>
                    </div>
                  </div>
                </div>
                <!-- switchend -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="modal-backdrop fade show"></div>
