.table-wrapper-list {
  overflow-y: scroll;
  height: 550px !important;
  padding-bottom: 0px;
}

.active {
  border-bottom: 2px solid rgb(0, 9, 128);
  color: rgb(66, 190, 66);
  padding: 1px 5px;
}

h6 {
  text-align: center;
  cursor: pointer;
}

.modal-content {
  background-color: transparent !important;
  border: unset !important
}

.closebtn {
  background-color: white;
  height: 76px;
  width: 53px;
  border-radius: 16px 0px 0px 16px;
  margin-left: 17px;
  opacity: 0.8 !important;
}

.modal {
  max-height: 100%;
  animation: end_to_left 1s ease-in-out;
  transform: translate(100%, 0);
  display: block;
  opacity: 1;
  transition: 1s ease-in-out;
  top: 0;

  &.show {
    transform: translate(0, -50%);
    top: 50%;
    overflow-y: hidden;
  }

  .modal-dialog {
    transform: unset;
  }
}

@keyframes end_to_left {
  from {
    opacity: 0;
    transform: translate(100%, -50%);
  }

  to {
    opacity: 1;
    transform: translateX(0, -50%);
  }
}

.modal-content {
  flex-direction: row-reverse !important;
}

.modal-dialog {
  margin: unset !important;
  float: right !important;
  padding: 0px 13px !important;
}

.form-layout {
  height: 100vh !important;
  overflow-y: auto;
  overflow-x: hidden !important;
  min-width: 450px;
}

.d-inline {
  display: inline-block !important;
}

.d-inline p {
  font-size: 16px;
  padding: 12px;
}

.form-layout h3 {
  padding: 10px;
}

.dropdown {
  padding: 10px;
}

input {
  width: auto;
  display: inline;
}

td span {
  display: inline;
}

th span {
  display: inline;
}

.align-middle {
  cursor: pointer;
}

:host ::ng-deep .ngx-pagination .current {
  background: #595fab !important;
  border-radius: 2px;
}

@media (max-width:639px) {
  .closebutton {
    position: absolute;
    right: 10px;

    .closebtn {
      width: auto;
      height: auto;
      margin: auto;
      font-size: 35px;
    }
  }

  .form-layout {
    min-width: 100%;
  }

  .modal-dialog {
    width: 100%;
    padding: 0px 0 0 10px !important;

    .mobileBlock {
      width: 100%;
      display: block;
      margin: auto;
    }
  }
}



:host::ng-deep .dropdown .dropdown-list li {
  min-height: 26px;
  display: flex;
  align-items: center;
}