<ng-container *ngFor="let timesheet of timesheetList;let i=index" >

  <div class="toggle-collapse  py-3 row mx-0 line-height-normal def-color align-items-center" [ngClass]="{'collapsed':i!=0}" type="button"
  data-bs-toggle="collapse" [attr.data-bs-target]="'#timesheet-'+i" aria-expanded="false" [attr.aria-controls]="'timesheet-'+i">
  <div class="col-lg col-md-6 "><span class="material-icons arrow def-color me-3 verticle-align-middle">
      chevron_right
    </span><b class="me-2 fw-semibold">Job No.:</b>
    {{timesheet?.trip?.name}} </div>

  <div class="col-lg col-md-6">
    <b class="me-2">Vehicle No.:</b>
    {{timesheet?.vehicle?.number}}
  </div>

  <div class="col-lg col-md-6">
    <b class="me-2">No. Of Timesheets:</b>
    {{timesheet?.no}}
  </div>


  <div class="col-lg col-md-6">
    <b class="me-2">Billing Amount:</b>
    {{ currency_type?.symbol}}  {{timesheet?.billing_amount| numberFormat}}

  </div>
  <div class="col-lg col-md-6">
    <b class="me-2">Extra Amount:</b>
    {{ currency_type?.symbol}}  {{timesheet?.extra_amount| numberFormat}}

  </div>



</div>
<div class="collapse " [ngClass]="{'show':i==0}" id="timesheet-{{i}}">
  <div class="custom-table-container ws-nowrap">
    <table>
      <thead>
        <tr>
          <th>Timesheet No.</th>
          <th>Start Date</th>
          <th>End Date	</th>
          <th>Billing Amount ({{ currency_type?.symbol}})</th>
          <th>Extra Amount ({{ currency_type?.symbol}})</th>
          <th class="text-center">Attachment</th>
        </tr>
      </thead>
      <tbody *ngIf="timesheet?.entries.length==0">
        <tr class="border-0">
          <td class="bg-white" colspan="30">
            <div class="no-list-data-wrap">
              <figure>
                <img src="assets/img/no-content.png" alt="">
              </figure>
              <h5 class="mt-3 primary-brand-text">No data found!</h5>
            </div>
          </td>
        </tr>

      </tbody>

      <tbody>
        <tr *ngFor="let data  of timesheet?.entries">
          <td>{{data?.timehseet_no}}</td>
          <td>{{data?.start_date}}</td>
          <td >{{data?.end_date}}</td>
          <td >{{data?.billing_amount| numberFormat}}</td>
          <td >{{data?.extra_amount| numberFormat}}</td>
          <td class="text-center icon-box">
            <button (click)="viewUploadedDocument(data)" [disabled]="data?.document.length == 0">
              <span class="material-icons fs-4" [ngStyle]="{'color': data?.document.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                  image
              </span>
      </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="p-1 shadow-inset-top-bottom" *ngIf="i!=timesheetList.length-1"></div>

</ng-container>

