<div matAutocompleteOrigin #origin="matAutocompleteOrigin" class="material-wrap  input-wrap mb-0 min-height-wrap" >
      <input type="text" class="no-style input--bd " [placeholder]="placeholder" [ngClass]="addErrorClass" [class.join-field]="addJoinClass" [class.labour-field]="styleLabourSection"
            [class.upper-case]="isUpperCaseAllowed" [class.mobile-code-style]="addMobileCodeClass"
             #autoCompleteInput
             matInput
             aria-label="Number"
             (focusout)="selectLastOption($event)"
             (keyup)="recordKeys($event)"
             [formControl]="dropdownInput"
             [matAutocomplete]="auto"
             [matAutocompleteConnectedTo]="origin"
             value="{{selectedOption ? selectedOption.label : '' }}" [attr.tabindex]="disabled ? -1 : 0" [attr.maxlength]="maxLength" >
</div>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='optionSelect($event.option.value)' [displayWith]="displayFn" [autoActiveFirstOption]="true">
          <mat-option class="drop-down" *ngIf="addable" [value]=addableOption>{{addItemText}} </mat-option>
        <mat-option class="drop-down" *ngIf="addBlank" [value]=blankOption></mat-option>
        <mat-option class="drop-down" *ngFor="let option of dropdownOptions | optionsListFilter : dropdownInput.value;" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
