@import"../../../../../../../assets/styles//helpers/variable";
.asset-chip{
    .type-img{
        width: 65px;
        margin-right: 3px;
    }
    .head-img{
        width: 28px;
        margin-right: 10px;
        
      
       
        
    }
    .seperator{
        border: 0.5px solid $green;
        height: 60%;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 100;
    }
}