@import "../../../../../../../assets/styles/helpers/variable";


b {
    margin-right: 8px;
}


.details {



    p {

        padding: 12px 0;
        color: #676A6E;
        line-height: normal;
    }

}


