<div class="right-section__header align-items-center justify-content-between">
  <h1 class="heading" *ngIf="billofsupply_id">Edit BOS</h1>
  <h1 class="heading" *ngIf="!billofsupply_id">Add BOS</h1>
  <app-video-play [videoUrl]="videoUrl" class="col-2 videoRight ms-auto tabIndexActive"></app-video-play>
</div>
<form [formGroup]="addBillOFSupplyForm">
  <div class="alert-msg" *ngIf="apiError">
    <span class="icon-wrap"></span>
    <p class="message-cont">{{ apiError }}</p>
</div>

<div class="error-msg-list" *ngIf="globalFormErrorList.length > 0">
  <p class="message-head">{{ errorHeaderMessage }}</p>
  <span class="icon-wrap"></span>
  <ul *ngFor="let error of globalFormErrorList">
    <li class="message-cont">{{ error }}</li>
  </ul>
</div>
  <div class="form-layout shadow-inset-top-lg form-layout--pd">
    <div class="form-layout__card active">
      <div class="form-body">
        <div class="row tabIndexActiveFields">
          <div class="col-lg-3 col-sm-6" *ngIf="!bill_id">
            <div class="input-wrap error" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.party)">
              <label for="" class="input--required">Customer</label>
              <material-dropdown [searchable]="true" [addable]="true"
               class="dropDownWidth"
                [selectedOption]="initialValues.party"
                [party]="true" (addPartyPopup)="openAddPartyModal($event)"
                (addValueToList)="addValueToPartyPopup($event)"
                [params]="partyNamePopup">
                <select #customSelect formControlName="party" class="no-style select--modify"
                  (change)="onPartySelected()" (change)="stopLoaderClasstoBody()">
                  <option *ngFor="let party of partyList" value="{{ party.id }}">
                    {{ party.party_display_name }}
                  </option>
                </select>
              </material-dropdown>
                <span *ngIf="gstin" class="font-small-blue"> {{terminology.tax_no_type}}: {{gstin}} </span>
              <app-error [controlName]="addBillOFSupplyForm.controls.party"></app-error>
              <!-- <a class="link-1 mg-top-15 d-inline-block" *ngIf="gstin.gstin">GSTIN: {{gstin.gstin}}</a> -->

            </div>
          </div>
          <div class="col-lg-3 col-sm-6" *ngIf="bill_id">
            <div class="input-wrap disabled">
              <label for="" class="input--required">Customer</label>
              <div class="input--bd">{{ initialValues.party.label }}</div>
              <!-- <a class="link-1 mg-top-15 d-inline-block">{{gstin.gstin}}</a> -->
              <span *ngIf="gstin" class="font-small-blue"> {{terminology.tax_no_type}}: {{gstin}} </span>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6" *ngIf="isPlaceOfSupply" >
            <div class="input-wrap error" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.place_of_supply)">
              <label for="" class="d-inline-block">Place of Supply</label>
              <div class="placeOfSupplyToolTip">
                <span class="material-icons">info</span>
                <div class="data">
                  Please Enter Customer's Place of Supply
                </div>
              </div>

              <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                [selectedOption]="initialValues.placeOfSupply">
                <select #customSelect formControlName="place_of_supply" class="no-style select--modify">
                  <option *ngFor="let state of PlaceOfSupplyStateList" value="{{ state.name }}">
                    {{ state.name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="addBillOFSupplyForm.controls.place_of_supply"></app-error>

            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap">
              <label for="">Employee Name</label>
              <material-dropdown [searchable]="true" [addable]="false" [addBlank]="true" class="dropDownWidth" [selectedOption]="initialValues.employee">
                <select #customSelect formControlName="employee" class="no-style select--modify">
                  <option *ngFor="let employee of employeeList" value="{{ employee.id }}">
                    {{  employee.first_name }} {{ employee.last_name }}
                  </option>
                </select>
              </material-dropdown>

            </div>
          </div>

          <div class="col-lg-3 col-sm-6"  *ngIf="!bill_id">
            <div class="input-wrap error" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.bos_number)">
              <label for="" class="input--required">BoS No</label>
              <input type="text" class="no-style input--bd" placeholder="Placeholder" maxlength="16"
                formControlName="bos_number">
              <app-error [controlName]="addBillOFSupplyForm.controls.bos_number"></app-error>

            </div>
          </div>
          <div class="col-lg-3 col-sm-6"  *ngIf="bill_id">
            <div class="input-wrap disabled">
              <label for="" class="input--required">BoS No</label>
              <div class="input--bd">{{ addBillOFSupplyForm.controls.bos_number.value }}</div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error error--type-1"
              [ngClass]="addErrorClass(addBillOFSupplyForm.controls.bos_date)">
              <label for="" class="input--required">BoS Date</label>
              <mat-form-field class="width--100">
                <input matInput [matDatepicker]="bos_date" (focus)="bos_date.open()" formControlName="bos_date"
                  placeholder="DD/MM/YYYY" readonly (dateChange)="onCalendarChangePTerm($event?.target?.value)">
                <mat-datepicker-toggle matSuffix [for]="bos_date"></mat-datepicker-toggle>
                <mat-datepicker #bos_date></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="addBillOFSupplyForm.controls.bos_date"></app-error>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.payment_term)">
              <label for="" class="input">Payment Term</label>
              <material-dropdown [searchable]="true" [addable]="false" [addBlank]="true" class="dropDownWidth"
                [selectedOption]="initialValues.paymentTerm">
                <select #customSelect formControlName="payment_term" class="no-style select--modify"
                (change)="onpaymentTermSelected($event.target.value)">
                  <option *ngFor="let option of paymentTermList" value="{{ option.id }}">
                    {{ option.label }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="addBillOFSupplyForm.controls.payment_term"></app-error>

            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap error error--type-1"
              [ngClass]="addErrorClass(addBillOFSupplyForm.controls.due_date)">
              <label for="" [ngClass]="{'input--required': isDueDateMan}" class="input">Due Date</label>
              <mat-form-field class="width--100">
                <input matInput [matDatepicker]="due_date" [min]="minDate"  (dateChange)="onDueDateChange()"(focus)="due_date.open()" formControlName="due_date"
                  placeholder="DD/MM/YYYY" readonly>
                <mat-datepicker-toggle matSuffix [for]="due_date"></mat-datepicker-toggle>
                <mat-datepicker #due_date></mat-datepicker>
              </mat-form-field>
              <app-error [controlName]="addBillOFSupplyForm.controls.due_date"></app-error>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="input-wrap error" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.bank_account)">
                  <label for="" class="input">Bank</label>
                  <material-dropdown [searchable]="true" [addable]="false" [addBlank]="false" class="dropDownWidth" [selectedOption]="initialValues.bank_account">
                      <select #customSelect formControlName="bank_account" class="no-style select--modify">

                          <option *ngFor="let option of bankList" value="{{ option.id }}">
                              {{ option.display_name }}
                          </option>
                      </select>
                  </material-dropdown>
                  <app-error [controlName]="addBillOFSupplyForm.controls.bank_account"></app-error>

              </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap ">
              <label for="" class="input">Reference No </label>
              <input type="text" class="no-style input--bd"
                placeholder="Reference No" formControlName="reference_no">

            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="input-wrap">
              <label for="">Contact Person</label>
              <material-dropdown [searchable]="true" [selectedOption]="initialValues.contactperson" [addable]="false"
                class="dropDownWidth" [addBlank]="true">
                <select #customSelect formControlName="contact_person" class="no-style select--modify">
                  <option *ngFor="let contactperson of contactPersonList" value="{{ contactperson.id }}">
                    {{  contactperson.display_name }}
                  </option>
                </select>
              </material-dropdown>

            </div>
          </div>

          <div *ngIf="selectedParty?.address && selectedParty?.address.length" class="col-lg-12">
            <app-address [address]="selectedParty?.address" (emitAddress)="getAddress($event)"></app-address>
          </div>
        </div>

        <!-- Challan list  -->
        <div class="form-layout__card mg-top-30">
          <ng-container *ngIf="doChallanExists || doTripChallanExists">
            <div class="form-layout__header">
              <h2 class="sub-heading">Item Challan</h2>
              <span class="collapse-line"></span>
            </div>
            <div class="challan-header p-0 tabIndexActive">
              <div class="input-group input-group-sm mb-3 input-wrap error"
                [ngClass]="addErrorClass(addBillOFSupplyForm.controls.hsn_code)">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">HSN
                    Code</span>
                </div>
                <input type="text" class="form-control error-box" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  placeholder="Add HSN Code" formControlName="hsn_code">
                <app-error [controlName]="addBillOFSupplyForm.controls.hsn_code"></app-error>
              </div>
            </div>
          </ng-container>

          <div class="mg-top-30" *ngIf="challansList.length > 0">
            <div class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg overflow-unset dropDownOverflow">
              <table class="table-container item-table">
                <thead>
                  <tr>
                    <th width=14%>Consignment Date</th>
                    <th width=14%>Consignment No.</th>
                    <th *ngIf="!isTPEmpty">TP No.</th>
                    <th width=12%>Qty.</th>
                    <th width=8%>Unit Cost</th>
                    <th width=8%>Amount</th>
                    <th width=8%>Adjustment</th>
                    <th width=10%>Total</th>
                    <th width=3%></th>
                  </tr>
                </thead>
                <tbody formArrayName="item_challan">
                    <ng-container *ngFor="let challan of addBillOFSupplyForm.get('item_challan').controls;let i = index;" [formGroupName]="i">
                    <tr>
                      <td>
                        {{ challan.value?.created_at }}
                      </td>
                      <td>
                        {{ challan.value?.challan_no }}
                      </td>
                      <td *ngIf="!isTPEmpty">
                        {{ challan.value?.transporter_permit_no }}
                      </td>
                      <td>
                        {{ challan.value?.final_weight }}
                      </td>
                      <td>
                        {{ challan.value?.rate_per_unit }}
                      </td>
                      <td>
                        {{ challan.value?.net_receiveable_amount }}
                      </td>
                      <td>
                        <div class="input-wrap" [ngClass]="addErrorClass(addBillOFSupplyForm.controls['item_challan'].controls[i].controls.adjustment)">
                          <input twoDigitDecimalNumber type="text" placeholder="1000" formControlName="adjustment" class="error-box"
                          (change)="setAdjustmentValue(i);">
                      </div>
                      </td>
                      <td>
                        {{ addBillOFSupplyForm.controls['item_challan'].controls[i].controls.total_amount.value }}
                      </td>
                      <td class="text-center">
                          <span class="material-icons drop-down" (click)="challan.controls.additionalDetails.setValue(!challan.controls.additionalDetails.value)"
                              *ngIf="!challan.controls.additionalDetails.value">arrow_drop_down</span>
                          <span class="material-icons drop-down" (click)="challan.controls.additionalDetails.setValue(!challan.controls.additionalDetails.value)"
                              *ngIf="challan.controls.additionalDetails.value">arrow_drop_up</span>
                    </td>
                    </tr>
                    <tr class="border-top-0" [ngClass]="{show: challan.controls.additionalDetails.value}">
                        <td colspan="10" class="fs-12 pt-0">
                            <input type="text" placeholder="Narration" formControlName="narration">
                        </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div>
              <add-challan [alreadySelectedChallans]="challansList" [inlineAdd]="challanModalInline" [isAdd]="isAdd"
                (onAddChallanClicked)="challansSelected($event)" (checkChallanExist)="checkChallanExist($event)"></add-challan>
          </div>

          <div class="mg-top-30" *ngIf="tripChallansList.length > 0">
            <div class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg overflow-unset dropDownOverflow">
                <table class="table-container mat-icon-font-17">
                    <thead>
                        <tr class="desktop_th">
                          <th width=10%>Date</th>
                          <th width=10%>Vehicle No.</th>
                          <th width=10% *ngIf="!isWOEmpty">WO No.</th>
                          <th width=10%>Freight  ( {{ currency_type?.symbol}}) </th>
                          <th width=10%>Charges ( {{ currency_type?.symbol}}) </th>
                          <th width=10%>Deduction ( {{ currency_type?.symbol}}) </th>
                          <th width=10%>Adjustments ( {{ currency_type?.symbol}}) </th>
                          <th width=13%>Net Amount ( {{ currency_type?.symbol}}) </th>
                          <th width="10%">Balance ( {{ currency_type?.symbol}}) </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="trip_challan">
                        <tr class="mobile-flex icon-14  tabIndexActive" *ngFor="let challan of addBillOFSupplyForm.get('trip_challan').controls;let i_trip = index;"
                            [formGroupName]="i_trip">
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Date</h5>
                                   <div class="filledData"> {{ challan.value?.date }}</div>
                                </td>
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Vehicle No.</h5>
                                    <div class="filledData">{{ challan.value?.vehicle }}</div>
                                </td>
                                <td class="max-wd120 pt-0" *ngIf="!isWOEmpty"> <h5 class="th_h5_mobile fw-semibold">WO No.</h5>
                                  <div class="filledData">{{ challan.value?.work_order_no }}</div>
                              </td>
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Freight</h5>
                                    <div class="editData">{{ challan.value?.freights }} <button class="material-icons maticon-17 p-0" (click)="editTripFreight(challan.value?.trip)"> create </button></div>
                                </td>
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Charges</h5>
                                    <div class="editData">{{ challan.value?.charges }} <button class="material-icons maticon-17 p-0" (click)="editTripAddBillCharges(challan.value?.trip)"> create </button></div>
                                </td>
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Deduction</h5>
                                    <div class="editData">{{ challan.value?.deductions }} <button class="material-icons maticon-17 p-0" (click)="editTripReduceBillCharges(challan.value?.trip)"> create </button></div>
                                </td>
                                <td  class="max-wd120 pt-0"[ngClass]="{'hiddenContent':!isTax}">
                                  <h5 class="th_h5_mobile fw-semibold">Adjustments</h5>
                                    <div class="input-wrap" [ngClass]="addErrorClass(addBillOFSupplyForm.controls['trip_challan'].controls[i_trip].controls.adjustment)">
                                        <input twoDigitDecimalNumber type="text" placeholder="1000" formControlName="adjustment" class="error-box"
                                        (change)="setTripAdjustmentValue(i_trip);">
                                    </div>
                                </td>

                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Net Amount</h5>
                                    <div class="filledData">{{ addBillOFSupplyForm.controls['trip_challan'].controls[i_trip].controls.total_amount.value }}</div>
                                </td>
                                <td class="max-wd120 pt-0"> <h5 class="th_h5_mobile fw-semibold">Balance</h5>
                                  <div class="filledData">{{ addBillOFSupplyForm.controls['trip_challan'].controls[i_trip].controls.balance.value }}</div>
                               </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <app-trip-challan [tripId]="tripId" [alreadySelectedTripChallans]="tripChallansList" [inlineAdd]="tripChallanModelInline" [isAdd]="isTripAdd"
                (onAddChallanClicked)="tripChallansSelected($event)" (checkChallanExist)="checkTripChallanExist($event)"></app-trip-challan>
        </div>
        </div>



        <!-- other items -->
        <div class="form-layout__card mg-top-30">
          <div class="form-layout__header">
            <h2 class="sub-heading">Item Others</h2>
            <span class="collapse-line"></span>
          </div>
          <div class="mg-top-30">
            <div
              class="table-wrapper table-wrapper--type1 table-wrapper--type2  table--bd table--nobg dropDownOverflow">
              <table class="table-container">
                <thead>
                  <tr class="desktop_th">
                      <th width=16%>Item</th>
                      <th width=10%>Total units</th>
                      <th width=15%>Unit</th>
                      <th width=12%>Rate per unit ({{ currency_type?.symbol}})</th>
                      <th width=12%>Amount ({{ currency_type?.symbol}})</th>
                      <th width=12%>Discount ({{ currency_type?.symbol}})</th>
                      <th width=14%>Total ({{ currency_type?.symbol}})</th>
                      <th width=9%></th>
                  </tr>
                </thead>
                <tbody formArrayName="item_others">
                  <tr class="mobile-flex tabIndexActive" *ngFor="let otherItem of addBillOFSupplyForm.controls.item_others.controls; let i = index;"
                    [formGroupName]="i">
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Item</span>
                      <div>
                        <material-dropdown [addable]="true" class="dropDownWidth" [item]="true" [maxLength]="36"
                        (addItemPopup)="openAddItemModal($event, i)" [addBlank]="true"
                        [addErrorClass]="addErrorClass(addBillOFSupplyForm.controls.item_others.controls[i].controls.item)"
                        class="dropDownWidth" (addValueToList)="addValueToMaterial($event)"
                        [params]="materialParams" [selectedOption]="initialValues.items[i]">
                          <select #customSelect formControlName="item" class="no-style select--modify"
                            (change)="onMaterialSelected($event,i)">
                            <option *ngFor="let option of staticOptions.materialList" value="{{ option.id }}">
                              {{ option.name }}
                            </option>
                          </select>
                        </material-dropdown>
                      </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Total units</span>
                      <div class="input-wrap">
                        <input positiveThreeDigitDecimalNumber type="text" placeholder="Eg.: 1234567"
                        formControlName="quantity" (change)="calculateItemOthersAmount(i)">
                    </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Unit</span>
                      <div class="select-wrap">
                        <material-dropdown [searchable]="true" [addable]="false" [addBlank]="true" class="dropDownWidth"
                        [selectedOption]="initialValues.units[i]">
                          <select #customSelect formControlName="units" class="no-style select--modify">
                            <option *ngFor="let option of staticOptions.itemUnits" value="{{ option.id }}">
                              {{ option.label }}
                            </option>
                          </select>
                        </material-dropdown>
                      </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Rate per unit ({{currency_type?.symbol}})</span>
                      <div class="input-wrap">
                        <input positiveThreeDigitDecimalNumber type="text" placeholder="1000" formControlName="unit_cost" class="error-box"
                            (change)="calculateItemOthersAmount(i)">
                    </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Amount ({{ currency_type?.symbol}})</span>
                        <div class="input-wrap" [ngClass]="addErrorClass(otherItem.controls.amount)">
                        <input positiveThreeDigitDecimalNumber type="text" class="error-box" placeholder="1000"
                            formControlName="amount"  [readonly]="otherItem.controls.item.value==null"
                            (change)="calculateItemOther(i)">
                        </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Discount</span>
                      <div class="input-wrap" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.item_others.controls[i].controls.discount)">
                        <input positiveThreeDigitDecimalNumber type="text" placeholder="1000" formControlName="discount"
                        (change)="calculateOtherFinalAmount(i)" class="error-box">
                      </div>
                    </td>
                    <td class="max-wd120">
                      <span class="th_h5_mobile fw-semibold">Total ({{ currency_type?.symbol}})</span>
                      <div class="input-wrap disabled">
                        <input positiveThreeDigitDecimalNumber type="text" placeholder="1000" class="error-box"
                            formControlName="total_amount" [attr.disabled]="true">
                      </div>
                    </td>
                    <td class="max-wd120 mobile-width-100">
                      <button class="material-icons clear p-0" (click)="resetOther(otherItem, i)">remove_circle_outline</button>
                      <button class="material-icons delete p-0" (click)="removeOtherItem(i)"
                          *ngIf="addBillOFSupplyForm.controls.item_others.controls.length !== 1">add_circle_outline</button>
                      <button class="material-icons add p-0"
                          (click)="addMoreOtherItem()">add_circle_outline</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer-actions mg-top-20 tabIndexActive">
              <button class="clear-item p-0" (click)="clearAllOtherItems()">Remove all</button>
            </div>
          </div>
        </div>

         <!-- calculation part -->

         <div class="gst-table-wrapper mg-top-30">

          <div class="gst-main py-2">
              <div class="text-end fw-bold gst-left"> Subtotal Challan: </div>
              <div class="px-0  text-end fw-bold gst-right"> {{totals.subtotal_challan| numberFormat}}</div>
          </div>
          <div class="gst-main py-2">
            <div class="text-end fw-bold gst-left"> Subtotal Others: </div>
            <div class="px-0  text-end fw-bold gst-right"> {{totals.subtotal_others| numberFormat}}</div>
          </div>
          <div class="gst-main py-2">
            <div class="text-end fw-bold gst-left"> Subtotal: </div>
            <div class="px-0  text-end fw-bold gst-right"> {{ totals.subtotal | numberFormat}}</div>
          </div>

          <div class="gst-main tabIndexActive">
            <div class="text-start pt-0 gst-left">

                <div class="dropdown select-wrap">
                            <material-dropdown
                            [selectedOption]="initialValues.adjustmentAccount">
                            <select #customSelect formControlName="adjustment_account"
                                class="no-style select--modify">
                                <option *ngFor="let option of expenseAccountList"
                                    value="{{ option.id }}">{{ option.name }}
                                </option>
                            </select>
                            </material-dropdown>
                </div>
                <div class="select-wrap dropdown">
                    <select name="" class="no-style select--modify"
                      formControlName="adjustment_choice" (change)="calculationsChanged()">
                      <option value="0" selected>%</option>
                      <option value="1">INR</option>
                    </select>
                </div>
                <div class="input" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.adjustment_amount)">
                    <input twoDigitDecimalNumber type="text" class="error-box" placeholder="" formControlName="adjustment_amount"
                                                          (change)="calculationsChanged()">
                </div>
            </div>

            <div class="px-0  text-end gst-right"> {{ totals.adjustment }}</div>
          </div>

          <div class="gst-main">
            <div class="text-start pt-0 gst-left">
                        <mat-checkbox [disableRipple]="true" (change)="onRoundOffEvent($event)" formControlName="is_roundoff">Round Off</mat-checkbox>
            </div>
            <div class="px-0  text-end gst-right"> {{ totals.roundOffAmount }}</div>
          </div>

          <div class="text-end gst-main">
            <div class="text-end h5"> <strong> Total: </strong></div>
            <div class="px-0 text-end ms-3 h5"><strong>{{ totals.total | numberFormat}} </strong></div>
          </div>
          <div class="text-end gst-main" *ngIf="totals.advanceTotal>0">
              <div class="text-end"> Advance: </div>
              <div class="px-0 text-end ms-3">{{ currency_type?.symbol}} {{ totals.advanceTotal | numberFormat}}</div>
          </div>
          <div class="text-end gst-main" *ngIf="totals.fuelTotal>0">
            <div class="text-end">Fuel:</div>
            <div class="px-0 text-end ms-3 ">{{ currency_type?.symbol}} {{ totals.fuelTotal | numberFormat}}</div>
          </div>
          <div class="text-end gst-main" *ngIf="totals.battaAdvance>0">
            <div class="text-end">  Driver Allowance:</div>
            <div class="px-0 text-end ms-3 ">{{ currency_type?.symbol}} {{ totals.battaAdvance | numberFormat}}</div>
          </div>
          <div class="text-end gst-main">
            <div class="text-end h5"> <strong> BOS Balance: </strong></div>
            <div class="px-0 text-end ms-3 h5"><strong> {{ currency_type?.symbol}} {{ totals.billofSupplyBalance| numberFormat  }} </strong></div>
          </div>
  </div>

<hr>
  <!-- <div class="form-layout__card mg-top-30">
      <div class="table-wrapper table--nobg table-wrapper--mobile">
        <table class="table-container mobileTabelToFlex">
          <tbody>
            <tr class="border-top-0 border-bottom-0">
              <td   class="p-0 disp-none"></td>
              <td  class="p-0">
                <div class="table-wrapper table-wrapper--type1 table--nobg">
                  <table class="table-container">
                    <tbody>
                      <tr class="border-top-0">
                        <td   class="disp-none"></td>
                        <td   class="disp-none"></td>
                        <td   class=" text-end bill-item">Subtotal
                          Challan:</td>
                        <td   class="rupee-symbol rupee-symbol--sm px-0  text-end bill-value">
                          {{totals.subtotal_challan}}
                        </td>
                      </tr>
                      <tr class="border-top-0">
                        <td   class="disp-none"></td>
                        <td   class="disp-none"></td>
                        <td   class=" text-end bill-item">
                          Subtotal Others:
                        </td>
                        <td   class="rupee-symbol rupee-symbol--sm px-0  text-end bill-value">
                          {{totals.subtotal_others}}
                        </td>
                      </tr>
                      <tr class="border-top-0">
                        <td   class="disp-none"></td>
                        <td   class="disp-none"></td>
                        <td   class=" text-end bill-item">
                          Subtotal:
                        </td>
                        <td   class="rupee-symbol rupee-symbol--sm px-0  text-end bill-value">
                          {{ totals.subtotal }}
                        </td>
                      </tr>
                      <tr class="border-top-0">
                        <td   colspan="3" class=" text-end pt-0">
                            <div class="gst">
                             <div class="select-wrap d-inline-block  text-start w-50 coa-option">
                                    <material-dropdown
                                    [selectedOption]="initialValues.adjustmentAccount">
                                    <select #customSelect formControlName="adjustment_account"
                                        class="no-style select--modify">
                                        <option *ngFor="let option of expenseAccountList"
                                            value="{{ option.id }}">{{ option.name }}
                                        </option>
                                    </select>
                                    </material-dropdown>
                              </div>
                            <div class="select-wrap d-inline-block">
                              <select name="" class="no-style select--modify"
                                formControlName="adjustment_choice" (change)="calculationsChanged()">
                                <option value="0" selected>%</option>
                                <option value="1">INR</option>
                              </select>
                            </div>
                            <div class="input-wrap max-wd-70" [ngClass]="addErrorClass(addBillOFSupplyForm.controls.adjustment_amount)">
                              <input twoDigitDecimalNumber type="text" class=" ms-0  d-inline-block rounded-right error-box" placeholder="" formControlName="adjustment_amount"
                                                                    (change)="calculationsChanged()">
                            </div>
                          </div>
                        </td>
                        <td   class="rupee-symbol px-0  text-end pt-0 rupee-symbol--sm"
                          style="pointer-events: none;">
                          {{ totals.adjustment }}
                        </td>
                      </tr>
                      <tr class="border-top-0">
                        <td   colspan="3" class=" text-end pt-0">
                            <div class="gst">
                                <mat-checkbox [disableRipple]="true" (change)="onRoundOffEvent($event)" formControlName="is_roundoff">Round Off</mat-checkbox>
                            </div>
                        </td>
                        <td   class="rupee-symbol px-0  text-end pt-0 rupee-symbol--sm" style="pointer-events: none;">
                            {{ totals.roundOffAmount }}
                        </td>
                    </tr>
                      <tr class="border-top-0">
                        <td colspan="4" class=""></td>
                      </tr>
                      <tr class="">
                        <td colspan="3" class=" text-end bill-total disp-w-50">
                          Total:
                        </td>
                        <td   class="rupee-symbol px-0  text-end bill-total">
                          {{ totals.total }} </td>
                      </tr>
                      <tr class="" *ngIf="totals.advanceTotal>0">
                        <td colspan="3" class=" text-end  bill-item disp-w-50">
                            Advance:
                        </td>
                        <td   class="rupee-symbol px-0  text-end bill-item">
                          {{ currency_type?.symbol}} {{ totals.advanceTotal }} </td>
                    </tr>
                    <tr class="" *ngIf="totals.fuelTotal>0">
                      <td colspan="3" class=" text-end bill-item disp-w-50">
                          Fuel:
                      </td>
                      <td   class="rupee-symbol px-0  text-end bill-item">
                        {{ currency_type?.symbol}} {{ totals.fuelTotal }} </td>
                  </tr>
                      <tr class="" *ngIf="totals.battaAdvance>0">
                        <td colspan="3" class=" text-end bill-item disp-w-50">
                          Driver Allowance:
                        </td>
                        <td   class="rupee-symbol px-0  text-end bill-item">
                          {{ currency_type?.symbol}} {{ totals.battaAdvance }} </td>
                    </tr>
                    <tr class="">
                      <td colspan="3" class=" text-end bill-total disp-w-50">
                        BOS Balance:
                      </td>
                      <td   class="rupee-symbol px-0  text-end bill-total">
                        {{ currency_type?.symbol}} {{ totals.billofSupplyBalance  }} </td>
                  </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->


    <div class="form-layout__card notes mg-top-15">
        <div class="row tabIndexActiveFields">
          <div class="col-xl-3 col-lg-3  col-md-3 col-6">
            <div class="input-wrap mb-0 pb-3">
                <label>Terms and Conditions</label>
                <material-dropdown [searchable]="true" [selectedOption]="initialValues.termsAndCondition" [addable]="false" class="dropDownWidth"
                [addBlank]="true">
                   <select #customSelect formControlName="terms_and_condition" class="no-style select--modify">
                       <option *ngFor="let option of tersmAndConditions " value="{{option.id}}">
                        {{option.name}}
                       </option>
                   </select>
                </material-dropdown>
            </div>
        </div>
          <div class="col-xl-3 col-lg-3  col-md-3 col-6">
            <div class="input-wrap mb-0 pb-3">
                <label>Disclaimer</label>
                <material-dropdown [addBlank]="true" [addable]="true" [disclaimer]="true"
                                   (addDisclaimerPopup)="openAddDisclaimerModal($event)"
                                   [selectedOption]="initialValues.disclaimer"
                                   (addValueToList)="addValueToDisclaimer($event)" [params]="disclaimerParams">
                    <select #customSelect formControlName="disclaimer" class="no-style select--modify">
                        <option *ngFor="let option of disclaimerList" value="{{ option.id }}">
                            {{ option.name }}
                        </option>
                    </select>
                </material-dropdown>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3  col-md-3 col-6">
          <div class="input-wrap clearfix">
            <label for="" class="">Signature</label>
            <div>
              <material-dropdown [selectedOption]="initialValues.digitalSignature">
                <select #customSelect class="no-style select--modify" formControlName="signature">
                  <option *ngFor="let option of digitalSignature " value="{{option.id}}">{{option.name}}
                  </option>
                </select>
              </material-dropdown>
            </div>
          </div>
        </div>
            <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                <div class="input-wrap mb-0 pb-3">
                    <label for="" class="">Narration</label>
                    <input type="text" class="no-style input--bd" placeholder="Comments" value="" formControlName="narrations">
                </div>
            </div>
        </div>
    </div>

      </div>
    </div>
  </div>

  
</form>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end">
    
      <button class="btn btn--sm" type="button" [routerLink]="[prefixurl+'/income/billofsupply/list']">Cancel</button>
      <button class="btn  max-width-150 px-2 mx-2 btn--primary btn--default btn-mg-left btn-w-100 btn--dropdown saveButton"
        (click)="saveButton = !saveButton">Save Bill Of Supply<i class="material-icons">arrow_drop_down</i>
        <div class="more-actions__menu"id="custom-dropdown-top" [ngClass]="{'show': saveButton}">
          <button class="more-actions__item w-100 text-start" type="click" (click)="submitBillOfSupply()">Save & Submit</button>
          <button class="more-actions__item w-100 text-start" type="button" (click)="saveAsDraft()">Save as Draft</button>
        </div>
      </button>
    
  </div>
<app-add-item [itemPopDetail]="showAddItemPopup" (closeModal)="closeItemPopup()" [units]="staticOptions?.itemUnits"
(itemAdded)="addDropDownMaterial($event)"></app-add-item>
<app-add-disclaimer [disclaimerPopDetail]="showAddDisclaimerPopup" (closeModal)="closeDisclaimerPopup()"
    (disclaimerAdded)="setDisclaimer($event)"></app-add-disclaimer>
    <!-- Popup for adding party details -->
 <app-add-party-popup [popDetail]="showAddPartyPopup" (closeModal)="closePartyPopup()"
    (partyAdded)="addPartyToOption($event)"></app-add-party-popup>
<app-charges-popup (dataFromEdit)="editCompleteTripCharges($event)" [showChargesPopup]="showChargesPopup" *ngIf="showChargesPopup.show" [isAddExpense]="false"></app-charges-popup>
<app-edit-trip-new-pop-up (dataFromEdit)="editCompleteTripFreight($event)" [showEditPopup]="showFreightPopup" *ngIf="showFreightPopup.show" [isAddExpense]="false"></app-edit-trip-new-pop-up>
<app-advances-popup *ngIf="showAdvancePopup.show" (dataFromAdvancePopUp)="dataFromAdavnces($event)" [advancesData]="showAdvancePopup"></app-advances-popup>
<app-credit-limit *ngIf="creditLimit.open" [creditLimitData]="creditLimit" (creditLimit)="onCreditLimit($event)"></app-credit-limit>
<app-credit-limit *ngIf="creditOnsaveLimit.open" [creditLimitData]="creditOnsaveLimit" (creditLimit)="onCreditLimitOnSave($event)"></app-credit-limit>
<app-credit-limit *ngIf="creditOnsaveAsDraftLimit.open" [creditLimitData]="creditOnsaveAsDraftLimit" (creditLimit)="onCreditLimitOnSaveDraft($event)"></app-credit-limit>
