.show {
  display: block;
}

.add:before {
  background-color: #0283e547;
}



.section-footer .btn-wrap .btn--primary,
.section-footer .more-actions__menu {
  // min-width: 170px;
}

.section-footer .more-actions__menu {
  width: 100%;
  top: 45px;
  left: initial;
  right: 0;
}

.dropDownOverflow {
  overflow-x: unset;
}

.table-container {
  &.item-table {
    tr {
      &:nth-child(even) {
        display: none;
      }

      &.show {
        display: table-row !important;
      }
    }
  }
}

.table-wrapper--type2 .add {
  display: inline-block;
}

.gst {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div .coa-option {
  width: 570px !important;
}

.max-width-150{
    max-width: 170px;
}

@media (max-width:1000px) {


  div .coa-option {
      width :75px!important;
  }
}






@media (max-width: 480px) {
  .coa-option{
      display: block !important;
      margin-bottom: 5px;
  }
}

.isTax{
  display: none;
}
