.overlay {
  position: fixed !important;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.568);
  z-index: 2; 
}
.modal-dialog,
.modal-lg{
min-width: 82% !important;
}
@media (min-width: 992px){
  .modal-lg, .modal-xl {
    min-width: 82% !important;
  }
}


.overlay
{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.overrride-modal {
  top:0 !important; 
  height:100% !important;
  max-height: 100%;
}