

<div class="ps-4 py-3">
  <button  type="button" class="custom-collapse-toggle py-3" data-bs-toggle="collapse" data-bs-target="#description-toggle" aria-expanded="true" aria-controls="description-toggle">
    <button class="collapse-arrow">
    <i class="bi bi-caret-down-fill " ></i>
    </button> 
    <span class="ms-3">Description</span>
</button>
<div class="collapse custom-collapse-content show def-color" id="description-toggle">
  <ul class="des-list ps-5 ">
    <li><b>Column Visibility:</b> Three states represented
      <ul >
      
        <li ><span class="material-icons eye green-text">visibility</span>&nbsp;:  Column visible everywhere</li>
        <li><span class="material-icons eye_off eye">visibility_off</span>&nbsp;:  Column not visible anywhere  </li>
        <li><span class="material-icons eye eye_hide">visibility</span> &nbsp;: Column will always be visible</li>
      </ul>
    </li>
    <li><b>Make Private?:</b> Option to make columns visible only within the team, excluding them from client PDFs or Client Portal.</li>
    <p class="ms-4"><span  class="gb-private-icon " >p</span> : Icon will show which field is private in table</p>
    </ul>

    
 
</div>

</div>
<div class="container-fluid shadow-inset-top-bottom  py-3 px-5">
<div class="row  gx-4">
  <div class="col-lg-6">
  <button class="tab-btn " [ngClass]="{'active':selectedTab==1}" (click)="selectedTab=1">Customer Freight</button>
</div>
<div class="col-lg-6">
  <button class="tab-btn">Other Charges</button>
</div>
</div>
</div>


<app-custom-field-v2 previewName="Customer Freight" customFieldUrl="quotation/cf/freight/" *ngIf="selectedTab==1"></app-custom-field-v2>
<!-- <app-custom-field-v2 previewName="Other Charges" customFieldUrl="addfdfds" *ngIf="selectedTab==2"></app-custom-field-v2> -->
