.form-layout {
  &.no-br-tl {
      border-top-left-radius: 0px;
  }
  &.no-br-tr {
      border-top-right-radius: 0px;
  }
}

.datepicker-width-fix {
  max-width: 20% !important;
}

.select-wrap {
  &.error {
      .add-hsn {
          border: 1px solid #eb1e4a;
          &::placeholder {
              color: #eb1e4a;
          }
      }
  }
}

.dropdownOverlay {
  overflow-x: unset;
}

.modal {
  &.show {
      display: block;
  }
}

.vechclePositionerror{
border: 1px solid red !important;
border-radius: 4px !important;
}

.errorclass{
color: red;
font-size: 12px;
margin-top:6px;
margin-left: 4px;
margin-bottom: 10px;
}

.input-wraps {
  .top-level-field-border {
    border: 1px solid #9facb8;
    border-radius: 3px;
    height: 30px;
    margin-top: 9px;
    margin-left: -20px;
    // text-align: center;
  }

  &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
  }
}

.col-form-label{
padding-right: 0px;
}

.table-wrapper--type2  .add{
display: unset;
}


.tyre-number {
cursor: pointer;
color: #53b1f1;
font-size: 10px;
}
.tyre-number input{
display: inline-block;
width: 50%;
height:14px;
}

.col-form-label {
line-height: 2.5;
}

.table-wrapper--type1 .table-container td input, .table-wrapper--type1 .table-container td select {
  width: 100%;
  border: 1px solid #bcc7d1;
  border-radius: 3px;
  padding: 0px 0px 0px 0px !important;
  height: 12px !important;
}
