
<ng-container >
    <div class="def-color">
        <div class="d-flex justify-content-between align-items-center py-2 px-3">
            <p class="fw-semibold"> Inspection Forms</p>
            <button class="btn btn--primary" [routerLink]="[preFixUrl+'/organization_setting/settings/inspection-forms']" [queryParams]="{inspectionType : 'vehicle'}"> + Add Inspection Form </button>
        </div>
        <div class="addable-row-table mx-2 mb-2 def-color addable-row-table-display">
            <table>
                <thead>
                    <tr>
    
                        <th >S NO.</th>
                        <th  class="ws-nowrap">FORM NAME </th>
                        <th  class="text-center">DESCRIPTION </th>
                        <th></th> 
    
                    </tr>
                </thead>
                <tbody *ngIf="vehicleInspectionDetails.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No Inspection details configured!</h5>
                            </div>
                        </td>
                    </tr>
    
                </tbody>
                <tbody >
                        <tr  *ngFor="let data of vehicleInspectionDetails;let i = index">
                            <td>{{i+1}}</td>
                            <td >{{data?.form_name}}</td>
                            <td>{{data?.description}}</td>
                            <td >
                                <div  class="d-flex align-items-center justify-content-end">
                                    <button  class="gb-btn-hover me-2 cursor-pointer" [routerLink]="[preFixUrl+'/organization_setting/settings/inspection-forms/',data?.id]" [queryParams]="{inspectionType : 'vehicle',canClone : false}"><i  class="material-icons def-color fs-5">edit</i></button>
                                    <button  class="gb-btn-hover me-2 cursor-pointer" [routerLink]="[preFixUrl+'/organization_setting/settings/inspection-forms/',data?.id]" [queryParams]="{inspectionType : 'vehicle',canClone : true}"><span class="material-symbols-outlined">content_copy</span></button>
                                    <button  (click)="deleteVehicleInspection(data.id,data?.form_name)" class="gb-btn-hover me-2 cursor-pointer"><i  class="material-icons text-danger fs-5">delete</i></button>
                                </div>
                            </td>
                        </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

