<div  *ngIf="!filterDataList?.length" >
  <div class="no-list-data-wrap" style="height: calc(100vh - 220px);" >
    <figure>
      <img src="assets/img/no-content.png" alt="">
    </figure>
    <h5 class="mt-3 primary-brand-text">No data found!</h5>
  </div>
  
</div>
<div class="alert-msg" *ngIf="apiError">
  <span class="icon-wrap"></span>
  <p class="message-cont">{{ apiError }}</p>
</div>
<div class="form-layout" [ngClass]="{'invoice-list': routeToDetail}">
  <div class="table-section" *ngIf="filterDataList?.length" [ngClass]="{'table-section--sm': routeToDetail&&!isMobile}">
    <div class="table-header" [ngClass]="{'table-header--shrinked': routeToDetail&&!isMobile}">
      <div class="row tabIndexActive">


          <div class="table-header__right align-left-lg justify-content-end mt-0">
            <div id="demo-2" class="search flex-grow-1" *ngIf="isSearchEnable">
              <input type="search" placeholder="Search..." [(ngModel)]="searchValue" (ngModelChange)="searchEvent()">
            </div>
            <button class="btn btn-primary xlxs hide_onClick excelIcon" *ngIf="isExportEnable" (click)="downLoadXls()">Export to Xlsx</button>
            <div class="select-wrap" *ngIf="isShowingEnable">
              <span class="show-text">Showing</span>
              <select [(ngModel)]="filterBy" name="" class="no-style select--modify" (ngModelChange)="showItemBy()">
                <option *ngFor="let num of filterList" value="{{num.value}}">{{num.key}}</option>
              </select>
            </div>
            <ng-container *ngIf="filterDataList?.length>0 && isFilterEnable ">
              <button class="btn--action mg-left-10 hide_onClick py-1" [ngClass]="{'filterOpen':showFilter }" (click)="showFilter = !showFilter">
                <span  *ngIf="isFilterApplied && !showFilter" class="material-icons filterBullet">
                  fiber_manual_record
                  </span>
                  <img *ngIf="!isFilterApplied && !showFilter" src="assets/img/filter-icon.svg" alt="">
                  <img *ngIf="isFilterApplied && !showFilter" src="assets/img/filter_icon_2.svg" alt="">
                  <img *ngIf="showFilter" src="assets/img/filter-icon-svg-3.svg" alt="">
              </button>
                <app-filter [config]="filterOptions"  *ngIf="filterDataList?.length>0 && isFilterEnable "[data]="filterDataList" [visible]="showFilter"
                    (onApplied)="filterApplied($event)" (onClear)="filterApplied($event)"></app-filter>
            </ng-container>
            <button *ngIf="routeToDetail && isDetailsEnable" class="btn--action mg-left-10 py-1" (click)="openDetails()">
              <i class="material-icons">close</i>
            </button>
          </div>

      </div>
    </div>

    <div>
      <ng-content select="[id=tableList]"></ng-content>
    </div>

  </div>
  <div class="table-section table-section--lg" *ngIf="routeToDetail &&!isMobile">
    <ng-content select="[id=listWebDetails]"></ng-content>
  </div>
  <div class="modal fade" [ngClass]="{'show':routeToDetail &&isMobile}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--xls" role="document">
      <div class="modal-content">
        <button class="close-icon me-3 ms-auto" (click)="onClickCancel()">
          <mat-icon>highlight_off</mat-icon>
        </button>
        <ng-content select="[id=listMobileDetails]"></ng-content>
      </div>
    </div>
  </div>
  <div *ngIf="routeToDetail &&isMobile" class="modal-backdrop fade show"></div>
</div>

