<div >
  <button matRipple type="button" class="custom-collapse-toggle py-3 px-4 w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#description-toggle" aria-expanded="true" aria-controls="description-toggle">
    <button class="collapse-arrow">
    <i class="bi bi-caret-down-fill " ></i>
    </button> 
    <span class="ms-3">Description</span>
</button>
<div class="collapse custom-collapse-content  def-color" id="description-toggle">
  <ul class="des-list ps-5 ">
    <li><b>Column Visibility:</b> Three states represented
      <ul >
      
        <li ><span class="material-icons eye green-text">visibility</span>&nbsp;:  Column visible everywhere</li>
        <li><span class="material-icons eye_off eye">visibility_off</span>&nbsp;:  Column not visible anywhere  </li>
        <li><span class="material-icons eye eye_hide">visibility</span> &nbsp;: Column will always be visible</li>
      </ul>
    </li>
    <li><b>Make Private?:</b> Option to make columns visible only within the team, excluding them from client PDFs.</li>
    <p class="ms-4"><span  class="gb-private-icon " >p</span> : Icon will show which field is private in table</p>
    </ul>
</div>

</div>
<div >  

    <div class="d-flex justify-content-between align-items-center">
      <button matRipple  type="button" class="custom-collapse-toggle ws-nowrap py-3 px-4 w-100 " data-bs-toggle="collapse" data-bs-target="#customer-freight-toggle" aria-expanded="true" aria-controls="customer-freight-toggle">
        <button class="collapse-arrow">
        <i class="bi bi-caret-down-fill " ></i>
        </button> 
        <span class="ms-3 ">{{previewName}}</span>
  </button>
  </div>
    <div class="collapse custom-collapse-content show def-color " id="customer-freight-toggle">
      <div class="d-flex justify-content-between def-color fw-semibold my-3 mb-4 px-4">
        <span>Preview</span>
        <div>
        <span class="me-4 ">Client Column: <span class="green-text">{{clientColumn}} </span>/{{maxClientColumn}}</span>
        <span > Active Column: <span class="primary-brand-text">{{activeColumn}}</span></span>
  
      </div>
      </div>
      <div class="px-4">
        <div class="overflow-auto">
        <table>
          <thead>
            <tr> 
              <ng-container  *ngIf="showOnlyNonPrivate">
                <ng-container *ngFor="let col of selectedColumnList" >
                  <ng-container *ngIf="!col.is_private">
                    <th *ngIf="col.field_for =='column'">
                      {{col.field_label}} 
                    </th>  
                  </ng-container>
                 
    
                </ng-container>
              </ng-container>
              <ng-container  *ngIf="!showOnlyNonPrivate" >
                <ng-container *ngFor="let col of selectedColumnList" >
                  <th *ngIf="col.field_for =='column'">
                    {{col.field_label}} <span  *ngIf="col.is_private"class="gb-private-icon " [matTooltip]="'This is a private column'" matTooltipClass="material-toltip-class" matTooltipPosition="above">p</span>
                  </th>  
    
                </ng-container>
              </ng-container>
            
             
            </tr>
          </thead>
          <tbody>
            <tr>
  
              <ng-container  *ngIf="showOnlyNonPrivate">
                <ng-container *ngFor="let col of selectedColumnList" >
                  <ng-container *ngIf="!col.is_private">
                    <td  *ngIf="col.field_for =='column'">
                      <ng-container  *ngIf="['amount','decimal'].includes(col.field_type)" >0</ng-container>
                      <ng-container  *ngIf="col.field_type =='date'" >DD/MM/YYYY</ng-container>
                      <ng-container  *ngIf="col.field_type =='string'" >
                        <ng-container *ngIf="col.key=='item'">
                          Input
                          <ng-container *ngIf="descriptionList.length>0">
                            <p class="fw-bold pt-2">{{defaultRentalChargeTerm}}</p>
                            (<span>{{descriptionList.join(', ')}}</span>)
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="col.key!='item'">
                          Input
                        </ng-container>
                      </ng-container>
                      <ng-container  *ngIf="col.field_type =='select_option'" >
                        Select 
                      </ng-container>              
                    </td>  
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container  *ngIf="!showOnlyNonPrivate">
                <ng-container *ngFor="let col of selectedColumnList" >
                  <td  *ngIf="col.field_for =='column'">
                    <ng-container  *ngIf="['amount','decimal'].includes(col.field_type)">0</ng-container>
                    <ng-container  *ngIf="col.field_type =='date'" >DD/MM/YYYY</ng-container>
                    <ng-container  *ngIf="col.field_type =='string'" >
                      <ng-container *ngIf="col.key=='item'">
                        Input
                        <ng-container *ngIf="descriptionList.length>0">
                          <p class="fw-bold pt-2">{{defaultRentalChargeTerm}}</p>
                          (<span>{{descriptionList.join(', ')}}</span>)
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="col.key!='item'">
                        Input
                      </ng-container>
                    </ng-container>
                    <ng-container  *ngIf="col.field_type =='select_option'" >
                      Select
                    </ng-container>              
                  </td>  
                </ng-container>
              </ng-container>
            
            
            </tr>
            <tr >
            </tr>
  
  
          </tbody>
        </table>
      </div>
      <form [formGroup]="configFieldForm" >
        <div class="d-flex pt-4 pb-4 gap-2">
          <div class="toggle-wrapper d-flex align-items-center h-100">
            <label for="show_pdf_columns" class="toggle-switch">
                <input type="checkbox" id="show_pdf_columns"  formControlName="show_pdf_columns" (change)="showPdfColumns()">
                <span class="toggle-box" >
                    <span class="toggle-circle"></span>
                </span>
            </label>
            <span class="toggle-label ps-3">Show only columns visible to Client.</span>
        </div>
        <div class="toggle-wrapper d-flex align-items-center h-100">
          <label for="hide_pdf_empty_columns" class="toggle-switch">
              <input type="checkbox" id="hide_pdf_empty_columns"  formControlName="hide_pdf_empty_columns" (change)="hidePdfEmptyColums()">
              <span class="toggle-box" >
                  <span class="toggle-circle"></span>
              </span>
          </label>
          <span class="toggle-label ps-3">Hide the column from PDF if no data is found.</span>
      </div>
        </div>
      </form>
      </div>
    </div>
    
    
    </div>
  
  <form [formGroup]="configFieldForm" class="def-color pb-2">
      <div formArrayName="config_field">
          <div class="row mx-0 custom-footer-bg py-3 fw-semibold border-top border-bottom">
              <div class="col-md-2 pe-0">
  
              </div>
              <div class="col-md-3 pe-0 fs-12">
                  FIELD NAME
              </div>
              <div class="col-md-2 pe-0 fs-12">
                  FIELD AS
              </div>
               <div class="col-md-2 pe-0 fs-12">
                  SHOW IN
              </div>
              <div class="col-md-1 pe-0"> 
  
              </div>
   
             </div>
        <div cdkDropList  
          (cdkDropListDropped)="drop($event)" class="drag-list">
          <div *ngFor="
              let control of configFieldForm.controls.config_field['controls'];let i = index "  cdkDrag class="drag-item py-2">
            <div class="row  mx-0" [formGroupName]="i">
              
             <div class="col-md-2 pe-0 d-flex align-items-center justify-content-around ">
              <mat-icon class="indicator-icon def-color drag-icon"  cdkDragHandle >drag_indicator</mat-icon>  
              <ng-container  *ngIf="control.get('display').value=='1'">
                <mat-icon style="color: #ACB5BD;" class="disabled" > visibility</mat-icon>
              </ng-container>
  
              <ng-container  *ngIf="control.get('display').value!='1'"> 
                <mat-icon [ngClass]="control.get('display').value=='2'?'green-text':'def-color'" (click)="changeVisibility(control)"> {{control.get('display').value=='2'?'visibility':'visibility_off'}}</mat-icon>
              </ng-container>
       
          </div>
  
              <ng-container>
                <div class="col-md-3 pe-0 mb-0 custom-box-input-wrap">
                  <input type="text" class="box-input" [readonly]="!control.get('field_label_editable').value"   [ngClass]="{'disabled-bg':!control.get('field_label_editable').value,'fieldError':control.get('field_label').invalid}"  placeholder="123456" value="" formControlName="field_label" (change)="changeFieldName(control)" >
                  <p style="margin: 1px ; color: red;" *ngIf="control.get('field_label').touched && control.get('field_label').hasError('required')">This field is required</p>
                 </div>
                 <div class="col-md-2 pe-0 custom-box-input-wrap mb-0">
                  <mat-form-field [ngClass]="{'disabled-bg':!control.get('field_for_editable').value}" >
                    <mat-select  formControlName="field_for" [disabled]="!control.get('field_for_editable').value" (selectionChange)="changeFieldFor(control)" >
                      <mat-option value="column">As Column</mat-option>
                      <mat-option value="description">Part of Description</mat-option>
                    </mat-select>
                  </mat-form-field>
                 </div>
                 <div class="col-md-2 pe-0 custom-box-input-wrap mb-0">
                  <mat-form-field [ngClass]="{'disabled-bg':!control.get('field_on_editable').value}" >
                    <mat-select  formControlName="field_on" [disabled]="!control.get('field_on_editable').value" (selectionChange)="changeFieldOn(control)" >
                      <mat-option value="all">All Line Items</mat-option>
                      <mat-option value="fr_only">Freight/Rental Only</mat-option>
                       <mat-option value="cd_only">Charges and Deductions Only</mat-option>
                    </mat-select>
                  </mat-form-field>
                 </div>
                 <div class="col-1 pe-0 d-flex align-items-center justify-content-center">
                  <button  class=" custom-delete-btn" [disabled]="!control.get('is_deletable').value"><i
                    class="material-icons ">delete</i></button> 
                 </div>
                 <ng-container  *ngIf="control.get('display').value!='1'"> 
                  <div class="col-10 offset-2"><mat-checkbox class="mt-2 def-color" formControlName="is_private" (change)="changePrivate(control)">Make private?</mat-checkbox>
                    <span class="fs-12px ms-2 warn-text" *ngIf="control.get('error_msg').value">You already selected {{maxClientColumn}}  columns, If you want to view this column then hide another column or make it private.</span>
                    <span class="fs-12px ms-2 warn-text" *ngIf="control.get('api_error').value">Column Name already exists. Try different name.</span>
                  </div>
                  </ng-container>
              </ng-container>
            </div>
            
          </div>
       
        </div>
      </div>
    </form>
  
  