@import "../../../../../../../assets/styles/helpers/variable";
.des-list{
  list-style: unset;
  li{
      margin-bottom: 12px;
  };
  ul{
      margin: 20px 50px;
      list-style: unset;
  }
  
}

.eye{
  font-size: 20px;
  margin-right: 0 4px;
  vertical-align: middle;
  &_off{
      color: #4E515C;
  }
  &_hide{
      color: #ACB5BD;
  }
}
.toggle-switch{
  height: 20px;
}
.drag-list {
  
  background: white;
 
  overflow: hidden;
}

.drag-item {
 
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  
}


.cdk-drop-list-dragging {
  cursor: grabbing;
}



.drag-icon:hover {
  cursor: grab;
}
.drag-icon:active {
  cursor: grabbing;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-item:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  
}

// .cdk-drag-disabled  {
//   background: #ebe9e9;
//   cursor: not-allowed;
//   user-select: none;
// }

.disabled{
  color: #6c6969;
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}




table{
    width: 100%;
    th{
        font-size: 12px;
        white-space: nowrap;
    }

    th, td {
        border: 1px solid #CECECE;
        border-collapse: collapse;
        padding: 20px 7px;
        

}

}
.preview{
    border: 1px solid #ACB5BD;
    padding: 13px 20px;
    max-width: 300px;
    border-radius: 6px;
margin-left: 20px
}

.disabled-bg{
  background-color: #adadae;
}


.fieldError{
  border:1px solid red
}
