
@import "../../../../../../../../assets//styles/helpers/variable";
.fake-tab-bar {
    background-color: #eaeaea;
    height: 51px;
    padding-top: 2.5px;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #676A6E;
        background-color: #fefefe;
        border-radius: 6px 6px 0 0;
        height: 100%;
        max-width: 180px;
    }
}
.select-veh-truck{
    font-size: 120px ;
   
    color: #B2B2B2;

}
.select-veh-text{
    font-size: 16px ;
    color: #B2B2B2;
    font-weight: 600;
    margin-top: 30px;

}


  .error-reg {
    color: #eb1e4a;
    font-size: 12px;
  }
  .dummy-input{
    height: 30px;
  }
 

  

.veh-type{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 0px 0px 3px #00000029;
border: 1px solid #BBBBBB;
padding: 10px 40px;
border-radius: 4px;
width: 187px;
cursor: pointer;
transition: all 200ms ease-in-out ;
&.active{
  border: 1px solid $primary-brand-color;
  box-shadow: 0px 0px 3px $primary-brand-color;
}
&:hover{
  background-color: #f2f2f2cd;
  transform: translateY(-3px);
}
  img{
    display: block;
  width: 55px;
  
  margin: auto;

  }
  
}
.taberror {
  color: red !important;
}