@import "../../../../../../../assets/styles/helpers/variable";

.main-wrap {
  display: flex;
}

.form-wrap {
  width: 70%;
}

.map-wrap {
  width: 30%;
  color: #676a6e;
  // box-shadow: -5px 0 5px -5px #d5d5d5;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

  .google-map-box {
    width: 100%;
    height: 300px;
    padding: 7px;
    position: relative;
  }

  .map-top {
    width: 100%;
    min-height: 60px;
    background: #eaeaea;
    padding-top: 3px;
  }

  .map-bottom {
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;

    p {
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
}

.map-top>div {
  border-radius: 5px 5px 0 0;
  background-color: $layout-bg;
  display: flex;
  align-items: center;
  width: 100%;
  height: 57px;
  justify-content: space-around;

  div:nth-child(1) {
    p {
      font-size: 18px;
    }
  }

  div:nth-child(2) {
    p {
      font-size: 12px;
      margin-top: 7px;
      display: block;
    }
  }
}

.tabIndexActiveFields {
  padding: 20px 20px 20px 20px;
}

.example-list {
  padding-top: 3px;
  // width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: #eaeaea;
  overflow-x: auto;
}

.indicator-icon {
  color: #bbbbbb;
}

.indicator-icon+div>p:nth-child(1) {
  font-size: 12px;
  color: #676a6e;
  margin-bottom: 5px;
}

.indicator-icon+div>p:nth-child(2) {
  font-size: 14px;
  color: #676a6e;
  font-weight: 600;
}

.example-box {
  padding: 12px 10px;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: move;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  // width: fit-content;
  min-width: 220px;
}

.example-box::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  top: 50%;
  left: 0px;
  background: #acb5bd;
  transform: translateY(-50%);
}

//initial design for example box if location is ""

.initial-design {
  position: relative;
}

.initial-design p.initial-title {
  position: absolute;

  font-size: 15px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-list>.example-box:first-child::before {
  opacity: 0;
}

.active {
  border-right: solid 1px #ccc;
  background: $layout-bg;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
}

.active::before {
  opacity: 0;
}

.active+.example-box::before {
  opacity: 0;
}

.add-btn {
  padding: 10px 25px;
  font-size: 22px;
  cursor: pointer;
}

.remove-destination-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
  color: #676a6e;
}

.halt-time-wrap {
  margin-top: -4px;
  display: flex;
  justify-content: space-between;



  .time-input-field {
    position: relative;
    width: 28%;


    .time-input-label {
      position: absolute;
      top: 0%;
      left: 7px;
      z-index: 1;
      font-size: 10px;
      font-weight: 600;
      transform: translateY(-50%);
      background-color: $layout-bg;

      padding: 0 3px;
      opacity: 1;
      transition: all 300ms ease;
      color: #676A6E;

    }
  }



  div {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 100%;
    height: 100%;

    &::placeholder {
      text-align: center;
    }

    &:focus+.time-input-label {
      opacity: 1 !important;

    }

    &:placeholder-shown+.time-input-label {
      opacity: 0;
    }



    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
  }


}

.input-wrap label {
  font-weight: 600;
  color: #676a6e;
}


.input-wrap.m-no-prefix {
  margin-right: 7px;
}

.mobile-no-wrapper input {
  margin-left: 0px !important;
}

.time-input-field .input--bd.sm-time-input {
  padding: 5.5px 7px;
  font-size: 14px;
  border: 1.4px solid #A4B1BC;
  border-radius: 6px;


  &::placeholder {
    font-size: 13px;
    text-align: center;
  }
}
.mobile-no-wrapper > .mobile-no{
  width: calc(100% - 97px);
}


:host ::ng-deep {
  .country-prefix .input--bd {
    margin-top: 0.02px;
    padding-left: 30px;
    width: 90px;
  }

}



.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}




.mobile-no-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;


  img {
    width: 25px;
    border-radius: 3px;
    margin-right: 7px;
    position: absolute;
    top: 2px;
    left: 0;

  }

}

.update-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    background-color: #4cacfe;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    padding: 12px;


    &:hover {
      transform: scale(1.05);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview::before {
  opacity: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tooltip:hover {
  opacity: 1;
}

#overlay {
  position: absolute;
  display: none;
  width: calc(100% - 14px);
  height: calc(100% - 7px);
  top: 7px;
  left: 7px;
  background-color: rgb(47 47 47 / 90%);
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
    display: block;

    margin: 0 auto;
    margin-bottom: 25px;
  }

  p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    line-height: 20px;
  }

}



.location-text {
  font-size: x-small;
}

.invalid {
  color: red !important;
}

.sm-time-input-error {
  border: 1.5px solid red !important;
}

.point-type {
  position: absolute;
  top: 1px;
  left: 84px;
}

.tool-tip-position {
  position: absolute;
  top: 1px;
  left: 73px;
}
.tool-tip-position.lower {
  position: absolute;
  top: 1px;
  left: 105px;
}

.start-date-and-time {
  left: 158px;
}

.reach-time {
  left: 90px;
}

.map-tooltip-position {
  position: absolute;
  right: 126px;
}

@media screen and (max-width: 1000px) {
  .form-wrap {
    width: 100%;
  }

  .map-wrap {
    width: 100%;
  }

}