<div class="main-wrap flex-lg-row flex-column ">
  <div class="form-wrap ">
    <form [formGroup]="multipleDestinationForm">
      <div formArrayName="start_end_destination">
        <div cdkDropList cdkDropListOrientation="horizontal" id="drop-down-container" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" (click)="selectedTab(i)"
            [ngClass]="{ active: i == selectedIndex ,'initial-design':control.get('location').get('name').value==''}"
            *ngFor="
              let control of multipleDestinationForm.controls
                .start_end_destination['controls'];
              let i = index
            " cdkDrag [cdkDragDisabled]="i+1<=disabledIndex">
            <ng-container>
              <mat-icon class="indicator-icon">drag_indicator</mat-icon>
              <div [ngClass]="{'disabled':i+1<=disabledIndex}">
                <p [ngClass]="{ invalid: control.invalid && control.touched  && !isFormvalid }" class="initial-title">
                  Destination&nbsp;{{ i +1}}
                </p>
                <p class="location-text">
                  {{
                  control["controls"].location.value["name"] | ellipsis : 20
                  }}
                </p>
              </div>
            </ng-container>
            <button class="remove-destination-btn" *ngIf="
                multipleDestinationForm.controls.start_end_destination[
                  'controls'
                ].length > 2 && i+1> disabledIndex
              " (click)="removeDestination(i)">
              &#10006;
            </button>
          </div>
          <button (click)="addNewDestination()" class="add-btn">+</button>
        </div>

        <ng-container *ngFor="
            let control of multipleDestinationForm.controls
              .start_end_destination['controls'];
            let i = index
          ">

          <div [formGroupName]="i" [ngClass]="{'disabled':i+1<=disabledIndex}">
            <ng-container *ngIf="i == selectedIndex">
              <div class="row mx-0 tabIndexActiveFields p-4  pb-0 ">
                <div class=" col-lg-4  col-md-6">
                  <div class="input-wrap dropdownArrow">
                    <label class="input--required">Point Type</label>
                    <app-tool-tip class="point-type" [totalSlides]="pointTypeToolTip.content.length" position="right"
                      [toolTipContent]="pointTypeToolTip"></app-tool-tip>
                    <material-dropdown [searchable]="true" [disabled]="i+1<=disabledIndex" [addable]="true" class="dropDownWidth" [addBlank]="false"
                      [postApiUrl]="pointOfTypeUrl" [params]="pointOfTypeParam"
                      (postApiResponse)="getNewPointOfType($event,i)" (addValueToList)="addNewPointOfType($event)"
                      [selectedOption]="initialValues.point[i]">
                      <select #customSelect formControlName="point_type" class="no-style select--modify">
                        <option *ngFor="let option of pointTypeList" [value]="option?.id">
                          {{ option?.label }}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-4 col-6">
                  <div class="input-wrap clearfix error" [ngClass]="addErrorClass(multipleDestinationForm.get('start_end_destination').controls[i].get('area'))">
                    <div class="location-input">
                      <label class="input--required">Location 
                      </label>
                      <div class="show-in-invoice" *ngIf="canDisplayShowInInvoice">
                          <mat-checkbox  class="fw-semibold def-color" formControlName="show_in_invoice"  color="primary" >Show In Invoice</mat-checkbox>
                      </div>
                  </div>  
                    <div>
                      <material-dropdown [searchable]="true" [addable]="true"
                      [postApiUrl]="areaApi"
                      [params]="areaParams"
                      (postApiResponse)="getNewArea($event,control,i)"
                      (addValueToList)="addNewArea($event,i)"
                        [selectedOption]="control.get('area_label').value">
                        <select #customSelect formControlName="area" class="no-style select--modify" (change)="areaSelected(control)">
                          <option *ngFor="let option of areaList" value="{{ option?.id }}">
                            {{ option?.label }}
                          </option>
                        </select>
                      </material-dropdown>
                      <app-error [controlName]="multipleDestinationForm.get('start_end_destination').controls[i].get('area')"></app-error>
                    </div>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6">
                  <div class="input-wrap clearfix">
                    <label class="input">Map Coordinate </label>
                    <app-tool-tip class="tool-tip-position lower" [totalSlides]="locationToolTip.content.length"
                      position="top" [toolTipContent]="locationToolTip"></app-tool-tip>
                    <app-location-v2 [isnameRequired]="false" [disabled]="i+1<=disabledIndex" [isFromToInvalid]="isFromToInvalid" (placeDetails)="locationSelected($event, i)"
                      [placeForm]="control['controls'].location"></app-location-v2>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6">
                  <div class="input-wrap clearfix ">
                    <label for="" class="">Job Task</label>
                    <app-tool-tip class="tool-tip-position" [totalSlides]="tripTaskToolTip.content.length"
                      position="top" [toolTipContent]="tripTaskToolTip"></app-tool-tip>
                    <app-check-list [disabled]="i+1<=disabledIndex" (selectedCheckList)="selectedCheckList($event, control)"
                      [selectedList]="control['controls'].checklist.value"></app-check-list>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6" *ngIf="i == 0 && isShowTime">
                  <div class="input-wrap">
                    <label for="" class="input--required">Schedule Date & Time</label>
                    <app-tool-tip class="tool-tip-position start-date-and-time"
                      [totalSlides]="scheduleDateandtimeToolTip.content.length" position="right"
                      [toolTipContent]="scheduleDateandtimeToolTip"></app-tool-tip>
                    <app-date-and-time-picker [disabled]="i+1<=disabledIndex" (dateTimeSelected)="dateTimeSelected($event)" [control]="control.get('time')"></app-date-and-time-picker>
                  </div>

                </div>
                <div class="col-lg-4 col-md-6" *ngIf="i != 0 && isShowTime">
                  <div class="input-wrap">
                    <label for="" class="input">Reach Time</label>
                    <app-tool-tip class="tool-tip-position reach-time" [totalSlides]="reachTimeToolTip.content.length"
                      position="right" [toolTipContent]="reachTimeToolTip"></app-tool-tip>
                    <app-date-and-time-picker [disabled]="i+1<=disabledIndex" [control]="control.get('reach_time')" ></app-date-and-time-picker>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6" [ngClass]="{'disabled':i+1<=disabledIndex}" [attr.tabindex]="disabledIndex>0 ? -1 : 0">
                  <div class="input-wrap clearfix">
                    <label for="" class="">Halt Time</label>
                    <app-tool-tip class="tool-tip-position" [totalSlides]="haltTimeToolTip.content.length"
                      position="right" [toolTipContent]="haltTimeToolTip"></app-tool-tip>
                    <ng-container formGroupName="halt_time">
                      <div class="halt-time-wrap">
                        <div class="time-input-field">
                          <input positiveDigitNumber type="text" class="no-style input--bd sm-time-input"
                            placeholder="Days" value="" formControlName="day"  [readOnly]="i+1<=disabledIndex" (change)="getTotalEstimateKMSandTime()" />
                          <span class="time-input-label">Days</span>
                        </div>
                        <div>:</div>
                        <div class="time-input-field">
                          <input [ngClass]="{
                            'sm-time-input-error': control
                              .get('halt_time')
                              .get('hour')
                              .hasError('max')
                          }" positiveDigitNumber type="text" class="no-style input--bd sm-time-input"
                            placeholder="Hours" value="" formControlName="hour" [readOnly]="i+1<=disabledIndex"
                            (change)="getTotalEstimateKMSandTime()" />
                          <span class="time-input-label">Hours</span>
                        </div>
                        <div>:</div>
                        <div class="time-input-field">
                          <input [ngClass]="{
                            'sm-time-input-error': control
                              .get('halt_time')
                              .get('minute')
                              .hasError('max')
                          }" positiveDigitNumber type="text" class="no-style input--bd sm-time-input"
                            placeholder="Minutes" value="" formControlName="minute" [readOnly]="i+1<=disabledIndex"
                            (change)="getTotalEstimateKMSandTime()" />
                          <span class="time-input-label">Minutes</span>
                        </div>
                      </div>
                    </ng-container>
                    <p class="invalid" *ngIf="
                        control.get('halt_time').get('hour').hasError('max')
                      ">
                      Max. 23 number is allowed
                    </p>
                    <p class="invalid" *ngIf="
                        control.get('halt_time').get('minute').hasError('max')
                      ">
                      Max. 59 number is allowed
                    </p>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6">
                  <div class="input-wrap dropdownArrow">
                    <label for="">Point Of Contact (Name)</label>
                    <material-dropdown [disableLastInput]="true" [disabled]="i+1<=disabledIndex"  (nonOptionSetValue)="setContactPerson($event,i)"
                      [selectedOption]="initialValues.contactName[i]">
                      <select #customSelect class="no-style select--modify" formControlName="contact_name"
                        (change)="onContactPersonSelection($event.target.value,i)">
                        <option *ngFor="let option of contactPersonList " value="{{option.name}}">{{option.name}}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </div>

                <div class=" col-lg-4 col-md-6 input-wrap mb-0">
                  <label [ngClass]="{'input--required':control?.get('contact_name')?.value!=''}">Point Of Contact
                    (Mobile)</label>
                  <div class="mobile-no-wrapper d-flex align-items-start" formGroupName="contact_no">
                    <img [src]="control['controls'].contact_no.value['flag']" />
                    <div class="input-wrap m-no-prefix clearfix country-prefix">

                      <material-dropdown [searchable]="true" [disabled]="i+1<=disabledIndex" [selectedOption]="initialValues.countryCode[i]">
                        <select #customSelect formControlName="code" class="no-style select--modify"
                          (change)="onCountryCodeSelection(control,i)">
                          <option *ngFor="let option of countryPhoneCodeList" [value]="option?.phone_code">
                            {{ option?.phone_code }}
                          </option>
                        </select>
                      </material-dropdown>
                    </div>
                    <div class="input-wrap clearfix error mobile-no"
                      [ngClass]="addErrorClass(control.get('contact_no').get('number'))">
                      <input type="number" class="no-style input--bd" placeholder="Number" value="" [readOnly]="i+1<=disabledIndex"
                        formControlName="number" />
                      <app-error [controlName]="control.get('contact_no').get('number')"></app-error>

                    </div>

                  </div>

                </div>
                <div class="col-12 update-btn-container " *ngIf="disabledIndex==0">
                  <button type="button" *ngIf="isUpdateActive" (click)="openRoutePopUp('update')">
                    Update Route
                  </button>
                  <button type="button"
                    *ngIf="!selectedRoute&& multipleDestinationForm.valid && routePopUpData.customerId "
                    (click)="openRoutePopUp('save')">
                    Save Route
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="map-wrap">
    <div class="map-top">
      <div>
        <div></div>
        <div *ngIf="destinationWithLngLat">
          <p>
            <span class="fw-bold"> Total  KMS: </span>{{ totalKmsAndTimeTaken.kms }} KM
          </p>
          <p>
            <span class="fw-bold"> Total  Time : </span>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.days>0">
              <span *ngIf="totalKmsAndTimeTaken.time.days==1 else days">
                1 Day ,
              </span>
              <ng-template #days>
                <span>
                  {{totalKmsAndTimeTaken.time.days}} Days ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.hours>0">
              <span *ngIf="totalKmsAndTimeTaken.time.hours==1 else hours">
                1 Hour ,
              </span>
              <ng-template #hours>
                <span>
                  {{totalKmsAndTimeTaken.time.hours}} Hours ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="totalKmsAndTimeTaken.time.minutes>0">
              <span *ngIf="totalKmsAndTimeTaken.time.minutes==1 else minutes">
                1 minute
              </span>
              <ng-template #minutes>
                <span>
                  {{totalKmsAndTimeTaken.time.minutes}} minutes
                </span>
              </ng-template>
            </ng-container>
          </p>
        </div>
        <!-- <app-tool-tip [totalSlides]="tripMapToolTip.content.length" position="left"
          [toolTipContent]="tripMapToolTip"></app-tool-tip> -->
      </div>
    </div>
    <div class="google-map-box">
      <div id="overlay" [ngStyle]="{ display: destinationWithLngLat ? 'none' : 'flex' }">
        <img src="../../../../../../../assets/img/map-error-img.png" alt="map-error-image">
        <p>{{messageInMap}}</p>
      </div>
      <google-map width="100%" height="100%" [zoom]="zoom" [center]="center">
        <map-marker *ngFor="let markerPosition of markerPositions;let i=index" [position]="markerPosition"
          [options]="makeMarker[i]"></map-marker>
        <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults"
          [directions]="directionsResults" [options]="rendererOptions"></map-directions-renderer>
      </google-map>
    </div>
    <div class="map-bottom" *ngIf="selectedIndex != 0 &&destinationWithLngLat">

      <div class="mb-1">
      <span class="fw-bold" *ngIf="selectedIndex == 1 else otherDestination">
        <p class="d-inline me-2">Destination {{selectedIndex}} To Destination {{ selectedIndex +1 }}</p>
      </span>
      <ng-template #otherDestination>
        <span class="fw-bold">
          <p class="d-inline me-2">
            Destination {{ selectedIndex}} To Destination {{ selectedIndex +1}}
          </p>
        </span>
      </ng-template>
      <app-tool-tip [totalSlides]="starttoDestinationToolTip.content.length" position="left"
        [toolTipContent]="starttoDestinationToolTip"></app-tool-tip>
      </div>
     
      
      <div class="d-flex justify-content-between">
        <p>
          <span class="fw-bold">Est. Time :
            <ng-container *ngIf="getKmsAndTime().time.days>0">
              <span *ngIf="getKmsAndTime().time.days==1 else days">
                1 Day ,
              </span>
              <ng-template #days>
                <span>
                  {{getKmsAndTime().time.days}} Days ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="getKmsAndTime().time.hours>0">
              <span *ngIf="getKmsAndTime().time.hours==1 else hours">
                1 Hour ,
              </span>
              <ng-template #hours>
                <span>
                  {{getKmsAndTime().time.hours}} Hours ,
                </span>
              </ng-template>
            </ng-container>

            <ng-container *ngIf="getKmsAndTime().time.minutes>0">
              <span *ngIf="getKmsAndTime().time.minutes==1 else minutes">
                1 minute
              </span>
              <ng-template #minutes>
                <span>
                  {{getKmsAndTime().time.minutes}} minutes
                </span>
              </ng-template>
            </ng-container>
          </span>
        </p>
        <p>
          <span class="fw-bold">Est. KM : </span>{{ getKmsAndTime().kms }} KM
        </p>
      </div>
    </div>
  </div>
</div>

<app-route-pop-up *ngIf="routePopUpData.show" [routePopUpData]="routePopUpData"
  (routPopUpData)="routPopUpData($event)"></app-route-pop-up>