.rulesform-class{
  width: 100%;
  padding: 20px;
}
@media (min-width: 576px){
  .modal--wd {
      max-width: 80% !important;
  }
}
.modal-content{
  height: 78vh;
  overflow-y: auto;
  position: relative;
  // top: 100px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0px;
}
mat-chip{
  bottom: 7px;
}
