<div class="container-fluid">
    <div class="row align-items-lg-stretch def-color">
        <div class="col-12 rounded-3 card-shadow layout-bg p-3 pt-0">
            <app-table-widget tableTitle="Vendor Stats" [isDateRange]="true" [selectedDateRangeType]="10" [isShowDateRangeText]="true"
                (dateRangeEmitter)="dateRangeVendorStat($event)"></app-table-widget>
            <div class="row ">
                <div class="col-lg px-2 col-md-6 mt-3 mt-lg-0">
                    <div class="stats-card blue-card blue-cost-card  rounded-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-semibold fs-12px">Total Transactions</span>
                            <span class="stats-icon">

                            </span>
                        </div>
                        <p class="fs-5 fw-bold mt-3">{{vendorStats?.transactions}}</p>
                    </div>
                </div>
                <div class="col-lg px-2 col-md-6 mt-3 mt-lg-0">
                    <div class="stats-card blue-card blue-cost-card rounded-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-semibold fs-12px">Opening Balance</span>
                            <span class="stats-icon">

                            </span>
                        </div>
                        <p class="fs-5 fw-bold mt-3">{{ currency_type?.symbol}} {{fixedTo3Decimal(vendorStats?.opening_balance)}}</p>
                    </div>
                </div>
                <div class="col-lg px-2 col-md-6 mt-3 mt-lg-0">
                    <div class="stats-card red-card red-cost-card rounded-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-semibold fs-12px">Expense</span>
                            <span class="stats-icon">

                            </span>
                        </div>
                        <p class="fs-5 fw-bold mt-3"> {{vendorStats?.bills_created}}</p>
                    </div>
                </div>
                <div class="col-lg px-2 col-md-6 mt-3 mt-lg-0">
                    <div class="stats-card red-card red-cost-card rounded-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-semibold fs-12px">Paid</span>
                            <span class="stats-icon">

                            </span>
                        </div>
                        <p class="fs-5 fw-bold mt-3"> {{vendorStats?.bills_cleared}}</p>
                    </div>
                </div>
                <div class="col-lg px-2 col-md-6 mt-3 mt-lg-0">
                    <div class="stats-card blue-card  blue-cost-card rounded-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-semibold fs-12px">Closing Balance</span>
                            <span class="stats-icon">

                            </span>
                        </div>
                        <p class="fs-5 fw-bold mt-3"> {{ currency_type?.symbol}} {{fixedTo3Decimal(vendorStats?.closing_balance)}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- <div class="row rounded-3 mt-4  layout-bg def-color card-shadow overflow-hidden">
        <app-table-widget tableTitle="Pay Later Pending" isSearch="true" isCollapsable="true" isExpanded="true"
            (expandCollapseEvent)="expandCollapseBilling($event)"></app-table-widget>
        <div class="col-12 p-0" [@collapse]="isExpandBilling">
            <div class="custom-table-container ">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>PAYMENT NO.</th>
                            <th>PAYMENT MODE</th>
                            <th>PAID ({{ currency_type?.symbol}})</th>
                            <th>AMOUNT ({{ currency_type?.symbol}})</th>

                            <th class="icon-box "></th>
                        </tr>
                    </thead>
                    <tbody class="d-none ">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>12/11/2022</td>

                            <td>31515</td>
                            <td>3124515</td>
                            <td>312</td>
                            <td>3125</td>

                            <td class="icon-box ">
                                <div class="justify-content-center align-items-center d-flex ">
                                    <button><span class="material-icons "> more_vert </span></button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div> -->

    <div class="row rounded-3 mt-4  layout-bg def-color card-shadow overflow-hidden">
        <app-table-widget tableTitle="Billing" [isSearch]="true" [isCollapsable]="true" [isExpanded]="true"
            (expandCollapseEvent)="expandCollapseBilling($event)"
            (searchedData)="searchedDataBill($event)"></app-table-widget>
        <div class="col-12 p-0" [@collapse]="isExpandBilling">
            <div class="custom-table-container bill_scroll " (scroll)="onScrollBills($event)">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>BILL NO.</th>
                            <th>AMOUNT ({{ currency_type?.symbol}})</th>
                            <th>BALANCE ({{ currency_type?.symbol}})</th>
                            <th>DUE DATE</th>
                            <th>STATUS</th>
                            <th class="icon-box ">VIEW</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="billingList.length==0">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let bill of billingList ">
                            <td>{{bill?.date}}</td>
                            <td>{{bill?.bill_number}}</td>
                            <td>{{bill?.amount}}</td>
                            <td>{{bill?.balance}}</td>
                            <td>{{bill?.due_date}}</td>
                            <td>{{bill?.status}}</td>

                            <td class="icon-box ">
                                <div class="justify-content-center align-items-center d-flex ">
                                    <a class="sky-blue-text" target="_blank" [href]="getUrl(bill)">
                                        <span class="material-icons fs-4">
                                            remove_red_eye
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div class="row rounded-3 mt-4  layout-bg def-color card-shadow overflow-hidden">
        <app-table-widget tableTitle="Payment " [isSearch]="true" [isCollapsable]="true" [isExpanded]="true"
            (expandCollapseEvent)="expandCollapsePayment($event)"
            (searchedData)="searchedDataPayment($event)"></app-table-widget>
        <div class="col-12 p-0" [@collapse]="isExpandPayment">
            <div class="custom-table-container payment_scroll" (scroll)="onScrollBills($event)">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>PAYMENT NO.</th>
                            <th>ACCOUNT NO.</th>
                            <th>TOTAL AMOUNT ({{ currency_type?.symbol}})</th>
                            <th class="icon-box ">VIEW</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="paymentList.length==0">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let payment of paymentList">
                            <td>{{payment?.date}}</td>
                            <td>{{payment?.payment_no}}</td>
                            <td>{{payment?.account}}</td>
                            <td>{{payment?.amount}}</td>
                            <td class="icon-box ">
                                <div class="justify-content-center align-items-center d-flex ">
                                    <a class="sky-blue-text" target="_blank"
                                        [href]="getPrefixUrl+'/payments/list/bill?pdfViewId='+payment.id">
                                        <span class="material-icons fs-4">
                                            remove_red_eye
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div class="row rounded-3 mt-4  layout-bg def-color card-shadow overflow-hidden">
        <app-table-widget tableTitle="Vendor Credit" [isSearch]="true" [isCollapsable]="true"
            (searchedData)="searchedDataVendorCredit($event)"
            (expandCollapseEvent)="expandCollapseVendorCredit($event)"></app-table-widget>
        <div class="col-12 p-0" [@collapse]="isExpandVendorCredit">
            <div class="custom-table-container vendor_credit_scroll" (scroll)="onScrollVendorCredit($event)">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>VENDOR CREDIT NO.</th>
                            <th>BILL NO.</th>
                            <th>BALANCE ({{ currency_type?.symbol}})</th>
                            <th>AMOUNT ({{ currency_type?.symbol}})</th>
                            <th>STATUS</th>
                            <th class="icon-box ">VIEW</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="vendorCredit.length==0">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let data of vendorCredit">
                            <td>{{data?.date}}</td>
                            <td>{{data?.vendor_credit_no}}</td>
                            <td>{{data?.bill_number}}</td>
                            <td>{{data?.balance}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.status}}</td>
                            <td class="icon-box">
                                <div class="justify-content-center align-items-center d-flex ">
                                    <a class="sky-blue-text" target="_blank"
                                        [href]="getPrefixUrl+'/payments/vendor_credit/edit/'+data.id">
                                        <span class="material-icons fs-4">
                                            remove_red_eye
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>


    <div class="row rounded-3 mt-4  layout-bg def-color card-shadow overflow-hidden">
        <app-table-widget tableTitle="Vendor Advance" [isCollapsable]="true"
            (searchedData)="searchedDataVdendorAdvance($event)"
            (expandCollapseEvent)="expandCollapseVendorAdvance($event)" [isSearch]="true"></app-table-widget>
        <div class="col-12 p-0" [@collapse]="isExpandVendorAdvance">
            <div class="custom-table-container vendor_advance_scroll" (scroll)="onScrollVendorAdvance($event)">
                <table>
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>VENDOR ADVANCE NO.</th>
                            <th>PAYMENT MODE</th>
                            <th>BALANCE ({{ currency_type?.symbol}})</th>
                            <th>AMOUNT ({{ currency_type?.symbol}})</th>
                            <th>STATUS</th>
                            <th class="icon-box ">VIEW</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="vendorAdvance.length==0">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let data of vendorAdvance">
                            <td>{{data?.date}}</td>
                            <td>{{data?.advance_no}}</td>
                            <td>{{data?.payment_mode}}</td>
                            <td>{{data?.balance}}</td>
                            <td>{{data?.amount}}</td>
                            <td>{{data?.status}}</td>
                            <td class="icon-box">
                                <div class="justify-content-center align-items-center d-flex ">
                                    <a class="sky-blue-text" target="_blank"
                                        [href]="getPrefixUrl+'/payments/list/advance?pdfViewId='+data.id">
                                        <span class="material-icons fs-4">
                                            remove_red_eye
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>



</div>