@import"../../../../assets/styles/helpers/variable";


.tab-content {
    
    padding: 20px 0;
    
}
.dash-info-card{
    background-color: #fff;
    border-radius: 6px ;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;

    .head{
        display: flex;
        padding: 18px 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 600;
        font-size: 16px;
        color: $text-color;
    }
    .below{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        div{
            width: 50%;
            padding-left: 30px;
        }
        .separator{
            position: relative;
            &::after{
                content: "";
                display: block;
                position: absolute;
                border: 1px solid #dee2e6;
                border-radius: 10px;
                left: 1px;
                top: 0px;
                height: 100%;

            }
        }
    }
    
    

    
}
.dash-progress-bar-wrap {
    padding: 20px 30px;
    border: 1px solid #dee2e6;
    border-left: none;
    border-right: none;
}
.dash-progress-bar{

    height: 8px;
    background-color: #eaebed;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    
    .blue-value{
        background-color: $sky-blue;
        height: 100%;
    }
    .green-value{
        background-color: $green;
        height: 100%;
    }
    .yellow-value{
        background-color: $yellow-color;
        height: 100%;
    }

    
   
}

.pay-slip-img{
    width: 70px;
    margin: 10px 30px;
    margin-bottom: 0px;
}

.yellow-text{
    color: $yellow-color;
}
.dash-info-card{
    .table{
        .serial-no{
           width: 70px;
        }
        .amount{
          width: 40%;
        }
    }
}
