<div class="calc-height">
    <app-list-widget [isFilter]="true" listTitle="Bank" [isSettings]="false" [isDateRangeText]="false"
        [isDateRange]="false" [isExport]="false" [isDropDown]="false" [isSwitch]="false" [isAddButton]="true"
        [isDateDropDown]="false" (listWidgetData)="listWidgetData($event)" [buttonData]="buttonData"
        [filterUrl]="filterUrl">
        <button class="gb-video-play me-2" id="custom-button-left" (click)="openGothrough()">
            <i class="bi bi-play-circle-fill"></i>
        </button>
    </app-list-widget>
    <div class="alert-msg" *ngIf="apiError">
        <span class="icon-wrap"></span>
        <p class="message-cont">{{ apiError }}</p>
    </div>
</div>
<div class="custom-table-container" id="bank-list" (scroll)="scrollEvent()">
    <table [ngClass]="{'h-100':bankListDetail.length==0}">

        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Holder Name</th>
                <th>Bank</th>
                <th *ngIf="isTax&&!isTDS">IFSC code</th>
                <th>IBAN No</th>
                <th *ngIf="!isTax">Swift Code</th>
                <th *ngIf="isTax&&isTDS">Swift Code</th>
                <th>Balance ({{ currency_type?.symbol}})</th>
                <th class="icon-box ">Default Bank</th>
                <th class="icon-box"></th>

            </tr>
        </thead>
        <tbody *ngIf="bankListDetail.length==0">
            <tr class="border-0">
                <td class="bg-white" colspan="30">
                    <div class="no-list-data-wrap">
                        <figure>
                            <img src="assets/img/no-content.png" alt="">
                        </figure>
                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                    </div>
                </td>
            </tr>

        </tbody>

        <tbody>
            <tr *ngFor="let bank of bankListDetail; let i = index;">
                <td>{{bank.account_number}}</td>
                <td>{{bank.display_name}}</td>
                <td>{{bank.bank_name}}</td>
                <td *ngIf="isTax&&!isTDS">{{bank.ifsc_code}}</td>
                <td>{{bank.iban_code}}</td>
                <td *ngIf="!isTax">{{bank.swift_code}}</td>
                <td *ngIf="isTax&&isTDS">{{bank.swift_code}}</td>
                <td>{{bank.balance}}</td>

                <td class="icon-box ">
                    <div class="d-flex justify-content-center align-items-center">
                        <ng-container *ngIf="bank?.is_active">
                            <input type="radio" (click)="defaultBankChecked(bank.id)" [checked]="bank.is_default"
                                name="bank.id" id="bank.id" class="default-bank-radio-btn">
                        </ng-container>
                    </div>
                </td>
                <td class="icon-box  tabIndexActive">
                    <div class="d-flex justify-content-center align-items-center"  *ngIf="bank?.is_active">
                        <div class="position-relative">
                            <button class="material-icons more-icon p-0" *ngxPermissionsOnly="[bankPre[1], bankPre[2]]"
                                (click)="optionsList($event, 'list_'+bank.id)">more_vert</button>
                            <div class="more-actions__menu table-popup"
                                [ngClass]="{show: showOptions === 'list_'+bank.id}">
                                <button *ngxPermissionsOnly="[bankPre[1]]" class="more-actions__item w-100"
                                    (click)="routeToEdit(bank.id)"><i class="material-icons">edit</i>Edit</button>
                                    <button *ngxPermissionsOnly="[bankPre[2]]" class="more-actions__item w-100"
                                        (click)="popupFunction(bank, i)"><i
                                            class="material-icons">delete</i>Deactivate</button>
                            </div>
                        </div>
                    </div>

                </td>


            </tr>
        </tbody>
    </table>
</div>

<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>

<app-go-through [goThroughDetais]="goThroughDetais"></app-go-through>