<div  class="charge-deduct-popup ">
    <div class="popup-header ">
        <h6 class="d-inline">{{dialogData.name}}</h6>
    </div>
    <div>
        <form [formGroup]="moneyInAndOutForm">
            <div class="row px-4 pt-4">
                <ng-container *ngIf="dialogData.type!='reset'">
                    <div class="col-xl-4 col-md-4  input-wrap error" [ngClass]="addErrorClass(moneyInAndOutForm.controls.amount)">
                        <label class="input--required" for="">Amount</label>
                        <input formControlName="amount" positiveThreeDigitDecimalNumber  placeholder="0" class="no-style input--bd">
                        <app-error [controlName]="moneyInAndOutForm.controls.amount"></app-error>
                    </div>
                </ng-container>

                <ng-container *ngIf="dialogData.type=='reset'">
                    <div class="col-xl-4 col-md-4  input-wrap error" [ngClass]="addErrorClass(moneyInAndOutForm.controls.amount)">
                        <label class="input--required"  for="">Amount</label>
                        <input formControlName="amount" onkeydown="javascript: return event.keyCode == 69 ? false : true" type="number"  placeholder="0" class="no-style input--bd">
                        <app-error [controlName]="moneyInAndOutForm.controls.amount"></app-error>
                    </div>
                </ng-container>
              

                    <div class="col-xl-4 col-md-4 input-wrap error" [ngClass]="addErrorClass(moneyInAndOutForm.controls.date)">
                        <label class="input--required" for="">Transaction Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="date" [min]="mindate" [max]="maxdate" formControlName="date"
                                placeholder="DD/MM/YYYY" (focus)="date.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                            <mat-datepicker #date></mat-datepicker>
                        </mat-form-field>
                        <app-error [controlName]="moneyInAndOutForm.controls.date"></app-error>
                    </div>
                <div class="col-xl-4 col-md-4" *ngIf="dialogData.type=='money_in'">
                    <div class="input-wrap error" [ngClass]="addErrorClass(moneyInAndOutForm.controls.account)">
                        <label class="input--required" >Account</label>
                        <material-dropdown [searchable]="true" [selectedOption]="initialValues.account"
                            [addable]="false" class="dropDownWidth">
                            <select #customSelect formControlName="account" class="no-style select--modify">
                                <option *ngFor="let account of paymentAccountList" value="{{ account.id }}">
                                    {{ account.name }}</option>
                            </select>
                        </material-dropdown>
                        <app-error [controlName]="moneyInAndOutForm.controls.account"></app-error>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4  input-wrap error" [ngClass]="addErrorClass(moneyInAndOutForm.controls.reason)">
                    <label  for="">Reason</label>
                    <input formControlName="reason" placeholder="Reason" class="no-style input--bd">
                    <app-error [controlName]="moneyInAndOutForm.controls.reason"></app-error>
                </div>
            </div>
            <div class="d-flex justify-content-space-between m-1 px-3 py-4">
                <button class="btn w-auto " type="button" (click)="close()">Cancel</button>
                <button class="btn btn--primary w-auto" type="submit" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>