<div class="add-tenure-popup">
  <div class="popup-header ">
    <h6 class="d-inline">Expected Tenure</h6>
    <!-- <span><app-tool-tip class="tool-tip-position trip-no" [totalSlides]="tripToolTip.content.length"
        position="right" [toolTipContent]="tripToolTip"></app-tool-tip></span> -->
  </div>
  <div class="p-4">
    <form [formGroup]="editTenurePopUpForm">
      <div class="row">
        <div class=" col-lg-4 px-3 input-wrap input-box error">
          <label for="name" class="input--required">Work Start Date</label>
          <mat-form-field>
            <input matInput [matDatepicker]="work_start_date"  (focus)="work_start_date.open()"
              formControlName="workstart_date" placeholder="DD/MM/YYYY" readonly (dateChange)="setWorkEndDate()">
            <mat-datepicker-toggle matSuffix [for]="work_start_date"></mat-datepicker-toggle>
            <mat-datepicker #work_start_date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-4 px-3 input-wrap error"
          [ngClass]="addErrorClass(editTenurePopUpForm.controls.expected_tenure)">
          <label for="" class="input--required">Expected Tenure</label>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
            [selectedOption]="initialDetails.expectedTenure">
            <select #customSelect formControlName="expected_tenure" class="no-style select--modify "
              (change)="setWorkEndDate()">
              <option *ngFor="let tenure of expectedTenures" value="{{ tenure.id }}">
                {{ tenure.label }}
              </option>
            </select>
          </material-dropdown>
          <app-error class="removePosition" [controlName]="editTenurePopUpForm.controls.expected_tenure"></app-error>

        </div>

        <div class="col-lg-4 px-3 input-wrap error"
          [ngClass]="addErrorClass(editTenurePopUpForm.controls.workend_date)">
          <label class="input--wrap input--required" for="">Work End Date</label>
          <mat-form-field>
            <input matInput [matDatepicker]="workEndDate" [min]="editTenurePopUpForm.controls.workstart_date.value"
              formControlName="workend_date" placeholder="DD/MM/YYYY" (focus)="workEndDate.open()"
              (dateChange)="onWorkEndDateChange()" readonly>
            <mat-datepicker-toggle matSuffix [for]="workEndDate"></mat-datepicker-toggle>
            <mat-datepicker #workEndDate></mat-datepicker>
          </mat-form-field>
          <app-error class="removePositionDate" [controlName]="editTenurePopUpForm.controls.workend_date"></app-error>
        </div>

      </div>
      <div class="d-flex justify-content-space-between">
        <button (click)="cancel()" class="btn w-auto">Cancel</button>
        <button type="submit" (click)="save()" class="btn btn--primary w-auto">Save</button>

      </div>
    </form>
  </div>
</div>