@import "assets/styles/app.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.DTFC_LeftBodyLiner{
    overflow-y: hidden !important;
}
input.mat-input-element{
  margin-top: unset;
}

div.DTFC_RightBodyLiner{
    overflow-y: hidden !important;
}
.NgxEditor {
  min-height: 100px;
}

.map-class-start{
  background-color: #676a6e;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-left:70px;
  border-radius: 7px;
}

.map-class-destination{
  background-color: #676a6e;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-left:125px;
  border-radius: 7px;

}


.quotation-comment{
  justify-content: end;
}

.material-toltip-class{
  color:#676a6e !important;
  background-color: white !important;
  border-radius: 15px;
  padding: 7px;
  box-shadow: 0px 3px 6px #00000029;
  line-height: normal;
  font-size: 14px !important;
}

.mat-normal-tooltip{
  font-size: 13px ;
  padding: 8px;
 
  background-color: #44546F;


}

button.mat-calendar-body-cell {
  position: absolute;
  height: 100%;
  }
  
  td.mat-calendar-body-cell {
  position: relative;
  height: 0;
  }
  .mat-snack-bar-container {
    color: #ffffffb3;
    background: transparent !important;
    box-shadow: 0 3px 5px -1px #c7c9e0b9, 0 6px 10px #c7c9e0b9 0 1px 18px #c7c9e0b9;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 65px 8px !important;
    max-width: 33vw;
    min-width: 344px;
    padding: 0px !important;
    min-height: 48px;
    transform-origin: center;
}
