<form [formGroup]="documentsForm" *ngIf="documentsForm">
    <div class="form-layout upload-id-wrap py-4">
        <div class="row ">

            <div class="col-xl-3 col-lg-3">
                <aside class="upload-menu-wrapper tabIndexActive sub-window-height">
                    <nav class="upload-menu">
                        <div class="overflow-auto flex-lg-wrap flex-nowrap row mx-0  ">
                            <button
                                class="upload-menu__item  text-start d-inline-flex align-items-center justify-content-lg-between"
                                *ngFor="let document of documentsList; let i = index;"
                                [ngClass]="{'active': i==activeDoc, 'error': documentsForm.controls.documents.controls[i]?.invalid && documentsForm.controls.documents.controls[i]?.touched}"
                                (click)="changeDocument(i)">
                                <a class=" ">{{ document.name }}</a>
                                <span class="no-style px-2" *ngIf=" i>=1 && document.id" (click)="deleteDocuments(i)">
                                    <i class="material-icons text-danger del-icon">delete</i>
                                </span>
                            </button>
                        </div>
                    </nav>
                    <div class="add-doc ">
                        <button class="btn btn--grey btn--default btn--rounded px-4" type="button"
                            (click)="popupOverflowActive();showModal = true">
                            <b>+ &nbsp;</b>Add Document
                        </button>
                    </div>
                </aside>
            </div>
            <div class="col-xl-9 col-lg-9 sub-window-height" formArrayName="documents">
                <div class="upload-id-content" *ngFor="let document of documentsList; let i = index;"
                    [formGroupName]="i" [ngClass]="{'active': i==activeDoc}">
                    <div class="form-layout__card" [ngClass]="{'active': i==activeDoc}">
                        <div class="form-layout__header tabIndexActive mb-5">
                            <h2 class="sub-heading">
                                Document Details
                            </h2>
                            <span class="collapse-line"></span>

                        </div>
                        <div class="row tabIndexActiveFields align-items-center">
                            <div class="col-lg-4 col-sm-6">
                                <div class="input-wrap error"
                                    [ngClass]="addErrorClass(documentsForm.controls.documents.controls[i].controls.number)">
                                    <label for="" class="input">{{ document.name }} number</label>
                                    <input type="text" class="no-style input--bd" formControlName="number"
                                        placeholder="11/22/30945" value="">
                                    <app-error
                                        [controlName]="documentsForm.controls.documents.controls[i].controls.number"></app-error>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="input-wrap error error--type-1"
                                    [ngClass]="addErrorClass(documentsForm.controls.documents.controls[i].controls.expiry_date)">
                                    <label for="" class="">{{ document.name }} Expiry Date</label>
                                    <mat-form-field class="width--100">
                                        <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="iii"
                                            (focus)="iii.open()" formControlName="expiry_date" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="iii"></mat-datepicker-toggle>
                                        <mat-datepicker #iii startView="multi-year"></mat-datepicker>
                                    </mat-form-field>
                                    <app-error
                                        [controlName]="documentsForm.controls.documents.controls[i].controls.expiry_date"></app-error>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="input-wrap error"
                                    [ngClass]="addErrorClass(documentsForm.controls.documents.controls[i].controls.state_of_issue)">
                                    <label for="" class="">Country of Issue</label>
                                    <material-dropdown [searchable]="true" [selectedOption]="initialValues.country[i]">
                                        <select formControlName="state_of_issue" #customSelect
                                            class="no-style select--modify">
                                            <option *ngFor="let option of countryList" value="{{ option?.name }}">
                                                {{ option?.name }}
                                            </option>
                                        </select>
                                    </material-dropdown>
                                    <app-error
                                        [controlName]="documentsForm.controls.documents.controls[i].controls.state_of_issue"></app-error>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-6">
                                <div class="input-wrap error"
                                    [ngClass]="addErrorClass(documentsForm.controls.documents.controls[i].controls.amount)">
                                    <label for="" class="input"
                                        [ngClass]="{'input--required':documentsForm.controls.documents.controls[i].controls.pass_journal_entry.value==true}">Amount
                                        ({{ currency_type?.symbol}})</label>
                                    <input type="number" class="no-style input--bd" placeholder="" value=""
                                        formControlName="amount" positiveThreeDigitDecimalNumber>
                                    <app-error
                                        [controlName]="documentsForm.controls.documents.controls[i].controls.amount">
                                    </app-error>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-6"
                                *ngIf="documentsForm.get('documents').at(i).get('pass_journal_entry').value==true">
                                <div class="input-wrap error"
                                    [ngClass]="addErrorClass(documentsForm.controls.documents.controls[i].controls.bank)">
                                    <label for="" class="input"
                                        [ngClass]="{'input--required':documentsForm.get('documents').at(i).get('pass_journal_entry').value==true}">Bank</label>
                                    <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                                        [selectedOption]="initialValues.bank[i]">
                                        <select #customSelect formControlName="bank" class="no-style select--modify">
                                            <option *ngFor="let account of paymentAccountList" value="{{ account.id }}">
                                                {{ account.name }}</option>
                                        </select>
                                    </material-dropdown>
                                    <app-error
                                        [controlName]="documentsForm.controls.documents.controls[i].controls.bank"></app-error>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                <div>
                                    <label for="pass_journal_entry{{i}}"
                                        class="d-inline-block cursor-pointer check-box">
                                        <input type="checkbox" placeholder="123456" value=""
                                            class="w-auto d-inline-block" formControlName="pass_journal_entry"
                                            id="pass_journal_entry{{i}}" (change)="passJournalEntryChange(i)" />
                                        <span class="check-mark"></span>
                                        <span class="label-text check-label">Pass Journal Entry</span> </label>

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" *ngIf="document.issue_date && document.id">
                                <div class="info-group pd-tb-20">
                                    <button class="btn btn--rounded btn--default py-2 px-4 fw-bold btn-outline-primary"
                                        (click)="renewDocuments(document)">Renew Document</button>
                                </div>
                            </div>
                            <div class="col-xl-12 mt-5 ">
                                <file-uploader (onFileUploaded)="fileUploader($event,i)"
                                    (onFileDeleted)="fileDeleted($event,i)" [multiple]="true"
                                    [accept]="'capture=camera, image/jpeg,image/x-jpg,image/png, application/pdf'"
                                    [showFileName]="false" [uploaderId]="i" [patchFileUrls]="patchFileUrls[i]">
                                </file-uploader>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="document['history'].length>0" class="form-layout__card">
                        <div class="row mx-0">
                            <p class="table-sub-heading w-100 my-2">Document history:</p>
                        </div>
                        <div *ngFor="let documentData of document['history'];let j = index " class="shadow-sm rounded">
                            <div class="row position-relative mx-0  ">
                                <div class="col-md-12  pe-4 p-3 ">
                                    <p> <strong>Certificate No: </strong> <span>{{documentData?.number}}</span> </p>
                                    <div class="position-absolute styles-toggle col-12">
                                        <div class="collapse-details py-0">
                                            <a data-target="#renewal-{{i}}{{j}}" data-toggle="collapse"
                                                (click)="documentHistoryToggle[i][j] = !documentHistoryToggle[i][j]"><span>{{documentHistoryToggle[i][j]?
                                                    '-':'+'}}<i
                                                        class="material-icons m-0">{{documentHistoryToggle[i][j]?' ':'
                                                        '}}</i></span></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div [ngClass]="{'collapse': !documentHistoryToggle[i][j]}" id="renewal-{{i}}{{j}}">
                                    <div class="row mb-3 mx-0 info-section border-top-ccc border-bottom-0">
                                        <div class="col-sm-4 my-2">Expiry Date: <span
                                                class="d-block info-value mt-2">{{documentData?.expiry_date?documentData?.expiry_date:'-'}}</span>
                                        </div>
                                        <div class="col-sm-4  my-2">Amount : <span class="d-block info-value  mt-2"> {{
                                                currency_type?.symbol}}
                                                {{documentData?.amount?documentData?.amount:'-'}}</span>
                                        </div>
                                        <div class="col-sm-4  my-2">Bank : <span
                                                class="d-block info-value  mt-2">{{documentData?.bank?documentData?.bank.name:'-'}}</span>
                                        </div>
                                        <div class="col-sm-4  my-2">Country of Issue: <span
                                                class="d-block info-value  mt-2">{{documentData?.state_of_issue?documentData?.state_of_issue:'-'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 upload-thumbnail-wrap">
                                        <div class="row">
                                            <div class="col-md-4"
                                                *ngFor="let file of documentData.files; let k = index;">
                                                <div class="upload-thumbnail__list">
                                                    <figure class="thumbnail-pic"
                                                        (click)="goToLink(file.presigned_url)">
                                                        <img [src]="getExt(file.presigned_url, file.file_name)"
                                                            alt="{{file.file_name}}" title="{{file.file_name}}" />
                                                    </figure>
                                                    <p class="thumbnail-name me-auto ms-2">{{file.file_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="bottom-btn-wrap py-2 ">
        <div class="btn-wrap  ">
            <button class="btn btn-back btn--sm" type="button"
                [routerLink]="[prefixUrl+'/onboarding/employee/view']">Cancel</button>
            <!-- <button class="btn btn--default" [routerLink]="['/master/employee/edit/' + id + '/information']">Back to General Information</button> -->
            <button class="btn btn--sm" type="button" (click)="finishForm(documentsForm)">Finish</button>
            <button class="btn btn--primary btn-mg-left" type="button" (click)="submitDocumentsForm(documentsForm)"
                (keydown.enter)="$event.preventDefault();">Save & Continue</button>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" [ngClass]="{'show':showModal}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--wd" role="document">
        <div class="modal-content">
            <form [formGroup]="addMoreForm" (ngSubmit)="submitAddMoreForm(addMoreForm)"
                (keydown.enter)="$event.preventDefault();">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Add Document</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="popupOverflowHide();showModal = false; addMoreForm.patchValue({field_title:'',to_all:true})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pd-20">
                    <div class="input-wrap tabIndexActiveFields error"
                        [ngClass]="addErrorClass(addMoreForm.get('field_title'))">
                        <label for="" class="input--required">Document Title</label>
                        <input type="text" class="no-style input--bd" formControlName="field_title"
                            placeholder="Document Title">
                        <app-error [controlName]="addMoreForm.get('field_title')">
                        </app-error>
                    </div>
                    <div class="input-wrap tabIndexActiveFields">
                        <input style="display: inline-block;width:14px;" type="checkbox" formControlName="to_all"
                            placeholder="Document Title"> <span> Add this document type to all the Employees</span>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn" data-dismiss="modal"
                        (click)="popupOverflowHide();showModal = false;addMoreForm.patchValue({field_title:'',to_all:true})">Close</button>
                    <button class="btn btn--primary" type="submit">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="modal-backdrop fade show"></div>
<alert-popup [inputData]="popupInputData" *ngIf="popupInputData.show" [documetType]="'Employees'"
    (outputData)="confirmButton($event)"></alert-popup>
<alert-popup [inputData]="popupInputDataDelete" *ngIf="popupInputDataDelete.show"
    (outputData)="confirmButtonForDelete($event)"></alert-popup>
<app-employee-renew-document *ngIf="popUpRenewDocuments?.show" [popUpRenewDocuments]="popUpRenewDocuments"
    (dataFromRenewalDoc)="dataFromRenewalDoc($event)">
</app-employee-renew-document>