<!-- <div class="right-section__header">
  <h1 class="heading">Add Item</h1>
</div> -->
<div
  class="modal fade"
  [ngClass]="{ show: itemPopDetail.status }"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal--wd" role="document">
    <div class="modal-content">
      <form
        [formGroup]="addItemForm"
        (ngSubmit)="addNewItem(addItemForm)"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Add Item</h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="close()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-20">
          <p style="color: red" *ngIf="apiError" class="mb-4">{{ apiError }}</p>
          <div class="row tabIndexActiveFileds">
            <div class="col-sm-4">
              <div
                class="input-wrap error clearfix"
                [ngClass]="addErrorClass(addItemForm.get('name'))"
              >
                <label for="" class="input--required">Name</label>
                <input
                  type="text"
                  class="no-style input--bd"
                  formControlName="name"
                  placeholder="Name"
                  value="{{ itemPopDetail?.name }}"
                  required
                />
                <span class="border-anim"></span>
                <app-error [controlName]="addItemForm.get('name')"></app-error>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-wrap error clearfix" [ngClass]="addErrorClass(addItemForm.get('unit'))">
                <label for="" class="input--required">Unit</label>
                <material-dropdown
                  [searchable]="true"
                  [addable]="false"
                  [addBlank]="true"
                  [selectedOption]="initialValues.unit"
                >
                  <select
                    #customSelect
                    formControlName="unit"
                    class="no-style select--modify"
                  >
                    <option
                      *ngFor="let option of units"
                      value="{{ option.id }}"
                    >
                      {{ option.label }}
                    </option>
                  </select>
                </material-dropdown>
                <app-error [controlName]="addItemForm.get('unit')"></app-error>

              </div>
            </div>

            <div class=" col-sm-4 tabIndexActiveFields">
              <div>
                <div class="input-wrap error clearfix"[ngClass]="addErrorClass(addItemForm.get('rate_per_unit'))" >
                  <label for="" class="input--required">Unit Cost</label>
                  <input
                    positiveThreeDigitDecimalNumber
                    type="text"
                    class="no-style input--bd"
                    formControlName="rate_per_unit"
                    placeholder="Rate per unit"
                    value=""
                  />
                  <span class="border-anim"></span>
                  <app-error [controlName]="addItemForm.get('rate_per_unit')"></app-error>
                </div>                
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer no-border tabIndexActive">
          <button
            type="button"
            class="btn"
            data-dismiss="modal"
            (click)="close()"
          >
            Close
          </button>
          <button type="submit" class="btn btn--primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="itemPopDetail.status" class="modal-backdrop fade show"></div>
