.okButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.screen-center {
  position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width: 900px) {
  .screen-center {
    height: 300px;
  }
}

.alertMsg {
  padding: 10px;
  line-height: 1.2rem;
}

input{
  display: inline-block;
  width: 12px;
  margin-left: -30px;
}
