<div class="def-color layout-bg rounded-3 " [formGroup]="makeInvoiceForm">
    <div class="gb-popup-header">
        Create  {{isVehiclePayment ? 'Vehicle Payment' : 'Invoice'}}
    </div>
    <div class="p-3 pb-0 row mx-0 popup-body">
        <div class="col-lg-6">
            <div class="input-wrap error error--type-1">
                <label for="" class="input--required">{{isVehiclePayment ? 'Bill ' : 'Invoice' }}  Date</label>
                <mat-form-field class="width--100">
                    <input matInput [matDatepicker]="date" formControlName="date" (focus)="date.open()"
                        placeholder="DD/MM/YYYY" readonly>
                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-wrap "  *ngIf="!isVehiclePayment">
                <label for="" class="input">Invoice No</label>
                <input type="text" class="no-style input--bd" formControlName="number" placeholder="" readonly>

            </div>
            <div class="input-wrap error" *ngIf="isVehiclePayment"  [ngClass]="addErrorClass(makeInvoiceForm.controls.number)">
                <label for="" class="input">Bill Number</label>
                <input type="text" class="no-style input--bd" formControlName="number" placeholder="" >
                <app-error [controlName]="makeInvoiceForm.controls['number']"></app-error>
            </div>
        </div>
        <div class="custom-fake-tab mb-3">
                <span class="tab"  [ngClass]="{'active-tab':selectedIndex==1}" (click)="selectedIndex=1">
                    Timesheet
                </span>
                <span class="tab" (click)="selectedIndex=2" [ngClass]="{'active-tab':selectedIndex==2}">
                    Charges
                </span>
                <span class="tab" (click)="selectedIndex=3" [ngClass]="{'active-tab':selectedIndex==3}">
                    Deductions
                </span>
            </div>

     
        <div class="col-lg-12">
            <div class="  addable-row-table addable-row-table-display" *ngIf="selectedIndex==1">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="all_timesheet_select" class="m-auto" color="primary"
                                        (change)="selectAllTimeSheet()"></mat-checkbox></div>
                            </th>
                            <th>NO.</th>
                            <th>TIMESHEET No.</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <ng-container *ngIf="billingBasdedOn=='hour'">
                                <th>BILLING HOURS</th>
                                <th>EXTRA HOURS</th>
                            </ng-container>
                            <ng-container *ngIf="billingBasdedOn=='day'">
                                <th>BILLING DAYS</th>
                                <th>EXTRA DAYS</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody formArrayName="timesheets">
                        <tr *ngIf="timeSheetList.length==0">
                            <td colspan="10" style="background-color: #fff">
                                <div class="no-content-wrapper h-100">
                                    <figure class="no-content-pic mb-3">
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <div class="no-content-txt ">
                                        <h5 class="heading fs-5 mb-0">No data found!</h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let timesheet of timeSheetList let i =index " [formGroupName]="i">
                            <td>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="is_selected" class="m-auto" color="primary"
                                        (change)="onSelectionTimeSheet()"></mat-checkbox></div>
                            </td>
                            <td>{{i+1}}</td>

                            <td>
                                {{ timesheet.timesheet_no ? timesheet.timesheet_no : '-' }}
                            </td>
                            <td>
                                {{ timesheet.start_date |formateDate}}
                            </td>
                            <td>
                                {{ timesheet.end_date |formateDate }}
                            </td>
                            <td>
                                {{ timesheet?.billing_hours}}
                            </td>
                            <td>
                                {{ timesheet?.extra_hours }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="  addable-row-table addable-row-table-display" *ngIf="selectedIndex==2">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="all_charges_select" class="m-auto" color="primary"
                                        (change)="selectAllChargesDeductions('charges')"></mat-checkbox></div>
                            </th>
                          
                            <th>Charge Name</th>
                            <th>Charge Amount </th>
                            <th>Tax</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="charges">
                        <tr *ngIf="chargeList.length==0">
                            <td colspan="10" style="background-color: #fff">
                                <div class="no-content-wrapper h-100">
                                    <figure class="no-content-pic mb-3">
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <div class="no-content-txt ">
                                        <h5 class="heading fs-5 mb-0">No data found!</h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                      
                        <tr *ngFor="let charge of chargeList let i =index " [formGroupName]="i">
                            <td>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="selectedCharge" class="m-auto" color="primary"
                                        (change)="onSelectionChargeOrDeduction('charges')"></mat-checkbox></div>
                            </td>

                            <td>
                                {{ charge?.name }}
                            </td>
                            <td>
                                {{ charge?.amount_before_tax }}
                            </td>
                            <td>
                                {{ charge?.tax?.label }}
                            </td>
                            <td>
                                {{ charge.total }}
                            </td>
                    </tbody>
                </table>
            </div>

            <div class="  addable-row-table addable-row-table-display" *ngIf="selectedIndex==3">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="all_deductions_select" class="m-auto" color="primary"
                                        (change)="selectAllChargesDeductions('deductions')"></mat-checkbox></div>
                            </th>
                         
                            <th>Deduction Name</th>
                            <th>Deduction Amount </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="deductions">
                        <tr *ngIf="deductionsList.length==0">
                            <td colspan="10" style="background-color: #fff">
                                <div class="no-content-wrapper h-100">
                                    <figure class="no-content-pic mb-3">
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <div class="no-content-txt ">
                                        <h5 class="heading fs-5 mb-0">No data found!</h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                       
                        <tr *ngFor="let deduction of deductionsList let i =index " [formGroupName]="i">
                            <td>
                                <div class="d-flex justify-content-center align-content-center"><mat-checkbox
                                        formControlName="selectedCharge" class="m-auto" color="primary"
                                        (change)="onSelectionChargeOrDeduction('deductions')"></mat-checkbox></div>
                            </td>
                              <td>
                                {{ deduction.name }}
                              </td>
                              <td>
                                {{ deduction.amount }}
                              </td>
                    </tbody>
                </table>
            </div>

        </div>



    </div>

    <div class=" p-3 px-4 d-flex justify-content-between">
        <button class="btn btn--sm " (click)="cancel()">Cancel</button>
        <button class="btn btn--sm btn--primary" (click)="save()">Create</button>
    </div>
</div>