@import "../../../../../../../assets/styles/helpers/variable";
@import "../../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../../assets/styles/helpers/mixins";


.inner-table-main-body {
	&:nth-child(odd) {
		background-color: $table-list-bg;
	}

	&:nth-child(even) {
		background-color: transparent;
	}

	.inner-table-td {
	padding: 0 !important;
    border-left: 1px solid $secondary-border-color;
	border-right: 1px solid $secondary-border-color;

	.inner-table {
		tr {
			background-color: transparent;
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
		}
		td {
			padding-left: 10px !important;
		}
	  }
	}
}
}

div#table-height{
  @media only screen and (min-width: 993px){
   height: 45vh;
  }
  @media only screen and (min-width: 1700px){
    height: 51vh;
   }
  @media only screen and (min-width: 1900px){
    height: 56vh;
   }
   @media only screen and (min-width: 2000px){
    height: 59vh;
   }
   @media only screen and (min-width: 2300px){
    height: 63vh;
   }
   @media only screen and (min-width: 2500px){
    height: 72vh;
   }
}
.table-page-no
  {
  bottom: 0;
  width: 100%;
  background: white;
  padding: 2px 2px;
  z-index: 0;
  }
.table-action2 {
          i {
          color: $secondary-text-color;
          font-size: 20px;
        }
      }
