<ng-template #loading>
  <div class="text-center">
    Loading Calendar...
  </div>
</ng-template>
<section class="right-section container-fluid w-auto">
  <div class="right-section__header">
    <h1 class="heading">Calendar</h1>
  </div>
  <div class="calendar-wrap d-flex">
    <div class="calendar-container">
      <div class="calendar-header d-flex align-items-center">
        <button class="btn--action" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <button class="btn--action mg-left-10" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <h2 class="sub-heading ms-4 flex-grow-1">
          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </h2>
        <button class="btn--action btn--today" mwlCalendarToday [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Today
        </button>
      </div>
      <div class="calendar-body">
        <mwl-calendar-month-view [weekStartsOn]=1 [viewDate]="viewDate" [cellTemplate]="customCellTemplate"
          [events]="events" (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
      </div>
      <ng-template #customCellTemplate let-day="day" let-locale="locale" let-tooltipPlacement="tooltipPlacement"
        let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay" let-eventClicked="eventClicked"
        let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody"
        let-tooltipDelay="tooltipDelay">
        <div class="cal-cell-bottom" [ngClass]="{'active-calender':isActiveDay(day.date)}">
          <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div *ngIf="day.events.length > 0" class="dayevents">
          <div *ngFor="let event of day.events">
            <div class="databadge" *ngIf="event?.data.count>0" matTooltip="Total Notifications : {{event?.data.count}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" stroke="green"
                class="bi bi-bell" viewBox="0 0 16 16">
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
              </svg>
            </div>
            <div class="note-class" *ngIf="event?.data.note_count>0"
              matTooltip="Total Notes : {{event?.data.note_count}}">
              <img class="note-color" src="assets/img/material/description_black_24dp.svg" alt="">
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="slide_parent col-12 col-md-3 p-3" [ngClass]="{'displaynone':isClose &&!isBackEnable}">
      <div class=" " [ngClass]="{'display-none-section':isBackEnable|| isClose,'displaynone':isClose}">
        <button class="close-icon" (click)="firstSectionClose()">
          <mat-icon>highlight_off</mat-icon>
        </button>
        <h2 class="sub-heading mb-3">{{selectedDate | date:'dd MMM y'}}</h2>
        <p *ngIf="isNotificationEmpty">No Notifications to display!</p>
        <div class="vehicle-status-wrap" style="margin-top: 20px;">
          <ul class="vehicle-status cal-open-day-events" style="box-shadow: none; background-color: transparent;">
            <ng-container *ngFor="let data of mainData; let i = index">
              <ng-container>
                <li class="status" [ngClass]="{'active': i==isClicked}" (click)="isClicked=i">
                  <div *ngIf="data.count>0" class="status-container" style="color: black;" (click)="openSubItem(data)">
                    <p>{{data.name}}</p> &nbsp; &nbsp; <span>({{data.count}})</span>
                  </div>
                </li>
              </ng-container>
            </ng-container>
          </ul>
          <div class="add-note-wrap">
            <button type="button" class="btn btn--rounded btn--default" (click)="addNote(selectedDate)">
              <i class="material-icons material-icons--al-top me-2">add</i>
              Add Note
            </button>
          </div>
        </div>
      </div>
      <div class="">
        <div [ngClass]="{'display-none-section':!isBackEnable,'displaynone':!isBackEnable}" class="slide-show"
        *ngIf="levelData?.name">
        <div class="position_parent">
          <button class="btn" (click)=" closeSideNav()"><i class="material-icons">keyboard_arrow_left</i> Back</button>
          <h5>{{levelData?.name}} ({{levelData?.count}})</h5>
        </div>
        <div *ngIf="dueDate && dueDate.length>0" class="mb-3 mt-3">
          <h2 class="sub-heading mb-3">Notifications</h2>
          <div class="cal_list_view">
            <ul class="vehicle-available__list" *ngFor="let item of dueDate">
              <li class="pointer vehicle-available__item" (click)="navigateToEditComponent(item)">
                <span>{{item.description}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="reminderDate && reminderDate.length>0" class="mb-3">
          <h2 class="sub-heading mb-3">Reminder</h2>
          <div class="cal_list_view">
            <ul class="vehicle-available__list" *ngFor="let item of reminderDate">
              <li class="pointer vehicle-available__item" (click)="navigateToEditComponent(item)">
                <span>{{item.description}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="remaining && remaining.length>0" class="mb-3">
          <div class="cal_list_view">
            <ul class="vehicle-available__list" *ngFor="let item of remaining">
              <li class="pointer vehicle-available__item">
                <span>{{item.description}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<add-note-modal [showNoteModal]="showNoteModal" (modalClosed)="closeNote()" [noteDate]="noteDate"></add-note-modal>
