<div class="vehicle-nav-wrap">
    <nav class="vehicle-nav">
        <ul class="vehicle-nav__list d-flex">
            <li class="vehicle-nav__item w-50 text-center">
                <div class="row h-100">
                    <div class="col-sm-12">
                        <p class="text-uppercase fs-14 fw-bold vehicle-nav__sub-item w-100"
                         [routerLink]="['prefrence']" routerLinkActive="active">preference</p>
                    </div>
                </div>
            </li>
            <li class="vehicle-nav__item w-50 text-center">
                <div class="row h-100">
                    <div class="col-sm-12">
                        <p class="text-uppercase fs-14 fw-bold vehicle-nav__sub-item w-100"
                         [routerLink]="['custom-field']" routerLinkActive="active">Field Customization</p>
                    </div>
                </div>
            </li>

            <!-- <li class="vehicle-nav__item w-50 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-uppercase fs-14 fw-bold vehicle-nav__sub-item w-100" [routerLink]="['custom-field']" routerLinkActive="active">Field Customization</p>
                    </div>
                </div>
            </li> -->
        </ul>
    </nav>
  </div>
  <div class="shadow-inset-top-lg ">
  <router-outlet></router-outlet>
</div>
