<div class="form-body p-4 ">
    <div [formGroup]="partyAddress.controls[0]">
        <div class="form-layout__card" [ngClass]="{active: billingAddress}">
            <div class="form-layout__header">
                <h2 class="sub-heading">
                    Billing Address
                </h2>
                <span class="collapse-line"></span>
               
            </div>
            <div class="form-body">
                <div class="row " style="margin: 0;">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"   [ngClass]="addErrorClass(partyAddress.controls[0]['controls'].address_line_1)">
                            <label for="" class="">Address Line 1</label>
                            <input type="text" class="no-style input--bd" placeholder="No. 10/2 Ground Floor"
                                value="" formControlName="address_line_1">
                                <app-error [controlName]="partyAddress.controls[0]['controls'].address_line_1"> </app-error>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"
                            [ngClass]="addErrorClass(partyAddress.controls[0]['controls'].street)">
                            <label for="" class="">Address Line 2</label>
                            <input type="text" class="no-style input--bd" placeholder="2nd Street" value=""
                                formControlName="street">
                            <app-error [controlName]="partyAddress.controls[0]['controls'].street">
                            </app-error>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(partyAddress.controls[0]['controls'].country)">
                            <label for="" class="">Country</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                                [selectedOption]="{label:partyAddress.controls[0]['controls'].country.value,value:''}">
                                <select #customSelect formControlName="country" class="no-style select--modify"
                                    (change)="billingCountryChange()">
                                    <option *ngFor="let option of country" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="partyAddress.controls[0]['controls'].country">
                            </app-error>
                        </div>
                    </div>
    
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(partyAddress.controls[0]['controls'].state)">
                            <label for="" class="">State</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                            [selectedOption]="{label:partyAddress.controls[0]['controls'].state.value,value:''}">
                                <select #customSelect formControlName="state" class="no-style select--modify">
                                    <option *ngFor="let option of statesBilling" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="partyAddress.controls[0]['controls'].state">
                            </app-error>
                        </div>
                    </div>
    
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"
                            [ngClass]="addErrorClass(partyAddress.controls[0]['controls'].pincode)">
                            <label for="" class="">Pincode</label>
                            <input type="text" maxlength="70" class="no-style input--bd" placeholder="Eg:234155" value=""
                                formControlName="pincode">
                            <app-error [controlName]="partyAddress.controls[0]['controls'].pincode">
                            </app-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [formGroup]="partyAddress.controls[1]">
        <div class="form-layout__card" [ngClass]="{active: shippingAddress}">
            <div class="form-layout__header">
                <h2 class="sub-heading">
                    Shipping Address
                </h2>
                <span class="collapse-line"></span>
               
            </div>
            <div class="form-body">
                <div class="toggle-wrapper mg-bottom-30">
                    <span class="toggle-label">Shipping Address same as billing Address</span>
                    <label for="toggle" class="toggle-switch">
                        <input type="checkbox" id="toggle" (change)="toggleSameAddress()"
                              formControlName="is_same_as_billing">
                        <span class="toggle-box">
                            <span class="toggle-circle"></span>
                        </span>
                    </label>
                </div>
                <div class="row " style="margin: 0;" [attr.tabindex]="(partyAddress.controls[1]['controls'].is_same_as_billing.value==true || partyAddress.controls[1]['controls'].is_same_as_billing.value=='true')?-1:0"  [ngClass]="{disable:(partyAddress.controls[1]['controls'].is_same_as_billing.value==true || partyAddress.controls[1]['controls'].is_same_as_billing.value=='true')}">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"  [ngClass]="addErrorClass(partyAddress.controls[1]['controls'].address_line_1)">
                            <label for="" class="">Address Line 1</label>
                            <input type="text" class="no-style input--bd" placeholder="No. 10/2 Ground Floor"
                                value="" formControlName="address_line_1">
                                <app-error [controlName]="partyAddress.controls[1]['controls'].address_line_1">
                                </app-error>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"
                            [ngClass]="addErrorClass(partyAddress.controls[1]['controls'].street)">
                            <label for="" class="">Address Line 2</label>
                            <input type="text" class="no-style input--bd" placeholder="2nd Stage" value=""
                                formControlName="street">
                            <app-error [controlName]="partyAddress.controls[1]['controls'].street">
                            </app-error>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(partyAddress.controls[1]['controls'].country)">
                            <label for="" class="">Country</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                            [selectedOption]="{label:partyAddress.controls[1]['controls'].country.value,value:''}">
                                <select #customSelect formControlName="country" class="no-style select--modify"
                                    (change)="shippingCountryChange()">
                                    <option *ngFor="let option of country" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="partyAddress.controls[1]['controls'].country">
                            </app-error>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap max-height-150 error"
                            [ngClass]="addErrorClass(partyAddress.controls[1]['controls'].state)">
                            <label for="" class="">State</label>
                            <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
                                [selectedOption]="{label:partyAddress.controls[1]['controls'].state.value,value:''}">
                                <select #customSelect formControlName="state" class="no-style select--modify">
                                    <option *ngFor="let option of statesShipping" value="{{ option?.name }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="partyAddress.controls[1]['controls'].state">
                            </app-error>
                        </div>
                    </div>
    
    
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="input-wrap error"
                            [ngClass]="addErrorClass(partyAddress.controls[1]['controls'].pincode)">
                            <label for="" class="">Pincode</label>
                            <input type="text" maxlength="70" class="no-style input--bd" placeholder="Eg:234155" value=""
                                formControlName="pincode">
                            <app-error [controlName]="partyAddress.controls[1]['controls'].pincode">
                            </app-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

  
</div>