<aside class="aside-bar form-layout float-start"
  [ngClass]="{'main-content-demo-aside':isDemoAccount,'menu-closed': collapse}" *ngIf="isOpenMobileSideNav">
  <div class="aside-collapse tabIndexActive">
    <div class="aside-collapse__icon px-3 cursor-pointer" (click)="toggleCollapse()"><img
        src="./assets/img/aside-menu-collapse.svg" alt="" /></div>
  </div>
  <nav class="menu-item-wrapper tabIndexActive pt-" [ngClass]="{'menu--collapsed': collapse}">
    <div class="menu-main nav-padding" routerLinkActive="main-active" [routerLink]="['overview']"
      (click)="closeSideNav()">
      <span class="icon get-started-icon"></span>
      <span class="menu-main-text list-tab"> Get started</span>

    </div>
    <div class="menu-main  nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="dashboard"
      [routerLink]="['dashboard']" (click)="closeSideNav()"><span
        class="material-icons dashboard-icon material-bg icon">dashboard </span>
      <span class="menu-main-text list-tab"> Dashboard </span>

    </div>
    <div class="menu-main  nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="calendar"
      [routerLink]="['calendar']" (click)="closeSideNav()"><span
        class="material-icons dashboard-icon material-bg icon">calendar_today </span>
      <span class="menu-main-text list-tab"> Calendar </span>

    </div>
    <div class="menu-main nav-padding" [routerLink]="['reports']" routerLinkActive="main-active"
      (click)="closeSideNav()">
      <span class="reports-icon icon"></span>
      <span class="menu-main-text list-tab  "> Reports</span>
    </div>
    <div class="sub-menu-items menu-main nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="vehicleInspection"
    (click)="$event.stopPropagation()">
    <span [routerLink]="['vehicle-inspection']"> </span>
    <span [routerLink]="['vehicle-inspection/list']" *ngxPermissionsOnly="vehicleInspection[3]"
      class="icon vehicles-icon" (click)="closeSideNav()"> </span>
    <span [routerLink]="['vehicle-inspection/list']" *ngxPermissionsOnly="vehicleInspection[3]" class="list-tab"
      (click)="closeSideNav()"> Vehicle Inspection</span>
    <span [routerLink]="['vehicle-inspection/add']" *ngxPermissionsOnly="vehicleInspection[0]"
      class="material-icons add-icon p-0" (click)="closeSideNav()">add</span>
  </div>


    <div *ngxPermissionsOnly="onboarding" class="module-heading">Onboarding</div>

    <div *ngxPermissionsOnly="onboarding" class="menu-main menu-main-toggle" [ngClass]="{active: sideBar.vehicle_trip}">

      <div class="sub-menu">

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="vehicle"
          (click)="$event.stopPropagation()">
          <span [routerLink]="['onboarding/vehicle/own']"> </span>
          <span [routerLink]="['onboarding/vehicle/own/vehicle-list']" *ngxPermissionsOnly="vehicle[3]"
            class="icon vehicles-icon" (click)="closeSideNav()"> </span>
          <span [routerLink]="['onboarding/vehicle/own/vehicle-list']" *ngxPermissionsOnly="vehicle[3]" class="list-tab"
            (click)="closeSideNav()">Own Vehicles </span>
            <ng-container *ngIf="canCreateVehicle">
              <span [routerLink]="['onboarding/vehicle/own/add']" *ngxPermissionsOnly="vehicle[0]"
              class="material-icons add-icon p-0" (click)="closeSideNav()">add</span>
            </ng-container>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="marketVehicle"
          (click)="$event.stopPropagation()">
          <span [routerLink]="['onboarding/vehicle/market']"> </span>
          <span [routerLink]="['onboarding/vehicle/market/list']" *ngxPermissionsOnly="marketVehicle[3]"
            class="icon vehicles-icon" (click)="closeSideNav()"> </span>
          <span [routerLink]="['onboarding/vehicle/market/list']" *ngxPermissionsOnly="marketVehicle[3]"
            class="list-tab" (click)="closeSideNav()">Market Vehicles</span>
          <span [routerLink]="['onboarding/vehicle/market/add']" *ngxPermissionsOnly="marketVehicle[0]"
            class="material-icons add-icon p-0" (click)="closeSideNav()">add</span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="assets"
        (click)="$event.stopPropagation()">
        <span [routerLink]="['onboarding/assets']"> </span>
        <span [routerLink]="['onboarding/assets/list']" *ngxPermissionsOnly="assets[3]"
          class="icon assets-icon" (click)="closeSideNav()"> </span>
        <span [routerLink]="['onboarding/assets/list']" *ngxPermissionsOnly="assets[3]"
          class="list-tab" (click)="closeSideNav()">Own Assets</span>
          <ng-container *ngIf="canCreateAsset">
            <span [routerLink]="['onboarding/assets/add']" *ngxPermissionsOnly="assets[0]"
            class="material-icons add-icon p-0" (click)="closeSideNav()">add</span>
          </ng-container>
      </div>

      <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="container"
      (click)="$event.stopPropagation()">
      <span [routerLink]="['onboarding/container']"> </span>
      <span [routerLink]="['onboarding/container/list']" *ngxPermissionsOnly="container[3]"
        class="icon container-icon" (click)="closeSideNav()"> </span>
      <span [routerLink]="['onboarding/container/list']" *ngxPermissionsOnly="container[3]"
        class="list-tab" (click)="closeSideNav()">Container</span>
      <span [routerLink]="['onboarding/container/add']" *ngxPermissionsOnly="container[0]"
        class="material-icons add-icon p-0" (click)="closeSideNav()">add</span>
    </div>


        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="zone"
          (click)="$event.stopPropagation()">
          <span [routerLink]="['onboarding/zone']"> </span>
          <span [routerLink]="['onboarding/zone/list']" class="icon zone-icon" *ngxPermissionsOnly="zone[3]"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/zone/list']" class="list-tab" *ngxPermissionsOnly="zone[3]"
            (click)="closeSideNav()">Zones</span>
          <span [routerLink]="['onboarding/zone/add']" class="material-icons add-icon" *ngxPermissionsOnly="zone[0]"
            (click)="closeSideNav()">add</span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="ratecard"
        (click)="$event.stopPropagation()">
        <span [routerLink]="['onboarding/rate-card']"> </span>
        <span [routerLink]="['onboarding/rate-card/list']" class="icon rate-card-common-icon" *ngxPermissionsOnly="ratecard[3]"
          (click)="closeSideNav()"></span>
        <span [routerLink]="['onboarding/rate-card/list']" class="list-tab" *ngxPermissionsOnly="ratecard[3]"
          (click)="closeSideNav()">Rate Card</span>
        <span [routerLink]="['onboarding/rate-card/add']" class="material-icons add-icon" *ngxPermissionsOnly="ratecard[0]"
          (click)="closeSideNav()">add</span>
      </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="party"
          (click)="$event.stopPropagation()">
          <span [routerLink]="['onboarding/party']"> </span>
          <span [routerLink]="['onboarding/party/view']" *ngxPermissionsOnly="party[3]" class="icon parties-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/party/view']" *ngxPermissionsOnly="party[3]" class="list-tab"
            (click)="closeSideNav()">Parties</span>
          <span [routerLink]="['onboarding/party/add']" *ngxPermissionsOnly="party[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="employee">
          <span [routerLink]="['onboarding/employee']"> </span>
          <span [routerLink]="['onboarding/employee/view']" *ngxPermissionsOnly="employee[3]" class="icon employee-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/employee/view']" *ngxPermissionsOnly="employee[3]" class="list-tab "
            (click)="closeSideNav()">Employee</span>
          <span [routerLink]="['onboarding/employee/add']" *ngxPermissionsOnly="employee[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add </span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="bank">
          <span [routerLink]="['onboarding/bank']"> </span>
          <span [routerLink]="['onboarding/bank/list']" *ngxPermissionsOnly="bank[3]" class="icon bank-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/bank/list']" *ngxPermissionsOnly="bank[3]" class="list-tab"
            (click)="closeSideNav()">Bank</span>
          <span [routerLink]="['onboarding/bank/add']" *ngxPermissionsOnly="bank[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="tyreMaster"
          (click)="$event.stopPropagation()">
          <span [routerLink]="['onboarding/vehicle/tyremaster']"> </span>
          <span [routerLink]="['onboarding/vehicle/tyremaster/view']" *ngxPermissionsOnly="tyreMaster[3]"
            class="icon tyre-master-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/vehicle/tyremaster/view']" *ngxPermissionsOnly="tyreMaster[3]"
            class="list-tab " (click)="closeSideNav()">Tyre Master</span>
          <span [routerLink]="['onboarding/vehicle/tyremaster/add']" *ngxPermissionsOnly="tyreMaster[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" *ngxPermissionsOnly="item"
        (click)="$event.stopPropagation()">
        <span [routerLink]="['onboarding/item']"> </span>
        <span [routerLink]="['onboarding/item/list']" *ngxPermissionsOnly="item[3]"
          class="icon item-master-icon" (click)="closeSideNav()"></span>
        <span [routerLink]="['onboarding/item/list']" *ngxPermissionsOnly="item[3]"
          class="list-tab " (click)="closeSideNav()">Item Master</span>
        <span [routerLink]="['onboarding/item/add']" *ngxPermissionsOnly="item[0]"
          class="material-icons add-icon" (click)="closeSideNav()">add</span>
      </div>
    
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="openingBalance">
          <span [routerLink]="['onboarding/chart-of-account']"></span>
          <span [routerLink]="['onboarding/chart-of-account/list']" *ngxPermissionsOnly="openingBalance[3]"
            class="icon opening-balance-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['onboarding/chart-of-account/list']" *ngxPermissionsOnly="openingBalance[3]"
            class="list-tab" (click)="closeSideNav()">Opening Balance</span>
          <span [routerLink]="['onboarding/chart-of-account/add']" *ngxPermissionsOnly="openingBalance[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
      </div>
      <div class="toggle-main cursor-pointer" (click)="sideBar.vehicle_trip = !sideBar.vehicle_trip"
        [ngClass]="{'activatedToggle': sideBar.vehicle_trip}"><span class="drop-down menu-toggle"></span></div>
    </div>

    <div *ngxPermissionsOnly="trip" class="module-heading">Job</div>
    <div *ngxPermissionsOnly="trip" class="menu-main menu-main-toggle" [ngClass]="{active: sideBar.trip}">


      <div class="sub-menu trip-menu">

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="quotation">
          <span [routerLink]="['trip/quotation']"></span>
          <span [routerLink]="['trip/quotation/list']" *ngxPermissionsOnly="quotation[3]" class="icon quotation-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/quotation/list']" *ngxPermissionsOnly="quotation[3]" class="list-tab"
            (click)="closeSideNav()">Quotation</span>
          <span [routerLink]="['trip/quotation/add']" *ngxPermissionsOnly="quotation[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>


      

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="workOrder">
          <span [routerLink]="['trip/work-order']"></span>
          <span [routerLink]="['trip/work-order/list']" *ngxPermissionsOnly="workOrder[3]" class="icon work-order-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/work-order/list']" *ngxPermissionsOnly="workOrder[3]" class="list-tab"
            (click)="closeSideNav()">Sales Order</span>
          <span [routerLink]="['trip/work-order/add']" *ngxPermissionsOnly="workOrder[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="siteInspection">
          <span [routerLink]="['trip/site-inspection']"></span>
          <span [routerLink]="['trip/site-inspection/list']" *ngxPermissionsOnly="siteInspection[3]" class="icon work-order-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/site-inspection/list']" *ngxPermissionsOnly="siteInspection[3]" class="list-tab"
            (click)="closeSideNav()">Site Inspection</span>
          <span [routerLink]="['trip/site-inspection/add']" *ngxPermissionsOnly="siteInspection[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
         </div>
       <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
       *ngxPermissionsOnly="localPurchaseOrder">
       <span [routerLink]="['trip/local-purchase-order']"></span>
       <span [routerLink]="['trip/local-purchase-order/list']" *ngxPermissionsOnly="localPurchaseOrder[3]" class="icon work-order-icon"
         (click)="closeSideNav()"></span>
       <span [routerLink]="['trip/local-purchase-order/list']" *ngxPermissionsOnly="localPurchaseOrder[3]" class="list-tab"
         (click)="closeSideNav()">Local Purchase Order</span>
       <span [routerLink]="['trip/local-purchase-order/add']" *ngxPermissionsOnly="localPurchaseOrder[0]"
         class="material-icons add-icon" (click)="closeSideNav()">add</span>
      </div>


        <div class="sub-menu-items nav-padding trips-pointer" routerLinkActive="main-active"
          (click)="$event.stopPropagation()" *ngxPermissionsOnly="newTrips">
          <span [routerLink]="['trip/new-trip']"></span>
          <span [routerLink]="['trip/new-trip/list']" *ngxPermissionsOnly="newTrips[3]" class="icon trips-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/new-trip/list']" *ngxPermissionsOnly="newTrips[3]" class="list-tab"
            (click)="closeSideNav()">Job</span>
          <span [routerLink]="['trip/new-trip/add']" *ngxPermissionsOnly="newTrips[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="vehicleProvider">
          <span [routerLink]="['trip/vehicle-payment/list']" *ngxPermissionsOnly="vehicleProvider[3]"
            class="icon vehicle-payment-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/vehicle-payment']"> </span>
          <span [routerLink]="['trip/vehicle-payment/list']" *ngxPermissionsOnly="vehicleProvider[3]" class="list-tab"
            (click)="closeSideNav()">Vehicle Payment</span>
          <span [routerLink]="['trip/vehicle-payment/add']" *ngxPermissionsOnly="vehicleProvider[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="tripExpense">

          <span [routerLink]="['trip/trip-expense/list']" *ngxPermissionsOnly="tripExpense[3]"
            class="icon trip-expense-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/trip-expense']"> </span>
          <span [routerLink]="['trip/trip-expense/list']" *ngxPermissionsOnly="tripExpense[3]" class="list-tab"
            (click)="closeSideNav()">Job Expense</span>
          <span [routerLink]="['trip/trip-expense/add']" *ngxPermissionsOnly="tripExpense[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="employeeOthers">
          <span [routerLink]="['trip/employee-others/list']" *ngxPermissionsOnly="employeeOthers[3]"
            class="icon employee-others-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/employee-others']"> </span>
          <span [routerLink]="['trip/employee-others/list']" *ngxPermissionsOnly="employeeOthers[3]" class="list-tab"
            (click)="closeSideNav()">Employee Expense</span>
          <span [routerLink]="['trip/employee-others/add']" *ngxPermissionsOnly="employeeOthers[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="['bdp_user']">
          <span [routerLink]="['trip/bdp/details/']" *ngxPermissionsOnly="['bdp_user']"></span>
          <span [routerLink]="['trip/bdp/list']" *ngxPermissionsOnly="['bdp_user']" class="icon employee-others-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['trip/bdp/list']" *ngxPermissionsOnly="['bdp_user']" class="list-tab"
            (click)="closeSideNav()">BDP</span>
        </div>
      </div>

      <div class="toggle-main cursor-pointer" (click)="sideBar.trip = !sideBar.trip"
        [ngClass]="{'activatedToggle': sideBar.trip}"><span class="drop-down menu-toggle"></span></div>
    </div>




    <div *ngxPermissionsOnly="income" class="module-heading">Income</div>
    <div *ngxPermissionsOnly="income" class="menu-main menu-main-toggle" [ngClass]="{active: sideBar.income}">



      <div class="sub-menu">

        <!-- <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="invoice">

          <span [routerLink]="['income/performa-invoice/list']" *ngxPermissionsOnly="invoice[3]"
            class="icon invoice-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/performa-invoice']"> </span>
          <span [routerLink]="['income/performa-invoice/list']" *ngxPermissionsOnly="invoice[3]" class="list-tab"
            (click)="closeSideNav()">Proforma Invoice</span>
          <span [routerLink]="['income/performa-invoice/add']" *ngxPermissionsOnly="invoice[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div> -->

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="invoice">

          <span [routerLink]="['income/invoice/list']" *ngxPermissionsOnly="invoice[3]" class="icon invoice-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['income/invoice']"> </span>
          <span [routerLink]="['income/invoice/list']" *ngxPermissionsOnly="invoice[3]" class="list-tab"
            (click)="closeSideNav()">Invoice</span>
          <span [routerLink]="['income/invoice/add']" *ngxPermissionsOnly="invoice[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>



        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="paymentReceived">

          <span [routerLink]="['income/payments/list/invoice']" *ngxPermissionsOnly="paymentReceived[3]"
            class="icon payment-received-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/payments/invoice']"> </span>
          <span [routerLink]="['income/payments/list/invoice']" *ngxPermissionsOnly="paymentReceived[3]"
            class="list-tab" (click)="closeSideNav()">Payment Received</span>
          <span [routerLink]="['income/payments/invoice/add']" *ngxPermissionsOnly="paymentReceived[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="debitNote">
          <span [routerLink]="['income/debit-note/list']" *ngxPermissionsOnly="debitNote[3]"
            class="icon debit-note-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/debit-note']"> </span>
          <span [routerLink]="['income/debit-note/list']" *ngxPermissionsOnly="debitNote[3]" class="list-tab"
            (click)="closeSideNav()">Debit Note</span>
          <span [routerLink]="['income/debit-note/add']" *ngxPermissionsOnly="debitNote[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="creditNote">

          <span [routerLink]="['income/credit-note/list']" *ngxPermissionsOnly="creditNote[3]"
            class="icon credit-note-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/credit-note']"> </span>
          <span [routerLink]="['income/credit-note/list']" *ngxPermissionsOnly="creditNote[3]" class="list-tab "
            (click)="closeSideNav()">Credit Note</span>
          <span [routerLink]="['income/credit-note/add']" *ngxPermissionsOnly="creditNote[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="bos">
          <span [routerLink]="['income/billofsupply/list']" *ngxPermissionsOnly="bos[3]"
            class="icon bill-of-supply-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/billofsupply']"> </span>
          <span [routerLink]="['income/billofsupply/list']" *ngxPermissionsOnly="bos[3]" class="list-tab"
            (click)="closeSideNav()">Bill of Supply</span>
          <span [routerLink]="['income/billofsupply/add']" *ngxPermissionsOnly="bos[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="advance">

          <span [routerLink]="['income/payments/list/advance']" *ngxPermissionsOnly="advance[3]"
            class="icon advance-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/payments/advance']"> </span>
          <span [routerLink]="['income/payments/list/advance']" *ngxPermissionsOnly="advance[3]" class="list-tab"
            (click)="closeSideNav()">Advance</span>
          <span [routerLink]="['income/payments/advance/add']" *ngxPermissionsOnly="advance[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="refund">

          <span [routerLink]="['income/payments/list/refund']" *ngxPermissionsOnly="refund[3]" class="icon refund-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['income/payments/refund']"> </span>
          <span [routerLink]="['income/payments/list/refund']" *ngxPermissionsOnly="refund[3]" class="list-tab"
            (click)="closeSideNav()">Refund</span>
          <span [routerLink]="['income/payments/refund/add']" *ngxPermissionsOnly="refund[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="chequePayment">
          <span [routerLink]="['income/payments/cheque_payment']" *ngxPermissionsOnly="chequePayment[3]"
            class="icon cheque-payment-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['income/payments/cheque_payment']" *ngxPermissionsOnly="chequePayment[3]"
            class="list-tab" (click)="closeSideNav()">Cheque Payment</span>
        </div>
      </div>

      <div class="toggle-main cursor-pointer" (click)="sideBar.income = !sideBar.income"
        [ngClass]="{'activatedToggle': sideBar.income}"><span class="drop-down menu-toggle"></span></div>
    </div>

    <div *ngxPermissionsOnly="expenses" class="module-heading">Expenses</div>

    <div *ngxPermissionsOnly="expenses" class="menu-main menu-main-toggle" [ngClass]="{active: sideBar.billofsupply}">



      <div class="sub-menu">

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="maintenance">
          <span [routerLink]="['expense/maintenance']"
            class="icon maintenance-icon"></span>
          <span [routerLink]="['expense/maintenance/list']" *ngxPermissionsOnly="maintenance[3]"
            class="icon maintenance-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['expense/maintenance/list']" *ngxPermissionsOnly="maintenance[3]" class="list-tab"
            (click)="closeSideNav()">Maintenance</span>
          <span *ngxPermissionsOnly="maintenance[0]" [routerLink]="['expense/maintenance/add']"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="fuel">

          <span [routerLink]="['expense/fuel_expense/list']" *ngxPermissionsOnly="fuel[3]" class="icon fueling-icon"
            (click)="closeSideNav()"><span class="material-icons material-bg">local_gas_station </span></span>
          <span [routerLink]="['expense/fuel_expense']"> </span>
          <span [routerLink]="['expense/fuel_expense/list']" *ngxPermissionsOnly="fuel[3]" class="list-tab"
            (click)="closeSideNav()">Fueling</span>
          <span [routerLink]="['expense/fuel_expense/add']" *ngxPermissionsOnly="fuel[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="salaries">

          <span [routerLink]="['expense/salary_expense/list']" *ngxPermissionsOnly="salaries[3]"
            class="icon salaries-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['expense/salary_expense']"> </span>
          <span [routerLink]="['expense/salary_expense/list']" *ngxPermissionsOnly="salaries[3]" class="list-tab"
            (click)="closeSideNav()">Salaries</span>
          <span [routerLink]="['expense/salary_expense/add']" *ngxPermissionsOnly="salaries[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="otherBills">

          <span [routerLink]="['expense/others_expense/list']" *ngxPermissionsOnly="otherBills[3]"
            class="icon other-bills-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['expense/others_expense']"> </span>
          <span [routerLink]="['expense/others_expense/list']" *ngxPermissionsOnly="otherBills[3]" class="list-tab"
            (click)="closeSideNav()">Other Bills</span>
          <span [routerLink]="['expense/others_expense/add']" *ngxPermissionsOnly="otherBills[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="pettyExpense">

          <span [routerLink]="['expense/petty-expense/list']" *ngxPermissionsOnly="pettyExpense[3]"
            class="icon petty-expense-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['expense/petty-expense']"> </span>
          <span [routerLink]="['expense/petty-expense/list']" *ngxPermissionsOnly="pettyExpense[3]" class="list-tab"
            (click)="closeSideNav()">Petty Expense</span>
          <span [routerLink]="['expense/petty-expense/add']" *ngxPermissionsOnly="pettyExpense[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
      </div>

      <div class="toggle-main cursor-pointer" (click)="sideBar.billofsupply = !sideBar.billofsupply"
        [ngClass]="{'activatedToggle': sideBar.billofsupply}"><span class="drop-down menu-toggle"></span></div>

    </div>
    <div *ngxPermissionsOnly="payments" class="module-heading">Payments</div>
    <div *ngxPermissionsOnly="payments" class="menu-main menu-main-toggle" [ngClass]="{active: sideBar.debit}">

      <div class="sub-menu">

        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="payLater">

          <span [routerLink]="['payments/list/bill']" *ngxPermissionsOnly="payLater[3]" class="icon pay-later-icon"
            (click)="closeSideNav()"></span>
          <span [routerLink]="['payments/edit/bill/']" *ngxPermissionsOnly="payLater[1]"> </span>
          <span [routerLink]="['payments/list/bill']" *ngxPermissionsOnly="payLater[3]" class="list-tab"
            (click)="closeSideNav()">Pay Later</span>
          <span [routerLink]="['payments/bill']" *ngxPermissionsOnly="payLater[0]" class="material-icons add-icon"
            (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="vendorAdvance">

          <span [routerLink]="['payments/list/advance']" *ngxPermissionsOnly="vendorAdvance[3]"
            class="icon vendor-advance-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['payments/edit/advance/']" *ngxPermissionsOnly="vendorAdvance[1]"> </span>
          <span [routerLink]="['payments/list/advance']" *ngxPermissionsOnly="vendorAdvance[3]" class="list-tab"
            (click)="closeSideNav()">Vendor Advance</span>
          <span [routerLink]="['payments/advance']" *ngxPermissionsOnly="vendorAdvance[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
        <div class="sub-menu-items nav-padding" routerLinkActive="main-active" (click)="$event.stopPropagation()"
          *ngxPermissionsOnly="vendorCredits">

          <span [routerLink]="['payments/vendor_credit/list']" *ngxPermissionsOnly="vendorCredits[3]"
            class="icon vendor-credits-icon" (click)="closeSideNav()"></span>
          <span [routerLink]="['payments/vendor_credit']"> </span>
          <span [routerLink]="['payments/vendor_credit/list']" *ngxPermissionsOnly="vendorCredits[3]" class="list-tab"
            (click)="closeSideNav()">Vendor Credits</span>
          <span [routerLink]="['payments/vendor_credit/add']" *ngxPermissionsOnly="vendorCredits[0]"
            class="material-icons add-icon" (click)="closeSideNav()">add</span>
        </div>
      </div>

      <div class="toggle-main cursor-pointer" (click)="sideBar.debit = !sideBar.debit"
        [ngClass]="{'activatedToggle': sideBar.debit}"><span class="drop-down menu-toggle"></span></div>
    </div>
  </nav>
</aside>