<div class="calc-height">
    <app-list-widget listTitle="Rate Card" [isAddButton]="true" [buttonData]="buttonData"
        (listWidgetData)="listWidgetData($event)" [isSettings]="false" [isDropDown]="false" [isDateDropDown]="false"
        [isExport]="false">
    </app-list-widget>
</div>

<div class="custom-table-container" id="rate-card-list" (scroll)="onScroll()">
    <table [ngClass]="{'h-100':rateCardListDetails.length==0}">

        <thead>
            <tr>
                <th>Date</th>
                <th>Rate Card Name</th>
                <th>Vehicle Category</th>
                <th>Billing Unit</th>
                <th class="icon-box"></th>
            </tr>
        </thead>
        <tbody *ngIf="rateCardListDetails.length==0">
            <tr class="border-0">
                <td class="bg-white" colspan="30">
                    <div class="no-list-data-wrap">
                        <figure>
                            <img src="assets/img/no-content.png" alt="">
                        </figure>
                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                    </div>
                </td>
            </tr>

        </tbody>

        <tbody>
            <tr *ngFor="let rateCard of rateCardListDetails; let i = index;">
                <td class="ws-nowrap">{{dateChange(rateCard?.date)}}</td>
                <td>
                    <a class="custom-link" [routerLink]="[prefixUrl+'/onboarding/rate-card/details/',rateCard?.id]">
                        {{rateCard?.name}}</a>
                </td>
                <td class="ws-nowrap">{{rateCard?.vehicle_category_label}}</td>
                <td class="ws-nowrap">{{rateCard?.billing_unit ? rateCard?.billing_unit : '-'}}</td>
                <td class="icon-box  tabIndexActive">
                    <div class="d-flex justify-content-center align-items-center" *ngxPermissionsOnly="[rateCardPermission[2],rateCardPermission[1]]">
                        <div class="position-relative">
                            <button class="material-icons more-icon p-0"
                                (click)="optionsList($event, 'list_'+rateCard?.id)">more_vert</button>
                            <div class="more-actions__menu table-popup"
                                [ngClass]="{show: showOptions === 'list_'+rateCard?.id}">
                                <button *ngxPermissionsOnly="[rateCardPermission[1]]" class="more-actions__item w-100" [routerLink]="[prefixUrl+'/onboarding/rate-card/edit',rateCard?.id]"><i class="material-icons">edit</i>Edit</button>
                                <button *ngxPermissionsOnly="[rateCardPermission[2]]" class="more-actions__item w-100" 
                                    (click)="popupFunction(rateCard, i)"><i
                                        class="material-icons">delete</i>Delete</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>