@import"../../../../../../../../assets/styles/helpers/variable";
.disableInput {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


.showInvalid{
  border-bottom: 1px solid $error-txt !important;
  color: $error-txt;
  &::placeholder{
    color: $error-txt;
  }

}
