@import "../../../../../../../assets/styles/helpers/variable";
.material-add-btn {
  width: 24px;
  height: 24px;
  background-color: $primary-brand-color;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 19px;
}
.driver-wraper ::ng-deep{
    position: relative;

    .multiselect-dropdown .dropdown-btn{
        border: unset !important;
        border-bottom: 1px solid #adadad !important;
        border-radius: 0px !important; 
        padding: 0px 0px 10px 0px !important;
        color:$text-color;
        line-height: normal !important;
      
    }
    .dropdown-multiselect__caret{
        display: none !important;
    }

    span[style*="float: right !important;"] {
        visibility: hidden !important;
      }
      
}
:host ::ng-deep {


    .box-driver .multiselect-dropdown .dropdown-btn{
        border: 1px solid rgba(90,107,123,.5) !important;
        border-radius: 5px !important;
        color: $text-color !important;
        height: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0px 10px 0px 10px !important;
        display: flex !important;
        align-items: center;
    }

} 
.box-driver{
    .driver-count{
        
        top: 12px;
        left: 10px;
    }
}


.driver-wraper-width::ng-deep{
    position: relative;
    .multiselect-dropdown .dropdown-btn{
        border: unset !important;
        border-bottom:unset !important;
        border-radius: 0px !important; 
        padding: unset !important;
        width: 0px;      
        display: none !important;
    }
    
    .dropdown-multiselect__caret{
        display: none !important;
    }
    .multiselect-dropdown .dropdown-list{
     max-width: 250px !important;
    }

    span[style*="float: right !important;"] {
        visibility: hidden !important;
      }
      
}

.driver-count{
    position: absolute;
    top: 5px;
    color: $text-color;
}

.dot {
    display: inline-block;
    width: 4px; 
    height: 4px;
    background-color:#868687;
    border-radius: 50%; 
    margin-right: 3px;
  }
  .driver-name{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    color: #868687;
    font: normal normal normal 14px/19px;
    letter-spacing: 0.28px;
}

.dot-list {
    display: inline-block;
    width: 4px; 
    height: 4px;
    background-color:#07c060;
    border-radius: 50%; 
  }
  .driver-name-list{
    display: inline-block;
    margin-right: 5px;
    color: #07c060;
    font: normal normal normal 14px/19px;
    letter-spacing: 0.28px;
    vertical-align: middle;
}
