@import "../../../../../../.././assets/styles/helpers/variable";

.tax-input-box {
    border: 1px solid rgba(90, 107, 123, 0.5);
    border-radius: 8px;
    display: flex;
    margin-right: 20px;
  
  
    span {
      border-radius: 8px;
      border-right: 1px solid rgba(90, 107, 123, 0.5);
      padding: 10px 20px;
      color: $text-color;
      font-weight: 500;
      background-color: #E8E8E8;
  
  
    }
  }

  table{
    width: 100%;
    color: $text-color;
    th{
        font-size: 12px;
        white-space: nowrap;
    }

    th, td {
        border: 1px solid #CECECE;
        border-collapse: collapse;
        padding: 20px 7px;
        

}
  }
.drag-icon{
  border-style: hidden !important;
  border-top: 1px solid #CECECE !important;
  border-left: 1px solid #CECECE !important;
  border-bottom: 1px solid #CECECE !important;
}

.error-border{
  border: 2px solid #eb2727 !important;
}
.row-btn{
  
  margin-left: 20px;
  padding: 7px;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  color: $white;

  .material-icons{
    font-size: 16px;
  }
 
  &-add{
    background: $green;
  }
  &-delete{
    background: $error-txt;
  }
  &-copy{
    background: $sky-blue;
  }


}
.des-input{
  max-width: 250px;
}
.custom-field-input-wrap{
  
  input{
    padding: 7px 6px !important;
  border-radius: 3px;
  border: 1px solid transparent ;

  min-width: 60px;
  &:focus{
    border: 1px solid $primary-brand-color !important;
    


  
  }
  }
  
  

}
:host::ng-deep{
  .custom-field-input-wrap{

.quotation-dropdown-cf{

  .input--bd{
    padding: 7px 6px !important;
    border-radius: 3px;
    border: 1px solid transparent;

    min-width: 60px;
    &:focus{
      border: 1px solid $primary-brand-color;
      


    
    }
  }


}
.quotation-date-cf{
  max-width: 115px;
  .mat-form-field-underline {
    display: none;
  }
}
  }

}