@import "../../../../../../../assets/styles/helpers/variable";

.right-section__header {
    padding: 6px 20px;
}

b {
    margin-right: 8px;
}
.export-btn{
    position: relative;
    &::before{
        content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    left: 15px;
    background-image: url('../../../../../../../assets/img/icons/file-export.png');
    background-size: cover;
    }
}

.veh-type {
    border: 2px solid $green;
    background-color: #fff;
    color: $green;

    display: flex;
    align-items: center;
    padding: 4px;

    .veh-icon {
        width: 21px;
        vertical-align: middle;
        margin-right: 7px;
    }

}

.quotation-id {
    margin-right: 14px;
    color: $primary-brand-color;
    font-weight: 600;
    font-size: 15px;


    button {
        box-sizing: border-box;
        padding: 7px;
        border-radius: 7px;
        border: 1px dotted transparent;

        &:hover {
            border-color: gainsboro;
        }

        .bi-chevron-left {
            -webkit-text-stroke: 1px;
            color: black;
            font-size: 15px;
        }
    }
}

.details {
   
    background-color: $layout-bg;

    p {

        padding: 15px 0;
        color: #676A6E;
    }

}


.edit-btn {
    top: 25px;
    right: 25px;
    background-color: $layout-bg;
    z-index: 1;
    width: 35px;
    height: 35px;
    border: 1.5px solid #ACB5BD;
    padding: 9px;
    color: #676A6E;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 600;
    transition: all 100ms ease-in-out;


    &:hover {

        transform: scale(1.1);

    }


}

.export-button {
    button {
        border: 2px solid #ACB5BD;
        color: $text-color;
        border-radius: 6px;
        height: 35px;
        padding-left: 30px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 600;
        position: relative;

        &::before {
            content: "";
            width: 15px;
            height: 15px;
            display: inline-block;
            position: absolute;
            left: 10px;


            background-image: url("../../../../../../../assets/img/icons/file-export.png");
            background-size: cover;
        }
    }

}

.addable-row-table{
    th{
        padding: 10px 40px;
    }
    td:first-child{
        padding: 15px 0;


    }
    td{
        padding: 10px 20px;
    }


}


