<div class="right-section__header ps-2">
    <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
        <p class="quotation-id me-2" (click)="historyBack()"><button><i
                    class="bi bi-chevron-left"></i></button></p>
                    <p class="quotation-id">{{rateCardHeaderDetails?.name}}</p>
                    <div class="veh-category-chip container-chip" >
                        {{rateCardHeaderDetails?.vehicle_category_label}}
                      </div>
                </div>

    <div class="d-flex flex-wrap align-items-center">
            <button class="gb-edit-btn-secondary me-2" *ngxPermissionsOnly="[rateCardPermission[1]]" [routerLink]="[prefixUrl+'/onboarding/rate-card/edit/',rateCardHeaderDetails?.id]"><span  class="material-icons"> create </span>Edit</button>
            
                <button (click)="buildPdf()" class="gb-edit-btn-secondary export-btn">Export</button>
            
    </div>
</div>
</div>

<div class="shadow-inset-top  py-4 pt-3 px-4  def-color">
    <div class="d-flex">
        <p class="mb-2 mt-2 me-3"><b>Date : </b>{{rateCardHeaderDetails?.date}}</p>
    </div>
    <div  class="d-flex align-items-center mb-3"><p class=" ws-nowrap fw-semibold ">Rental Charge</p><hr  class="w-100 ms-4"></div>
    <div class="addable-row-table">
        <table>
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">
                        <mat-checkbox color="primary" (change)="parentRateCardChecked($event.checked)"    [checked]="parentBoxChecked"></mat-checkbox>
                    </th>
                    <th rowspan="2" >
                        Port Location 
                    </th>
                    <th rowspan="2" >
                        Customer Location
                    </th>
                    <th colspan="5" class="text-center" *ngIf="rateCardHeaderDetails?.container_handling['pullout']">
                        <mat-checkbox color="primary" (change)="allPullout($event.checked)"  [checked]="pullout.isSelected">PullOut</mat-checkbox>
                        
                    </th>
                    <th colspan="5" class="text-center" *ngIf="rateCardHeaderDetails?.container_handling['deposit']">
                        <mat-checkbox color="primary"  (change)="allDeposit($event.checked)" [checked]="deposit.isSelected">Deposit</mat-checkbox>
                        
                        </th>
                    <th colspan="5" class="text-center" *ngIf="rateCardHeaderDetails?.container_handling['pullout_deposit']">
                        <mat-checkbox color="primary" (change)="allPulloutAndDeposit($event.checked)"  [checked]="pulloutDeposit.isSelected">PullOut and Deposit</mat-checkbox>
                      
                    </th>
                    <th colspan="5" class="text-center" *ngIf="rateCardHeaderDetails?.container_handling['live_loading']">
                        <mat-checkbox color="primary" (change)="allLiveLoading($event.checked)"  [checked]="liveLoading.isSelected">Live Loading</mat-checkbox>
                        
                    </th>
                </tr>
                <tr>
                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['pullout']">
                        <th>
                            <mat-checkbox color="primary" (change)="pulloutSelection($event.checked,'regular')"  [checked]="pullout.regular">Regular</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary" (change)="pulloutSelection($event.checked,'couple')"  [checked]="pullout.couple">Couple</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutSelection($event.checked,'boggy')"  [checked]="pullout.boggy">Boggy</mat-checkbox>
                            
                           
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutSelection($event.checked,'sideloader')"  [checked]="pullout.sideloader">Side Loader</mat-checkbox>
                          
                           
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutSelection($event.checked,'lowbed')"  [checked]="pullout.lowbed">LowBed</mat-checkbox>
                            
                           
                        </th>
                    </ng-container>

                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['deposit']" >
                        <th>
                            <mat-checkbox color="primary"  (change)="depositSelection($event.checked,'regular')"  [checked]="deposit.regular">Regular</mat-checkbox>
                             </th>
                        <th>
                            <mat-checkbox color="primary" (change)="depositSelection($event.checked,'couple')"   [checked]="deposit.couple">Couple</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="depositSelection($event.checked,'boggy')"  [checked]="deposit.boggy">Boggy</mat-checkbox>
                             
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="depositSelection($event.checked,'sideloader')"  [checked]="deposit.sideloader">Side Loader</mat-checkbox>
                            
                           
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="depositSelection($event.checked,'lowbed')"  [checked]="deposit.lowbed"> LowBed</mat-checkbox>
                           
                           
                        </th>

                    </ng-container>


                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['pullout_deposit']">

                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutdepositSelection($event.checked,'regular')"  [checked]="pulloutDeposit.regular">Regular</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary" (change)="pulloutdepositSelection($event.checked,'couple')"   [checked]="pulloutDeposit.couple">Couple</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary" (change)="pulloutdepositSelection($event.checked,'boggy')" [checked]="pulloutDeposit.boggy">Boggy</mat-checkbox>
                            
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutdepositSelection($event.checked,'sideloader')"  [checked]="pulloutDeposit.sideloader">Side Loader</mat-checkbox>
                            
                           
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="pulloutdepositSelection($event.checked,'lowbed')"  [checked]="pulloutDeposit.lowbed">LowBed</mat-checkbox>
                            
                           
                        </th>

                    </ng-container>

                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['live_loading']">

                        <th>
                            <mat-checkbox color="primary"  (change)="liveLoadingSelection($event.checked,'regular')"  [checked]="liveLoading.regular">Regular</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary" (change)="liveLoadingSelection($event.checked,'couple')"   [checked]="liveLoading.couple">Couple</mat-checkbox>
                            </th>
                        <th>
                            <mat-checkbox color="primary" (change)="liveLoadingSelection($event.checked,'boggy')" [checked]="liveLoading.boggy">Boggy</mat-checkbox>
                            
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="liveLoadingSelection($event.checked,'sideloader')"  [checked]="liveLoading.sideloader"> Side Loader</mat-checkbox>
                           
                           
                        </th>
                        <th>
                            <mat-checkbox color="primary"  (change)="liveLoadingSelection($event.checked,'lowbed')"  [checked]="liveLoading.lowbed">LowBed</mat-checkbox>
                            
                           
                        </th>

                    </ng-container>
                  


                  




                   



                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rateCard of rateCardList; let i = index;">
                    <td class="text-center">
                        <mat-checkbox color="primary"  (change)="rateCardChecked($event.checked,i)"   [checked]="rateCard.is_checked"></mat-checkbox>
                    </td>
                    <td>{{rateCard?.pullout_zone?.name}}</td>
                    <td>{{rateCard?.zone?.name}}</td>

                    
                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['pullout']">
                        <td>{{rateCard?.pullout?.regular | numberFormat}}</td>
                        <td>{{rateCard?.pullout?.couple | numberFormat}}</td>
                        <td>{{rateCard?.pullout?.boggy | numberFormat}}</td>
                        <td>{{rateCard?.pullout?.sideLoader| numberFormat}}</td>
                        <td>{{rateCard?.pullout?.lowBed| numberFormat}}</td>
                    </ng-container>

                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['deposit']">

                        <td>{{rateCard?.deposit?.regular| numberFormat}}</td>
                        <td>{{rateCard?.deposit?.couple| numberFormat}}</td>
                        <td>{{rateCard?.deposit?.boggy | numberFormat}}</td>
                        <td>{{rateCard?.deposit?.sideLoader | numberFormat}}</td>
                        <td>{{rateCard?.deposit?.lowBed | numberFormat}}</td>

                    </ng-container>

                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['pullout_deposit']">

                        <td>{{rateCard?.pullout_deposit?.regular | numberFormat}}</td>
                        <td>{{rateCard?.pullout_deposit?.couple | numberFormat}}</td>
                        <td>{{rateCard?.pullout_deposit?.boggy | numberFormat}}</td>
                        <td>{{rateCard?.pullout_deposit?.sideLoader | numberFormat}}</td>
                        <td>{{rateCard?.pullout_deposit?.lowBed | numberFormat}}</td>

                    </ng-container>

                    <ng-container *ngIf="rateCardHeaderDetails?.container_handling['live_loading']">
                        <td>{{rateCard?.live_loading?.regular | numberFormat}}</td>
                        <td>{{rateCard?.live_loading?.couple | numberFormat}}</td>
                        <td>{{rateCard?.live_loading?.boggy | numberFormat}}</td>
                        <td>{{rateCard?.live_loading?.sideLoader | numberFormat}}</td>
                        <td>{{rateCard?.live_loading?.lowBed | numberFormat}}</td>

                    </ng-container>
                   

                  

                  

                 

          
                </tr>
            </tbody>
        </table>
    </div>
</div>

