@import"../../../../../../../../assets/styles/helpers/variable";


.tab-content {
    
    padding: 15px;
   
}

@keyframes active-tab-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}