@import "../../../../../../../../../assets/styles/helpers/variable";



.expand-btn {
    font-size: 19px;
    -webkit-text-stroke: 0.5px;
    transition: all 200ms ease-in-out;
    color: $text-color;



}

.expand-btn.expanded {

    transform: rotate(90deg);
}

.search-filter {

    color: $text-color;
    height: 35px;
    border: 1px solid #B8B8B8 !important;
    border-radius: 35px;
    padding: 7px;
    padding-right: 32px;
    transition: all 200ms ease;




}

.table-title {
    font-size: 18px;
}

.search-filter:focus {

    border-color: $primary-brand-color !important;
    background-color: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}

.search-filter:focus+.search-icon {
    color: $primary-brand-color;
}

.search-icon {
    position: absolute;
    font-size: 16px;
    right: 16px;
    top: 9px;


    -webkit-text-stroke: 1px;
    color: #979696;
}

.save-file,
.edit-button,
.filter-btn,
.setting-button {
    color: #979696;
    height: 35px;
    border: 1px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 6px;

    .material-icons {
        font-size: 20px;
    }
}

.add-btn {
    height: 35px;
    background-color: $primary-brand-color;
    color: #fff;
    border-radius: 6px;

    .bi {
        margin-right: 5px;
    }


}
.w-expand-btn{
    position: relative;
    padding-left: 35px;
    &::before {
        position: absolute;
        left: 3px;
        content: "";
       
        width: 30px;
        height: 15px;
        margin: 0 5px 0 0;
        display: inline-block;
        background-image: url('../../../../../../../../../assets/img/icons/expand-icon.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        
        background-size: contain;
    }
    
    
    
    &:hover{
        color: $primary-brand-color;
        background-color: #fff;
    }
    &:active{
        transform: scale(0.95);
    }
    
}
.flip{
    &::before
    {
        transform: scale(-1);
    }
    

   
}

