<div class="d-flex justify-content-between align-items-center py-2 px-3">
  
    <div class="d-flex align-items-center">
      <button (click)="historyBack()" class="gb-back-btn"><i
          class="bi bi-chevron-left"></i></button>
      <span class="fw-semibold primary-brand-text ms-2 fs-6">{{lpoView?.lpo_no}}</span>
    </div>

    <div class="d-flex align-items-center" >  
      <button class="gb-btn gb-btn-icon gb-btn-blue ms-2" (click)="openPdf()">
          <span class="material-icons">  remove_red_eye  </span>View PDF</button>  
          <ng-container *ngxPermissionsOnly="lpoPermission">
          <span class="d-flex " [ngClass]='{"disable":lpoView?.status == "Closed"}'>
        <button class="gb-edit-btn-secondary ms-2"  [routerLink]="[prefixUrl+'/trip/local-purchase-order/edit/',lpoId]" *ngxPermissionsOnly="lpoPermission" >
          <span class="material-icons"> create </span>Edit</button>
          <button class="gb-edit-btn-secondary ms-2" (click)="closeLpo()"  *ngxPermissionsOnly="lpoPermission" >
            <span class="material-icons"> cancel </span>Close LPO</button>
        </span> 
    </ng-container>
          
    </div>
  </div>


  <div >
    <div class=" row mx-0   px-4 py-3  details  def-color shadow-inset-top">
       <p class="col-lg-4 col-md-6"><b>Vendor: </b><a class="custom-link" [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/',lpoView?.party?.id]"  target="_blank"  >{{lpoView?.party?.name}}</a></p>
      <p class="col-lg-4 col-md-6 "><b>LPO No.: </b>{{lpoView?.lpo_no}}</p>
      <p class="col-lg-4 col-md-6 "><b>LPO Date: </b>{{lpoView?.lpo_date}}</p>
      <p class="col-lg-4 col-md-6 "><b>Employee In Charge: </b><a *ngIf="lpoView?.employee?.id" class="custom-link" [routerLink]="[prefixUrl+'/onboarding/employee/view/',lpoView?.employee?.id]"  target="_blank"  >{{lpoView?.employee?.name}}</a>
        <span *ngIf="!lpoView?.employee?.id">-</span></p>
        
      <p class="col-lg-4 col-md-6 "><b>Validity Term: </b>{{lpoView?.validity}}</p>

      <p class="col-lg-4 col-md-6 "><b>Reference No.: </b>{{lpoView?.reference_no ? lpoView?.reference_no : '-'}}</p>
      
      <p class="col-lg-4 col-md-6 "><b>Payment Term: </b>{{lpoView?.payment_term ? lpoView?.payment_term : '-'}}</p>
      <p class="col-lg-4 col-md-6 "><b>Point of Contact (Name): </b>{{lpoView?.poc_name ? lpoView?.poc_name : '-'}}</p>
      <p class="col-lg-4 col-md-6 "><b>Point of Contact (Mobile): </b>{{lpoView?.poc_mobile?.no || lpoView?.poc_mobile?.code ? lpoView?.poc_mobile?.code + ' '+lpoView?.poc_mobile?.no : '-'}}</p>

     
      

    </div>

    <div class="gb-tab-wrapper">
        <mat-tab-group animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Items </span>
                </ng-template>
                <div>
                <div class="addable-row-table addable-row-table-display m-4">
                    <table>
                        <thead>
                            <tr>
                                <th >
                                    Description
                                </th>
                                <th>Total units</th>
                                <th>Unit Price ({{currency_type.symbol}})</th>
                                <th *ngIf="isTax">Amount  ({{currency_type.symbol}})</th>
                                <th *ngIf="isTax">Tax (%)</th>
                                <th>Total Amount  ({{currency_type.symbol}})</th>
                            </tr>
        
                        </thead>
                       <tbody formArrayName="items">
        
                           <tr *ngFor="let item of lpoView?.items;let i=index "
                               >
                               <td>{{item?.description? item?.description : '-'}}</td>
                               <td>{{item?.total_units}}</td>
                               <td>{{item?.rate|numberFormat}}</td>
                               <td *ngIf="isTax">{{item?.amount_before_tax|numberFormat}}</td>
                               <td *ngIf="isTax">{{item?.tax}}</td>
                               <td>{{item?.amount|numberFormat}}</td>
                            
                            </tr>
        
        
                        </tbody> 
                    </table>
                </div>
                <div class="d-flex justify-content-end fw-semibold fs-6 def-color mx-4 mt-4 mb-4">
                    <div class="d-flex flex-column gap-3 me-4 text-end">
                        <span>Subtotal:</span>
                        <span *ngIf="isTax">Tax Amount: </span>
                        <span class="fs-5">Total Amount: </span>

                    </div>
                    <div class="d-flex flex-column gap-3 text-start ">
                        <span>{{currency_type.symbol}} {{lpoView?.subtotal|numberFormat}}</span>
                        <span *ngIf="isTax">{{currency_type.symbol}} {{lpoView?.tax_amount|numberFormat}}</span>
                        <span class="fs-5">{{currency_type.symbol}} {{lpoView?.total_amount|numberFormat}}</span>

                    </div>
                </div>
            </div>
              

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Associated Jobs </span>
                </ng-template>
                
                <div >
                    <app-list-widget [listTitle]="''" (settingsApplied)="settingsApplied($event)" [isDateDropDown]="false" [isFilter]="true" [isSettings]="true" [settingsUrl]="settingsUrl"
            [filterUrl]="filterUrl" (listWidgetData)="listWidgetData($event)">
           
    </app-list-widget>

     <div class="custom-table-container ws-nowrap" (scroll)="onScroll($event)" id="assigneed-jobs-list">
        <table [ngClass]="{'h-100':assignedjobs.length==0}">
    
          <thead>
             <tr>
       
               <ng-container *ngFor="let heading of assignedjobsHeaders">
                 <th> {{heading}} </th>
               </ng-container>
             </tr>
           </thead>
           <tbody *ngIf="assignedjobs.length == 0">
             <tr class="border-0">
               <td class="bg-white" colspan="30">
                 <div class="no-list-data-wrap">
                   <figure>
                     <img src="assets/img/no-content.png" alt="">
                   </figure>
                   <h5 class="mt-3 primary-brand-text">No data found!</h5>
                 </div>
               </td>
             </tr>
       
           </tbody> 
         <tbody>
             <tr *ngFor="let lpo of assignedjobs">
               <ng-container *ngFor="let item of lpo['extras'];let i =index">
                 <td class="ws-nowrap" *ngIf="item?.id!='vehicle' && item?.id!='sales_order' && item?.id!='job_no' && item?.id!='job_status'"> {{item?.value ? item?.value : '-'}} </td>
                <ng-container *ngIf="item?.id=='vehicle'">
                   <td >
                    <a class="custom-link" target="_blank"  [routerLink]="[prefixUrl+'/onboarding/vehicle/market/details/'+item?.value?.id]"  >{{item?.value?.name}} </a>
                   </td>
                 </ng-container>
                 <ng-container *ngIf="item?.id=='sales_order'">
                  <td *ngIf="!item?.value">-</td>
                  <td *ngIf="item?.value">
                   <a class="custom-link" target="_blank" [routerLink]="[prefixUrl+'/trip/work-order/details/',item?.value?.id]" >{{item?.value?.name}}</a>

                  </td>
                </ng-container>
                <ng-container *ngIf="item?.id=='job_no'">
                  <td >
                   <a class="custom-link"target="_blank" [routerLink]="[prefixUrl+'/trip/new-trip/details/'+item?.value?.id]"
                    >{{item?.value?.name}}</a>
                  </td>
                </ng-container>
                <ng-container *ngIf="item?.id=='job_status'">
                  <td *ngIf="item?.value=='Ongoing'" class="sky-blue-text">{{item?.value}}</td>
                  <td *ngIf="item?.value=='Scheduled'"  class="pending-text">{{item?.value}}</td>
                  <td *ngIf="item?.value=='Completed'"  class="green-text">{{item?.value}}</td>
                  <td *ngIf="item?.value=='Void'"  class="error-text">{{item?.value}}</td>
                </ng-container>
                
               </ng-container>
              
    
    
             </tr>
         </tbody>
     </table>
    </div>  
    </div>
           
              

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span>Attachment</span>
                </ng-template>
                <div class="d-flex gap-3 flex-wrap m-3">

                    <div *ngFor="let doc of lpoView?.documents">
                        <app-file-delete-view [showInlineEdit]="false" [fileData]="doc" [showInlineEdit]="false"
                        [showDelete]="false"
                                       ></app-file-delete-view>
                    </div>

                </div>
                <div class="mx-5 my-3 primary-brand-text fw-semibold fs-6" *ngIf="lpoView?.documents?.length==0">
                    No Document Uploaded !!
                </div>
                

            </mat-tab>
           
        </mat-tab-group>

    </div>


    
  </div>

  <alert-popup [inputData]="popupInputDataClose" (outputData)="lpoClose($event)"></alert-popup>
