
b {
    margin-right: 8px;
}


.details {



    p {

        padding: 12px 4px;
        color: #676A6E;
        line-height: normal;
    }

}
.custom-table-container{
    max-height: 420px;
    min-height: 420px;
}

