<div class="bdp-status-change">
    <div class="popup-header ">
        <h6 class="d-inline">Empty Container Pickup&nbsp;</h6>
    </div>
    <div class="popup-body">
        <form [formGroup]="bdpStatusForm">
            <div class="container-fluid">
                <div class="row">

                    <div class="input-wrap col-lg-4 rounded-date">
                        <label for="">DATE</label>
                        <app-date-and-time-picker [control]="bdpStatusForm.get('date')"></app-date-and-time-picker>
                    </div>
                    <div class="input-wrap col-lg-4 error" *ngIf="bdpDetails?.milestone_status==0" [ngClass]="addErrorClass(bdpStatusForm.controls.container_number)">
                        <label for="" class="input--required">CONTAINER NO.</label>
                        <input class="error-box input--bd" placeholder="TRLU7192237" formControlName="container_number">
                        <app-error [controlName]="bdpStatusForm.controls.container_number"></app-error>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-end  ">
                    <button class="btn w-auto me-3" (click)="cancel()">Cancel</button>
                    <button class="btn btn--primary w-auto" (click)="save()">Save</button>
                </div>

            </div>

        </form>
    </div>
</div>