.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }
  .popup-header {
    background-color: #F2F4F7;
    border-radius: 8px 8px 0 0;
    padding: 15px 20px;
    color: #595fab;
}

.credit-btn{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
