<div  class="px-4 py-3 def-color"><span  class="fw-semibold fs-5">Notifications</span></div>
<form [formGroup]="notificationsForm">
  <div class="form-layout form-layout--pd shadow-inset-top pt-5 def-color">
    <div class="form-layout__card active">
      <div class="form-body">
        <!-- sep -->

        <div class="row" formGroupName="email">
          <div class="col-lg-4 col-sm-6">
            <div class="input-wrap" id="inline">
              <div class="top-label">
                <label for="" class="">Email Address</label>
              </div>
              <mat-checkbox formControlName="email_notify"></mat-checkbox>
              <input type="email" appLowerCase class="no-style input--bd" placeholder="email address"
                formControlName="email" id="margin-left" style="position: unset;">
              <span
                *ngIf="!notificationsForm.get('email').get('email').hasError('pattern')&& !emailStatus.verificationStatus && notificationsForm.get('email').get('email').value"
                class="addi-info" (click)="openEnterOTPDialog()">Verify</span>

              <span class="border-anim"></span>
              <p class="inactive-whatsapp"
                *ngIf="notificationsForm.get('email').get('email').hasError('pattern') && notificationsForm.get('email').get('email').touched">
                Please enter a valid email</p>
              <p class="inactive-whatsapp"
                *ngIf="notificationsForm.get('email').get('email').hasError('required') && notificationsForm.get('email').get('email').touched">
                This field is required</p>

            </div>
            <div class="verification-ct mt-4 mb-4">
              <div>
                <p class="active-whatsapp" *ngIf='emailStatus.verificationStatus'>Verified</p>
                <p class="inactive-whatsapp" *ngIf='!emailStatus.verificationStatus'>Not Verified</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class=" input-wrap">
              <mat-checkbox formControlName="upcoming_notify">Send Upcoming Reminders</mat-checkbox>
            </div>
          </div>

        </div>

        <div formGroupName="notification">

          <div class="form-layout__card mg-top-30" *ngIf="onboarding.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Onboarding</h2>
              <span class="collapse-line"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-2" *ngFor="let data of onboarding">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div>

          <div class="form-layout__card mg-top-30" *ngIf="trip.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Trip</h2>
              <span class="collapse-line"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let data of trip">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div>
          <div class="form-layout__card mg-top-30" *ngIf="income.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Income</h2>
              <span class="collapse-line"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12" *ngFor="let data of income">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div>

          <div class="form-layout__card mg-top-30" *ngIf="expense.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Expense</h2>
              <span class="collapse-line"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12" *ngFor="let data of expense">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div>
<!--
          <div class="form-layout__card mg-top-30" *ngIf="payments.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Pay Later</h2>
              <span class="collapse-line"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12" *ngFor="let data of payments">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div> -->

          <div class="form-layout__card mg-top-30" *ngIf="inventory.length">
            <div class="form-layout__header">
              <h2 class="sub-heading">Inventory</h2>
              <span class="collapse-line"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12" *ngFor="let data of inventory">
              <mat-checkbox [disabled]="disableAllItems" formControlName="{{data.key}}"
                (change)="selectAllItems(data.key)">{{data.title}}</mat-checkbox>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div  class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end">
    <button class="btn btn--sm btn--primary me-2" *ngIf="!emailStatus.verificationStatus" (click)="submitForm()">Submit</button>
    <button class="btn btn--sm me-2 btn--primary" *ngIf="emailStatus.verificationStatus" (click)="submitForm(true)">Update</button>
  </div>
</form>
<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>
