@import "../../../../../assets/styles/helpers/variable";
@import "../../../../../assets/styles/helpers/placeholder";
@import "../../../../../assets/styles/helpers/mixins";

.addi-info{
    // top :55px;
    color:black;
    text-decoration: underline;
}

.active-whatsapp{
    color: green;
  }
  .inactive-whatsapp{
    color: red;
  }
  
  .scan-for-whatsapp{
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    width: 55%;
    cursor: pointer;
  }
  .veri-fy{
    // position: absolute;
    // top: 31px;
    right: 0;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
  
  .verification-ct {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  div#inline{
    display: flex;
  }
  .top-label{
    position: absolute;
    top: -24px;
    left: 30px;
  }
  .form-layout--pd{
    padding-top: 60px;
}
.input-wrap{
    margin-bottom: 23px;
}
input#margin-left{
  margin-left: 10px;
}
::ng-deep .cdk-visually-hidden
{
  position: unset;
}