@import "../../../../assets/styles/helpers/variable";
.get-started-wrap{

background-color: #fff;
}
.step-video-wrap{
  background-color: #E9E6FF;
 min-height: calc(100vh - 220px);
border-radius: 10px;

 p{
  color: #595FAB;
  font-weight: 600;
  padding: 6px 0;
  font-size: 16px;
  flex-grow: 1;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 div{
  width: 85%;
 }

}
.guide-nav-wrap{
  background-color: #fff;
 height: calc(100vh - 220px);
 padding-right: 20px;
 ul{
  overflow: auto;
  height: 100%;
  max-width: 100%;
  padding-left: 9px;
  padding-right: 20px;
  li{
    padding: 13px 17px;
    font-size: 16px;
    font-weight: 500;
    color: #B9BEC7;
    margin-bottom: 1.5px;
   
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-image: linear-gradient(to right,rgba(220, 220, 220, 0.521) , #fff);
      color: $text-color;

    }
    


  }
  
  li.active{
    color: $text-color ;
    background-image: linear-gradient(to right, #E8E5FF , #FCFCFF);

    position: sticky;
    top: 0px;
    bottom: 0px;
    
   
    font-weight: 600;
    span{
      color: $primary-brand-color;


    }
    &::after{
      content: "";
      display: block;
      width: 4px;
      border-radius: 3px;
      position: absolute;
      left: -8px;
      top: 0px;
      background: $primary-brand-color;
      height: 100%;
    }
  }
  
 }
 
}

@media screen and (max-width: 991px) {
  .step-video-wrap{
    height: auto;
  }
  .guide-nav-wrap{
    height: auto;
  }
  .guide-nav-wrap {
    ul{
      padding: 0px 0 6px 0;
      li{
        white-space: nowrap;
        padding-left: 30px;
        padding-right: 30px;
      }
          li.active{
            
            position: sticky;
            left: 0px;
            right: 0px;
            
           
           
          }
    }
    
}
  
}

