@import "../../../../../../assets/styles/helpers/variable";
@import "../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../assets/styles/helpers/mixins";

.tyre{
    .tyre__header{
        padding: 30px 30px 50px;
    }
    .tyre-info-wrap{
        .pic-wrapper{
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @include avatar(60px, 60px, $white, 3px);
            border: 1px solid $secondary-border-color;
        }
        .tyre-details{
            font-size: 14px;
            color: $primary-text-color;
        }
        .tyres-count{
            @include flexbox();
            @include align-items(center);
            height: 30px;
            border: 1px solid $tertiary-text-color;
            border-radius: 3px;
            > label{
                height: 100%;
                padding: 0px 12px;
                line-height: 26px;
                color: $primary-text-color;
                font-size: 13px;
                border-right: 1px solid $tertiary-text-color;
                background-color: $secondary-brand-color;
            }
            .select-wrap{
                > select{
                    height: 100%;
                    padding: 0 25px 0 15px;
                    font-size: 15px;
                    color: $primary-text-color--light;
                    position: relative;
                    z-index: 1;
                }
                &:after{
                    right: 0px;
                    top: 0px;
                    font-size: 20px;
                }
            }
        }
    }
    .table-wrapper .table-container tr:nth-child(even){
        background-color: transparent;
    }
}

.vehicle-summary{
    .profile-info{
        &__name{
            @include flex-basis(100%);
            .btn--grey{
                float: left;
                font-size: 11px;
                color: rgba($green, 0.9);
                letter-spacing: 1px;
                background: rgba(7,192,96,0.10);
                border: 1px solid $green;
                border-radius: 3px;
                padding: 6px 20px;
                margin-left: auto;
                text-transform: uppercase;
                @include respond-to(mobile-ls){
                    text-align: center !important;
                    margin: 10px auto 0 !important;
                }
            }
            .btn--no-vehicle{
                color: rgba($light-red, 0.9);
                background: rgba($light-red, 0.10);
                border: 1px solid $light-red;
            }
        }
    }
    .btn{
        &--attachment{
            color: $secondary-text-color;
            font-size: 14px;
            background-color: $white;
            border: 1px solid $tertiary-text-color;
        }
    }
}
.view-tyre-details{
    .pic-wrapper{
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include avatar(60px, 60px, #fff, 3px);
        border: 1px solid $secondary-border-color;
    }
    .heading{
        font-size: 16px;
        color: $primary-text-color;
        margin-bottom: 30px;
    }
    .tyre-description{
        margin-top: 40px;
        label{
            font-size: 13px;
            margin-bottom: 8px;
        }
        .desc{
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.tyre-summary{
    &__list{
        @include flexbox();
        margin-bottom: 6px;
         > p{
             font-size: 14px;
             margin-right: 10px;
         }
         &:last-child{
             margin-bottom: 20px;
         }
    }
}

.truck-tyre-config {
    // background-image: url('./../../../../../../../assets/img/TS-Truck.png');
    min-height: 150px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0px -15px;
}

.vehicle-summary{
    .profile-cover-image{
        height:280px;
    }
    .profile-info__avatar1{
        width: 200px;
        img{
            // width: 200px;
            height: 200px;
            border: 5px solid $white;
            border-radius: 0;
        }
    }
}

.border-bottom {
    border-bottom: 1px solid $secondary-border-color;
}

.edit-icon {
    background: #fff;
}

.margin-top27 {
    margin-top: -27px !important;
}

// ::ng-deep bs-daterangepicker-container{
//     top: 31% !important;
//      left: 22% !important;
//    }

//  @media only screen and (max-width : 767px){
//      ::ng-deep bs-daterangepicker-container{
//          top: 51% !important;
//          left: 83% !important;
//        }
//    }

   .party-menu{

    &__list{
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 20px 0px 20px 30px;
        font-size: 14px;
        line-height: 0px;
        font-weight: bold;
        color: $primary-text-color;
        &.active{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
        &:hover{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
    }
}



.bold-value{
    font-weight: bold;
}

.critical-limit-table-sub-heading{
    color: #34393E;
    font-family:'Noto Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

}

.inventory-table-sub-heading{
    height: 21px;
    color: #34393E;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

}

::ng-deep bs-daterangepicker-container{
   
    left: unset !important;
    transform: unset !important;
    top: 210px !important;
    z-index: 0;
    right:0;
    }
    @media (max-width: 992px){
  
    ::ng-deep bs-daterangepicker-container{
      top:175px !important
    }
}