<div class="container-fluid">
    <div class="row align-items-lg-stretch ">
        <div class="col-lg-12 px-lg-2 p-0 rounded-3 layout-bg h-100 custom-shadow-md">
            <div class="container-fluid p-0  def-color">
                <app-table-widget class="calc-height" tableTitle="Maintenance Stats"  [selectedDateRangeType]="-1" [isDateRange]="true"
                    (dateRangeEmitter)="dateRangeMaintenanceStat($event)"></app-table-widget>
                <div class="row px-3 pb-3 calc-height">
                    <div class="col-6 mt-lg-0">
                        <div class="stats-card rounded-3 blue-card ">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-semibold fs-12px">Total Job Card</span>
                                <span class="stats-icon">
                                    <i class="bi bi-gear-fill"></i>
                                </span>
                            </div>
                            <p class="fs-5 fw-bold mt-3"> {{maintenanceStat?.jobcard_count}}</p>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="stats-card green-cost-card  green-card rounded-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-semibold fs-12px">Total Job Card Cost</span>
                                <span class="stats-icon">

                                </span>
                            </div>
                            <p class="fs-5 fw-bold mt-3">{{ currency_type?.symbol}} {{maintenanceStat?.jobcard_cost| numberFormat}}
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row rounded-3 mt-4 pb-3 layout-bg def-color custom-shadow-md">
        <app-table-widget class="calc-height" tableTitle="Service Summary" [selectedDateRangeType]='-1'[isDateRange]="true" [isShowDateRangeText]="true"
            [isSearch]="true" (searchedData)="searchedDataMaintenanceSummary($event)"
            (dateRangeEmitter)="dateRangeMaintenanceSummary($event)"></app-table-widget>
        <div class="col-12 p-0">
            <div id="service-summary-table" class="custom-table-container maintenance_scroll " (scroll)="onScroll($event)">
                <table>
                    <thead>
                        <tr>
                            <th>SERVICE DATE</th>
                            <th>BILL NO.</th>
                            <th>JOB CARD NO.</th>
                            <th>SPARE COST ({{ currency_type?.symbol}})</th>
                            <th>LABOUR COST ({{ currency_type?.symbol}})</th>
                            <th *ngIf="isTax">TAX ({{ currency_type?.symbol}})</th>
                            <th>TOTAL ({{ currency_type?.symbol}})</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="serviceSummaryList.length==0">
                        <tr class="border-0 ">
                            <td colspan="30" class="bg-white ">
                                <div class="no-list-data-wrap ">
                                    <figure><img src="assets/img/no-content.png" alt=""></figure>
                                    <h5 class="mt-3 primary-brand-text ">No data found!</h5>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr *ngFor="let service of serviceSummaryList">
                            <td>{{service?.date}}</td>
                            <td>{{service?.bill_number?service?.bill_number:'-'}}</td>
                            <td><a  target="_blank" class="custom-link"
                                [routerLink]="[getPrefixUrl+'/expense/maintenance/view/'+service.id+'/']">{{service?.job_card_no}}</a>
                            </td>
                            <td>{{service?.spare_cost| numberFormat}}</td>
                            <td>{{service?.labour_total| numberFormat}}</td>
                            <td *ngIf="isTax">{{service?.tax_total| numberFormat}}</td>
                            <td>{{service?.total| numberFormat}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>