.card-shadow {
    box-shadow: 0px 0px 6px #00000029;
}

@import"../../../../../../../../assets/styles/helpers/variable";

.stats-card {
    box-shadow: 0px 0px 6px #00000029;
    padding: 15px;
}


.stats-icon {
    padding: 7px;
    border-radius: 4px;
    min-width: 28px;
    min-height: 28px;
}

.stats-card.green-card .stats-icon {
    color: $green;
    background-color: #ECFFEB;

}

.stats-card.blue-card .stats-icon {
    color: $sky-blue;
    background-color: #DBF2FF;

}

.stats-card.green-cost-card .stats-icon {
    background-image: url("../../../../../../../../assets/img/icons/cost-green-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.stats-card.red-cost-card .stats-icon {
    background-image: url("../../../../../../../../assets/img/icons/cost-red-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.stats-card.blue-cost-card .stats-icon {
    background-image: url("../../../../../../../../assets/img/icons/cost-blue-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.stats-card.red-card .stats-icon {
    color: $error-txt;
    background-color: #FFF2F2;
}