$color-parrot:#04ce1f;
$color-white: #fff;
$color-danger: #e83535;
.accept {
    background: $color-parrot;
    color: #fff;
    border: 1px solid $color-parrot;
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 500;
    transition: all 150ms ease-in-out ;
    &:hover {
        background: #fff;
        color: $color-parrot;
        transform: scale(1.05) ;
    }

}

.decline {
    color: #fff;
    background: $color-danger;
    border: 1px solid $color-danger;
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: 500;
    transition: all 150ms ease-in-out ;


    &:hover {
        background: #fff;
        color: $color-danger;
        transform: scale(1.05) ;
    }
}

.accepted{
    color: $color-parrot;
    text-align: center;
    font-weight: bold;
}

.rejected{
    color: $color-danger;
    text-align: center;
    font-weight: bold;
}

.custom-table-container ,.custom-table-container table{
    min-height: calc(100vh - 165px);
    max-height: calc(100vh - 165px);

}

.canceled{
    color: #FFB900;
    text-align: center;
    font-weight: bold;
  }

.changed {
    color: $color-parrot;
    text-align: center;
    font-weight: bold;
}