<div class="px-4 py-3 layout-bg">
    <h1 class="heading col-8">BDP List</h1>
</div>
<div class="custom-table-container " >
    <table>

        <thead>
            <tr>
                <th>
                    Tendor Date
                </th>
                <th>
                    Tendor Number
                </th>
                <th>
                    Tendor Origin
                </th>
                <th>
                    Tendor Destination
                </th>
                
                <th> </th>
            </tr>
        </thead>
        <!-- no-data component -->
        <tbody *ngIf="(bdpList)?.length == 0">
            <tr class="border-0">
                <td class="bg-white" colspan="30">
                    <div class="no-list-data-wrap">
                        <figure>
                            <img src="assets/img/no-content.png" alt="">
                        </figure>
                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                    </div>
                </td>
            </tr>

        </tbody>

         <tbody >
            <tr *ngFor="let data of bdpList;let i=index" >
                <td>
                    {{ data.tenderRequestDate |  date:'short'}}
                <td>
                    <button class="custom-link" [routerLink]="[prefixUrl+'/trip/bdp/details/'+data.tenderRequestNumber]">{{
                        data.tenderRequestNumber}}</button><span *ngIf="data.is_changed" class="changed"> (CHANGED)</span>
                </td>
                <td>
                    {{ data.originAddress}}
                </td>
                <td>
                    {{ data.destinationAddress}}
                </td>
                <td class="icon-box">
                    <ng-container *ngIf="data.is_cancelled">
                        <div>
                            <p class="canceled">Cancelled</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="data.show_acceptance && !data.is_cancelled">
                        <div class="d-flex justify-content-center align-items-center">
                        <button class="accept" (click)="isAcceptTender(data,true)">Accept</button> <button
                            (click)="isAcceptTender(data,false)" class="decline">Reject</button></div>
                    </ng-container>

                    <ng-container *ngIf="!data.show_acceptance && !data.is_cancelled">
                        <div >
                        <p class="accepted" *ngIf="data.is_accepted && !data.trip_exists">Accepted</p>
                        <p class="accepted" *ngIf="data.trip_exists">Job Created</p>
                        <p class="rejected" *ngIf="!data.is_accepted">Rejected</p>
                    </div>
                    </ng-container> 
                    
                </td>
                
            </tr>
        </tbody> 
    </table>
</div>


