<!-- <div>
  <app-list-widget listTitle="Job Info" (listWidgetData)="listWidgetData($event)" [isSettings]="false" [isSearch]="false" (settingsApplied)="settingsApplied($event)">
  </app-list-widget>
</div> -->
<div class="px-4 py-3 fs-6 fw-semibold def-color">
  Job Info
</div>

<div class="custom-table-container no-scroll-table" (scroll)="onScroll($event)" style="min-height: 365px;">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Vehicle</th>
        <th>Job No.</th>
        <th>Vehicle Provider</th>
        <th>LPO No.</th>
        <th>Type of Movement</th>
        <th>Scope of Work</th>
        <th>Billing Type</th>
        <th>Containers</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody  *ngIf="workOrderTripInfoList?.length == 0">
      <tr  class="border-0">
        <td  colspan="30" class="bg-white">
          <div  class="no-list-data-wrap">
            <figure ><img  src="assets/img/no-content.png" alt=""></figure>
            <h5  class="mt-3 primary-brand-text">No data found!</h5>
          </div>
        </td>
      </tr>
    </tbody>
   
    <tbody>
      <tr *ngFor="let job of workOrderTripInfoList; trackBy: trackById ;">
        <td class="ws-nowrap"> {{job?.start_date}} </td>
        <ng-container *ngIf="job.vehicle">
          <td *ngIf="job.vehicle?.is_market==null">-</td>
          <td *ngIf=" job.vehicle?.name && !job.vehicle?.is_market">
            <a class="custom-link" target="_blank"
              [routerLink]="[prefixUrl+'/onboarding/vehicle/own/details',job.vehicle?.id]"> {{job.vehicle?.name}}</a>
          </td>
          <td *ngIf="job.vehicle?.name && job.vehicle?.is_market">
            <a class="custom-link" target="_blank"
              [routerLink]="[prefixUrl+'/onboarding/vehicle/market/details',job.vehicle?.id]">
              {{job.vehicle?.name}}</a>
          </td>
        </ng-container>
        <td *ngIf="!job.vehicle">-</td>
        <td>
          <a *ngIf="job?.id" class="py-0 custom-link" target="_blank" [routerLink]="[prefixUrl+'/trip/new-trip/details/'+job?.id]">
            {{job?.job_id ? job?.job_id : '-' }} </a>
            <span *ngIf="!job?.id">-</span>
        </td>

        <td> <a class="py-0 custom-link" target="_blank" *ngIf="job?.vehicle_provider?.id"
            [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/'+job?.vehicle_provider?.id]">
            {{job?.vehicle_provider?.name ? job?.vehicle_provider?.name : '-' }} </a>
            <span *ngIf="!job?.vehicle_provider?.id">-</span>
        </td>
        <td> <a class="py-0 custom-link" target="_blank"
            [routerLink]="[prefixUrl+'/trip/local-purchase-order/view/'+job?.lpo?.id]" *ngIf="job?.lpo?.id">
            {{job?.lpo?.name ? job?.lpo?.name : '-' }} </a>
          <span *ngIf="!job?.lpo?.id">-</span></td>
        <td class="ws-nowrap"> {{job?.type_of_movement}} </td>
        <td class="ws-nowrap"> {{job?.movement_sow}} </td>
        <td class="ws-nowrap"> {{job?.billing_type}} </td>
        <td class="ws-nowrap"> <span *ngIf="job?.containers_no?.length==0">-</span>
          <p *ngIf="job?.containers_no"><span
              *ngFor="let c of job?.containers_no;let i=index">{{i!=job?.containers_no?.length -1 ? c + ', ':c}}</span>
          </p>
        </td>
        <td
          [style.color]="job.status === 'Scheduled' ? '#FFB900' : job.status  === 'Ongoing' ? '#4CACFE' : job.status  === 'Completed' ? '#2BB741' : job.status  === 'Void' ? '#FF0000': 'none'">
          {{job.status }}</td>

      </tr>
    </tbody>
  </table>
</div>