@import "../../../../../.././../assets/styles/helpers/variable";



.disableInput {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


.mat-tab-group {
  opacity: 1 !important;
}

.tabError {
  color: red;
  font-weight: normal;
}

.tool-tip-position {
  position: absolute;
  top: 1px;
}

.route-tool-tip-position {
  left: 50px;
}

.work-order {
  left: 104px;
}

.trip-no {
  left: 50px;
}

::ng-deep .route-input-box .input-wrap .input--bd {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 8px !important;
}
.work-order-custom-field-tooltip{
  position: absolute;
  top: 20px;
  z-index: 2;
  left: 485px;
}

.invalid-input{
  border: 2px solid red !important;
}