@import"../../../../../../../../assets/styles/helpers/variable";


.veh-details-collapse-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    color: $text-color;
   
    transition: all 200ms ease-in-out;

    &:hover{
        background-color: #f2f2f2cd;
    }
    .material-icons{
        margin-right: 10px;

    }
}

.emiDetail b{
    margin-right: 7px;
}



.card-shadow {
    box-shadow: 0px 0px 6px #00000029;
}

.p-y-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.emi-total-card {
    box-shadow: 0px 0px 3px #0000000F;
    border: 2px solid #E9EBF1;
    border-radius: 10px;
    padding: 15px;


}


.mark-paid-btn {
    width: 121px;
    color: $green;
    font-weight: 600;
    border: 2px solid $green;
    white-space: nowrap;
    height: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 7px;
    transition: all 100ms ease-in-out;

    .bi {
        -webkit-text-stroke: 0.5px;
        font-size: 20px;
    }

    &:hover {
        color: white;
        background-color: $green;

    }

    &:active {
        transform: scale(0.95);
    }
}
.no-veh-assigned{
    color: #B2B2B2;
}


