<div class="container-fluid px-0 def-color">
    <div class="row g-3">
        <div class="col-12">
    <div class=" mx-0 row align-items-lg-stretch card-shadow rounded-3">
        <div class="col-lg-4  px-0 ">
            
            <div class="p-3   def-color h-100 ">
                <div class="d-flex justify-content-end align-items-center">
                    <button class="gb-edit-btn" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission" [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/',vehicleId]"><span class="material-icons">
                        edit
                        </span></button>
                   
                  </div>

                  <div
                    class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px  ">
                    <span class="fw-semibold">Vehicle No.</span>
                    <span>{{vehcileInfo?.vehicle_no? vehcileInfo?.vehicle_no : '-'}}</span>
                </div>
                
                <div
                    class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px  ">
                    <span class="fw-semibold">Specification</span>
                    <span>{{vehcileInfo?.vehicle_type}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Vehicle Brand</span>
                    <span>{{vehcileInfo?.make}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Vehicle Model</span>
                    <span>{{vehcileInfo?.model}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Odometer Reading</span>
                    <span>{{vehcileInfo?.odometer_reading | numberFormat}} Kms</span>
                </div>
                <div class="border-1  d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Odometer Hours</span>
                    <span>{{vehcileInfo?.time_reading| numberFormat }} Hours</span>
                </div>
                <ng-container *ngIf="vehicleCategory==3">
                    <div class="  d-flex justify-content-between align-items-center px-2 py-3 ">
                        <span class="fw-semibold fs-6">Assets Info</span>
                    </div>
                    <div class="border-1  d-flex justify-content-between align-items-center px-4 p-y-20px border-bottom">
                        <span class="fw-semibold">Asset No.1 </span>
                        <span>
                            <a  class="custom-link"  target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/assets/view',vehcileInfo?.asset_1?.id]">   {{vehcileInfo?.asset_1?.name ? vehcileInfo?.asset_1?.name : '-'}} {{vehcileInfo?.asset_1?.specification ? (vehcileInfo?.asset_1?.specification): ''}}  </a>
                        </span>
                    </div>
                    <div class="border-1  d-flex justify-content-between align-items-center px-4 p-y-20px border-bottom">
                        <span class="fw-semibold">Asset No.2</span>
                        <span>
                            <a  class="custom-link"  target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/assets/view',vehcileInfo?.asset_2?.id]">   {{vehcileInfo?.asset_2?.name ? vehcileInfo?.asset_2?.name : '-'}} {{vehcileInfo?.asset_2?.specification ? (vehcileInfo?.asset_2?.specification): ''}}  </a>
                        </span>
                    </div>   
                    <div class="border-1  d-flex justify-content-between align-items-center px-4 p-y-20px border-bottom">
                        <span class="fw-semibold">Asset No.3</span>
                        <span>
                            <a  class="custom-link"  target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/assets/view',vehcileInfo?.asset_3?.id]">   {{vehcileInfo?.asset_3?.name ? vehcileInfo?.asset_3?.name : '-'}} {{vehcileInfo?.asset_3?.specification ? (vehcileInfo?.asset_3?.specification): ''}} </a>
                        </span>
                    </div>
                </ng-container>

            </div>
        </div>
        <div class="col-lg-8  px-0 border-start" >
            <div class="def-color h-100 ">
                 
            <app-table-widget [isSearch]="true" (searchedData)="searchVehicleDetails($event)" [tableTitle]="'Vehicle Details'"></app-table-widget>

            <div  class="custom-table-container no-scroll-table">
                <table>
                    <thead>
                        <tr>
                            <th>VEHICLE DETAILS NAME</th>
                            <th>VEHICLE DETAILS INFO.</th>
                            <th>NARRATION</th>
                            <th  class="icon-box">VIEW</th>
                            <th></th>
                            
                            
                        </tr>
                    </thead>

                    <!-- no-data-component -->
                    <tbody *ngIf="vehicleSubDetails.length==0">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">
                                    <figure>
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>

                        <tr *ngFor="let item of vehicleSubDetails.slice(0,vehDetailsCollapse? 4 : vehicleSubDetails.length) ;index as i">
                            <td>{{item.name}}</td>
                            <td>{{item.number| numberFormat}}</td>
                            <td>{{item.narration ?item.narration:'-'}}</td>
                            
                            <td class="icon-box">
                                
                                <button [disabled]="item.files.length==0" class="m-auto d-block" (click)="viewUploadedDocument(item)">
                                        <span class="material-icons fs-4"   [ngStyle]="{'color': item.files.length>0 ? '#15A4F6' : '#CCCCCC'}">
                                            remove_red_eye
                                        </span>
                                </button>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission">
                                    <div class="position-relative">
                                      <i class="material-icons more-icon" (click)="optionsList($event, 'vehicle_details__'+item?.name)">more_vert</i>
                                  <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'vehicle_details__'+item?.name}">
                                      <li class="more-actions__item" 
                                          [queryParams]="{tab:'Vehicle Details', name: item?.name}"
                                          [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/',vehicleId]"><i
                                              class="material-icons">edit</i>Edit</li>
                                  </ul>
                                    </div>
                                  </div>
                            </td>
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
            <button  *ngIf="vehicleSubDetails.length >4" matRipple (click)="vehDetailsCollapse=!vehDetailsCollapse" class="veh-details-collapse-btn">

              
                    <span class="material-icons " *ngIf="vehDetailsCollapse">
                    expand_more
                    </span>
                    <span class="material-icons" *ngIf="!vehDetailsCollapse">
                        expand_less
                        </span>
                    Show {{vehDetailsCollapse ? 'more ':'less'}}

                    </button>
           
        </div>
        </div>
        
    </div>
</div>
<div [ngClass]="isWidthExpandedCertificate?'col-12':'col-4'" *ngIf="!isWidthExpandedSubAsset && !isWidthExpandedPermit">
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [isSearch]="true" (searchedData)="searchCertificateDetails($event)" [WidthCollapse]="true" [isWidthExpanded]="isWidthExpandedCertificate" [tableTitle]="'Certificate'"  (WidthCollapseEvent)="wCollapseCertificateEvent($event)"
        [isFilter]="true" filterUrl ="vehicle/documents/filters/"
        (filterDataEmitter)="filterDataCertificates($event)"></app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>CERTIFICATE NAME</th>
                        <th *ngIf="isWidthExpandedCertificate">CERTIFICATE NO.</th>
                        <th  *ngIf="isWidthExpandedCertificate">ISSUE DATE</th>
                        <th  *ngIf="isWidthExpandedCertificate">EXPIRY DATE</th>
                        <th *ngIf="isWidthExpandedCertificate">CERTIFICATE ISSUED BY</th>
                        <th>EXPIRY DAYS TO GO</th>
                        <th *ngIf="isWidthExpandedCertificate" class="icon-box">VIEW</th>
                        <th *ngIf="isWidthExpandedCertificate" class="icon-box">HISTORY</th>
                        <th></th>
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="vehicleDocumentList.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr *ngFor="let doc of vehicleDocumentList;let i=index"> 
                        <td>{{doc?.name}} <span *ngIf="doc?.name=='Insurance'"> ( {{doc?.insurance_type?doc?.insurance_type:'-'}} ) </span></td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.number ? doc?.number :'-'}}  </td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.issue_date ? doc?.issue_date :'-'}}</td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.expiry_date ? doc?.expiry_date :'-'}}</td>
                        <td *ngIf="isWidthExpandedCertificate">{{doc?.vendor ? doc?.vendor.name :'-'}}</td>
                        <td [ngStyle]="getStyle(doc?.expiry_days?.color)">{{doc?.expiry_days?.name ? doc?.expiry_days?.name : '-'}}</td>
                        <td *ngIf="isWidthExpandedCertificate" class="icon-box">
                            <div class="justify-content-center align-items-center d-flex">
                            <button (click)="viewUploadedDocument(doc)" [disabled]="doc?.files.length == 0">
                                    <span class="material-icons fs-4" [ngStyle]="{'color': doc?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                        remove_red_eye
                                    </span>
                            </button>
                        </div>
                        </td>
                        <td *ngIf="isWidthExpandedCertificate" class="button-box" >
                            <div class="justify-content-center align-items-center d-flex">
                            <button [disabled]="!doc.has_history" (click)="openDocumentsHistory(doc,'document',false)"  >
                                <span class="material-icons fs-4 def-color "  [ngStyle]="{'color': doc.has_history ? '#676A6E' : '#CCCCCC'}" >
                                    history
                                </span>
                        </button>
                    </div>
                        </td> 
                        
                        <td>
                            <div class="d-flex justify-content-center align-items-center" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission">
                                <div class="position-relative">
                                  <i class="material-icons more-icon" (click)="optionsList($event, 'vehicle__'+doc?.name)">more_vert</i>
                              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'vehicle__'+doc?.name}">
                                <ng-container >
                                    <li class="more-actions__item" *ngIf="doc?.expiry_days"
                                    (click)="renewDocuments(doc,'document')"
                              ><span class="material-icons me-2">
                                sync
                                </span>Renew</li>
                                    
                                    
                                  </ng-container>
                                  <li class="more-actions__item" 
                                      [queryParams]="{tab:'Certificates', name: doc?.name}"
                                      [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/',vehicleId]"><i
                                          class="material-icons">edit</i>Edit</li>

                                         
                              </ul>
                                </div>
                              </div>
                        </td>
                        
                       
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>

<div [ngClass]="isWidthExpandedSubAsset?'col-12':'col-4'" *ngIf="!isWidthExpandedCertificate && !isWidthExpandedPermit">
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [isSearch]="true" [WidthCollapse]="true" (searchedData)="searchAssets($event)" [isWidthExpanded]="isWidthExpandedSubAsset" [tableTitle]="'Attachments'" 
        (WidthCollapseEvent)="wCollapseSubAssetEvent($event)"
        [isFilter]="true" filterUrl ="vehicle/subasset/filters/"
        (filterDataEmitter)="filterDataSubAssets($event)"></app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>ATTACHMENT NAME</th>
                        <th *ngIf="isWidthExpandedSubAsset">ATTACHMENT NO.</th>
                        <th *ngIf="isWidthExpandedSubAsset">EXPIRY DATE</th>
                        <th >EXPIRY DAYS TO GO</th>
                        <th *ngIf="isWidthExpandedSubAsset">NARRATION </th>
                        <th *ngIf="isWidthExpandedSubAsset" class="icon-box">View</th>
                        <th *ngIf="isWidthExpandedSubAsset" class="icon-box">History</th>
                        <th></th>
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="vehicleSubAssets.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr  *ngFor="let doc of vehicleSubAssets"> 
                        <td>{{doc?.name}}</td>
                        <td *ngIf="isWidthExpandedSubAsset">{{doc?.number?doc?.number:'-'}}</td>
                        <td *ngIf="isWidthExpandedSubAsset">{{doc?.expiry_date ? doc?.expiry_date :'-'}}</td>
                        <td [ngStyle]="getStyle(doc?.expiry_days?.color)">{{doc?.expiry_days?.name ? doc?.expiry_days?.name : '-'}}</td>
                        <td *ngIf="isWidthExpandedSubAsset">{{doc?.narration ? doc?.narration :'-'}}</td>
                        <td  *ngIf="isWidthExpandedSubAsset" class="icon-box">
                            <div class="justify-content-center align-items-center d-flex">
                            <button (click)="viewUploadedDocument(doc)" [disabled]="doc?.files.length == 0">
                                    <span class="material-icons fs-4" [ngStyle]="{'color': doc?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                        remove_red_eye
                                    </span>
                            </button>
                        </div>
                        </td> 
                        <td  class="button-box"*ngIf="isWidthExpandedSubAsset" >
                            <div class="justify-content-center align-items-center d-flex" [disabled]="!doc.has_history">
                                <button (click)="openDocumentsHistory(doc,'subasset',true)" [disabled]="!doc.has_history" ><span class="material-icons fs-4 def-color " [ngStyle]="{'color': doc.has_history  ? '#676a6e' : '#CCCCCC'}" >
                                    history
                                </span></button>
                            </div>
                        </td>  
                        
                        <td>
                            <div class="d-flex justify-content-center align-items-center" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission">
                                <div class="position-relative">
                                  <i class="material-icons more-icon" (click)="optionsList($event, 'vehicle_sub__'+doc?.name)">more_vert</i>
                              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'vehicle_sub__'+doc?.name}">
                                <ng-container>
                                    <li class="more-actions__item"*ngIf="doc?.expiry_days"
                                    (click)="renewDocuments(doc,'subasset')" 
                              > <span class="material-icons me-2">
                                sync
                                </span>Renew</li>
                                    
                                    
                                  </ng-container>
                                  <li class="more-actions__item" 
                                      [queryParams]="{tab:'Attachments', name: doc?.name}"
                                      [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/',vehicleId]"><i
                                          class="material-icons">edit</i>Edit</li>
                              </ul>
                                </div>
                              </div>
                        </td>
                        
                     
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>
<div [ngClass]="isWidthExpandedPermit?'col-12':'col-4'" *ngIf="!isWidthExpandedCertificate && !isWidthExpandedSubAsset">
    <div class=" rounded-3 pb-2 def-color card-shadow" >
        <div class="def-color h-100 ">
             
        <app-table-widget [isSearch]="false" [tableTitle]="'Vehicle Permit Details'"  [WidthCollapse]="true"  [isWidthExpanded]="isWidthExpandedPermit"  
        (WidthCollapseEvent)="wCollapsePermitEvent($event)"
        
        ></app-table-widget>
    
        <div  class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>PERMIT NAME</th>
                        <th *ngIf="isWidthExpandedPermit">PERMIT ID</th>
                        <th *ngIf="isWidthExpandedPermit">EXPIRY DATE</th>
                        <th>EXPIRY DAYS TO GO</th>
                        <th *ngIf="isWidthExpandedPermit">PERMIT ISSUER</th>
                        <th  class="icon-box" *ngIf="isWidthExpandedPermit">VIEW</th>
                        <th  class="icon-box" *ngIf="isWidthExpandedPermit">HISTORY</th>
                        <th ></th>
                        
                        
                    </tr>
                </thead>
    
                <tbody *ngIf="vehiclePermitDetails.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>
    
                </tbody>
                <tbody>
    
                    <tr *ngFor="let item of vehiclePermitDetails;index as i">
                        <td class="ws-nowrap">{{item.name}}</td>
                        <td *ngIf="isWidthExpandedPermit">{{item.permit_id ?item.permit_id:'-'}}</td>
                        <td class="ws-nowrap" *ngIf="isWidthExpandedPermit">{{item.date ?item.date:'-'}}</td>
                        <td class="ws-nowrap" [ngStyle]="getStyle(item?.expiry_days?.color)">{{item?.expiry_days?.name ? item?.expiry_days?.name : '-'}}</td>

                        <td *ngIf="isWidthExpandedPermit">{{item.permit_issuer?.label  ?item.permit_issuer.label:'-'}}</td>
                        
                        <td class="icon-box" *ngIf="isWidthExpandedPermit">
                            
                            <button [disabled]="item.files.length==0" class="m-auto d-block" (click)="viewUploadedDocument(item)">
                                    <span class="material-icons fs-4"   [ngStyle]="{'color': item.files.length>0 ? '#15A4F6' : '#CCCCCC'}">
                                        remove_red_eye
                                    </span>
                            </button>
                        </td>
                        <td  class="button-box"   *ngIf="isWidthExpandedPermit">
                            <div class="justify-content-center align-items-center d-flex" [disabled]="!item.has_history">
                                <button (click)="openPermitHistory(item)" [disabled]="!item.has_history" ><span class="material-icons fs-4 def-color " [ngStyle]="{'color': item.has_history  ? '#676a6e' : '#CCCCCC'}" >
                                    history
                                </span></button>
                            </div>
                        </td> 
                        <td>
                            <div class="d-flex justify-content-center align-items-center" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission">
                                <div class="position-relative">
                                  <i class="material-icons more-icon" (click)="optionsList($event, 'permit__'+item?.name)">more_vert</i>
                              <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'permit__'+item?.name}">
                                <ng-container>
                                    <li class="more-actions__item"*ngIf="item?.expiry_days"
                                    (click)="openPermitRenewPopup(item)" 
                                    > <span class="material-icons me-2">sync</span>Renew</li>               
                                  </ng-container>
                                  <li class="more-actions__item" 
                                      [queryParams]="{tab: 'Permit', name: item?.name}"
                                      [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/',vehicleId]"><i
                                          class="material-icons">edit</i>Edit</li>
                              </ul>
                                </div>
                              </div>
                        </td>
                        
                    </tr>
                    
                    
                    
                </tbody>
            </table>
        </div>
       
    </div>
    </div>
    </div>

<div class="col-lg-12" >
    <div class="card-shadow rounded-3 h-100 pb-2">
        <app-table-widget [tableTitle]="'Tyre Details'" >
            <button id="custom-right-btn" class="gb-btn gb-btn-basic" (click)="openTyreDetailsTab()">
                Go to Tyre Details Info
            </button>
        </app-table-widget>
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th>POSITION</th>
                        <th>TYRE NO.</th>
                        <th >DATE OF INSTALLATION</th>
                        <th>PERMITTED DAYS TO GO</th>
                        <th>THREAD DEPTH</th>
                        
                        
                    </tr>
                </thead>

               
                <tbody *ngIf="vehicleTyreMaster.length==0">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">
                                <figure>
                                    <img src="assets/img/no-content.png" alt="">
                                </figure>
                                <h5 class="mt-3 primary-brand-text">No data found!</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr *ngFor="let doc of vehicleTyreMaster"> 
                        <td>{{doc?.position_name ? doc?.position_name : '-'}}</td>
                        <td>{{doc?.tyre_number ? doc?.tyre_number : '-'}}</td>
                        <td >{{doc?.installation_date ? doc?.installation_date : '-'}}</td>
                        <td [ngStyle]="getStyle(doc?.permitted_days?.color)">{{doc?.permitted_days?.name ? doc?.permitted_days?.name : '-'}}</td>
                        <td >{{doc?.thread_depth ? doc?.thread_depth : '-'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>




</div>
</div>


<div class="col-lg-12 emiDetail" *ngIf="isEmi">
    <div class="row mx-0 rounded-3 p-3 layout-bg def-color card-shadow">
        <div class="col-lg-12 mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <span class="fs-6 fw-bold">EMI Details</span>
                <button class="gb-edit-btn" *ngIf="vehicleHeaderDetails?.is_active && isVehicleEditPermission" [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/edit/'+vehicleId]"><span class="material-icons"> create </span></button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 line-height-normal">
        <b>EMI Status: </b>{{getEmiStatus(vehcileInfo?.emi_status)}}
        </div>
        <ng-container *ngIf="vehcileInfo?.emi_status==0" >
            <div class="col-lg-4 col-md-6 mb-4 line-height-normal ">
                <b>Last EMI Date: </b>{{vehcileInfo?.emi_last_date ? vehcileInfo?.emi_last_date :'-'}}
            </div>
            <div class="col-lg-4 mb-4 col-md-6 line-height-normal ">
                <b>Do you want Alerts for EMI dates? </b> {{vehcileInfo?.emi_track ? 'Yes' :'No'}}
            </div>

        </ng-container>
        <ng-container *ngIf="vehcileInfo?.emi_track">
    
            
            <div class="col-lg-4 col-md-6 mb-4 line-height-normal">
                <b>First EMI Payment Date: </b>{{vehcileInfo?.emi_start_date ? vehcileInfo?.emi_start_date :'-'}}
                </div>
            
            <div class="col-lg-4 col-md-6 mb-4 line-height-normal">
                <b>EMI Amount: </b>{{ currency_type?.symbol}} {{fixedTo3Decimal(vehcileInfo?.emi_amount)}}
                </div>
          
           
            <div class="col-lg-4 col-md-6 mb-4 line-height-normal">
                <b>Payment Frequency: </b>{{vehcileInfo?.emi_frequency}}
                </div>
            <div class="col-lg-4 col-md-6 mb-4 line-height-normal">
                <b>Latest Payment Done Date: </b>{{vehcileInfo?.last_payment_date ? vehcileInfo?.last_payment_date : '-'}}
                </div>

        </ng-container>
        <div class="col-lg-12" *ngIf="vehcileInfo?.emi_track">
            <div class="emi-total-card mb-4" >
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="fw-semibold">Upcoming Date<span [ngStyle]="{color:vehcileInfo?.upcoming_date?.left.color}"> {{vehcileInfo?.upcoming_date?.left.name}}</span></span>
                    <span class="fw-semibold">{{vehcileInfo?.upcoming_date?.date}}</span>
                </div>
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div *ngIf="vehcileInfo?.show_paid">
                        <p class="mb-2 fs-12px  fw-semibold">Amount</p>
                        <p class="fs-5 fw-semibold">{{ currency_type?.symbol}} {{vehcileInfo?.emi_amount}}</p>
    
                    </div>
                    <div *ngIf="!vehcileInfo?.show_paid">
                        <p class="mb-2 fs-12px  fw-semibold">EMI Cleared</p>
    
                    </div>
                    <div *ngIf="vehcileInfo?.show_paid">
                        <button class="mark-paid-btn"  (click)="openEMIpaidPopup(vehcileInfo.emi_amount)"><i class="bi bi-check2 me-2"></i>Mark Paid</button>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-lg-12">
            
            <div class=" d-flex gap-3 flex-wrap" *ngIf="vehcileInfo?.emi_status<=1">
                <p class="fs-6 fw-semibold  w-100">Uploads</p>
                <p class="w-100 primary-brand-text fw-semibold" *ngIf="vehcileInfo?.emi_documents.length==0">No Documents Added !!</p>



                <ng-container  *ngFor="let document of vehcileInfo?.emi_documents" >
                        <app-file-delete-view [showInlineEdit]="false" [showDelete]="false" [fileData]="document" ></app-file-delete-view>
                </ng-container>
            </div>
        </div>
        


    </div>

</div>



</div>
<div class="row rounded-3 mt-3 mx-0 layout-bg def-color custom-shadow-md" *ngIf="vehicleCategory==3">
    <app-table-widget [isEditButton]="vehicleHeaderDetails?.is_active && isVehicleEditPermission" (editButtonEvent)="documentEdit($event)"
        tableTitle="Asset Assigned"></app-table-widget>
    <!-- table code goes here -->
    <div class="col-12 p-0 pb-3">
        <div class="custom-table-container ">
            <table>
                <thead>
                    <tr>
                        <th class="text-center">CATEGORY</th>
                        <th>SPECIFICATIONS ALLOWED TO DRIVE</th>
                    </tr>
                </thead>
                <tbody *ngIf="isSpecificationAdded">
                    <tr class="border-0">
                        <td class="bg-white" colspan="30">
                            <div class="no-list-data-wrap">

                                <h5 class=" no-veh-assigned"> Vehicle allowed to drive all the asset categories and
                                    specifications</h5>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tbody>

                    <ng-container *ngFor="let item of vehcileInfo?.asset_specifications">
                    <tr *ngIf="item.specification?.length">
                        <td>
                            <div class="d-flex justify-content-center flex-column">
                                <img src="{{getVehicleIcon(item?.type)}}" class="w-50px" alt="truck image">
                                <p class="text-center fs-12px mt-1"> {{item?.asset_type}}</p>
                            </div>
                        </td>
                        <td><span *ngFor="let spec of item.specification;index as j">{{spec?.specification }}
                                {{j!=item?.specification.length -1 ? ',&nbsp;' : ''}}
                            </span></td>

                    </tr>
                </ng-container>
                   

                </tbody>
            </table>
        </div>


    </div>
</div>
    


      
    
    

</div>

<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
<app-renew-document-popup *ngIf="popUpRenewDocuments?.show" [popUpRenewDocuments]="popUpRenewDocuments"
    (dataFromRenewalDoc)="dataFromRenewalDoc($event)" [isMarketVehicle]="false" [isOwnVehicle]="true">
</app-renew-document-popup>
<app-permits-renew-popup  *ngIf="renewPermitsData?.show" [renewPermitsData]="renewPermitsData"
(renewPermit)="renewPermit($event)"></app-permits-renew-popup>
