<form [formGroup]="editBankForm" *ngIf="editBankForm">
  <div class="form-layout form-layout--pd">
    <div class="form-layout__card bank-info active">

      <div class="alert-msg" *ngIf="apiError">
        <span class="icon-wrap"></span>
        <p class="message-cont">{{ apiError }}</p>
      </div><br>
      <div class="form-layout__header tabIndexActive mb-5">
        <h2 class="sub-heading">
          Employee Bank Details
        </h2>
        <span class="collapse-line"></span>

      </div>
      <!-- <div class="form-layout__header">
        <h2 *ngIf="bankId" class="sub-heading"> Edit Banking Info </h2>
        <h2 *ngIf="!bankId" class="sub-heading"> Add Banking Info </h2>

        <span class="collapse-line"></span>
        <a class="collapse-icon"></a>
      </div> -->
      <div class="form-body">
        <div class="row tabIndexActiveFields">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.account_holder_name)">
              <label for="" class="input" [ngClass]="{'input--required':isRequiedForm}">Account Holder Name</label>
              <input type="text" class="no-style input--bd" placeholder="Name" formControlName="account_holder_name"
                (change)="valueChange()">

              <app-error [controlName]="editBankForm.controls.account_holder_name"></app-error>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.bank_name)">
              <label for="" class="input" [ngClass]="{'input--required':isRequiedForm}">Bank</label>
              <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth"
                [selectedOption]="initialValues.bankName" [postApiUrl]="addBankApi" [params]="addBankParams"
                (postApiResponse)="getNewBank($event)" (addValueToList)="addNewBank($event)">
                <select #customSelect formControlName="bank_name" class="no-style select--modify"
                  (change)="valueChange()">
                  <option *ngFor="let option of bankList" value="{{ option?.id }}">
                    {{ option?.label }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="editBankForm.controls.bank_name"></app-error>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.account_number)">
              <label for="" class="input" [ngClass]="{'input--required':isRequiedForm}">Account Number</label>
              <input type="text" class="no-style input--bd" placeholder="234123455623" formControlName="account_number"
                (change)="valueChange()" onpaste="return false;">
              <!-- <span *ngIf="accError" class="error-reg">{{accError}}</span> -->
              <app-error [controlName]="editBankForm.controls.account_number"></app-error>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.account_type)">
              <label for="" class="input" [ngClass]="{'input--required':isRequiedForm}">Account Type</label>
              <material-dropdown [searchable]="true" [addable]="true" [selectedOption]="initialValues.accountType"
                class="dropDownWidth" [params]="accountTypeParams" (addValueToList)="addParamsToAccountType ($event)"
                [postApiUrl]="accountTypePostApi" (postApiResponse)="getNewAccountTypesTypes($event)">
                <select #customSelect formControlName="account_type" class="no-style select--modify"
                  (change)="valueChange()">
                  <option *ngFor="let option of accountTypeList" value="{{ option?.id }}">
                    {{ option?.label }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="editBankForm.controls.account_type"></app-error>
            </div>
          </div>
          <ng-container *ngIf="isTax&&!isTDS">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.ifsc_code)">
                <label for="" class="input">IFSC Code</label>
                <input appUpperCase type="text" class="no-style input--bd" placeholder="IFSC Code"
                  formControlName="ifsc_code" (change)="valueChange()">
                <app-error [controlName]="editBankForm.controls.ifsc_code"></app-error>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isTax&&isTDS">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.swift_code)">
                <label for="" class="input">Swift Code</label>
                <input appUpperCase type="text" class="no-style input--bd" placeholder="Swift Code"
                  formControlName="swift_code">
                <app-error [controlName]="editBankForm.controls.swift_code"></app-error>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isTax">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.swift_code)">
                <label for="" class="input">Swift Code</label>
                <input appUpperCase type="text" class="no-style input--bd" placeholder="Swift Code"
                  formControlName="swift_code">
                <app-error [controlName]="editBankForm.controls.swift_code"></app-error>
              </div>
            </div>
          </ng-container>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.iban_code)">
              <label for="" class="input">IBAN No</label>
              <input appUpperCase type="text" class="no-style input--bd" placeholder="IBN No"
                formControlName="iban_code">
              <app-error [controlName]="editBankForm.controls.iban_code"></app-error>
            </div>
          </div>


          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-wrap error" [ngClass]="addErrorClass(editBankForm.controls.branch)">
              <label for="" class="input">Branch</label>
              <input type="text" class="no-style input--bd" placeholder="Branch" formControlName="branch">
              <app-error [controlName]="editBankForm.controls.branch"></app-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between bottom-btn-wrap py-2">

    <button class="btn btn--sm" [routerLink]="[prefixUrl+'/onboarding/employee/view']">Cancel</button>
    <button class="btn btn--primary btn--sm" type="button" (click)="submitForm(editBankForm)">Submit</button>

  </div>
</form>