@import "../../../../../../../../assets/styles/helpers/variable";

.error-reg {
  color: #eb1e4a;
  font-size: 12px;
}

.isTax {
  display: none;
}

.input-wrap label {
  color: $text-color;
  font-weight: 600;
}

.bottom-btn-wrap {
  background-color: #eaeaea;
  padding-left: 30px;
  padding-right: 30px;
}

.form-layout {
  min-height: calc(100vh - 227px);
}