@import "../../../../../assets/styles/helpers/variable";

.book-vehicle {
    background-color: $layout-bg;
    border-radius: 8px;
}

.popup-header {
    background-color: #F2F4F7;
    border-radius: 8px 8px 0 0;
    padding: 15px 20px;
    color: $primary-brand-color;

}

