<div class="d-flex h-100 flex-column">
<div class="right-section__header align-items-center justify-content-between">
    <h1 class="heading" *ngIf="invoiceId !==''">Edit Invoice</h1>
    <h1 class="heading" *ngIf="invoiceId ==''">Add Invoice</h1>
 </div>
 <div class="row mx-0 px-3 shadow-inset-top-lg pt-4">
  <div class="col-lg-3 col-sm-6" [ngClass]="{disableInput: invoiceId !==''|| disableCustomer}">
    <div class="input-wrap" [ngClass]="{'mb-0':!selectedCategory}">
      <label for="" class="input--required">Customer </label>
      <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth"
        [selectedOption]="initialValues.party" [disabled]="invoiceId !==''" [party]="true"
        (addPartyPopup)="openAddPartyModal($event)" (addValueToList)="addValueToPartyPopup($event)"
        [params]="partyNamePopup" [maxLength]="255">
        <select #customSelect [formControl]="customer" class="no-style select--modify"
          (change)="onPartySelected($event.target.value)">
          <option *ngFor="let party of partyList" value="{{ party.id }}">
            {{ party.party_display_name }}
          </option>
        </select>
      </material-dropdown>
      <span *ngIf="gstin" class="font-small-blue"> {{terminology.tax_no_type}} : {{gstin}} </span>
    </div>
  </div>
 </div>

 <div  *ngIf="!selectedCategory" class="flex-grow-1 d-flex justify-content-center align-items-center flex-column ng-star-inserted">
  <i class="bi bi-person select-party-icon"></i>
  <!-- <span class="material-icons select-party-icon">
  people_alt
  </span> -->
  <p  class="select-party-text pb-5"> Please select customer for more details</p></div>



 <ng-container *ngIf="selectedCategory">
  <p class=" fw-semibold px-4 def-color">Select Invoice Template</p>
  <div class="p-4 veh-category-wrap shadow-inset-bottom" [ngClass]="{disableInput: invoiceId !==''}">
      <div class="veh-category" *ngIf="vehicleCategiries.includes(1)"  (click)="selectedTemplate('crane')"[class.active]="selectedCategory=='crane'">
        <img src="../../../../../../../../assets/img/icons/crane-truck.svg" alt="truck image">
        <p class="text-center mt-2">Crane</p>
      </div>
      <div class="veh-category" *ngIf="vehicleCategiries.includes(2)"  (click)="selectedTemplate('awp')" [class.active]="selectedCategory=='awp'">
        <img src="../../../../../../../../assets/img/icons/awp.svg" alt="truck image">
        <p class="text-center mt-2">AWP</p>
      </div>
      <ng-container>
        <div class="veh-category" *ngIf="vehicleCategiries.includes(0)||vehicleCategiries.includes(3) " (click)="selectedTemplate('cargo')" [class.active]="selectedCategory=='cargo'">
          <img src="../../../../../../../assets/img/icons/loose-cargo-black.png" class="cargo" alt="truck image">
          <p class="text-center mt-2">Loose Cargo</p>
        </div>
        <div class="veh-category" *ngIf="vehicleCategiries.includes(0)||vehicleCategiries.includes(3) "  (click)="selectedTemplate('container')" [class.active]="selectedCategory=='container'">
          <img  src="../../../../../../../assets/img/icons/container-black.png" class="container" alt="truck image">
          <p class="text-center mt-2">Container</p>
        </div>
        <div class="veh-category"   (click)="selectedTemplate('general')" [class.active]="selectedCategory=='general'">
          <img  src="../../../../../../../assets/img/icons/container-black.png" class="container" alt="truck image">
          <p class="text-center mt-2">General Invoice</p>
        </div>
      </ng-container>
     
       
  </div>
 </ng-container>

<ng-container [ngSwitch]="selectedCategory">
  <app-add-invoice [pulloutAndDepositTripId]="pulloutAndDepositTripId" [tripId]="tripId" [invoiceId]="invoiceId" [invoiceDetails]="invoiceDetails" [partyId]="customer.value" [selectedCategory]="selectedCategory" *ngSwitchCase="'crane'"></app-add-invoice>
  <app-add-invoice [pulloutAndDepositTripId]="pulloutAndDepositTripId" [tripId]="tripId" [invoiceId]="invoiceId" [invoiceDetails]="invoiceDetails" [partyId]="customer.value" [selectedCategory]="selectedCategory" *ngSwitchCase="'awp'"></app-add-invoice>
  <app-add-invoice [pulloutAndDepositTripId]="pulloutAndDepositTripId" [tripId]="tripId" [invoiceId]="invoiceId" [invoiceDetails]="invoiceDetails" [partyId]="customer.value" [selectedCategory]="selectedCategory" *ngSwitchCase="'cargo'"></app-add-invoice>
  <app-add-invoice [pulloutAndDepositTripId]="pulloutAndDepositTripId" [tripId]="tripId" [invoiceId]="invoiceId" [invoiceDetails]="invoiceDetails" [partyId]="customer.value" [selectedCategory]="selectedCategory" *ngSwitchCase="'container'"></app-add-invoice>
  <app-add-invoice [pulloutAndDepositTripId]="pulloutAndDepositTripId" [tripId]="tripId" [invoiceId]="invoiceId" [invoiceDetails]="invoiceDetails" [partyId]="customer.value" [selectedCategory]="selectedCategory" *ngSwitchCase="'general'"></app-add-invoice>
</ng-container>

</div>

<app-add-party-popup [popDetail]="showAddPartyPopup" (closeModal)="closePartyPopup()"
  (partyAdded)="addPartyToOption($event)"></app-add-party-popup>
<app-credit-limit *ngIf="creditLimit.open" [creditLimitData]="creditLimit" (creditLimit)="onCreditLimit($event)"></app-credit-limit>
