<div class="driver-allowance-popup">
  <div class="popup-header ">
    <h6 class="d-inline">Driver Commission</h6>
    <span>&nbsp;<app-tool-tip class="tool-tip-position trip-no" [totalSlides]="tripToolTip.content.length"
        position="right" [toolTipContent]="tripToolTip"></app-tool-tip></span>
  </div>
  <div class="popup-body px-3 py-4 ">
    <form [formGroup]="addDriverAllowanceForm">
      <div class="container-fluid  ">
        <div class=" row mx-0">

          <div class=" col-lg-3 col-6 custom-box-input-wrap   ">
            <label for="name">NAME</label>
            <material-dropdown [searchable]="true" [addable]="false" [addBlank]="false"
              [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.employee)"
              [selectedOption]="initialDetails?.driver">
              <select #customSelect formControlName="employee" class="no-style select--modify"
                (change)="onemployeeChange(addDriverAllowanceForm)">
                <option *ngFor="let option of employeeList" value="{{ option?.id }}">
                  {{ option?.first_name }} {{ option?.last_name }}
                </option>
              </select>
            </material-dropdown>
            <p class="font-small-blue text-end">&nbsp;{{addDriverAllowanceForm.get('designation').value}}</p>
          </div>

          <div class="error custom-box-input-wrap col-lg-3 col-6 " [ngClass]="addErrorClass(addDriverAllowanceForm.controls.paid)">
            <label>COMMISSION  ({{ currency_type?.symbol}})</label>
            <input positiveThreeDigitDecimalNumber type="text" class="error-box input--bd" placeholder="0.000" value=""
              formControlName="paid" />
          </div>

          <div class=" col-lg-3 col-6 custom-box-input-wrap  ">
            <label for="name">PAYMENT MODE</label>
            <material-dropdown [searchable]="true" [addable]="false"
              [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.account)"
              [selectedOption]="initialDetails?.driverAccount">
              <select #customSelect formControlName="account" class="no-style select--modify"
                (change)="onDriverHelperPaymentModeSelected()">
                <option value="monthly">Monthly</option>
                <option value="paid_by_driver">
                  Paid By Employee
                </option>
                <option *ngFor="let option of accountList" value="{{ option?.id }}">
                  {{ option?.name }}
                </option>
              </select>
            </material-dropdown>
          </div>

          <div class=" col-lg-3 col-6 custom-box-input-wrap" *ngIf="addDriverAllowanceForm.controls.account.value === 'paid_by_driver'">
            <label for="name">EMPLOYEE NAME</label>
            <material-dropdown [searchable]="true" [addable]="false" [addBlank]="false"
              [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.paid_employee)"
              [selectedOption]="initialDetails?.driverPaid">
              <select #customSelect formControlName="paid_employee" class="no-style select--modify" (change)="paidEmployeeSelected(addDriverAllowanceForm)">
                <option *ngFor="let option of employeeList" value="{{ option?.id }}">
                  {{ option?.first_name }} {{ option?.last_name }}
                </option>
              </select>
            </material-dropdown>
            <p class="font-small-blue text-end">&nbsp;{{addDriverAllowanceForm.get('paid_designation').value}}</p>

          </div>

          <div class=" col-lg-3 col-6 custom-box-input-wrap  " [ngClass]="{'disabled': !isMonthlyPaymentModeSelected}">
            <div class="d-flex align-items-center">
              <label for="name">CALCULATION MONTH &nbsp;</label>
              <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="calculation_Month_info.content.length"
                position="top" [toolTipContent]="calculation_Month_info"></app-tool-tip>
            </div>

            <material-dropdown [searchable]="true" [addable]="false" [selectedOption]="initialDetails.month"
              class="dropDownWidth" [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.month)">
              <select #customSelect formControlName="month" class="no-style select--modify"
                [disabled]="!isMonthlyPaymentModeSelected" (change)="monthSelected()">
                <option *ngFor="let option of monthsDropdownValues" value="{{ option?.id }}">
                  {{ option?.name }}
                </option>
              </select>
            </material-dropdown> 

          </div>
          <div class=" col-lg-3 col-6 custom-box-input-wrap   " [ngClass]="{'disabled' : timeSheets.length==0}" *ngIf="vehicleCategory !=0 && vehicleCategory <3">
            <label for="name">TIME SHEET</label>
            <material-dropdown [searchable]="true" [addable]="false" [addBlank]="false"
              [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.timesheet)"
              [selectedOption]="initialDetails?.timesheet">
              <select #customSelect formControlName="timesheet" class="no-style select--modify">
                  <option *ngFor="let option of timeSheets" value="{{option?.timesheet_id}}">
                    {{ option?.timesheet_no }}
                  </option>              
              </select>
            </material-dropdown>
          </div>

          <div class=" col-lg-3 col-6 custom-box-input-wrap  ">
            <label for="name">REASON </label>
            <material-dropdown [searchable]="true" [addable]="true"
            [postApiUrl]="manufacturerApi"
            [params]="manufacturerParams"
            (postApiResponse)="getNewManufacturer($event)"
            (addValueToList)="addNewManufacturer($event)"
              [addErrorClass]="addErrorClass(addDriverAllowanceForm.controls.reason)"
              [selectedOption]="initialDetails?.reason">
              <select #customSelect formControlName="reason" class="no-style select--modify">
                <option *ngFor="let option of staticOptions.tyreManufacturer" value="{{ option?.id }}">
                  {{ option?.label }}
                </option>
              </select>
            </material-dropdown>
          </div>

          <div class=" col-lg-3 col-6 custom-box-input-wrap  " [ngClass]="{'disabled': isMonthlyPaymentModeSelected}">
            <label for="name">TRANSACTION DATE</label>
            <mat-form-field [ngClass]="addErrorClass(addDriverAllowanceForm.controls.transaction_date)">
              <input matInput [matDatepicker]="transactionDate"  (focus)="transactionDate.open()"
                formControlName="transaction_date" placeholder="DD/MM/YYYY" readonly
                [disabled]="isMonthlyPaymentModeSelected" >
              <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
              <mat-datepicker #transactionDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-space-between mt-4">
          <button class="btn w-auto " (click)="cancel()">Cancel</button>
          <button class="btn btn--primary w-auto" (click)="save()">Save</button>
        </div>

      </div>
    </form>

  </div>

</div>