<form [formGroup]="containerForm">
    <div>
      <div class="px-4" >
        <div class="row tabIndexActiveFields mx-0">
          <div class="col-xl-3 col-lg-3 col-md-3 col-6 route-input-box" [ngClass]="{'disabled': officeStatus>0}">
            <div class="input-wrap error dropdownArrow" [ngClass]="addErrorClass(containerForm.controls.route_code)">
              <label for="" class="input">Route</label>
              <app-tool-tip class="tool-tip-position route-tool-tip-position" [totalSlides]="routeToolTip.content.length"
                position="right" [toolTipContent]="routeToolTip"></app-tool-tip>
              <material-dropdown [searchable]="true" [disabled]="officeStatus>0" [addable]="false" [selectedOption]="initialDetails.route_code">
                <select #customSelect formControlName="route_code" class="no-style select--modify"
                  (change)="routeSelected()">
                  <option *ngFor="let option of routeCodeList" value="{{ option?.name }}">
                    {{ option?.name }}
                  </option>
                </select>
              </material-dropdown>
              <app-error [controlName]="containerForm.controls.route_code"></app-error>
            </div>
          </div>
        </div>
      </div>
      <app-multiple-destination-container [disabledIndex]="officeStatus" [scopeOfWork]="scopeOfWork" *ngIf="!showBasiceContainer" (dateTimeChanged)="dateTimeChanged($event)" (locationSelectedEmitter)="locationSelected($event)" [ismultipleDestinationFormValid]="ismultipleDestinationFormValid" [parentForm]="containerForm" [contactPersonList]="contactPersonList"
      [ismultipleDestinationFormValid]="ismultipleDestinationFormValid" [routeId]="routeId"
      [routeDestinations]="routeDestinations" [customerId]="customerId" [routeId]="routeId"></app-multiple-destination-container>

      <app-multiple-destination [disabledIndex]="officeStatus"  *ngIf="showBasiceContainer" (dateTimeChanged)="dateTimeChanged($event)" (locationSelectedEmitter)="locationSelected($event)" [ismultipleDestinationFormValid]="ismultipleDestinationFormValid" [parentForm]="containerForm" [contactPersonList]="contactPersonList"
        [ismultipleDestinationFormValid]="ismultipleDestinationFormValid" [routeId]="routeId"
        [routeDestinations]="routeDestinations" [customerId]="customerId" [routeId]="routeId"></app-multiple-destination>
      <div class="cdc-tab-wrapper">
        <mat-tab-group mat-stretch-tabs="false" class="mat-group" animationDuration="0ms" mat-align-tabs="start">
          <!-- <mat-tab  *ngIf="showBasiceContainer">
            <ng-template mat-tab-label>
              <span [ngClass]="{ taberror: isDriverAllowanceTabError }">Container Info</span>
            </ng-template>
            <div class="d-flex justify-content-between m-1">
              <div></div>
              <button class="btn btn--primary" (click)="openAddContainerPopUp()"> {{containerInfoTable.length>0 ? 'Modify Containers' : 'Add Containers'}} </button>
            </div>
            <div>
              <div class="addable-row-table m-1 mt-0 ws-nowrap" >
                <table>
                    <thead>
                      <tr>
                        <th>Container No</th>
                        <th>Container Type</th>
                        <th>Container Size</th>
                        <th>Gross weight(Tons)</th>
                        <th>Cargo weight(Tons)</th>
                        <th>Container Handling</th>
                        <th>Storage From</th>
                        <th>Storage To</th>
                      </tr>
                   </thead>
                   <tbody>
                    <tr *ngFor="let container of containerInfoTable">
                      <td>{{container?.container}}</td>
                      <td>{{container?.type}}</td>
                      <td>{{container?.size}}</td>
                      <td>{{container?.gross_weight}}</td>
                      <td>{{container?.cargo_weight}}</td>
                      <td>{{container?.handling_type}}</td>
                      <td>{{ChangeDatetoNormalFormats(container?.storage_from)}}</td>
                      <td>{{ChangeDatetoNormalFormats(container?.storage_to)}}</td>
                    </tr>
                   </tbody>
                </table>
              </div>
            </div>
          </mat-tab> -->
         
          <mat-tab>
            <ng-template mat-tab-label>
              <span  [ngClass]="{ taberror: isMaterialInfoTabError }">Customer Freight</span>
            </ng-template>
            <app-billing-types-container [customerId]="customer" *ngIf="!showBasiceContainer"   [isWorkorderContainer]="isWorkorderContainer" [isRateAndUnitsMandatory]="true" [workOrderClientFrightData]="workOrderClientFrightData" [formType]="'client_freights'" [isFormValid]="isFreightFormFieldValid" [parentForm]="containerForm" [jobType]="jobType" [momentType]="momentType" [scopeOfWork]="scopeOfWork"(emitCommonRateCardValues)="emitCommonRateCardValues($event)" ></app-billing-types-container>
            <app-billing-types *ngIf="showBasiceContainer" [isWorkorderContainer]="isWorkorderContainer"  [showUnitsAndRateFields]="false" [billingTypeList]="billingTypeList" [parentForm]="containerForm" formType="client_freights"
            [isDisableBillingTypes]="isDisableBillingTypes" [workOrderClientFrightData]="workOrderClientFrightData"
            [isMandatory]="momentType===4" [isFormValid]="isFreightFormFieldValid"></app-billing-types>
            <app-add-edit-material-info-section [editDetails]="materialFreightEditDetails"
            [parentForm]="containerForm"  [isSubFormValid]="isFreightFormFieldValid"></app-add-edit-material-info-section>
          </mat-tab>
          <mat-tab *ngIf="parentForm.get('is_transporter').value">
            <ng-template mat-tab-label>
              <span>Market Vehicle Cost</span>
            </ng-template>
            <app-billing-types-container [customerId]="customer" *ngIf="!showBasiceContainer"  [isWorkorderContainer]="isWorkorderContainer" [isRateAndUnitsMandatory]="false" [workOrderClientFrightData]="workOrderVehicleFrightData" [formType]="'vehicle_freights'" [isFormValid]="isFreightFormFieldValid" [parentForm]="containerForm"></app-billing-types-container>
            <app-billing-types *ngIf="showBasiceContainer"  [isWorkorderContainer]="isWorkorderContainer"  [showUnitsAndRateFields]="false" [billingTypeList]="billingTypeList" [parentForm]="containerForm" formType="vehicle_freights"
            [isDisableBillingTypes]="isDisableBillingTypes" [workOrderClientFrightData]="workOrderVehicleFrightData" [isMandatory]="false" [isFormValid]="isFreightFormFieldValid"></app-billing-types>
          </mat-tab>
         
          <mat-tab *ngIf="!parentForm.get('is_transporter').value">
            <ng-template mat-tab-label>
              <span [ngClass]="{ taberror: isDriverAllowanceTabError }">Driver Commission</span>
            </ng-template>
            <app-driver-allowance-v2 [isPaidByDriver]="isPaidByDriver" [driverId]="driverId" [driverAllowanceEdit]="driverAllowanceEdit" [parentForm]="containerForm"
              [isFormValid]="isFormValidDriverAllowanceField"></app-driver-allowance-v2>
          </mat-tab>
  
          <mat-tab>
            <ng-template mat-tab-label>
              <span [ngClass]="{ taberror: iscustomFieldTabError }">Custom Field</span>
  
            </ng-template>
            <app-custom-field [parentForm]="containerForm" [editData]="customFieldData" [isFormValid]="isFormValidCustomField"></app-custom-field>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span>Job Documents</span>
  
            </ng-template>
            <div class="d-flex p-4 gap-3 flex-wrap">
            <file-uploader-v2 (onFileUploaded)="fileUploader($event)" fileName="Document Unknown" [uploaderId]="'1234'"
              [isShowOnlyUpload]="false"></file-uploader-v2>
            <app-file-delete-view [showInlineEdit]="true" [editedFileName]="editedFileName" [fileData]="document"
              *ngFor="let document of  containerForm.get('documents').value"
              (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
  
    </div>
  </form>