.layout-img{
    margin-left: 55px;
}
.table-wrapper-list {
   
    padding-bottom: 25px !important;
}
:host ::ng-deep.ngx-pagination .current
{
  background: #3f51b5 !important;
  border-radius: 2px;
}
td.white{
  background-color: #fff;
}.progress-bar-wrap {
  @media (max-width:639px) {
    padding-left: 0;
    padding-right: 0;
  }

  .progress-bar-list {
    min-height: 20px;
    margin-bottom: 0;
    z-index: 3;

  }
}
