<div class="add-screen-wrap d-flex flex-column">

    <div class="right-section__header align-items-center justify-content-between ">
        <h1 class="heading col-10">{{siteInspectionId?'Edit':'Add'}} Site Inspection</h1>
    </div>

    <div class=" position-relative mx add-edit-quotation-wrap def-color">
        <form [formGroup]="siteInspectionForm">
            <div class="alert-msg" *ngIf="apiError">
                <span class="icon-wrap"></span>
                <p class="message-cont">{{ apiError }}</p>
            </div>

            <!-- <div class="alert alert-warning text-center" role="alert" *ngIf="!(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))">
                Please add Crane or AWP vehicle categories to gain access to this feature.
            </div>
            <div class="def-color p-4 shadow-inset-top-bottom" *ngIf="vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2)">
                <div class="d-flex align-items-center" [class.disable]="siteInspectionId || fromQuoteOrSales">
                    <div class=" me-4  veh-type" matRipple (click)="vehicleCatagoryChange('1')"
                        [class.active]="siteInspectionForm.get('vehicle_category').value =='1'" *ngIf="vehicleCategiriesObj.categories.includes(1)">
                        <img src="../../../../../../../../assets/img/icons/crane-truck.svg" alt="truck image">

                        <p class="text-center mt-2">Crane</p>
                    </div>
                    <div class=" me-4  veh-type" matRipple (click)="vehicleCatagoryChange('2')"
                        [class.active]="siteInspectionForm.get('vehicle_category').value =='2'" *ngIf="vehicleCategiriesObj.categories.includes(2)">
                        <img src="../../../../../../../../assets/img/icons/awp.svg" alt="truck image">

                        <p class="text-center mt-2">AWP</p>
                    </div>
                </div>
            </div> -->
            <div class="row mx-0 p-3">
                <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                    <div class="input-wrap clearfix error"
                        [ngClass]="addErrorClass(siteInspectionForm.controls.form_name)">
                        <label for="" class="input--required">Inspection</label>
                        <div>
                            <material-dropdown [searchable]="true" [addable]="true"
                                [selectedOption]="initialValues.inspectionName">
                                <select #customSelect formControlName="form_name" class="no-style select--modify"
                                    (change)="onInspectionSelected()">
                                    <option *ngFor="let option of inspectionsList" value="{{ option?.id }}">
                                        {{ option?.form_name }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="siteInspectionForm.controls.form_name"></app-error>
                        </div>
                    </div>
                </div>
            </div>






            <ng-container *ngIf="isInspectionFormSelected">

                <div class="row mx-0 p-3">
                    <div class="col-xl-3 col-lg-3  col-md-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(siteInspectionForm.controls.customer)" [class.disable]="siteInspectionId || fromQuoteOrSales">
                            <label for="" class="input--required">Customer</label>
                            <div>
                                <material-dropdown [searchable]="true" [addable]="true"
                                    [selectedOption]="initialValues.customer" [party]="true" [maxLength]="255"
                                    (addPartyPopup)="openAddPartyModal($event)"
                                    (addValueToList)="addValueToPartyPopup($event)" [params]="partyNamePopup">
                                    <select #customSelect formControlName="customer" class="no-style select--modify">
                                        <!-- (change)="onvendorSelected()" -->
                                        <option *ngFor="let option of customerNameList" value="{{ option?.id }}">
                                            {{ option?.party_display_name }}
                                        </option>
                                    </select>
                                </material-dropdown>
                                <app-error [controlName]="siteInspectionForm.controls.customer"></app-error>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-3 col-md-3  mb-0 input-wrap disable">
                        <label class="input--required">Site Inspection from</label>
                        <div class=" combo-input-wrap" formGroupName="inspection_from">

                            <div class="combo-input sm-input" [ngClass]="{'invalid-input':(siteInspectionForm.get('inspection_from.type').invalid && siteInspectionForm.get('inspection_from.type').touched) }" >
                                <material-dropdown [searchable]="true"
                                    [selectedOption]="initialValues.siteInspectionfrom">
                                    <select #customSelect formControlName="type" class="no-style select--modify"
                                        (change)="siteInspectionfromChange()">
                                        <option *ngFor="let option of siteInspectionFrom" [value]="option?.value">
                                            {{ option?.label }}
                                        </option>
                                    </select>
                                </material-dropdown>
                            </div>

                            <div class="seperator"></div>


                            <div class="combo-input"
                                [ngClass]="{'disable':siteInspectionForm.get('inspection_from.type').value==2,'invalid-input':siteInspectionForm.get('inspection_from.id').invalid &&siteInspectionForm.get('inspection_from.id').touched }">
                                <material-dropdown [searchable]="true"
                                    [selectedOption]="initialValues.siteInspectionfromValue"
                                    [disabled]="siteInspectionForm.get('inspection_from.type').value==2"
                                    *ngIf="siteInspectionForm.get('inspection_from.type').value==0 ||siteInspectionForm.get('inspection_from.type').value==1 ">
                                    <select #customSelect formControlName="id" class="no-style select--modify" (change)="siteInspectionfromValueChange()">
                                        <option *ngFor="let option of quotationListOrsalesOrderList" [value]="option?.id">
                                            {{ option?.no }}
                                        </option>
                                    </select>
                                </material-dropdown>

                            <input [ngClass]="{'invalid-input':siteInspectionForm.get('inspection_from.name').invalid &&siteInspectionForm.get('inspection_from.name').touched}" *ngIf="siteInspectionForm.get('inspection_from.type').value==3" type="text" 
                                class="no-style input--bd" formControlName="name" placeholder="" value="">
                            <input *ngIf="siteInspectionForm.get('inspection_from.type').value==2||siteInspectionForm.get('inspection_from.type').value==null||(siteInspectionForm.get('inspection_from.type').value==''&& !siteInspectionForm.get('inspection_from.type').value==0)" type="text"
                                class="no-style input--bd" formControlName="na" placeholder="" value=""
                                readonly>
                            </div>



                        </div>
                        <p style="color: red;" *ngIf="siteInspectionForm.get('inspection_from').invalid && siteInspectionForm.get('inspection_from').touched ">This field is required</p>

                    </div>

                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="input-wrap clearfix">
                            <label for="" class="input--required">Site Inspection No.</label>
                            <input type="text" class="no-style input--bd" formControlName="site_inspection_no"
                                placeholder="123456" value="" readonly>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-6 input-wrap error"
                        [ngClass]="addErrorClass(siteInspectionForm.controls.inspection_date)">
                        <label class="input--wrap input--required" for="">Site Inspection Date</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="inspection_date" formControlName="inspection_date"
                                placeholder="DD/MM/YYYY" (focus)="inspection_date.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="inspection_date"></mat-datepicker-toggle>
                            <mat-datepicker #inspection_date></mat-datepicker>
                        </mat-form-field>
                        <app-error class="removePositionDate"
                            [controlName]="siteInspectionForm.controls.inspection_date"></app-error>
                    </div>





                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        <div class="input-wrap dropdownArrow ">
                            <label class="input">Zone</label>

                            <material-dropdown [selectedOption]="initialValues.zone" [addBlank]="true"
                                [searchable]="true" class="dropDownWidth">
                                <select #customSelect formControlName="zone" class="no-style select--modify" (change)="onZoneChange()">
                                    <option *ngFor="let option of zonesList" value="{{ option?.id }}">
                                        {{ option?.name }}
                                    </option>
                                </select>
                            </material-dropdown>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6" >
                        <div class="input-wrap dropdownArrow error " [ngClass]="addErrorClass(siteInspectionForm.controls.area)">
                            <label class="input--required">Location</label>

                            <material-dropdown [selectedOption]="initialValues.area" [addBlank]="true"
                                [searchable]="true" class="dropDownWidth">
                                <select #customSelect formControlName="area" class="no-style select--modify">
                                    <option *ngFor="let option of areaList" value="{{ option?.id}}">
                                        {{ option?.label }}
                                    </option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="siteInspectionForm.controls.area"></app-error>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="input-wrap clearfix  ">
                            <label class="input">Map Coordinate </label>
                            <app-location-v2 [isnameRequired]="false" *ngIf="!isLocationChanged" [isFromToInvalid]="isLocationValid"
                                [placeForm]="siteInspectionForm.get('location')"
                                (placeDetails)="locationSelected($event)"></app-location-v2>
                        </div>
                    </div>

                    <div class=" col-lg-3 col-md-3 input-wrap ">
                        <label class="input--required">Inspected By</label>
                        <div class="combo-input-wrap" formGroupName="inspected_type">
                            <div class="combo-input sm-input" [ngClass]="{'invalid-input':siteInspectionForm.get('inspected_type.type').invalid &&siteInspectionForm.get('inspected_type.type').touched }">

                                <material-dropdown [searchable]="true" [selectedOption]="initialValues.inspectedBy">
                                    <select #customSelect formControlName="type" class="no-style select--modify"
                                        (change)="inspectedByChange()">
                                        <option *ngFor="let option of inspectedBy" [value]="option?.value">
                                            {{ option?.label }}
                                        </option>
                                    </select>
                                </material-dropdown>
                            </div>
                            <div class="seperator"></div>
                            <div class="combo-input"
                                [ngClass]="{'disable':siteInspectionForm.get('inspected_type.type').value==2,'invalid-input':siteInspectionForm.get('inspected_type.id').invalid &&siteInspectionForm.get('inspected_type.id').touched}">
                                <material-dropdown [searchable]="true"
                                    [selectedOption]="initialValues.inspectedByValue"
                                    [disabled]="siteInspectionForm.get('inspected_type.type').value==2"
                                    *ngIf="siteInspectionForm.get('inspected_type.type').value==0">
                                    <select #customSelect formControlName="id" class="no-style select--modify">
                                        <option *ngFor="let option of activeUsers"
                                            [value]="option?.id">
                                            {{ option?.display_name }}
                                        </option>
                                    </select>
                                </material-dropdown>
                                <input [ngClass]="{'invalid-input':siteInspectionForm.get('inspected_type.name').invalid &&siteInspectionForm.get('inspected_type.name').touched}" *ngIf="siteInspectionForm.get('inspected_type.type').value==1" type="text" 
                                    class="no-style input--bd" formControlName="name" placeholder="" value="">
                                <input *ngIf="siteInspectionForm.get('inspected_type.type').value==2" type="text"
                                    class="no-style input--bd" formControlName="na" placeholder="" value=""
                                    readonly>
                            </div>


                        </div>
                        <p style="color: red;" *ngIf="siteInspectionForm.get('inspected_type').invalid && siteInspectionForm.get('inspected_type').touched ">This field is required</p>


                    </div>


                    <div class="col-lg-3 col-md-3">
                        <div class="input-wrap dropdownArrow">
                            <label for="">Point Of Contact (Name)</label>
                            <material-dropdown [selectedOption]="initialValues.contactName" [disableLastInput]="true"
                                (nonOptionSetValue)="setContactPerson($event)">
                                <select #customSelect class="no-style select--modify" formControlName="contact_name"
                                    (change)="onContactPersonSelection($event.target.value)">
                                    <option *ngFor="let option of contactPersonList " value="{{option.name}}">
                                        {{option.name}}
                                    </option>
                                </select>
                            </material-dropdown>
                        </div>
                    </div>

                    <div class=" col-lg-3 col-md-3 input-wrap mb-0">
                        <label [ngClass]="{'input--required':siteInspectionForm.get('contact_name')?.value!=''}">Point
                            Of Contact
                            (Mobile)</label>
                        <div class="mobile-no-wrapper d-flex align-items-start combo-input-wrap"
                            formGroupName="contact_no">
                            <div class="input-wrap m-no-prefix clearfix country-prefix combo-input">
                                <img [src]="siteInspectionForm.get('contact_no').value['flag']" />

                                <material-dropdown [searchable]="true" [selectedOption]="initialValues.countryCode">
                                    <select #customSelect formControlName="code" class="no-style select--modify"
                                        (change)="onCountryCodeSelection(siteInspectionForm)">
                                        <option *ngFor="let option of countryPhoneCodeList"
                                            [value]="option?.phone_code">
                                            {{ option?.phone_code }}
                                        </option>
                                    </select>
                                </material-dropdown>

                            </div>
                            <div class="seperator"></div>

                            <div class="input-wrap combo-input sm-input clearfix error mobile-no"
                                [ngClass]="addErrorClass(siteInspectionForm.get('contact_no.number'))">
                                <input type="number" class="no-style input--bd" placeholder="Number" value=""
                                    formControlName="number" />
                                <app-error [controlName]="siteInspectionForm.get('contact_no.number')"></app-error>
                            </div>


                        </div>

                    </div>

                </div>

               

                    <div >

                <ng-container *ngIf="!isCustomerChanged">
                    <div class="gb-fake-tab-wrapper">
                        <span>Site Details</span>
                    </div>
                    <app-generic-inspection-checklist [inspectionPermission]="inspectionPermission" [apiUrl]="apiUrl" [inspectionScreen]="inspectionScreen" [settingsRoute]="settingsRoute" [isInspectionCheckListmandatory]="isInspectionCheckListmandatory" [markForTouched]="markForTouched" [parentForm]="siteInspectionForm" [inspectionDetails]="inspectionDetails"></app-generic-inspection-checklist>
                    <div class="row mx-0">
                        <div class="col-lg-8 px-0 specification-wrap">
                    <div class="gb-fake-tab-wrapper">
                        <span>Specification</span>
                    </div>
                    <div class="row mx-0">

                        <div class="col-lg-6 border-end p-4" *ngIf="specificationList.length==0">
                            <div class="border-0">
                                <div class="bg-white" colspan="30">
                                  <div class="no-list-data-wrap">
                                    <figure>
                                      <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No specifications found!</h5>
                                  </div>
                              </div>
                              </div>
                        </div>
                        <div class="col-lg-6 border-end p-4" *ngIf="specificationList.length>0">
                            <p class="fw-semibold mb-3">{{siteInspectionForm.get('inspection_from.type').value==0?'QUOTATION':'SALES ORDER'}} SPECIFICATION</p>
                            <p class=" py-2" *ngFor="let val of specificationList;let i=index"><span class="material-icons dot me-2"> fiber_manual_record </span>
                                {{val}}</p>
                        </div>
                        <div class="col-lg-6  p-4" formArrayName="specification">
                            <p class="fw-semibold mb-3">INSPECTED SPECIFICATION</p>

                            <div *ngFor="let control of  siteInspectionForm['controls']['specification']['controls'];let i=index" [formGroupName]="i" class="mb-2">
                                <div class="d-flex inspected-specification">
                                    <div class="input-wrap mb-0">
                                        <material-dropdown [selectedOption]="initialValues.specification[i]">
                                            <select #customSelect formControlName="name">
                                                <option *ngFor="let option of vechileSpecifications" value="{{ option }}">
                                                    {{ option }}
                                                </option>
                                            </select>
                                        </material-dropdown>

                                    </div>
                                    <div class="d-flex ps-4">
                                        <button (click)="removeSpecifications(i)" *ngIf="siteInspectionForm.controls['specification']['controls'].length-1 !=0" class="row-btn row-btn-delete"><span class="material-icons">
                                                close
                                            </span></button>
                                        <button (click)="addSpecifications()"  *ngIf="siteInspectionForm.controls['specification']['controls'].length-1 ==i" class=" row-btn row-btn-add "><span class="material-icons">
                                                add
                                            </span></button>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0 ">
                    <div class="gb-fake-tab-wrapper">
                        <span>Site Inspection Status</span>
                    </div>
                    <div class="p-3 pb-0">
                        <p class="fw-semibold mb-3" [ngClass]="{'input--required' : isStatusRequired}">STATUS</p>
                        <div  [ngClass]="addErrorClass(siteInspectionForm.controls.is_approved)">
                            <mat-radio-group aria-label="Select an option" formControlName="is_approved">
                                <mat-radio-button color="primary" [value]="true" class="fw-semibold mb-3">Approved</mat-radio-button>
                                <br>
                                <mat-radio-button color="primary" [value]="false" class="fw-semibold ">Rejected</mat-radio-button>
                            </mat-radio-group>
                            <app-error [controlName]="siteInspectionForm.controls.is_approved" class="error-text my-2 d-block"></app-error>
                        </div>
                        
    
    
    
                        <div class="input-wrap error mt-3" [ngClass]="addErrorClass(siteInspectionForm.controls.remark)">
                            <label for="" class="input" [ngClass]="{'input--required': isRemarkRequired}">Remarks</label>
                            <input formControlName="remark"  type="text" class="no-style input--bd" placeholder="" value="" >
                            <app-error [controlName]="siteInspectionForm.controls.remark"></app-error>  
                          </div>
    
               
                    </div>
                </div>
                </div>
                    
                </ng-container>
            </div>
            
           


            </ng-container>




        </form>
    </div>
    <ng-container  *ngIf="!isInspectionFormSelected">
        <div class=" flex-grow-1 d-flex justify-content-center align-items-center flex-column">
            <i class="bi bi-truck select-veh-truck"></i>
            <p class="select-veh-text text-center line-height-normal "> Please select a Inspection Form to proceed</p>
        </div>
    </ng-container>
   
</div>
<div class="footer-bg p-2 px-4 custom-footer-bg d-flex justify-content-end"   *ngIf="isInspectionFormSelected">
    <ng-container *ngIf="(vehicleCategiriesObj.categories.includes(1)||vehicleCategiriesObj.categories.includes(2))">
        <button class="btn me-2 btn--sm" type="button" [routerLink]="[preFixUrl+'/trip/site-inspection/list']">Cancel</button>
        <div class="d-flex align-items-center btn-group-1">
            <button class="btn btn--primary btn--sm border-end f-b" (click)="saveSiteInspection(true)"> {{siteInspectionId?'Update':'Save'}} </button>
          <button mat-button class="btn btn--primary w-auto s-b" [matMenuTriggerFor]="menu"><i
            class="material-icons">arrow_drop_down</i></button>
          <mat-menu #menu="matMenu" class="py-2">
            <button class="more-actions__item  w-100 text-start" type="button" (click)="saveSiteInspection(false)">Save and Schedule</button>
            <button class="more-actions__item w-100 text-start " type="button" (click)="saveSiteInspection(true)" >Save and Submit</button>
          </mat-menu>
        </div>
    </ng-container>
  

</div>
<app-add-party-popup [popDetail]="showAddPartyPopup" [isVendor]="false" (closeModal)="closePartyPopup()"
    (partyAdded)="addPartyToOption($event)"></app-add-party-popup>