@import"../../../../../../../assets/styles/helpers/variable";
.input-wrap label{
    color: $text-color;
    font-size: 13px ;
    font-weight: 600;
}
.search-filter {
    color: #676A6E;
    height: 35px;
    border: 2px solid #ACB5BD !important;
    border-radius: 35px;
    padding: 7px;
    padding-right: 32px;
    transition: all 200ms ease;
}

.search-icon{
    position: absolute;
    font-size: 16px;
    right: 16px;
    top: 9px;
    -webkit-text-stroke: 1px;
    color: #979696;
}
.table-wrapper-list tbody td:last-child {
    padding-right: 5px;
}
.search-filter:focus {

    border-color: $primary-brand-color !important;
    background-color: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


}

.search-filter:focus+.search-icon {
    color: $primary-brand-color;
}