<div class="d-flex flex-wrap justify-content-between align-items-center def-color px-3 py-3 ps-4 border-end">
  <span class="fw-semibold fs-6 ">Service List</span>
  <div class=" position-relative">
    <input  [(ngModel)]="search" placeholder="Search"
      class="search-filter border-0 ps-3 " 
      ><span class="search-icon"><i class="bi bi-search"></i></span></div>
</div>

<div class="table-wrapper-list border-end" id="table-height">
  <table class="table-container">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>LAST SERVICE  ({{ currency_type?.symbol}})</th>
        
        <th>LAST LABOUR ({{ currency_type?.symbol}})</th>
        <th class="text-center">HISTORY</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="(serviceList | serviceListSearch:search)?.length == 0">
        <td colspan="10" style="background-color: #fff">
          <div class="no-content-wrapper">
            <figure class="no-content-pic">
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <div class="no-content-txt">
              <h5 class="heading">No data found!</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="height: 70px;">
          <button (click)="addNewService=!addNewService" *ngIf="!addNewService" class="fw-semibold def-color">+ &nbsp;Create Service </button>

          <ng-container *ngIf="addNewService">
            <div class=" input-wrap  ">
             
              <p style="color: red;" *ngIf="apiError">{{apiError}}</p>
              <div class="d-flex align-items-center flex-wrap">

                <input type="text" class="input--bd no-style  px-0 w-50 " [(ngModel)]="newServiceName"
                  placeholder=" Service Name">
                <button class="btn  btn--sm w-auto ms-3" (click)="addNewService=false">Cancel</button>
                <button class="btn btn--primary btn--sm w-auto ms-2" (click)="addNewServiceType()">Save</button>
              </div>
            </div>

          </ng-container>

        </td>
      </tr>
      <tr *ngFor="let data of serviceList | serviceListSearch:search">
        <td   >{{data?.service_name}}</td>
        <td >{{data?.service_amount | numberFormat}}</td>
        <td >{{data?.labour_amount | numberFormat}}</td>
        <td class="text-center"><i class="bi bi-clock-history cursor-pointer" (click)="openHistory(data)"></i></td>
        <td ><button (click)="serviceSelected(data)"><span  class="material-icons add fs-5 green-text" >add_circle_outline</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-service-history-list *ngIf="isOpenHistoryData.open" [vehicleId]="vehicleId" [isOpenHistoryData]="isOpenHistoryData"></app-service-history-list>