<div class="tabIndexActive"><button class="icon-wrapper videoIcon"
    (click)="popupvideo = !popupvideo; popupVideoClose()"> <span class="material-icons" *ngIf="showIcon"> <i class="bi bi-play-circle-fill"></i>
    </span></button> </div><ng-content></ng-content>
<div class="parentPopup" *ngIf="popupvideo" (click)="popupvideo = !popupvideo;popupVideoClose();popupClose() "></div>
<div class="popupMain" *ngIf="popupvideo">
  <div class="videoParent">
    <video controls controlsList="nodownload" oncontextmenu="return false;">
      <source [src]="videoUrl" type="video/mp4" />
    </video>
  </div>
  <span (click)="popupvideo = !popupvideo ;popupVideoClose();popupClose() "
    class="mat-icon material-icons closeIcon">highlight_off</span>
</div>