@import "../../../../../../../../assets/styles/helpers/variable";
@import "../../../../../../../../assets/styles/helpers/mixins";



.form-layout {
    min-height: calc(100vh - 227px);
}

.error-reg {
    color: #eb1e4a;
    font-size: 12px;
}

.alert-msg {
    margin-bottom: 20px;
}

.input-wrap label {
    color: $text-color;
    font-weight: 600;
}

.bottom-btn-wrap {
    background-color: #eaeaea;
    padding-left: 30px;
    padding-right: 30px;
}

.btn--save-continue {
    @include respond-to(mobile) {
        width: 100%;
    }
}


#pre ::ng-deep .mat-form-field {
    .mat-form-field-wrapper {
        height: 76px;
    }

}

#pre ::ng-deep .mat-form-field-infix {
    bottom: -24px
}

#cc-font {
    font-size: 9px;
}