.toggle-collapse:not(.collapsed){
    .arrow{
        transform: rotate(90deg);

    }
}
.arrow{
    vertical-align: middle;
    transition: all 200ms ease;
}
th{
    background-color: #F6F6F6 !important;
}
.charges-wrap > .separator:last-child{
    display: none;

}