<div class="right-section__header">
  <h1 class="heading">Add Spares</h1>
</div>

<form [formGroup]="inventoryForm">
  <div class="form-body form-layout form-layout--pd" id="form-height">
    <div class="error-msg-list" *ngIf="globalFormErrorList.length > 0">
      <p class="message-head">{{ errorHeaderMessage }}</p>
      <span class="icon-wrap"></span>
      <ul *ngFor="let error of globalFormErrorList">
        <li class="message-cont">{{ error }}</li>
      </ul>
    </div><br>
    <div class="form-layout__header">
      <h2 class="sub-heading">Spares Information</h2>
      <span class="collapse-line"></span>
    </div>
    <div class="form-layout__card active">
        <div class="form-body">

          <div class="row">
            <!-- Stock Date -->
              <div class="col-lg-3 col-sm-6">
                  <div  class=" input-wrap error" [ngClass]="addErrorClass(inventoryForm.controls.stockDate)">
                      <label for="" class="input--required">Stock Date</label>
                      <mat-form-field>
                          <input matInput [matDatepicker]="stockDate" (focus)="stockDate.open()"
                          formControlName="stockDate" placeholder="DD/MM/YYYY" (dateChange)="onDateSelection()">
                          <mat-datepicker-toggle matSuffix [for]="stockDate"></mat-datepicker-toggle>
                          <mat-datepicker #stockDate></mat-datepicker>
                      </mat-form-field>
                      <app-error [controlName]="inventoryForm.controls.stockDate"></app-error>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div  class=" input-wrap">
                    <label for="" class="input">Reason</label>
                    <input type="text" class="no-style input--bd" placeholder="Reason" formControlName="reason">
                </div>
            </div>
         <!-- Employee Name -->
              <div class="col-lg-3 col-sm-6">
                <div  class=" input-wrap">
                    <label for="" class="input">Employee Name</label>
                    <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth">
                       <select #customSelect formControlName="employee" class="no-style select--modify" >
                    <option *ngFor="let employee of employeeList" value="{{employee.id}}">
                       {{ employee.first_name}}  {{ employee.last_name}}
                        </option>
                  </select>
                  </material-dropdown>
                </div>
            </div>
          </div>

          <div class="form-layout__card ms-3">
            <mat-radio-group formControlName="selectedOptionType" (change)="onRadioButtonChange()">
              <mat-radio-button *ngFor="let option of radioOptions" value="{{option.value}}">{{option.name}}</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-layout__card mg-top-30 " *ngIf="inventoryForm.controls.selectedOptionType.value=='new_spares'">
            <app-add-spare [isFormValid]="isFormValid" (addSpareData)="ItemsDataForm($event)" [inventoryData]="inventoryData"></app-add-spare>
          </div>

          <div class="form-layout__card mg-top-30" *ngIf="inventoryForm.controls.selectedOptionType.value=='new_tyres'">
            <app-add-tyre (addTyreData)="ItemsDataForm($event)" [isFormValid]="isFormValid" [inventoryData]="inventoryData"></app-add-tyre>
          </div>

          <div class="row mg-top-30">
            <div class="col-sm-6">
              <div class="input-wrap mb-0 pb-3">
                  <label for="" class="">Remarks</label>
                  <input type="text" class="no-style input--bd" placeholder="Comments" formControlName="comments">
              </div>
          </div>
          </div>
        </div>
    </div>
  </div>
  <div class="mg-top-30 section-footer">
    <div class="btn-wrap mg-bottom-100">
        <button class="btn" [routerLink]="[prefixUrl+'/inventory/list/inventory-adjustment-spare']">Cancel</button>
        <button class="btn btn--primary" (click)="saveSpare()">Add Spares</button>
    </div>
</div>
</form>
