<div [formGroup]="partyTaxFormIndian">
  <div class="row tabIndexActiveFields" style="margin: 0;">
    <div class="col-sm-6" [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge}">
      <div class="input-wrap error" [ngClass]="addErrorClass(partyTaxFormIndian.get('treatment'))">
        <label for="" class="input--required" >{{terminology.tax_type}} Registration</label>
        <material-dropdown [searchable]="true" [selectedOption]="treatmentOption" [addable]="false"
          class="dropDownWidth">
          <select #customSelect formControlName="treatment" class="no-style select--modify"
            (change)="hideGstOnUnregister()">
            <option *ngFor="let option of gstTreatments" value="{{ option?.id }}">
              {{ option?.label }}
            </option>
          </select>
        </material-dropdown>
        <app-error [controlName]="partyTaxFormIndian.get('treatment')"></app-error>
      </div>
    </div>
    <ng-container *ngIf="partyTaxFormIndian.get('treatment').value">
      <div  class="col-sm-6" [ngClass]="{hide: hideGst,'col-lg-4':isLarge,'col-lg-3':!isLarge}">
        <div class="input-wrap error" [ngClass]="addErrorClass(partyTaxFormIndian.get('gstin'))">
          <label for="" class="input--required">{{terminology.tax_no_type}}</label>
          <input appUpperCase type="text" class="no-style input--bd" placeholder="21ABCDE1234F2Z5" value=""
            formControlName="gstin">
          <app-error [controlName]="partyTaxFormIndian.get('gstin')"></app-error>
        </div>
      </div>
      <ng-container *ngIf="!isTds">
        <div  [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge}" class="col-sm-6" *ngIf="hideGst">
          <div class="input-wrap" [ngClass]="addErrorClass(partyTaxFormIndian.get('pan'))">
            <label for="" class="input">PAN</label>
            <input appUpperCase type="text" class="no-style input--bd" placeholder="ABCDE1234F" value=""
              formControlName="pan">
            <app-error [controlName]="partyTaxFormIndian.get('pan')"></app-error>
          </div>
        </div>
      </ng-container>
  
      <div  class="col-sm-6" *ngIf="!isTds" [ngClass]="{hide: hideGst,'col-lg-4':isLarge,'col-lg-3':!isLarge}">
        <div class="input-wrap error" [ngClass]="addErrorClass(partyTaxFormIndian.get('place_of_supply'))">
          <label for="" class="input--required">Place of Supply</label>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth"
            [selectedOption]="placeOfSupplyOption">
            <select #customSelect formControlName="place_of_supply" class="no-style select--modify">
              <option *ngFor="let option of sos" value="{{ option?.name }}">
                {{ option?.name }}
              </option>
            </select>
          </material-dropdown>
          <app-error [controlName]="partyTaxFormIndian.get('place_of_supply')"></app-error>
        </div>
      </div>
  
      <ng-container *ngIf="!isTds">
        <div class="col-12 row" [ngClass]="{hide: hideGst}">
          <div class=" col-md-6 col-12 row mx-0">
  
            <div class=" w-100 ps-0" >
              <label for="2" class="check-box">
                <input type="checkbox" id="2" (change)="changeApplyTDS($event)" formControlName="apply_tds">
                <span class="check-mark"></span>
                <span class="label-text">Apply TDS for this party</span>
              </label>
            </div>
            <div class="col-sm-6 col-12" [ngClass]="{hide: !applyTDS}">
              <div class="input-wrap mg-top-10 error" [ngClass]="addErrorClass(partyTaxFormIndian.get('tds_section'))">
                <label for="" class="input--required">TDS Section</label>
                <material-dropdown [searchable]="true" class="dropDownWidth" [selectedOption]="tdsParams">
                  <select #customSelect formControlName="tds_section" class="no-style select--modify"
                    (change)="upadteSectionPercentage($event)">
                    <option *ngFor="let option of tds" value="{{ option?.id }}">
                      {{ option?.label }}
                    </option>
                  </select>
                </material-dropdown>
                <app-error [controlName]="partyTaxFormIndian.get('tds_section')"></app-error>
              </div>
            </div>
            <div class="col-sm-6 col-12" [ngClass]="{hide: !applyTDS}">
              <div class="input-wrap  mg-top-10">
                <label for="" class="input">TDS Percentage</label>
                <div class="input--bd pb-3">{{partyTaxFormIndian.get('tds_percentage').value}}</div>
              </div>
            </div>
          </div>
  
          <div class=" col-md-6 col-12 mb-3">
  
            <div class=" w-100 ps-0">
              <label for="tds_declaration" class="check-box">
                <input type="checkbox" id="tds_declaration" formControlName="tds_declaration">
                <span class="check-mark"></span>
                <span class="label-text">Received TDS Declaration</span>
              </label>
            </div>
            <div [ngClass]="{hide:partyTaxFormIndian.get('tds_declaration').value!=true}">
              <div class="form-layout__card mg-top-30">
                <file-uploader (onFileUploaded)="fileUploader($event)" (onFileDeleted)="fileDeleted($event)"
                  [multiple]="true" [accept]="'capture=camera, image/jpeg,image/x-jpg,image/png, application/pdf'"
                  [showFileName]="false" [patchFileUrls]="patchFileUrls">
                </file-uploader>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="row "  *ngIf="isTds">
      <div class="col-sm-6" [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge}">
        <div class="input-wrap error" [ngClass]="addErrorClass(partyTaxFormIndian.get('crn_treatment'))">
          <label for=""  class="input--required" > Corporate Tax Registration</label>
          <material-dropdown [searchable]="true" [selectedOption]="corporateTaxSelectedOption" [addable]="false"
            class="dropDownWidth">
            <select #customSelect formControlName="crn_treatment" class="no-style select--modify"
              (change)="corporateTaxChanged()">
              <option *ngFor="let option of gstTreatments" value="{{ option?.id }}">
                {{ option?.label }}
              </option>
            </select>
          </material-dropdown>
          <app-error [controlName]="partyTaxFormIndian.get('crn_treatment')"></app-error>
        </div>
      </div>
      <div  class="col-sm-6"   *ngIf="!hideCrn" [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge}">
        <div class="input-wrap error" style="margin-left: 8px" [ngClass]="addErrorClass(partyTaxFormIndian.get('crn_no'))">
          <label for="" class="input--required">CRN</label>
          <input  type="text" appUpperCase class="no-style input--bd" placeholder="21ABCDE1234F2Z5" 
            formControlName="crn_no">
          <app-error [controlName]="partyTaxFormIndian.get('crn_no')"></app-error>
        </div>
      </div>
    </div>
  



  </div>
</div>
