<div style="max-height: 65vh; overflow-y:auto;">
  <form [formGroup]="changePasswordForm" (submit)="onFormSubmit()">
    <article class="login screen-height" style="height:65vh">
    <section class="login-container">

        <div class="login-body">
            <h3>Change Password</h3>
            <div class="input-wrap error" [ngClass]="addErrorClass(changePasswordForm.controls.password)">
                <label>New Password</label>
                <input type="password" placeholder="********" formControlName="password" (input)="setAsUntouched()">
                <app-error [controlName]="changePasswordForm.controls.password"></app-error>
            </div>
            <div class="input-wrap error" [ngClass]="addErrorClass(changePasswordForm.controls.confirm_password)">
                <label>Confirm Password</label>
                <input type="password" placeholder="********" formControlName="confirm_password" (input)="setAsUntouched()">
                <app-error [controlName]="changePasswordForm.controls.confirm_password"></app-error>
            </div>
            <button type="submit" class="btn btn--primary btn--login mg-bottom-30">Submit</button>
        </div>
    </section>
    </article>
  </form>
</div>
