<div class="container-fluid">
    <div class="row align-items-lg-stretch ">
        <div class="col-lg-7 pe-lg-2 p-0 ">
            <div class="  rounded-3 p-3 layout-bg def-color h-100 custom-shadow-md">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Details</span>
                    <button class="gb-edit-btn" *ngIf="employeeDetails?.is_active && isEmployeeEditPermission"
                        [routerLink]="[preFixUrl+'/onboarding/employee/edit/'+employeeId]"><span
                            class="material-icons "> create </span></button>
                </div>

                <div class="d-flex align-items-center justify-content-center mt-3 flex-wrap">
                    <div class="employee-profile-img me-3">
                        <img [src]="employeeDetails?.profile_image_url?employeeDetails?.profile_image_url:'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png'"
                            alt="" loading="lazy">
                    </div>
                    <div class="flex-grow-1 ">
                        <div
                            class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                            <span class="fw-semibold">Name</span>
                            <span>{{employeeDetails?.first_name}}</span>
                        </div>
                        <div
                            class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                            <span class="fw-semibold">Vehicle No.</span>
                            <span>
                                <span *ngFor="let vehicle of employeeDetails?.assigned_vehicles;let last = last">{{vehicle?.reg_number}}{{last ? '': ', '}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Contact number</span>
                    <span>{{employeeDetails?.contact_country_code}} {{employeeDetails?.contact
                        ?employeeDetails?.contact:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Date of Joining</span>
                    <span>{{employeeDetails?.joining_date?employeeDetails?.joining_date:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px " *ngIf="!employeeDetails?.is_active">
                    <span class="fw-semibold">Last Working Date</span>
                    <span>{{employeeDetails?.last_working_date|| '-'}}</span>
                </div>
                <div class="border-1 border-bottom  d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Email ID</span>
                    <span>{{employeeDetails?.email_address?employeeDetails?.email_address:'-'}}</span>
                </div>

                <div class="border-1 border-bottom  d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Employee ID</span>
                    <span>{{employeeDetails?.employee_no?employeeDetails?.employee_no:'-'}}</span>
                </div>
                <div class="border-1  d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Salary Per Month</span>
                    <span>{{employeeDetails?.salary ? employeeDetails?.salary:'0'}} ({{ currency_type?.symbol}})</span>
                </div>

            </div>
        </div>
        <div class="col-lg-5 ps-lg-2 p-0  mt-4 mt-lg-0 ">
            <div class="rounded-3 p-3 layout-bg def-color custom-shadow-md h-100">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Bank</span>
                    <button class="gb-edit-btn" *ngIf="employeeDetails?.is_active &&isEmployeeEditPermission"
                        [routerLink]="[preFixUrl+'/onboarding/employee/edit/'+employeeId]"><span
                            class="material-icons  "> create </span></button>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 mt-3">
                    <span class="fw-semibold">Account Holder Name</span>
                    <span>{{employeeBankDetails?.account_holder_name?employeeBankDetails?.account_holder_name:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Bank</span>
                    <span>{{employeeBankDetails?.bank_name?employeeBankDetails?.bank_name?.label:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Account Number</span>
                    <span>{{employeeBankDetails?.account_number?employeeBankDetails?.account_number:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Account Type</span>
                    <span>{{employeeBankDetails?.account_type?employeeBankDetails?.account_type?.label:'-'}}</span>
                </div>
                <div *ngIf="isTax&&!isTDS"
                    class=" border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">IFSC Code</span>
                    <span>{{employeeBankDetails?.ifsc_code?employeeBankDetails?.ifsc_code:'-'}}</span>
                </div>
                <div *ngIf="isTax&&isTDS"
                    class=" border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Swift Code</span>
                    <span>{{employeeBankDetails?.swift_code?employeeBankDetails?.swift_code:'-'}}</span>
                </div>
                <div *ngIf="!isTax"
                    class=" border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Swift Code</span>
                    <span>{{employeeBankDetails?.swift_code?employeeBankDetails?.swift_code:'-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">IBAN No</span>
                    <span>{{employeeBankDetails?.iban_code?employeeBankDetails?.iban_code:'-'}}</span>
                </div>
                <div class=" d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">Branch</span>
                    <span>{{employeeBankDetails?.branch?employeeBankDetails?.branch:'-'}}</span>
                </div>





            </div>

        </div>
    </div>

    <div class="row rounded-3 mt-3  layout-bg def-color custom-shadow-md">
    
        <div class="col-12 p-0 pb-3">
            <app-table-widget [isSearch]="true" (searchedData)="searchCertificateDetails($event)" 
                [tableTitle]="'Certificate'"
                [isFilter]="true" filterUrl ="employee/documents/filters/"
                (filterDataEmitter)="filterDataCertificates($event)"></app-table-widget>
            <div class="custom-table-container ">
                <table>
                    <thead>
                        <tr>
                            <th>CERTIFICATE NAME</th>
                            <th>CERTIFICATE NO.</th>
                            <th>ISSUE DATE</th>
                            <th>EXPIRY DATE</th>
                            <th>CERTIFICATE ISSUED BY</th>
                            <th>EXPIRY DAYS TO GO</th>
                            <th>COUNTRY OF ISSUE</th>
                            <th class="icon-box">VIEW</th>
                            <th class="icon-box">HISTORY</th>
                            <th></th>

                        </tr>
                    </thead>


                    <tbody *ngIf="documentList.length==0">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">
                                    <figure>
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>

                        <tr *ngFor="let doc of documentList">
                            <td>{{doc?.name}}</td>
                            <td>{{doc?.number ? doc?.number :'-'}}</td>
                            <ng-container>
                            <td *ngIf="doc?.issue_date">{{doc?.issue_date | date: 'dd-MM-yyyy' }}</td>
                            <td *ngIf="!doc?.issue_date">-</td>
                             </ng-container>
                            <td>{{doc?.expiry_date ? doc?.expiry_date :'-'}}</td>
                            <td>{{doc?.vendor ? doc.vendor.display_name : '-'}}</td>
                            <td [ngStyle]="getStyle(doc?.expiry_days?.color)">{{doc?.expiry_days?.name?doc?.expiry_days?.name:'-'}}</td>
                            <td>{{doc?.country}}</td>
                            <td class="icon-box">
                                <div class="justify-content-center align-items-center d-flex">
                                    <button (click)="viewUploadedDocument(doc)" [disabled]="doc?.files.length == 0" >
                                        <span class="material-icons fs-4"
                                            [ngStyle]="{'color': doc?.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                            remove_red_eye
                                        </span>
                                    </button>
                                </div>
                            </td>
                            <td class="button-box">
                                <div class="justify-content-center align-items-center d-flex">
                                    <button [disabled]="!doc.has_history" (click)="openDocumentsHistory(doc,'document')"
                                        >
                                        <span class="material-icons fs-4 def-color " [ngStyle]="{'color': doc?.has_history ? '#676a6e' : '#CCCCCC'}" >
                                            history
                                        </span>
                                    </button>
                                </div>
                            </td>

                            <td>
                                <div class="d-flex justify-content-center align-items-center" *ngIf="isEmployeeEditPermission">
                                    <div class="position-relative">
                                        <i class="material-icons more-icon"
                                            (click)="optionsList($event, 'employee__'+doc?.name)">more_vert</i>
                                        <ul class="more-actions__menu table-popup"
                                            [ngClass]="{show: showOptions === 'employee__'+doc?.name}">
                                            <ng-container>
                                                <li class="more-actions__item" *ngIf="doc?.expiry_days"
                                                    (click)="renewDoc(doc)"><span class="material-icons me-2">
                                                        sync
                                                    </span>Renew</li>


                                            </ng-container>
                                            <li class="more-actions__item" [queryParams]="{name: doc?.name}"
                                                [routerLink]="[preFixUrl+'/onboarding/employee/edit/',employeeId]"><i
                                                    class="material-icons">edit</i>Edit</li>


                                        </ul>
                                    </div>
                                </div>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row rounded-3 mt-3  layout-bg def-color custom-shadow-md">
        <app-table-widget [isEditButton]="employeeDetails?.is_active && isEmployeeEditPermission" (editButtonEvent)="documentEdit($event)"
            tableTitle="Vehicles Assigned"></app-table-widget>
        <!-- table code goes here -->
        <div class="col-12 p-0 pb-3">
            <div class="custom-table-container ">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center">CATEGORY</th>
                            <th>SPECIFICATIONS ALLOWED TO DRIVE</th>
                        </tr>
                    </thead>

                    <!-- do-data-component -->
                    <tbody *ngIf="employeeDetails?.specifications.length == 0 || isAssignedVehEmpty ">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">

                                    <h5 class=" no-veh-assigned">Driver allowed to drive all the vehicle categories and
                                        specifications</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>

                        <ng-container *ngFor="let item of employeeDetails?.specifications">
                        <tr *ngIf="item.specification?.length">
                            <td>
                                <div class="d-flex justify-content-center flex-column">
                                    <img src="{{getVehicleIcon(item.type)}}" class="w-50px" alt="truck image">
                                    <p class="text-center fs-12px mt-1"> {{item.vehicle_type}}</p>
                                </div>
                            </td>
                            <td><span *ngFor="let spec of item.specification;index as j">{{spec }}
                                    {{j!=item.specification.length -1 ? ',&nbsp;' : ''}}
                                </span></td>

                        </tr>
                    </ng-container>
                       

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<app-view-uploaded-document *ngIf="viewUploadedDocs.show"
    [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
<app-employee-renew-document *ngIf="popUpRenewDocuments?.show" [popUpRenewDocuments]="popUpRenewDocuments"
    (dataFromRenewalDoc)="dataFromRenewalDoc($event)">
</app-employee-renew-document>