<div>
  <app-list-widget listTitle ="Job Info"  (listWidgetData)="listWidgetData($event)"     [isSettings]="true"     [settingsUrl]="settingsUrl"  (settingsApplied)="settingsApplied($event)">
  </app-list-widget>
</div>

<div class="table-wrapper-list " style="max-height:550px;min-height:420px; overflow-y: auto; overflow-x: hidden;"
  (scroll)="onScroll($event)">
  <table class="table-container ">
    <thead>
      <tr>
        <ng-container *ngFor="let heading of workOrderTripInfoHeader">
          <th> {{heading}} </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="workOrderTripInfoList?.length == 0" class="border-bottom-0">
        <td colspan="10" style="background-color: #fff">
          <div class="no-content-wrapper">
            <figure class="no-content-pic">
              <img src="assets/img/no-content.png" alt="">
            </figure>
            <div class="no-content-txt">
              <h5 class="heading">No data found!</h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let job of workOrderTripInfoList; trackBy: trackById ;">
        <ng-container *ngFor="let item of job['extra_values'];let i =index">
          <td class="ws-nowrap" *ngIf="item?.name !='Job No' && item?.name !='Vehicle' && item?.name !='Status' && item?.id !='p/l' && item?.name != 'Vehicle Provider' && item?.name !='LPO No' "> {{item?.value ? item?.value : '-'}} </td>
          <ng-container *ngIf="item?.name=='Job No'">
            <td >
             <a class="py-0 custom-link" target="_blank" [routerLink]="[prefixUrl+'/trip/new-trip/details/'+item.value.id]"> {{item.value.job_id}} </a>
            </td>
          </ng-container>
          <ng-container *ngIf="item?.name=='Vehicle'">
           <td *ngIf="item.value.is_market==null">-</td>
           <td *ngIf=" item?.value?.reg_no && !item.value.is_market">
              <a class="custom-link"  target="_blank" [routerLink]="[prefixUrl+'/onboarding/vehicle/own/details',item.value.id]"  > {{item?.value?.reg_no}}</a>
           </td>
           <td *ngIf="item?.value?.reg_no && item.value.is_market">
            <a class="custom-link"  target="_blank" [routerLink]="[prefixUrl+'/onboarding/vehicle/market/details',item.value.id]"  > {{item?.value?.reg_no}}</a>
         </td>
         </ng-container>
         <ng-container *ngIf="item?.name=='Status'">
          <td
          [style.color]="item.value === 'Scheduled' ? '#FFB900' : item.value === 'Ongoing' ? '#4CACFE' : item.value === 'Completed' ? '#2BB741' : item.value === 'Void' ? '#FF0000': 'none'">
          {{item.value}}</td>
        </ng-container>
        <ng-container *ngIf="item?.name =='LPO No'">
          <td>  <a class="py-0 custom-link"  *ngIf="item?.value?.name;else elseBlock" target="_blank" [routerLink]="[prefixUrl+'/trip/local-purchase-order/view/'+item?.value?.id]"> 
                   {{item?.value?.name ? item?.value?.name : '-' }}  </a>
                  <ng-template #elseBlock>-</ng-template>
          </td>
        </ng-container>
        <ng-container *ngIf="item?.name =='Vehicle Provider'">
          <td>  <a class="py-0 custom-link"   *ngIf="item?.value?.name;else elseBlock" target="_blank" [routerLink]="[prefixUrl+'/onboarding/party/details/vendor/'+item?.value?.id]"> 
                   {{item?.value?.name ? item?.value?.name : '-' }}  </a>
                   <ng-template #elseBlock>-</ng-template>
          </td>
        </ng-container>
        <ng-container *ngIf="item?.id =='p/l'">
          <td [ngStyle]="{'color': job?.is_profit ? 'green' : 'red'}">{{item?.value|numberFormat}}</td>
        </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
