<div class="modal fade" [ngClass]="{'show':tyreLayout.open}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content ">
            <button class="tyre-close" (click)="close()"><i  class="bi bi-x"></i></button>
            <div class="modal-body text-center p-0">
                <div class="layout-wrap p-3 pb-2 ">
                   
                
                    <app-tyre-position-layout [isView]="true" [editData]="editData" [tyreMasterForm]="tyreMasterForm"></app-tyre-position-layout>
                </div></div>
        </div>
    </div>
</div>
<div *ngIf="tyreLayout.open" class="modal-backdrop fade show"></div>
