@import "../../../../../../../assets/styles/helpers/variable";
.tyre-close{
    background-color: #fff;
    box-shadow: #32325d40 0 6px 12px -2px, #0000004d 0 3px 7px -3px;
    position: absolute;
    top: 0px;
    right: -50px;
    top: 2px;
    border-radius: 5px;
    padding: 5px;
    color: #676a6e;
    font-size: 25px;
}

:host::ng-deep{
    .layout-wrap .tyre-layout-overflow{
        max-height: 76vh;

    }
}
