
.show {
    display: block;
  }

  .add:before {
    background-color: #0283e547;
  }
  .blueTag{
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 11px;
  color: #595fab;
  transform: translate(0,-50%);
  }

  .section-footer .more-actions__menu{
    width: 100%;
    top: 45px;
    left: initial;
    right: 0;
  }

  .dropDownOverflow {
  overflow-x: unset;
  }

  .table-container {
  &.item-table {
    tr {
      &:nth-child(even) {
        display: none;
      }
      &.show {
        display: table-row !important;
      }
    }
  }
  }

  .table-wrapper--type2 .add {
  display: inline-block;
  }



  .gst{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  div #other-option {
    max-width: 275px;width: 100%;
  }

  div #tds-option {
      width :640px !important;
  }

  .hiddenContent{
    display: none !important;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
  .mat-icon{
  font-size: 17px;
  width: auto;
  cursor: pointer;
  margin: auto;
  height: auto;vertical-align: top;
  margin-left: 10px;
  }
  @media only screen and (max-width : 480px){

     .subTotalClass{
       display:block;


     }
  }
