<div class="bg-white rounded-3">
  <form [formGroup]="timeSheetListForm">

    <div class="d-flex justify-content-between align-items-center px-4 py-2 mx-0 p-0 border-bottom"  >
      <p  class="fs-6 def-color fw-semibold modal-title col-6" >Add Timesheet</p>
      <div class="table-header__right col-md-4 col-6 justify-content-end px-0">
        <div id="demo-2">
          <input type="search" class="no-style search-bar input-search" placeholder="Search" (keyup)="searchitem()"
          [(ngModel)]="search" [ngModelOptions]="{standalone: true}">

        </div>
        <ng-container *ngIf="allData?.length">
          <button class="btn--action mg-left-10 hide_onClick py-1" [ngClass]="{'filterOpen':showFilter }" (click)="showFilter = !showFilter">
            <span  *ngIf="isFilterApplied && !showFilter" class="material-icons filterBullet">
              fiber_manual_record
              </span>
              <img *ngIf="!isFilterApplied && !showFilter" src="assets/img/filter-icon.svg" alt="">
              <img *ngIf="isFilterApplied && !showFilter" src="assets/img/filter_icon_2.svg" alt="">
              <img *ngIf="showFilter" src="assets/img/filter-icon-svg-3.svg" alt="">
          </button>
          <app-filter [config]="options" [data]="allData" [visible]="showFilter" (onApplied)="filterApplied($event)"
            (onClear)="filterApplied($event)">
          </app-filter>
        </ng-container>
      </div>
    </div>



   
   




    <div class="p-4">
      <div
        class="table-wrapper table-wrapper--type1 table-wrapper--type2 table--bd table--nobg table-wrapper--scroll">
        <div class="alert alert-danger" role="alert" *ngIf="!isSameBillingType">
          Timesheets with different billing Units cannot be invoiced together
        </div>
        <table class="table-container">
          <thead>
            <tr>
              <th width=5%>
                <label for="check-trip-all" class="check-box">
                  <input type="checkbox" id="check-trip-all" formControlName="selectedAll"
                    (change)="selectAllTimeSheet()">
                  <span class="check-mark"></span>
                </label>
              </th>
              <th >SO No.</th>
              <th >Job NO</th>
              <th >Job Date</th>
              <th >Vehicle No</th>
              <th>Time Sheet No</th>
              <th>Billing Unit</th>
              <th >Location</th>
              <th></th>
              
            </tr>
          </thead>
          <tbody formArrayName="time_sheets">
            <tr *ngIf="timeSheetList.length == 0">
              <td colspan="10" style="background-color: #fff">
                <div class="no-content-wrapper">
                  <figure class="no-content-pic">
                    <img src="assets/img/no-content.png" alt="">
                  </figure>
                  <div class="no-content-txt">
                    <h5 class="heading">No data found!</h5>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let timesheet of timeSheetList ; let i = index;" [formGroupName]="i">
              <td class="table-checkbox">
                <label for="check-time-sheet-{{i}}" class="check-box">
                  <input type="checkbox" id="check-time-sheet-{{i}}" formControlName="selectedTimeSheet" (change)="onTimeSheetSelection()"
                    value="{{ timesheet.timesheet_id }}">
                  <span class="check-mark"></span>
                </label>
              </td>
              <td>
                {{ timesheet.workorder_no ? timesheet.workorder_no : '-' }}
              </td>
              <td>
                {{ timesheet.trip_id ? timesheet.trip_id : '-' }}
              </td>
              <td>
                {{ timesheet.date |formateDate  }}
              </td>
              <td>
                {{ timesheet.vehicle_no ? timesheet.vehicle_no : '-' }}
              </td>
              <td>
                {{ timesheet.timesheet_no ? timesheet.timesheet_no : '-' }}
              </td>
              <td>
                {{getBillingType(timesheet.billing_unit)}}
              </td>
              <td>
                {{ timesheet.location ? timesheet.location : '-' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex justify-content-between px-4 pb-4">

    <button type="button" class="btn btn--sm" data-dismiss="modal" (click)=" close()">Close</button>
    <button type="button" class="btn btn--primary btn--sm" (click)="selectedTimeSheets()">{{timeSheetSelectedList.length==0?'Add':'Update'}}</button>
  </div>
  </form>
</div>

  