.custom-table-container{
    
 
    
    max-height: calc(100vh - 70px);
    
  }
  .close-button{
    position: absolute;
    left: -47px;
    background-color: #fff;
    color: black;
    padding: 13px;
    border-radius: 4px;


  }
