<div class="bg-white finish-trip-popup def-color" style="max-height: 600px ; overflow-y: auto;">
    <div class="popup-header ">
        <h6>Finish Job</h6>
    </div>
    <form [formGroup]="finishTripForm">
        <div class="alert alert-warning" *ngIf="finishTripForm.controls.error_message.value">
            {{finishTripForm.controls.error_message.value}} 
           </div>
        <div>
            <div class="finish-trip gb-tab-wrapper">
                <mat-tab-group mat-stretch-tabs="false" class="mat-group" [(selectedIndex)]="currentTab" (selectedIndexChange)="onTabChange($event)"
                    animationDuration="0ms" mat-align-tabs="start">
                    <mat-tab *ngFor="let destination of paths; let i = index">
                        <ng-template mat-tab-label>
                            <ng-container *ngIf="paths[i]?.destination_type==0" >
                                <span [ngClass]="{'invalid':errorTabs[i]}">Destination {{i+1}}</span>
                            </ng-container>
                            <ng-container *ngIf="paths[i]?.destination_type==3">
                                <span [ngClass]="{'invalid':errorTabs[i]}">Customer Location</span>
                            </ng-container>
                            <ng-container *ngIf="paths[i]?.destination_type==1|| paths[i]?.destination_type==2">
                                <span [ngClass]="{'invalid':errorTabs[i]}">{{paths[i]?.destination_type==1?'Pullout':'Deposit'}} Port</span>
                            </ng-container>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="destinyForm"></ng-container>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
        <ng-template #destinyForm>
            <div class="" formArrayName="paths">
                <div *ngFor="let destination of finishTripForm.controls.paths.controls; let ii = index;">
                    <div  *ngIf="ii===currentTab"  [formGroupName]="ii">
                        <div class="container-fluid" >
                            <div class="row px-4 pt-4" >
                                <div class=" col-lg-3 col-6 ">
                                    <div class="input-wrap m-0">
                                        <label for="">{{ii==0?'START':'REACHED'}} TIME</label>
                                        <app-date-and-time-picker [control]="destination.get('time')" (dateTimeSelectedChange)="dateTimeSelectedChange($event)"></app-date-and-time-picker>
                                    </div>
                                </div>


                                <div class=" col-lg-3 col-6 " formGroupName="halt_time">
                                    <div class="input-wrap clearfix">
                                        <label for="" class="">HALT TIME</label>
                                        <ng-container>
                                            <div class="halt-time-wrap">
                                                <div class="time-input-field">
                                                    <input positiveDigitNumber type="number"
                                                        class="no-style input--bd sm-time-input" placeholder="Days"
                                                        value="" formControlName="day" (change)="calculateTimeTaken()"
                                                         />
                                                    <span class="time-input-label">Days</span>
                                                </div>
                                                <div>:</div>
                                                <div class="time-input-field">
                                                    <input
                                                        [ngClass]="{  'sm-time-input-error': destination.get('halt_time').get('hour').hasError('max') }"
                                                        positiveDigitNumber type="number"
                                                        class="no-style input--bd sm-time-input" placeholder="Hours"
                                                        value="" formControlName="hour" (change)="calculateTimeTaken()"
                                                         />
                                                    <span class="time-input-label">Hours</span>
                                                </div>
                                                <div>:</div>
                                                <div class="time-input-field">
                                                    <input
                                                        [ngClass]="{'sm-time-input-error': destination.get('halt_time').get('minute').hasError('max')  }"
                                                        positiveDigitNumber type="number"
                                                        class="no-style input--bd sm-time-input" placeholder="Minutes"
                                                        value="" formControlName="minute" (change)="calculateTimeTaken()"
                                                         />
                                                    <span class="time-input-label">Minutes</span>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <p class="invalid"
                                            *ngIf=" destination.get('halt_time').get('hour').hasError('max')">
                                            Max. 23 number is allowed
                                        </p>
                                        <p class="invalid"
                                            *ngIf="destination.get('halt_time').get('minute').hasError('max') ">
                                            Max. 59 number is allowed
                                        </p>
                                    </div>
                                </div>
                                <ng-container *ngIf="ii!=0">
                                    <div class=" col-lg-3 col-6 " formGroupName="time_taken" >
                                        <div class="input-wrap clearfix">
                                            <label for="" class="">TIME TAKEN</label>
                                            <ng-container>
                                                <div class="halt-time-wrap">
                                                    <div class="time-input-field">
                                                        <input positiveDigitNumber type="number"
                                                            class="no-style input--bd sm-time-input" placeholder="Days"
                                                            value="" formControlName="day"
                                                             />
                                                        <span class="time-input-label">Days</span>
                                                    </div>
                                                    <div>:</div>
                                                    <div class="time-input-field">
                                                        <input
                                                            [ngClass]="{  'sm-time-input-error': destination.get('time_taken').get('hour').hasError('max') }"
                                                            positiveDigitNumber type="number"
                                                            class="no-style input--bd sm-time-input" placeholder="Hours"
                                                            value="" formControlName="hour"
                                                             />
                                                        <span class="time-input-label">Hours</span>
                                                    </div>
                                                    <div>:</div>
                                                    <div class="time-input-field">
                                                        <input
                                                            [ngClass]="{'sm-time-input-error': destination.get('time_taken').get('minute').hasError('max')  }"
                                                            positiveDigitNumber type="number"
                                                            class="no-style input--bd sm-time-input" placeholder="Minutes"
                                                            value="" formControlName="minute"
                                                             />
                                                        <span class="time-input-label">Minutes</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <p class="invalid"
                                                *ngIf=" destination.get('time_taken').get('hour').hasError('max')">
                                                Max. 23 number is allowed
                                            </p>
                                            <p class="invalid"
                                                *ngIf="destination.get('time_taken').get('minute').hasError('max') ">
                                                Max. 59 number is allowed
                                            </p>
                                        </div>
                                    </div>
    
                                    <div class=" col-lg-3 col-6 " *ngIf="!isTransporter" >
                                        <div class="input-wrap clearfix error "
                                            [ngClass]="addErrorClass(destination.controls.actual_kms)">
                                            <label for="" class="input">KMS TAKEN</label>
                                            <input type="text" positiveTwoDigitDecimalNumber class="no-style input--bd"
                                                placeholder="123456" value="" formControlName="actual_kms" />
                                        </div>
                                    </div>
                                </ng-container>
                                <div class=" col-lg-3 col-6 " *ngIf="!this.isTransporter && driverList.length>1">
                                    <div class="input-wrap clearfix " [ngClass]="{'disabled':!destination.get('can_edit_driven_by').value}">
                                        <label for="name">OPERATOR</label>
                                        <material-dropdown [searchable]="true" [disabled]="!destination.get('can_edit_driven_by').value" [selectedOption]="dirivenBy[ii]" [addable]="false"  [addBlank]="true">
                                          <select #customSelect formControlName="driven_by_id" class="no-style select--modify">
                                            <option *ngFor="let option of driverList" value="{{ option?.id }}">
                                              {{ option?.name }} 
                                            </option>
                                          </select>
                                        </material-dropdown>
                                      </div>
                                </div>

                                <ng-container *ngIf="paths[ii]?.destination_type==1|| paths[ii]?.destination_type==2">
                                    <div class="col-xl-3 col-lg-3 col-6 ">
                                        <div class="input-wrap ">
                                            <label for=""> IS INSPECTION REQUIRED </label>
                                            <div class="custom-fake-input"> {{paths[ii]?.is_inspection_required==1?'Yes':'No'}}</div>
                                        </div>
                                    </div>
    
                                    <div class="col-xl-3 col-lg-3 col-6 " *ngIf="paths[ii]?.is_inspection_required">
                                        <div class="input-wrap ">
                                            <label for=""> INSPECTION TYPE </label>
                                            <div class="custom-fake-input"> 
                                                {{paths[ii]?.inspection_type.length}}  Inspection Type
                                            </div>
                                            <ng-container *ngFor="let type of paths[ii]?.inspection_type;let i=index">
                                                {{type.label}} {{paths[ii]?.inspection_type.length-1 !=i?',':''}}
                                            </ng-container> 
                                        </div>
                                    </div>
                                  
                                </ng-container>
                                <ng-container >
                                    <div class=" col-lg-3 col-6" *ngIf="paths[ii]?.destination_type==1|| paths[ii]?.destination_type==2">
                                        <div class="input-wrap dropdownArrow">
                                          <label class="input">Terminal</label>
                                          <material-dropdown [searchable]="true" [selectedOption]="initialValues.terminal[ii]" [addable]="true" class="dropDownWidth" [addBlank]="false"
                                            [postApiUrl]="optionsDropdownUrl" [params]="pointOfTypeParam"
                                            (postApiResponse)="getNewTerminal($event,ii)" (addValueToList)="addNewTerminal($event)">
                                            <select #customSelect formControlName="terminal" class="no-style select--modify" (change)="onChangeTerminal(destination,ii)">
                                              <option *ngFor="let option of terminalList" [value]="option?.id">
                                                {{ option?.label }}
                                              </option>
                                            </select>
                                          </material-dropdown>
                                        </div>
                                      </div>
                    
                                </ng-container>




                              
                            </div>
                        </div>
                        <ng-container *ngIf="destination.get('checklist').value?.length">
                            <div class="trip-task-tab d-flex align-items-center ">
                                <span class="ms-4">Job Task</span>
                                <app-tool-tip class="tool-tip-position" [totalSlides]="tripTaskToolTip.content.length"
                                  position="right" [toolTipContent]="tripTaskToolTip"></app-tool-tip>
                            </div>
                            <div class="col-12 px-4 ">
                                <app-add-edit-view-trip-task [isMandatory]="true" [markForTouched]="markForTouched" [destinationIndex]="currentTab+1"
                                    [tripTaskList]="destination.get('checklist').value" (tripTaskData)="tripTaskData($event,destination)"></app-add-edit-view-trip-task>
                            </div>
                        </ng-container>

                       
                    </div>


                </div>
            </div>
         
        </ng-template>
        <ng-container *ngIf="finishTripForm.controls.paths['controls'].length-1==currentTab && !isTransporter">
            <div class="gb-fake-tab-wrapper">
                <span >Finish Job Details</span>
               
            </div>
            <div class="container-fluid">
                <div class="row px-4 pt-4">
                    <div class="col-lg-3 col-6">
                        <div class="input-wrap clearfix error "
                            [ngClass]="addErrorClass(finishTripForm.get('start_kms'))">
                            <label for="" class="input">START JOB ODOMETER KMS</label>
                            <input type="text" positiveDigitNumber class="no-style input--bd" placeholder="123456" value="" (keyup)="onKmsChange()"
                                formControlName="start_kms" />
                            <app-error [controlName]="finishTripForm.controls.start_kms"></app-error>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(finishTripForm.controls.end_kms)">
                            <label for="" class="input">END JOB ODOMETER KMS</label>
                            <input positiveDigitNumber type="text" maxlength="7"  class="no-style input--bd" placeholder="123456" value=""
                                formControlName="end_kms" />
                           <p style="color: red;" *ngIf="finishTripForm.controls.end_kms.hasError('min')">End KMS cannot be Less than Start KMS </p>    
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="input-wrap clearfix error "
                            [ngClass]="addErrorClass(finishTripForm.get('start_hour'))">
                            <label for="" class="input">START JOB ODOMETER HOUR</label>
                            <input type="text" positiveDigitNumber class="no-style input--bd" placeholder="123456" value="" (keyup)="onHourChange()"
                                formControlName="start_hour" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="input-wrap clearfix error"
                            [ngClass]="addErrorClass(finishTripForm.controls.end_hour)">
                            <label for="" class="input">END JOB ODOMETER HOUR</label>
                            <input positiveDigitNumber type="text" class="no-style input--bd" placeholder="123456" value=""
                                formControlName="end_hour" />
                           <p style="color: red;" *ngIf="finishTripForm.controls.end_hour.hasError('min')">End Hour cannot be Less than Start Hour </p>    
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="d-flex justify-content-space-between px-4 pb-4 ">
            <button class="btn w-auto " (click)="cancel()">Cancel</button>
            <button class="btn btn--primary w-auto" (click)="openValidationPopup()">Save</button>
        </div>
        
    </form>

</div>
<!--  -->