<div class="py-2 d-flex justify-content-between align-items-center px-4 flex-wrap">
    <div class="d-flex align-items-center">
        <span class="primary-brand-text fw-bold fs-6 me-3">{{companyData?.company_display_name}}</span>
            <button class="gb-btn gb-btn-icon gb-btn-green no-effect" *ngIf="emailStatus==='Verified'" >
                <span class="material-icons">
                    verified_user
                    </span>
                {{emailStatus}}</button>
            <button class="gb-btn gb-btn-icon gb-btn-blue gb-btn-blue-fill"  *ngIf="emailStatus==='Verify Email'"   (click)="verifyEmail()" >
                <span class="material-icons">
                    email
                    </span>                {{emailStatus}}</button>
            <button class="gb-btn gb-btn-icon gb-btn-blue " *ngIf="emailStatus==='Resend Email'" (click)="verifyEmail()" ><span class="material-icons icon"> person_add_alt </span>{{emailStatus}}</button>
  
            <span class="material-icons sky-blue-text fs-12px ms-3 me-1" *ngIf="isWaitingState">
                fiber_manual_record
                </span> <span class=" sky-blue-text " *ngIf="isWaitingState">Waiting for Response</span> 
    </div>
    <div class="d-flex align-items-center gap-2">
        
            <a href="https://cutt.ly/TS_feedback" target="_blank" class="gb-btn gb-btn-icon gb-btn-grey ">  <span class="material-icons">
                feedback
                </span>User Feedback</a>
         
            <button class=" gb-btn gb-btn-icon gb-btn-blue " (click)="switchTenents()" *ngIf="isWitchTenent"><span class="material-icons">
                supervisor_account
                </span>Switch Company</button>
                <button class=" gb-btn gb-btn-icon gb-btn-red " (click)="logMeOut()"><span class="material-icons">
                    logout
                    </span>Log Out</button>
    </div>
</div>
