
<div class="modal fade" [ngClass]="{'show':showNoteModal}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal--sm" role="document">
      <div class="modal-content" id="make-center">
        <div class="error-msg-list" *ngIf="apiError !==''">
          {{apiError}}
        </div><br>
          <form [formGroup]="addCustomFiled">
              <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLabel">Field Detail</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body pd-10">
                <div class="input-wrap error clearfix" [ngClass]="addErrorClass(addCustomFiled.get('field_label'))">
                    <label class="input--required" for="">Field Name</label>
                    <input type="text" class="no-style input--bd" formControlName="field_label">
                    <app-error [controlName]="addCustomFiled.get('field_label')"></app-error>
                </div>
                <div class="input-wrap" [ngClass]="{'disabled':!isFieldTypeChange}">
                  <label for="" class="input--required">Field Type</label>
                  <material-dropdown [searchable]="false"[addable]="false" [disabled]="!isFieldTypeChange" [selectedOption]="fieldTypeOption" [addErrorClass]="addErrorClass(addCustomFiled.get('field_type'))" class="dropDownWidth">
                      <select #customSelect formControlName="field_type" class="no-style select--modify" (change)="emptyFiled()">
                        <ng-container *ngFor="let filed of fieldType">
                          <option value="{{ filed.id }}" *ngIf="filed.id !== 'datetime' || canShowDateTime" >
                            {{ filed.name }}</option>
                        </ng-container>
                      </select>
                  </material-dropdown>
                  <app-error [controlName]="addCustomFiled.get('field_type')"></app-error>
              </div>
              <div>
                <div *ngIf="addCustomFiled.get('field_type').value =='select_option'">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="input-wrap clearfix">
                        <input type="text"  class="no-style input--bd" formControlName="option">
                      </div>
                      <span class="error-reg">{{noOptionErrMsg}}</span>
                    </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary" (click)="addNewItem(addCustomFiled)">Add Option</button>
                      </div>
                  </div>
                  <div class="row mb-2">
                    <div  class="list-box">
                        <ul>
                          <li  *ngFor="let item of itemList">{{item}}</li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
                <div class=" input-wrap clearfix" *ngIf="isShowMandatory">
                  <label class="input" for="" >Mandatory</label>
                  <input type="checkbox" style="width: 50%;margin-top: -23px;" formControlName="mandatory">
              </div>
              </div>
              <div class="modal-footer no-border">
                  <button class="btn btn--primary" (click)="submitNote(addCustomFiled)"  type="submit">Save</button>
              </div>
          </form>
      </div>
  </div>
</div>
<div *ngIf="showNoteModal" class="modal-backdrop fade show"></div>
