li{
  padding: 8px;
  border-bottom: 1px solid #d9d0d0;
}
.list-box{
  width: 400px;
  height: 100px;
  overflow: auto;
  -moz-box-shadow:    inset 0 0 10px #afa8a8;
   -webkit-box-shadow: inset 0 0 10px #afa8a8;
   box-shadow:         inset 0 0 10px #afa8a8;
}
.error-reg {
  color: #eb1e4a;
  font-size: 14px;
}