<div class="px-4 py-4 def-color pb-5">
    <div class="d-flex justify-content-between align-items-start">
        <div>
            <p class="fs-6 mb-2"><b>Signature</b></p>
            <img *ngIf="quotationDetail?.signature" [src]="quotationDetail?.signature?.document?.presigned_url" class="sign-img my-3" alt="">
            <p class="primary-brand-text fs-6 ms-4 my-4" *ngIf="!quotationDetail?.signature">No Signature Uploaded.</p>
            <p class="mb-3 fs-6"><b>Terms and condition: </b> {{quotationDetail?.terms_and_condition?.name}}</p>
            <app-quotation-v2-tnc-content [content]="quotationDetail?.terms_and_condition?.content"></app-quotation-v2-tnc-content>
            <p class="fw-semibold my-3 fs-6">Narration</p>
             <p>{{quotationDetail?.narration}}</p>



        </div>
        <div>
        </div>
    </div>
    