@import "../.././../../../../../assets/styles/helpers/variable";
.journal-center{text-align: center !important;
    font-size: 15px;
}
.min-width-200-td
 td,th{
  min-width: 200px;
}

.journal-ref{
    line-height: 1.5;
    font-size: 13px;
    font-style: italic;
}
.export-mobile-icon span{
  display:none;
}
::ng-deep  bs-daterangepicker-container{
   
  left: unset !important;
  transform: unset !important;
  top: 210px !important;
  z-index: 0;
  right:0;
  z-index:9;
  }
  @media (max-width: 992px){

    ::ng-deep  bs-daterangepicker-container{
    top:150px !important
  }
 

  }
  @media only screen and (max-width: 768px) {
    .mobile-calender {
      font-size:0;
       input {
         font-size: 0;
         background: url(/assets/img/icons/calendar-bw.svg) center center no-repeat;
         background-size: contain;
         width: auto;
         padding: 13px;
         border: none;
       }
     }
     .search-options{
      position:relative;
      height:40px;
      margin:0;
      max-width:120px;
      z-index:5;
      input{
        position:absolute;
      }
    }
    .export-mobile-icon{
      border: none;
      font-size: 0;
      width: auto;
      padding: 0;
      background: none;
      line-height:1;
      .mobile-hide{
        display:none;
      }
      &:focus{
        background:none;
      }
      ul{
        font-size:13px;
        
        li{
          padding:8px;
        }
      }
      span{
  
        display: inline-block;
        vertical-align: middle;
        color: #595fab;
        padding: 0;
        i{
          font-size:22px
        }
      }
    }
  
  }