<div class="p-3">
    <div >
        <button class="btn btn--primary py-2 w-auto ms-auto" (click)="addValidation()">+ Add Validation</button>
    </div>
<div *ngIf="validationDetailsList.length==0">
<p class=" m-auto text-center fs-6 fw-semibold line-height-normal mt-5" style="color: #B2B2B2;">Validation Rules helps you to validate the data entered while creating, editing, or converting <br> transactions and to prevent users from performing specific actions.</p>
</div>
</div>

<div class="addable-row-table m-2 mt-0" *ngIf="validationDetailsList.length">
    <table>
        <thead>
            <tr>
                <th>S No.</th>
                <th>VALIDATION</th>
                <th>CONDITION</th>
                <th>VALUE</th>
                <th>ACTION</th>
                <th>ALERT MESSAGE</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of validationDetailsList;let i =index">
            <td>{{i+1}}</td>
            <td>{{data?.validation}}</td>
            <td>{{data?.condition}}</td>
            <td>{{data?.value}}</td>
            <td>{{data?.action}}</td>
            <td>{{data?.message}}</td>
            <td class=""><div class="d-flex align-items-center justify-content-end">
                <span  class=" gb-btn-hover me-2  cursor-pointer" (click)="editValidation(data?.id)"><i  class="material-icons def-color fs-5">edit</i></span>
                <span  class=" gb-btn-hover me-2 cursor-pointer" (click)="deleteValidation(data)"><i  class="material-icons text-danger fs-5">delete</i></span>
            </div></td>
        </tr>
        </tbody>
    </table>
</div>


