<div class="right-section__header pd-20-30 mb-0" *ngIf="inventoryData">
  <h1 class="heading">INVENTORY DETAILS</h1>
  <div class="header-actions">
      <button class="btn--action" *ngxPermissionsOnly="[inventoryNew[1]]" [routerLink]="[prefixUrl+'/inventory/edit/inventory-new', inventoryData.id]">
          <i class="material-icons">edit</i>
      </button>
  </div>
</div>

<div class="invoice-list-view">
  <div class="form-layout w-100" id="content" #content *ngIf="inventoryData">
    <div class="table-wrapper table--nobg">
        <table class="table-container bill">
            <thead>
                <tr class="py-1">
                    <th colspan="3" class="text-uppercase text-center bill__title">inventory<span
                            class="title_to_change">   purchase</span></th>
                </tr>
            </thead>
            <tbody>

              <tr>
                <td >
                    <div class="bill-info-wrap">
                        <span class="bill-info-label">Vendor Name: </span>
                        <span class="bill-info-value">{{inventoryData?.vendor?.display_name }}</span>
                    </div>
                    <div class="bill-info-wrap" *ngIf="isPlaceOfSupply">
                      <span class="bill-info-label">Place of Supply:</span>
                      <span class="bill-info-value">{{inventoryData?.place_of_supply ? inventoryData?.place_of_supply : ''}}</span>
                  </div>
                </td>
                <td>
                    <div class="bill-info-wrap">
                    <span class="bill-info-label">PO Number: </span>
                    <span class="bill-info-value">{{inventoryData?.po ? inventoryData?.po?.po_number : '-'  }}</span>
                    </div>
                </td>
               <td>
                    <div class="bill-info-wrap">
                    <span class="bill-info-label">PO Date: </span>
                    <span class="bill-info-value">{{ inventoryData?.po_date ? inventoryData?.po_date : '-' }}</span>
                    </div>
                </td>

            </tr>
          <tr>
            <td>
              <div class="bill-info-wrap">
              <span class="bill-info-label">Bill Number: </span>
              <span class="bill-info-value">{{inventoryData?.bill_number }}</span>
              </div>

              <div class="bill-info-wrap">
              <span class="bill-info-label">Bill Date: </span>
              <span class="bill-info-value">{{inventoryData?.bill_date}}</span>
              </div>
            </td>


            <td class="text-center">
              <div class="bill-info-wrap">
              <span class="bill-info-label">Payment Term: </span>
              <span class="bill-info-value">{{inventoryData?.payment_term  ?  inventoryData?.payment_term?.label  : '-' }}</span>
              </div>

              <div class="bill-info-wrap">
              <span class="bill-info-label">Due Date: </span>
              <span class="bill-info-value">{{inventoryData?.due_date  ? inventoryData?.due_date : '-' }}</span>
              </div>
            </td>


            <td class=" text-end">
              <div class="bill-info-wrap">
              <span class="bill-info-label">Employee Name: </span>
              <span class="bill-info-value">{{inventoryData?.employee  ?  inventoryData?.employee?.name  : '-' }}</span>
              </div>
              <div class="bill-info-wrap" [ngClass]="{'hiddenContent':!isTax}">
                <span class="bill-info-label">Reverse Charge: </span>
                <span class="bill-info-value">{{inventoryData?.transaction_reverse_mechanism  ? 'Yes': 'No' }}</span>
                </div>
            </td>


          </tr>

          <tr  class="py-1">
            <th  *ngIf="areSparesPresent" colspan="3" class="text-uppercase text-center bill__title">SPARE DETAILS </th>
          </tr>

          <tr *ngIf="areSparesPresent" class="border-top-0">
            <td colspan="3">
                <div  class="table-wrapper table--nobg table--bd">
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>ITEM NAME</th>
                                <th>QUANTITY</th>
                                <th>UNIT</th>
                                <th>UNIT COST ({{ currency_type?.symbol}})</th>
                                <th [ngClass]="{'hiddenContent':!isTax}">TAX</th>
                                <th>TOTAL ({{ currency_type?.symbol}})</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let other of inventoryData?.spares; let i=index;">
                             <td>
                               <p class="table-item"> {{ other?.item?.name  ? other?.item?.name : '-'  }} </p>
                               <p class="table-item"> HSN Code: <span style="color: #0283e5;"> {{ other?.hsn_code }} </span></p>
                              </td>
                             <td> {{ other?.quantity  }}</td>
                             <td> {{ other?.unit?.label }}</td>
                             <td class="rupee-symbol rupee-symbol--sm">{{ other?.unit_cost}}</td>
                             <td [ngClass]="{'hiddenContent':!isTax}"> {{ other?.tax?.label}}</td>
                             <td class="rupee-symbol rupee-symbol--sm">{{ other?.total}}</td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        <tr  class="py-1">
            <th  *ngIf="areTyresPresent" colspan="3" class="text-uppercase text-center bill__title">TYRE DETAILS </th>
          </tr>

        <tr *ngIf="areTyresPresent" class="border-top-0">
          <td colspan="3">
              <div  class="table-wrapper table--nobg table--bd">
                  <table class="table-container">
                      <thead>
                        <tr>
                          <td >HSN Code: <span class="bill-info-value"> {{ inventoryData?.hsn_code ?  inventoryData?.hsn_code : '-' }}</span></td>
                          <td  [ngClass]="{'hiddenContent':!isTax}">{{isTDS?'VAT:':'GST:'}}<span class="bill-info-value"> {{ inventoryData?.tax?.label }}</span></td>

                        </tr>
                          <tr>
                              <th>TYRE DETAIL</th>
                              <th>TYRE UNIQUE NO.</th>
                              <th>AMOUNT ({{ currency_type?.symbol}})</th>
                              <th>TOTAL ({{ currency_type?.symbol}})</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let other of inventoryData.tyres; let i=index;">
                           <td>
                              {{ other?.manufacturer  ? other?.manufacturer?.label : '-'  }} | {{ other?.tyre_model ?  other?.tyre_model?.name  : '-'}} |
                              {{ other?.thread_type  ? other?.thread_type?.label : '-'  }}
                            </td>
                           <td> {{ other?.unique_no  }}</td>
                           <td class="rupee-symbol rupee-symbol--sm">{{ other?.amount}}</td>
                           <td class="rupee-symbol rupee-symbol--sm">{{ other?.total}}</td>
                          </tr>
                          <tr>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </td>
      </tr>


      <tr class="border-top-0">
        <td colspan="3" class="pb-0">
            <div class="table-wrapper table--nobg">
                <table class="table-container">
                    <tbody>
                        <tr class="border-top-0 align-top">
                            <td width=50% class="p-0">
                                <div class="table-wrapper table--nobg">
                                    <table class="table-container">
                                      <tbody>

                                        <tr class="border-top-0">
                                            <td width=25%></td>
                                            <td width=25%></td>
                                            <td width=25% class=" text-end bill-item">
                                                Subtotal:
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm px-0  text-end bill-value">
                                                {{ currency_type?.symbol}} {{inventoryData?.subtotal}}
                                            </td>
                                        </tr>
                                        <tr class="border-top-0">
                                            <td width=25%></td>
                                            <td width=25%></td>
                                            <td width=25% class=" text-end p-0">
                                                Discount:
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm p-0  text-end">
                                                {{ currency_type?.symbol}} {{inventoryData?.discount_amount}}  ( {{inventoryData?.discount}} {{inventoryData?.discount_type?.label}} )
                                            </td>
                                        </tr>
                                        <tr class="border-top-0" [ngClass]="{'hiddenContent':!isTax}">
                                            <td width=25%></td>
                                            <td width=25%></td>
                                            <td width=25% class=" text-end p-0">
                                                Tax Amount:
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm p-0  text-end">
                                                {{ currency_type?.symbol}}  {{inventoryData?.tax_amount}}
                                            </td>
                                        </tr>
                                        <tr class="border-top-0">
                                            <td colspan="4" class="pt-0"></td>
                                        </tr>

                                        <tr class="border-top-0" [ngClass]="{'hiddenContent':!isTax}">
                                            <td colspan="3" class=" text-end p-0">
                                                Discount After tax:
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm p-0  text-end">
                                                {{inventoryData?.discount_after_tax_amount}}  ( {{inventoryData?.discount_after_tax}} {{inventoryData?.discount_after_tax_type?.label}} )
                                            </td>
                                        </tr>

                                        <tr class="border-top-0">
                                          <td width=25%></td>
                                          <td width=25%></td>
                                          <td width=25% class=" text-end p-0">
                                              Type:
                                          </td>
                                          <td width=25%
                                              class="rupee-symbol rupee-symbol--sm p-0  text-end">
                                              {{ currency_type?.symbol}}  {{inventoryData?.adjustment_amount}}
                                          </td>
                                  </tr>
                                        <tr class="border-top-0">
                                            <td colspan="4" class="pt-0"></td>
                                        </tr>

                                        <tr class="border-bottom-0">
                                                <td width=25%></td>
                                                <td width=25%></td>
                                                <td width=25% class=" text-end bill-item p-0">
                                                    Bill Amount:
                                                </td>
                                                <td width=25%
                                                    class="rupee-symbol rupee-symbol--sm bill-value p-0  text-end">
                                                    {{ currency_type?.symbol}}  {{inventoryData?.total}}
                                                </td>
                                        </tr>



                                        <tr class="border-top-0" [ngClass]="{'hiddenContent':!isTax||isTDS}">
                                            <td width=25%></td>
                                            <td width=25%></td>
                                            <td width=25% class=" text-end p-0">
                                                TDS (type):
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm p-0  text-end">
                                                {{ currency_type?.symbol}}  {{inventoryData?.tds_amount}}
                                            </td>
                                        </tr>
                                        <tr class="border-top-0">
                                            <td width=25%></td>
                                            <td width=25%></td>
                                            <td width=25% class=" text-end bill-item p-0">
                                                Balance Amount:
                                            </td>
                                            <td width=25%
                                                class="rupee-symbol rupee-symbol--sm bill-value p-0  text-end">
                                                {{ currency_type?.symbol}}  {{inventoryData?.balance}}
                                            </td>
                                        </tr>

                                    </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>



     <tr class="border-top-0">
      <td colspan="3">
        <div class="table-wrapper table--nobg table--bd">
          <table class="table-container">
                  <tbody>
                      <tr>
                          <td>Payment Status: <span class="bill-info-value"> {{ inventoryData?.payment_status ? inventoryData?.payment_status?.label : '-'  }}</span></td>
                          <td>Amount Paid: <span class="rupee-symbol rupee-symbol--sm bill-info-value"> {{ currency_type?.symbol}} {{ inventoryData?.amount_paid  }}</span></td>
                          <td>Transaction Date: <span class="bill-info-value"> {{ inventoryData?.transaction_date ? inventoryData?.transaction_date : '-'  }}</span></td>
                          <td>Payment Mode: <span class="bill-info-value">{{ inventoryData?.payment_mode ? inventoryData?.payment_mode?.name : '-'  }}</span></td>
                          <td>Banking Charges: <span class="rupee-symbol rupee-symbol--sm bill-info-value"> {{ currency_type?.symbol}} {{ inventoryData?.bank_charges }}</span></td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </td>
  </tr>



<tr *ngIf="inventoryData?.comments || inventoryData?.reminder"   class="py-1">
  <th colspan="3" class="text-uppercase text-center bill__title">REMARKS

</tr>
<tr class="border-top-0">
  <td *ngIf="inventoryData?.comments" class="w-50 consignment-pd-50">
      <div>
          <span class="fw-bold">Comment: </span>{{inventoryData?.comments ? inventoryData?.comments : '-'}}

      </div>
  </td>
  <td></td>
  <td *ngIf="inventoryData?.reminder" class=" text-end w-50 consignment-pd-50">
      <div class=" text-end">
          <span class="fw-bold">Remainder Date: </span>{{inventoryData?.reminder ? inventoryData?.reminder : "-" }}

      </div>
  </td>
</tr>

            </tbody>
        </table>
    </div>
  </div>
</div>
