<div class="container-fluid ">
    <div class="row align-items-lg-stretch def-color">
        <div class="col-12 rounded-3 layout-bg  custom-shadow-md">
            <div class="row  ">
                <app-table-widget class="calc-height"tableTitle="Job Status" [isDateRange]="true" [isSettings]="true" [isSearch]="true"
                    settingsUrl="revenue/trip/asset/report/setting/"  [selectedDateRangeType]="-1" (searchedData)="searchedDataJobList($event)" (dateRangeEmitter)="dateRangeSelected($event)"
                    (settingAppliedEmitter)="settingAppliedTrip($event)"></app-table-widget>
                <div id="trip-status-list" class="custom-table-container sticky-table-container p-0 trip_details_scroll" (scroll)="onScroll($event)">
                    <table>
                        <thead>
                            <tr>
                                <th  *ngFor="let header of jobHeader ; let i = index">{{header}}</th>
                            </tr>
                        </thead>
                        <!-- do-data-component -->
                        <tbody *ngIf="jobList.length==0">
                            <tr class="border-0">
                                <td class="bg-white" colspan="30">
                                    <div class="no-list-data-wrap">
                                        <figure>
                                            <img src="assets/img/no-content.png" alt="">
                                        </figure>
                                        <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                    </div>
                                </td>
                            </tr>

                        </tbody>

                        <tbody>
                            <tr *ngFor="let tripDetail of jobList  ; let j = index">
                                <ng-container *ngFor="let item of tripDetail['extra_fields'];let i =index">
                                    
                                    <td class="ws-nowrap" *ngIf=" item?.id !='job_id' && item?.id !='sales_order_no' && item?.id !='customer' && item?.id !='vehicle'"  [ngStyle]="getStyle(item?.value,item?.id)"> {{item?.value || '-' }} </td>
                                    <ng-container *ngIf="item?.id=='job_id'">
                                        <td >
                                         <a class="custom-link"  target="_blank" [routerLink]="[getPrefixUrl+'/trip/new-trip/details/'+item?.value?.id+'/']"> {{item?.value ? item?.value?.job_id : '-'}} </a>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="item?.id=='sales_order_no'">
                                        <td *ngIf="!item?.value?.no">-</td>
                                        <td  *ngIf="item?.value?.no">
                                         <a  class="custom-link" target="_blank" [routerLink]="[getPrefixUrl+'/trip/work-order/details/'+item?.value?.id+'/']"> {{item?.value?.no ? item?.value?.no : '-'}} </a>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="item?.id=='customer'">
                                        <td class="td-2l">
                                            <div class="text-2l">
                                         <a class="custom-link" target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/party/details/client/'+item?.value?.id+'/']" > {{item?.value ? item?.value?.name : '-'}} </a>
                                        </div>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="item?.id=='vehicle'">
                                        <td *ngIf="!item?.value?.id">-</td>
                                        <td *ngIf="item?.value?.id">
                                         <a class="custom-link" target="_blank" [routerLink]="[getPrefixUrl+'/onboarding/vehicle/own/details/'+item?.value?.id+'/']" > {{item?.value?.reg_no}} </a>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>