@import "../../../../../../assets/styles/helpers/variable";

.info-box {
    /* border: 2px dashed red; */
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;


}

.info-popup {
    position: absolute;
    display: none;
    z-index: 20;
    padding: 20px;


}
.info-popup *{
    white-space: wrap;
    text-align: left;
    color: $text-color;
}



.info-icon {

    display: flex;
    align-items: center;
    justify-content: center;

}

.info-icon:hover+.info-popup {
    display: block;

}

.info-popup:hover {
    display: block;

}

.info-content {
    width: 300px;

    border-radius: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    background-color: $layout-bg;
}

.info-content h3 {
    color: #595FAB;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.info-content p {
    margin-bottom: 8px;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #676A6E;
    font-weight: normal !important;
}

::ng-deep .content-class {
    p {
        margin-bottom: 8px;
        line-height: 16px;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #676A6E;
        font-weight: normal !important;
    }
}




.info-content::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    position: absolute;

}

.carousel-caption {
    color: black;
    text-align: left;
}

.carousel-indicators {
    position: static;
    justify-content: left;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    align-items: center;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    background-color: #BDC0FB;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #595FAB !important;
    width: 5.3px;
    height: 5.3px;
}

.carousel-buttons-wrap {
    display: flex;
    justify-content: space-between;
}



.next-btn,
.prev-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-text-stroke: 1px;
    background-color: #e9e9fc !important;
    color: #595FAB;
    font-weight: bold;
}

.top.info-popup {

    bottom: -5px;
    left: -160px;
    padding-bottom: 50px;
    animation: top-bot 300ms ease-in-out;

}

@keyframes top-bot {


    0% {
        opacity: 0;
        left: -200px;

    }

    100% {
        opacity: 1;
        left: -160px;

    }

}


.top .info-content::after {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    box-shadow: 2px 2px 2px #76747417;
}

.bottom.info-popup {

    left: -160px;
    top: 0px;
    padding-top: 50px;
    animation: top-bot 300ms ease-in-out;

}

.bottom .info-content::after {
    top: -12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    box-shadow: -2px -2px 2px #76747417;
}

.right.info-popup {

    left: 0px;
    top: -40px;
    padding-left: 40px;
    animation: left-right 300ms ease-in-out;

}



.right .info-content::after {
    top: 30px;
    left: 0px;
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: -4px -3px 3px #76747414;


}

.left.info-popup {

    left: -340px;
    top: -40px;
    padding-right: 40px;
    animation: left-right 300ms ease-in-out;
}



.left .info-content::after {
    top: 30px;
    right: 0px;
    transform: translate(50%, -50%) rotate(-45deg);
    box-shadow: 2px 3px 2px #76747414;

}

@keyframes left-right {


    0% {
        opacity: 0;
        top: -70px;

    }

    100% {
        opacity: 1;
        top: -40px;

    }

}

:host ::ng-deep .info-box {
    ol {
        list-style: decimal !important;
        margin-left: 20px;
        color: #676a6e;
        margin-bottom: 7px;
    }

    li {
        margin-bottom: 4px;
        font-weight: 500;
    }


}