<div class="main-content">
    <div>


        <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="50" tabindex="0">
            <!-- Navbar -->
            <nav id="navbar-example" class="navbar navbar-expand-lg navbar-light  fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">My Website</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="d-flex justify-content-center" id="home">
            <div class="d-flex child-one justify-content-center">
                <div>
                    <p>Pradeep Sangamreddy | Angular Developer| 2yrs </p>
                </div>
                <img class="rounded-image" src="assets/IMG-20240924-WA0012.jpg" alt="profile">
            </div>
        </div>
        
        <div class="about-section">

            <div class="about-content">
                <h3>About</h3>
                    <p>A skilled Frontend Developer specializing in Angular, with experience in building scalable and optimized web applications. A problem-solver with innovative thinking, committed to delivering the best user experience for end-users.</p>
            </div>
        </div>
        <div id="education">
            <div class="timeline-container">
                <!-- Stepper Line -->
                <div class="timeline-stepper">
                  <div class="stepper-dot">
                    <!-- Right Card -->
                    <div class="timeline-item right">
                      <div class="connector"></div>
                      <div class="content-box">
                        <h3>2017 - 2021</h3>
                        <p> Bachelor's Degree in Technology,</p>
                        <p>ECE | 76%</p>
                        <p>Krishna University,</p>
                        <p>Machilipatnam</p>
                      </div>
                    </div>
                  </div>
                  <div class="stepper-dot">
                    <!-- Left Card -->
                    <div class="timeline-item left">
                      <div class="content-box">
                        <h3>2015 - 2017</h3>
                        <p>Intermediate,</p>
                        <p>Narayana Junior College | 98%,</p>
                        <p>Visakhapatnam</p>
                      </div>
                      <div class="connector"></div>
                    </div>
                  </div>
                  <div class="stepper-dot">
                    <!-- Right Card -->
                    <div class="timeline-item right">
                      <div class="connector"></div>
                      <div class="content-box">
                        <h3>2015</h3>
                        <p>Secondary School Education,</p>
                        <p>AP Residential School | 98%,</p>
                        <p>Bobbili</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="stepper-dot">
                    <div class="timeline-item left">
                      <div class="content-box">
                        <h3>2017 - 2020</h3>
                        <p>Software Developer at ABC Corp.</p>
                      </div>
                      <div class="connector"></div>
                    </div>
                  </div> -->
                </div>
              </div>


            <section id="about">About Section</section>
            <section id="services">Services Section</section>
            <section id="contact">Contact Section</section>

        </div>
    </div>
</div>