<app-add-prefix [key]='lorrychallan'></app-add-prefix>
<form class="mt-4 ps-0" *ngIf="activate_advance" id="padding-14">
  <h5>Advances paid</h5>
  <div class="row mt-4 ms-2">
    <div class="col-12">
      <span class="max-width-150 my-2"><strong>Fuel Advance: </strong> </span>
     <label for="Fuel_Advance" class="d-inline-block checkbox-15"><input type="checkbox" id="Fuel_Advance" [(ngModel)]="marketVehicle.fuel_op" (change)="marketVehicle.fuel_view=marketVehicle.fuel_op" name="fuelactive"> <span  class="h6"> Active </span><div class="d-inline-block" [class.disabled]="!marketVehicle.fuel_op">
      <label for="Fuel_Advance_pdf" class="d-inline-block checkbox-15 ms-3"><input type="checkbox" id="Fuel_Advance_pdf" [(ngModel)]="marketVehicle.fuel_view" [readOnly]="!marketVehicle.fuel_op" name="fuelshowpdf"> <span  class="h6">Show in PDF</span></label>
    </div></label>
    </div>

  </div>
  <div class="row mt-4  ms-2">
    <div class="col-12">
      <span class="max-width-150 my-2"><strong>Cash Advance: </strong> </span>
     <label for="Cash_Advance" class="d-inline-block checkbox-15"><input type="checkbox" id="Cash_Advance" [(ngModel)]="marketVehicle.cash_ad_op" (change)="marketVehicle.cash_ad_view=marketVehicle.cash_ad_op" name="cashactive"> <span class="h6"> Active </span><div class="d-inline-block" [class.disabled]="!marketVehicle.cash_ad_op">
      <label for="Cash_Advance_pdf" class="d-inline-block checkbox-15 ms-3"><input id="Cash_Advance_pdf" type="checkbox"[(ngModel)]="marketVehicle.cash_ad_view" [readOnly]="!marketVehicle.cash_ad_op" name="cashshowpdf"> <span  class="h6">Show in PDF</span></label>
    </div></label>
    </div>

  </div>
</form>
<button type="button" *ngIf="activate_advance" class="btn btn-primary mt-4" (click)="updateAdvances()">Update Advances</button>
