<div class="modal fade modal-scrollable" [ngClass]="{'show': popDetail.status}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal--wd" role="document">
    <div class="modal-content ">
        <form [formGroup]="addPartyForm" class="p-0" (submit)="submitPartyForm()" (keydown.enter)="$event.preventDefault();">

            <div class="modal-header tabIndexActive">
                <h6 class="modal-title" id="exampleModalLabel">Add Party</h6>
                <button type="button" class="close p-0 text-dark fw-bold material-icons" data-dismiss="modal" (click)="close()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-layout p-4">
                    <div class="alert-msg" *ngIf="apiError">
                        <span class="icon-wrap"></span>
                        <p class="message-cont">{{ apiError }}</p>
                    </div><br>
                    <div class="row mx-0" formGroupName="basic_detail">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-wrap">
                                <label>Party Type</label>
                                <div *ngIf="!isVendor" class="input--bd">Client</div>
                                <div *ngIf="isVendor" class="input--bd">Vendor</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-wrap error"
                                [ngClass]="addErrorClass(addPartyForm.controls.basic_detail.get('company_name'))">
                                <label for="" class="input--required">Company</label>
                                <input type="text"  class="no-style input--bd" placeholder="Company Name" value="{{ popDetail?.name }}"
                                    formControlName="company_name" (change)="setDisplayName()">
                                <span class="border-anim"></span>
                                <app-error [controlName]="addPartyForm.controls.basic_detail.get('company_name')"></app-error>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-wrap error"
                                [ngClass]="addErrorClass(addPartyForm.controls.basic_detail.get('email_address'))">
                                <label for="" class="">Email</label>
                                <input type="email" appLowerCase class="no-style input--bd" placeholder="email@gmail.com" value=""
                                    formControlName="email_address">
                                <app-error [controlName]="addPartyForm.controls.basic_detail.get('email_address')"></app-error>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-wrap error"
                                [ngClass]="addErrorClass(addPartyForm.controls.basic_detail.get('display_name'))">
                                <label for="" class="input--required">Display Name</label>
                                <input  type="text" class="no-style input--bd" placeholder="Display Name"  value="{{ popDetail?.name }}"
                                    formControlName="display_name">
                                <span class="border-anim"></span>
                                <app-error [controlName]="addPartyForm.controls.basic_detail.get('display_name')"></app-error>
                                <span *ngIf="display_name_error" class="error-reg">{{display_name_error}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                         <div class="row">
                            <div class="col-xl-4">
                                <div class="input-wrap">
                                    <label for="" class="input" id="cc-font"> Code</label>
                                    <material-dropdown class="dropDownWidth" [selectedOption]="initialDetails.mobile_country_code">
                                        <select #customSelect formControlName="mobile_country_code" class="no-style select--modify">
                                      <option *ngFor="let phone_code of countryPhoneCode" value=" {{ phone_code }}">
                                        {{phone_code}}
                                      </option>
                                    </select>
                                </material-dropdown>
                            </div>
                        </div>

                        <div class="col-xl-8">
                            <div class="input-wrap"  [ngClass]="addErrorClass(addPartyForm.controls.basic_detail.get('mobile'))">
                                <label for="">Mobile</label>
                                <input type="text" class="no-style input--bd "
                                     formControlName="mobile" maxlength="10">
                                     <app-error [controlName]="addPartyForm.controls.basic_detail.get('mobile')"></app-error>
                                <span *ngIf="mobile_error" class="error-reg">{{mobile_error}}</span>
                            </div>
                        </div>
                         </div>
                        </div>
                      
                    </div>
                    <div *ngIf="isTax">
                        <app-party-tax-box  [isLarge]="true" (partyTax)="partyTaxOutputData($event)" [isTaxValid]="isTaxValid"></app-party-tax-box>
                    </div>
                  
                </div>
                
            </div>


            <div class=" no-border px-4 pb-4 d-flex justify-content-end ">
                <button type="button" class="btn btn--sm" data-dismiss="modal" (click)="close()">Close</button>
                <button type="submit" class="btn btn--primary btn--sm ms-3">Save</button>
              </div>

        </form>
    </div>
  </div>
</div>
<div *ngIf="popDetail.status" class="modal-backdrop fade show"></div>
