
@import "../../../../../../../assets/styles/helpers/variable";
@import "../../../../../../../assets/styles/helpers/placeholder";
@import "../../../../../../../assets/styles/helpers/mixins";


.party-menu{
    background-color: $secondary-brand-color;
    margin-left: -30px;
    margin-right: -30px;
    &__list{
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin: 20px 0px 20px 30px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: $primary-text-color;
        &.active{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
        &:hover{
            color: $primary-brand-color;
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: -20px;
                left: 0;
                border-bottom: 2px solid $primary-brand-color;
            }
        }
    }
}


.hide {
    display: none;
}

.alert-msg{
    margin-bottom: 18px;}

.error-reg {
    color: #eb1e4a;
    font-size: 12px;
    }    

.icon-position {
    position: relative;
    right: -96%;
}

.modal-scrollable {
    overflow-y: scroll;
}

.modal-body {
    padding: 0 !important;
}