<div class="px-4 py-3 def-color">
  <span class="fs-5 fw-semibold">Signature</span>
</div>

<div class="px-4 py-3 shadow-inset-top">
  <div class="pb-3" *ngIf="!showAdd">
    <div class="alert-msg d-block text-center">
      <span class="icon-wrap"></span>
      <p class="message-cont">
        Maximum signature Limit({{ allowedUsers }}) reached for the tenant,
        Please note: Number of signatures should be equal to the Total Number of
        user access
      </p>
    </div>
  </div>
  <button
    class="btn btn--primary ms-auto"
    *ngIf="showAdd"
    (click)="showDigitalSignature = !showDigitalSignature"
  >
    + Add Signature
  </button>
</div>

<div class="addable-row-table addable-row-table-display  m-2 mt-0">
  <table>
    <thead>
      <tr>
        <th>Signature Name</th>
        <th>EMPLOYEE DEPARTMENT</th>
        <th class="border-end-0">SIGNATURE</th>
        <th class="border-start-0"></th>
      </tr>
    </thead>
    <tbody *ngIf="sortedData?.length==0">
      <tr class="border-0 ">
        <td colspan="30" class="bg-white ">
          <div class="no-list-data-wrap my-5">
            <figure><img src="assets/img/no-content.png" alt="" /></figure>
            <h5 class="mt-3 primary-brand-text">No Signatures found !</h5>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let data of sortedData; let i = index">
        <td>{{ data.name }}</td>
        <td>{{ data?.designation?.label }}</td>
        <td class="border-end-0">
          <button  (click)="viewUploadedDocument(data.document)">
            <span class="material-icons fs-4 sky-blue-text"> <span class="material-icons">
              image
              </span> </span>
          </button>
        </td>
        <td class="border-start-0">
          <div class="d-flex align-items-center justify-content-end">
            <span
              class="gb-btn-hover me-2 cursor-pointer"
              (click)="editSignature(data)"
              ><i class="material-icons def-color fs-5">edit</i></span
            ><span
              class="gb-btn-hover me-2 cursor-pointer"
              (click)="popupFunction(data.id, i)"
              ><i class="material-icons text-danger fs-5">delete</i></span
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<alert-popup
  [inputData]="popupInputData"
  (outputData)="confirmButton($event)"
></alert-popup>

<div
  class="modal fade"
  [ngClass]="{ show: showDigitalSignature }"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog popupWidth" role="document">
    <div class="modal-content pb-0">
      <div class="modal-body p-0">
        <app-digital-signature-add-edit
          *ngIf="showDigitalSignature"
          [editData]="editData"
          (digitalSignatureStatus)="digitalSignatureStatus($event)"
        ></app-digital-signature-add-edit>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDigitalSignature" class="modal-backdrop fade show"></div>
<app-view-uploaded-document
  *ngIf="viewUploadedDocs.show"
  [viewUploadedDocs]="viewUploadedDocs"
></app-view-uploaded-document>
