@import "../../../../../../../assets/styles/helpers/variable";


.veh-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 3px #00000029;
  border: 1px solid #BBBBBB;
  padding: 10px 65px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &.active {
    border: 1px solid $primary-brand-color;
    box-shadow: 0px 0px 3px $primary-brand-color;
  }

  &:hover {
    background-color: #f2f2f2cd;
    transform: translateY(-3px);
  }

  img {
    display: block;
    width: 55px;

    margin: auto;

  }

}

.select-veh-truck{
  font-size: 120px ;
 
  color: #B2B2B2;

}
.select-veh-text{
  font-size: 16px ;
  color: #B2B2B2;
  font-weight: 600;
  margin-top: 30px;

}


.bottom-btn-wrapper {
  background-color: #eaeaea;
}

.input-wrap label {
  font-weight: 600;
  color: #676a6e;
}




::ng-deep .add-trip-v2-wrap {
  .route-input-box .input-wrap .input--bd {
    border: 1px solid rgba(90, 107, 123, 0.5);
    border-radius: 5px;
    padding: 8px !important;
  }

  .cdc-tab-wrapper {
    position: relative;

    .mat-tab-group {
      opacity: 1 !important;
    }

    .cdk-keyboard-focused {
      background-color: $layout-bg !important;
      border-radius: 8px 8px 0 0;
      opacity: 1 !important;
      font-weight: 500 !important;

      &::after {
        opacity: 0;
      }

    }

    .cdk-focused {
      background-color: $layout-bg !important;
      border-radius: 8px 8px 0 0;
      opacity: 1 !important;
      font-weight: 500 !important;

      &::after {
        opacity: 0;
      }

    }

    .mat-tab-label-active {
      background-color: $layout-bg;
      border-radius: 8px 8px 0 0;
      opacity: 1 !important;

      &::after {
        opacity: 0;
      }
    }

    .mat-tab-label-active+.mat-tab-label {
      &::after {
        opacity: 0;
      }
    }

    .mat-tab-labels {
      background-color: #eaeaea;
      opacity: 1 !important;
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: $layout-bg; // add styles properties here
    }

    .mat-tab-label {
      flex-basis: 0;
      flex-grow: 0 !important;
      margin-top: 3px;
      opacity: 1 !important;
      padding: 25px 130px !important;
      position: relative;
      color: #676A6E;


    }

    .mat-tab-label::after {
      content: "";

      background-color: #acb5bd;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%, );

      height: 50%;
      width: 2px;
      transition: all 400ms ease;
    }

    .mat-tab-labels>.mat-tab-label:first-child {
      &::after {
        opacity: 0;
      }
    }



    .mat-ink-bar {
      display: none;
    }

    .mat-tab-header {
      border-bottom: 0px !important;
    }

    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none !important;
    }
  }


}




.invalid-input{
  border: 2px solid red;
}


.taberror {
  color: red;
  font-weight: normal;
}

.tool-tip-position {
  position: absolute;
  top: 1px;
}

.route-tool-tip-position {
  left: 50px;
}

.work-order {
  left: 104px;
}

.trip-no {
  left: 50px;
}

.custom-field-tooltip {
  position: absolute;
  top: 21px;
  z-index: 2;
  left: 705px;
  cursor: pointer;
}

.driver-name {
  font-weight: 600;
  color: #676a6e;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


.btn-group-1{
  .f-b{
    border-radius: 3px 0px 0px 3px ;
  }
  .s-b{
    border-radius: 0px 3px 3px 0px ;
    padding: 2px;
    min-width: 35px

  }
}
.side-by-side {
  display: flex;
  gap: 10px; 
}
