<div class="container-fluid pdf-view-section p-3 rounded-3 position-relative">
  <div class="pdf-viewer">
    <div *ngIf="!pdfSrc" class="d-flex justify-content-center align-items-center" style="height: 500px;">
      <div class="fw-bold fs-3">Loading invoice pdf ...</div>
    </div>
      <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [render-text]="true" [stick-to-page]="true" [autoresize]="true" [original-size]="false"
      [show-all]="true">
    </pdf-viewer>
  </div>
  <div class="d-flex flex-wrap mt-4 justify-content-end">
    <div class="me-4">
    </div>
    <button class="share-btn mail me-4" [matMenuTriggerFor]="download">
      <span class="material-icons ">
        download
      </span>
      Download PDF
    </button>

    <button class="share-btn download" [matMenuTriggerFor]="emailPopUp">
      <mat-icon> email</mat-icon>
      Share Mail
    </button>
  </div>

  <button (click)="openDetails()" class="close-btn"><i class="bi bi-x"></i></button>
</div>

<mat-menu #emailPopUp="matMenu">
  <button mat-menu-item (click)="createEmailPdf('invoice');">Invoice Only</button>
  <button mat-menu-item (click)="createEmailPdf('attachments');" *ngIf="this.pdfBlobs.length>0 || tripChallanDocumentList.length>0 ">Attachments Only</button>
  <button mat-menu-item (click)="createEmailPdf('all')" *ngIf="this.pdfBlobs.length>0 || tripChallanDocumentList.length>0 ">Invoice with Attachments</button>
</mat-menu>

<mat-menu #download="matMenu">
  <button mat-menu-item (click)="downLoadInvoiceOnly()">Invoice Only</button>
  <button mat-menu-item (click)="downloadAttachements()" *ngIf="this.pdfBlobs.length>0 || tripChallanDocumentList.length>0 ">Attachments Only</button>
  <button mat-menu-item (click)="downloadAttachmentsAndInvoice()" *ngIf="this.pdfBlobs.length>0 || tripChallanDocumentList.length>0">Invoice with Attachments</button>
</mat-menu>




<app-add-email *ngIf="isOpen" (closeDialog)="closeDialog($event)" [filebyteCode]="filebyteCode"></app-add-email>