@import "../../../../../../../assets/styles/helpers/variable";
.zo-85{
  zoom: 85%;
}
.gb-btn-green:hover{
  background: #07c06017;
  color: #07c060;
}
.row-btn {

  margin-left: 10px;
  padding: 7px;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  color: $white;

  .material-icons {
    font-size: 16px;
  }

  &-add {
    background: $green;
  }

  &-delete {
    background: $error-txt;
  }

  &-copy {
    background: $sky-blue;
  }


}
.details {
  p {

      padding: 12px 8px;
      color: #676A6E;
  }

}
hr {
  opacity: 1;
  color: #5a6b7b80;
}