@import "../../../../../.././../assets/styles/helpers/variable";



.disableInput {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


.mat-tab-group {
  opacity: 1 !important;
}

.tabError {
  color: red;
  font-weight: normal;
}

.tool-tip-position {
  position: absolute;
  top: 1px;
}

.route-tool-tip-position {
  left: 50px;
}

.work-order {
  left: 104px;
}

.trip-no {
  left: 50px;
}

::ng-deep .route-input-box .input-wrap .input--bd {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 8px !important;
}
.work-order-custom-field-tooltip{
  position: absolute;
  top: 8%;
  z-index: 2;
  left: 454px;
}

// ////////from here styles are from quotation trailer 

p {
  color: $text-color;
}

.input-wrap label,
th {
  font-weight: 600;
  color: #676a6e;
}

.input-wrap .input--bd :focus {
  border-color: $primary-brand-color;
}

.add-edit-quotation-wrap {
  background-color: $layout-bg;
}



.tax-input-box {
  border: 1px solid rgba(90, 107, 123, 0.5);
  border-radius: 8px;
  display: flex;
  margin-right: 20px;


  span {
    border-radius: 8px;
    border-right: 1px solid rgba(90, 107, 123, 0.5);
    padding: 10px 20px;
    color: $text-color;
    font-weight: 500;
    background-color: #E8E8E8;


  }
}


.table-wrapper--type2 thead {
  background-color: $layout-bg;
}

.gst-input>input {
  height: 40px;

  padding: 10px;
  color: $text-color;
  border: 1px solid #9facb8;
  border-radius: 3px;
  max-width: 100px;

  box-sizing: border-box;
}

.gst-symbol-dropdown .custom-select {
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
  height: 40px;
  padding-right: 25px;

}

.min-w-145px {
  min-width: 145px;
}

.add-edit-quotation-footer {
  background-color: #eaeaea;
}

.fake-tab-bar {
  background-color: #eaeaea;
  height: 51px;
  padding-top: 2.5px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $text-color;
    background-color: $layout-bg;
    border-radius: 6px 6px 0 0;
    height: 100%;
    max-width: 180px;
  }
}

.box-shadow-left {

  box-shadow: -1px 2px 3px 0px gainsboro;

}

::ng-deep .add-edit-quotation-wrap {
  .tax-input-box .input-wrap .input--bd {
    border-radius: 0 8px 8px 0;
    border-bottom: 0;
    padding: 10px;


  }

  .rounded-input-box .input-wrap .input--bd {
    border: 1px solid rgba(90, 107, 123, 0.5);
    border-radius: 5px;
    padding: 8px;

  }
}



.tabError {
  color: red !important;
  font-weight: normal;
}

.route-tool-tip-position {
  position: absolute;
  top: 2px;
  left: 40px;
}


.taberror {
  color: red;
  font-weight: normal;
}
.invalid-input{

  border: 2px solid red !important;
}