<div class="add-other-expense-popup">
    <div class="popup-header ">
        <h6 class="d-inline">Expenses &nbsp;</h6>
        <app-tool-tip class="tool-tip-position trip-no" [totalSlides]="tripToolTip.content.length" position="right"
            [toolTipContent]="tripToolTip"></app-tool-tip>
    </div>
    <div class="popup-body">
        <form [formGroup]="addOtherExpensesPopUpForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="custom-box-input-wrap  col-lg-3 mb-3">
                        <label for="">EXPENSE TYPE</label>
                        <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth" [addBlank]="false"
                            [addErrorClass]="addErrorClass(addOtherExpensesPopUpForm.controls.expense_type)" [maxLength]="20"
                            [selectedOption]="initialDetails?.expenseType" [addNewOptions]="true"
                            (addNewOption)="addNewAdditionalCharge($event)">
                            <select #customSelect formControlName="expense_type" class="no-style select--modify" (change)="onchageCharges()">
                                <option *ngFor="let option of expenseTypeList" value="{{ option?.id }}">
                                    {{ option?.name }}
                                </option>
                            </select>
                        </material-dropdown>
                    </div>
                    <div class="custom-box-input-wrap col-lg-3 mb-3">
                        <label for="">AMOUNT ({{ currency_type?.symbol}})</label>
                        <input positiveThreeDigitDecimalNumber type="number" class="box-input"
                            [ngClass]="addErrorClass(addOtherExpensesPopUpForm.controls.amount_before_tax)"
                            placeholder="0.000" formControlName="amount_before_tax"
                            (change)="onExpesneCalculationChange()">

                    </div>
                    <ng-container *ngIf="isTax">
                        <div class="  custom-box-input-wrap col-lg-3 col-md-3 col-3 mb-3 ">

                            <label for="">TAX</label>
                            <material-dropdown [searchable]="true" [selectedOption]="initialDetails?.tax"
                                class="dropDownWidth"
                                [addErrorClass]="addErrorClass(addOtherExpensesPopUpForm.controls.tax)">
                                <select #customSelect formControlName="tax" class="no-style select--modify"
                                    (change)="onExpesneCalculationChange()">
                                    <option *ngFor="let option of taxOptions" value="{{ option.id }}">{{
                                        option.label }}</option>
                                </select>
                            </material-dropdown>

                        </div>
                        <div class="col-xl-3 custom-box-input-wrap  col-lg-3 col-md-3 col-3 mb-3 ">

                            <label for="">TOTAL AMOUNT  ({{ currency_type?.symbol}})</label>
                            <input type="text" class="box-input" readonly placeholder="123456" value=""
                                formControlName="amount">

                        </div>
                    </ng-container>

                    <div class="custom-box-input-wrap col-lg-3 mb-3">
                        <label for="">PAYMENT MODE</label>
                        <material-dropdown [searchable]="true"
                            [addErrorClass]="addErrorClass(addOtherExpensesPopUpForm.controls.payment_mode)"
                            [addable]="false" [selectedOption]="initialDetails?.paymentModeOp">
                            <select #customSelect formControlName="payment_mode" class="no-style select--modify"
                                (change)="paymentmodeChanged()">
                                <option value="paid_by_Driver" *ngIf="isDriverSelected">Paid By Employee</option>
                                <option *ngFor="let option of accountList" value="{{ option?.id }}">
                                    {{ option?.name }}
                                </option>
                            </select>
                        </material-dropdown>
                    </div>

                    <div class="custom-box-input-wrap  col-lg-3 mb-3"
                        *ngIf="addOtherExpensesPopUpForm.controls.payment_mode.value==='paid_by_Driver'">
                        <label for="" class="input--required">PAID BY</label>
                        <material-dropdown [searchable]="true"
                            [addErrorClass]="addErrorClass(addOtherExpensesPopUpForm.controls.employee)"
                            [addable]="false" [selectedOption]="initialDetails?.employee">
                            <select #customSelect formControlName="employee" class="no-style select--modify">
                                <option *ngFor="let option of driverList" value="{{ option?.id }}">
                                    {{ option?.first_name }}
                                </option>
                            </select>
                        </material-dropdown>
                    </div>
                    <div class="custom-box-input-wrap  col-lg-3  mb-3">
                        <label for="">TRANSACTION DATE</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="transactionDate" [max]="maxDate"
                                (focus)="transactionDate.open()" formControlName="transaction_date"
                                placeholder="DD/MM/YYYY" readonly>
                            <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
                            <mat-datepicker #transactionDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            
            <div>
                <div class="fw-semibold px-3 mb-4 mt-2 def-color fs-6"> Upload Document</div>
                <div class="d-flex flex-wrap gap-3 px-3" style="zoom:95%">
                    <file-uploader-v2 (onFileUploaded)="fileUploader($event)" fileName="Document Unknown" [uploaderId]="'1234'"
                        [isShowOnlyUpload]="false"></file-uploader-v2>
                     <app-file-delete-view [showInlineEdit]="true" [fileData]="document" *ngFor="let document of uploadedDocs"
                        (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
                </div>
            </div>
            <div class="d-flex justify-content-space-between m-1 ">
                <button class="btn w-auto " (click)="cancel()">Cancel</button>
                <button class="btn btn--primary w-auto" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>