<div class="container-fluid def-color px-0">
    <div class="row g-3 mx-0">
        <div class="col-lg-12 custom-shadow-md rounded-3 pb-3 pt-2 px-3">
            <div class="row mx-0">
        <div class="d-flex justify-content-between align-items-center col-lg-12 py-2 ps-3"><span class="fs-6 fw-bold">Details</span>
            <button *ngIf="headerDetails?.is_active && isVehicleEditPermission" class="gb-edit-btn" (click)="documentEdit()"><i
                class="material-icons">edit</i></button>
                   
        </div>
        <div class="col-lg-6 pe-lg-3">

                

                
                <div
                    class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 py-3 ">
                    <span class="fw-semibold">Specification</span><span>{{vehicleDetails?.vehicle_type ? vehicleDetails?.vehicle_type : '-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 py-3">
                    <span class="fw-semibold">Vehicle Brand</span><span>{{vehicleDetails?. make ? vehicleDetails.make :  '-'}}</span>
                </div>
                <div class="border-1  d-flex justify-content-between align-items-center px-4 py-3">
                    <span class="fw-semibold">Vehicle Model</span><span>{{vehicleDetails?.model ? vehicleDetails.model : '-'}}</span>
                </div>

                

                
              
              
            
        </div>
        <div class="col-lg-6 ps-lg-3">
            <div
                    class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 py-3 ">
                    <span class="fw-semibold">Vehicle Provider</span><span>{{vehicleDetails?.vehicle_provider ? vehicleDetails?.vehicle_provider : '-'}}</span>
                </div>
                <div class="border-1 border-bottom d-flex justify-content-between align-items-center px-4 py-3">
                    <span class="fw-semibold">Operator No.</span><span>{{vehicleDetails?.operator_no ? vehicleDetails.operator_no : '-'}}</span>
                </div>
        </div>
    </div>
    </div>
    <div class="col-lg-12 rounded-3 custom-shadow-md px-0">
        <app-table-widget [tableTitle]="'Certificate'" (searchedData)="searchCertificate($event)"  [isSearch]="true"></app-table-widget>
        <!-- table code goes here -->
        <div class=" p-0 pb-3">
            <div class="custom-table-container ">
                <table>
                    <thead>
                        <tr>
                            <th>CERTIFICATE NAME</th>
                            <th>CERTIFICATE NO.</th>
                            <th>ISSUE DATE</th>
                            <th>EXPIRY DATE</th>
                            <th>EXPIRY DAYS TO GO</th>
                            <th>VIEW </th>
                            <th></th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>

                    <!-- do-data-component -->
                    <tbody *ngIf="certificatesDetails.length==0">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">
                                    <figure>
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>
                        <tr *ngFor="let document of certificatesDetails">
                            <td>{{document?.name ? document?.name : '-'}}</td>
                            <td>{{document?.number?document?.number:'-'}}</td>
                            <td>{{ document?.issue_date ? document?.issue_date : '-'}}</td>
                            <td>{{ document?.expiry_date ? document?.expiry_date : '-'}}</td>
                            <td [ngStyle]="getStyle(document?.expiry_days?.color)">{{document?.expiry_days?.name ? document?.expiry_days?.name :'-'}}</td>
                            <td>
                                <button (click)="viewUploadedDocument(document)" [disabled]="document.files.length == 0">
                                        <span class="material-icons fs-4" [ngStyle]="{'color': document.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                            remove_red_eye
                                        </span>
                                </button>
                            </td>
                            <!-- <td>

                                <div class="d-flex justify-content-center align-items-center" *ngIf="headerDetails?.is_active">
                                    <div class="position-relative">
                                      <i class="material-icons more-icon" (click)="optionsList($event, 'vehicle__'+document?.name)">more_vert</i>
                                  <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'vehicle__'+document?.name}">
                                      <li class="more-actions__item"
                                          [queryParams]="{tab:0, name: document?.name}"
                                          [routerLink]="[preFixUrl+'/onboarding/vehicle/market/edit/',this.vehicleDetails?.id]"><i
                                              class="material-icons">edit</i>Edit</li>
                                  </ul>
                                    </div>
                                  </div>
                            </td> -->
                             <td class="button-box" >
                                <div  class="justify-content-center align-items-center d-flex" *ngIf="isVehicleEditPermission">
                                    <button  [queryParams]="{tab:0, name: document?.name}"
                                    [routerLink]="[preFixUrl+'/onboarding/vehicle/market/edit/',this.vehicleDetails?.id]" class="renew-btn">Update</button>
                                </div>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>



      
    </div>

   
</div>
<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
<app-renew-document-popup *ngIf="popUpRenewDocuments?.show" [popUpRenewDocuments]="popUpRenewDocuments"
    (dataFromRenewalDoc)="dataFromRenewalDoc($event)" [isMarketVehicle]="true">
</app-renew-document-popup>