@import"../../../.././../../../../assets/styles/helpers/variable";
.renew-btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    background: #FFFFFF;
    border: 2px solid $green;
    border-radius: 5px;
    color: $green;

}