<div class="gb-tab-wrapper">
    <mat-tab-group mat-stretch-tabs="false" class="mat-group" animationDuration="0ms" mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <span [ngClass]="{ taberror:false  }">Balance</span>
            </ng-template>
            <div class="row mx-0 p-4 mt-2 def-color">
                <div class="col-lg-4">
                    <p class="fw-semibold">Rental: <span
                            class="fw-normal">{{vehObject?.tax}}</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="fw-semibold">Working Duration: <span class="fw-normal">{{getWorkDuration(vehObject?.working_duration)}}</span></p>
                </div>
                <div class="col-lg-4">
                    <ng-container  *ngIf="quotationBasedOn=='hour'">
                        <p class="fw-semibold line-height-normal">Total Quotation Hours: <span class="fw-normal">{{totalHours}}</span></p>
                    </ng-container>
                    <ng-container  *ngIf="quotationBasedOn=='day'">
                        <p class="fw-semibold line-height-normal">Total Quotation Days: <span class="fw-normal">{{totalHours}}</span></p>
                    </ng-container>
                </div>
            </div>
            <div class="addable-row-table addable-row-table-display m-2">
                <table>
                    <thead>
                        <tr>

                            <th rowspan="2">

                            </th>
                            <ng-container *ngIf="quotationBasedOn=='hour'">
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.day}} {{calculations?.day_week_month_duration?.day==1?'Day':'Days'}}
                                    ({{currency_type?.symbol}}) ({{calculations?.daily_weekly_monthly_hours?.daily}} HOURS) </th>
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.week}} {{calculations?.day_week_month_duration?.week==1?'Week':'WEEKS'}}
                                    ({{currency_type?.symbol}}) ({{calculations?.daily_weekly_monthly_hours?.weekly}} HOURS) </th>
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.month}} {{calculations?.day_week_month_duration?.month==1?'MONTH':'MONTHS'}}
                                    ({{currency_type?.symbol}}) ({{calculations?.daily_weekly_monthly_hours?.monthly}} HOURS) </th>
                            </ng-container>
                            <ng-container *ngIf="quotationBasedOn=='day'">
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.day}} {{calculations?.day_week_month_duration?.day==1?'Day':'Days'}}
                                    ({{currency_type?.symbol}}) </th>
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.week}} {{calculations?.day_week_month_duration?.week==1?'Week':'WEEKS'}}
                                    ({{currency_type?.symbol}}) </th>
                                <th colspan="2" class="text-center">{{calculations?.day_week_month_duration?.month}} {{calculations?.day_week_month_duration?.month==1?'MONTH':'MONTHS'}}
                                    ({{currency_type?.symbol}}) </th>
                            </ng-container>
                          

                        </tr>
                        <tr>
                            <th> With Fuel</th>
                            <th>Without Fuel</th>

                            <th>With Fuel</th>
                            <th>Without Fuel</th>

                            <th>With Fuel</th>
                            <th>Without Fuel</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="fw-semibold">Rental Charges</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wth_fuel}">{{calculations?.quotation_total?.daily_with_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wo_fuel}">{{calculations?.quotation_total?.daily_without_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wth_fuel}">{{calculations?.quotation_total?.weekly_with_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wo_fuel}">{{calculations?.quotation_total?.weekly_without_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wth_fuel}">{{calculations?.quotation_total?.monthly_with_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wo_fuel}">{{calculations?.quotation_total?.monthly_without_fuel_total|numberFormat}}</td>


                        <tr>
                            <td class="fw-semibold">Additional Charges</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wth_fuel}">{{calculations?.quotation_total?.daily_with_fuel_additional_charge_total|numberFormat}}</td>
                            <td  [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wo_fuel}">{{calculations?.quotation_total?.daily_without_fuel_additional_charge_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wth_fuel}">{{calculations?.quotation_total?.weekly_with_fuel_additional_charge_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wo_fuel}">{{calculations?.quotation_total?.weekly_without_fuel_additional_charge_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wth_fuel}">{{calculations?.quotation_total?.monthly_with_fuel_additional_charge_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wo_fuel}">{{calculations?.quotation_total?.monthly_without_fuel_additional_charge_total|numberFormat}}</td>


                        </tr>
                        <tr>
                            <td class="fw-semibold">VAT Amount</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wth_fuel}">{{calculations?.quotation_total?.vat_daily_with_fuel_total|numberFormat}}</td>
                            <td  [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wo_fuel}">{{calculations?.quotation_total?.vat_daily_without_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wth_fuel}">{{calculations?.quotation_total?.vat_weekly_with_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wo_fuel}">{{calculations?.quotation_total?.vat_weekly_without_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wth_fuel}">{{calculations?.quotation_total?.vat_monthly_with_fuel_total|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wo_fuel}">{{calculations?.quotation_total?.vat_monthly_without_fuel_total|numberFormat}}</td>
                        </tr>
                        <tr>
                            <td class="fw-semibold">Total Amount</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wth_fuel}">{{calculations?.quotation_total?.daily_with_fuel_total_with_vat|numberFormat}}</td>
                            <td  [ngClass]="{'disable':!vehObject?.rental_charge?.daily_wo_fuel}">{{calculations?.quotation_total?.daily_without_fuel_total_with_vat|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wth_fuel}">{{calculations?.quotation_total?.weekly_with_fuel_total_with_vat|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.weekly_wo_fuel}">{{calculations?.quotation_total?.weekly_without_fuel_total_with_vat|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wth_fuel}">{{calculations?.quotation_total?.monthly_with_fuel_total_with_vat|numberFormat}}</td>
                            <td [ngClass]="{'disable':!vehObject?.rental_charge?.monthly_wo_fuel}">{{calculations?.quotation_total?.monthly_without_fuel_total_with_vat|numberFormat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span [ngClass]="{ taberror:false  }">Terms and condition</span>
            </ng-template>
            <app-quotation-v2-terms-condition-section [quotationDetail]="vehObject"></app-quotation-v2-terms-condition-section>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <span>Upload Documents</span>
            </ng-template>
            <div>
              <div class="fw-semibold px-4 mb-4 mt-3 def-color fs-6"> Upload Document</div>
              <div class="d-flex flex-wrap gap-3 px-4" style="zoom:95%">
                <file-uploader-v2 (onFileUploaded)="fileUploader($event)" fileName="Document Unknown" [uploaderId]="'1234'"
                  [isShowOnlyUpload]="false"></file-uploader-v2>
                <app-file-delete-view [showInlineEdit]="true" [fileData]="document" *ngFor="let document of quotationDocuments"
                  (fileDeleted)="fileDeleted($event)"></app-file-delete-view>
              </div>
            </div>
          </mat-tab>

    </mat-tab-group>
</div>