@import "../../../../../../../assets/styles/helpers/new-global";

::ng-deep {
.error-message{
  position: absolute;
}
}
.desktop-position{
  position: absolute;
  @media (max-width:767px){
    position: absolute;
  }
}

.colon-class{
  position: relative;
  &::before{
    content: ":";
    position: absolute;
    left: 0;
    top: 10px;
  }
}
