.btn {
    position: relative;
    display: block;
    width: 150px;
    padding: 10px 15px;
    color: $primary-brand-color;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    border: 1px solid $primary-brand-color;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    @include respond-to(400px){
      // width: auto;
      // padding: 8px 15px;
      font-size: 12px;
    }
    @include transition(all 300ms ease-in-out);

    &:active {
      // transform: translateY(5px);
    }
    &--dropdown{
      .material-icons{
        vertical-align: middle;
        line-height: 0;
      }
      .more-actions__menu{
        min-width: 100%;
        top: 45px;
        right: 0;
        &:before{
          content: none;
          right: 21px;
        }
        &:after{
          right: 22px;
          content: none;
        }
      }
    }
    &--primary {
      background-color: $primary-brand-color;
      color: $white;
      &:hover {
        background-color: darken($primary-brand-color, 10%);
      }
      &:focus {
        background-color: darken($primary-brand-color, 15%);
      }
    }
    &--secondary {
      border: 1px solid $secondary-text-color;
      color: $secondary-text-color;
    }
    &.btn--secondary:hover{
      color: $white !important;
      background-color: $secondary-text-color !important;

    }

    &--rounded {
      color: $primary-brand-color;
      padding: 6px 25px 6px 10px;
      border-radius: 25px;
      background-color: rgba($primary-brand-color, 0.1);
      &:hover {
        color: $primary-brand-color;
        background-color: rgba($primary-brand-color, 0.2);
      }
      @include respond-to(mobile){
        padding: 4px 15px 3px 5px;
      }
    }
    &--filter{
        height: 40px;
        padding: 9px 9px 5px;
        color: $secondary-text-color;
        background-color: white;
        border: 1px solid $primary-border-color;
        border-radius: 3px;
    }
    &--sm {
      width: 110px;
    }
    &--action {
      height: 40px;
      padding: 9px;
      color: $secondary-text-color;
      background-color: white;
      border: 1px solid $primary-border-color;
      border-radius: 3px;
      .material-icons{
        font-size: 20px;
      }
      &:hover{
        background-color: rgba($aside-list-active, 0.01);
      }
    }
    &--active {
      padding: 2px 25px;
      background-color: $green;
      color: white;
      font-weight: bold;
      border: 1px solid $green;
      &:hover {
        background-color: white;
        color: $green;
      }
    }
    &--disabled {
      opacity: 0.6;
      pointer-events: none;
    }
     &--default {
      width: auto;
    }
    &--upload{
      min-width: 180px;
      &:hover{
        background: transparent;
      }
    }
    &--nav{
      width: initial;
      background-color: white;
      border: 1px solid $primary-brand-color;
      i{
        width: 24px;
        font-size: 20px;
        vertical-align: middle;
        color: $primary-brand-color;
        transition: all 0.3s ease;
      }
      &:hover{
        background: rgba($primary-brand-color, 0.1);
      }
      &:active{
        background: $primary-brand-color;
        i{
          color: white;
        }
      }
      &:focus{
        background: $primary-brand-color;
        i{
          color: white;
        }
      }
    }
    &--back{
      border-radius: 25px 0px 0px 25px;
      padding: 3px 2px 4px 8px;
      &:hover{
        i{
          animation: arrowLeft 0.3s ease;
        }
      }
      &:active{
        i{
          transform: translateX(-3px);
        }
      }
    }
    &--top{
       margin-left: -4px;
      border-radius: 0px 25px 25px 0px;
      padding: 3px 8px 4px 2px;
      &:hover{
        i{
          animation: arrowUp 0.3s ease;
        }
      }
      &:active{
        i{
          transform: translateY(-3px);
        }
      }
    }&:hover {
      background-color: $primary-brand-color !important;
      color: $white !important;
      a{
        color: #fff !important;
      }
    }
    @keyframes arrowUp {
      0%{
        transform: translateY(0)
      }
      100%{
        transform: translateY(-3px);
      }
    }
    @keyframes arrowLeft {
      0%{
        transform: translateX(0)
      }
      100%{
        transform: translateX(-3px);
      }
    }
  }

  input[type="file"] {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
  }

  .upload-input-control {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    height: 35px;
    left: 120px;
    top: 54px;
    width: 177px;
    cursor: pointer;
  }

  .gb-icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 200ms ease;
    color: #979696;
    &:hover{
      background-color: #acb5bd33;
    }
  }
