/* .dashboard{
    &-header{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        margin-bottom: 30px;
        &__cont{            
            .heading{
                @extend %secondary-font;
                color: rgba($primary-text-color, 0.9);
                font-size: 26px;
                margin: 0 0 10px 0 !important;
            }
            .desc-cont{
                color: $secondary-text-color;
                font-size: 14px;
                margin: 0 0 0 0 !important;
            }
        }
    }
    &-list{
        &__item{
            margin: 0 0 30px;
            padding: 32px 20px 0;
            &__header{
                @include flexbox();
                @include align-items(center);
                margin-bottom: 22px;
            }
            .pic{
                > i{
                    color: #b3b4fa !important;
                    font-size: 70px;
                }
            }
            .details{
                margin-left: 20px;
                .sub-title{
                    color: $primary-text-color--light;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
                .desc{
                    color: $secondary-text-color;
                    font-size: 14px;
                    line-height: 18px;
                    padding-right: 48px;
                }
            }
            &__footer{
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                width: calc(100% + 40px);
                margin-left: -20px;
                border-top: 1px solid #e4e8ee;
                padding: 10px 20px;
                .left-cont{
                    .desc{
                        color: $primary-brand-color;
                        font-weight: bold;
                        font-size: 14px;
                        &--modify{
                            color: #fcb040;
                            padding-right: 10px;
                            margin-right: 10px;
                            border-right: 1px solid $secondary-text-color;
                        }
                    }
                }
                .right-cont{
                    .icon-wrap{
                        display: inline-block;
                        padding: 9px;
                        background-color: $white;
                        color: $secondary-text-color;
                        box-shadow: 0 0 3px 0 rgba(0,0,0,0.10);
                        cursor: pointer;                        
                        > i{
                            font-size: 22px;
                            vertical-align: middle;
                        }
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                }
                &--modify{
                    @include justify-content(flex-end);
                }
            }
        }
    }
} */