@import "../../styles/helpers/variable";
.tax-input-box {
    border: 1px solid rgba(90, 107, 123, 0.5);
    border-radius: 8px;
    display: flex;
    margin-right: 20px;
  
  
    span {
      border-radius: 8px;
      border-right: 1px solid rgba(90, 107, 123, 0.5);
      padding: 10px 20px;
      color: $text-color;
      font-weight: 500;
      background-color: #E8E8E8;
  
  
    }
    .input--bd{
        border-radius: 0 8px 8px 0;
        border-bottom: 0 !important;
        padding: 10px;
      
    }
  }

  .input-wrap .combo-input-wrap{
    display: flex;
    .combo-input{
      flex-grow: 1;
    }
    .seperator{
      border: 0.5px solid  rgba(90,107,123,.5);
      height: 18px;
      margin: 2px 8px 2px 4px;

    }
    .sm-input{
      width: 70px;
      
    }
   
  }