.addEstimate {
	margin-left: 20px;
	display: inline-block;
}
:host ::ng-deep {


	#date-month-col .input--bd{
		min-width: 25px;
		min-height: 30px;
		border-bottom: 1px solid rgba(90,107,123,0.5);
	}
}

.small-tag{

    color: #53b1f1;
    font-size: 10px;
}.readonlyStyles input:read-only {
	background: rgba(13,114,229,0.05);
	opacity: 0.9;
  }
