<div class="sub-header d-flex justify-content-between align-items-center px-3 shadow-inset-bottom calc-height">
    <div class="d-flex align-items-center">
        <button class="back-btn" (click)="historyBack()"><i class="bi bi-chevron-left"></i></button>
        <span class="primary-brand-text fw-bold fs-6 me-3">{{partInfoDetails?.display_name}}</span>
        <!-- <ng-container *ngIf="partInfoDetails?.email_address">
            <button class="btn btn--primary invite-portal  client-item"  (click)="inviteToPortal()" *ngIf="partInfoDetails?.portal_status=='1'"><span class="material-icons icon"> person_add_alt </span>Invite to Portal</button>
            <ng-container *ngIf="partInfoDetails?.portal_status=='2'">
              <button class="btn btn--primary resend-invite  client-item"  (click)="reinviteToPortal()"><span class="material-icons icon"> person_pin </span> Resend  Invite</button>
              <p class=" client-item">Waiting for client</p>

            </ng-container>

            <ng-container *ngIf="partInfoDetails?.portal_status=='3'" >
              <button class="btn btn--primary remove-access  client-item"  (click)="enableDisableToPortal(true)">
                <span class="material-icons icon"> remove_circle_outline </span> Remove access</button>
              <p class=" client-item">Party in portal</p>

            </ng-container>

            <ng-container *ngIf="partInfoDetails?.portal_status=='4'">
              <button class="btn btn--primary enable-access  client-item"  (click)="enableDisableToPortal(false)">
                <span class="material-icons icon"> person_add_alt </span>Enable Access</button>
              <p class=" client-item">Party access is removed</p>
            </ng-container>

          </ng-container>
          <button class="btn btn--primary invite-portal  client-item" *ngIf="!partInfoDetails?.email_address" (click)="isEmailIsThere=!isEmailIsThere"><span class="material-icons icon"> person_add_alt </span>Invite to Portal</button> -->
    </div>
    <!-- <div class="d-flex align-items-center">
        <button class="fs-5 sky-blue-text"><i class="bi bi-play-circle-fill"></i></button>
        <button class="btn btn--primary ms-3 w-auto d-inline-block py-2"><i class="bi bi-plus-lg me-1"></i>Add<i
                class="bi bi-chevron-down ms-2"></i></button>
    </div> -->
</div>

<div class="modal fade" [ngClass]="{'show':!isEmailIsThere}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal--sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center pd-20">
                 <input type="text" [(ngModel)]="emailId" class="form-control" placeholder="Enter email">
                 <p *ngIf="!isEmailValid" style="color: red;">Please Enter the valid email</p>
                <div class="okButton">
                   <button class="btn btn- wd-105 mg-left-5" (click)="isEmailIsThere=!isEmailIsThere;emailId='';isEmailValid=true" type="submit">Cancel</button>
                    <button class="btn btn- btn--primary wd-105 mg-left-5" (click)="inviteClient()" type="submit">Invite</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isEmailIsThere" class="modal-backdrop fade show"></div>
