@import "../../../../../../assets/styles/helpers/variable";

.fields-wrap{
    .field{
      border-bottom: 1px solid hsl(0, 0%, 81%);
      padding: 12px 10px !important;
      height: 40px;
      white-space: nowrap;
    }
    &  .field:last-child{
      border-bottom: 0px
    }
  }
  .addable-row-table-display table td {
    padding: 12px 10px !important;
  }
  .addable-row-table-display table .fields-wrap {
    padding: 0px !important
  }

  