@import "../../../../../../.././assets/styles/helpers/variable";

.private-icon{
  
  color: $sky-blue;
    border: 1px solid $sky-blue;
    border-radius: 100px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;

}

.tax-input-box {
    border: 1px solid rgba(90, 107, 123, 0.5);
    border-radius: 8px;
    display: flex;
    margin-right: 20px;
  
  
    span {
      border-radius: 8px;
      border-right: 1px solid rgba(90, 107, 123, 0.5);
      padding: 10px 20px;
      color: $text-color;
      font-weight: 500;
      background-color: #E8E8E8;
  
  
    }
  }


.error-border{
  border: 2px solid #eb2727 !important;
}
.row-btn{
  
  margin-left: 20px;
  padding: 7px;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  color: $white;

  .material-icons{
    font-size: 16px;
  }
 
  &-add{
    background: $green;
  }
  &-delete{
    background: $error-txt;
  }
  &-copy{
    background: $sky-blue;
  }


}
.row-btn-wrap{
  position: sticky;
  right: 70px;

}
.des-input{
  max-width: 250px;
}
.custom-field-input-wrap{
  
  input{
    padding: 7px 6px !important;
  border-radius: 3px;
  border: 1px solid transparent ;

  min-width: 80px;
  &:focus{
    border: 1px solid $primary-brand-color !important;
    


  
  }
  }
  
  

}
:host::ng-deep{
  .custom-field-input-wrap{

.quotation-dropdown-cf{

  .input--bd{
    padding: 7px 6px !important;
    border-radius: 3px;
    border: 1px solid transparent;

    min-width: 80px;
    &:focus{
      border: 1px solid $primary-brand-color;
      


    
    }
  }


}
.quotation-date-cf{
  max-width: 115px;
  .mat-form-field-underline {
    display: none;
  }
}
  }

}