.a-o-i {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
  }
  .a-o-i-t {
    @extend .a-o-i;
    font-size: 25px;
    padding: 15px;
    border-bottom: 1px solid lightgray;
  }
  .inactive-whatsapp{
    color: red;
  }
  