<div>
    <app-vehicle-details-header-section [vehicleHeaderDetails]="vehicleHeaderDetails"></app-vehicle-details-header-section>
</div>
<!-- tabs code will be here  -->
<div class="custom-fake-tab custom-fake-tab-sticky calc-height">
    <button (click)="selectedTab=1 " class="tab"  matRipple [ngClass]="{'active-tab':selectedTab==1}">Vehicle Info.</button>
    <button (click)="selectedTab=5" class="tab" matRipple  [ngClass]="{'active-tab':selectedTab==5}">Tyre Details Info</button>
    <button (click)="selectedTab=2" class="tab" matRipple  [ngClass]="{'active-tab':selectedTab==2}">Jobs History</button>
    <button (click)="selectedTab=3" class="tab"  matRipple [ngClass]="{'active-tab':selectedTab==3}">Service History</button>
    <button (click)="selectedTab=4" class="tab"  matRipple [ngClass]="{'active-tab':selectedTab==4}">Fuel History</button>
</div>
<div class=" shadow-inset-top tab-content ">
    <app-tyre-master-report-view [vehicleHeaderDetails]="vehicleHeaderDetails" [vehicleId]="vehicleId" *ngIf="selectedTab==5"></app-tyre-master-report-view>
    <app-vehicle-details-vehicle-info-section (openSelectedTab)="openSelectedTab($event)" [vehicleId]="vehicleId" [vehicleHeaderDetails]="vehicleHeaderDetails" *ngIf="selectedTab==1"></app-vehicle-details-vehicle-info-section>
    <app-vehicle-details-trip-history  [vehicleHeaderDetails]="vehicleHeaderDetails" [vehicleId]="vehicleId" *ngIf="selectedTab==2"></app-vehicle-details-trip-history>
    <app-vehicle-details-service-history-section   [vehicleHeaderDetails]="vehicleHeaderDetails" [vehicleId]="vehicleId" *ngIf="selectedTab==3"></app-vehicle-details-service-history-section>
    <app-vehicle-details-fuel-history-section [vehicleId]="vehicleId" *ngIf="selectedTab==4"></app-vehicle-details-fuel-history-section>
</div>