<div class="def-color p-4">
    <div action="" [formGroup]="billingForm">
        <div class="d-flex "> 
            <p class="fw-semibold pb-3 mb-2 fs-6">Material Info.</p>
        </div>

        <div class="addable-row-table overflow-visible">
            <table>
                <thead>
                    <tr>
  
                      <th width="20%">Material</th>
                      <th>Unit</th>
                      <th>No. of Item</th>
                      <th>Weight/Item</th>
                      <th>Volume/Item</th>
                      <th>Total Quantity</th>
                    </tr>
  
                </thead>
                <tbody  formArrayName="materials">
  
                    <ng-container
                    *ngFor="let controls of billingForm.controls.materials['controls'];let i = index"  [formGroupName]="i">
  
  
                        <tr>
                            <td >
                              <div [ngClass]="{'error-dropdown':billingForm.get('materials').controls[i].get('material').invalid && billingForm.get('materials').controls[i].get('material').touched}">
                              <material-dropdown  [addNewOptions]="true" (addNewOption)="addNewMaterial($event,i)" [addable]="true" [addItemText]="'+ Add Material'"  [searchable]="true" [addErrorClass]="addErrorClass(billingForm.get('materials').controls[i].get('material'))" [selectedOption]="initialValues.material[i]">
                                <select #customSelect formControlName="material" class="no-style select--modify">
                                  <option *ngFor="let option of materialList" [value]="option?.id">
                                    {{ option?.name }}
                                  </option>
                                </select>
                            </material-dropdown>
                            </div>
                            </td>
                            <td>
                              <material-dropdown [searchable]="true" [addErrorClass]="addErrorClass(billingForm.get('materials').controls[i].get('unit'))" [selectedOption]="initialValues.unit[i]">
                                <select #customSelect formControlName="unit" class="no-style select--modify">
                                  <option *ngFor="let option of unitList" [value]="option?.id">
                                    {{ option?.label }}
                                  </option>
                                </select>
                            </material-dropdown>
                            </td> 
                            <td>
                              <input  positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('no_of_items').invalid && billingForm.get('materials').controls[i].get('no_of_items').touched
                              }" type="text" placeholder="123456" value="" formControlName="no_of_items" />
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <input positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('weight_per_item').invalid && billingForm.get('materials').controls[i].get('weight_per_item').touched
                              }" type="text" placeholder="123456" value="" formControlName="weight_per_item" />
                    <span class="fs-5 mx-2 ">|</span>

                    <material-dropdown [searchable]="true" [placeholder]="'Unit'" [addable]="false" [addBlank]="true" class="dropDownWidth"
                      [selectedOption]="initialValues.weightUnit[i]"
                      [addErrorClass]="addErrorClass(billingForm.controls.materials['controls'][i]['controls']['weight_unit'])">
                      <select #customSelect formControlName="weight_unit" class="no-style select--modify">
                        <option *ngFor="let option of itemUnits" value="{{ option.id }}">
                          {{ option.label }}
                        </option>
                      </select>
                    </material-dropdown>
                  </div>
                </td>
                <td>

                  <div class="d-flex lbh-wrap">
                    <input positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('length').invalid && billingForm.get('materials').controls[i].get('length').touched
                                  }" type="text" placeholder="L" value="" formControlName="length" />
                    <span class="material-icons ">
                      close
                    </span>
                    <input positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('breadth').invalid && billingForm.get('materials').controls[i].get('breadth').touched
                                  }" type="text" placeholder="W" value="" formControlName="breadth" />
                    <span class="material-icons ">
                      close
                    </span>
                    <input positiveThreeDigitDecimalNumber [ngClass]="{
                                  error:
                                    billingForm.get('materials').controls[i].get('height').invalid && billingForm.get('materials').controls[i].get('height').touched
                                  }" type="text" placeholder="H" value="" formControlName="height" />
                    <span class="fs-5 mx-2 ">|</span>

                    <material-dropdown [searchable]="true" [addable]="false" [addBlank]="true" class="dropDownWidth"
                      [selectedOption]="initialValues.volumeUnit[i]" [placeholder]="'Unit'"
                      [addErrorClass]="addErrorClass(billingForm.controls.materials['controls'][i]['controls']['volume_unit'])">
                      <select #customSelect formControlName="volume_unit" class="no-style select--modify">
                        <option *ngFor="let option of itemUnits" value="{{ option.id }}">
                          {{ option.label }}
                        </option>
                      </select>
                    </material-dropdown>

                  </div>




                </td>
                <td>
                  <input positiveThreeDigitDecimalNumber [ngClass]="{
                                error:
                                billingForm.get('materials').controls[i].get('total_quantity').invalid && billingForm.get('materials').controls[i].get('total_quantity').touched
                              }" type="text" placeholder="123456" value="" formControlName="total_quantity"/>
                </td>



              </tr>
              <tr>
                <td class="border-end-0"></td>
                <td class="border-end-0 border-start-0" colspan="4"></td>
                <td class="rc-row-btn-wrap border-start-0 border-end-0">
                  <div class="d-flex justify-content-end">
                    <button *ngIf="this.billingForm.controls['materials']['controls'].length-1 ==i "
                      (click)="cloneMaterialItem(controls,i)" class=" row-btn row-btn-copy ms-0"
                      matTooltip="clone"><span class="material-icons">
                        content_copy
                      </span></button>

                    <button (click)="removeMaterialItem(i)"
                      *ngIf="this.billingForm.controls['materials']['controls'].length !== 1"
                      class="  row-btn row-btn-delete "><span class="material-icons">
                        close
                      </span></button>
                    <button (click)="addMoreMaterialItem()"
                      *ngIf="this.billingForm.controls['materials']['controls'].length-1 ==i "
                      class=" row-btn row-btn-add "><span class="material-icons">
                        add
                      </span></button>


                  </div>


                </td>

              </tr>
            </ng-container>

          </tbody>
        </table>
    </div>
</div>