<div class="modal fade" [ngClass]="{'show':popUpRenewInsurance.show}" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal--xls" role="document">
    <div class="modal-content">
      <button class="close-icon" (click)="cancelButtonClick()">
        <mat-icon>highlight_off</mat-icon>
      </button>

      <div class="row justify-content">

        <div>
          <form [formGroup]="renewDocumentForm">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap">
                      <label for="" class="">Issued Date</label>
                      <mat-form-field class="width--100">
                          <input matInput placeholder="DD/MM/YYYY"  [min]="current_day" [matDatepicker]="iiii" (focus)="iiii.open()" formControlName="issue_date" >
                          <mat-datepicker-toggle matSuffix [for]="iiii"></mat-datepicker-toggle>
                          <mat-datepicker #iiii></mat-datepicker>
                      </mat-form-field>
                      <app-error [controlName]="renewDocumentForm.controls.issue_date"></app-error>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.company_name)">
                      <label for="">Insurance Company Name</label>
                      <material-dropdown [searchable]="true" [addable]="true" class="dropDownWidth" [postApiUrl]="insuranceCompanyPostApi" [params]="insuranceCompanyNameParams"
                      (postApiResponse)="getNewInsuranceCompanyNames($event)" (addValueToList)="addParamsToInsuranceCompanyName($event)"
                      [selectedOption]="initialValues.insuranceCompanyName" [addBlank]="true">
                              <select #customSelect formControlName="company_name" class="no-style select--modify">
                                  <option *ngFor="let option of insuranceCompanyName" value="{{ option?.id }}">
                                      {{ option?.label }}
                                  </option>
                              </select>
                      </material-dropdown>
                      <app-error [controlName]="renewDocumentForm.controls.company_name"></app-error>

                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.insurance_type)" >
                      <label for="">Insurance Type</label>
                      <material-dropdown [searchable]="true" class="dropDownWidth" [postApiUrl]="insuranceCompanyPostApi"
                      [params]="insuranceTypeParams" [addBlank]="true" [addable]="true" [selectedOption]="initialValues.insuranceType"
                      (postApiResponse)="getNewInsuranceTypes($event)" (addValueToList)="addParamsToInsuranceType($event)">
                              <select #customSelect formControlName="insurance_type" class="no-style select--modify">
                                  <option *ngFor="let option of insuranceTypes" value="{{ option?.id }}">
                                      {{ option?.label }}
                                  </option>
                              </select>
                      </material-dropdown>
                      <app-error [controlName]="renewDocumentForm.controls.insurance_type"></app-error>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.policy_number)">
                    <label for="">Policy Number</label>
                    <input type="text"  class="no-style input--bd" placeholder="Eg:234556789" value="" formControlName="policy_number">
                </div>
                <app-error [controlName]="renewDocumentForm.controls.policy_number"></app-error>

            </div>
              <ng-container *ngIf="!isMarketVehicle">
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.insured_declared_value)">
                      <label for="" class="">Insured Declared Value ({{ currency_type?.symbol}})</label>
                      <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="insured_declared_value"
                      (change)="roundOffValue(renewDocumentForm.controls.insured_declared_value)">
                  </div>
                  <app-error [controlName]="renewDocumentForm.controls.insured_declared_value"></app-error>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.amount)">
                      <label for="" class="">Insurance Amount ({{ currency_type?.symbol}})</label>
                      <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="amount"
                      (change)="roundOffValue(renewDocumentForm.controls.amount)">
                  </div>
                  <app-error [controlName]="renewDocumentForm.controls.amount"></app-error>

              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.fees_and_charges)">
                      <label for="" class="">Fees and Charges ({{ currency_type?.symbol}})</label>
                      <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="fees_and_charges"
                      (change)="roundOffValue(renewDocumentForm.controls.fees_and_charges)">
                  </div>
                  <app-error [controlName]="renewDocumentForm.controls.fees_and_charges"></app-error>

              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.renewal_date)">
                      <label for="" class="">Renewal Date</label>
                      <mat-form-field class="width--100">
                          <input matInput placeholder="DD/MM/YYYY" [min]="current_day" [matDatepicker]="ii" (focus)="ii.open()"   formControlName="renewal_date" >
                          <mat-datepicker-toggle matSuffix [for]="ii"></mat-datepicker-toggle>
                          <mat-datepicker #ii></mat-datepicker>
                      </mat-form-field>
                      <app-error [controlName]="renewDocumentForm.controls.renewal_date"></app-error>

                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.remind_me)">
                      <label for="" class="input">Remind me</label>
                      <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth" [selectedOption]="initialValues.remindMe">
                          <select #customSelect formControlName="remind_me" class="no-style select--modify"
                          (change)='remindMeSelect($event.target.value)'>
                              <option *ngFor="let option of remindDropdown" value="{{option?.id}}">
                                  {{ option?.label }}
                              </option>
                          </select>
                      </material-dropdown>
                      <app-error [controlName]="renewDocumentForm.controls.remind_me"></app-error>

                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="input-wrap error" [ngClass]="addErrorClass(renewDocumentForm.controls.reminder)">
                      <label for="" class="">Set Renewal Reminder</label>
                      <mat-form-field class="width--100">
                          <input matInput placeholder="DD/MM/YYYY"  [min]="current_day" [matDatepicker]="iii" (focus)="iii.open()" formControlName="reminder" (dateChange)="onClenderChangeExpiryDate()" >
                          <mat-datepicker-toggle matSuffix [for]="iii"></mat-datepicker-toggle>
                          <mat-datepicker #iii></mat-datepicker>
                      </mat-form-field>
                      <app-error [controlName]="renewDocumentForm.controls.reminder"></app-error>

                  </div>
              </div>
            </ng-container>
              <div class="form-layout__card mg-top-30">
                <file-uploader (onFileUploaded)="fileUploader($event)"
                (onFileDeleted)="fileDeleted($event)" [multiple]="true"
                [accept]="'capture=camera, image/jpeg,image/x-jpg,image/png, application/pdf'"
                [showFileName]="false">
                </file-uploader>
            </div>
          </div>
        </form>

      </div>



        <div class="col-md-3">
          <button class="btn btn- btn--primary wd-105 cancel-button" (click)="cancelButtonClick()"
            type="submit">Cancel</button>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
          <button class="btn btn- btn--primary wd-105 save-button text-capitalize" (click)="onOkButtonClick()"
            type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="popUpRenewInsurance.show" class="modal-backdrop fade show"></div>
