<div>
  <div class="gb-popup-header">{{ data?.popupType }}</div>
  <div class="p-3">
    <div class="error-msg-list" *ngIf="apiError !== ''">
      {{ apiError }}
    </div>
  </div>
  <form [formGroup]="inviteUser">
    <div class="row mx-0 px-3 pb-4">
      <div class="col-lg-12 col-sm-12">
        <div
          class="input-wrap error"
          [ngClass]="addErrorClass(inviteUser.controls.email)"
          *ngIf="data?.id == 'null' || data?.status == 'INVITED'"
        >
          <label for="email" class="input--required">Email ID</label>
          <input
            type="text"
            class="no-style input--bd"
            formControlName="email"
            (change)="removeAPIerror()"
          />
          <app-error [controlName]="inviteUser.controls.email"></app-error>
        </div>
        <div *ngIf="data?.status == 'ACTIVE'" class="input-wrap">
          <label for="email" class="input--required">Email ID</label>
          <div class="input--bd no-style">
            {{ inviteUser.controls.email.value }}
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div
          class="input-wrap error"
          [ngClass]="addErrorClass(inviteUser.controls.name)"
        >
          <label for="email" class="input--required">Name</label>
          <input
            type="text"
            class="input--bd no-style"
            formControlName="name"
            (change)="removeAPIerror()"
          />
          <app-error [controlName]="inviteUser.controls.name"></app-error>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12" *ngIf="!isSuperUser">
        <div class="input-wrap" [ngClass]="{'error':selectedRoles.length==0 && isRoleInvalid}">
         
            <label class="input--required">Roles</label>
            <mat-chip-list #chipList aria-label="role selection">
              <mat-chip
                *ngFor="let role of selectedRoles"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(role)"
              >
                {{ role }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              
            </mat-chip-list>
            <input
                placeholder="Search roles..."
                #roleInput
                class="input--bd no-style w-100 m-0 mt-2"
                formControlName="role"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                
              />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let role of filteredRoles | async"
                [value]="role"
              >
                {{ role }}
              </mat-option>
            </mat-autocomplete>
            <p *ngIf="selectedRoles.length==0 && isRoleInvalid" class="line-height-normal error-text fs-12px">Please select at least one role</p>
         
        </div>
      </div>
      <div class="col-lg-12 justify-content-between d-flex">
        <button class="btn btn--sm" (click)="onNoClick()">Cancel</button>
        <button
          class="btn btn--primary btn--sm"
          cdkFocusInitial
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </div>

    <div></div>
  </form>
</div>
<!-- <mat-form-field>
  <mat-label class="input--required">Roles</mat-label>
  <mat-chip-list #chipList aria-label="role selection">
    <mat-chip
      *ngFor="let role of selectedRoles"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(role)"
    >
      {{ role }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Add roles..."
      #roleInput
      formControlName="role"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
  >
    <mat-option
      *ngFor="let role of filteredRoles | async"
      [value]="role"
    >
      {{ role }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->
