<div class="driver-ledger-wrap pb-3 pt-1">

  <table class="table table-borderless">
    <thead class="border-bb">
      <tr>

        <th scope="col" class="py-3 ps-5 label green" colspan="4">Anomal (Driver) &nbsp; &nbsp; <button
            class="me-2 add-money"><i class="bi bi-plus-circle"></i>Add Money</button></th>
        <th scope="col" class="py-3 label green">Money In</th>
        <th scope="col" class="py-3 label dark">Money Out</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col" class="py-3 pt-4 ps-5" colspan="4">Freight Amount:</td>
        <td scope="col" class="py-3 pt-4" colspan="2">48600 AED</td>
      </tr>
      <tr>
        <td scope="col" class="py-3 ps-5" colspan="4">Others</td>
        <td scope="col" class="py-3" colspan="2">48600 AED</td>
      </tr>
      <tr class=" border-bb">
        <td scope="col" class="py-3 pb-4 ps-5" colspan="5">Detention Charges</td>
        <td scope="col" class="py-3 pb-4">48600 AED</td>
      </tr>

      <tr class=" border-bb">
        <td scope="col" class="py-4 ps-5 label blue" colspan="5">Total Earning</td>
        <td scope="col" class="py-4 label blue">97200 AED</td>
      </tr>
      <tr>
        <td scope="col" class="py-3 ps-5" colspan="4"></td>
        <td scope="col" class="py-3 label green">Driver Saving</td>
        <td scope="col" class="py-3 label green">97200 AED</td>
      </tr>


    </tbody>
  </table>
</div>