div#table-height{
  @media only screen and (min-width: 993px){
   height: 45vh;
  }
  @media only screen and (min-width: 1700px){
    height: 51vh;
   }
  @media only screen and (min-width: 1900px){
    height: 56vh;
   }
   @media only screen and (min-width: 2000px){
    height: 59vh;
   }
   @media only screen and (min-width: 2300px){
    height: 63vh;
   }
   @media only screen and (min-width: 2500px){
    height: 72vh;
   }
}
.table-page-no
{
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 0;
  padding: 2px 2px;
}
:host ::ng-deep.ngx-pagination .current
{
  background: #595fab !important;
  border-radius: 2px;
} 