$color-white: #fff;
$color-7e: #7E7E7E;
$color-919099: #919099;
$color-0583D7: #0583D7;
$color-54: #545454;

.no-comments {
  padding: 0px !important;
}

.comment-btn{
  margin-top: 36px;
}

.wrapper {
  background-color: #efeded;
  padding: 20px 12px;

  .msg-wrap {
    display: flex;
    margin-bottom: 12px;

    .msg {
      display: inline-block;
      background-color: red;
      max-width: 65%;
      padding: 10px;
      background-color: #fff;
      min-width: 25%;
      position: relative;

    }
  }

  .left-msg-wrap {
    margin-left: 20px;
    justify-content: start;

    .msg {
      border-radius: 0 8px 8px 8px;

      &::before {
        content: "";
        width: 0px;
        height: 0px;
        border-top: 10px solid #fff;
        border-right: 10px solid #fff;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;

        position: absolute;

        top: 0px;
        left: -18px;
      }
    }

  }

  .right-msg-wrap {

    justify-content: end;
    position: relative;
    justify-content: end;
    display: flex;

    .msg {
      border: 2px solid #0583D7;
      border-radius: 8px 0 8px 8px;

      .msg-details {
        text-align: right;
      }
    }

  }

}

.msg-details {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #7E7E7E;
  margin-bottom: 4px;

}

.msg-html {
  color: #4E515C;
  font-size: 14px;

}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid #0583D7;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0583D7;
  position: relative;
}

.sub-right-arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: -13.5px;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;

}



:host ::ng-deep {
  p {
    line-height: normal ;
  }

  ol,ul{
    margin-left: 20px !important;
  }
  ol{
    list-style: decimal !important;
  }
  ul{
    list-style: disc !important;
  }
}