<div
  class="modal fade"
  [ngClass]="{'show':advancesData.show}"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog screen-center modal--xls"
    style="max-width: 900px;"
    role="document"
  >
    <div class="modal-content">
      <div class="tabIndexActive"><button class="close-icon p-0 material-icons" (click)="onClickCancel()"> highlight_off </button></div>
      <nav class="party-menu m-0">
        <ul>
          <li
            class="party-menu__list"
            [ngClass]="{active:true,invalidForm:showError}"
          >
            <p class="text-capitalize">Advances</p>
          </li>
        </ul>
      </nav>
      <div class="row mx-0 justify-content-center justify-content-md-between align-items-center">
        <div class="col-md-8">
          <div class="advance-content mat-icon-17 position-relative m-auto">
            <p class="mg-top-10 max-lenght-200 tabIndexActive"><strong>
              Fuel Advance: </strong> <span class="h6">{{totalFuelAdvance}}</span><button class="material-icons maticon-17 align-middle py-0" (click)="editNewTrip('fuel-advance')">create</button>
              <button class="material-icons maticon-17 align-middle py-0 px-1 px-sm-2" (click)="onDeleteSelection('fuel-advance')">delete</button>
            </p>
            <p class="mg-top-10 max-lenght-200 tabIndexActive"><strong>Driver Allowance: </strong> <span class="h6">{{customerDriverAllowance}}</span><button class="material-icons maticon-17 align-middle py-0" (click)="editNewTrip('driver-advance')">create </button>
              <button class="material-icons maticon-17 align-middle py-0 px-1 px-sm-2" (click)="onDeleteSelection('driver-advance')">delete </button>
            </p>
            <p class="mg-top-10 max-lenght-200 tabIndexActive"><strong>Party Advance: </strong> <span class="h6">{{totalPartyAdvance}}</span><button class="material-icons maticon-17 align-middle py-0" (click)="editNewTrip('party-advance')">create</button>
              <button class="material-icons maticon-17 align-middle py-0 px-1 px-sm-2" (click)="onDeleteSelection('party-advance')">delete</button>
            </p>
          </div>
        </div>
        <div class="col-md-4 tabIndexActive m-auto my-4">
          <button class="btn btn--default btn--primary btn--dropdown"
          (click)="$event.stopPropagation();addAdvances = !addAdvances">Add Advances As<i class="material-icons">arrow_drop_down</i>
          <div class="more-actions__menu" [ngClass]="{'show': addAdvances}">
              <button class="more-actions__item w-100 text-start" type="button" (click)="invoiceAdvance('fuel-advance')">Fuel Advance</button>
              <button class="more-actions__item w-100 text-start" type="button" (click)="invoiceAdvance('driver-advance')" >Driver Advance</button>
              <button class="more-actions__item w-100 text-start" type="button" (click)="invoiceAdvance('party-advance')" >Party Advance</button>
          </div>
         </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="advancesData.show" class="modal-backdrop fade show"></div>
<app-edit-trip-new-pop-up (dataFromEdit)="editPopUpStatus($event)" [showEditPopup]="showEditPopup" *ngIf="showEditPopup.show" [returnData]="false"></app-edit-trip-new-pop-up>
<app-delete-trip-popup [deleteParams]="deleteParams" (onDeleteCompletion)="onDeleteCompletion()"></app-delete-trip-popup>
<app-edit-trip-new-pop-up (dataFromEdit)="addPopUpStatus($event)" [showEditPopup]="showAddPopup" *ngIf="showAddPopup.show" [returnData]="true"></app-edit-trip-new-pop-up>

