<div class="modal fade" [ngClass]="{'show':incomingChargesPopup.show}" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal--xls" role="document">
  <div class="modal-content">
    <!-- <div class="tabIndexActive"><button class="close-icon p-0" (click)="onClickCancel()"><mat-icon>highlight_off</mat-icon></button></div> -->
    

    
          <div class="gb-popup-header"  [ngClass]="{active:true,invalidForm:showError}">{{selectionType}}</div>
      
    <div class="info-msg" >
      <p class="message-cont">Please note that any changes to the values will automatically update the corresponding jobs.</p>
    </div>

    <div *ngIf="selectedTab == 'party-charge-bill'" class="mat-icon-17 position-relative">
      <div class="row mx-0 justify-content-center align-items-center justify-content-sm-between p-3 px-4" >
        <div class="col-sm-8 " >
          <div class="info-msg " *ngIf="!tripDetails?.party_add_bill_charges.length" >
          <span class="message-cont">No Job Charges added, please click on Add Job Charges button to add charges</span>
          </div>
        </div>
        <button class="btn  btn--primary  margin_left_0" (click)="editNewTrip('party-charge-bill')">Add Job Charges</button>

      </div>
        <ng-container class="mt-3" *ngIf="tripDetails?.party_add_bill_charges.length">
          <div class="addable-row-table  def-color mx-3 mb-3">
            <table class="">
              <thead>
                <tr>
                  <th>JOB CHARGE</th>
                  <th>UNIT OF MEASUREMENT</th>
                  <th>NO OF UNITS</th>
                  <th>UNIT COST ({{currency_type.symbol}})</th>
                  <th >CHARGE AMOUNT  ({{currency_type.symbol}})</th>
                  <th >TAX(%)</th>
                  <th >TAX AMOUNT ({{currency_type.symbol}})</th>
                  <th >TOTAL AMOUNT ({{currency_type.symbol}})</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tripDetails?.party_add_bill_charges ;let i=index" >

                  <td >{{item?.type?.label}}</td>
                  <td >{{item?.unit_of_measurement?.label}}</td>
                  <td >{{item?.quantity}}</td>
                  <td >{{item?.unit_cost}}</td>
                  <td>{{item?.amount_before_tax}}</td>
                  <td>{{item?.tax?.label}}</td>
                  <td>{{(item?.amount - item?.amount_before_tax ).toFixed(3)}}</td>
                  <td>{{item?.amount }}</td>
                  <td><p *ngIf="item.amount>0" class="mat-icon-font-17 text-end max-lenght-200 tabIndexActive  "><button class=" def-color material-icons maticon-17 align-middle py-0 gb-btn-hover" (click)="editNewTrip('party-charge-bill', item.id,{},i)">create</button>
                    <button class="material-icons maticon-17 align-middle py-0 error-text gb-btn-hover" *ngIf="!item.bill_created" (click)="onDeleteSelection('party-charge-bill', item.id)"> delete </button></p></td>
                </tr>
              </tbody>
            </table>
     
        </div>

        </ng-container>
    </div>


    <div *ngIf="selectedTab == 'vp-charge-bill'"  class="mat-icon-17 position-relative">
      <div class="row mx-0 mx-4 my-3 justify-content-center align-items-center justify-content-sm-between" >
        <div class="col-sm-8  " ><div class="info-msg " *ngIf="!tripDetails?.vp_add_bill_charges.length"> <span class="message-cont">No Job Charges added, please click on Add Job Charges button to add Job charges</span></div></div>
      <button class="btn  btn--primary  margin_left_0 " (click)="editNewTrip('vp-charge-bill')">Add Job Charges</button>
      </div>
      <ng-container *ngIf="tripDetails?.vp_add_bill_charges.length">
        <div  class="mx-3 mb-3 addable-row-table">
          <table >
            <thead>
              <tr>
                <th >JOB CHARGE</th>
                <th>NO OF UNITS</th>
                <th>UNIT COST ({{currency_type.symbol}})</th>
                <th >CHARGE AMOUNT  ({{currency_type.symbol}})</th>
                <th >TAX(%)</th>
                <th >TAX AMOUNT ({{currency_type.symbol}})</th>
                <th >TOTAL AMOUNT ({{currency_type.symbol}})</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tripDetails?.vp_add_bill_charges let i=index">
                <td >{{item?.type?.label}}</td>
                <td >{{item?.quantity}}</td>
                <td >{{item?.unit_cost}}</td>
                <td>{{item?.amount_before_tax}}</td>
                <td>{{item?.tax?.label}}</td>
                <td>{{(item?.amount - item?.amount_before_tax ).toFixed(3)}}</td>
                <td>{{item?.amount }}</td>
                <td>    <p *ngIf="item.amount>0" class="text-end max-lenght-200 tabIndexActive"><button class="def-color gb-btn-hover material-icons maticon-17 align-middle py-0" (click)="editNewTrip('vp-charge-bill', item.id,{},i)"> create </button>
                  <button *ngIf="!item.bill_created" class="error-text gb-btn-hover material-icons maticon-17 align-middle py-0" (click)="onDeleteSelection('vp-charge-bill', item.id)"> delete </button></p></td>
              </tr>
            </tbody>
          </table>
    
        </div>
      </ng-container>
    </div>

    <div *ngIf="selectedTab == 'party-charge-reduce-bill'"  class="mat-icon-17 position-relative">
      <div class="row mx-0 p-3 px-4 justify-content-center align-items-center justify-content-sm-between">
        <div class="col-sm-8  " ><div class="info-msg " *ngIf="!tripDetails?.party_reduce_bill_charges?.length"><span class="message-cont">No Job Deductions added, please click on Add Job Deductions button to add Job Deductions</span></div> </div>
          <button class="btn  btn--primary  margin_left_0" (click)="editNewTrip('party-charge-reduce-bill')">Add Job Deductions</button>
       </div>
      <ng-container  *ngIf="tripDetails?.party_reduce_bill_charges?.length">
        <div  class="addable-row-table mx-3 mb-3">
          <table >
            <thead>
              <tr>
                <th >JOB DEDUCTION</th>
                <th >DEDUCTION AMOUNT ({{currency_type.symbol}})</th>
                <th >TOTAL AMOUNT ({{currency_type.symbol}})</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tripDetails?.party_reduce_bill_charges; let i=index">
                <td >{{item?.type?.label}}</td>
                  <td>{{item?.amount_before_tax}}</td>
                  <td>{{item?.amount }}</td>
                  <td>    <p *ngIf="item.amount>0" class="text-end max-lenght-200 tabIndexActive"><button class=" def-color gb-btn-hover material-icons maticon-17 align-middle py-0" (click)="editNewTrip('party-charge-reduce-bill', item.id,{},i)"> create </button>
                    <button class="material-icons error-text gb-btn-wrap maticon-17 align-middle py-0" *ngIf="!item.bill_created" (click)="onDeleteSelection('party-charge-reduce-bill', item.id)"> delete </button></p></td>
              </tr>
            </tbody>
          </table>
     
        </div>
      </ng-container>
  

    </div>

    <div *ngIf="selectedTab == 'vp-charge-reduce-bill'"  class="mat-icon-17 position-relative">
      <div class="row px-4 py-3  mx-0 justify-content-center align-items-center justify-content-sm-between">
        <div class="col-sm-8 " ><div class="info-msg" *ngIf="!tripDetails?.vp_reduce_bill_charges?.length"> <span class="message-cont" >No Job Deductions added, please click on Add Job Deductions button to add Job Deductions</span></div></div>
          <button class="btn  btn--primary  margin_left_0 " (click)="editNewTrip('vp-charge-reduce-bill')">Add Job Deductions</button>
          </div>
      <ng-container *ngIf="tripDetails?.vp_reduce_bill_charges?.length">
        <div  class="addable-row-table mx-3 mb-3">
          <table >
            <thead>
              <tr>
                <th >JOB DEDUCTION</th>
                <th >DEDUCTION AMOUNT ({{currency_type.symbol}})</th>
                <th >TOTAL AMOUNT ({{currency_type.symbol}})</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of tripDetails?.vp_reduce_bill_charges; let i = index">
                <td >{{item?.type?.label}}</td>
                <td>{{item?.amount_before_tax}}</td>
                <td>{{item?.amount }}</td>
                <td>     <p *ngIf="item.amount>0" class="text-end max-lenght-200 tabIndexActive"><button class="def-color gb-btn-hover material-icons maticon-17 align-middle py-0" (click)="editNewTrip('vp-charge-reduce-bill', item.id,{},i)"> create </button>
                  <button class="error-text gb-btn-hover material-icons maticon-17 align-middle py-0" *ngIf="!item.bill_created" (click)="onDeleteSelection('vp-charge-reduce-bill', item.id)"> delete </button></p> </td>
              </tr>
            </tbody>
          </table>
   
        </div>
      </ng-container>
    </div>
    <div class="d-flex justify-content-end px-4 pb-3">
      <button (click)="onClickCancel()" class="btn btn--sm">Close</button>
    </div>

  </div>
</div>
</div>

<div *ngIf="incomingChargesPopup.show" class="modal-backdrop fade show"></div>
<app-delete-trip-popup [deleteParams]="deleteParams" (onDeleteCompletion)="onDeleteCompletion()"></app-delete-trip-popup>
<app-edit-trip-new-pop-up [isZeroAmountAccepted]="false" (dataFromEdit)="editPopUpStatus($event)" [showEditPopup]="showEditPopup" *ngIf="showEditPopup.show" 
    [isAddExpense]="isAddExpense" [updateCharges]="updateCharges"></app-edit-trip-new-pop-up>
<app-new-trip-popup-add  [showAddPopup]="showAddPopup" *ngIf="showAddPopup.show" (outPutData)="addPopUpStatus($event)" [isAddExpense]="isAddExpense"></app-new-trip-popup-add>
