
.max-width-150{
    max-width: 150px;
}
.gst {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hiddenContent{
  display: none !important;
}

.disableInput{
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.balance-block{
  border-left: 1px solid #eaeaea;
}