<div  [formGroup]="customfiled">
  <!-- text field -->
  <div  *ngIf="customfiled.get('field_type').value =='string'">
    <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
      <label for="" class="input--required"
        *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <label for="" class="input"
        *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <input type="text" class="no-style input--bd" placeholder="" value="" formControlName="value">
      <app-error [controlName]="customfiled.controls.value"></app-error>
    </div>
  </div>

  <!-- date field -->
  <div  *ngIf="customfiled.controls.field_type.value =='date'">
    <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
      <label for="" class="input--required"
        *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <label for="" class="input"
        *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <mat-form-field>
        <input matInput [matDatepicker]="customDateField" (focus)="customDateField.open()"
          formControlName="value" placeholder="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="customDateField"></mat-datepicker-toggle>
        <mat-datepicker #customDateField></mat-datepicker>
      </mat-form-field>
      <app-error [controlName]="customfiled.controls.value"></app-error>
    </div>
  </div>
  <!-- drop down -->
 <div  *ngIf="customfiled.controls.field_type.value =='select_option'">
    <div class="input-wrap error" [ngClass]="addErrorClass(customfiled.controls.value)">
      <label for="" class="input--required"
        *ngIf="customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <label for="" class="input"
        *ngIf="!customfiled.controls.mandatory.value">{{customfiled.controls.field_label.value}}</label>
      <material-dropdown [searchable]="false" [addable]="false" class="dropDownW"
        [selectedOption]="customfiled?.controls?.selected_option?.value"
        [addErrorClass]="customfiled.controls.value">
        <select #customSelect formControlName="value" class="no-style select--modify ">
          <option *ngFor=" let option of customfiled.controls.option_list.value" value="{{ option }}">
            {{ option }}
          </option>
        </select>
      </material-dropdown>
      <app-error [controlName]="customfiled.controls.value"></app-error>
    </div>
  </div> 
  <div  *ngIf="customfiled.controls.field_type.value =='checkbox'"  class="align-items-center mx-0 d-inline-flex custom-checkbox-click-label">
    <div class="input-wrap error m-0 w-100 mb-3" [ngClass]="addErrorClass(customfiled.controls.value)">

      <p class="check-box"><label for="consinId" class="input--required w-auto d-inline"
          *ngIf="customfiled.controls.mandatory.value"> <input type="checkbox" class=" w-auto d-inline me-2"
            name="consinId" id="consinId" placeholder="" value="" formControlName="value"
            (change)="oncheckBoxChange(customfiled)"> <span
            class="check-mark d-inline-block align-middle"></span> <span class="label-text">
            {{customfiled.controls.field_label.value}}</span></label></p>
      <p class="check-box"><label for="" class="input  w-auto d-inline "
          *ngIf="!customfiled.controls.mandatory.value"> <input type="checkbox" class=" w-auto d-inline me-2"
            name="consinId" id="consinId" placeholder="" value="" formControlName="value"
            (change)="oncheckBoxChange(customfiled)"><span
            class="check-mark d-inline-block align-middle"></span> <span class="label-text">
            {{customfiled.controls.field_label.value}} </span></label></p>

      <app-error [controlName]="customfiled.controls.value"></app-error>
    </div>
  </div>
 </div>
 