@import"../../../../../../../assets/styles/helpers/variable";





.quotation-comment-section {
    height: calc(100vh - 60px);
    width: 500px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 60px;
    animation: sliding-anime 300ms ease;
    border-radius: 10px 0 0 0;

}


.send-comment-button {
    width: 60px;
    height: 45px;
    position: relative;
    background-color: #0583D7;
    color: white;
    border-radius: 8px;
    margin-left: 10px;

    .material-icons {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: left 200ms ease;
    }

    &:active .material-icons {
        left: 70%;

    }

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}


.close-btn {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    top: 0px;
    left: -50px;
    top: 2px;
    border-radius: 5px;
    padding: 5px;
    color: $text-color;

    .bi {
        font-size: 28px;
    }
}

@keyframes sliding-anime {
    0% {
        right: -500px;

    }

    100% {
        right: 0px;

    }

}

.left-msg {

    font-weight: 500;


    .msg-content {
        display: inline-block;
        position: relative;
        padding: 18px 0px 15px 0px;
        max-width: 70%;

        .msg-text {
            min-width: 150px;
            background-color: $primary-brand-color;
            border-radius: 0px 11px 11px 11px;
            padding: 10px 15px;
            display: inline-block;
            color: #fff;
            line-height: normal;
            box-shadow: 0px 1px 3px #00000029;
        }

        .name {
            position: absolute;
            left: 0px;
            top: 0px;
            font-size: 13px;
            color: #7E7E7E;
            font-weight: 600;

        }

        .time {
            position: absolute;
            right: 0px;
            bottom: 0px;
            font-size: 10px;
            color: #7E7E7E;
            font-weight: 500;

        }
    }


}

.right-msg {

    font-weight: 500;

    display: flex;
    justify-content: end;

    .msg-content {

        display: inline-block;
        position: relative;
        padding: 18px 0px 15px 0px;
        max-width: 70%;


        .msg-text {
            min-width: 150px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
            border-radius: 11px 0px 11px 11px;
            padding: 10px 15px;
            display: inline-block;
            color: #4E515C;
            line-height: normal;
        }

        .name {
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 13px;
            color: #7E7E7E;
            font-weight: 600;

        }

        .time {
            position: absolute;
            left: 3px;
            bottom: 0px;
            font-size: 10px;
            color: #7E7E7E;
            font-weight: 500;

        }
    }


}

::ng-deep .quotation-comment-section {
    .NgxEditor {
        min-height: auto;
        border-radius: 8px;
        max-width: 100%;
        border-width: 2px;


    }

    .NgxEditor__Content {
        padding: 0;
        margin: 14px 7px 4px 20px;
        max-width: 100%;
        max-height: 155px;
        overflow-y: auto;
    }
}