<div class="p-4 veh-category-wrap shadow-inset-bottom">
  <div class="veh-category"  (click)="selectedTemplate('crane')"[class.active]="selectedCategory=='crane'" *ngIf="this.vehicleCategiriesObj.categories.includes(1)">
    <img src="../../../../../../../../assets/img/icons/crane-truck.svg" alt="truck image">
    <p class="text-center mt-2">Crane</p>
  </div>
  <div class="veh-category" *ngIf="this.vehicleCategiriesObj.categories.includes(2)"  (click)="selectedTemplate('awp')" [class.active]="selectedCategory=='awp'">
    <img src="../../../../../../../../assets/img/icons/awp.svg" alt="truck image">
    <p class="text-center mt-2">AWP</p>
  </div>
  <ng-container *ngIf="this.vehicleCategiriesObj.categories.includes(3) || this.vehicleCategiriesObj.categories.includes(0)">
    <div class="veh-category" (click)="selectedTemplate('cargo')" [class.active]="selectedCategory=='cargo'">
      <img src="../../../../../../../assets/img/icons/loose-cargo-black.png" class="cargo" alt="truck image">
      <p class="text-center mt-2">Loose Cargo</p>
    </div>
    <div class="veh-category"   (click)="selectedTemplate('container')" [class.active]="selectedCategory=='container'">
      <img  src="../../../../../../../assets/img/icons/container-black.png" class="container" alt="truck image">
      <p class="text-center mt-2">Container</p>
    </div>
  </ng-container>
 
   
</div>

<div [formGroup]="InvoiceForm">
  <div class="row mx-0 px-3 pt-4">
    <div class="col-lg-3  col-sm-3">
      <div class="input-wrap ">
        <label for="" class="">Signature</label>
          <material-dropdown [addBlank]="true" [selectedOption]="singantureLabel">
            <select #customSelect class="no-style select--modify" formControlName="signature" (change)="postInvoiceSettings('signature')">
              <option *ngFor="let option of digitalSignature " value="{{option.id}}">{{option.name}}
              </option>
            </select>
          </material-dropdown>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6"> 
      <div class="input-wrap">
        <label for="" class="input" *ngIf="['cargo','container'].includes(selectedCategory)" >Default Freight Term <app-simple-tooltip [infoText]="selectedCategory=='container'?'Please enter the Default Freight Term to be displayed on selecting the job/container':'Please enter the Default Freight Term to be displayed on selecting the job/loose cargo'"></app-simple-tooltip></label>
        <label for="" class="input" *ngIf="['crane','awp'].includes(selectedCategory)">Default Rental Charge Term <app-simple-tooltip [infoText]="'Please enter the Default Rental Charge Term to be displayed on selecting the Time sheet'"></app-simple-tooltip></label>
        <input type="text" class="no-style input--bd"  placeholder="" (change)="postInvoiceSettings('default_freight_term')"  formControlName="default_freight_term">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6"  *ngIf="['crane','awp'].includes(selectedCategory)">
      <div class="input-wrap">
        <label for="" class="input">Default Additional Hours Term <app-simple-tooltip [infoText]="'Please enter the Default Additional Hours Term to be displayed on selecting the Time sheet'"></app-simple-tooltip></label>
        <input type="text" class="no-style input--bd"  placeholder="" (change)="postInvoiceSettings('default_additional_hour_term')"  formControlName="default_additional_hour_term">
      </div>
    </div>

  </div>
  <div class="row mx-0 p-3 pt-0" >
    <div class="col-md-6">
      <div class="toggle-wrapper d-flex align-items-center h-100">
          <span class="toggle-label">Show Custom Fields In Invoice</span>
          <label for="toggle" class="toggle-switch">
              <input type="checkbox" id="toggle"  (change)="allDisplay()" formControlName="display">
              <span class="toggle-box" >
                  <span class="toggle-circle"></span>
              </span>
          </label>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn--primary py-2 w-auto" style="float: right;" (click)="addNewField()"> + Add Custom Field</button>
    </div>
  </div>
  <div class="custom-table-container no-scroll-table" id="custom-field-list">
     
      
   <table  formArrayName="invoice_list" [ngClass]="{'h-100':sortedData.length==0}">
              <thead>
                  <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>Mandatory</th>
                    <th>Show in Invoices</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody *ngIf="sortedData.length==0">
                <tr class="border-0">
                  <td class="bg-white" colspan="30">
                    <div class="no-list-data-wrap">
                      <figure>
                        <img src="assets/img/no-content.png" alt="">
                      </figure>
                      <h5 class="mt-3 primary-brand-text">No data found!</h5>
                    </div>
                  </td>
                </tr>
      
              </tbody>
              <tbody >
                  <ng-container *ngIf="sortedData.length!=0">
                   <tr *ngFor="let custom of InvoiceForm.controls.invoice_list['controls'] ; let i = index" [formGroupName]="i">
                       <td>{{custom.controls.field_label.value}}</td>
                       <td>{{custom.controls.field_type.value.name}}</td>
                       <td>{{custom.controls.mandatory.value?'True':'False'}}</td> 
                       <td>
                        <div class="d-flex align-items-center">
                        <label for="invoice-{{custom.controls.id.value}}" class="toggle-switch" 
                              >
                          <input type="checkbox" id="invoice-{{custom.controls.id.value}}"  formControlName="display" (change)="showInvoice(custom)" >
                          <span class="toggle-box" >
                              <span class="toggle-circle"></span>
                          </span>
                      </label>
                    </div>
                       </td>
                      <td class="table-action position-relative">
                          <i class="material-icons more-icon" (click)="optionsList($event, 'list_'+custom.controls.id.value)" >more_vert</i>
                          <ul class="more-actions__menu table-popup" [ngClass]="{show: showOptions === 'list_'+custom.controls.id.value}">
                              <li class="more-actions__item" (click)="edit(custom.controls.id.value)"><i
                                class="material-icons">edit</i>Edit</li>
                              <li class="more-actions__item"(click)="popupFunction(custom.controls.id.value,i,custom.controls.field_label.value)"><i
                                class="material-icons">delete</i>Delete</li>
                          </ul>
                      </td>
                  </tr>
                </ng-container>
              </tbody>
          </table>
  </div>
</div>
  <app-invoice-table-config  [category]="selectedCategory" [defaultRentalChargeTerm]="InvoiceForm.get('default_freight_term').value"></app-invoice-table-config>
  <app-add-custom-fields [category]="categoryOptions[selectedCategory]" [url]="url" [editData]="editData" [isFieldTypeChange]="isFieldTypeChange" [showNoteModal]="isOpenDialog" (modalClosed)="modelClose($event)"></app-add-custom-fields>
  <alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>
