.btn-alert {
  font-size: 13px !important;
  padding: 5px 11px 6px 10px !important;
}

.flex {
  display: flex;
  padding: 12px 2px;
  justify-content: space-between;
}

.mg-top-bank-30 {
  margin-top: 10px !important;
}

.input-wrap {
  position: relative !important;
}

.mat-form-field {
  width: 100% !important;
}


