@import "../../../../../../assets/styles/helpers/variable";

.sub-header {

    height: 50px;
    background-color: $layout-bg;

}
.seperator{
  box-shadow:inset 0 4px 9px -7px rgba(189, 173, 173, 0.5607843137) ,inset 0 -6px 10px -10px rgba(189, 173, 173, 0.5607843137);
  height: 12px;
}
.bottom-btn-wrap {
  background-color: #eaeaea;
  padding-left: 30px;
  padding-right: 30px;
}
table th{
  background-color: #F6F6F6;
}
.job-details-wrap p{
  font-size: 12px;
}


.document-note{
  background-color: #F6F6F6;
}
.fake-tab{
  padding-right: 20px;
  padding-bottom: 12px;
  display: inline-block;
  border-bottom: 2px solid $primary-brand-color;
  
}
.priority-icon{
  margin-left: 10px;
  margin-right: 10px;
  max-width: 15px;

}



.back-btn {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid transparent;
    margin-right: 10px;

    &:hover {
        border-color: gainsboro;
    }

    .bi-chevron-left {
        -webkit-text-stroke: 1px;
        color: black;
        font-size: 15px;
    }

}



.driver-name {
    border: 2px solid $sky-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sky-blue;
    height: 30px;

    

}

.driver-veh-no {
    border: 2px solid $green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
    height: 30px;

    .material-icons {
        margin-right: 7px ;
        font-size: 18px;
    }

}
.edit-btn {
  border: 1px solid #ACB5BD;
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #676A6E;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  transition: all 100ms ease-in-out;

  &:hover {

      transform: scale(1.04);

  }

  .bi-pencil-fill {
      margin-right: 10px;

  }

  &:disabled {
      cursor: not-allowed;
      color: $text-color;
      border-color: $text-color;
  }
}

.uncompleted-service{
  border: 1px solid $yellow-color;
  padding: 10px 15px ;
  color: $yellow-color;
  border-radius: 6px;
  font-weight: 600;
  
}
.completed-service{
  border: 1px solid $green;
  padding: 10px 15px ;
  color: $green;
  border-radius: 6px;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;


}
.tyre-change-btn{
  
  &::before{
    content:"";
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background-image: url("../../../../../../assets/img/icons/tyre-purple.png");
    vertical-align: middle;
    background-size: cover;

  }
  &:hover::before{
    background-image: url("../../../../../../assets/img/icons/tyre-white.png");

  }
  

}

.service-btn{
  &::before{
    content:"";
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background-image: url("../../../../../../assets/img/icons/car-service-purple.png");
    vertical-align: middle;
    background-size: cover;

  }
  &:hover::before{
    background-image: url("../../../../../../assets/img/icons/car-service-white.png");

  }

}
.upload-btn{
  &::before{
    content:"";
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background-image: url("../../../../../../assets/img/icons/download-purple.png");
    vertical-align: middle;
    background-size: cover;

  }
  &:hover::before{
    background-image: url("../../../../../../assets/img/icons/download-white.png");

  }

}
.tyre-change-btn,.service-btn,.upload-btn{
  &:disabled{
    filter: grayscale(2);
  }
}
.green-btn{
  background: $green;
  border-color: $green;
  &:hover{

    color: $green !important;
  border-color: $green;
  background: transparent !important;
  }

}
.blue-btn{
  background:$sky-blue;
  border-color:$sky-blue;
  &:hover{

    color: $sky-blue!important;
  border-color:$sky-blue;
  background: transparent !important;
  }

}

.job-top-border-row{
  >div{
    border-right: 3px solid #ccc;
    &:last-child{
      border: none;
    }
  }
}
.main-all{
  min-height: 350px;
}
.border-2{
  border-width: 2px;
}
button{
    margin-right: 10px;
}
.mat-expansion-panel-header:hover{
  cursor:default;
}
.mat-accordion:hover{
  cursor:default;
}
.btn-danger{
  background: #F52A57;
  border-color: #F52A57;
  &:hover{

    color: #F52A57 !important;
  border-color: #F52A57;
  background: transparent !important;
  }
}
.parent-wrap{
  min-height: calc(100vh - 160px);
}

.mat-expansion-indicator:hover{
  cursor:pointer;
}
.remove-lastchild-border{
.data-border{
  border-bottom: 1px solid #ccc;
  &:last-child{

    border-bottom: none;
  }
}
}
::ng-deep{

  .mat-expansion-panel-header.mat-expansion-toggle-indicator-before .mat-expansion-indicator {

    position: absolute;
    left: 12px;
    top: 13px;
    margin: auto  !important;
}

  .mat-expansion-panel-header.mat-expansion-toggle-indicator-before{
    flex-direction: row !important;
    justify-content: unset !important;

  }
  .mat-expansion-panel-header-title{

    padding-left: 10px !important;
  }
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    flex-grow: unset  !important;
    justify-content: space-between !important;
    margin: auto !important;
    flex-basis: unset !important;
    display: inline-flex !important;
    margin: 0 !important;
  }


  .mat-content,.mat-expansion-panel{
  overflow: unset !important;
}
}
.more-action{

  position: relative;
}

@media (max-width: 550px){
  .job-top-border-row{
    >div{
      border: none;
    }
  }
  .form-layout--pd{
    padding: 30px 8px;
  }
}
.details p{
  padding: 8px 10px;
  color: #676a6e;
  line-height: normal;
  b{
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
  }
}