@import "../../../../../../../assets/styles/helpers/variable";

.box-shadow-left {
    box-shadow: -1px -1px 3px 0px gainsboro;
}
.fake-tab {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    background-color: $layout-bg;

    .tab {
        height: 50px;
        min-width: 130px;
        color: $text-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        padding: 0 40px;



        
    }

    .active-tab {

        color: $primary-brand-color;
        font-weight: 600;
        position: relative;

        &::after {
            width: 100%;
            height: 3px;
            background-color: $primary-brand-color;
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            animation: active-tab-animation 500ms ease-in-out;

        }
    }
}

    table{
      width: 100%;
      color: $text-color;
      th{
          font-size: 12px;
          white-space: nowrap;
      }
      th:first-child,td:first-child{
        
        padding-left: 30px;
    }
    th:last-child,td:last-child{
        
        padding-right: 30px;
    }
  
       td {
        
          padding: 20px 7px;
  }
  th{
    padding: 15px 7px;
  }
  thead tr{
   border-top: 1px solid #c7cacc;
   border-bottom: 1px solid #c7cacc;
  }
  tr{
    border-bottom: 1px solid #c0c6cb;
    &.dashed-row{
        border-bottom: 1px dashed #c7cacc;
    }
    
  }
  
  
  
    }
    .table-wrapper{
        min-height: 240px;
    }
    @keyframes active-tab-animation {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        }
    
    }




.cdc-tab-wrapper {
    min-height: 350px;
}


:host::ng-deep .quotation-customFields-details{
   
  
    .cdc-tab-wrapper {


     
      .mat-tab-label-active {
        background-color: $layout-bg;
        border-radius: 8px 8px 0 0;
        opacity: 1 !important;
      }
      .mat-tab-labels {
        background-color: #eaeaea;
        opacity: 1 !important;
      }
  
      .mat-tab-group.mat-primary .mat-ink-bar,
      .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $layout-bg; // add styles properties here
      }
  
      .mat-tab-label {
        flex-basis: 0;
        flex-grow: 0 !important;
        margin-top: 3px;
        opacity: 1 !important;
        padding: 25px 60px !important;
        position: relative;
        color: #676A6E;
        min-width: 200px
  
  
      }
  
  
  
  
  
      .mat-ink-bar {
        display: none;
      }
  
      .mat-tab-header {
        border-bottom: 0px !important;
      }
  
      
    }
  
  
  }

.addable-row-table-display{
    max-height: unset;
}
.lbh-box{
    min-width: 70px;
    border: 1px solid #ACB5BD;
    border-radius: 6px;
    padding: 10px 10px;
}
.lbh-wrap .material-icons {
    color: #bbb;
    margin: 0 4px;
    font-size: 18px;
}