.table-wrapper th{
  
}.bank-list-table{
  table{
    .t-head{
      th{
        white-space: normal !important;
       
      }
    }
    thead, tbody{
      th, td{
        table{
          td{
           
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: normal !important;
           
          }
        }
      }
    }
  }
}

.table-wrapper {
  td,th{
    min-width: 130px !important;
  }
}

.overflow-initial {
  overflow: initial !important;
}

@media only screen and (min-width: 900px) {
  .table-wrapper {
    overflow-x: hidden;
    min-height: 150px;
  }
}

