 
 <app-list-widget listTitle="Bank Activity List" class="calc-height" (listWidgetData)="listWidgetData($event)" [buttonData]="buttonData" [isAddButton]="true"   [isSettings]="false"
 [isDropDown]="false"  [isFilter]="true"  [isDateDropDown]="true" [isExport]="false"  [filterUrl]="filterUrl" >
</app-list-widget>
<div class="table-section ">
  <div>
  <div id="tableList">
    
    <div class=" table-wrapper table-wrapper--type4 table--bd table-wrapper-init" id="bank-activity-table"   (scroll)="onScroll()">
      <table [ngClass]="{'h-100':bankActivityList.length==0}" class="table-container bank-list-table">

        <thead>
          <tr>
            <th width="12.5%">Date</th>
            <th  class="p-0" width="90%">
              <table class="table-container">
                <thead class="t-head">
                  <tr>
                    <th class="ps-2" width="12.5%">Bank Activity Number</th>
                    <th width="12.5%">Transaction Date</th>
                    <th width="12.5%">Reference Number</th>
                    <th width="12.5%">Deposited In</th>
                    <th width="12.5%">Withdrawl From</th>
                    <th width="12.5%">Amount ({{ currency_type?.symbol}}) </th>
                    <th width="12.5%" class="text-center">Actions</th>
                  </tr>
                </thead>
              </table>
            </th>
          </tr>
        </thead>
         <tbody *ngIf="bankActivityList.length == 0">
           <tr class="border-0">
             <td class="bg-white" colspan="30">
               <div class="no-list-data-wrap">
                 <figure>
                   <img src="assets/img/no-content.png" alt="">
                 </figure>
                 <h5 class="mt-3 primary-brand-text">No data found!</h5>
               </div>
             </td>
           </tr>
     
         </tbody>
       <tbody class="table-body-main">
        <tr
        *ngFor="let bank of bankActivityList">
        <td class="p-0" colspan="3">
          <table class="table-container">
            <tbody>
              <tr>
                <td class="align-top overflow-hidden" style="text-overflow: ellipsis;" width="12.5%" [attr.rowspan]="bank.activities.length">{{ bank.date }}</td>
                <td  class="p-0" width="87.5%">
                  <table class="table-container">
                    <tbody>
                      <tr *ngFor="let act of bank.activities ; let i = index;">
                        <td width="12.5%" class="ps-2">{{ act?.bank_activity_number ? act?.bank_activity_number : '-' }}</td>
                        <td width="12.5%">{{ act?.transaction_date ? changeDate(act?.transaction_date) :'-' }}</td>
                        <td width="12.5%">{{ act?.reference_number ? act?.reference_number : '-' }}</td>
                        <td width="12.5%">{{ act?.deposited_in?.name ? act?.deposited_in?.name : '-' }}</td>
                        <td width="12.5%">{{ act?.withdrawl_from?.name ? act?.withdrawl_from?.name : '-' }}</td>
                        <td width="12.5%" class="rupee-symbol rupee-symbol--sm">{{ act?.amount }}</td>
                        <td width="12.5%" class="table-action overflow-initial" *ngxPermissionsOnly="['bank_activity__edit','bank_activity__delete']">
                          <div class="d-flex align-items-center  justify-content-center">
                          <div class="position-relative">
                          <i *ngIf="i==0" class="material-icons more-icon"
                            (click)="optionsList($event, 'list_'+bank?.id)">more_vert</i>
                          <ul class="more-actions__menu table-popup"
                            [ngClass]="{show: showOptions === 'list_'+bank.id && i == 0}">
                            <li class="more-actions__item"  *ngxPermissionsOnly="['bank_activity__edit']" (click)="editBankActivity(bank.id)"><i
                                class="material-icons">edit</i>Edit
                            </li>
                            <li *ngxPermissionsOnly="['bank_activity__delete']"  class="more-actions__item"  (click)="popupFunction(bank.id, i)"><i
                              class="material-icons">delete</i>Delete</li>
                          </ul>
                        </div>
                      </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
       </tbody>
      </table>
  </div>

  </div>
</div>
</div>


<alert-popup [inputData]="popupInputData" (outputData)="confirmButton($event)"></alert-popup>

