@import "../../../../assets/styles/helpers/variable";
@import "../../../../assets/styles/helpers/mixins";

.error-reg {
    color: #eb1e4a;
    font-size: 12px;
}

.alert-msg {
    margin-bottom: 20px;
}

.input-wrap label {
    color: $text-color;
    font-weight: 600;
}



.fake-tab-bar {
    background-color: #eaeaea;
    height: 51px;
    padding-top: 2.5px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #676A6E;
        background-color: #fefefe;
        border-radius: 6px 6px 0 0;
        height: 100%;
        max-width: 180px;
    }
}

.add-del-toggle {
    color: #676A6E;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

:host::ng-deep {
    .company-details-tab {
     
  
      .mat-tab-label-active {
        background-color: $layout-bg;
        border-radius: 8px 8px 0 0;
        opacity: 1 !important;
        font-weight: 500 !important;
  
        &::after {
          opacity: 0;
        }
      }
       .mat-tab-label:after {
        opacity: 0 !important;
      }

  
      
  
      
  
      .mat-tab-labels {
        background-color: #eaeaea;
        opacity: 1 !important;
      }
  
      .mat-tab-group.mat-primary .mat-ink-bar,
      .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: $layout-bg;
      }
  
      .mat-tab-label {
        flex-basis: 0;
        flex-grow: 0 !important;
        margin-top: 3px;
        opacity: 1 !important;
        position: relative;
        color: #676A6E;
        font-weight: 400;
        font-size: 13px;
  
  
      }
  
      .mat-tab-label::after {
        content: "";
  
        background-color: #BBBBBB;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%, );
  
        height: 60%;
        width: 1.5px;
        transition: all 400ms ease;
      }
  
      
  
  
  
      .mat-ink-bar {
        display: none;
      }
  
      .mat-tab-header {
        border-bottom: 0px !important;
      }
    }
  }
  