<form [formGroup]="assetsDetailsForm">
    <div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-3 p-0">
            <aside class="upload-menu-wrapper  h-450px">
                
                   
                    <button class="gb-document-add  primary-brand-text border-bottom" matRipple type="button"
                    (click)="addVehidleDetail()">
                    <i class="material-icons material-icons--al-top me-2 primary-brand-text">add</i>
                    Add Asset Details</button>
                
                <nav class="upload-menu border-bottom-0">
                    <ul>
                        <li class="upload-menu__item d-flex justify-content-between align-items-center"
                            *ngFor="let document of documentList; let i = index;"
                            [ngClass]="{'active': i==activeDoc,  'error':assetsDetailsForm.controls.subdetails.controls[i].invalid }"
                            (click)="changeDocument(i)">
                            <a class="flex-grow-1" [id]="'doc-id'+document.title">{{ document.title }}</a>
                            <div>
                                <button class="gb-btn-hover" *ngIf="!document?.is_system_created" (click)="editVehicleDetail(document.name,i)">
                                    <span class="no-style px-2">
                                        <i class="material-icons def-color ">edit</i>
                                    </span>
                                </button>
                                <button class="gb-btn-hover" *ngIf="!document?.is_system_created" (click)="deleteDocuments(document.name,i)">
                                    <span class="no-style px-2" >
                                        <i class="material-icons text-danger ">delete</i>
                                    </span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>

        <div class="col-lg-9 h-450px" formArrayName="subdetails">
            <div  *ngFor="let document of documentList; let i = index;"  [formGroupName]="i"
                [ngClass]="{'active': i==activeDoc}">
                <div class="form-layout__card " [ngClass]="{'active': i==activeDoc}">
                    <div class="form-body">

                        <div class="px-3 py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">

                                        <ng-container *ngIf="document?.is_system_created" >

                                            <ng-container *ngIf="document.name=='Tail Weight (Tons)'" >
                                                <div class=" col-lg-4 col-md-6">
                                                    <div class="input-wrap error"
                                                        [ngClass]="addErrorClass(assetsDetailsForm.controls.subdetails.controls[i].controls.number)">
                                                        <label for="" class="input">{{document.name}}</label>
                                                        <input  type="text" positiveTwoDigitDecimalNumber class="no-style input--bd" placeholder="1122"
                                                            value="" formControlName="number">
                                                        <app-error
                                                            [controlName]="assetsDetailsForm.controls.subdetails.controls[i].controls.number">
                                                        </app-error>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="document.name=='Loading Capacity (Tons)'" >
                                                <div class=" col-lg-4 col-md-6">
                                                    <div class="input-wrap error"
                                                        [ngClass]="addErrorClass(assetsDetailsForm.controls.subdetails.controls[i].controls.number)">
                                                        <label for="" class="input">{{document.name}}</label>
                                                        <input  type="text" positiveTwoDigitDecimalNumber class="no-style input--bd" placeholder="1212"
                                                            value="" formControlName="number">
                                                        <app-error
                                                            [controlName]="assetsDetailsForm.controls.subdetails.controls[i].controls.number">
                                                        </app-error>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="document.name=='Tyre Size (Size in mm)'" >
                                                <div class=" col-lg-4 col-md-6">
                                                    <div class="input-wrap error"
                                                        [ngClass]="addErrorClass(assetsDetailsForm.controls.subdetails.controls[i].controls.number)">
                                                        <label for="" class="input">{{document.name}}</label>
                                                        <input  type="text" positiveDigitNumber class="no-style input--bd" placeholder="400"
                                                            value="" formControlName="number">
                                                        <app-error
                                                            [controlName]="assetsDetailsForm.controls.subdetails.controls[i].controls.number">
                                                        </app-error>
                                                    </div>
                                                </div>
                                            </ng-container>

                                        </ng-container>

                                        <ng-container *ngIf="!document?.is_system_created" >
                                            
                                        <div class=" col-lg-4 col-md-6">
                                            <div class="input-wrap error"
                                                [ngClass]="addErrorClass(assetsDetailsForm.controls.subdetails.controls[i].controls.number)">
                                                <label for="" class="input">{{document.name}}</label>
                                                <input  type="text" class="no-style input--bd" placeholder="AA00-1122"
                                                    value="" formControlName="number">
                                                <app-error
                                                    [controlName]="assetsDetailsForm.controls.subdetails.controls[i].controls.number">
                                                </app-error>
                                            </div>
                                        </div>

                                        </ng-container>






                                        <div class=" col-lg-4 col-md-6">
                                            <div class="input-wrap error"
                                                [ngClass]="addErrorClass(assetsDetailsForm.controls.subdetails.controls[i].controls.narration)">
                                                <label for="" class="input">Narration</label>
                                                <input  type="text" class="no-style input--bd" placeholder="AA00-1122"
                                                    value="" formControlName="narration">
                                                <app-error
                                                    [controlName]="assetsDetailsForm.controls.subdetails.controls[i].controls.narration">
                                                </app-error>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"  *ngIf="document.name=='Vehicle Weight (Tons)'">
                                        <div class="alert alert-primary" role="alert">
                                            This field will calculate the asset's total weight.
                                        </div>
                                    </div>
                                    <div class="row"  *ngIf="document.name=='Loading Capacity (Tons)'">
                                        <div class="alert alert-primary" role="alert">
                                            This field will calculate the asset's total Load Capacity.

                                        </div>
                                    </div>
                                    <div class="row"  *ngIf="document.name=='EMI Status'">
                                        <div class="alert alert-primary" role="alert">
                                            This field will validate whether the vehicle can go outside of {{getCountry()}}.
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 pt-4 border-top">
                                            <file-uploader-v2 (onFileUploaded)="fileUploader($event,i)" [uploaderId]="'vech-detail-document-'+i"
                                            [isShowOnlyUpload]="false"></file-uploader-v2>
                                        <div  *ngFor="let document of assetsDetailsForm.controls.subdetails.controls[i].controls.files.value">
                                            <app-file-delete-view [showInlineEdit]="false" [fileData]="document" 
                                            (fileDeleted)="fileDeleted($event,i)"></app-file-delete-view>
                                        </div>
                                      
                                    </div>
                                </div>
                             
                                
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
      
    </div>
    </div>
</form>
