<div class="modal fade " [ngClass]="{'show':showAddCustomField}" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content def-color" id="make-center">
            
            <div class="custom-popup-header ">
                <h1 class="title">Add New Column</h1>
              </div>
              <div class="error-msg-list fw-bold" *ngIf="apiError !==''">
                {{apiError}}
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="showMaxError">
                You have already added {{clientColumn}} columns to the PDF, to add More columns, please save it as a private.
              </div>
            <form [formGroup]="addCustomFiled">
                
                <div class="modal-body pd-10">
                    <div class="row">
                        <div class="custom-box-input-wrap input-wrap  error clearfix col-md-4" [ngClass]="addErrorClass(addCustomFiled.get('field_label'))">
                            <label class="input--required" for="">COLUMN NAME </label>
                            <input type="text" class="no-style box-input" formControlName="field_label">
                            <app-error [controlName]="addCustomFiled.get('field_label')"></app-error>
                        </div>
                        <div class="custom-box-input-wrap input-wrap col-md-4">
                            <label for="" class="input--required">COLUMN TYPE</label>
                            <material-dropdown [searchable]="false" [addable]="false"
                                [addErrorClass]="addErrorClass(addCustomFiled.get('field_type'))" class="dropDownWidth">
                                <select #customSelect formControlName="field_type" class="no-style select--modify">
                                    <option *ngFor="let filed of fieldType" value="{{ filed.id }}">
                                        {{ filed.name }}</option>
                                </select>
                            </material-dropdown>
                            <app-error [controlName]="addCustomFiled.get('field_type')"></app-error>
                        </div>
                        <div class="custom-box-input-wrap error col-md-4"
                            [ngClass]="addErrorClass(addCustomFiled.get('description'))">
                            <label for="" class="input">DESCRIPTION</label>
                            <input type="text" class="no-style box-input" formControlName="description">
                            <app-error [controlName]="addCustomFiled.get('description')"></app-error>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-2"
                            [ngClass]="addErrorClass(addCustomFiled.get('is_private'))">
                            <mat-checkbox class="example-margin" formControlName="is_private">Make Private ?</mat-checkbox>
                           
                            <app-error [controlName]="addCustomFiled.get('is_private')"></app-error>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-between px-4 pb-3">
                    <button class="btn btn--sm" (click)="closeModal()" >Cancel</button>
                    <button class="btn btn--primary btn--sm" (click)="submitNote()" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="showAddCustomField" class="modal-backdrop fade show"></div>