
.show {
    display: block;
}

.add:before {
    background-color: #0283e547;
}
.mw-100px{
  max-width: 100px;
}



.section-footer .more-actions__menu{
    width: 100%;
    top: 45px;
    left: initial;
    right: 0;
}

.dropDownOverflow {
	overflow-x: unset;
}

/* .table-container {
	&.item-table {
		tr {
			&:nth-child(even) {
				display: none;
			}
			&.show {
				display: table-row !important;
			}
		}
	}
} */

.table-wrapper--type2 .add {
	display: inline-block;
}

.gst{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #percentage {
    max-width: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .border-radius-right-none{

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  div #tds-option {
      width :640px !important;
  }
  .width-300{
    max-width:300px;
    width:100%;
  }


  @media only screen and (max-width : 768px){
    div #tds-option {
        width :145px!important;
    }
  }



@media (max-width:480px){

  .table-wrapper tbody .input-wrap.w-20{
    margin-right: 13% !important;
  }
}
