<div class="container-fluid p-3 shadow-inset-top">
    <div class="row mx-0  ">
        <div class="col-lg-7 pe-lg-2 p-0 ">
            <div class="  rounded-3 p-3 layout-bg def-color custom-shadow-md" >
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Details</span>
                    <button *ngxPermissionsOnly="'super_user'"  class="gb-edit-btn"[routerLink]="[preFixUrl+'/organization_setting/profile/edit/',companyData?.id]" ><span  class="material-icons "> create </span></button>
                </div>

                <div class="d-flex align-items-center justify-content-center mt-3 flex-wrap">
                    <div class="employee-profile-img me-3">
                        <img [src]="companyData?.profile_image_url?companyData?.profile_image_url:'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png'" alt="" loading="lazy">
                    </div>
                    <div class="flex-grow-1 ">
                        <div
                            class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                            <span class="fw-semibold">Company Name in English</span>
                            <span>{{companyData?.company_name}}</span>
                        </div>
                        <div  class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                        <span class="fw-semibold">Company Name in Native</span>
                        <span>{{companyData?.company_native_name ?companyData?.company_native_name:'-' }}</span>
                        </div>
                        <div
                            class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                            <span class="fw-semibold">Display Name</span>
                            <span>{{companyData?.company_display_name? companyData?.company_display_name :'-'}}</span>
                        </div>
                    </div>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Mobile Number</span>
                    <span>{{companyData?.primary_mobile_number_code ? companyData?.primary_mobile_number_code :'-' }} {{companyData?.primary_mobile_number ? companyData?.primary_mobile_number :'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Email</span>
                    <span>{{companyData?.email_address?companyData?.email_address:'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Migration Date</span>
                    <span>{{companyData?.books_begin?changeDateFormat(companyData?.books_begin):'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Country</span>
                    <span>{{companyData?.country? companyData?.country?.name:'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Time Zone</span>
                    <span>{{companyData?.timezone ? companyData?.timezone?.name:'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">Currency</span>
                    <span>{{companyData?.currency ? companyData?.currency?.currency:'-'}}</span>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">From Financial Month</span>
                    <span>{{companyData?.from_financial_month ? getMonth(companyData?.from_financial_month):'-'}}</span>
                </div>
                <div class="  d-flex justify-content-between align-items-center px-4 p-y-20px ">
                    <span class="fw-semibold">To Financial Month</span>
                    <span>{{companyData?.to_financial_month? getMonth(companyData?.to_financial_month):'-'}}</span>
                </div>

            </div>
        </div>
        <div class="col-lg-5 ps-lg-2 p-0  mt-4 mt-lg-0 d-flex flex-column">
            <div class="rounded-3 p-3 layout-bg def-color custom-shadow-md flex-grow-1" >
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Address</span>
                    <button *ngxPermissionsOnly="'super_user'"  class="gb-edit-btn"[routerLink]="[preFixUrl+'/organization_setting/profile/edit/',companyData?.id]" ><span  class="material-icons  "> create </span></button>
                </div>
                <div class=" border-bottom d-flex justify-content-between align-items-start px-2 py-3 mt-3">
                    <span class="fw-semibold ws-nowrap me-4">Billing Address</span>
                    <span class="line-height-normal text-end">{{companyData?.address[0]?.address_line_1 ? companyData?.address[0]?.address_line_1 +', ' :'-'}}{{companyData?.address[0]?.street}}<br>{{companyData?.address[0]?.state}}<br>{{companyData?.address[0]?.country}}<br>{{companyData?.address[0]?.pincode}}</span>
                </div>
                <div class=" d-flex justify-content-between align-items-start px-2 py-3 ">
                    <span class="fw-semibold ws-nowrap me-4"> Shipping Address</span>
                    <span class="line-height-normal text-end">{{companyData?.address[1]?.address_line_1 ? companyData?.address[1]?.address_line_1 +', ':'-'}}{{companyData?.address[1]?.street}}<br>{{companyData?.address[1]?.state}}<br>{{companyData?.address[1]?.country}}<br>{{companyData?.address[1]?.pincode}}</span>
                </div>
            </div>
            <div class="rounded-3 p-3 layout-bg def-color custom-shadow-md mt-3 flex-grow-1" *ngIf="companyData?.tax_details?.treatment">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Tax Details</span>
                    <button *ngxPermissionsOnly="'super_user'" class="gb-edit-btn" [routerLink]="[preFixUrl+'/organization_setting/profile/edit/',companyData?.id]"><span  class="material-icons  "> create </span></button>
                </div>
                    <div class=" border-bottom d-flex justify-content-between align-items-center px-2 py-3 mt-3">
                        <span class="fw-semibold">{{terminology.tax_type}} Treatment</span>
                        <span >{{companyData?.tax_details?.treatment ? companyData?.tax_details?.treatment?.label:'-'}}</span>
                    </div>
                    <div *ngIf="companyData?.tax_details?.gstin" class=" border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                        <span class="fw-semibold">{{terminology.tax_no_type}}</span>
                        <span >{{companyData?.tax_details?.gstin ? companyData?.tax_details?.gstin:'-'}}</span>
                    </div>
                
                <div *ngIf="companyData?.tax_details?.registration_date" class=" border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">{{terminology.tax_type}} Registration Date:</span>
                    <span >{{changeDateFormat(companyData?.tax_details?.registration_date)}}</span>
                </div>
                <div *ngIf="companyData?.tax_details?.return_cycle?.label" class=" border-bottom d-flex justify-content-between align-items-center px-2 py-3 ">
                    <span class="fw-semibold">{{terminology.tax_type}} Payment Cycle:</span>
                    <span >{{companyData?.tax_details?.return_cycle?.label}}</span>
                </div>
                <div class="  d-flex justify-content-between align-items-center px-2 py-3 "  *ngIf="!isTDS&&isTax" [ngClass]="{'border-bottom':isTDS}">
                    <span class="fw-semibold">Source of Supply</span>
                    <span >{{companyData?.tax_details?.source_of_supply ? companyData?.tax_details?.source_of_supply:'-'}}</span>
                </div>
                <div class="border-bottom  d-flex justify-content-between align-items-center px-2 py-3 "  *ngIf="isTDS">
                    <span class="fw-semibold">Corporate Tax Registration</span>
                    <span >{{companyData?.tax_details?.crn_treatment ? companyData?.tax_details?.crn_treatment?.label:'-'}}</span>
                </div>
                <div class="  d-flex justify-content-between align-items-center px-2 py-3 "  *ngIf="isTDS && companyData?.tax_details?.crn_treatment?.label!='Unregistered'">
                    <span class="fw-semibold">CRN</span>
                    <span >{{companyData?.tax_details?.crn_no ? companyData?.tax_details?.crn_no:'-'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-0 rounded-3 mt-3  layout-bg def-color custom-shadow-md">
        <app-table-widget [isEditButton]="isSuperUser" (editButtonEvent)="documentEdit($event)" tableTitle="Documents"></app-table-widget>
        <!-- table code goes here -->
        <div class="col-12 p-0 pb-3">
            <div class="custom-table-container ">
                <table>
                    <thead>
                        <tr>
                            <th>DOCUMENT NAME</th>
                            <th>DOCUMENT NO.</th>
                            <th>EXPIRY DATE</th>
                            <th>EXPIRY DAYS TO GO</th>
                            <th>AMOUNT ({{ currency_type?.symbol}})</th>
                            <th>view</th>
                            <th>History</th>
                            <th></th>
                        </tr>
                    </thead>

                    <!-- do-data-component -->
                    <tbody *ngIf="companyData?.certificates.length==0">
                        <tr class="border-0">
                            <td class="bg-white" colspan="30">
                                <div class="no-list-data-wrap">
                                    <figure>
                                        <img src="assets/img/no-content.png" alt="">
                                    </figure>
                                    <h5 class="mt-3 primary-brand-text">No data found!</h5>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tbody>

                        <tr *ngFor="let document of companyData?.certificates">
                            <td>{{document?.name ? document?.name : '-'}}</td>
                            <td>{{document?.number?document?.number:'-'}}</td>
                            <td>{{document?.expiry_date?changeDateFormat(document?.expiry_date):'-'}}</td>
                            <td [ngStyle]="getStyle(document?.expiry_days?.color)">{{document?.expiry_days?.name ? document?.expiry_days?.name :'-'}}</td>
                            <td>{{document?.amount !==0 ?document.amount : '-'}}</td>
                            <td>
                                <button (click)="viewUploadedDocument(document)" [disabled]="document.files.length == 0">
                                        <span class="material-icons fs-4" [ngStyle]="{'color': document.files.length > 0 ? '#15A4F6' : '#CCCCCC'}">
                                            remove_red_eye
                                        </span>
                                </button>
                            </td>
                            <td  class="button-box" >
                                <div class="justify-content-center align-items-center d-flex" [disabled]="!document.has_history">
                                    <button (click)="openDocumentsHistory(document)" [disabled]="!document.has_history" ><span class="material-icons fs-4 def-color " [ngStyle]="{'color': document.has_history  ? '#676a6e' : '#CCCCCC'}" >
                                        history
                                    </span></button>
                                </div>
                            </td>  
                            <td class="button-box" >
                                
                                <div *ngIf="document?.expiry_days?.name" class="justify-content-center align-items-center d-flex">
                                    <button *ngxPermissionsOnly="'super_user'"  (click)="renewDoc(document)" class="renew-btn">Renew</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
<app-view-uploaded-document *ngIf="viewUploadedDocs.show" [viewUploadedDocs]="viewUploadedDocs"></app-view-uploaded-document>
<app-employee-renew-document *ngIf="popUpRenewDocuments?.show" [company_Id]="company_Id" [isCountry]="false" [popUpRenewDocuments]="popUpRenewDocuments" (dataFromRenewalDoc)="dataFromRenewalDoc($event)">
</app-employee-renew-document>