<form [formGroup]="indianTaxcompany" class="form-input">

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6" >
        <div class="input-wrap clearfix error" [ngClass]="addErrorClass(indianTaxcompany.get('treatment'))" >
            <label for="" class="input--required" *ngIf="!isTds">GST Treatment</label>
            <label for="" class="input--required"  *ngIf="isTds">VAT registration</label>
            <material-dropdown [searchable]="true" [addable]="false"  class="dropDownWidth" [selectedOption]="gstTreatment">
                    <select #customSelect formControlName="treatment" class="no-style select--modify" (change)="hideGstOnUnregister()">
                        <option *ngFor="let option of gstTreatments" value="{{ option?.id }}">
                            {{ option?.label }}
                        </option>
                    </select>
            </material-dropdown>
            <app-error [controlName]="indianTaxcompany.get('treatment')"></app-error>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6" [ngClass]="{hide: hideGst}">
        <div class="input-wrap clearfix error"
            [ngClass]="addErrorClass(indianTaxcompany.get('gstin'))">
            <label for="" class="input--required" *ngIf="!isTds">GSTIN</label>
            <label for="" class="input--required" *ngIf="isTds">TRN</label>
            <input appUpperCase formControlName="gstin" type="text" class="no-style input--bd"
                placeholder="123456789" value="">
            <span class="border-anim"></span>
            <app-error [controlName]="indianTaxcompany.get('gstin')"></app-error>
        </div>
    </div>
   <ng-container *ngIf="!isTds">
    <div class="col-xl-3 col-lg-4 col-sm-6" *ngIf="hideGst">
      <div class="input-wrap clearfix" [ngClass]="addErrorClass(indianTaxcompany.get('pan'))">
          <label for="">PAN Number</label>
          <input formControlName="pan" type="text" class="no-style input--bd"
              placeholder="123456789" value="">
          <span class="border-anim"></span>
          <app-error [controlName]="indianTaxcompany.get('pan')"></app-error>
      </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6" [ngClass]="{hide: hideGst}">
      <div class="input-wrap error error--type-1" [ngClass]="addErrorClass(indianTaxcompany.get('registration_date'))">
          <label for="" class="input--required">GST Registration Date</label>
          <mat-form-field>
              <input matInput [matDatepicker]="picker1"  [min]="gstInMinDate" (focus)="picker1.open()"
                  formControlName="registration_date" placeholder="DD/MM/YYYY">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <app-error [controlName]="indianTaxcompany.get('registration_date')"></app-error>
      </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6" [ngClass]="{hide: hideGst}">
      <div class="input-wrap error"
          [ngClass]="addErrorClass(indianTaxcompany.get('return_cycle'))">
          <label for="" class="input--required">GST Payment Cycle</label>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth" [selectedOption]="paymentCycle">
                  <select #customSelect formControlName="return_cycle" class="no-style select--modify">
                      <option *ngFor="let option of returnCycle" value="{{ option?.id }}">
                          {{ option?.label }}
                      </option>
                  </select>
          </material-dropdown>
          <app-error [controlName]="indianTaxcompany.get('return_cycle')"></app-error>
      </div>
  </div>
   </ng-container>

    <div class="col-xl-3 col-lg-4 col-sm-6" *ngIf="isSoSRequired">
      <div class="input-wrap error"
          [ngClass]="addErrorClass(indianTaxcompany.controls.source_of_supply)">
          <label for="" class="input" [ngClass]="{'input--required':isSoSRequired}">Source of Supply</label>
          <material-dropdown [searchable]="true" [addable]="false" class="dropDownWidth" [selectedOption]="sourceOfSupply">
                  <select #customSelect formControlName="source_of_supply" class="no-style select--modify">
                      <option *ngFor="let option of sos" value="{{ option?.name }}">
                          {{ option?.name }}
                      </option>
                  </select>
          </material-dropdown>
          <app-error [controlName]="indianTaxcompany.controls.source_of_supply"></app-error>
      </div>
  </div>
  <ng-container  *ngIf="isTds">
    <div class="col-sm-6" [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge}">
      <div class="input-wrap error" [ngClass]="addErrorClass(indianTaxcompany.get('crn_treatment'))">
        <label for="" class="input--required"  > Corporate Tax Registration</label>
        <material-dropdown [searchable]="true" [selectedOption]="corporateTaxSelectedOption" [addable]="false"
          class="dropDownWidth">
          <select #customSelect formControlName="crn_treatment" class="no-style select--modify"
            (change)="corporateTaxChanged()">
            <option *ngFor="let option of gstTreatments" value="{{ option?.id }}">
                {{ option?.label }}
            </option>
          </select>
        </material-dropdown>
        <app-error [controlName]="indianTaxcompany.get('crn_treatment')"></app-error>
      </div>
    </div>
    <div  class="col-sm-6" *ngIf="!hideCrn" [ngClass]="{'col-lg-4':isLarge,'col-lg-3':!isLarge }">
      <div class="input-wrap error" [ngClass]="addErrorClass(indianTaxcompany.get('crn_no'))">
        <label for="" class="input--required">CRN</label>
        <input appUpperCase  type="text" class="no-style input--bd" placeholder="21ABCDE1234F2Z5" 
          formControlName="crn_no">
        <app-error [controlName]="indianTaxcompany.get('crn_no')"></app-error>
      </div>
    </div>
</ng-container>

</div>
</form>
