
.add-item__error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #e50202;
}
.img-loder {
  position: absolute;
}
.close{
  position: absolute;
  right: 0;
  top: 0;
}
.align-manage-challan {
  text-align: right;
  margin: 10px;
  .align-add-icon {
      vertical-align: text-bottom;
  }
}
.table-wrapper--scroll {
  max-height: 331px;
  overflow: auto;
}


.modal-body {
  padding: 20px !important;
}

::ng-deep .disabled .mat-form-field-suffix{
  display: none;
}

@media (max-width: 639px){
  .search-options{
    position: relative;
    height: 40px;
    width: auto;
    .search-bar{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
